Sutra	ADV	sutra
ce	X	ce
još	ADV	još
hladnije	ADJ	hladan
biti	AUX	biti
.	PUNCT	.
A	CCONJ	A
šta	PRON	šta
da	SCONJ	da
kažem	VERB	kazati
?	PUNCT	?
Panic	PROPN	Panic
Darinka	PROPN	Darinka
.	PUNCT	.
Rodena	PROPN	Roden
sam	AUX	jesam
u	ADP	u
Ðurdevu	PROPN	Ðurdevu
.	PUNCT	.
Živim	ADJ	živ
u	ADP	u
Novom	ADJ	nov
Sadu	PROPN	sadu
od	ADP	od
detinjstva	NOUN	detinjstvo
.	PUNCT	.
Imam	VERB	imati
sina	NOUN	sin
i	CCONJ	i
cerku	NOUN	cerku
.	PUNCT	.
Muža	NOUN	muž
sam	AUX	jesam
sahranila	VERB	sahraniti
pre	ADP	pre
dvadeset	NUM	dvadeset
i	CCONJ	i
tri	NUM	tri
godine	NOUN	godina
.	PUNCT	.
I	CCONJ	i
ovaj	DET	ovaj
e	PART	e
živim	VERB	živiti
sama	ADJ	sam
.	PUNCT	.
Eto	PART	eto
dodem	VERB	dodem
tu	ADV	tu
da	SCONJ	da
se	PART	se
družim	VERB	družiti
i	CCONJ	i
volim	VERB	voliti
i	CCONJ	i
kažem	VERB	kazati
jedva	ADV	jedva
cekam	VERB	cekam
da	SCONJ	da
dodem	VERB	dodem
ko	PRON	ko
da	SCONJ	da
nešto	PRON	nešto
ostavim	VERB	ostaviti
.	PUNCT	.
I	CCONJ	i
se	PART	se
rasteretim	VERB	rasteretiti
ovde	ADV	ovde
.	PUNCT	.
Mi	PRON	ja
se	PART	se
ovde	ADV	ovde
smejemo	VERB	smejati
,	PUNCT	,
pricamo	VERB	pricamo
,	PUNCT	,
ne	PART	ne
vredjamo	VERB	vredjamo
nikoga	PRON	niki
.	PUNCT	.
Svakom	DET	svaki
cinculiramo	VERB	cinculiramo
da	SCONJ	da
bude	AUX	biti
svako	PRON	svako
zadovoljan	ADJ	zadovoljan
.	PUNCT	.
Da	SCONJ	da
..	PUNCT	..
Pa	CCONJ	pa
ako	SCONJ	ako
to	DET	taj
nije	AUX	jesam
lepo	ADV	lepo
a	CCONJ	a
poludiš	VERB	poluditi
sa	ADP	sa
penzioner	NOUN	penzioner
,	PUNCT	,
a	CCONJ	a
živim	VERB	živiti
kako	ADV	kako
mogu	VERB	moći
i	CCONJ	i
kako	ADV	kako
moram	VERB	morati
.	PUNCT	.
Malo	ADV	malo
mi	PRON	ja
deca	NOUN	deca
pomognu	VERB	pomoći
.	PUNCT	.
Imam	VERB	imati
familiju	NOUN	familija
veliku	ADJ	velik
.	PUNCT	.
Imam	VERB	imati
..	PUNCT	..
Ćerku	NOUN	ćerka
i	CCONJ	i
zeta	NOUN	zet
.	PUNCT	.
Ćerka	NOUN	ćerka
ima	VERB	imati
tri	NUM	tri
unuka	NOUN	unuka
dva	NUM	dva
sina	NOUN	sin
tri	NUM	tri
unuka	NOUN	unuka
,	PUNCT	,
a	CCONJ	a
sin	NOUN	sin
ima	VERB	imati
ćerku	NOUN	ćerka
i	CCONJ	i
sina	NOUN	sin
.	PUNCT	.
Ćerka	NOUN	ćerka
je	AUX	jesam
babica	NOUN	babica
,	PUNCT	,
a	CCONJ	a
ima	VERB	imati
blizance	NOUN	blizanac
,	PUNCT	,
a	CCONJ	a
sin	NOUN	sin
je	AUX	jesam
ovaj	DET	ovaj
inžinjer	NOUN	inžinjer
za	ADP	za
puteve	NOUN	put
.	PUNCT	.
On	PRON	on
ima	VERB	imati
jedno	NUM	jedan
dete	NOUN	dete
sad	ADV	sad
je	AUX	jesam
drugo	ADV	drugo
na	ADP	na
putu	NOUN	put
.	PUNCT	.
Šestoro	NUM	šestoro
praunučadi	NOUN	praunučadi
i	CCONJ	i
sedmo	VERB	sedmo
na	ADP	na
putu	NOUN	put
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
pobegla	VERB	pobeći
od	ADP	od
kuce	X	kuce
,	PUNCT	,
ne	PART	ne
mogu	VERB	moći
sa	ADP	sa
tom	DET	taj
komšinicom	NOUN	komšinica
..	PUNCT	..
Da	SCONJ	da
se	PART	se
zabavljamo	VERB	zabavljati
.	PUNCT	.
izvinjavam	VERB	izvinjavati
se	PART	se
je	AUX	jesam
l	CCONJ	l
’	PUNCT	’
ovo	DET	ovaj
Vaša	DET	vaš
šolja	NOUN	šolja
?	PUNCT	?
