Danas	ADV	danas
je	AUX	jesam
sreda	ADV	sreda
.	PUNCT	.
Decembar	NOUN	decembar
decembar	NOUN	decembar
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
ti	PRON	ti
Bosanka	PROPN	Bosanka
.	PUNCT	.
U	ADP	u
Bosni	PROPN	Bosna
.	PUNCT	.
U	ADP	u
Gornjoj	PROPN	Gornjoj
Slatini	PROPN	Slatina
.	PUNCT	.
To	DET	taj
je	AUX	jesam
izmedju	VERB	izmedju
Bosanskog	ADJ	bosanski
šanca	NOUN	šanac
i	CCONJ	i
Gradašca	ADJ	Gradašca
.	PUNCT	.
Došli	ADV	Došli
smo	AUX	jesam
prošle	ADJ	prošli
godine	NOUN	godina
.	PUNCT	.
Dve	NUM	dva
-	PUNCT	-
hiljade	NOUN	hiljada
-	PUNCT	-
sedme	ADJ	sedmi
,	PUNCT	,
dve	NUM	dva
-	PUNCT	-
hiljade	NOUN	hiljada
-	PUNCT	-
sedme	ADJ	sedmi
.	PUNCT	.
Pa	CCONJ	pa
došli	VERB	doći
smo	AUX	jesam
zato	ADV	zato
što	SCONJ	što
smo	AUX	jesam
bili	AUX	biti
u	ADP	u
Nemačkoj	PROPN	Nemačka
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Ja	PRON	ja
i	CCONJ	i
muž	NOUN	muž
.	PUNCT	.
Danas	ADV	danas
mi	PRON	ja
je	AUX	jesam
mužu	NOUN	muž
,	PUNCT	,
danas	ADV	danas
mi	PRON	ja
je	AUX	jesam
mužu	NOUN	muž
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Godišnjica	PROPN	Godišnjica
.	PUNCT	.
Uh	INTJ	uh
.	PUNCT	.
Puno	ADV	puno
,	PUNCT	,
trideset	NUM	trideset
i	CCONJ	i
sedam	NUM	sedam
godina	NOUN	godina
.	PUNCT	.
Ja	PRON	ja
imam	VERB	imati
sedamdeset	NUM	sedamdeset
-	PUNCT	-
dve	NUM	dva
.	PUNCT	.
Sedamdeset	NUM	sedamdeset
-	PUNCT	-
dve	NUM	dva
.	PUNCT	.
Mhm	ADJ	Mhm
.	PUNCT	.
Uh	INTJ	uh
,	PUNCT	,
jesam	AUX	jesam
.	PUNCT	.
Jesam	AUX	jesam
ja	PRON	ja
putovala	VERB	putovati
i	CCONJ	i
putovala	VERB	putovati
i	CCONJ	i
putovala	VERB	putovati
.	PUNCT	.
Putovala	VERB	putovati
,	PUNCT	,
putovala	VERB	putovati
,	PUNCT	,
putovala	VERB	putovati
.	PUNCT	.
A	X	A
to	DET	taj
su	AUX	jesam
mesto	NOUN	mesto
bili	AUX	biti
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
u	ADP	u
Erfortu	PROPN	Erfortu
,	PUNCT	,
a	ADV	a
bila	AUX	biti
sam	AUX	jesam
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
a	ADV	a
onda	ADV	onda
sam	AUX	jesam
prešla	VERB	preći
u	ADP	u
Minhen	PROPN	Minhen
.	PUNCT	.
Aha	INTJ	aha
,	PUNCT	,
u	ADP	u
Minhen	PROPN	Minhen
.	PUNCT	.
Nemam	VERB	nemati
tamo	ADV	tamo
nikoga	PRON	niki
.	PUNCT	.
Minhen	PROPN	Minhen
je	AUX	jesam
lep	ADJ	lep
grad	NOUN	grad
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Jesam	AUX	jesam
.	PUNCT	.
Jesam	AUX	jesam
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
trenirala	VERB	trenirati
ja	PRON	ja
sam	AUX	jesam
trenirala	VERB	trenirati
odbojku	NOUN	odbojka
.	PUNCT	.
Odbojku	NOUN	odbojka
.	PUNCT	.
Odbojku	NOUN	odbojka
jesam	AUX	jesam
se	PART	se
takmičila	VERB	takmičiti
.	PUNCT	.
Lep	ADJ	lep
je	AUX	jesam
sport	NOUN	sport
.	PUNCT	.
Lep	ADJ	lep
je	AUX	jesam
sport	NOUN	sport
,	PUNCT	,
ali	CCONJ	ali
je	AUX	jesam
ipak	PART	ipak
je	AUX	jesam
puna	ADJ	pun
glava	NOUN	glava
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
puna	ADJ	pun
glava	NOUN	glava
.	PUNCT	.
Moji	DET	moj
unučići	NOUN	unučić
isto	PART	isto
sviraju	VERB	svirati
.	PUNCT	.
Unučići	NOUN	Unučići
moji	DET	moj
sviraju	VERB	svirati
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
na	ADP	na
klavir	NOUN	klavir
.	PUNCT	.
Aha	INTJ	aha
.	PUNCT	.
Na	ADP	na
klavir	NOUN	klavir
.	PUNCT	.
Tata	NOUN	tat
svira	VERB	svirati
klavir	NOUN	klavir
.	PUNCT	.
Tata	NOUN	tat
svira	VERB	svirati
klavir	NOUN	klavir
isto	ADV	isto
.	PUNCT	.
Deca	NOUN	deca
prihvataju	VERB	prihvatati
.	PUNCT	.
Deda	NOUN	ded
nemam	VERB	nemati
dedu	NOUN	ded
.	PUNCT	.
Diple	NOUN	diple
jesam	AUX	jesam
.	PUNCT	.
Ja	PRON	ja
kad	SCONJ	kad
sam	AUX	jesam
čula	VERB	čuti
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Ja	PRON	ja
kad	SCONJ	kad
sam	AUX	jesam
svirala	VERB	svirati
diple	NOUN	diple
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
imala	VERB	imati
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
imala	VERB	imati
to	DET	taj
kod	ADP	kod
Marve	PROPN	Marve
.	PUNCT	.
Čuvala	VERB	Čuvala
sam	AUX	jesam
goveda	NOUN	goveda
i	CCONJ	i
pravila	NOUN	pravilo
sam	DET	sam
to	DET	taj
i	PART	i
svirala	VERB	svirati
.	PUNCT	.
Pokazaću	VERB	Pokazaću
ti	PRON	ti
.	PUNCT	.
Sveti	VERB	svetiti
Nikola	PROPN	Nikola
.	PUNCT	.
Sirotinji	NOUN	sirotinja
podelio	VERB	podeliti
.	PUNCT	.
To	DET	taj
je	AUX	jesam
moj	DET	moj
tata	NOUN	tat
slavio	VERB	slaviti
.	PUNCT	.
Ja	PRON	ja
bih	AUX	biti
crtala	VERB	crtati
.	PUNCT	.
