Da	SCONJ	da
.	PUNCT	.
Savica	PROPN	Savica
Vasiljev	PROPN	Vasiljev
.	PUNCT	.
Da	SCONJ	da
.	PUNCT	.
I	CCONJ	i
imam	VERB	imati
.	PUNCT	.
Ćerku	PROPN	Ćerku
moju	DET	moj
dragu	NOUN	draga
.	PUNCT	.
Da	SCONJ	da
.	PUNCT	.
Luče	PROPN	Luk
malo	ADV	malo
,	PUNCT	,
malo	ADV	malo
da	SCONJ	da
.	PUNCT	.
Gordana	PROPN	Gordana
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Ćerka	PUNCT	Ćerka
da	SCONJ	da
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Ana	PROPN	Ana
.	PUNCT	.
Ana	PROPN	Ana
.	PUNCT	.
Ana	PROPN	Ana
je	AUX	jesam
strašna	ADJ	strašan
.	PUNCT	.
Isto	ADV	isto
tako	ADV	tako
.	PUNCT	.
Je	AUX	jesam
l	X	l
’	PUNCT	’
hoceš	ADV	hoceš
da	SCONJ	da
me	PRON	ja
ženiš	VERB	ženiti
?	PUNCT	?
Ne	PART	ne
možeš	VERB	moći
ni	PART	ni
ustati	VERB	ustati
.	PUNCT	.
Ajde	PROPN	Ajda
hajde	INTJ	hajde
onda	ADV	onda
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Ajde	PROPN	Ajda
ajde	INTJ	ajde
ajde	INTJ	ajde
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Da	SCONJ	da
vidimo	VERB	viditi
.	PUNCT	.
Ajde	INTJ	ajde
ovamo	ADV	ovamo
idemo	VERB	ići
ustati	VERB	ustati
.	PUNCT	.
Opa	VERB	opasti
.	PUNCT	.
.	PUNCT	.
opa	VERB	opasti
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
op	INTJ	op
op	INTJ	op
op	INTJ	op
.	PUNCT	.
.	PUNCT	.
opa	VERB	opasti
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Pa	CCONJ	pa
šta	PRON	šta
vi	PRON	vi
mislite	VERB	misliti
?	PUNCT	?
E	CCONJ	e
to	DET	taj
ne	PART	ne
ide	VERB	ići
tako	ADV	tako
,	PUNCT	,
ne	PART	ne
,	PUNCT	,
ne	PART	ne
.	PUNCT	.
Hajde	INTJ	hajde
,	PUNCT	,
hajde	INTJ	hajde
,	PUNCT	,
opa	INTJ	opa
ajde	INTJ	ajde
ajde	INTJ	ajde
ajde	INTJ	ajde
.	PUNCT	.
.	PUNCT	.
Nek	PART	nek
padneš	VERB	pasti
.	PUNCT	.
.	PUNCT	.
Ajde	INTJ	ajde
ne	PART	ne
tako	ADV	tako
.	PUNCT	.
.	PUNCT	.
ajde	INTJ	ajde
Ma	VERB	Ma
neka	DET	neki
ga	PRON	on
.	PUNCT	.
Opa	VERB	opasti
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
op	INTJ	op
opa	VERB	opasti
.	PUNCT	.
To	DET	taj
Miki	PROPN	Mika
.	PUNCT	.
.	PUNCT	.
Ajde	INTJ	ajde
Hajde	PROPN	Hajd
sada	ADV	sada
kažem	VERB	kazati
hajde	NOUN	hajda
.	PUNCT	.
Nema	VERB	nemati
,	PUNCT	,
nema	VERB	nemati
ništa	PRON	ništa
.	PUNCT	.
Pu	INTJ	pu
.	PUNCT	.
.	PUNCT	.
Da	SCONJ	da
tražim	VERB	tražiti
drugoga	ADJ	drugi
.	PUNCT	.
Hocemo	PROPN	Hocemo
tražiti	VERB	tražiti
drugoga	ADJ	drugi
?	PUNCT	?
Ne	PART	ne
.	PUNCT	.
Opa	INTJ	opa
,	PUNCT	,
nema	ADJ	nem
veze	NOUN	veza
.	PUNCT	.
Opa	INTJ	opa
,	PUNCT	,
op	INTJ	op
.	PUNCT	.
Hajde	INTJ	hajde
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
op	INTJ	op
