{	PUNCT	{
Maca	PROPN	Maca
}	PUNCT	}
Jao	VERB	Jao
slatki	ADJ	sladak
.	PUNCT	.
{	PUNCT	{
Maca	PROPN	Maca
}	PUNCT	}
Jel	PROPN	Jel
devojčicu	NOUN	devojčica
?	PUNCT	?
{	PUNCT	{
Maca	PROPN	Maca
}	PUNCT	}
Ako	VERB	Ako
je	AUX	jesam
unuka	NOUN	unuka
onda	SCONJ	onda
je	AUX	jesam
devojčica	NOUN	devojčica
.	PUNCT	.
{	PUNCT	{
Maca	PROPN	Maca
}	PUNCT	}
Da	ADV	Da
.	PUNCT	.
