Moja	DET	moj
ćerka	NOUN	ćerka
je	AUX	jesam
u	ADP	u
Americi	PROPN	Amerika
,	PUNCT	,
moja	DET	moj
ćerka	NOUN	ćerka
je	AUX	jesam
van	ADP	van
Beograda	PROPN	Beograd
od	ADP	od
onda	ADV	onda
kad	SCONJ	kad
se	PART	se
udala	VERB	udati
,	PUNCT	,
mlada	ADJ	mlad
Znači	PROPN	Znači
ja	PRON	ja
sam	AUX	jesam
rođena	VERB	roditi
u	ADP	u
Jasenici	PROPN	Jasenica
kod	ADP	kod
Prokuplja	PROPN	Prokuplje
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
Prokupčanka	PROPN	Prokupčanka
,	PUNCT	,
a	ADV	a
tamo	ADV	tamo
sam	AUX	jesam
učila	VERB	učiti
gimnaziju	NOUN	gimnazija
Moj	ADJ	Moj
deka	NOUN	deka
je	AUX	jesam
bio	AUX	biti
ovde	ADV	ovde
u	ADP	u
Beogradu	PROPN	Beograd
pa	CCONJ	pa
smo	AUX	jesam
onda	ADV	onda
svi	DET	sav
polako	ADV	polako
dolazili	VERB	dolaziti
.	PUNCT	.
I	CCONJ	i
tu	ADV	tu
sam	AUX	jesam
ja	PRON	ja
završila	VERB	završiti
školu	NOUN	škola
,	PUNCT	,
sve	ADV	sve
kod	ADP	kod
deda	NOUN	ded
Bila	PROPN	Bil
sam	AUX	jesam
na	ADP	na
svečanostima	NOUN	svečanost
i	CCONJ	i
mnogo	ADV	mnogo
mi	PRON	ja
je	AUX	jesam
bilo	AUX	biti
lepo	ADV	lepo
Ali	PROPN	Ali
pala	VERB	pasti
sam	AUX	jesam
,	PUNCT	,
slučajno	ADV	slučajno
kad	SCONJ	kad
sam	AUX	jesam
se	PART	se
udala	VERB	udati
sam	AUX	jesam
pala	VERB	pasti
,	PUNCT	,
ali	CCONJ	ali
sama	DET	sam
sam	AUX	jesam
sve	ADV	sve
vratila	VERB	vratiti
mislim	VERB	misliti
nisam	AUX	jesam
.	PUNCT	.
Sad	ADV	sad
sad	ADV	sad
je	AUX	jesam
drugačija	ADJ	drugačiji
situacija	NOUN	situacija
,	PUNCT	,
sve	ADV	sve
više	ADV	više
.	PUNCT	.
Svi	DET	sav
me	PRON	ja
vole	VERB	voliti
,	PUNCT	,
to	DET	taj
je	AUX	jesam
ono	DET	onaj
što	SCONJ	što
je	AUX	jesam
najvažnije	ADV	najvažnije
.	PUNCT	.
Kad	SCONJ	kad
sam	AUX	jesam
došla	VERB	doći
,	PUNCT	,
evo	PART	evo
i	CCONJ	i
ova	DET	ovaj
sestra	NOUN	sestra
.	PUNCT	.
A	X	A
glavna	ADJ	glavna
sestra	NOUN	sestra
,	PUNCT	,
ona	PRON	ona
je	AUX	jesam
,	PUNCT	,
ne	PART	ne
znam	VERB	znati
.	PUNCT	.
Puno	ADV	puno
vodi	VERB	voditi
računa	NOUN	račun
,	PUNCT	,
žao	ADV	žao
mi	PRON	ja
je	AUX	jesam
što	PRON	što
danas	ADV	danas
ne	PART	ne
radi	VERB	raditi
.	PUNCT	.
Ona	PRON	ona
me	PRON	ja
nigde	ADV	nigde
ne	PART	ne
bi	AUX	biti
ostavila	VERB	ostaviti
samu	DET	sam
.	PUNCT	.
Ona	PRON	ona
je	AUX	jesam
mnogo	ADV	mnogo
fina	ADJ	fin
.	PUNCT	.
Nije	AUX	jesam
zato	ADV	zato
da	SCONJ	da
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
eto	PART	eto
tu	ADV	tu
kod	ADP	kod
Autokomande	PROPN	Autokomanda
a	ADV	a
bili	AUX	biti
su	AUX	jesam
tu	ADV	tu
da	SCONJ	da
se	PART	se
setim	VERB	setiti
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
imala	VERB	imati
i	CCONJ	i
knjige	NOUN	knjiga
imala	VERB	imati
sam	AUX	jesam
ja	PRON	ja
sve	ADV	sve
.	PUNCT	.
Imala	VERB	imati
sam	AUX	jesam
sestru	NOUN	sestra
,	PUNCT	,
mama	NOUN	mam
nam	PRON	mi
je	AUX	jesam
umrla	VERB	umreti
.	PUNCT	.
Tako	ADV	tako
da	SCONJ	da
smo	AUX	jesam
lepo	ADV	lepo
živele	VERB	živeti
posle	ADP	posle
njene	DET	njen
smrt	NOUN	smrt
,	PUNCT	,
i	CCONJ	i
a	ADV	a
ja	PRON	ja
se	PART	se
,	PUNCT	,
nisam	AUX	jesam
bila	AUX	biti
.	PUNCT	.
Tad	ADV	tad
se	PART	se
ta	DET	taj
grupa	NOUN	grupa
,	PUNCT	,
verovatno	PART	verovatno
,	PUNCT	,
koja	DET	koji
je	AUX	jesam
tražila	VERB	tražiti
to	DET	taj
.	PUNCT	.
Gde	SCONJ	gde
je	AUX	jesam
,	PUNCT	,
ne	PART	ne
mogu	VERB	moći
da	SCONJ	da
se	PART	se
setim	VERB	setiti
svih	DET	sav
stvari	NOUN	stvar
ali	CCONJ	ali
retko	ADV	retko
.	PUNCT	.
Ovaj	DET	ovaj
psiholog	NOUN	psiholog
retko	ADV	retko
mi	PRON	ja
daje	VERB	davati
da	SCONJ	da
puno	ADV	puno
budem	AUX	biti
sa	ADP	sa
njima	PRON	ona
ali	CCONJ	ali
,	PUNCT	,
zato	ADV	zato
što	SCONJ	što
mi	PRON	ja
nije	AUX	jesam
teško	ADV	teško
imam	VERB	imati
sve	DET	sav
ceo	ADJ	ceo
.	PUNCT	.
Ali	CCONJ	ali
,	PUNCT	,
ima	VERB	imati
malo	ADV	malo
više	ADV	više
plača	NOUN	plač
i	CCONJ	i
sve	DET	sav
.	PUNCT	.
Sad	ADV	sad
sam	AUX	jesam
potpuno	ADV	potpuno
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
puno	ADV	puno
ih	PRON	ona
ima	VERB	imati
,	PUNCT	,
koga	PRON	ko
god	PART	god
dovedu	VERB	dovesti
,	PUNCT	,
dovedu	VERB	dovesti
ga	PRON	on
kod	ADP	kod
mene	PRON	ja
i	CCONJ	i
onda	ADV	onda
dok	SCONJ	dok
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Sine	VERB	sinuti
,	PUNCT	,
tako	ADV	tako
eno	PART	eno
ona	DET	onaj
baka	NOUN	baka
,	PUNCT	,
evo	PART	evo
ova	DET	ovaj
baka	NOUN	baka
I	VERB	I
ovaj	DET	ovaj
,	PUNCT	,
ona	PRON	ona
je	AUX	jesam
sad	ADV	sad
došla	VERB	doći
među	ADP	među
poslednjima	ADJ	poslednji
.	PUNCT	.
Sve	ADV	sve
kad	SCONJ	kad
dođu	VERB	doći
uveče	ADV	uveče
,	PUNCT	,
na	ADP	na
taj	DET	taj
što	SCONJ	što
smo	AUX	jesam
rekle	VERB	reći
,	PUNCT	,
onda	ADV	onda
ja	PRON	ja
nekad	ADV	nekad
dođem	VERB	doći
.	PUNCT	.
Ali	CCONJ	ali
ne	PART	ne
smem	VERB	smeti
stalno	ADV	stalno
,	PUNCT	,
zato	ADV	zato
što	SCONJ	što
njih	PRON	ona
ima	VERB	imati
to	DET	taj
je	AUX	jesam
sve	ADV	sve
sa	ADP	sa
gornje	ADJ	gornji
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
A	X	A
ova	DET	ovaj
sestra	NOUN	sestra
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
A	X	A
ovako	ADV	ovako
,	PUNCT	,
svakome	PRON	svako
,	PUNCT	,
da	SCONJ	da
ga	PRON	on
obučem	VERB	obući
,	PUNCT	,
i	CCONJ	i
ja	PRON	ja
da	SCONJ	da
namestim	VERB	namestiti
,	PUNCT	,
on	PRON	on
kod	ADP	kod
mene	PRON	ja
.	PUNCT	.
Al	CCONJ	al
nije	AUX	jesam
tako	ADV	tako
stroga	ADJ	strog
,	PUNCT	,
a	ADV	a
njega	PRON	on
sad	ADV	sad
kažu	VERB	kazati
ovaj	DET	ovaj
je	AUX	jesam
na	ADP	na
momak	NOUN	momak
kao	CCONJ	kao
ona	PRON	ona
u	ADP	u
crnom	ADJ	crn
,	PUNCT	,
to	DET	taj
je	AUX	jesam
glavna	ADJ	glavna
.	PUNCT	.
I	CCONJ	i
tako	ADV	tako
,	PUNCT	,
mislim	VERB	misliti
meni	PRON	ja
nije	AUX	jesam
loše	ADV	loše
.	PUNCT	.
Samo	PART	samo
eto	PART	eto
,	PUNCT	,
ovako	ADV	ovako
se	PART	se
obučem	VERB	obući
,	PUNCT	,
pa	CCONJ	pa
onda	ADV	onda
idem	VERB	ići
gore	ADV	gore
pa	CCONJ	pa
se	PART	se
presvlačim	VERB	presvlačiti
,	PUNCT	,
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
Ovo	DET	ovaj
su	AUX	jesam
sve	ADV	sve
novi	ADJ	nov
.	PUNCT	.
Sve	ADV	sve
novi	ADJ	nov
,	PUNCT	,
tu	ADV	tu
i	CCONJ	i
tamo	ADV	tamo
,	PUNCT	,
koliko	ADV	koliko
dana	NOUN	dan
već	PART	već
ne	PART	ne
znam	VERB	znati
jer	SCONJ	jer
ja	PRON	ja
sam	AUX	jesam
odrasla	VERB	odrasti
u	ADP	u
Beogradu	PROPN	Beograd
,	PUNCT	,
tamo	ADV	tamo
jedan	NUM	jedan
deo	NOUN	deo
,	PUNCT	,
pa	CCONJ	pa
mi	PRON	ja
je	AUX	jesam
mama	NOUN	mam
umrla	VERB	umreti
tata	NOUN	tat
i	CCONJ	i
deka	NOUN	deka
su	AUX	jesam
došli	VERB	doći
ovde	ADV	ovde
,	PUNCT	,
tako	ADV	tako
da	SCONJ	da
sam	AUX	jesam
imala	VERB	imati
i	CCONJ	i
onda	ADV	onda
,	PUNCT	,
tamo	ADV	tamo
smo	AUX	jesam
imali	VERB	imati
stan	NOUN	stan
.	PUNCT	.
Tako	ADV	tako
da	SCONJ	da
su	AUX	jesam
svi	DET	sav
mene	PRON	ja
najviše	ADV	najviše
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
jer	SCONJ	jer
sam	AUX	jesam
prva	ADJ	prvi
mama	NOUN	mam
mi	PRON	ja
je	AUX	jesam
umrla	VERB	umreti
,	PUNCT	,
i	CCONJ	i
svi	DET	sav
svi	DET	sav
sad	ADV	sad
sam	AUX	jesam
shvatila	VERB	shvatiti
.	PUNCT	.
Nekad	ADV	nekad
plačem	VERB	plakati
,	PUNCT	,
sad	ADV	sad
i	CCONJ	i
manje	ADV	manje
ranije	ADV	ranije
nisam	AUX	jesam
pre	ADP	pre
toga	DET	taj
.	PUNCT	.
Oči	ADV	Oči
su	AUX	jesam
mi	PRON	ja
bile	AUX	biti
strašno	ADV	strašno
gotovo	ADV	gotovo
od	ADP	od
mamička	VERB	mamička
ovaj	DET	ovaj
a	NOUN	a
traži	VERB	tražiti
vode	NOUN	vod
.	PUNCT	.
I	CCONJ	i
tako	ADV	tako
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
vrlo	ADV	vrlo
zadovoljna	ADJ	zadovoljan
što	SCONJ	što
se	PART	se
tiče	VERB	ticati
toga	DET	taj
,	PUNCT	,
ali	CCONJ	ali
sam	AUX	jesam
teško	ADV	teško
bila	AUX	biti
sama	ADJ	sam
.	PUNCT	.
Pa	CCONJ	pa
su	AUX	jesam
pokušali	VERB	pokušati
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Evo	PART	evo
,	PUNCT	,
sestra	NOUN	sestra
što	SCONJ	što
je	AUX	jesam
debeljuca	NOUN	debeljuca
ona	PRON	ona
?	PUNCT	?
!	PUNCT	!
Ma	PART	ma
kakvi	ADV	kakvi
:	PUNCT	:
"	PUNCT	"
Ma	PART	ma
može	VERB	moći
može	VERB	moći
može	VERB	moći
može	VERB	moći
polako	ADV	polako
ne	PART	ne
boj	VERB	bojiti
se	PART	se
.	PUNCT	.
"	PUNCT	"
I	CCONJ	i
tako	ADV	tako
sam	AUX	jesam
,	PUNCT	,
eto	PART	eto
to	DET	taj
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Svi	DET	sav
.	PUNCT	.
Da	SCONJ	da
da	SCONJ	da
da	SCONJ	da
,	PUNCT	,
e	CCONJ	e
ovo	DET	ovaj
,	PUNCT	,
nekako	ADV	nekako
.	PUNCT	.
Nije	AUX	jesam
on	PRON	on
loš	ADJ	loš
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
ovaj	DET	ovaj
nama	PRON	mi
je	AUX	jesam
Tito	PROPN	Tito
[	PUNCT	[
ne	PART	ne
čuje	VERB	čuti
se	PART	se
]	PUNCT	]
I	ADV	I
tako	ADV	tako
,	PUNCT	,
inače	PART	inače
nisam	AUX	jesam
bolovala	VERB	bolovati
puno	ADV	puno
,	PUNCT	,
nikada	ADV	nikada
.	PUNCT	.
Tako	ADV	tako
da	SCONJ	da
,	PUNCT	,
da	SCONJ	da
sam	AUX	jesam
bolovala	VERB	bolovati
jesam	AUX	jesam
kad	SCONJ	kad
je	AUX	jesam
sve	DET	sav
to	DET	taj
završeno	VERB	završiti
,	PUNCT	,
moj	DET	moj
deda	NOUN	ded
moja	DET	moj
baka	NOUN	baka
.	PUNCT	.
[	PUNCT	[
ne	PART	ne
čuje	VERB	čuti
se	PART	se
]	PUNCT	]
Ja	ADV	Ja
sam	AUX	jesam
stalno	ADV	stalno
bila	AUX	biti
u	ADP	u
Beogradu	PROPN	Beograd
mislim	VERB	misliti
u	ADP	u
školi	NOUN	škola
među	ADP	među
studentima	NOUN	student
ali	CCONJ	ali
ne	PART	ne
znam	VERB	znati
,	PUNCT	,
nešto	PRON	nešto
se	PART	se
desilo	VERB	desiti
sa	ADP	sa
mnom	PRON	ja
,	PUNCT	,
verovatno	PART	verovatno
ta	DET	taj
patnja	NOUN	patnja
za	ADP	za
mamom	NOUN	mam
jer	SCONJ	jer
ja	PRON	ja
sam	AUX	jesam
mamu	NOUN	mam
previše	ADV	previše
volela	VERB	voleti
,	PUNCT	,
pa	CCONJ	pa
sestru	NOUN	sestra
sestru	NOUN	sestra
sam	AUX	jesam
volela	VERB	voleti
[	PUNCT	[
ne	PART	ne
čuje	VERB	čuti
se	PART	se
usled	ADP	usled
ometanja	NOUN	ometanje
drugih	ADJ	drugi
osoba	NOUN	osoba
]	PUNCT	]
pa	CCONJ	pa
sam	AUX	jesam
pala	VERB	pasti
onde	ADV	onde
kod	ADP	kod
Autokomande	PROPN	Autokomanda
,	PUNCT	,
tu	DET	taj
sam	AUX	jesam
pala	VERB	pasti
na	ADP	na
pod	NOUN	pod
,	PUNCT	,
dugo	ADV	dugo
,	PUNCT	,
i	CCONJ	i
onda	SCONJ	onda
su	AUX	jesam
me	PRON	ja
lečili	VERB	lečiti
.	PUNCT	.
Ja	PRON	ja
imam	VERB	imati
svašta	PRON	svašta
pa	CCONJ	pa
su	AUX	jesam
,	PUNCT	,
mislim	VERB	misliti
tako	ADV	tako
ovaj	DET	ovaj
tako	ADV	tako
tako	ADV	tako
sam	AUX	jesam
svugde	ADV	svugde
bila	AUX	biti
.	PUNCT	.
I	CCONJ	i
puno	ADV	puno
sam	AUX	jesam
volela	VERB	voleti
decu	NOUN	deca
,	PUNCT	,
školu	NOUN	škola
sam	AUX	jesam
završila	VERB	završiti
,	PUNCT	,
i	CCONJ	i
sve	DET	sav
to	DET	taj
i	CCONJ	i
svugde	ADV	svugde
smo	AUX	jesam
išli	VERB	ići
.	PUNCT	.
A	X	A
sad	ADV	sad
mnoge	ADJ	mnogi
stvari	NOUN	stvar
ne	PART	ne
mogu	VERB	moći
.	PUNCT	.
Jesam	AUX	jesam
,	PUNCT	,
ja	PRON	ja
malo	ADV	malo
ali	CCONJ	ali
onako	ADV	onako
ali	CCONJ	ali
polako	ADV	polako
se	PART	se
lečim	VERB	lečiti
,	PUNCT	,
polako	ADV	polako
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
puno	ADV	puno
volela	VERB	voleti
mog	DET	moj
oca	NOUN	otac
,	PUNCT	,
on	PRON	on
je	AUX	jesam
bio	AUX	biti
u	ADP	u
policiji	NOUN	policija
i	CCONJ	i
za	ADP	za
njega	PRON	on
sam	AUX	jesam
ja	PRON	ja
bila	AUX	biti
jedina	ADJ	jedina
,	PUNCT	,
unuka	NOUN	unuka
za	ADP	za
sve	DET	sav
.	PUNCT	.
Tako	ADV	tako
,	PUNCT	,
puno	ADV	puno
sam	AUX	jesam
volela	VERB	voleti
svoj	DET	sav
život	NOUN	život
,	PUNCT	,
ali	CCONJ	ali
mama	NOUN	mam
mi	PRON	ja
je	AUX	jesam
umrla	VERB	umreti
,	PUNCT	,
mnogo	ADV	mnogo
teško	ADV	teško
sam	AUX	jesam
to	DET	taj
podnela	VERB	podneti
,	PUNCT	,
otac	NOUN	otac
se	PART	se
posle	ADV	posle
opet	ADV	opet
oženio	VERB	oženiti
.	PUNCT	.
Maćeha	PROPN	Maćeha
nije	AUX	jesam
bila	AUX	biti
loša	ADJ	loš
,	PUNCT	,
mislim	VERB	misliti
ja	PRON	ja
sam	AUX	jesam
je	AUX	jesam
tako	ADV	tako
prihvatila	VERB	prihvatiti
,	PUNCT	,
ali	CCONJ	ali
postoje	VERB	postojati
ljudi	NOUN	ljudi
koji	DET	koji
uvek	ADV	uvek
taj	DET	taj
deo	NOUN	deo
nekako	ADV	nekako
ne	PART	ne
shvate	VERB	shvatiti
normalno	ADV	normalno
.	PUNCT	.
To	DET	taj
se	PART	se
desilo	VERB	desiti
,	PUNCT	,
da	SCONJ	da
sam	AUX	jesam
pala	VERB	pasti
,	PUNCT	,
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
I	CCONJ	i
ćerku	NOUN	ćerka
sam	AUX	jesam
imala	VERB	imati
,	PUNCT	,
ona	PRON	ona
je	AUX	jesam
sada	ADV	sada
u	ADP	u
Americi	PROPN	Amerika
,	PUNCT	,
udata	VERB	udati
za	ADP	za
drugog	ADJ	drugi
muškarca	NOUN	muškarac
koji	DET	koji
je	AUX	jesam
tako	ADV	tako
,	PUNCT	,
išao	VERB	ići
.	PUNCT	.
Stalno	ADV	stalno
zove	VERB	zvati
,	PUNCT	,
i	CCONJ	i
ja	PRON	ja
verujem	VERB	verovati
da	SCONJ	da
će	AUX	hteti
danas	ADV	danas
da	SCONJ	da
zove	VERB	zvati
ali	CCONJ	ali
ja	PRON	ja
ne	PART	ne
smem	VERB	smeti
da	SCONJ	da
putujem	VERB	putovati
.	PUNCT	.
Ne	PART	ne
smem	VERB	smeti
da	SCONJ	da
putujem	VERB	putovati
pošto	SCONJ	pošto
Imam	VERB	imati
jednu	NUM	jedan
sestru	NOUN	sestra
,	PUNCT	,
divnu	ADJ	divan
,	PUNCT	,
ovde	ADV	ovde
,	PUNCT	,
koja	DET	koji
je	AUX	jesam
specijalno	ADJ	specijalan
za	ADP	za
te	DET	taj
bolesti	NOUN	bolest
.	PUNCT	.
Za	ADP	za
to	DET	taj
.	PUNCT	.
I	CCONJ	i
to	DET	taj
ja	PRON	ja
sam	AUX	jesam
pala	VERB	pasti
[	PUNCT	[
ne	PART	ne
čuje	VERB	čuti
se	PART	se
deo	NOUN	deo
]	PUNCT	]
.	PUNCT	.
Ćerka	PROPN	Ćerka
,	PUNCT	,
ne	PART	ne
.	PUNCT	.
Ona	PRON	ona
je	AUX	jesam
tamo	ADV	tamo
otišla	VERB	otići
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
trebala	VERB	trebati
da	SCONJ	da
idem	VERB	ići
tamo	ADV	tamo
i	CCONJ	i
da	SCONJ	da
budem	AUX	biti
nekoliko	ADV	nekoliko
dana	NOUN	dan
Ona	PROPN	Ona
nije	AUX	jesam
došla	VERB	doći
,	PUNCT	,
ja	PRON	ja
samo	PART	samo
telefonom	NOUN	telefon
dobijem	VERB	dobiti
decu	NOUN	deca
.	PUNCT	.
Inače	PROPN	Inače
,	PUNCT	,
ona	PRON	ona
je	AUX	jesam
ovde	ADV	ovde
učila	VERB	učiti
gimnaziju	NOUN	gimnazija
.	PUNCT	.
Tata	NOUN	tat
je	AUX	jesam
,	PUNCT	,
deda	NOUN	ded
je	AUX	jesam
takoreći	PART	takoreći
,	PUNCT	,
bili	AUX	biti
su	AUX	jesam
studenti	NOUN	student
,	PUNCT	,
imaju	VERB	imati
ćerke	NOUN	ćerka
,	PUNCT	,
dva	NUM	dva
sina	NOUN	sin
i	CCONJ	i
dve	NUM	dva
ćerke	NOUN	ćerka
,	PUNCT	,
a	ADV	a
moja	DET	moj
tetka	NOUN	tetak
je	AUX	jesam
najmlađa	ADJ	mlad
tako	ADV	tako
da	SCONJ	da
sam	AUX	jesam
ja	PRON	ja
uvek	ADV	uvek
bila	AUX	biti
njoj	PRON	ona
najviše	ADV	najviše
draga	VERB	dragati
.	PUNCT	.
I	CCONJ	i
onda	ADV	onda
su	AUX	jesam
posle	ADP	posle
toga	DET	taj
došle	VERB	doći
škole	NOUN	škola
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
I	CCONJ	i
svugde	ADV	svugde
sam	AUX	jesam
bila	AUX	biti
,	PUNCT	,
najviše	ADV	najviše
u	ADP	u
domu	NOUN	dom
na	ADP	na
Dušanovcu	PROPN	Dušanovac
.	PUNCT	.
Tu	ADV	tu
sam	AUX	jesam
živela	VERB	živeti
,	PUNCT	,
tamo	ADV	tamo
ima	VERB	imati
jedna	NUM	jedan
ona	PRON	ona
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Ovaj	DET	ovaj
,	PUNCT	,
samo	PART	samo
sad	ADV	sad
imam	VERB	imati
jednog	NUM	jedan
brata	NOUN	brata
iz	ADP	iz
.	PUNCT	.
Mislim	VERB	misliti
to	DET	taj
je	AUX	jesam
ceo	ADJ	ceo
život	NOUN	život
,	PUNCT	,
moj	DET	moj
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
se	PART	se
posle	ADV	posle
udala	VERB	udati
i	CCONJ	i
rodila	VERB	roditi
ćerku	NOUN	ćerka
.	PUNCT	.
Odličan	VERB	Odličan
je	AUX	jesam
đak	NOUN	đak
.	PUNCT	.
Neću	ADV	Neću
da	SCONJ	da
Vas	PROPN	Vas
opterećujem	VERB	opterećivati
sa	ADP	sa
tim	NOUN	tim
,	PUNCT	,
to	DET	taj
je	AUX	jesam
bilo	AUX	biti
.	PUNCT	.
Vi	PRON	vi
ste	AUX	jesam
mladi	ADJ	mlad
za	ADP	za
to	DET	taj
.	PUNCT	.
Sad	ADV	sad
ne	PART	ne
mogu	VERB	moći
da	SCONJ	da
shvatim	VERB	shvatiti
da	SCONJ	da
sve	DET	sav
ta	DET	taj
neka	DET	neki
patnja	NOUN	patnja
,	PUNCT	,
nekom	DET	neki
nije	AUX	jesam
,	PUNCT	,
kako	SCONJ	kako
je	AUX	jesam
to	DET	taj
sve	ADV	sve
išlo	VERB	ići
,	PUNCT	,
da	SCONJ	da
smo	AUX	jesam
mi	PRON	ja
prošli	VERB	proći
.	PUNCT	.
I	CCONJ	i
naš	DET	naš
deda	NOUN	ded
je	AUX	jesam
,	PUNCT	,
njegov	DET	njegov
otac	NOUN	otac
je	AUX	jesam
bio	AUX	biti
veliki	ADJ	velik
čovek	NOUN	čovek
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
[	PUNCT	[
ne	PART	ne
čuje	VERB	čuti
se	PART	se
]	PUNCT	]
naš	DET	naš
.	PUNCT	.
I	CCONJ	i
tako	ADV	tako
.	PUNCT	.
Pa	CCONJ	pa
,	PUNCT	,
verovatno	PART	verovatno
su	AUX	jesam
i	CCONJ	i
mene	PRON	ja
pokušali	VERB	pokušati
jeste	AUX	jesam
jesu	AUX	jesam
malo	ADV	malo
al	CCONJ	al
ova	DET	ovaj
sestra	NOUN	sestra
,	PUNCT	,
ova	DET	ovaj
u	ADP	u
crvenom	ADJ	crven
,	PUNCT	,
ona	PRON	ona
me	PRON	ja
je	AUX	jesam
primila	VERB	primiti
ovde	ADV	ovde
svu	DET	sav
uvijenu	ADJ	uvijen
tu	ADV	tu
na	ADP	na
,	PUNCT	,
terasi	NOUN	terasa
kad	SCONJ	kad
sam	AUX	jesam
izašla	VERB	izaći
,	PUNCT	,
na	ADP	na
ulazu	NOUN	ulaz
.	PUNCT	.
Jer	SCONJ	jer
tu	DET	taj
je	AUX	jesam
bila	AUX	biti
tu	ADV	tu
su	AUX	jesam
bile	AUX	biti
,	PUNCT	,
šta	PRON	šta
znam	VERB	znati
,	PUNCT	,
radili	VERB	raditi
su	AUX	jesam
gore	ADV	gore
,	PUNCT	,
al	CCONJ	al
nije	AUX	jesam
bilo	AUX	biti
ovako	ADV	ovako
.	PUNCT	.
I	CCONJ	i
oni	PRON	oni
su	AUX	jesam
imali	VERB	imati
i	CCONJ	i
ptice	NOUN	ptica
i	CCONJ	i
ovo	DET	ovaj
i	CCONJ	i
ono	DET	onaj
,	PUNCT	,
ko	PRON	ko
i	CCONJ	i
svi	DET	sav
.	PUNCT	.
To	DET	taj
je	AUX	jesam
sve	ADV	sve
prošlo	VERB	proći
.	PUNCT	.
A	X	A
nju	PRON	ona
,	PUNCT	,
nju	PRON	ona
najviše	ADV	najviše
volim	VERB	voliti
od	ADP	od
svih	DET	sav
,	PUNCT	,
ona	PRON	ona
je	AUX	jesam
tu	ADV	tu
bila	AUX	biti
,	PUNCT	,
sedela	VERB	sedeti
i	CCONJ	i
tu	DET	taj
su	AUX	jesam
bili	AUX	biti
doktori	NOUN	doktor
i	CCONJ	i
ona	PRON	ona
je	AUX	jesam
njih	PRON	ona
zvala	VERB	zvati
,	PUNCT	,
izašla	VERB	izaći
napolje	ADV	napolje
i	CCONJ	i
tako	ADV	tako
da	SCONJ	da
sam	AUX	jesam
ostala	VERB	ostati
to	DET	taj
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Sasvim	ADV	sasvim
mlada	ADJ	mlad
učila	VERB	učiti
školu	NOUN	škola
tako	ADV	tako
da	SCONJ	da
sam	AUX	jesam
u	ADP	u
školi	NOUN	škola
svugde	ADV	svugde
bila	AUX	biti
dok	SCONJ	dok
god	PART	god
[	PUNCT	[
ne	PART	ne
čuje	VERB	čuti
se	PART	se
deo	NOUN	deo
]	PUNCT	]
.	PUNCT	.
Pa	CCONJ	pa
putovala	VERB	putovati
sam	AUX	jesam
ali	CCONJ	ali
pošto	SCONJ	pošto
moj	DET	moj
deda	NOUN	ded
ima	VERB	imati
kuću	NOUN	kuća
[	PUNCT	[
ne	PART	ne
čuje	VERB	čuti
se	PART	se
]	PUNCT	]
Ima	ADV	Ima
svoju	DET	svoj
decu	NOUN	deca
,	PUNCT	,
svoje	DET	svoj
ćerke	NOUN	ćerka
,	PUNCT	,
ali	CCONJ	ali
sve	DET	sav
je	AUX	jesam
to	DET	taj
prošlo	VERB	proći
tako	ADV	tako
da	SCONJ	da
ja	PRON	ja
sam	AUX	jesam
bila	AUX	biti
prva	ADJ	prvi
,	PUNCT	,
i	CCONJ	i
svugde	ADV	svugde
pozvana	VERB	pozvati
.	PUNCT	.
Posle	ADV	posle
,	PUNCT	,
se	PART	se
udala	VERB	udati
Moj	ADJ	Moj
suprug	NOUN	suprug
je	AUX	jesam
bio	AUX	biti
divan	ADJ	divan
,	PUNCT	,
a	ADV	a
mnogo	ADV	mnogo
sam	AUX	jesam
teško	ADV	teško
podnela	VERB	podneti
,	PUNCT	,
i	CCONJ	i
eto	PART	eto
sad	ADV	sad
,	PUNCT	,
znam	VERB	znati
ovde	ADV	ovde
pričam	VERB	pričati
a	ADV	a
nisam	AUX	jesam
išla	VERB	ići
.	PUNCT	.
Zato	ADV	zato
što	SCONJ	što
mnogo	ADV	mnogo
volim	VERB	voliti
devojčice	NOUN	devojčica
.	PUNCT	.
Moj	DET	moj
tata	NOUN	tat
je	AUX	jesam
imao	VERB	imati
dve	NUM	dva
ćerke	NOUN	ćerka
.	PUNCT	.
Mene	PRON	ja
,	PUNCT	,
i	CCONJ	i
još	PART	još
jednu	NUM	jedan
,	PUNCT	,
sestru	NOUN	sestra
koja	DET	koji
je	AUX	jesam
umrla	VERB	umreti
pretprošle	ADJ	pretprošli
godine	NOUN	godina
.	PUNCT	.
Isto	ADV	isto
umrla	VERB	umreti
.	PUNCT	.
Ona	DET	onaj
sina	NOUN	sin
ima	VERB	imati
.	PUNCT	.
Oni	PRON	oni
su	AUX	jesam
ostali	VERB	ostati
bez	ADP	bez
majke	NOUN	majka
,	PUNCT	,
to	DET	taj
je	AUX	jesam
bilo	AUX	biti
strašno	ADV	strašno
a	ADV	a
ja	PRON	ja
sam	AUX	jesam
to	DET	taj
mnogo	ADV	mnogo
teško	ADV	teško
podnela	VERB	podneti
.	PUNCT	.
Mnogo	ADV	mnogo
teško	ADV	teško
.	PUNCT	.
Još	ADV	Još
kad	SCONJ	kad
sam	AUX	jesam
pala	VERB	pasti
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
sve	DET	sav
to	DET	taj
,	PUNCT	,
ništa	ADV	ništa
,	PUNCT	,
sama	DET	sam
sam	AUX	jesam
nosila	VERB	nositi
.	PUNCT	.
A	X	A
ova	DET	ovaj
sestra	NOUN	sestra
,	PUNCT	,
genije	NOUN	genije
ona	PRON	ona
me	PRON	ja
spašavala	VERB	spašavati
.	PUNCT	.
Ona	PRON	ona
dođe	VERB	doći
,	PUNCT	,
a	ADV	a
ja	PRON	ja
ne	PART	ne
mogu	VERB	moći
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
A	X	A
sad	ADV	sad
eno	PART	eno
ona	PRON	ona
,	PUNCT	,
da	SCONJ	da
je	AUX	jesam
uzmem	VERB	uzeti
da	SCONJ	da
je	AUX	jesam
uzmem	VERB	uzeti
,	PUNCT	,
pa	CCONJ	pa
drži	VERB	držati
me	PRON	ja
nekad	ADV	nekad
kad	SCONJ	kad
ne	PART	ne
mogu	VERB	moći
sama	DET	sam
,	PUNCT	,
a	VERB	a
ova	DET	ovaj
koleginica	NOUN	koleginica
što	SCONJ	što
je	AUX	jesam
sad	ADV	sad
došla	VERB	doći
,	PUNCT	,
a	ADV	a
ona	PRON	ona
stalno	ADV	stalno
meni	PRON	ja
preti	VERB	pretiti
,	PUNCT	,
i	CCONJ	i
danas	ADV	danas
me	PRON	ja
zvala	VERB	zvati
,	PUNCT	,
reko	NOUN	reka
doći	VERB	doći
će	AUX	hteti
ali	CCONJ	ali
ja	PRON	ja
ne	PART	ne
mogu	VERB	moći
sada	ADV	sada
vidi	VERB	viditi
[	PUNCT	[
ne	PART	ne
čuje	VERB	čuti
se	PART	se
jasno	ADV	jasno
]	PUNCT	]
i	CCONJ	i
tako	ADV	tako
sad	ADV	sad
su	AUX	jesam
divne	ADJ	divan
,	PUNCT	,
sve	ADV	sve
i	CCONJ	i
ona	DET	onaj
sestra	NOUN	sestra
[	PUNCT	[
ne	PART	ne
čuje	VERB	čuti
se	PART	se
]	PUNCT	]
eto	PART	eto
ja	PRON	ja
sam	AUX	jesam
se	PART	se
ovako	ADV	ovako
obukla	VERB	obući
i	CCONJ	i
obožavam	VERB	obožavati
da	SCONJ	da
se	PART	se
obučem	VERB	obući
ovako	ADV	ovako
,	PUNCT	,
da	SCONJ	da
bude	AUX	biti
,	PUNCT	,
da	SCONJ	da
se	PART	se
obučem	VERB	obući
ja	PRON	ja
,	PUNCT	,
tamo	ADV	tamo
.	PUNCT	.
A	X	A
one	DET	onaj
puno	ADV	puno
ovaj	DET	ovaj
podviču	ADJ	podviču
i	CCONJ	i
glavna	ADJ	glavna
,	PUNCT	,
a	ADV	a
ovaj	DET	ovaj
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
moje	DET	moj
to	DET	taj
je	AUX	jesam
bilo	AUX	biti
nekad	ADV	nekad
i	CCONJ	i
svi	DET	sav
su	AUX	jesam
bili	AUX	biti
fini	ADJ	fin
.	PUNCT	.
I	CCONJ	i
onda	ADV	onda
ona	PRON	ona
uzme	VERB	uzeti
starije	ADJ	star
za	ADP	za
to	DET	taj
,	PUNCT	,
to	DET	taj
malo	ADV	malo
sam	AUX	jesam
[	PUNCT	[
ne	PART	ne
čuje	VERB	čuti
se	PART	se
]	PUNCT	]
primili	VERB	primiti
su	AUX	jesam
me	PRON	ja
ovde	ADV	ovde
.	PUNCT	.
Ja	PRON	ja
i	CCONJ	i
moj	DET	moj
sin	NOUN	sin
,	PUNCT	,
kad	SCONJ	kad
je	AUX	jesam
došao	VERB	doći
iz	ADP	iz
,	PUNCT	,
Amerike	PROPN	Amerika
,	PUNCT	,
dobio	VERB	dobiti
je	AUX	jesam
dete	NOUN	dete
,	PUNCT	,
to	DET	taj
tako	ADV	tako
ide	VERB	ići
naši	DET	naš
su	AUX	jesam
mladi	ADJ	mlad
išli	VERB	ići
tamo	ADV	tamo
.	PUNCT	.
Mislim	VERB	misliti
tako	ADV	tako
je	AUX	jesam
bilo	AUX	biti
situacije	NOUN	situacija
su	AUX	jesam
takve	DET	takav
bile	AUX	biti
,	PUNCT	,
da	SCONJ	da
više	ADV	više
nisam	AUX	jesam
znala	VERB	znati
i	CCONJ	i
kod	ADP	kod
autokomande	NOUN	autokomande
su	AUX	jesam
me	PRON	ja
Tu	ADV	tu
je	AUX	jesam
bila	AUX	biti
jedna	NUM	jedan
škola	NOUN	škola
,	PUNCT	,
i	CCONJ	i
ja	PRON	ja
sam	AUX	jesam
pala	VERB	pasti
pošto	SCONJ	pošto
nije	AUX	jesam
radilo	VERB	raditi
.	PUNCT	.
Radila	VERB	raditi
je	AUX	jesam
neka	DET	neki
na	ADP	na
Novom	ADJ	nov
groblju	NOUN	groblje
i	CCONJ	i
onda	SCONJ	onda
ja	PRON	ja
,	PUNCT	,
i	CCONJ	i
onda	SCONJ	onda
su	AUX	jesam
mi	PRON	ja
to	DET	taj
,	PUNCT	,
i	CCONJ	i
tako	ADV	tako
da	SCONJ	da
sam	AUX	jesam
stalno	ADV	stalno
stalno	ADV	stalno
malaksala	VERB	malaksati
.	PUNCT	.
I	CCONJ	i
jednog	NUM	jedan
dana	NOUN	dan
nisam	AUX	jesam
ništa	PRON	ništa
znala	VERB	znati
.	PUNCT	.
Tetka	NOUN	tetak
je	AUX	jesam
isto	ADV	isto
bila	AUX	biti
gimnazijalka	NOUN	gimnazijalka
i	CCONJ	i
eto	PART	eto
i	CCONJ	i
ona	PRON	ona
me	PRON	ja
eto	PART	eto
prošla	VERB	proći
sam	AUX	jesam
.	PUNCT	.
Ali	CCONJ	ali
nikako	ADV	nikako
,	PUNCT	,
stalno	ADV	stalno
,	PUNCT	,
i	CCONJ	i
ovde	ADV	ovde
su	AUX	jesam
me	PRON	ja
dali	VERB	dati
,	PUNCT	,
verovatno	ADV	verovatno
su	AUX	jesam
to	DET	taj
članovi	NOUN	član
partije	NOUN	partija
koje	DET	koji
su	AUX	jesam
to	DET	taj
vodile	VERB	voditi
o	ADP	o
tome	DET	taj
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
U	ADP	u
Prokuplju	PROPN	Prokuplje
.	PUNCT	.
A	X	A
i	CCONJ	i
ovde	ADV	ovde
,	PUNCT	,
ovde	ADV	ovde
najviše	ADV	najviše
.	PUNCT	.
Ali	CCONJ	ali
,	PUNCT	,
tamo	ADV	tamo
kad	SCONJ	kad
je	AUX	jesam
[	PUNCT	[
ne	PART	ne
čuje	VERB	čuti
se	PART	se
]	PUNCT	]
nije	AUX	jesam
bilo	AUX	biti
lako	ADV	lako
,	PUNCT	,
ništa	PRON	ništa
nije	AUX	jesam
lako	ADV	lako
.	PUNCT	.
U	ADP	u
Prokuplju	PROPN	Prokuplje
,	PUNCT	,
gimnaziju	NOUN	gimnazija
,	PUNCT	,
kad	SCONJ	kad
je	AUX	jesam
bila	AUX	biti
gimnazija	NOUN	gimnazija
srušena	VERB	srušiti
i	CCONJ	i
to	DET	taj
sve	ADV	sve
,	PUNCT	,
mi	PRON	ja
smo	AUX	jesam
tamo	ADV	tamo
delili	VERB	deliti
ceo	ADJ	ceo
onaj	DET	onaj
deo	NOUN	deo
.	PUNCT	.
Mi	PRON	ja
smo	AUX	jesam
imali	VERB	imati
,	PUNCT	,
crkva	NOUN	crkva
jedna	NUM	jedan
,	PUNCT	,
i	CCONJ	i
tako	ADV	tako
da	SCONJ	da
sam	AUX	jesam
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Medicinsku	ADJ	medicinski
.	PUNCT	.
Ali	CCONJ	ali
to	DET	taj
je	AUX	jesam
sve	ADV	sve
zajedno	ADV	zajedno
bilo	AUX	biti
.	PUNCT	.
Zato	ADV	zato
što	SCONJ	što
nije	AUX	jesam
moglo	VERB	moći
da	SCONJ	da
se	PART	se
to	DET	taj
deli	VERB	deliti
toliko	ADV	toliko
nije	AUX	jesam
bilo	AUX	biti
para	NOUN	par
.	PUNCT	.
Ona	PRON	ona
je	AUX	jesam
fina	ADJ	fin
bila	AUX	biti
[	PUNCT	[
intervju	NOUN	intervju
se	PART	se
prekida	VERB	prekidati
od	ADP	od
strane	NOUN	strana
jedne	NUM	jedan
osobe	NOUN	osoba
]	PUNCT	]
.	PUNCT	.
Dobar	ADJ	dobar
je	AUX	jesam
.	PUNCT	.
Ponekad	ADV	ponekad
bi	AUX	biti
da	SCONJ	da
pobegne	VERB	pobeći
.	PUNCT	.
To	DET	taj
je	AUX	jesam
,	PUNCT	,
mora	VERB	morati
čovek	NOUN	čovek
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
da	SCONJ	da
gura	VERB	gurati
dalje	ADV	dalje
.	PUNCT	.
Eto	PART	eto
to	DET	taj
su	AUX	jesam
te	DET	taj
moje	DET	moj
-	PUNCT	-
I	ADV	I
onda	ADV	onda
,	PUNCT	,
ovde	ADV	ovde
kad	SCONJ	kad
sam	AUX	jesam
došla	VERB	doći
,	PUNCT	,
radila	VERB	raditi
sam	AUX	jesam
,	PUNCT	,
i	CCONJ	i
primile	VERB	primiti
su	AUX	jesam
me	PRON	ja
,	PUNCT	,
gazdarica	NOUN	gazdarica
a	NOUN	a
i	CCONJ	i
ćerka	NOUN	ćerka
njena	DET	njen
ima	VERB	imati
sina	NOUN	sin
isto	ADV	isto
ovde	ADV	ovde
u	ADP	u
Beogradu	PROPN	Beograd
.	PUNCT	.
Ovde	ADV	ovde
mislim	VERB	misliti
,	PUNCT	,
na	ADP	na
ovoj	DET	ovaj
teritoriji	NOUN	teritorija
.	PUNCT	.
Samo	PART	samo
me	PRON	ja
gledaju	VERB	gledati
.	PUNCT	.
Eto	PART	eto
pile	NOUN	pila
,	PUNCT	,
moje	DET	moj
to	DET	taj
je	AUX	jesam
moj	DET	moj
veliki	ADJ	velik
san	NOUN	san
,	PUNCT	,
počelo	VERB	početi
je	AUX	jesam
,	PUNCT	,
nekad	ADV	nekad
stegne	VERB	stegnuti
,	PUNCT	,
pa	CCONJ	pa
uzmem	VERB	uzeti
nešto	PRON	nešto
da	SCONJ	da
uradim	VERB	uraditi
,	PUNCT	,
ja	PRON	ja
mnogo	ADV	mnogo
volim	VERB	voliti
da	SCONJ	da
radim	VERB	raditi
,	PUNCT	,
da	SCONJ	da
šijem	VERB	šiti
.	PUNCT	.
Pa	CCONJ	pa
po	ADP	po
nešto	PRON	nešto
,	PUNCT	,
ali	CCONJ	ali
sad	ADV	sad
teško	ADV	teško
.	PUNCT	.
I	CCONJ	i
onda	ADV	onda
ovako	ADV	ovako
sednem	VERB	sesti
,	PUNCT	,
evo	PART	evo
zna	VERB	znati
ova	DET	ovaj
naša	DET	naš
,	PUNCT	,
što	SCONJ	što
je	AUX	jesam
sad	ADV	sad
došla	VERB	doći
spolja	ADV	spolja
.	PUNCT	.
Da	SCONJ	da
,	PUNCT	,
skoro	ADV	skoro
došla	VERB	doći
,	PUNCT	,
a	ADV	a
kako	ADV	kako
.	PUNCT	.
A	X	A
ja	PRON	ja
noge	NOUN	noga
njene	DET	njen
ovde	ADV	ovde
,	PUNCT	,
svo	ADV	svo
vreme	NOUN	vreme
podignem	VERB	podignuti
a	ADV	a
on	PRON	on
evo	PART	evo
,	PUNCT	,
znači	VERB	značiti
,	PUNCT	,
sada	ADV	sada
[	PUNCT	[
ne	PART	ne
čuje	VERB	čuti
se	PART	se
]	PUNCT	]
Sedi	ADJ	sed
maco	NOUN	maca
,	PUNCT	,
sedi	VERB	sediti
sedi	VERB	sediti
sedi	VERB	sediti
.	PUNCT	.
[	PUNCT	[
intervju	NOUN	intervju
se	PART	se
prekida	VERB	prekidati
]	PUNCT	]
.	PUNCT	.
I	CCONJ	i
tako	ADV	tako
zlato	NOUN	zlato
moje	DET	moj
šta	PRON	šta
te	PRON	ti
još	PART	još
interesuje	VERB	interesovati
ako	SCONJ	ako
mogu	VERB	moći
da	SCONJ	da
kažem	VERB	kazati
?	PUNCT	?
Pa	CCONJ	pa
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
došla	VERB	doći
ovde	ADV	ovde
nisam	AUX	jesam
znala	VERB	znati
ništa	ADV	ništa
,	PUNCT	,
oni	PRON	oni
su	AUX	jesam
me	PRON	ja
,	PUNCT	,
ti	PRON	ti
kod	ADP	kod
Autokomande	PROPN	Autokomanda
pošto	SCONJ	pošto
ja	PRON	ja
nisam	AUX	jesam
ništa	PRON	ništa
videla	VERB	videti
,	PUNCT	,
malo	ADV	malo
su	AUX	jesam
tu	ADV	tu
i	CCONJ	i
tamo	ADV	tamo
bile	AUX	biti
bilo	AUX	biti
je	AUX	jesam
tu	ADV	tu
mnogo	ADV	mnogo
teško	ADV	teško
.	PUNCT	.
ali	CCONJ	ali
bio	AUX	biti
je	AUX	jesam
jedan	NUM	jedan
lekar	NOUN	lekar
koji	DET	koji
je	AUX	jesam
bio	AUX	biti
divan	ADJ	divan
,	PUNCT	,
ja	PRON	ja
ga	PRON	on
uopšte	ADV	uopšte
ne	PART	ne
znam	VERB	znati
,	PUNCT	,
jer	SCONJ	jer
ja	PRON	ja
sam	AUX	jesam
bila	AUX	biti
sva	DET	sav
u	ADP	u
nit	CCONJ	nit
hodala	VERB	hodati
,	PUNCT	,
nit	CCONJ	nit
ova	DET	ovaj
devojka	NOUN	devojka
je	AUX	jesam
isto	ADV	isto
mnogo	ADV	mnogo
fina	ADJ	fin
,	PUNCT	,
isto	ADV	isto
mlada	ADJ	mlad
,	PUNCT	,
a	ADV	a
ona	PRON	ona
je	AUX	jesam
baka	NOUN	baka
ima	VERB	imati
ćerku	NOUN	ćerka
ovde	ADV	ovde
i	CCONJ	i
u	ADP	u
,	PUNCT	,
oni	PRON	oni
su	AUX	jesam
došli	VERB	doći
,	PUNCT	,
i	CCONJ	i
ona	PRON	ona
žena	NOUN	žena
što	SCONJ	što
je	AUX	jesam
u	ADP	u
zelenom	ADJ	zelen
ona	PRON	ona
je	AUX	jesam
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Tako	ADV	tako
pričali	VERB	pričati
smo	AUX	jesam
o	ADP	o
tome	DET	taj
zato	ADV	zato
što	SCONJ	što
ja	PRON	ja
uspem	VERB	uspeti
da	SCONJ	da
ih	PRON	ona
evo	PART	evo
,	PUNCT	,
tu	ADV	tu
se	PART	se
vidi	VERB	viditi
,	PUNCT	,
samo	PART	samo
nisam	AUX	jesam
[	PUNCT	[
nerazgovetno	ADV	nerazgovetno
kroz	ADP	kroz
smeh	NOUN	smeh
]	PUNCT	]
ona	PRON	ona
nam	PRON	mi
je	AUX	jesam
sad	ADV	sad
skoro	ADV	skoro
došla	VERB	doći
,	PUNCT	,
a	VERB	a
ona	PRON	ona
baka	NOUN	baka
to	DET	taj
je	AUX	jesam
njena	DET	njen
kuća	NOUN	kuća
,	PUNCT	,
ali	CCONJ	ali
ta	DET	taj
kuća	NOUN	kuća
je	AUX	jesam
nekako	ADV	nekako
ja	PRON	ja
mislim	VERB	misliti
[	PUNCT	[
jedna	NUM	jedan
osoba	NOUN	osoba
prekida	NOUN	prekid
intervju	NOUN	intervju
]	PUNCT	]
.	PUNCT	.
Ja	PRON	ja
mislim	VERB	misliti
da	SCONJ	da
one	PRON	one
nose	VERB	nositi
nešto	ADV	nešto
,	PUNCT	,
i	CCONJ	i
ona	PRON	ona
i	CCONJ	i
sestra	NOUN	sestra
ta	DET	taj
koju	DET	koji
ja	PRON	ja
puno	ADV	puno
volim	VERB	voliti
,	PUNCT	,
ima	VERB	imati
sina	NOUN	sin
,	PUNCT	,
mladi	ADJ	mlad
su	AUX	jesam
,	PUNCT	,
oni	PRON	oni
su	AUX	jesam
to	DET	taj
ovaj	DET	ovaj
nešto	PRON	nešto
neko	DET	neki
te	DET	taj
ponudi	NOUN	ponuda
,	PUNCT	,
evo	PART	evo
i	CCONJ	i
ova	DET	ovaj
glavna	ADJ	glavna
evo	PART	evo
to	DET	taj
je	AUX	jesam
to	DET	taj
.	PUNCT	.
Sa	ADP	sa
ulice	NOUN	ulica
ja	PRON	ja
sam	AUX	jesam
sve	ADV	sve
donela	VERB	doneti
,	PUNCT	,
sve	DET	sav
te	DET	taj
spiskove	NOUN	spisak
,	PUNCT	,
ovo	DET	ovaj
-	PUNCT	-
ono	PRON	ono
donela	VERB	doneti
,	PUNCT	,
sve	DET	sav
mi	PRON	ja
je	AUX	jesam
tu	ADV	tu
kod	ADP	kod
njih	PRON	ona
.	PUNCT	.
Sve	DET	sav
je	AUX	jesam
tu	ADV	tu
,	PUNCT	,
od	ADP	od
drugog	ADJ	drugi
brata	NOUN	brata
koji	DET	koji
je	AUX	jesam
ista	ADJ	isti
kuća	NOUN	kuća
nego	CCONJ	nego
,	PUNCT	,
oni	DET	onaj
ljudi	NOUN	ljudi
koji	DET	koji
mogu	VERB	moći
da	SCONJ	da
dođu	VERB	doći
kod	ADP	kod
tebe	PRON	ti
,	PUNCT	,
i	CCONJ	i
da	SCONJ	da
ti	PRON	ti
da	SCONJ	da
te	PRON	ti
ucenjuju	VERB	ucenjivati
.	PUNCT	.
Moja	DET	moj
ćerka	NOUN	ćerka
je	AUX	jesam
momentalno	ADV	momentalno
otišla	VERB	otići
kod	ADP	kod
svog	DET	svoj
muža	NOUN	muž
,	PUNCT	,
i	CCONJ	i
trebala	VERB	trebati
je	AUX	jesam
da	SCONJ	da
ode	VERB	otići
.	PUNCT	.
Bilo	AUX	biti
je	AUX	jesam
mnogo	ADV	mnogo
teško	ADV	teško
,	PUNCT	,
i	CCONJ	i
plakala	VERB	plakati
je	AUX	jesam
,	PUNCT	,
ona	PRON	ona
zove	VERB	zvati
stalno	ADV	stalno
,	PUNCT	,
i	CCONJ	i
sinoć	ADV	sinoć
me	PRON	ja
zvala	VERB	zvati
.	PUNCT	.
Ali	CCONJ	ali
nemamo	VERB	nemati
imamo	VERB	imati
ljude	NOUN	ljudi
,	PUNCT	,
tamo	ADV	tamo
svako	PRON	svako
traži	VERB	tražiti
svoje	DET	svoj
.	PUNCT	.
A	X	A
ova	DET	ovaj
moja	DET	moj
koleginica	NOUN	koleginica
najveća	ADJ	velik
i	CCONJ	i
ona	PRON	ona
.	PUNCT	.
A	X	A
znaju	VERB	znati
jer	SCONJ	jer
sve	DET	sav
je	AUX	jesam
to	DET	taj
bilo	AUX	biti
na	ADP	na
razgovoru	NOUN	razgovor
,	PUNCT	,
pričalo	VERB	pričati
se	PART	se
sve	ADV	sve
,	PUNCT	,
oni	PRON	oni
su	AUX	jesam
pisali	VERB	pisati
.	PUNCT	.
I	CCONJ	i
tako	ADV	tako
maco	NOUN	maca
ne	PART	ne
znam	VERB	znati
šta	PRON	šta
da	SCONJ	da
ti	PRON	ti
pričam	VERB	pričati
više	ADV	više
.	PUNCT	.
Maco	PROPN	Maca
ja	PRON	ja
imam	VERB	imati
celu	ADJ	ceo
biblioteku	NOUN	biblioteka
.	PUNCT	.
Moj	DET	moj
suprug	NOUN	suprug
,	PUNCT	,
i	CCONJ	i
ja	PRON	ja
,	PUNCT	,
još	ADV	još
nisam	AUX	jesam
išla	VERB	ići
pa	CCONJ	pa
sam	AUX	jesam
padala	VERB	padati
tu	ADV	tu
u	ADP	u
kući	NOUN	kuća
.	PUNCT	.
[	PUNCT	[
ne	PART	ne
čuje	VERB	čuti
se	PART	se
]	PUNCT	]
Ta	ADJ	Ta
kuća	NOUN	kuća
je	AUX	jesam
na	ADP	na
Dušanovcu	PROPN	Dušanovac
,	PUNCT	,
ja	PRON	ja
njega	PRON	on
ovaj	DET	ovaj
ja	PRON	ja
mislim	VERB	misliti
nešto	PRON	nešto
je	AUX	jesam
izneto	VERB	izneti
,	PUNCT	,
ali	CCONJ	ali
to	DET	taj
je	AUX	jesam
moj	DET	moj
brat	NOUN	brat
od	ADP	od
strica	NOUN	stric
,	PUNCT	,
od	ADP	od
tatinog	ADJ	tatin
mlađeg	ADJ	mlad
brata	NOUN	brata
ona	DET	onaj
je	AUX	jesam
mlada	ADJ	mlad
Ja	NOUN	Ja
sam	AUX	jesam
volela	VERB	voleti
,	PUNCT	,
oni	PRON	oni
su	AUX	jesam
sve	ADV	sve
delili	VERB	deliti
ja	PRON	ja
ništa	PRON	ništa
nisam	AUX	jesam
prihvatala	VERB	prihvatati
,	PUNCT	,
ništa	PRON	ništa
ni	PART	ni
čula	VERB	čuti
ni	PART	ni
ništa	ADV	ništa
,	PUNCT	,
i	CCONJ	i
zato	ADV	zato
oni	PRON	oni
to	DET	taj
vole	VERB	voliti
a	NOUN	a
to	DET	taj
je	AUX	jesam
kuća	NOUN	kuća
koja	DET	koji
je	AUX	jesam
tu	ADV	tu
zidana	VERB	zidati
.	PUNCT	.
I	CCONJ	i
tu	ADV	tu
stanuje	VERB	stanovati
jedna	NUM	jedan
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
sigurno	ADV	sigurno
je	AUX	jesam
znaš	VERB	znati
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Ali	CCONJ	ali
ne	PART	ne
,	PUNCT	,
ne	PART	ne
ona	PRON	ona
,	PUNCT	,
nego	CCONJ	nego
onaj	DET	onaj
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Primili	VERB	primiti
smo	AUX	jesam
mi	PRON	ja
tog	DET	taj
đaka	NOUN	đak
,	PUNCT	,
i	CCONJ	i
to	DET	taj
sve	DET	sav
to	DET	taj
su	AUX	jesam
one	DET	onaj
kuće	NOUN	kuća
,	PUNCT	,
i	CCONJ	i
ovde	ADV	ovde
od	ADP	od
[	PUNCT	[
ne	PART	ne
čuje	VERB	čuti
se	PART	se
]	PUNCT	]
od	ADP	od
drugih	ADJ	drugi
tih	DET	taj
,	PUNCT	,
pokazaće	VERB	pokazati
ti	PRON	ti
oni	PRON	oni
,	PUNCT	,
znaš	VERB	znati
maco	NOUN	maca
to	DET	taj
je	AUX	jesam
nešto	ADV	nešto
što	SCONJ	što
što	PRON	što
sam	AUX	jesam
kad	SCONJ	kad
mi	PRON	ja
je	AUX	jesam
bilo	AUX	biti
najteže	ADV	najteže
.	PUNCT	.
Nju	PRON	ona
puno	ADV	puno
volim	VERB	voliti
ona	PRON	ona
je	AUX	jesam
na	ADP	na
televiziji	NOUN	televizija
ne	PART	ne
mogu	VERB	moći
da	SCONJ	da
se	PART	se
setim	VERB	setiti
kako	SCONJ	kako
se	PART	se
zove	VERB	zvati
,	PUNCT	,
i	CCONJ	i
njen	DET	njen
otac	NOUN	otac
je	AUX	jesam
tada	ADV	tada
,	PUNCT	,
mislim	VERB	misliti
u	ADP	u
tim	NOUN	tim
.	PUNCT	.
A	X	A
inače	PART	inače
svi	DET	sav
su	AUX	jesam
oni	PRON	oni
bili	AUX	biti
živi	VERB	živiti
,	PUNCT	,
i	CCONJ	i
to	DET	taj
,	PUNCT	,
i	CCONJ	i
ovo	DET	ovaj
i	CCONJ	i
ono	DET	onaj
,	PUNCT	,
tako	ADV	tako
je	AUX	jesam
bilo	AUX	biti
ti	PRON	ti
si	AUX	jesam
mlada	ADJ	mlad
maco	NOUN	maca
,	PUNCT	,
to	DET	taj
ti	PRON	ti
ne	PART	ne
treba	VERB	trebati
da	SCONJ	da
,	PUNCT	,
mnoge	ADJ	mnogi
stvari	NOUN	stvar
,	PUNCT	,
ni	CCONJ	ni
da	SCONJ	da
znaš	VERB	znati
.	PUNCT	.
Ovo	DET	ovaj
možeš	VERB	moći
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
volela	VERB	voleti
da	SCONJ	da
čitam	VERB	čitati
puno	ADV	puno
,	PUNCT	,
a	ADV	a
sad	ADV	sad
ne	PART	ne
mogu	VERB	moći
itekako	ADV	itekako
nemam	VERB	nemati
,	PUNCT	,
mislim	VERB	misliti
nisam	AUX	jesam
imala	VERB	imati
ni	PART	ni
zube	NOUN	zub
ni	CCONJ	ni
ništa	ADV	ništa
,	PUNCT	,
kosa	NOUN	kos
dugačka	ADJ	dugačak
ja	PRON	ja
mislila	VERB	misliti
ona	PRON	ona
je	AUX	jesam
ovaj	DET	ovaj
nikad	ADV	nikad
nisam	AUX	jesam
videla	VERB	videti
i	CCONJ	i
sve	DET	sav
to	DET	taj
.	PUNCT	.
A	X	A
inače	PART	inače
decu	NOUN	deca
obožavam	VERB	obožavati
e	CCONJ	e
sad	ADV	sad
ona	PRON	ona
je	AUX	jesam
druga	ADJ	drugi
fela	NOUN	fela
,	PUNCT	,
ne	PART	ne
znam	VERB	znati
koji	DET	koji
je	AUX	jesam
,	PUNCT	,
eto	PART	eto
da	SCONJ	da
ona	PRON	ona
ima	VERB	imati
baš	PART	baš
,	PUNCT	,
ona	PRON	ona
još	PART	još
ima	VERB	imati
tu	ADV	tu
neku	DET	neki
majku	NOUN	majka
i	CCONJ	i
sve	DET	sav
Ja	NOUN	Ja
sam	AUX	jesam
bila	AUX	biti
sve	ADV	sve
po	ADP	po
kućama	NOUN	kuća
do	ADP	do
sad	ADV	sad
.	PUNCT	.
Od	ADP	od
kako	SCONJ	kako
sam	AUX	jesam
pala	VERB	pasti
[	PUNCT	[
neko	DET	neki
prekida	NOUN	prekid
intervju	NOUN	intervju
]	PUNCT	]
.	PUNCT	.
E	INTJ	e
,	PUNCT	,
a	ADV	a
vidiš	VERB	viditi
ovo	DET	ovaj
,	PUNCT	,
moju	DET	moj
Cecu	PROPN	Ceca
na	ADP	na
vratima	NOUN	vrata
,	PUNCT	,
ovde	ADV	ovde
nije	AUX	jesam
bilo	AUX	biti
nikoga	PRON	niki
,	PUNCT	,
tek	CCONJ	tek
se	PART	se
radilo	VERB	raditi
i	CCONJ	i
sve	DET	sav
to	DET	taj
,	PUNCT	,
i	CCONJ	i
onda	ADV	onda
je	AUX	jesam
onda	ADV	onda
izašla	VERB	izaći
ispred	ADP	ispred
vrata	NOUN	vrata
,	PUNCT	,
i	CCONJ	i
ja	PRON	ja
kažem	VERB	kazati
,	PUNCT	,
ja	PRON	ja
bih	AUX	biti
išla	VERB	ići
tu	ADV	tu
.	PUNCT	.
Kad	SCONJ	kad
su	AUX	jesam
mi	PRON	ja
ispričali	VERB	ispričati
ko	PRON	ko
je	AUX	jesam
bio	AUX	biti
,	PUNCT	,
to	DET	taj
sve	DET	sav
nije	AUX	jesam
bilo	AUX	biti
ovako	ADV	ovako
.	PUNCT	.
I	CCONJ	i
uvek	ADV	uvek
sam	AUX	jesam
tu	ADV	tu
Eto	VERB	Eto
pile	NOUN	pila
moje	DET	moj
,	PUNCT	,
da	SCONJ	da
volim	VERB	voliti
decu	NOUN	deca
iznad	ADP	iznad
svega	DET	sav
to	DET	taj
su	AUX	jesam
svi	DET	sav
znali	VERB	znati
.	PUNCT	.
Generacije	NOUN	generacija
sam	AUX	jesam
,	PUNCT	,
ovaj	DET	ovaj
,	PUNCT	,
ali	CCONJ	ali
mi	PRON	ja
puno	ADV	puno
u	ADP	u
mojoj	DET	moj
familiji	NOUN	familija
braće	NOUN	braća
i	CCONJ	i
tako	ADV	tako
moja	DET	moj
baka	NOUN	baka
,	PUNCT	,
deka	NOUN	deka
je	AUX	jesam
bio	AUX	biti
žandar	NOUN	žandar
[	PUNCT	[
nerazgovetno	ADV	nerazgovetno
]	PUNCT	]
i	CCONJ	i
eto	PART	eto
.	PUNCT	.
A	X	A
ja	PRON	ja
sam	AUX	jesam
vrlo	ADV	vrlo
teško	ADV	teško
podnela	VERB	podneti
sve	DET	sav
to	DET	taj
Tako	PROPN	Tako
je	AUX	jesam
maco	NOUN	maca
.	PUNCT	.
Tako	ADV	tako
je	AUX	jesam
zato	ADV	zato
mora	VERB	morati
čovek	NOUN	čovek
i	CCONJ	i
da	SCONJ	da
[	PUNCT	[
ne	PART	ne
čuje	VERB	čuti
se	PART	se
]	PUNCT	]
a	ADV	a
mene	PRON	ja
sve	DET	sav
one	DET	onaj
vole	VERB	voliti
,	PUNCT	,
nemam	VERB	nemati
ja	PRON	ja
problema	NOUN	problem
.	PUNCT	.
Ona	PRON	ona
je	AUX	jesam
nova	ADJ	nov
ova	DET	ovaj
visoka	ADJ	visok
a	NOUN	a
ona	DET	onaj
baka	NOUN	baka
[	PUNCT	[
nerazgovetno	ADV	nerazgovetno
]	PUNCT	]
e	INTJ	e
sad	ADV	sad
ovaj	DET	ovaj
ovo	DET	ovaj
je	AUX	jesam
deka	NOUN	deka
,	PUNCT	,
malo	ADV	malo
,	PUNCT	,
nije	AUX	jesam
loše	ADV	loše
,	PUNCT	,
ja	PRON	ja
I	VERB	I
tako	ADV	tako
,	PUNCT	,
znači	VERB	značiti
svi	DET	sav
smo	AUX	jesam
tu	ADV	tu
,	PUNCT	,
ova	DET	ovaj
žena	NOUN	žena
je	AUX	jesam
slabo	ADV	slabo
ovde	ADV	ovde
,	PUNCT	,
tako	ADV	tako
da	SCONJ	da
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
došla	VERB	doći
i	CCONJ	i
brzo	ADV	brzo
sam	ADJ	sam
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Ona	PRON	ona
devojka	NOUN	devojka
ona	PRON	ona
mi	PRON	ja
je	AUX	jesam
pomogla	VERB	pomoći
puno	ADV	puno
.	PUNCT	.
Da	SCONJ	da
je	AUX	jesam
,	PUNCT	,
a	ADV	a
ne	PART	ne
znam	VERB	znati
,	PUNCT	,
valjda	ADV	valjda
sam	AUX	jesam
i	CCONJ	i
ja	PRON	ja
takav	DET	takav
čovek	NOUN	čovek
,	PUNCT	,
radila	VERB	raditi
sam	AUX	jesam
sa	ADP	sa
bebama	NOUN	beba
toliko	ADV	toliko
godina	NOUN	godina
.	PUNCT	.
Jeste	AUX	jesam
jeste	AUX	jesam
.	PUNCT	.
Ali	CCONJ	ali
svi	DET	sav
su	AUX	jesam
fini	ADJ	fin
,	PUNCT	,
i	CCONJ	i
ova	DET	ovaj
što	SCONJ	što
je	AUX	jesam
ovako	ADV	ovako
punačka	ADJ	punačak
,	PUNCT	,
jao	INTJ	jao
ma	PART	ma
kakvi	ADV	kakvi
,	PUNCT	,
svi	DET	sav
Onda	PROPN	Onda
nisam	AUX	jesam
mogla	VERB	moći
da	SCONJ	da
jedem	VERB	jesti
,	PUNCT	,
ali	CCONJ	ali
dobro	ADV	dobro
ništa	PRON	ništa
tu	ADV	tu
ne	PART	ne
treba	VERB	trebati
više	ADV	više
.	PUNCT	.
A	X	A
maco	NOUN	maca
sve	DET	sav
je	AUX	jesam
to	DET	taj
sad	ADV	sad
,	PUNCT	,
to	DET	taj
je	AUX	jesam
takav	DET	takav
život	NOUN	život
došao	VERB	doći
,	PUNCT	,
da	SCONJ	da
ja	PRON	ja
nisam	AUX	jesam
mogla	VERB	moći
,	PUNCT	,
da	SCONJ	da
sam	AUX	jesam
ovde	ADV	ovde
.	PUNCT	.
Prvo	ADV	prvo
sam	AUX	jesam
bila	AUX	biti
u	ADP	u
domu	NOUN	dom
a	VERB	a
posle	ADV	posle
u	ADP	u
[	PUNCT	[
nerazgovetno	ADV	nerazgovetno
]	PUNCT	]
Pa	X	Pa
čuvali	VERB	čuvati
su	AUX	jesam
me	PRON	ja
u	ADP	u
toj	DET	taj
zgradi	NOUN	zgrada
,	PUNCT	,
to	DET	taj
je	AUX	jesam
kod	ADP	kod
Autokomande	PROPN	Autokomanda
to	DET	taj
idem	VERB	ići
ne	PART	ne
znam	VERB	znati
,	PUNCT	,
ne	PART	ne
mogu	VERB	moći
da	SCONJ	da
se	PART	se
setim	VERB	setiti
šta	PRON	šta
je	AUX	jesam
bilo	AUX	biti
tu	ADV	tu
sam	AUX	jesam
živela	VERB	živeti
moja	DET	moj
tetka	NOUN	tetak
je	AUX	jesam
došla	VERB	doći
,	PUNCT	,
sestra	NOUN	sestra
je	AUX	jesam
došla	VERB	doći
[	PUNCT	[
nerazgovetno	ADV	nerazgovetno
]	PUNCT	]
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
Meni	PRON	ja
je	AUX	jesam
žao	ADV	žao
što	SCONJ	što
je	AUX	jesam
ona	PRON	ona
najmlađa	ADJ	mlad
,	PUNCT	,
a	ADV	a
ja	PRON	ja
sam	AUX	jesam
imala	VERB	imati
oca	NOUN	otac
i	CCONJ	i
maćehu	NOUN	maćeha
,	PUNCT	,
s	ADP	s
maćehom	NOUN	maćeha
sam	AUX	jesam
se	PART	se
puno	ADV	puno
slagala	VERB	slagati
,	PUNCT	,
ona	PRON	ona
je	AUX	jesam
umrla	VERB	umreti
,	PUNCT	,
inače	PART	inače
je	AUX	jesam
iz	ADP	iz
ne	PART	ne
mogu	VERB	moći
da	SCONJ	da
se	PART	se
setim	VERB	setiti
,	PUNCT	,
znam	VERB	znati
Na	ADV	Na
pruzi	NOUN	pruga
Beograd	PROPN	Beograd
i	CCONJ	i
putnika	NOUN	putnik
,	PUNCT	,
i	CCONJ	i
mi	PRON	ja
koji	DET	koji
padamo	VERB	padati
,	PUNCT	,
i	CCONJ	i
sve	DET	sav
tamo	ADV	tamo
I	ADV	I
ima	VERB	imati
naziv	NOUN	naziv
to	DET	taj
ne	PART	ne
mogu	VERB	moći
da	SCONJ	da
se	PART	se
setim	VERB	setiti
,	PUNCT	,
moja	DET	moj
maćeha	NOUN	maćeha
je	AUX	jesam
imala	VERB	imati
ćerku	NOUN	ćerka
koja	DET	koji
nije	AUX	jesam
bila	AUX	biti
dobra	NOUN	dobra
nije	AUX	jesam
me	PRON	ja
prihvatila	VERB	prihvatiti
,	PUNCT	,
ništa	ADV	ništa
drugo	ADV	drugo
ali	CCONJ	ali
je	AUX	jesam
sa	ADP	sa
mojom	DET	moj
sestrom	NOUN	sestra
stupila	VERB	stupiti
u	ADP	u
kontakt	NOUN	kontakt
.	PUNCT	.
Mislim	VERB	misliti
,	PUNCT	,
a	VERB	a
ja	PRON	ja
[	PUNCT	[
ne	PART	ne
čuje	VERB	čuti
se	PART	se
]	PUNCT	]
Tako	PROPN	Tako
,	PUNCT	,
od	ADP	od
kako	SCONJ	kako
sam	AUX	jesam
se	PART	se
rodila	VERB	roditi
,	PUNCT	,
valjda	ADV	valjda
mi	PRON	ja
je	AUX	jesam
baka	NOUN	baka
bila	AUX	biti
bila	AUX	biti
veliki	ADJ	velik
primer	NOUN	primer
,	PUNCT	,
dedina	ADJ	dedin
mama	NOUN	mam
,	PUNCT	,
pa	CCONJ	pa
je	AUX	jesam
otac	NOUN	otac
njegov	DET	njegov
bio	AUX	biti
vojnik	NOUN	vojnik
,	PUNCT	,
kuću	NOUN	kuća
su	AUX	jesam
imali	VERB	imati
kod	ADP	kod
autokomande	NOUN	autokomande
,	PUNCT	,
gore	ADV	gore
,	PUNCT	,
pričala	VERB	pričati
sam	AUX	jesam
ti	PRON	ti
.	PUNCT	.
I	CCONJ	i
gore	ADV	gore
[	PUNCT	[
nerazgovetno	ADV	nerazgovetno
]	PUNCT	]
I	ADV	I
tako	ADV	tako
,	PUNCT	,
mama	NOUN	mam
kad	SCONJ	kad
nam	PRON	mi
je	AUX	jesam
umrla	VERB	umreti
obe	NUM	oba
smo	AUX	jesam
bile	AUX	biti
zajedno	ADV	zajedno
,	PUNCT	,
a	VERB	a
ja	PRON	ja
posle	ADP	posle
sama	DET	sam
.	PUNCT	.
A	X	A
dobro	ADV	dobro
svugde	ADV	svugde
ima	VERB	imati
toga	DET	taj
,	PUNCT	,
jer	SCONJ	jer
ljudi	NOUN	ljudi
ne	PART	ne
mogu	VERB	moći
da	SCONJ	da
shvate	VERB	shvatiti
nešto	PRON	nešto
A	X	A
ne	PART	ne
postoji	VERB	postojati
koga	PRON	ko
ja	PRON	ja
ne	PART	ne
volim	VERB	voliti
,	PUNCT	,
za	ADP	za
mene	PRON	ja
je	AUX	jesam
svako	DET	svaki
veliko	ADJ	velik
dete	NOUN	dete
,	PUNCT	,
i	CCONJ	i
sve	ADV	sve
.	PUNCT	.
E	CCONJ	e
ova	DET	ovaj
sigurno	ADV	sigurno
čeka	VERB	čekati
.	PUNCT	.
E	INTJ	e
,	PUNCT	,
pa	CCONJ	pa
dobro	ADV	dobro
.	PUNCT	.
[	PUNCT	[
prekinut	ADJ	prekinut
intervju	NOUN	intervju
]	PUNCT	]
Kad	ADV	kad
mi	PRON	ja
se	PART	se
mama	NOUN	mam
Kad	ADV	kad
se	PART	se
tata	NOUN	tat
oženio	VERB	oženiti
i	CCONJ	i
mama	NOUN	mam
nam	PRON	mi
je	AUX	jesam
umrla	VERB	umreti
,	PUNCT	,
onda	ADV	onda
sam	AUX	jesam
sa	ADP	sa
sestrom	NOUN	sestra
,	PUNCT	,
na	ADP	na
dve	NUM	dva
smo	AUX	jesam
,	PUNCT	,
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
Inače	PROPN	Inače
Srbija	PROPN	Srbija
mi	PRON	ja
je	AUX	jesam
Tamo	VERB	Tamo
imam	VERB	imati
i	CCONJ	i
oca	NOUN	otac
Imam	VERB	imati
sad	ADV	sad
i	CCONJ	i
supruga	NOUN	supruga
Pa	X	Pa
nisam	AUX	jesam
ni	PART	ni
znala	VERB	znati
da	SCONJ	da
odem	VERB	otići
kad	SCONJ	kad
sam	AUX	jesam
bila	AUX	biti
ovde	ADV	ovde
,	PUNCT	,
zato	ADV	zato
što	SCONJ	što
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
sve	ADV	sve
menjala	VERB	menjati
svoje	DET	svoj
lične	ADJ	ličan
,	PUNCT	,
ne	PART	ne
mogu	VERB	moći
da	SCONJ	da
pričam	VERB	pričati
šta	PRON	šta
sam	AUX	jesam
sve	ADV	sve
radila	VERB	raditi
.	PUNCT	.
I	CCONJ	i
onda	ADV	onda
me	PRON	ja
odvedu	VERB	odvesti
deca	NOUN	deca
,	PUNCT	,
znate	VERB	znati
,	PUNCT	,
onda	ADV	onda
sestra	NOUN	sestra
,	PUNCT	,
što	SCONJ	što
je	AUX	jesam
sad	ADV	sad
dala	VERB	dati
,	PUNCT	,
e	CCONJ	e
ona	PRON	ona
me	PRON	ja
je	AUX	jesam
vodila	VERB	voditi
.	PUNCT	.
Jedna	NUM	jedan
baka	NOUN	baka
nam	PRON	mi
je	AUX	jesam
dala	VERB	dati
,	PUNCT	,
odavde	ADV	odavde
naravno	PART	naravno
je	AUX	jesam
i	CCONJ	i
sestra	NOUN	sestra
moja	DET	moj
,	PUNCT	,
nam	PRON	mi
je	AUX	jesam
dala	VERB	dati
novac	NOUN	novac
,	PUNCT	,
imi	ADV	imi
smo	AUX	jesam
otišle	VERB	otići
.	PUNCT	.
Al	CCONJ	al
otišle	VERB	otići
smo	AUX	jesam
drugim	ADJ	drugi
putem	ADP	putem
odavde	ADV	odavde
.	PUNCT	.
Nekim	DET	neki
desno	ADV	desno
,	PUNCT	,
i	CCONJ	i
izlazi	VERB	izlaziti
žena	NOUN	žena
,	PUNCT	,
jedna	NUM	jedan
mlada	ADJ	mlad
devojka	NOUN	devojka
kao	CCONJ	kao
vi	PRON	vi
,	PUNCT	,
i	CCONJ	i
ljubi	VERB	ljubiti
me	PRON	ja
Poznaje	VERB	poznavati
me	PRON	ja
,	PUNCT	,
ali	CCONJ	ali
to	DET	taj
su	AUX	jesam
ove	DET	ovaj
,	PUNCT	,
tamo	ADV	tamo
,	PUNCT	,
nešto	ADV	nešto
Možda	PROPN	Možda
niste	AUX	jesam
ni	PART	ni
išli	VERB	ići
sad	ADV	sad
,	PUNCT	,
vas	PRON	vi
ne	PART	ne
interesuje	VERB	interesovati
to	DET	taj
.	PUNCT	.
Kad	SCONJ	kad
naiđe	VERB	naići
pruga	NOUN	pruga
,	PUNCT	,
prugom	NOUN	pruga
naiđu	VERB	naići
kola	NOUN	kola
,	PUNCT	,
pa	CCONJ	pa
ovo	DET	ovaj
,	PUNCT	,
pa	CCONJ	pa
ono	PRON	ono
i	CCONJ	i
ja	PRON	ja
,	PUNCT	,
ovaj	DET	ovaj
tako	ADV	tako
sam	AUX	jesam
i	CCONJ	i
ja	PRON	ja
,	PUNCT	,
ovaj	DET	ovaj
,	PUNCT	,
sa	ADP	sa
njom	PRON	ona
išla	VERB	ići
,	PUNCT	,
ali	CCONJ	ali
baš	PART	baš
ništa	ADV	ništa
.	PUNCT	.
Dođem	ADJ	Dođem
kući	NOUN	kuća
i	CCONJ	i
sve	DET	sav
,	PUNCT	,
a	ADV	a
sad	ADV	sad
malo	ADV	malo
Sad	NOUN	sad
sam	AUX	jesam
shvatila	VERB	shvatiti
.	PUNCT	.
Inače	PROPN	Inače
,	PUNCT	,
svi	DET	sav
su	AUX	jesam
jeli	VERB	jesti
,	PUNCT	,
ja	PRON	ja
nisam	AUX	jesam
mogla	VERB	moći
da	SCONJ	da
jedem	VERB	jesti
ništa	ADV	ništa
,	PUNCT	,
ali	CCONJ	ali
sad	ADV	sad
mogu	VERB	moći
.	PUNCT	.
Tako	ADV	tako
kažu	VERB	kazati
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
gore	ADV	gore
na	ADP	na
spratu	NOUN	sprat
.	PUNCT	.
Jer	SCONJ	jer
imala	VERB	imati
je	AUX	jesam
moja	DET	moj
tetka	NOUN	tetak
jedan	NUM	jedan
sprat	NOUN	sprat
,	PUNCT	,
i	CCONJ	i
to	DET	taj
zato	ADV	zato
što	SCONJ	što
moj	DET	moj
tata	NOUN	tat
imao	VERB	imati
dve	NUM	dva
sestre	NOUN	sestra
pa	CCONJ	pa
,	PUNCT	,
nekad	ADV	nekad
su	AUX	jesam
tu	ADV	tu
živeli	VERB	živeti
,	PUNCT	,
ne	PART	ne
ovde	ADV	ovde
.	PUNCT	.
Ovde	ADV	ovde
je	AUX	jesam
njena	DET	njen
ćerka	NOUN	ćerka
živela	VERB	živeti
,	PUNCT	,
ali	CCONJ	ali
u	ADP	u
tom	DET	taj
našem	DET	naš
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Tako	ADV	tako
da	SCONJ	da
,	PUNCT	,
polako	ADV	polako
se	PART	se
prisetim	VERB	prisetiti
ali	CCONJ	ali
ne	PART	ne
mogu	VERB	moći
sad	ADV	sad
.	PUNCT	.
Eto	PART	eto
,	PUNCT	,
koliko	ADV	koliko
sam	AUX	jesam
mogla	VERB	moći
to	DET	taj
sam	AUX	jesam
vam	PRON	vi
ispričala	VERB	ispričati
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
trideset	NUM	trideset
-	PUNCT	-
peto	NOUN	peta
godište	NOUN	godište
.	PUNCT	.
Matora	ADJ	mator
.	PUNCT	.
Jeste	INTJ	jeste
,	PUNCT	,
pa	CCONJ	pa
maco	NOUN	maca
kakva	DET	kakav
sam	AUX	jesam
bila	AUX	biti
[	PUNCT	[
nerazgovetno	ADV	nerazgovetno
]	PUNCT	]
ali	CCONJ	ali
sam	AUX	jesam
uporna	ADJ	uporan
,	PUNCT	,
no	CCONJ	no
svako	PRON	svako
kaže	VERB	kazati
:	PUNCT	:
ti	PRON	ti
možeš	VERB	moći
,	PUNCT	,
pa	CCONJ	pa
svako	PRON	svako
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Onda	ADV	onda
,	PUNCT	,
još	ADV	još
uvek	ADV	uvek
to	DET	taj
su	AUX	jesam
bili	AUX	biti
oni	DET	onaj
drugi	ADJ	drugi
I	NOUN	I
ovaj	DET	ovaj
,	PUNCT	,
uvek	ADV	uvek
gledaj	VERB	gledati
u	ADP	u
tome	DET	taj
,	PUNCT	,
to	DET	taj
što	SCONJ	što
sam	AUX	jesam
ja	PRON	ja
mogla	VERB	moći
sve	ADV	sve
da	SCONJ	da
nosim	VERB	nositi
,	PUNCT	,
evo	PART	evo
još	PART	još
uvek	ADV	uvek
sam	AUX	jesam
čitava	ADJ	čitav
.	PUNCT	.
Tako	ADV	tako
da	SCONJ	da
,	PUNCT	,
mislim	VERB	misliti
da	SCONJ	da
sam	AUX	jesam
se	PART	se
izvukla	VERB	izvući
koliko	ADV	koliko
sam	AUX	jesam
mogla	VERB	moći
,	PUNCT	,
ali	CCONJ	ali
je	AUX	jesam
mnogo	ADV	mnogo
teško	ADV	teško
deco	NOUN	deca
,	PUNCT	,
zato	ADV	zato
vodite	VERB	voditi
računa	NOUN	račun
.	PUNCT	.
Ja	PRON	ja
nisam	AUX	jesam
mogla	VERB	moći
,	PUNCT	,
svi	DET	sav
su	AUX	jesam
oni	PRON	oni
bili	AUX	biti
moji	DET	moj
,	PUNCT	,
voleli	VERB	voleti
su	AUX	jesam
me	PRON	ja
,	PUNCT	,
evo	PART	evo
ovako	ADV	ovako
da	SCONJ	da
vam	PRON	vi
kažem	VERB	kazati
,	PUNCT	,
šetala	VERB	šetati
Ovaj	PROPN	Ovaj
,	PUNCT	,
ali	CCONJ	ali
ima	VERB	imati
ljudi	NOUN	ljudi
kao	CCONJ	kao
što	SCONJ	što
je	AUX	jesam
ovaj	DET	ovaj
čovek	NOUN	čovek
tamo	ADV	tamo
.	PUNCT	.
I	CCONJ	i
tako	ADV	tako
,	PUNCT	,
znači	VERB	značiti
A	X	A
ja	PRON	ja
gledam	VERB	gledati
,	PUNCT	,
stoji	VERB	stajati
tamo	ADV	tamo
valjda	PART	valjda
stoji	VERB	stajati
druga	ADJ	drugi
,	PUNCT	,
još	ADV	još
nisam	AUX	jesam
u	ADP	u
toku	NOUN	tok
pošto	SCONJ	pošto
smo	AUX	jesam
doručkovali	VERB	doručkovati
,	PUNCT	,
i	CCONJ	i
sad	ADV	sad
ne	PART	ne
mogu	VERB	moći
njega	PRON	on
da	SCONJ	da
[	PUNCT	[
nerazgovetno	ADV	nerazgovetno
]	PUNCT	]
dobar	ADJ	dobar
je	AUX	jesam
,	PUNCT	,
ali	CCONJ	ali
kad	SCONJ	kad
ga	PRON	on
ja	PRON	ja
uzmem	VERB	uzeti
neće	AUX	hteti
onda	SCONJ	onda
bi	AUX	biti
sedeo	VERB	sedeti
,	PUNCT	,
ali	CCONJ	ali
ne	PART	ne
obraćamo	VERB	obraćati
pažnju	NOUN	pažnja
zato	ADV	zato
i	CCONJ	i
spava	VERB	spavati
,	PUNCT	,
juče	ADV	juče
je	AUX	jesam
dugo	ADV	dugo
spavao	VERB	spavati
.	PUNCT	.
Evo	PART	evo
je	AUX	jesam
sestra	NOUN	sestra
.	PUNCT	.
Juče	VERB	Juče
smo	AUX	jesam
nas	PRON	mi
dve	NUM	dva
pričale	VERB	pričati
kako	SCONJ	kako
ona	PRON	ona
mene	PRON	ja
,	PUNCT	,
inače	PART	inače
i	CCONJ	i
dolazi	VERB	dolaziti
,	PUNCT	,
što	SCONJ	što
se	PART	se
tiče	VERB	ticati
toga	DET	taj
,	PUNCT	,
ali	CCONJ	ali
ja	PRON	ja
nisam	AUX	jesam
mogla	VERB	moći
da	SCONJ	da
pričam	VERB	pričati
,	PUNCT	,
ni	CCONJ	ni
da	SCONJ	da
vidim	VERB	viditi
.	PUNCT	.
A	X	A
sretna	ADJ	sretan
sam	AUX	jesam
što	SCONJ	što
sam	AUX	jesam
bar	PART	bar
nešto	ADV	nešto
[	PUNCT	[
prekinut	ADJ	prekinut
intervju	NOUN	intervju
]	PUNCT	]
I	VERB	I
mi	PRON	ja
tako	ADV	tako
,	PUNCT	,
juče	ADV	juče
smo	AUX	jesam
pričale	VERB	pričati
na	ADP	na
hodniku	NOUN	hodnik
,	PUNCT	,
ovaj	DET	ovaj
kad	SCONJ	kad
su	AUX	jesam
počeli	VERB	početi
da	SCONJ	da
mi	PRON	ja
menjaju	VERB	menjati
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Eto	PART	eto
tog	DET	taj
mladića	NOUN	mladić
koji	DET	koji
je	AUX	jesam
prvi	ADJ	prvi
bio	AUX	biti
,	PUNCT	,
koji	DET	koji
čestito	ADV	čestito
Dobro	PROPN	Dobra
,	PUNCT	,
vidi	VERB	viditi
se	PART	se
sve	ADV	sve
,	PUNCT	,
ali	CCONJ	ali
ima	VERB	imati
ko	PRON	ko
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Nije	AUX	jesam
baš	PART	baš
tako	ADV	tako
.	PUNCT	.
Ali	CCONJ	ali
mene	PRON	ja
su	AUX	jesam
sve	ADV	sve
čuvali	VERB	čuvati
tamo	ADV	tamo
,	PUNCT	,
i	CCONJ	i
tako	ADV	tako
,	PUNCT	,
sve	DET	sav
prođe	VERB	proći
deco	NOUN	deca
zato	ADV	zato
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Budite	AUX	biti
bolji	ADJ	dobar
.	PUNCT	.
Ovo	DET	ovaj
je	AUX	jesam
najsposobnija	ADJ	sposoban
sestra	NOUN	sestra
.	PUNCT	.
Ona	PRON	ona
meni	PRON	ja
kaže	VERB	kazati
:	PUNCT	:
ne	PART	ne
možeš	VERB	moći
da	SCONJ	da
izađeš	VERB	izaći
napolje	ADV	napolje
.	PUNCT	.
Hvala	NOUN	hvala
dečice	NOUN	dečica
.	PUNCT	.
