Šaula	PROPN	Šaula
Stana	PROPN	Stana
.	PUNCT	.
Šaula	PROPN	Šaula
.	PUNCT	.
Sedamdeset	NUM	sedamdeset
pet	NUM	pet
.	PUNCT	.
Pa	CCONJ	pa
nisam	AUX	jesam
radila	VERB	raditi
bavila	VERB	baviti
sam	AUX	jesam
se	PART	se
domaćicom	NOUN	domaćica
.	PUNCT	.
Domaćica	PROPN	Domaćica
.	PUNCT	.
Nemam	VERB	nemati
kad	SCONJ	kad
mi	PRON	ja
nije	AUX	jesam
dao	VERB	dati
radit	NOUN	radit
.	PUNCT	.
Moj	DET	moj
muž	NOUN	muž
je	AUX	jesam
bio	AUX	biti
oficir	NOUN	oficir
Znate	ADJ	Znate
kako	SCONJ	kako
je	AUX	jesam
to	DET	taj
.	PUNCT	.
Veliku	ADJ	velik
platu	NOUN	plata
je	AUX	jesam
imao	VERB	imati
pa	CCONJ	pa
nisam	AUX	jesam
radila	VERB	raditi
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
iz	ADP	iz
Subotice	PROPN	Subotica
.	PUNCT	.
Uh	INTJ	uh
volim	VERB	voliti
.	PUNCT	.
Pa	CCONJ	pa
samo	PART	samo
do	ADP	do
dvadesete	ADJ	dvadeseti
godine	NOUN	godina
Udala	PROPN	Udala
sam	AUX	jesam
se	PART	se
u	ADP	u
Beogradu	PROPN	Beograd
.	PUNCT	.
Da	SCONJ	da
.	PUNCT	.
I	CCONJ	i
od	ADP	od
tada	ADV	tada
sam	AUX	jesam
živela	VERB	živeti
u	ADP	u
Beogradu	PROPN	Beograd
.	PUNCT	.
Pedeset	NUM	pedeset
godina	NOUN	godina
živim	VERB	živiti
ovde	ADV	ovde
.	PUNCT	.
Pa	CCONJ	pa
tamo	ADV	tamo
je	AUX	jesam
došao	VERB	doći
.	PUNCT	.
On	PRON	on
je	AUX	jesam
mene	PRON	ja
upoznao	VERB	upoznati
u	ADP	u
Subotici	PROPN	Subotica
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
imala	VERB	imati
dva	NUM	dva
sina	NOUN	sin
,	PUNCT	,
sad	ADV	sad
jednog	NUM	jedan
imam	VERB	imati
.	PUNCT	.
Jedan	NUM	jedan
je	AUX	jesam
umro	VERB	umreti
pete	NOUN	peta
godine	NOUN	godina
I	ADJ	I
praunuka	NOUN	praunuka
nisam	AUX	jesam
sam	AUX	jesam
dobila	VERB	dobiti
nisam	AUX	jesam
mogla	VERB	moći
da	SCONJ	da
imam	VERB	imati
odmah	ADV	odmah
dece	NOUN	deca
.	PUNCT	.
Ne	PART	ne
.	PUNCT	.
Kažem	ADV	Kažem
nisam	AUX	jesam
imala	VERB	imati
odmah	ADV	odmah
dece	NOUN	deca
.	PUNCT	.
S	ADP	s
dvadeset	NUM	dvadeset
četiri	NUM	četiri
godine	NOUN	godina
sam	AUX	jesam
dobila	VERB	dobiti
prvog	ADJ	prvi
sina	NOUN	sin
,	PUNCT	,
a	ADV	a
drugog	ADJ	drugi
,	PUNCT	,
ovaj	DET	ovaj
što	PRON	što
tu	ADV	tu
leži	VERB	legati
,	PUNCT	,
s	ADP	s
trideset	NUM	trideset
godina	NOUN	godina
.	PUNCT	.
Pet	NUM	pet
godina	NOUN	godina
je	AUX	jesam
razlika	NOUN	razlika
između	ADP	između
njih	PRON	ona
.	PUNCT	.
Pa	CCONJ	pa
ne	PART	ne
primam	VERB	primati
meni	PRON	ja
su	AUX	jesam
slabije	ADJ	slab
karlične	ADJ	karlični
kosti	NOUN	kosti
,	PUNCT	,
to	DET	taj
se	PART	se
deformisalo	VERB	deformisati
i	CCONJ	i
zato	ADV	zato
sam	AUX	jesam
grbava	ADJ	grbav
.	PUNCT	.
I	CCONJ	i
ne	PART	ne
mogu	VERB	moći
ići	VERB	ići
Samo	PROPN	Samo
malo	ADV	malo
ne	PART	ne
mogu	VERB	moći
šetati	VERB	šetati
.	PUNCT	.
Samo	CCONJ	samo
da	SCONJ	da
mi	PRON	ja
nije	AUX	jesam
ovog	DET	ovaj
bolesnog	ADJ	bolestan
sina	NOUN	sin
,	PUNCT	,
ja	PRON	ja
ne	PART	ne
bih	AUX	biti
bila	AUX	biti
u	ADP	u
domu	NOUN	dom
Ja	ADV	Ja
bih	AUX	biti
platila	VERB	platiti
ženu	NOUN	žena
koja	DET	koji
bi	AUX	biti
mi	PRON	ja
pomagala	VERB	pomagati
Malo	ADV	malo
ja	PRON	ja
šta	PRON	šta
bih	AUX	biti
mogla	VERB	moći
radila	VERB	raditi
bih	AUX	biti
.	PUNCT	.
Jesam	AUX	jesam
Ja	ADV	Ja
sam	AUX	jesam
Lazić	PROPN	Lazić
.	PUNCT	.
Moj	DET	moj
otac	NOUN	otac
je	AUX	jesam
Lazić	PROPN	Lazić
,	PUNCT	,
a	ADJ	a
Šaula	PROPN	Šaula
sam	AUX	jesam
po	ADP	po
mužu	NOUN	muž
.	PUNCT	.
Ne	PART	ne
znam	VERB	znati
(	PUNCT	(
(	PUNCT	(
Pa	X	Pa
i	CCONJ	i
učila	VERB	učiti
sam	AUX	jesam
kod	ADP	kod
sestre	NOUN	sestra
,	PUNCT	,
ona	PRON	ona
je	AUX	jesam
išla	VERB	ići
u	ADP	u
školu	NOUN	škola
,	PUNCT	,
al	CCONJ	al
nemački	ADJ	nemački
.	PUNCT	.
Malo	ADV	malo
znam	VERB	znati
.	PUNCT	.
A	X	A
volela	VERB	voleti
bih	AUX	biti
jako	ADV	jako
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
mojoj	DET	moj
deci	NOUN	deca
govorila	VERB	govoriti
Onaj	PROPN	Onaj
što	SCONJ	što
je	AUX	jesam
umro	VERB	umreti
,	PUNCT	,
završio	VERB	završiti
je	AUX	jesam
fakultet	NOUN	fakultet
on	PRON	on
je	AUX	jesam
građevinski	ADJ	građevinski
inženjer	NOUN	inženjer
.	PUNCT	.
A	X	A
ovaj	DET	ovaj
drugi	ADJ	drugi
išao	VERB	ići
u	ADP	u
školu	NOUN	škola
ima	VERB	imati
tri	NUM	tri
godine	NOUN	godina
fakulteta	NOUN	fakultet
,	PUNCT	,
onog	DET	onaj
poljoprivrednog	ADJ	poljoprivredni
.	PUNCT	.
A	X	A
ja	PRON	ja
sam	AUX	jesam
kazala	VERB	kazati
da	SCONJ	da
uče	VERB	učiti
jezike	NOUN	jezik
.	PUNCT	.
Nisu	AUX	jesam
hteli	AUX	hteti
ni	PART	ni
nijedan	ADJ	nijedan
Ovaj	VERB	Ovaj
što	SCONJ	što
se	PART	se
razboleo	VERB	razboleti
,	PUNCT	,
on	PRON	on
je	AUX	jesam
bio	AUX	biti
u	ADP	u
ratu	NOUN	rat
.	PUNCT	.
Ti	DET	taj
si	AUX	jesam
mlada	ADJ	mlad
,	PUNCT	,
ti	PRON	ti
ne	PART	ne
znaš	VERB	znati
svašta	PRON	svašta
I	ADV	I
da	SCONJ	da
,	PUNCT	,
tu	ADV	tu
se	PART	se
razboleo	VERB	razboleti
i	CCONJ	i
ne	PART	ne
radi	VERB	raditi
mu	PRON	on
ruka	NOUN	ruka
ni	CCONJ	ni
noga	NOUN	noga
Ne	ADV	Ne
može	VERB	moći
,	PUNCT	,
u	ADP	u
kolicima	NOUN	kolica
je	AUX	jesam
.	PUNCT	.
To	DET	taj
me	PRON	ja
sad	ADV	sad
malo	ADV	malo
muči	VERB	mučiti
,	PUNCT	,
znaš	VERB	znati
kako	SCONJ	kako
je	AUX	jesam
Sin	PROPN	Sin
mi	PRON	ja
je	AUX	jesam
A	X	A
dobar	ADJ	dobar
je	AUX	jesam
Tako	PROPN	Tako
mi	PRON	ja
ga	PRON	on
žao	ADV	žao
što	SCONJ	što
je	AUX	jesam
tako	ADV	tako
prošao	VERB	proći
znaš	VERB	znati
.	PUNCT	.
Išao	VERB	Išao
je	AUX	jesam
u	ADP	u
vojsku	NOUN	vojska
od	ADP	od
vojske	NOUN	vojska
se	PART	se
razboleo	VERB	razboleti
,	PUNCT	,
stalno	ADV	stalno
po	ADP	po
bolnicama	NOUN	bolnica
.	PUNCT	.
Ne	PART	ne
da	SCONJ	da
mu	PRON	on
se	PART	se
.	PUNCT	.
Ne	PART	ne
znam	VERB	znati
,	PUNCT	,
ne	PART	ne
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
imala	VERB	imati
moždani	ADJ	moždani
udar	NOUN	udar
Kad	ADV	kad
mi	PRON	ja
je	AUX	jesam
sin	NOUN	sin
onaj	DET	onaj
umro	VERB	umreti
,	PUNCT	,
a	ADV	a
ovaj	DET	ovaj
u	ADP	u
bolnici	NOUN	bolnica
I	ADV	I
ja	PRON	ja
sam	AUX	jesam
bila	AUX	biti
u	ADP	u
domu	NOUN	dom
,	PUNCT	,
pa	CCONJ	pa
su	AUX	jesam
me	PRON	ja
odneli	VERB	odneti
u	ADP	u
Slankamen	PROPN	Slankamen
I	ADV	I
nisam	AUX	jesam
ništa	PRON	ništa
mogla	VERB	moći
govoriti	VERB	govoriti
.	PUNCT	.
Pa	CCONJ	pa
sam	AUX	jesam
u	ADP	u
Slankamenu	PROPN	Slankamen
bila	AUX	biti
tri	NUM	tri
meseca	NOUN	mesec
.	PUNCT	.
To	DET	taj
je	AUX	jesam
banja	VERB	banjati
.	PUNCT	.
I	CCONJ	i
doneli	VERB	doneti
su	AUX	jesam
ovog	DET	ovaj
Slobodana	PROPN	Slobodan
kod	ADP	kod
mene	PRON	ja
a	ADV	a
on	PRON	on
je	AUX	jesam
bio	AUX	biti
u	ADP	u
domu	NOUN	dom
već	CCONJ	već
Donesu	PROPN	Donesu
ga	PRON	on
,	PUNCT	,
a	ADV	a
nisu	AUX	jesam
mi	PRON	ja
ništa	ADV	ništa
pomogli	VERB	pomoći
,	PUNCT	,
ta	DET	taj
banja	NOUN	banja
.	PUNCT	.
Vežbala	VERB	Vežbala
sam	AUX	jesam
tu	ADV	tu
stisnu	VERB	stisnuti
se	PART	se
kosti	NOUN	kosti
ne	PART	ne
može	VERB	moći
se	PART	se
tu	ADV	tu
pomoći	NOUN	pomoć
A	X	A
ovaj	DET	ovaj
Slobodan	PROPN	Slobodan
je	AUX	jesam
išao	VERB	ići
na	ADP	na
fizikalnu	ADJ	fizikalni
,	PUNCT	,
krenuo	VERB	krenuti
je	AUX	jesam
sa	ADP	sa
nogom	NOUN	noga
.	PUNCT	.
Ovaj	DET	ovaj
fizioterapeut	NOUN	fizioterapeut
pustio	VERB	pustiti
ga	PRON	on
Samog	ADJ	sam
dođe	VERB	doći
kod	ADP	kod
mene	PRON	ja
mesec	NOUN	mesec
dana	NOUN	dan
Kad	ADV	kad
ja	PRON	ja
jedared	ADV	jedared
,	PUNCT	,
a	ADV	a
njega	PRON	on
nema	VERB	nemati
Ja	ADV	Ja
kažem	VERB	kazati
:	PUNCT	:
"	PUNCT	"
Doktore	NOUN	doktor
šta	PRON	šta
je	AUX	jesam
s	ADP	s
mojim	DET	moj
sinom	NOUN	sin
kad	SCONJ	kad
ga	PRON	on
nema	VERB	nemati
.	PUNCT	.
"	PUNCT	"
Uhvatio	VERB	uhvatiti
ga	PRON	on
ponovo	ADV	ponovo
udar	NOUN	udar
Kaže	ADJ	Kaže
:	PUNCT	:
"	PUNCT	"
Ne	PART	ne
sekirajte	VERB	sekirati
se	PART	se
,	PUNCT	,
vašeg	DET	vaš
sina	NOUN	sin
"	PUNCT	"
Kaže	PROPN	Kaže
To	PROPN	To
je	AUX	jesam
naš	DET	naš
problem	NOUN	problem
.	PUNCT	.
"	PUNCT	"
Kad	SCONJ	kad
ja	PRON	ja
,	PUNCT	,
oni	PRON	oni
ga	PRON	on
preneli	VERB	preneti
iz	ADP	iz
Slankamena	PROPN	Slankamen
ovde	ADV	ovde
,	PUNCT	,
a	ADV	a
ja	PRON	ja
sam	AUX	jesam
posle	ADV	posle
došla	VERB	doći
,	PUNCT	,
jedno	NUM	jedan
nedelju	NOUN	nedelja
dana	NOUN	dan
.	PUNCT	.
Baš	ADV	Baš
bilo	AUX	biti
je	AUX	jesam
dvadeset	NUM	dvadeset
trećeg	ADJ	treći
novembra	NOUN	novembar
kad	SCONJ	kad
sam	AUX	jesam
ja	PRON	ja
došla	VERB	doći
.	PUNCT	.
Tako	ADV	tako
da	SCONJ	da
je	AUX	jesam
mene	PRON	ja
Slankamen	PROPN	Slankamen
ovaj	DET	ovaj
.	PUNCT	.
Sad	ADV	sad
sam	AUX	jesam
dve	NUM	dva
godine	NOUN	godina
sam	AUX	jesam
ovde	ADV	ovde
.	PUNCT	.
A	X	A
bila	AUX	biti
sam	AUX	jesam
u	ADP	u
stanu	NOUN	stan
.	PUNCT	.
Tamo	ADV	tamo
je	AUX	jesam
I	ADV	I
išla	VERB	ići
milicija	NOUN	milicija
kad	SCONJ	kad
nema	VERB	nemati
nikog	PRON	niki
ostati	VERB	ostati
u	ADP	u
stanu	NOUN	stan
i	CCONJ	i
mene	PRON	ja
su	AUX	jesam
odneli	VERB	odneti
u	ADP	u
dom	NOUN	dom
.	PUNCT	.
Odneli	VERB	odneti
su	AUX	jesam
me	PRON	ja
u	ADP	u
Slankamen	PROPN	Slankamen
i	CCONJ	i
milicija	NOUN	milicija
je	AUX	jesam
ovaj	DET	ovaj
,	PUNCT	,
zapečatila	VERB	zapečatiti
stan	NOUN	stan
.	PUNCT	.
Sad	ADV	sad
je	AUX	jesam
stan	NOUN	stan
prazan	ADJ	prazan
Malo	NOUN	mala
sam	DET	sam
se	PART	se
sekirala	VERB	sekirati
što	SCONJ	što
će	AUX	hteti
ostati	VERB	ostati
stan	NOUN	stan
,	PUNCT	,
a	ADJ	a
milicija	NOUN	milicija
pazila	VERB	paziti
mi	PRON	ja
na	ADP	na
to	DET	taj
.	PUNCT	.
Videla	VERB	videti
sam	AUX	jesam
u	ADP	u
stanu	NOUN	stan
,	PUNCT	,
možete	VERB	moći
da	SCONJ	da
zamislite	VERB	zamisliti
pošto	SCONJ	pošto
se	PART	se
nama	PRON	mi
sviđa	VERB	sviđati
.	PUNCT	.
Ne	PART	ne
volim	VERB	voliti
čitat	NOUN	čitat
.	PUNCT	.
Ja	PRON	ja
volim	VERB	voliti
kad	SCONJ	kad
mi	PRON	ja
neko	PRON	neko
priča	VERB	pričati
Ne	ADV	Ne
volim	VERB	voliti
čitati	VERB	čitati
,	PUNCT	,
al	CCONJ	al
pevanje	NOUN	pevanje
ja	PRON	ja
znam	VERB	znati
lepo	ADV	lepo
pevati	VERB	pevati
I	ADV	I
moj	DET	moj
sin	NOUN	sin
zna	VERB	znati
ovaj	DET	ovaj
kako	SCONJ	kako
se	PART	se
zove	VERB	zvati
Slobodan	PROPN	Slobodan
Šaula	PROPN	Šaula
.	PUNCT	.
I	CCONJ	i
(	PUNCT	(
(	PUNCT	(
kaže	VERB	kazati
ja	PRON	ja
znam	VERB	znati
,	PUNCT	,
samo	PART	samo
ne	PART	ne
mogu	VERB	moći
sada	ADV	sada
.	PUNCT	.
Da	SCONJ	da
sam	AUX	jesam
zdrava	ADJ	zdrav
.	PUNCT	.
Jako	ADV	jako
sam	AUX	jesam
lepo	ADV	lepo
pevala	VERB	pevati
.	PUNCT	.
Kad	SCONJ	kad
sam	AUX	jesam
išla	VERB	ići
u	ADP	u
školu	NOUN	škola
kao	CCONJ	kao
mala	ADJ	mali
,	PUNCT	,
drugi	ADJ	drugi
razred	NOUN	razred
,	PUNCT	,
učiteljica	NOUN	učiteljica
je	AUX	jesam
primetila	VERB	primetiti
da	SCONJ	da
ja	PRON	ja
znam	VERB	znati
pevati	VERB	pevati
i	CCONJ	i
uvek	ADV	uvek
me	PRON	ja
je	AUX	jesam
terala	VERB	terati
da	SCONJ	da
pevam	VERB	pevati
.	PUNCT	.
Jeste	AUX	jesam
,	PUNCT	,
imala	VERB	imati
sam	AUX	jesam
imala	VERB	imati
sam	ADJ	sam
.	PUNCT	.
I	CCONJ	i
omladinska	ADJ	omladinski
organizacija	NOUN	organizacija
,	PUNCT	,
to	DET	taj
je	AUX	jesam
bilo	AUX	biti
lepo	ADV	lepo
Pevala	VERB	pevati
sam	AUX	jesam
i	CCONJ	i
na	ADP	na
javnom	ADJ	javan
mestu	NOUN	mesto
.	PUNCT	.
Samo	PART	samo
nisam	AUX	jesam
imala	VERB	imati
ovaj	DET	ovaj
znaš	VERB	znati
mogućnosti	NOUN	mogućnost
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
tražila	VERB	tražiti
da	SCONJ	da
radim	VERB	raditi
Moj	ADJ	Moj
muž	NOUN	muž
nije	AUX	jesam
dao	VERB	dati
da	SCONJ	da
radim	VERB	raditi
A	X	A
imao	VERB	imati
je	AUX	jesam
veliku	ADJ	velik
platu	NOUN	plata
veliki	ADJ	velik
oficir	NOUN	oficir
bio	AUX	biti
.	PUNCT	.
Ja	PRON	ja
da	SCONJ	da
sam	AUX	jesam
radila	VERB	raditi
,	PUNCT	,
ja	PRON	ja
ne	PART	ne
bih	AUX	biti
nikad	ADV	nikad
imala	VERB	imati
tu	DET	taj
platu	NOUN	plata
što	SCONJ	što
je	AUX	jesam
on	PRON	on
imao	VERB	imati
.	PUNCT	.
Znate	VERB	znati
nije	AUX	jesam
ženi	NOUN	žena
dobro	ADV	dobro
kad	SCONJ	kad
radi	VERB	raditi
Kad	ADV	kad
ne	PART	ne
radi	ADP	radi
ona	PRON	ona
može	VERB	moći
sve	ADV	sve
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
navikla	VERB	naviknuti
na	ADP	na
to	DET	taj
,	PUNCT	,
a	ADV	a
i	CCONJ	i
on	PRON	on
.	PUNCT	.
Znate	VERB	znati
,	PUNCT	,
on	PRON	on
je	AUX	jesam
bio	AUX	biti
oficir	NOUN	oficir
,	PUNCT	,
on	PRON	on
je	AUX	jesam
dosadan	ADJ	dosadan
bio	AUX	biti
,	PUNCT	,
al	CCONJ	al
oni	PRON	oni
su	AUX	jesam
bili	AUX	biti
gotovani	NOUN	gotovan
,	PUNCT	,
a	ADV	a
ja	PRON	ja
sam	AUX	jesam
radila	VERB	raditi
I	ADJ	I
deca	NOUN	deca
su	AUX	jesam
bezobrazna	ADJ	bezobrazan
kad	SCONJ	kad
vidi	VERB	viditi
da	SCONJ	da
mogu	VERB	moći
malo	ADV	malo
.	PUNCT	.
Al	CCONJ	al
stvarno	ADV	stvarno
sam	AUX	jesam
imala	VERB	imati
divnu	ADJ	divan
decu	NOUN	deca
.	PUNCT	.
Jaku	ADJ	jak
završili	VERB	završiti
školu	NOUN	škola
.	PUNCT	.
A	X	A
onaj	DET	onaj
umro	VERB	umreti
nije	AUX	jesam
bio	AUX	biti
bolestan	ADJ	bolestan
uopšte	ADV	uopšte
.	PUNCT	.
Tako	ADV	tako
sam	AUX	jesam
žalila	VERB	žaliti
za	ADP	za
njim	PRON	on
Jako	PROPN	Jaka
Ostala	PROPN	Ostala
sam	AUX	jesam
sa	ADP	sa
Slobodanom	PROPN	Slobodan
,	PUNCT	,
a	ADV	a
on	PRON	on
je	AUX	jesam
nemoćan	ADJ	nemoćan
.	PUNCT	.
Volela	VERB	voleti
sam	AUX	jesam
.	PUNCT	.
I	CCONJ	i
znam	VERB	znati
kuvati	VERB	kuvati
sve	ADV	sve
što	SCONJ	što
je	AUX	jesam
Ja	ADV	Ja
sam	AUX	jesam
kao	ADV	kao
mala	ADJ	mali
s	ADP	s
mojom	DET	moj
majkom	NOUN	majka
bila	AUX	biti
pa	CCONJ	pa
sam	AUX	jesam
učila	VERB	učiti
kuvati	VERB	kuvati
.	PUNCT	.
Pa	CCONJ	pa
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Volim	VERB	voliti
kolače	NOUN	kolač
,	PUNCT	,
da	SCONJ	da
I	ADV	I
torte	NOUN	torta
volim	VERB	voliti
.	PUNCT	.
Moj	DET	moj
muž	NOUN	muž
i	CCONJ	i
on	PRON	on
voli	VERB	voliti
tortu	NOUN	torta
.	PUNCT	.
On	PRON	on
ne	PART	ne
voli	VERB	voliti
slatko	ADV	slatko
Kafu	PROPN	Kafu
volim	VERB	voliti
piti	NOUN	pita
,	PUNCT	,
samo	PART	samo
ne	PART	ne
gorku	ADJ	gorak
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
malokrvna	ADJ	malokrvan
,	PUNCT	,
znate	VERB	znati
,	PUNCT	,
pa	CCONJ	pa
mi	PRON	ja
gorčina	NOUN	gorčina
smeta	VERB	smetati
I	ADJ	I
pivo	NOUN	piva
(	PUNCT	(
(	PUNCT	(
ne	PART	ne
volim	VERB	voliti
a	ADJ	a
vino	NOUN	vino
volim	VERB	voliti
pogotovu	ADV	pogotovu
šampanjsko	ADJ	šampanjski
vino	NOUN	vino
dobro	ADV	dobro
društvo	NOUN	društvo
Eto	NOUN	Eto
,	PUNCT	,
to	DET	taj
volim	VERB	voliti
,	PUNCT	,
a	ADV	a
ne	PART	ne
volim	VERB	voliti
se	PART	se
napijati	VERB	napijati
.	PUNCT	.
Pa	CCONJ	pa
volim	VERB	voliti
narodnu	ADJ	narodni
muziku	NOUN	muzika
Ne	ADV	Ne
znam	VERB	znati
sad	ADV	sad
kazati	VERB	kazati
.	PUNCT	.
A	X	A
narodna	ADJ	narodni
muzika	NOUN	muzika
ima	VERB	imati
svašta	PRON	svašta
znaš	VERB	znati
.	PUNCT	.
To	DET	taj
sam	AUX	jesam
volela	VERB	voleti
,	PUNCT	,
a	VERB	a
i	CCONJ	i
znam	VERB	znati
da	SCONJ	da
pevam	VERB	pevati
.	PUNCT	.
A	X	A
mogu	VERB	moći
ja	PRON	ja
i	CCONJ	i
drugu	ADJ	drugi
muziku	NOUN	muzika
da	SCONJ	da
pevam	VERB	pevati
Znam	PROPN	Znam
,	PUNCT	,
pa	CCONJ	pa
mi	PRON	ja
sad	ADV	sad
.	PUNCT	.
Kad	SCONJ	kad
sam	AUX	jesam
bila	AUX	biti
mala	ADJ	mali
ja	PRON	ja
sam	AUX	jesam
kazala	VERB	kazati
učiteljici	NOUN	učiteljica
da	SCONJ	da
ja	PRON	ja
znam	VERB	znati
i	CCONJ	i
drugi	ADJ	drugi
glas	NOUN	glas
pevati	VERB	pevati
A	X	A
ona	PRON	ona
se	PART	se
smeje	VERB	smejati
,	PUNCT	,
jako	ADV	jako
me	PRON	ja
volela	VERB	voleti
.	PUNCT	.
Pa	CCONJ	pa
i	PART	i
nemam	VERB	nemati
sad	ADV	sad
.	PUNCT	.
Ova	DET	ovaj
sudbina	NOUN	sudbina
me	PRON	ja
udarila	VERB	udariti
.	PUNCT	.
(	PUNCT	(
)	PUNCT	)
Volela	ADJ	Volela
bih	AUX	biti
da	SCONJ	da
imam	VERB	imati
i	CCONJ	i
unučadi	NOUN	unučad
kao	CCONJ	kao
svi	DET	sav
.	PUNCT	.
Moj	DET	moj
muž	NOUN	muž
tad	ADV	tad
je	AUX	jesam
i	PART	i
umro	VERB	umreti
.	PUNCT	.
Trideset	NUM	trideset
godina	NOUN	godina
sam	AUX	jesam
ja	PRON	ja
i	CCONJ	i
čovek	NOUN	čovek
i	CCONJ	i
žena	NOUN	žena
To	PROPN	To
nije	AUX	jesam
lako	ADV	lako
.	PUNCT	.
Još	ADV	Još
muška	ADJ	muški
deca	NOUN	deca
znate	VERB	znati
A	X	A
dobru	ADJ	dobar
sam	ADJ	sam
decu	NOUN	deca
imala	VERB	imati
.	PUNCT	.
Pod	ADP	pod
mojom	DET	moj
su	AUX	jesam
rukom	NOUN	ruka
odrasli	VERB	odrasti
.	PUNCT	.
A	X	A
ja	PRON	ja
sam	AUX	jesam
volela	VERB	voleti
da	SCONJ	da
radim	VERB	raditi
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
sve	ADV	sve
tražila	VERB	tražiti
da	SCONJ	da
radim	VERB	raditi
Al	PROPN	Al
nije	AUX	jesam
dao	VERB	dati
.	PUNCT	.
Pa	CCONJ	pa
evo	PART	evo
vidite	VERB	viditi
kako	SCONJ	kako
ja	PRON	ja
namestim	VERB	namestiti
svoj	DET	sav
krevet	NOUN	krevet
,	PUNCT	,
to	DET	taj
mene	PRON	ja
ne	PART	ne
mrzi	VERB	mrzeti
.	PUNCT	.
Samo	CCONJ	samo
da	SCONJ	da
mogu	VERB	moći
da	SCONJ	da
radim	VERB	raditi
rukama	NOUN	ruka
,	PUNCT	,
ne	PART	ne
mogu	VERB	moći
ništa	PRON	ništa
s	ADP	s
rukama	NOUN	ruka
.	PUNCT	.
i	CCONJ	i
mrzim	VERB	mrzeti
kad	SCONJ	kad
je	AUX	jesam
nečisto	ADJ	nečist
i	CCONJ	i
ja	PRON	ja
volim	VERB	voliti
čisto	ADV	čisto
da	SCONJ	da
Je	VERB	Je
Kod	NOUN	kod
mene	PRON	ja
ja	PRON	ja
sam	AUX	jesam
bila	AUX	biti
domaćica	NOUN	domaćica
broj	NOUN	broj
jedan	NUM	jedan
.	PUNCT	.
I	CCONJ	i
kuvati	VERB	kuvati
svašta	PRON	svašta
,	PUNCT	,
i	CCONJ	i
snađi	VERB	snaći
se	PART	se
kad	SCONJ	kad
nešto	PRON	nešto
treba	VERB	trebati
Kad	ADV	kad
je	AUX	jesam
muž	NOUN	muž
radio	NOUN	radio
,	PUNCT	,
nije	AUX	jesam
bio	AUX	biti
lak	ADJ	lak
ni	CCONJ	ni
njegov	DET	njegov
posao	VERB	posati
Kaže	PROPN	Kaže
kaže	VERB	kazati
:	PUNCT	:
"	PUNCT	"
Ne	PART	ne
znaš	VERB	znati
ti	PRON	ti
kako	SCONJ	kako
je	AUX	jesam
to	DET	taj
raditi	VERB	raditi
.	PUNCT	.
"	PUNCT	"
Pa	CCONJ	pa
ja	PRON	ja
sam	AUX	jesam
molila	VERB	moliti
da	SCONJ	da
radim	VERB	raditi
.	PUNCT	.
Ja	PRON	ja
i	CCONJ	i
dan	NOUN	dan
danas	ADV	danas
radim	VERB	raditi
što	SCONJ	što
mogu	VERB	moći
,	PUNCT	,
sve	ADV	sve
uradim	VERB	uraditi
.	PUNCT	.
Ja	PRON	ja
sama	DET	sam
sebe	PRON	sebe
,	PUNCT	,
vidiš	VERB	viditi
,	PUNCT	,
presvlačim	VERB	presvlačiti
,	PUNCT	,
neću	AUX	hteti
da	SCONJ	da
me	PRON	ja
tu	ADV	tu
presvlače	VERB	presvlačiti
.	PUNCT	.
Meni	PRON	ja
ne	PART	ne
uradi	VERB	uraditi
dobro	ADV	dobro
pa	CCONJ	pa
me	PRON	ja
žulja	VERB	žuljati
Pa	X	Pa
ja	PRON	ja
sama	DET	sam
.	PUNCT	.
Ja	PRON	ja
volim	VERB	voliti
društvo	NOUN	društvo
.	PUNCT	.
i	CCONJ	i
mlade	ADJ	mlad
ljude	NOUN	ljudi
Imala	VERB	imati
sam	AUX	jesam
društvo	NOUN	društvo
Eto	NOUN	Eto
,	PUNCT	,
to	DET	taj
je	AUX	jesam
sve	ADV	sve
.	PUNCT	.
