Ja	PRON	ja
sam	AUX	jesam
rođen	VERB	roditi
u	ADP	u
Hrvatskoj	PROPN	Hrvatska
u	ADP	u
Lici	PROPN	Lika
inače	PART	inače
sam	AUX	jesam
Ličanin	PROPN	Ličanin
po	ADP	po
poreklu	NOUN	poreklo
.	PUNCT	.
Ličani	PROPN	Ličanin
su	AUX	jesam
dobri	ADJ	dobar
ljudi	NOUN	ljudi
,	PUNCT	,
narod	NOUN	narod
je	AUX	jesam
dobar	ADJ	dobar
.	PUNCT	.
Proteran	VERB	proterati
je	AUX	jesam
od	ADP	od
Hrvata	PROPN	Hrvat
.	PUNCT	.
Tamo	ADV	tamo
se	PART	se
verovatno	ADV	verovatno
,	PUNCT	,
možda	PART	možda
nisi	AUX	jesam
ni	PART	ni
bila	AUX	biti
rođena	VERB	roditi
kad	SCONJ	kad
su	AUX	jesam
se	PART	se
sad	ADV	sad
zadnje	ADJ	zadnji
ovo	DET	ovaj
proterivanje	NOUN	proterivanje
devedeset	NUM	devedeset
-	PUNCT	-
prve	ADJ	prvi
.	PUNCT	.
Pa	CCONJ	pa
da	SCONJ	da
nisi	AUX	jesam
ni	PART	ni
rođena	VERB	roditi
devedeset	NUM	devedeset
-	PUNCT	-
prve	ADJ	prvi
,	PUNCT	,
devedeset	NUM	devedeset
-	PUNCT	-
druge	ADJ	drugi
godine	NOUN	godina
.	PUNCT	.
Čuvena	ADJ	Čuvena
hrvatska	ADJ	hrvatski
oluja	NOUN	oluja
,	PUNCT	,
ali	CCONJ	ali
ja	PRON	ja
sam	AUX	jesam
davno	ADV	davno
došao	VERB	doći
u	ADP	u
Beograd	PROPN	Beograd
,	PUNCT	,
pedeset	NUM	pedeset
-	PUNCT	-
druge	ADJ	drugi
godine	NOUN	godina
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
došao	VERB	doći
u	ADP	u
Zemun	PROPN	Zemun
kao	CCONJ	kao
ratno	ADJ	ratni
siroče	NOUN	siroče
,	PUNCT	,
otac	NOUN	otac
mi	PRON	ja
je	AUX	jesam
poginuo	VERB	poginuti
u	ADP	u
Partizanima	ADJ	Partizanima
,	PUNCT	,
deda	NOUN	ded
u	ADP	u
toku	NOUN	tok
Drugog	ADJ	drugi
svetskog	ADJ	svetski
rata	NOUN	rat
.	PUNCT	.
Devetoro	NUM	devetoro
članova	NOUN	član
familije	NOUN	familija
moje	DET	moj
otišlo	VERB	otići
celo	ADJ	ceo
i	CCONJ	i
tako	ADV	tako
da	SCONJ	da
sam	AUX	jesam
ja	PRON	ja
dugo	ADV	dugo
ovde	ADV	ovde
.	PUNCT	.
Najviše	PROPN	Najviše
sam	AUX	jesam
bio	AUX	biti
u	ADP	u
Zemunu	PROPN	Zemun
.	PUNCT	.
Posle	ADV	posle
sam	AUX	jesam
bio	AUX	biti
po	ADP	po
domovima	NOUN	dom
u	ADP	u
Studentskom	ADJ	studentski
gradu	NOUN	grad
.	PUNCT	.
Tu	ADV	tu
sam	AUX	jesam
studirao	VERB	studirati
,	PUNCT	,
tu	ADV	tu
sam	AUX	jesam
boravio	VERB	boraviti
najviše	ADV	najviše
četiri	NUM	četiri
godine	NOUN	godina
i	CCONJ	i
tako	ADV	tako
prođe	VERB	proći
život	NOUN	život
što	SCONJ	što
si	AUX	jesam
reko	NOUN	reka
piksla	NOUN	piksla
.	PUNCT	.
Imam	VERB	imati
dvoje	NUM	dvoje
dece	NOUN	deca
,	PUNCT	,
sin	NOUN	sin
mi	PRON	ja
je	AUX	jesam
u	ADP	u
Americi	PROPN	Amerika
nije	AUX	jesam
mogao	VERB	moći
ovde	ADV	ovde
kod	ADP	kod
ovih	DET	ovaj
lopova	NOUN	lopov
da	SCONJ	da
nađe	VERB	naći
posao	NOUN	posao
.	PUNCT	.
Ima	VERB	imati
dve	NUM	dva
ćerke	NOUN	ćerka
,	PUNCT	,
jedna	NUM	jedan
mi	PRON	ja
je	AUX	jesam
unuka	NOUN	unuka
Mimi	PROPN	Mima
,	PUNCT	,
Milica	PROPN	Milica
dvadeset	NUM	dvadeset
-	PUNCT	-
jedna	NUM	jedan
godina	NOUN	godina
,	PUNCT	,
druga	ADJ	drugi
,	PUNCT	,
treća	ADJ	treći
Elektrotehničkog	PROPN	Elektrotehničkog
,	PUNCT	,
što	SCONJ	što
je	AUX	jesam
najviše	ADV	najviše
traženi	VERB	tražiti
programeri	NOUN	programer
.	PUNCT	.
Super	ADV	super
je	AUX	jesam
mala	ADJ	mali
Maja	PROPN	Maja
,	PUNCT	,
još	ADV	još
opasnija	ADJ	opasan
u	ADP	u
školi	NOUN	škola
,	PUNCT	,
uopšte	ADV	uopšte
ne	PART	ne
prizna	VERB	priznati
u	ADP	u
Trinaestoj	ADJ	trinaesti
.	PUNCT	.
Da	SCONJ	da
odate	VERB	odati
svi	DET	sav
znaju	VERB	znati
za	ADP	za
Maju	PROPN	Maja
Grubor	PROPN	Grubor
,	PUNCT	,
ona	PRON	ona
ne	PART	ne
prizna	VERB	priznati
četvorku	NOUN	četvorka
,	PUNCT	,
kod	ADP	kod
nje	PRON	ona
su	AUX	jesam
sve	DET	sav
petice	NOUN	petica
i	CCONJ	i
ja	PRON	ja
joj	PRON	ona
skoro	ADV	skoro
.	PUNCT	.
I	CCONJ	i
nije	AUX	jesam
htela	AUX	hteti
da	SCONJ	da
me	PRON	ja
posluša	VERB	poslušati
.	PUNCT	.
Skupština	NOUN	Skupština
grada	NOUN	grad
je	AUX	jesam
odredila	VERB	odrediti
da	SCONJ	da
će	AUX	hteti
dati	VERB	dati
stipendije	NOUN	stipendija
tim	DET	taj
izuzetnim	ADJ	izuzetan
i	CCONJ	i
onda	SCONJ	onda
je	AUX	jesam
nju	PRON	ona
bilo	AUX	biti
sramota	NOUN	sramota
da	SCONJ	da
ode	VERB	otići
u	ADP	u
Skupštinu	PROPN	Skupštinu
grada	NOUN	grad
i	CCONJ	i
da	SCONJ	da
preda	VERB	predati
svoj	DET	sav
zahtev	NOUN	zahtev
,	PUNCT	,
možda	PART	možda
bi	AUX	biti
dobila	VERB	dobiti
neku	DET	neki
stipendiju	NOUN	stipendija
.	PUNCT	.
Ona	PRON	ona
sva	DET	sav
devojčica	NOUN	devojčica
lepa	ADJ	lep
,	PUNCT	,
visoka	ADJ	visok
.	PUNCT	.
Da	SCONJ	da
može	VERB	moći
bar	PART	bar
nešto	PRON	nešto
sebi	PRON	sebe
da	SCONJ	da
priušti	VERB	priuštiti
.	PUNCT	.
Majka	NOUN	majka
joj	PRON	ona
ne	PART	ne
radi	VERB	raditi
,	PUNCT	,
otac	NOUN	otac
nešto	PRON	nešto
šalje	VERB	slati
iz	ADP	iz
Amerike	PROPN	Amerika
,	PUNCT	,
snalaze	VERB	snalaziti
se	PART	se
,	PUNCT	,
ne	PART	ne
znam	VERB	znati
.	PUNCT	.
To	DET	taj
je	AUX	jesam
jedna	NUM	jedan
katastrofa	NOUN	katastrofa
.	PUNCT	.
Da	SCONJ	da
,	PUNCT	,
u	ADP	u
Trinaestoj	ADJ	trinaesti
.	PUNCT	.
To	DET	taj
je	AUX	jesam
na	ADP	na
Banovom	ADJ	Banov
brdu	NOUN	brdo
.	PUNCT	.
I	CCONJ	i
mogu	VERB	moći
ti	PRON	ti
reći	VERB	reći
da	SCONJ	da
je	AUX	jesam
od	ADP	od
,	PUNCT	,
kolko	ADV	kolko
sam	AUX	jesam
ja	PRON	ja
upoznat	VERB	upoznati
,	PUNCT	,
da	SCONJ	da
je	AUX	jesam
jedna	NUM	jedan
od	ADP	od
najstrožijih	ADJ	najstrožijih
,	PUNCT	,
bar	PART	bar
sad	ADV	sad
u	ADP	u
ovim	DET	ovaj
momentima	NOUN	moment
.	PUNCT	.
Strašno	ADJ	Strašno
.	PUNCT	.
Tako	ADV	tako
da	SCONJ	da
je	AUX	jesam
to	DET	taj
tako	ADV	tako
,	PUNCT	,
da	SCONJ	da
me	PRON	ja
sve	ADV	sve
,	PUNCT	,
to	DET	taj
mi	PRON	ja
je	AUX	jesam
prisutno	ADJ	prisutan
u	ADP	u
brigama	NOUN	briga
.	PUNCT	.
Ćerka	PROPN	Ćerka
ima	VERB	imati
malog	ADJ	mali
Relju	PROPN	Relja
,	PUNCT	,
ide	VERB	ići
u	ADP	u
drugi	ADJ	drugi
razred	NOUN	razred
osnovne	ADJ	osnovni
.	PUNCT	.
Ona	PRON	ona
je	AUX	jesam
isto	ADV	isto
studirala	VERB	studirati
malo	ADV	malo
,	PUNCT	,
nije	AUX	jesam
se	PART	se
odmah	ADV	odmah
udavala	VERB	udavati
i	CCONJ	i
tako	ADV	tako
da	SCONJ	da
mogla	VERB	moći
je	AUX	jesam
imati	VERB	imati
ćerpur	NOUN	ćerpur
.	PUNCT	.
A	X	A
mala	ADJ	mali
lepotica	NOUN	lepotica
,	PUNCT	,
moja	DET	moj
Vida	PROPN	Vid
unuka	NOUN	unuka
,	PUNCT	,
njezina	DET	njezin
ćerka	NOUN	ćerka
godinu	NOUN	godina
i	CCONJ	i
po	ADP	po
dana	NOUN	dan
.	PUNCT	.
Ona	PRON	ona
ovako	ADV	ovako
dedi	NOUN	deda
da	SCONJ	da
je	AUX	jesam
poljubi	VERB	poljubiti
,	PUNCT	,
ovako	ADV	ovako
mi	PRON	ja
daje	VERB	davati
i	CCONJ	i
svakome	DET	svaki
da	SCONJ	da
je	AUX	jesam
odmah	ADV	odmah
poljube	VERB	poljubiti
.	PUNCT	.
Strašna	VERB	Strašna
su	AUX	jesam
deca	NOUN	deca
.	PUNCT	.
Tako	ADV	tako
,	PUNCT	,
ćerka	NOUN	ćerka
mi	PRON	ja
je	AUX	jesam
diplomirani	ADJ	diplomiran
inžinjer	NOUN	inžinjer
agroekonomije	NOUN	agroekonomija
,	PUNCT	,
odsek	NOUN	odsek
ne	PART	ne
znam	VERB	znati
,	PUNCT	,
neki	DET	neki
hemijski	ADJ	hemijski
,	PUNCT	,
ja	PRON	ja
mislim	VERB	misliti
.	PUNCT	.
Sada	ADV	sada
ne	PART	ne
radi	ADP	radi
svoj	DET	sav
posao	NOUN	posao
,	PUNCT	,
radi	VERB	raditi
u	ADP	u
onom	DET	onaj
Metrou	PROPN	Metrou
pišljivom	ADJ	pišljiv
,	PUNCT	,
nemačkoj	ADJ	nemački
ovoj	DET	ovaj
firmi	NOUN	firma
trgovini	NOUN	trgovina
.	PUNCT	.
Radi	ADP	radi
posao	NOUN	posao
koji	DET	koji
nema	VERB	nemati
veze	NOUN	veza
sa	ADP	sa
njezinom	DET	njezin
strukom	NOUN	struka
.	PUNCT	.
Janko	PROPN	Janka
mi	PRON	ja
je	AUX	jesam
zet	NOUN	zet
,	PUNCT	,
dobar	ADJ	dobar
.	PUNCT	.
On	PRON	on
je	AUX	jesam
elektroinžinjer	NOUN	elektroinžinjer
.	PUNCT	.
Razmišljaju	PROPN	Razmišljaju
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
im	PRON	ona
govorio	VERB	govoriti
još	ADV	još
dok	SCONJ	dok
nisu	AUX	jesam
deca	NOUN	deca
došla	VERB	doći
,	PUNCT	,
mogli	VERB	moći
su	AUX	jesam
lakše	ADV	lakše
da	SCONJ	da
odu	VERB	otići
negde	ADV	negde
za	ADP	za
inostranstvo	NOUN	inostranstvo
.	PUNCT	.
Obadvoje	NUM	obadvoje
dobri	ADJ	dobar
stručnjaci	NOUN	stručnjak
.	PUNCT	.
Ovde	ADV	ovde
su	AUX	jesam
mizerno	ADV	mizerno
plaćeni	ADJ	plaćen
,	PUNCT	,
mizerno	ADV	mizerno
,	PUNCT	,
šta	PRON	šta
će	AUX	hteti
uraditi	VERB	uraditi
.	PUNCT	.
Inače	PROPN	Inače
stanuju	VERB	stanovati
gore	ADV	gore
u	ADP	u
Vojvode	NOUN	vojvoda
Stepe	PROPN	Stepe
,	PUNCT	,
ovo	DET	ovaj
novo	ADJ	nov
naselje	NOUN	naselje
na	ADP	na
Voždovcu	PROPN	Voždovac
gore	ADV	gore
što	SCONJ	što
je	AUX	jesam
napravljeno	VERB	napraviti
.	PUNCT	.
Šta	ADV	Šta
će	AUX	hteti
uraditi	VERB	uraditi
pojma	NOUN	pojam
nemam	VERB	nemati
,	PUNCT	,
ali	CCONJ	ali
ovde	ADV	ovde
uzeli	VERB	uzeti
su	AUX	jesam
neki	DET	neki
pišljivi	ADJ	pišljiv
stan	NOUN	stan
koji	DET	koji
će	AUX	hteti
do	ADV	do
plaćati	VERB	plaćati
trideset	NUM	trideset
i	CCONJ	i
kusur	NOUN	kusur
godina	NOUN	godina
.	PUNCT	.
Ne	PART	ne
znam	VERB	znati
da	SCONJ	da
li	PART	li
će	AUX	hteti
ga	PRON	on
otplatiti	VERB	otplatiti
do	ADP	do
kraja	NOUN	kraj
,	PUNCT	,
to	DET	taj
je	AUX	jesam
katastrofa	NOUN	katastrofa
.	PUNCT	.
On	PRON	on
Janko	PROPN	Janka
,	PUNCT	,
koji	DET	koji
je	AUX	jesam
stručnjak	NOUN	stručnjak
,	PUNCT	,
pa	CCONJ	pa
on	PRON	on
bi	AUX	biti
stan	NOUN	stan
sebi	PRON	sebe
za	ADP	za
godinu	NOUN	godina
,	PUNCT	,
dve	NUM	dva
dana	NOUN	dan
bre	INTJ	bre
zaradio	VERB	zaraditi
.	PUNCT	.
On	PRON	on
može	VERB	moći
da	SCONJ	da
predaje	VERB	predavati
na	ADP	na
svakom	DET	svaki
univerzitetu	NOUN	univerzitet
u	ADP	u
inostranstvu	NOUN	inostranstvo
,	PUNCT	,
a	ADV	a
ovde	ADV	ovde
radi	ADP	radi
neki	DET	neki
posao	NOUN	posao
,	PUNCT	,
ne	PART	ne
znam	VERB	znati
.	PUNCT	.
Tako	ADV	tako
da	SCONJ	da
ovo	DET	ovaj
moraš	VERB	morati
imati	VERB	imati
u	ADP	u
vidu	NOUN	vid
,	PUNCT	,
kad	SCONJ	kad
diplomiraš	VERB	diplomirati
nemoj	VERB	moći
odmah	ADV	odmah
očekivati	VERB	očekivati
.	PUNCT	.
Da	SCONJ	da
ja	PRON	ja
kažem	VERB	kazati
mojoj	DET	moj
Mimi	PROPN	Mima
,	PUNCT	,
mojoj	DET	moj
Milici	PROPN	Milica
,	PUNCT	,
da	SCONJ	da
je	AUX	jesam
tražen	ADJ	tražen
fakultet	NOUN	fakultet
,	PUNCT	,
pre	ADV	pre
će	AUX	hteti
to	DET	taj
neko	PRON	neko
da	SCONJ	da
zauzme	VERB	zauzeti
koji	DET	koji
nema	ADJ	nem
veze	NOUN	veza
sa	ADP	sa
školom	NOUN	škola
i	CCONJ	i
nemoj	VERB	moći
očekivati	VERB	očekivati
da	SCONJ	da
ćeš	AUX	hteti
ovde	ADV	ovde
imati	VERB	imati
,	PUNCT	,
kao	CCONJ	kao
što	SCONJ	što
joj	PRON	ona
sada	ADV	sada
već	PART	već
govore	VERB	govoriti
.	PUNCT	.
Ona	PRON	ona
već	PART	već
razgovara	VERB	razgovarati
,	PUNCT	,
pošto	SCONJ	pošto
je	AUX	jesam
ona	PRON	ona
treća	ADJ	treći
godina	NOUN	godina
pri	ADP	pri
kraju	NOUN	kraj
,	PUNCT	,
već	CCONJ	već
strane	NOUN	strana
firme	NOUN	firma
su	AUX	jesam
zainteresovane	ADJ	zainteresovan
da	SCONJ	da
im	PRON	ona
ovu	DET	ovaj
godinu	NOUN	godina
daju	VERB	dati
stipendiju	NOUN	stipendija
i	CCONJ	i
da	SCONJ	da
je	AUX	jesam
odmah	ADV	odmah
prime	VERB	primiti
u	ADP	u
radni	ADJ	radni
odnos	NOUN	odnos
.	PUNCT	.
Onda	ADV	onda
ćeš	AUX	hteti
tamo	ADV	tamo
imati	VERB	imati
i	CCONJ	i
četiri	NUM	četiri
pet	NUM	pet
hiljada	NOUN	hiljada
i	CCONJ	i
dolara	NOUN	dolar
i	CCONJ	i
evra	NOUN	evro
.	PUNCT	.
Ovde	ADV	ovde
nemoj	VERB	moći
očekivati	VERB	očekivati
to	DET	taj
,	PUNCT	,
ovde	ADV	ovde
ko	PRON	ko
god	PART	god
je	AUX	jesam
pametniji	ADJ	pametan
taj	DET	taj
se	PART	se
malo	ADV	malo
ceni	NOUN	cena
,	PUNCT	,
ko	PRON	ko
je	AUX	jesam
god	PART	god
,	PUNCT	,
jer	SCONJ	jer
on	PRON	on
se	PART	se
ovi	DET	ovaj
gore	ADV	gore
nepismeni	ADJ	nepismen
,	PUNCT	,
ovi	DET	ovaj
političari	NOUN	političar
,	PUNCT	,
ovaj	DET	ovaj
ološ	NOUN	ološ
koji	DET	koji
drži	VERB	držati
ovu	DET	ovaj
državu	NOUN	država
.	PUNCT	.
Oni	PRON	oni
se	PART	se
samo	PART	samo
plaše	VERB	plašiti
,	PUNCT	,
jer	SCONJ	jer
doći	VERB	doći
će	AUX	hteti
pametniji	ADJ	pametan
od	ADP	od
njega	PRON	on
bre	INTJ	bre
i	CCONJ	i
on	PRON	on
će	AUX	hteti
ga	PRON	on
proterati	VERB	proterati
odatle	ADV	odatle
i	CCONJ	i
zato	ADV	zato
oni	PRON	oni
neće	AUX	hteti
da	SCONJ	da
zapošljavaju	VERB	zapošljavati
te	DET	taj
pametne	ADJ	pametan
ljude	NOUN	ljudi
.	PUNCT	.
Tako	ADV	tako
da	SCONJ	da
,	PUNCT	,
kad	SCONJ	kad
završiš	VERB	završiti
,	PUNCT	,
ne	PART	ne
očekuj	VERB	očekivati
neki	DET	neki
procvat	NOUN	procvat
.	PUNCT	.
Ja	PRON	ja
isto	PART	isto
ne	PART	ne
očekujem	VERB	očekivati
,	PUNCT	,
kolko	ADV	kolko
sam	AUX	jesam
trinaest	NUM	trinaest
,	PUNCT	,
četrnaest	NUM	četrnaest
godina	NOUN	godina
u	ADP	u
penziji	NOUN	penzija
,	PUNCT	,
katastrofa	NOUN	katastrofa
.	PUNCT	.
Kad	SCONJ	kad
vidiš	VERB	viditi
kolko	ADV	kolko
si	AUX	jesam
radio	NOUN	radio
i	CCONJ	i
za	ADP	za
šta	PRON	šta
si	AUX	jesam
radio	NOUN	radio
i	CCONJ	i
za	ADP	za
ovaj	DET	ovaj
ovde	ADV	ovde
centar	NOUN	centar
ja	PRON	ja
mogu	VERB	moći
da	SCONJ	da
platim	VERB	platiti
samo	PART	samo
sa	ADP	sa
dve	NUM	dva
trećine	NOUN	trećina
cene	NOUN	cena
ovog	DET	ovaj
smeštaja	NOUN	smeštaj
.	PUNCT	.
Jednu	NUM	jedan
trećinu	NOUN	trećina
mi	PRON	ja
finansira	VERB	finansirati
ćerka	NOUN	ćerka
.	PUNCT	.
Mene	PRON	ja
je	AUX	jesam
to	DET	taj
sramota	NOUN	sramota
,	PUNCT	,
da	SCONJ	da
se	PART	se
ja	PRON	ja
na	ADP	na
ćerki	NOUN	ćerka
.	PUNCT	.
Ona	PRON	ona
ima	VERB	imati
dvoje	NUM	dvoje
dece	NOUN	deca
,	PUNCT	,
plaća	VERB	plaćati
obdanište	NOUN	obdanište
,	PUNCT	,
plaća	VERB	plaćati
za	ADP	za
kola	NOUN	kola
,	PUNCT	,
kredit	NOUN	kredit
plaćaju	VERB	plaćati
za	ADP	za
stan	NOUN	stan
,	PUNCT	,
mali	ADJ	mali
u	ADP	u
produženi	ADJ	produžen
boravak	NOUN	boravak
,	PUNCT	,
to	DET	taj
je	AUX	jesam
katastrofa	NOUN	katastrofa
,	PUNCT	,
to	DET	taj
su	AUX	jesam
izdaci	NOUN	izdatak
nemogući	ADJ	nemoguć
tako	ADV	tako
da	SCONJ	da
ne	PART	ne
znam	VERB	znati
,	PUNCT	,
oni	PRON	oni
su	AUX	jesam
krivi	VERB	kriviti
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
imao	VERB	imati
šanse	NOUN	šansa
da	SCONJ	da
odem	VERB	otići
davno	ADV	davno
u	ADP	u
inostranstvo	NOUN	inostranstvo
,	PUNCT	,
u	ADP	u
Kanadu	PROPN	Kanada
.	PUNCT	.
Nisam	AUX	jesam
otišao	VERB	otići
,	PUNCT	,
bilo	AUX	biti
sve	ADV	sve
sređeno	VERB	srediti
.	PUNCT	.
Jedna	NUM	jedan
banka	NOUN	banak
me	PRON	ja
preporučila	VERB	preporučiti
odavde	ADV	odavde
,	PUNCT	,
neka	DET	neki
filijala	NOUN	filijala
kanadske	ADJ	kanadski
banke	NOUN	banak
.	PUNCT	.
Nisam	AUX	jesam
otišao	VERB	otići
i	CCONJ	i
ne	PART	ne
treba	VERB	trebati
se	PART	se
kajem	VERB	kajati
sam	AUX	jesam
sam	AUX	jesam
kriv	ADJ	kriv
,	PUNCT	,
zato	ADV	zato
oni	PRON	oni
treba	VERB	trebati
široke	ADJ	širok
za	ADP	za
stručnjake	NOUN	stručnjak
pametne	ADJ	pametan
ljude	NOUN	ljudi
.	PUNCT	.
Oterani	VERB	oterati
su	AUX	jesam
odavde	ADV	odavde
,	PUNCT	,
to	DET	taj
bez	ADP	bez
daljnjeg	ADJ	daljnji
.	PUNCT	.
Ajmo	INTJ	ajmo
,	PUNCT	,
šta	PRON	šta
ćemo	AUX	hteti
dalje	ADV	dalje
?	PUNCT	?
Ma	PART	ma
džaba	ADV	džaba
,	PUNCT	,
volio	VERB	voliti
bi	AUX	biti
ja	PRON	ja
da	SCONJ	da
imam	VERB	imati
vedrije	ADJ	vedar
teme	NOUN	tema
.	PUNCT	.
Kad	SCONJ	kad
meni	PRON	ja
kaže	VERB	kazati
oraspoloži	VERB	oraspoložiti
se	PART	se
,	PUNCT	,
ma	PART	ma
nema	VERB	nemati
šta	PRON	šta
da	SCONJ	da
mi	PRON	ja
.	PUNCT	.
Jedino	CCONJ	jedino
kad	SCONJ	kad
mi	PRON	ja
moja	DET	moj
Milica	PROPN	Milica
sedne	VERB	sesti
u	ADP	u
krilo	NOUN	krilo
,	PUNCT	,
a	ADJ	a
deda	NOUN	ded
cupkaj	VERB	cupkati
,	PUNCT	,
da	SCONJ	da
je	AUX	jesam
cupkam	VERB	cupkati
,	PUNCT	,
a	ADV	a
meni	PRON	ja
onda	ADV	onda
mi	PRON	ja
je	AUX	jesam
.	PUNCT	.
Ne	PART	ne
mislim	VERB	misliti
na	ADP	na
mnoge	ADJ	mnogi
gluposti	NOUN	glupost
.	PUNCT	.
To	DET	taj
je	AUX	jesam
toliko	ADV	toliko
,	PUNCT	,
za	ADP	za
godinu	NOUN	godina
dana	NOUN	dan
je	AUX	jesam
energično	ADJ	energičan
i	CCONJ	i
pametno	ADV	pametno
dete	NOUN	dete
da	SCONJ	da
je	AUX	jesam
to	DET	taj
i	CCONJ	i
kad	SCONJ	kad
nešto	PRON	nešto
ja	PRON	ja
uzmem	VERB	uzeti
nju	PRON	ona
,	PUNCT	,
ona	PRON	ona
trči	VERB	trčati
,	PUNCT	,
ide	VERB	ići
po	ADP	po
batu	NOUN	bat
.	PUNCT	.
Strašno	PROPN	Strašno
voli	VERB	voliti
brata	NOUN	brata
,	PUNCT	,
a	VERB	a
ona	PRON	ona
mala	ADJ	mali
,	PUNCT	,
a	ADV	a
on	PRON	on
je	AUX	jesam
nevaljao	ADJ	nevaljao
,	PUNCT	,
.	PUNCT	.
On	PRON	on
je	AUX	jesam
malo	ADV	malo
sputava	VERB	sputavati
,	PUNCT	,
kad	SCONJ	kad
on	PRON	on
radi	VERB	raditi
na	ADP	na
kompjuteru	NOUN	kompjuter
,	PUNCT	,
on	PRON	on
sve	DET	sav
vragolije	NOUN	vragolija
zna	VERB	znati
.	PUNCT	.
Ona	PRON	ona
hoće	AUX	hteti
da	SCONJ	da
i	PART	i
ona	PRON	ona
dođe	VERB	doći
i	CCONJ	i
onda	SCONJ	onda
njemu	PRON	on
smeta	VERB	smetati
.	PUNCT	.
Voli	VERB	voliti
onda	ADV	onda
da	SCONJ	da
njegove	DET	njegov
knjige	NOUN	knjiga
pregleda	VERB	pregledati
,	PUNCT	,
da	SCONJ	da
to	DET	taj
otvara	VERB	otvarati
mu	PRON	on
torbu	NOUN	torba
i	CCONJ	i
to	DET	taj
njega	PRON	on
nervira	VERB	nervirati
,	PUNCT	,
a	ADV	a
ona	PRON	ona
ništa	PRON	ništa
neće	AUX	hteti
bez	ADP	bez
njega	PRON	on
,	PUNCT	,
samo	CCONJ	samo
batu	NOUN	bat
za	ADP	za
ruku	NOUN	ruka
i	CCONJ	i
vodi	VERB	voditi
ga	PRON	on
.	PUNCT	.
Strašni	PROPN	Strašni
su	AUX	jesam
oboje	VERB	obojiti
,	PUNCT	,
iako	SCONJ	iako
su	AUX	jesam
još	ADV	još
malecki	ADJ	malecak
.	PUNCT	.
Ma	PART	ma
najveća	ADJ	velik
glupost	NOUN	glupost
,	PUNCT	,
ja	PRON	ja
to	DET	taj
nešto	PRON	nešto
bezveze	VERB	bezveze
.	PUNCT	.
Imao	VERB	imati
sam	AUX	jesam
dok	SCONJ	dok
me	PRON	ja
nisu	AUX	jesam
ove	DET	ovaj
noge	NOUN	noga
izdale	VERB	izdati
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
dugo	ADV	dugo
bio	AUX	biti
,	PUNCT	,
igrao	VERB	igrati
sam	AUX	jesam
fudbal	NOUN	fudbal
i	CCONJ	i
rukomet	NOUN	rukomet
i	CCONJ	i
to	DET	taj
je	AUX	jesam
.	PUNCT	.
Stiglo	VERB	stignuti
me	PRON	ja
godine	NOUN	godina
,	PUNCT	,
potrošene	VERB	potrošiti
noge	NOUN	noga
,	PUNCT	,
počeo	VERB	početi
sam	AUX	jesam
lagodno	ADV	lagodno
i	CCONJ	i
sad	ADV	sad
mi	PRON	ja
kao	ADV	kao
i	CCONJ	i
baš	PART	baš
pričam	VERB	pričati
s	ADP	s
ovima	DET	ovaj
Parkinsonova	ADJ	Parkinsonov
bolest	NOUN	bolest
.	PUNCT	.
Otkud	ADV	otkud
Parkinson	PROPN	Parkinson
,	PUNCT	,
to	DET	taj
dođe	VERB	doći
mu	PRON	on
prevedeno	VERB	prevesti
odumiranje	NOUN	odumiranje
tkiva	NOUN	tkivo
,	PUNCT	,
da	SCONJ	da
je	AUX	jesam
mozak	NOUN	mozak
potrošen	VERB	potrošiti
i	CCONJ	i
da	SCONJ	da
ne	PART	ne
funkcioniše	VERB	funkcionisati
kako	SCONJ	kako
treba	VERB	trebati
.	PUNCT	.
E	CCONJ	e
to	DET	taj
je	AUX	jesam
kao	ADV	kao
dijagnoza	NOUN	dijagnoza
neka	DET	neki
,	PUNCT	,
tako	ADV	tako
da	SCONJ	da
eto	PART	eto
zato	ADV	zato
sam	AUX	jesam
zaglavio	VERB	zaglaviti
u	ADP	u
bolnici	NOUN	bolnica
.	PUNCT	.
Posle	ADV	posle
sam	AUX	jesam
toga	DET	taj
došao	VERB	doći
ovde	ADV	ovde
,	PUNCT	,
šta	PRON	šta
će	AUX	hteti
biti	AUX	biti
dalje	ADV	dalje
nemam	VERB	nemati
pojma	NOUN	pojam
.	PUNCT	.
A	X	A
ovde	ADV	ovde
mi	PRON	ja
se	PART	se
ne	PART	ne
ostaje	VERB	ostajati
ni	PART	ni
slučajno	ADV	slučajno
,	PUNCT	,
ne	PART	ne
znam	VERB	znati
,	PUNCT	,
strašni	ADJ	strašan
su	AUX	jesam
međuljudski	ADJ	međuljudski
odnosi	NOUN	odnos
,	PUNCT	,
to	DET	taj
je	AUX	jesam
užas	NOUN	užas
.	PUNCT	.
Eto	PART	eto
katastrofa	NOUN	katastrofa
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
mislio	VERB	misliti
ovde	ADV	ovde
ću	AUX	hteti
naći	VERB	naći
neki	DET	neki
svoj	DET	sav
mir	NOUN	mir
.	PUNCT	.
Ja	PRON	ja
se	PART	se
ovde	ADV	ovde
više	ADV	više
nerviram	VERB	nervirati
nego	CCONJ	nego
kod	ADP	kod
kuće	NOUN	kuća
.	PUNCT	.
Nego	CCONJ	nego
ne	PART	ne
znam	VERB	znati
ti	PRON	ti
gde	ADV	gde
.	PUNCT	.
Ovde	ADV	ovde
ima	VERB	imati
svakakvih	DET	svakakav
kojima	DET	koji
nije	AUX	jesam
mesto	NOUN	mesto
ovde	ADV	ovde
nego	CCONJ	nego
u	ADP	u
Lazi	PROPN	Laza
Lazareviću	PROPN	Lazarević
i	CCONJ	i
još	ADV	još
gorim	VERB	goreti
nekim	DET	neki
centrima	NOUN	centar
.	PUNCT	.
Ovde	ADV	ovde
treba	VERB	trebati
da	SCONJ	da
dođu	VERB	doći
relativno	ADV	relativno
ljudi	NOUN	ljudi
koji	DET	koji
nisu	AUX	jesam
tolko	ADV	tolko
bolesni	ADJ	bolestan
,	PUNCT	,
razumeš	VERB	razumeti
,	PUNCT	,
da	SCONJ	da
osećaju	VERB	osećati
neki	DET	neki
,	PUNCT	,
neko	DET	neki
društvo	NOUN	društvo
,	PUNCT	,
druženje	NOUN	druženje
,	PUNCT	,
zezanje	NOUN	zezanje
,	PUNCT	,
smejanje	NOUN	smejanje
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
takav	DET	takav
čovek	NOUN	čovek
,	PUNCT	,
ja	PRON	ja
to	DET	taj
volim	VERB	voliti
,	PUNCT	,
međutim	PART	međutim
ovde	ADV	ovde
je	AUX	jesam
katastrofa	NOUN	katastrofa
.	PUNCT	.
Spavam	VERB	spavati
na	ADP	na
primer	NOUN	primer
sa	ADP	sa
dvojicom	NOUN	dvojica
u	ADP	u
sobi	NOUN	soba
,	PUNCT	,
uopšte	ADV	uopšte
ne	PART	ne
govorim	VERB	govoriti
sa	ADP	sa
njima	PRON	ona
.	PUNCT	.
Njih	PRON	ona
se	PART	se
dvojica	NOUN	dvojica
,	PUNCT	,
baš	PART	baš
ova	DET	ovaj
tu	ADV	tu
gde	SCONJ	gde
si	AUX	jesam
bila	AUX	biti
,	PUNCT	,
to	DET	taj
jednostavno	ADV	jednostavno
se	PART	se
udružili	VERB	udružiti
protiv	ADP	protiv
mene	PRON	ja
i	CCONJ	i
prave	VERB	praviti
mi	PRON	ja
smicalice	NOUN	smicalica
.	PUNCT	.
Ja	PRON	ja
to	DET	taj
otkačinjem	VERB	otkačinjem
,	PUNCT	,
ja	PRON	ja
mu	PRON	on
kažem	VERB	kazati
,	PUNCT	,
ma	PART	ma
nosite	VERB	nositi
se	PART	se
.	PUNCT	.
Ako	SCONJ	ako
je	AUX	jesam
neko	DET	neki
čovek	NOUN	čovek
prema	ADP	prema
meni	PRON	ja
,	PUNCT	,
ja	PRON	ja
ću	AUX	hteti
biti	AUX	biti
prema	ADP	prema
njemu	PRON	on
dupli	ADJ	dupli
,	PUNCT	,
ako	SCONJ	ako
je	AUX	jesam
neko	DET	neki
đubre	NOUN	đubar
otkačinjem	VERB	otkačinjem
.	PUNCT	.
Ma	PART	ma
bezveze	VERB	bezveze
,	PUNCT	,
ajmo	INTJ	ajmo
,	PUNCT	,
hoćemo	AUX	hteti
nešto	PRON	nešto
drugo	ADV	drugo
?	PUNCT	?
Nemački	PROPN	Nemački
,	PUNCT	,
ali	CCONJ	ali
već	PART	već
od	ADP	od
kad	SCONJ	kad
sam	AUX	jesam
otišao	VERB	otići
da	SCONJ	da
ne	PART	ne
radim	VERB	raditi
ostalo	VERB	ostati
je	AUX	jesam
nešto	ADV	nešto
,	PUNCT	,
ali	CCONJ	ali
pre	ADP	pre
toga	DET	taj
sam	AUX	jesam
mogao	VERB	moći
normalno	ADV	normalno
da	SCONJ	da
komuniciram	VERB	komunicirati
,	PUNCT	,
da	SCONJ	da
razgovaram	VERB	razgovarati
,	PUNCT	,
da	SCONJ	da
kontaktiram	VERB	kontaktirati
,	PUNCT	,
međutim	PART	međutim
verovatno	PART	verovatno
možda	PART	možda
i	CCONJ	i
posledica	NOUN	posledica
ovog	DET	ovaj
mozak	NOUN	mozak
što	SCONJ	što
gubi	VERB	gubiti
svoju	DET	svoj
moć	NOUN	moć
,	PUNCT	,
sad	ADV	sad
to	DET	taj
jednostavno	ADV	jednostavno
kad	SCONJ	kad
prođe	VERB	proći
dugo	ADV	dugo
zaboraviš	VERB	zaboraviti
sve	DET	sav
bre	INTJ	bre
.	PUNCT	.
Posebno	ADV	posebno
sad	ADV	sad
ovi	DET	ovaj
kompjuteri	NOUN	kompjuter
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
,	PUNCT	,
mi	PRON	ja
smo	AUX	jesam
dobili	VERB	dobiti
već	PART	već
na	ADP	na
kraju	NOUN	kraj
radnog	ADJ	radnog
veka	NOUN	vek
one	DET	onaj
najobičnije	ADJ	običan
.	PUNCT	.
Sećaš	ADV	Sećaš
se	PART	se
oni	DET	onaj
kompjuteri	NOUN	kompjuter
,	PUNCT	,
one	DET	onaj
sandučine	NOUN	sandučina
što	SCONJ	što
s	ADP	s
njima	PRON	ona
nisi	AUX	jesam
mogao	VERB	moći
si	AUX	jesam
samo	PART	samo
praviti	VERB	praviti
tabele	NOUN	tabela
neka	DET	neki
računica	NOUN	računica
sabiranje	NOUN	sabiranje
,	PUNCT	,
ništa	PRON	ništa
nisi	AUX	jesam
mogao	VERB	moći
posebno	ADV	posebno
.	PUNCT	.
E	CCONJ	e
to	DET	taj
je	AUX	jesam
nama	PRON	mi
dato	VERB	dati
maltene	ADV	maltene
godinu	NOUN	godina
dana	NOUN	dan
pred	ADP	pred
penziju	NOUN	penzija
,	PUNCT	,
da	SCONJ	da
ovo	DET	ovaj
računovodstvo	NOUN	računovodstvo
prebacimo	VERB	prebaciti
sa	ADP	sa
ručnog	ADJ	ručni
onog	DET	onaj
na	ADP	na
te	DET	taj
kompjutere	NOUN	kompjuter
tabele	NOUN	tabela
gluposti	NOUN	glupost
i	CCONJ	i
to	DET	taj
.	PUNCT	.
Tako	ADV	tako
da	SCONJ	da
,	PUNCT	,
a	ADV	a
nemački	ADJ	nemački
sam	ADJ	sam
,	PUNCT	,
to	DET	taj
sam	AUX	jesam
malo	ADV	malo
pogrešio	VERB	pogrešiti
trebao	VERB	trebati
sam	AUX	jesam
malo	ADV	malo
,	PUNCT	,
al	CCONJ	al
ko	PRON	ko
zna	VERB	znati
šta	PRON	šta
je	AUX	jesam
kolko	ADV	kolko
je	AUX	jesam
još	ADV	još
ostalo	VERB	ostati
od	ADP	od
života	NOUN	život
pa	CCONJ	pa
da	SCONJ	da
se	PART	se
proživi	VERB	proživeti
.	PUNCT	.
Šta	ADV	Šta
dalje	ADV	dalje
?	PUNCT	?
Pa	CCONJ	pa
kažem	VERB	kazati
ti	PRON	ti
kad	SCONJ	kad
sam	AUX	jesam
otišao	VERB	otići
u	ADP	u
penziju	NOUN	penzija
Ne	NOUN	Ne
,	PUNCT	,
voleo	VERB	voleti
sam	AUX	jesam
da	SCONJ	da
šetam	VERB	šetati
u	ADP	u
prirodi	NOUN	priroda
.	PUNCT	.
Obavezno	ADV	obavezno
sam	AUX	jesam
išao	VERB	ići
u	ADP	u
Košutnjak	PROPN	Košutnjak
,	PUNCT	,
onu	DET	onaj
trim	ADJ	trim
stazu	NOUN	staza
obilazio	VERB	obilaziti
sam	AUX	jesam
nonstop	NOUN	nonstop
,	PUNCT	,
inače	PART	inače
sam	AUX	jesam
radio	VERB	raditi
u	ADP	u
televiziji	NOUN	televizija
,	PUNCT	,
tu	ADV	tu
odmah	ADV	odmah
ima	VERB	imati
dom	NOUN	dom
,	PUNCT	,
znaš	VERB	znati
onaj	DET	onaj
u	ADP	u
Kneza	PROPN	Knez
Višeslava	PROPN	Višeslava
,	PUNCT	,
gde	SCONJ	gde
je	AUX	jesam
glavni	ADJ	glavni
dom	NOUN	dom
Erteesa	ADJ	Erteesa
preko	ADP	preko
puta	NOUN	put
tornja	NOUN	toranj
i	CCONJ	i
tu	DET	taj
sam	AUX	jesam
.	PUNCT	.
Međutim	VERB	Međutim
kad	SCONJ	kad
su	AUX	jesam
me	PRON	ja
ove	DET	ovaj
noge	NOUN	noga
izdale	VERB	izdati
,	PUNCT	,
vrlo	ADV	vrlo
malo	ADV	malo
,	PUNCT	,
slabo	ADV	slabo
sam	AUX	jesam
izlazio	VERB	izlaziti
,	PUNCT	,
a	ADV	a
to	DET	taj
je	AUX	jesam
opet	ADV	opet
bila	AUX	biti
,	PUNCT	,
malo	ADV	malo
nisam	AUX	jesam
smeo	VERB	smesti
naglo	ADV	naglo
pustiti	VERB	pustiti
to	DET	taj
.	PUNCT	.
Onda	ADV	onda
noge	NOUN	noga
su	AUX	jesam
još	ADV	još
više	ADV	više
oslabile	VERB	oslabiti
,	PUNCT	,
neko	PRON	neko
predlaže	VERB	predlagati
da	SCONJ	da
to	DET	taj
operišem	VERB	operisati
,	PUNCT	,
međutim	PART	međutim
,	PUNCT	,
iz	ADP	iz
mog	DET	moj
iskustva	NOUN	iskustvo
,	PUNCT	,
vidim	VERB	viditi
da	SCONJ	da
to	DET	taj
nije	AUX	jesam
neko	DET	neki
rešenje	NOUN	rešenje
i	CCONJ	i
trkeljam	VERB	trkeljati
dokle	SCONJ	dokle
ću	AUX	hteti
.	PUNCT	.
To	DET	taj
niko	PRON	niki
ne	PART	ne
zna	VERB	znati
,	PUNCT	,
ni	CCONJ	ni
ja	PRON	ja
ni	PART	ni
može	VERB	moći
to	DET	taj
prognozirati	VERB	prognozirati
i	CCONJ	i
ovo	DET	ovaj
me	PRON	ja
iznenadilo	VERB	iznenaditi
.	PUNCT	.
Početkom	PROPN	Početkom
ove	DET	ovaj
godine	NOUN	godina
,	PUNCT	,
negde	ADV	negde
kad	SCONJ	kad
ono	PRON	ono
beše	AUX	biti
,	PUNCT	,
kad	SCONJ	kad
sam	AUX	jesam
počeo	VERB	početi
kod	ADP	kod
lekara	NOUN	lekar
u	ADP	u
maju	NOUN	maj
,	PUNCT	,
junu	NOUN	jun
cap	INTJ	cap
,	PUNCT	,
ko	PRON	ko
iz	ADP	iz
vedrog	ADJ	vedar
neba	NOUN	nebo
Parkinson	PROPN	Parkinson
.	PUNCT	.
Kakav	DET	kakav
Parkinson	PROPN	Parkinson
,	PUNCT	,
koji	DET	koji
to	DET	taj
đavo	NOUN	đavo
da	SCONJ	da
mene	PRON	ja
zadesi	VERB	zadesiti
.	PUNCT	.
Hajde	INTJ	hajde
da	SCONJ	da
sam	AUX	jesam
se	PART	se
kao	ADV	kao
,	PUNCT	,
čula	VERB	čuti
si	AUX	jesam
za	ADP	za
ovog	DET	ovaj
boksera	NOUN	bokser
Kleja	PROPN	Klej
.	PUNCT	.
On	PRON	on
je	AUX	jesam
bio	AUX	biti
bokser	NOUN	bokser
,	PUNCT	,
ali	CCONJ	ali
je	AUX	jesam
on	PRON	on
dobijao	VERB	dobijati
udarce	NOUN	udarac
u	ADP	u
glavu	NOUN	glava
,	PUNCT	,
to	DET	taj
hoće	AUX	hteti
od	ADP	od
od	ADP	od
silnih	ADJ	silan
udaraca	NOUN	udarac
da	SCONJ	da
se	PART	se
poremeti	VERB	poremetiti
mozak	NOUN	mozak
.	PUNCT	.
To	DET	taj
obično	ADV	obično
stradaju	VERB	stradati
bokseri	NOUN	bokser
.	PUNCT	.
Ja	PRON	ja
kažem	VERB	kazati
,	PUNCT	,
otkud	ADV	otkud
meni	PRON	ja
nisam	AUX	jesam
se	PART	se
bavio	VERB	baviti
.	PUNCT	.
Ja	PRON	ja
ne	PART	ne
znam	VERB	znati
da	SCONJ	da
sam	AUX	jesam
ikad	ADV	ikad
dobio	VERB	dobiti
neki	DET	neki
udarac	NOUN	udarac
u	ADP	u
glavu	NOUN	glava
.	PUNCT	.
Otkud	ADV	otkud
i	CCONJ	i
tako	ADV	tako
to	DET	taj
i	CCONJ	i
sad	ADV	sad
se	PART	se
trkeljam	VERB	trkeljati
,	PUNCT	,
videću	VERB	videti
šta	PRON	šta
će	AUX	hteti
bit	NOUN	bit
bit	NOUN	bit
će	AUX	hteti
.	PUNCT	.
Ja	PRON	ja
ništa	PRON	ništa
ne	PART	ne
mogu	VERB	moći
da	SCONJ	da
promenim	VERB	promeniti
iako	SCONJ	iako
se	PART	se
ovde	ADV	ovde
kljukam	VERB	kljukati
sa	ADP	sa
nekih	DET	neki
deset	NUM	deset
lekova	NOUN	lek
svaki	DET	svaki
dan	NOUN	dan
.	PUNCT	.
Osećam	VERB	Osećam
da	SCONJ	da
mi	PRON	ja
je	AUX	jesam
želudac	NOUN	želudac
otrovan	VERB	otrovati
,	PUNCT	,
ali	CCONJ	ali
šta	PRON	šta
ću	AUX	hteti
,	PUNCT	,
uvek	ADV	uvek
izbije	VERB	izbiti
nada	NOUN	nada
.	PUNCT	.
Mislim	VERB	misliti
možda	PART	možda
će	AUX	hteti
pomoći	VERB	pomoći
,	PUNCT	,
možda	PART	možda
će	AUX	hteti
pomoći	VERB	pomoći
,	PUNCT	,
a	ADJ	a
pitanje	NOUN	pitanje
.	PUNCT	.
Hajmo	VERB	hajati
dalje	ADV	dalje
.	PUNCT	.
Pa	CCONJ	pa
šta	PRON	šta
dok	SCONJ	dok
ja	PRON	ja
inače	PART	inače
,	PUNCT	,
kad	SCONJ	kad
sam	AUX	jesam
se	PART	se
razveo	VERB	razvesti
sa	ADP	sa
gospođom	NOUN	gospođa
,	PUNCT	,
kupio	VERB	kupiti
sam	AUX	jesam
neki	DET	neki
stan	NOUN	stan
,	PUNCT	,
pošto	SCONJ	pošto
nije	AUX	jesam
bilo	AUX	biti
puno	ADJ	pun
para	NOUN	par
,	PUNCT	,
u	ADP	u
Padinskoj	ADJ	padinski
Skeli	PROPN	Skela
.	PUNCT	.
Čula	PROPN	Čule
si	AUX	jesam
za	ADP	za
to	DET	taj
,	PUNCT	,
jednoiposoban	ADJ	jednoiposoban
stan	NOUN	stan
i	CCONJ	i
tamo	ADV	tamo
mi	PRON	ja
je	AUX	jesam
unuka	NOUN	unuka
dolazila	VERB	dolaziti
,	PUNCT	,
Mimi	PROPN	Mima
.	PUNCT	.
Bila	AUX	biti
tad	ADV	tad
dve	NUM	dva
,	PUNCT	,
tri	NUM	tri
godine	NOUN	godina
i	CCONJ	i
tamo	ADV	tamo
ima	VERB	imati
lepe	ADJ	lep
prirode	NOUN	priroda
,	PUNCT	,
zelenila	NOUN	zelenilo
.	PUNCT	.
Padinska	ADJ	padinski
Skela	PROPN	Skela
mislim	VERB	misliti
stvarno	ADV	stvarno
je	AUX	jesam
lepa	ADJ	lep
,	PUNCT	,
iako	SCONJ	iako
joj	PRON	ona
samo	PART	samo
zvanje	NOUN	zvanje
ne	PART	ne
valja	VERB	valjati
,	PUNCT	,
Padinska	ADJ	padinski
.	PUNCT	.
Kaže	ADJ	Kaže
,	PUNCT	,
gde	SCONJ	gde
ideš	VERB	ići
,	PUNCT	,
idem	VERB	ići
u	ADP	u
Padinjak	PROPN	Padinjak
.	PUNCT	.
Tu	ADV	tu
ima	VERB	imati
i	CCONJ	i
zatvor	NOUN	zatvor
i	CCONJ	i
novi	ADJ	nov
su	AUX	jesam
sagradili	VERB	sagraditi
zatvor	NOUN	zatvor
koji	DET	koji
je	AUX	jesam
kao	ADV	kao
najluksuzniji	ADJ	luksuzan
hotel	NOUN	hotel
.	PUNCT	.
I	CCONJ	i
voleo	VERB	voleti
sam	AUX	jesam
s	ADP	s
njom	PRON	ona
i	CCONJ	i
da	SCONJ	da
idem	VERB	ići
u	ADP	u
šetnju	NOUN	šetnja
.	PUNCT	.
Idemo	VERB	ići
,	PUNCT	,
hajmo	VERB	hajati
deda	NOUN	ded
da	SCONJ	da
mi	PRON	ja
beremo	VERB	brati
cveće	NOUN	cveće
,	PUNCT	,
travice	NOUN	travica
,	PUNCT	,
kuvamo	VERB	kuvati
ručak	NOUN	ručak
,	PUNCT	,
sve	ADV	sve
u	ADP	u
prirodi	NOUN	priroda
.	PUNCT	.
To	DET	taj
mi	PRON	ja
je	AUX	jesam
ostalo	VERB	ostati
,	PUNCT	,
međutim	PART	međutim
,	PUNCT	,
posle	ADP	posle
toga	DET	taj
sin	NOUN	sin
ode	VERB	otići
za	ADP	za
Ameriku	PROPN	Amerika
.	PUNCT	.
Oni	PRON	oni
su	AUX	jesam
bili	AUX	biti
najpre	ADV	najpre
na	ADP	na
Banovom	ADJ	Banov
brdu	NOUN	brdo
,	PUNCT	,
sad	ADV	sad
su	AUX	jesam
u	ADP	u
Žarkovu	PROPN	Žarkovo
,	PUNCT	,
nemaju	VERB	nemati
stan	NOUN	stan
,	PUNCT	,
podstanari	NOUN	podstanar
.	PUNCT	.
Ovaj	DET	ovaj
stan	NOUN	stan
u	ADP	u
Padinskoj	ADJ	padinski
Skeli	PROPN	Skela
je	AUX	jesam
prazan	ADJ	prazan
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
tu	ADV	tu
stanovao	VERB	stanovati
.	PUNCT	.
Ne	PART	ne
znam	VERB	znati
,	PUNCT	,
njima	PRON	ona
se	PART	se
tamo	ADV	tamo
ne	PART	ne
ide	VERB	ići
i	CCONJ	i
oni	PRON	oni
planiraju	VERB	planirati
.	PUNCT	.
Ona	PRON	ona
je	AUX	jesam
,	PUNCT	,
inače	PART	inače
mi	PRON	ja
je	AUX	jesam
snaja	NOUN	snaja
sad	ADV	sad
u	ADP	u
ovom	DET	ovaj
ratu	NOUN	rat
sa	ADP	sa
u	ADP	u
Hrvatskoj	PROPN	Hrvatska
proterana	VERB	proterati
,	PUNCT	,
znači	VERB	značiti
izbeglica	NOUN	izbeglica
.	PUNCT	.
Moj	DET	moj
se	PART	se
sin	NOUN	sin
zaljubio	VERB	zaljubiti
,	PUNCT	,
iako	SCONJ	iako
je	AUX	jesam
i	CCONJ	i
ovde	ADV	ovde
imao	VERB	imati
devojaka	NOUN	devojka
.	PUNCT	.
Kolko	ADV	kolko
je	AUX	jesam
mislim	VERB	misliti
lep	ADJ	lep
dečko	NOUN	dečko
i	CCONJ	i
sve	DET	sav
,	PUNCT	,
nije	AUX	jesam
mi	PRON	ja
ni	PART	ni
loša	ADJ	loš
snaja	NOUN	snaja
,	PUNCT	,
dobra	ADJ	dobar
je	AUX	jesam
,	PUNCT	,
dobra	ADJ	dobar
majka	NOUN	majka
,	PUNCT	,
dobra	ADJ	dobar
domaćica	NOUN	domaćica
ali	CCONJ	ali
ne	PART	ne
radi	VERB	raditi
.	PUNCT	.
On	PRON	on
čas	ADV	čas
pošalje	VERB	poslati
,	PUNCT	,
čas	ADV	čas
nema	VERB	nemati
ni	PART	ni
tamo	ADV	tamo
posla	VERB	poslati
,	PUNCT	,
kada	SCONJ	kada
ima	VERB	imati
posla	NOUN	posao
on	PRON	on
radi	VERB	raditi
i	CCONJ	i
pošalje	VERB	poslati
kad	SCONJ	kad
nema	VERB	nemati
,	PUNCT	,
nema	VERB	nemati
,	PUNCT	,
ne	PART	ne
može	VERB	moći
da	SCONJ	da
stvori	VERB	stvoriti
,	PUNCT	,
ne	PART	ne
može	VERB	moći
da	SCONJ	da
padne	VERB	pasti
sa	ADP	sa
neba	NOUN	nebo
,	PUNCT	,
tako	ADV	tako
da	SCONJ	da
to	DET	taj
nismo	AUX	jesam
.	PUNCT	.
Nije	AUX	jesam
mi	PRON	ja
ni	PART	ni
sve	ADV	sve
sređeno	VERB	srediti
,	PUNCT	,
bar	PART	bar
delimično	ADV	delimično
kako	SCONJ	kako
bi	AUX	biti
trebalo	VERB	trebati
,	PUNCT	,
tako	ADV	tako
da	SCONJ	da
mi	PRON	ja
to	DET	taj
vrši	VERB	vršiti
strašno	ADV	strašno
opterećenje	NOUN	opterećenje
.	PUNCT	.
Opterećen	VERB	Opterećen
sam	AUX	jesam
sa	ADP	sa
time	DET	taj
.	PUNCT	.
Noćima	PROPN	Noćima
mi	PRON	ja
dođe	VERB	doći
u	ADP	u
san	NOUN	san
,	PUNCT	,
ne	PART	ne
mogu	VERB	moći
da	SCONJ	da
spavam	VERB	spavati
,	PUNCT	,
strašno	ADV	strašno
.	PUNCT	.
Bar	PART	bar
da	SCONJ	da
sam	AUX	jesam
zamisli	VERB	zamisliti
.	PUNCT	.
A	X	A
on	PRON	on
je	AUX	jesam
već	PART	već
osam	NUM	osam
godina	NOUN	godina
tamo	ADV	tamo
,	PUNCT	,
mala	ADJ	mali
Maja	PROPN	Maja
je	AUX	jesam
bila	AUX	biti
devojčica	NOUN	devojčica
ovolika	ADJ	ovolik
,	PUNCT	,
ona	PRON	ona
sad	ADV	sad
devojka	NOUN	devojka
.	PUNCT	.
Nije	AUX	jesam
video	VERB	videti
decu	NOUN	deca
,	PUNCT	,
ne	PART	ne
sme	VERB	smesti
da	SCONJ	da
dođe	VERB	doći
jer	SCONJ	jer
ne	PART	ne
može	VERB	moći
da	SCONJ	da
se	PART	se
vrati	VERB	vratiti
.	PUNCT	.
Ima	VERB	imati
onaj	DET	onaj
na	ADP	na
faktički	ADV	faktički
na	ADP	na
crno	ADJ	crn
kako	SCONJ	kako
oni	PRON	oni
kažu	VERB	kazati
taj	DET	taj
neki	DET	neki
zeleni	ADJ	zelen
karton	NOUN	karton
i	CCONJ	i
ne	PART	ne
bi	AUX	biti
posle	ADV	posle
i	CCONJ	i
onda	ADV	onda
sad	ADV	sad
šta	PRON	šta
će	AUX	hteti
biti	AUX	biti
nemam	VERB	nemati
pojma	NOUN	pojam
.	PUNCT	.
On	PRON	on
čas	ADV	čas
govori	VERB	govoriti
da	SCONJ	da
će	AUX	hteti
doći	VERB	doći
,	PUNCT	,
šta	PRON	šta
će	AUX	hteti
doći	VERB	doći
ovde	ADV	ovde
,	PUNCT	,
šta	PRON	šta
će	AUX	hteti
da	SCONJ	da
radi	VERB	raditi
ovde	ADV	ovde
,	PUNCT	,
gde	SCONJ	gde
će	AUX	hteti
da	SCONJ	da
se	PART	se
zaposli	VERB	zaposliti
ne	PART	ne
znam	VERB	znati
.	PUNCT	.
Ne	PART	ne
voli	VERB	voliti
da	SCONJ	da
se	PART	se
bavi	VERB	baviti
politikom	NOUN	politika
.	PUNCT	.
Ovde	ADV	ovde
samo	PART	samo
može	VERB	moći
politikom	NOUN	politika
,	PUNCT	,
da	SCONJ	da
imaš	VERB	imati
knjižicu	NOUN	knjižica
koje	DET	koji
si	AUX	jesam
stranke	NOUN	stranka
član	NOUN	član
.	PUNCT	.
Ja	PRON	ja
mislim	VERB	misliti
da	SCONJ	da
vi	PRON	vi
mladi	ADJ	mlad
,	PUNCT	,
da	SCONJ	da
vi	PRON	vi
sve	DET	sav
to	DET	taj
znate	VERB	znati
,	PUNCT	,
samo	CCONJ	samo
to	DET	taj
.	PUNCT	.
Inače	VERB	Inače
džaba	ADV	džaba
ti	DET	taj
fakulteti	NOUN	fakultet
,	PUNCT	,
džaba	ADV	džaba
ti	DET	taj
pamet	NOUN	pamet
,	PUNCT	,
džaba	ADV	džaba
ti	PRON	ti
sve	ADV	sve
,	PUNCT	,
samo	CCONJ	samo
u	ADP	u
kojoj	DET	koji
si	AUX	jesam
partiji	NOUN	partija
i	CCONJ	i
kako	SCONJ	kako
slušaš	VERB	slušati
gazdu	NOUN	gazda
,	PUNCT	,
kako	SCONJ	kako
se	PART	se
kaže	VERB	kazati
.	PUNCT	.
A	X	A
to	DET	taj
su	AUX	jesam
obično	ADV	obično
koji	DET	koji
su	AUX	jesam
ostali	VERB	ostati
vode	VERB	voditi
tu	DET	taj
politiku	NOUN	politika
i	CCONJ	i
te	DET	taj
partije	NOUN	partija
,	PUNCT	,
to	DET	taj
su	AUX	jesam
nesposobni	ADJ	nesposoban
ljudi	NOUN	ljudi
,	PUNCT	,
ti	DET	taj
nikad	ADV	nikad
ništa	PRON	ništa
nisu	AUX	jesam
radili	VERB	raditi
.	PUNCT	.
Nek	SCONJ	nek
mi	PRON	ja
pokaže	VERB	pokazati
svaki	DET	svaki
od	ADP	od
njih	PRON	ona
radničku	ADJ	radnički
knižicu	NOUN	knižicu
gde	SCONJ	gde
je	AUX	jesam
bio	AUX	biti
zaposlen	ADJ	zaposlen
.	PUNCT	.
Stalno	ADV	stalno
je	AUX	jesam
isto	ADV	isto
radio	NOUN	radio
što	SCONJ	što
i	PART	i
sad	ADV	sad
radi	VERB	raditi
i	CCONJ	i
od	ADP	od
toga	DET	taj
vrlo	ADV	vrlo
lepo	ADV	lepo
živi	VERB	živiti
ovde	ADV	ovde
.	PUNCT	.
E	CCONJ	e
šta	PRON	šta
da	SCONJ	da
ti	PRON	ti
pričam	VERB	pričati
,	PUNCT	,
to	DET	taj
verovatno	PART	verovatno
znaš	VERB	znati
,	PUNCT	,
a	VERB	a
i	CCONJ	i
znaćeš	VERB	znati
kad	SCONJ	kad
završiš	VERB	završiti
videćeš	VERB	videti
,	PUNCT	,
jer	SCONJ	jer
ovde	ADV	ovde
se	PART	se
,	PUNCT	,
kakav	DET	kakav
je	AUX	jesam
mentalitet	NOUN	mentalitet
naroda	NOUN	narod
i	CCONJ	i
ovih	DET	ovaj
,	PUNCT	,
nikad	ADV	nikad
se	PART	se
ništa	ADV	ništa
promeniti	VERB	promeniti
neće	AUX	hteti
da	SCONJ	da
bi	AUX	biti
moglo	VERB	moći
da	SCONJ	da
živiš	VERB	živiti
.	PUNCT	.
Još	ADV	Još
u	ADP	u
moje	DET	moj
vreme	NOUN	vreme
,	PUNCT	,
kad	SCONJ	kad
sam	AUX	jesam
ja	PRON	ja
završio	VERB	završiti
šezdeset	NUM	šezdeset
-	PUNCT	-
sedme	ADJ	sedmi
godine	NOUN	godina
,	PUNCT	,
onda	ADV	onda
je	AUX	jesam
godišnje	ADV	godišnje
primalo	VERB	primati
.	PUNCT	.
Ja	PRON	ja
kad	SCONJ	kad
sam	AUX	jesam
upisivao	VERB	upisivati
šezdeset	NUM	šezdeset
-	PUNCT	-
treće	ADJ	treći
godine	NOUN	godina
,	PUNCT	,
završio	VERB	završiti
šezdeset	NUM	šezdeset
znači	VERB	značiti
u	ADP	u
regularnom	ADJ	regularan
roku	NOUN	rok
četiri	NUM	četiri
godine	NOUN	godina
,	PUNCT	,
žurio	VERB	žuriti
sam	AUX	jesam
da	SCONJ	da
što	PRON	što
pre	ADV	pre
dođem	VERB	doći
do	ADP	do
posla	NOUN	posao
.	PUNCT	.
Primalo	VERB	primati
je	AUX	jesam
petsto	NUM	petsto
redovnih	ADJ	redovan
i	CCONJ	i
petsto	NUM	petsto
vanrednih	ADJ	vanredan
studenata	NOUN	student
samo	PART	samo
Beograd	PROPN	Beograd
a	VERB	a
gde	SCONJ	gde
je	AUX	jesam
Kragujevački	ADJ	Kragujevački
Univerzitet	NOUN	univerzitet
gde	SCONJ	gde
je	AUX	jesam
Niški	ADJ	Niški
gde	SCONJ	gde
je	AUX	jesam
Subotički	ADJ	Subotički
gde	SCONJ	gde
je	AUX	jesam
Novosadski	ADJ	novosadski
.	PUNCT	.
Isto	ADV	isto
Ekonomski	ADJ	ekonomski
fakultet	NOUN	fakultet
.	PUNCT	.
Pa	CCONJ	pa
mi	PRON	ja
tih	DET	taj
ekonomista	NOUN	ekonomista
možemo	VERB	moći
da	SCONJ	da
izvozimo	VERB	izvoziti
,	PUNCT	,
a	ADV	a
tako	ADV	tako
je	AUX	jesam
i	CCONJ	i
sa	ADP	sa
svim	DET	sav
drugim	ADJ	drugi
zanimanjima	NOUN	zanimanje
,	PUNCT	,
ništa	PRON	ništa
nije	AUX	jesam
bolje	ADV	bolje
.	PUNCT	.
Školujemo	VERB	Školujemo
ljude	NOUN	ljudi
za	ADP	za
inostranstvo	NOUN	inostranstvo
,	PUNCT	,
ništa	PRON	ništa
više	ADV	više
tako	ADV	tako
da	SCONJ	da
.	PUNCT	.
Pa	CCONJ	pa
moram	VERB	morati
da	SCONJ	da
ti	PRON	ti
kažem	VERB	kazati
onako	ADV	onako
kako	SCONJ	kako
jeste	AUX	jesam
,	PUNCT	,
ništa	PRON	ništa
ne	PART	ne
uveličavam	VERB	uveličavati
nit	CCONJ	nit
umanjujem	VERB	umanjivati
.	PUNCT	.
Takva	DET	takav
je	AUX	jesam
situacija	NOUN	situacija
,	PUNCT	,
krivo	ADV	krivo
mi	PRON	ja
je	AUX	jesam
što	SCONJ	što
mi	PRON	ja
nije	AUX	jesam
porodica	NOUN	porodica
na	ADP	na
okupu	NOUN	okup
i	CCONJ	i
ćerka	NOUN	ćerka
i	CCONJ	i
zet	NOUN	zet
i	CCONJ	i
sin	NOUN	sin
i	CCONJ	i
snaja	NOUN	snaja
,	PUNCT	,
tako	ADV	tako
sam	AUX	jesam
zamišljao	VERB	zamišljati
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
najpre	ADV	najpre
na	ADP	na
Ceraku	PROPN	Cerak
stanovao	VERB	stanovati
,	PUNCT	,
imao	VERB	imati
sam	AUX	jesam
sto	NUM	sto
-	PUNCT	-
dvadeset	NUM	dvadeset
kvadrata	NOUN	kvadrat
stan	NOUN	stan
dok	SCONJ	dok
sam	AUX	jesam
bio	AUX	biti
sa	ADP	sa
ženom	NOUN	žena
.	PUNCT	.
Njoj	PRON	ona
neki	DET	neki
crvi	NOUN	crv
pojeli	VERB	pojesti
mozak	NOUN	mozak
,	PUNCT	,
odjedared	ADV	odjedared
ženska	ADJ	ženski
maltene	ADV	maltene
skrenula	VERB	skrenuti
,	PUNCT	,
šta	PRON	šta
je	AUX	jesam
bilo	AUX	biti
nemam	VERB	nemati
pojma	NOUN	pojam
i	CCONJ	i
to	DET	taj
puklo	VERB	puknuti
i	CCONJ	i
svako	PRON	svako
na	ADP	na
svoju	DET	svoj
stranu	NOUN	strana
,	PUNCT	,
hajmo	VERB	hajati
dalje	ADV	dalje
.	PUNCT	.
Šta	ADV	Šta
te	PRON	ti
interesuje	VERB	interesovati
?	PUNCT	?
Ne	PART	ne
znam	VERB	znati
šta	PRON	šta
bih	AUX	biti
pozitivno	ADV	pozitivno
.	PUNCT	.
Ma	PART	ma
kakvi	ADV	kakvi
,	PUNCT	,
kada	SCONJ	kada
ti	PRON	ti
dođe	VERB	doći
ova	DET	ovaj
muka	NOUN	muka
i	CCONJ	i
ovi	DET	ovaj
problemi	NOUN	problem
nije	AUX	jesam
ti	PRON	ti
do	ADP	do
muzike	NOUN	muzika
i	CCONJ	i
sad	ADV	sad
ove	DET	ovaj
proslave	NOUN	proslava
,	PUNCT	,
ja	PRON	ja
kažem	VERB	kazati
zaobiđite	VERB	zaobići
me	PRON	ja
slobodni	ADJ	slobodan
ste	AUX	jesam
doviđenja	INTJ	doviđenja
.	PUNCT	.
Slušam	VERB	Slušam
normalno	ADV	normalno
,	PUNCT	,
volim	VERB	voliti
dobru	NOUN	dobra
,	PUNCT	,
ne	PART	ne
ove	DET	ovaj
grandove	ADJ	grandove
ove	DET	ovaj
Saše	PROPN	Saša
Popovića	PROPN	Popović
,	PUNCT	,
one	DET	onaj
devojčice	NOUN	devojčica
šta	PRON	šta
im	PRON	ona
rade	VERB	raditi
.	PUNCT	.
Njega	PRON	on
bih	AUX	biti
prvo	ADV	prvo
uhapsio	VERB	uhapsiti
,	PUNCT	,
lopov	NOUN	lopov
,	PUNCT	,
napljačkao	VERB	napljačkati
se	PART	se
.	PUNCT	.
Volim	VERB	voliti
dobru	ADJ	dobar
narodnu	ADJ	narodni
muziku	NOUN	muzika
,	PUNCT	,
na	ADP	na
primer	NOUN	primer
Tozovac	PROPN	Tozovac
,	PUNCT	,
Lepa	PROPN	Lepa
Lukić	PROPN	Lukić
,	PUNCT	,
Miroslav	PROPN	Miroslav
Ilić	PROPN	Ilić
,	PUNCT	,
ova	DET	ovaj
braća	NOUN	braća
Matići	PROPN	Matić
,	PUNCT	,
ovi	DET	ovaj
što	PRON	što
su	AUX	jesam
slepi	VERB	slepiti
.	PUNCT	.
Volim	VERB	voliti
dobru	ADJ	dobar
muziku	NOUN	muzika
,	PUNCT	,
inače	PART	inače
svaki	DET	svaki
šljam	NOUN	šljam
me	PRON	ja
nervira	VERB	nervirati
da	SCONJ	da
jer	SCONJ	jer
i	PART	i
u	ADP	u
okviru	NOUN	okvir
kod	ADP	kod
mene	PRON	ja
na	ADP	na
televiziji	NOUN	televizija
ja	PRON	ja
sam	AUX	jesam
vodio	VERB	voditi
i	CCONJ	i
pegeepeovu	ADJ	pegeepeovu
produkciju	NOUN	produkcija
,	PUNCT	,
što	SCONJ	što
je	AUX	jesam
u	ADP	u
Košutnjaku	PROPN	Košutnjak
i	CCONJ	i
imao	VERB	imati
sam	DET	sam
kontakta	NOUN	kontakt
sa	ADP	sa
tim	DET	taj
ljudima	NOUN	ljudi
kad	SCONJ	kad
sklapamo	VERB	sklapati
ugovore	NOUN	ugovor
.	PUNCT	.
Snimao	VERB	snimati
sam	AUX	jesam
i	CCONJ	i
pevače	NOUN	pevač
i	CCONJ	i
dalje	ADV	dalje
pegepe	VERB	pegepe
dobro	ADV	dobro
stoji	VERB	stajati
.	PUNCT	.
Funkcioniše	VERB	Funkcioniše
odlično	ADV	odlično
tako	ADV	tako
da	SCONJ	da
to	DET	taj
mnoge	ADJ	mnogi
.	PUNCT	.
Išao	VERB	Išao
sam	AUX	jesam
najpre	ADV	najpre
jedno	NUM	jedan
godinu	NOUN	godina
,	PUNCT	,
dve	NUM	dva
,	PUNCT	,
tri	NUM	tri
dana	NOUN	dan
imali	VERB	imati
smo	AUX	jesam
zakazano	VERB	zakazati
na	ADP	na
Banjici	PROPN	Banjica
onom	DET	onaj
sportskom	ADJ	sportski
centru	NOUN	centar
mali	ADJ	mali
fudbal	NOUN	fudbal
.	PUNCT	.
Išao	VERB	Išao
sam	AUX	jesam
dok	SCONJ	dok
su	AUX	jesam
me	PRON	ja
držale	VERB	držati
noge	NOUN	noga
,	PUNCT	,
međutim	PART	međutim
kad	SCONJ	kad
je	AUX	jesam
počelo	VERB	početi
da	SCONJ	da
kleca	VERB	klecati
,	PUNCT	,
rekao	VERB	reći
sam	AUX	jesam
ljudi	NOUN	ljudi
ja	PRON	ja
više	ADV	više
.	PUNCT	.
Sastajali	VERB	sastajati
smo	AUX	jesam
se	PART	se
najmanje	ADV	najmanje
nedeljno	ADV	nedeljno
dva	NUM	dva
puta	NOUN	put
i	CCONJ	i
održavao	VERB	održavati
sam	AUX	jesam
tu	DET	taj
kondiciju	NOUN	kondicija
međutim	PART	međutim
i	CCONJ	i
oni	PRON	oni
se	PART	se
začudili	VERB	začuditi
što	SCONJ	što
me	PRON	ja
nema	VERB	nemati
i	CCONJ	i
ja	PRON	ja
kažem	VERB	kazati
nema	ADJ	nem
šanse	NOUN	šansa
više	ADV	više
gotovo	ADV	gotovo
je	AUX	jesam
sa	ADP	sa
igranjem	NOUN	igranje
,	PUNCT	,
rekreacijom	NOUN	rekreacija
.	PUNCT	.
E	INTJ	e
tako	ADV	tako
to	DET	taj
i	CCONJ	i
ali	CCONJ	ali
naglo	ADV	naglo
sam	AUX	jesam
prestao	VERB	prestati
,	PUNCT	,
trebao	VERB	trebati
sam	AUX	jesam
bar	PART	bar
ići	VERB	ići
malo	ADV	malo
brže	ADV	brže
neke	DET	neki
šetnje	NOUN	šetnja
,	PUNCT	,
opet	ADV	opet
otići	VERB	otići
u	ADP	u
Košutnjak	PROPN	Košutnjak
pa	CCONJ	pa
trim	ADJ	trim
stazom	NOUN	staza
,	PUNCT	,
ne	PART	ne
protrčati	VERB	protrčati
nego	CCONJ	nego
onako	ADV	onako
brže	ADV	brže
hodati	VERB	hodati
.	PUNCT	.
A	X	A
onda	SCONJ	onda
ovo	DET	ovaj
stisle	VERB	stisnuti
te	DET	taj
muke	NOUN	muka
sa	ADP	sa
svih	DET	sav
strana	NOUN	strana
i	CCONJ	i
onda	ADV	onda
nemaš	VERB	nemati
volju	NOUN	volja
razumeš	VERB	razumeti
i	CCONJ	i
ako	SCONJ	ako
odem	VERB	otići
gore	ADV	gore
sednem	VERB	sesti
i	CCONJ	i
gledam	VERB	gledati
na	ADP	na
onim	DET	onaj
terenima	NOUN	teren
gde	SCONJ	gde
igraju	VERB	igrati
fudbal	NOUN	fudbal
sednem	VERB	sesti
i	CCONJ	i
posmatram	VERB	posmatrati
druge	ADJ	drugi
kako	SCONJ	kako
igraju	VERB	igrati
.	PUNCT	.
Ja	PRON	ja
ne	PART	ne
mogu	VERB	moći
više	ADV	više
,	PUNCT	,
gotovo	ADV	gotovo
je	AUX	jesam
,	PUNCT	,
a	ADV	a
i	CCONJ	i
sedamdeset	NUM	sedamdeset
-	PUNCT	-
šest	NUM	šest
godina	NOUN	godina
,	PUNCT	,
nije	AUX	jesam
nisu	AUX	jesam
to	DET	taj
male	ADJ	mali
godine	NOUN	godina
,	PUNCT	,
to	DET	taj
su	AUX	jesam
ozbiljne	ADJ	ozbiljan
godine	NOUN	godina
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
Da	SCONJ	da
ti	PRON	ti
nisi	AUX	jesam
iz	ADP	iz
neke	DET	neki
stranke	NOUN	stranka
?	PUNCT	?
Kolko	PROPN	Kolka
imaš	VERB	imati
godina	NOUN	godina
?	PUNCT	?
Pa	CCONJ	pa
ti	DET	taj
si	AUX	jesam
generacija	NOUN	generacija
moje	DET	moj
Milice	PROPN	Milica
.	PUNCT	.
Ona	PRON	ona
je	AUX	jesam
devedeset	NUM	devedeset
-	PUNCT	-
šesto	ADJ	šesti
godište	NOUN	godište
.	PUNCT	.
Ti	PRON	ti
kažeš	VERB	kazati
da	SCONJ	da
si	AUX	jesam
išla	VERB	ići
u	ADP	u
Trinaestu	ADJ	trinaesti
.	PUNCT	.
Pa	CCONJ	pa
možda	PART	možda
si	AUX	jesam
znala	VERB	znati
moju	DET	moj
Mimiju	PROPN	Mimiju
.	PUNCT	.
Mimi	PROPN	Mima
visoka	ADJ	visok
metar	NOUN	metar
i	CCONJ	i
ne	PART	ne
znam	VERB	znati
,	PUNCT	,
ne	PART	ne
mogu	VERB	moći
da	SCONJ	da
.	PUNCT	.
