Milenković	PROPN	Milenković
Veselinka	PROPN	Veselinka
.	PUNCT	.
Ja	PRON	ja
imam	VERB	imati
šezdeset	NUM	šezdeset
i	CCONJ	i
dve	NUM	dva
.	PUNCT	.
Sad	ADV	sad
ću	AUX	hteti
šezdeset	NUM	šezdeset
i	CCONJ	i
tri	NUM	tri
.	PUNCT	.
U	ADP	u
selu	NOUN	selo
Šljivovik	PROPN	Šljivovik
,	PUNCT	,
Bela	PROPN	Bela
Palanka	PROPN	Palanka
.	PUNCT	.
Tamo	ADV	tamo
sam	AUX	jesam
bila	AUX	biti
tamo	ADV	tamo
sam	AUX	jesam
stanovala	VERB	stanovati
do	ADP	do
šesnaeste	ADJ	šesnaesti
godine	NOUN	godina
,	PUNCT	,
a	ADV	a
posle	ADV	posle
u	ADP	u
Beogradu	PROPN	Beograd
.	PUNCT	.
Sve	DET	sav
vreme	NOUN	vreme
sam	AUX	jesam
ovde	ADV	ovde
u	ADP	u
Beogradu	PROPN	Beograd
.	PUNCT	.
Bolje	ADV	bolje
mi	PRON	ja
je	AUX	jesam
ovde	ADV	ovde
.	PUNCT	.
Da	SCONJ	da
.	PUNCT	.
Jeste	INTJ	jeste
,	PUNCT	,
udata	VERB	udati
sam	AUX	jesam
,	PUNCT	,
muž	NOUN	muž
mi	PRON	ja
je	AUX	jesam
umro	VERB	umreti
pre	ADP	pre
godinu	NOUN	godina
i	CCONJ	i
po	ADP	po
dana	NOUN	dan
.	PUNCT	.
Imam	VERB	imati
dvoje	NUM	dvoje
dece	NOUN	deca
.	PUNCT	.
Dva	NUM	dva
sina	NOUN	sin
imam	VERB	imati
.	PUNCT	.
Imam	VERB	imati
tri	NUM	tri
unučića	NOUN	unučić
.	PUNCT	.
Jedno	NUM	jedan
žensko	ADJ	ženski
i	CCONJ	i
dva	NUM	dva
muška	NOUN	muško
.	PUNCT	.
Ova	DET	ovaj
Mina	PROPN	Mina
Andrija	PROPN	Andrija
i	CCONJ	i
Filip	PROPN	Filip
.	PUNCT	.
Ovaj	DET	ovaj
mali	ADJ	mali
ima	VERB	imati
četiri	NUM	četiri
godine	NOUN	godina
,	PUNCT	,
Mina	PROPN	Mina
šest	NUM	šest
,	PUNCT	,
a	NOUN	a
ovaj	DET	ovaj
stariji	ADJ	star
sedam	NUM	sedam
.	PUNCT	.
Da	SCONJ	da
,	PUNCT	,
imam	VERB	imati
sina	NOUN	sin
Bojana	PROPN	Bojana
to	DET	taj
je	AUX	jesam
stariji	ADJ	star
,	PUNCT	,
mladji	VERB	mladji
je	AUX	jesam
Dejan	PROPN	Dejan
Milenković	PROPN	Milenković
.	PUNCT	.
Ruski	PROPN	Ruska
znam	VERB	znati
iz	ADP	iz
škole	NOUN	škola
.	PUNCT	.
Bila	AUX	biti
sam	AUX	jesam
spremačica	NOUN	spremačica
,	PUNCT	,
nisam	AUX	jesam
imala	VERB	imati
osmogodišnju	ADJ	osmogodišnji
školu	NOUN	škola
pa	CCONJ	pa
sam	AUX	jesam
završila	VERB	završiti
večernju	ADJ	večernji
školu	NOUN	škola
.	PUNCT	.
E	CCONJ	e
posle	ADV	posle
sam	AUX	jesam
kao	ADV	kao
spremačica	NOUN	spremačica
radila	VERB	raditi
.	PUNCT	.
Radila	VERB	raditi
sam	AUX	jesam
na	ADP	na
sajmu	NOUN	sajam
,	PUNCT	,
u	ADP	u
onim	DET	onaj
halama	NOUN	hala
i	CCONJ	i
u	ADP	u
gradskom	ADJ	gradski
-	PUNCT	-
stambenom	ADJ	stambeni
,	PUNCT	,
stepenice	NOUN	stepenica
prala	VERB	prati
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
Nikad	ADV	nikad
nisam	AUX	jesam
.	PUNCT	.
Ne	PART	ne
,	PUNCT	,
ne	PART	ne
,	PUNCT	,
ništa	ADV	ništa
.	PUNCT	.
Desnom	ADJ	desni
.	PUNCT	.
Pa	CCONJ	pa
ponekad	ADV	ponekad
kad	SCONJ	kad
mi	PRON	ja
dođe	VERB	doći
do	ADP	do
ruke	NOUN	ruka
ja	PRON	ja
pročitam	VERB	pročitati
.	PUNCT	.
Pa	CCONJ	pa
u	ADP	u
mladosti	NOUN	mladost
da	SCONJ	da
jesam	AUX	jesam
.	PUNCT	.
Pa	CCONJ	pa
jeste	AUX	jesam
tu	ADV	tu
ne	PART	ne
znam	VERB	znati
.	PUNCT	.
Da	SCONJ	da
imam	VERB	imati
tu	ADV	tu
ove	DET	ovaj
što	SCONJ	što
sede	VERB	sesti
.	PUNCT	.
Pa	CCONJ	pa
ništa	PRON	ništa
čitam	VERB	čitati
novine	NOUN	novina
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
Sa	ADP	sa
mužem	NOUN	muž
sam	AUX	jesam
se	PART	se
bavila	VERB	baviti
baštovanstvom	NOUN	baštovanstvo
jedanaest	NUM	jedanaest
godina	NOUN	godina
dok	SCONJ	dok
smo	AUX	jesam
bili	AUX	biti
u	ADP	u
selu	NOUN	selo
,	PUNCT	,
kod	ADP	kod
Kruševca	PROPN	Kruševac
.	PUNCT	.
Jedanaest	NUM	jedanaest
godina	NOUN	godina
smo	AUX	jesam
bili	AUX	biti
tamo	ADV	tamo
i	CCONJ	i
onda	ADV	onda
je	AUX	jesam
umro	VERB	umreti
od	ADP	od
moždanog	ADJ	moždani
udara	NOUN	udar
pa	CCONJ	pa
sam	AUX	jesam
se	PART	se
ja	PRON	ja
vratila	VERB	vratiti
.	PUNCT	.
Dočekali	VERB	Dočekali
smo	AUX	jesam
penziju	NOUN	penzija
tamo	ADV	tamo
i	CCONJ	i
kad	SCONJ	kad
je	AUX	jesam
umro	VERB	umreti
ja	PRON	ja
sam	AUX	jesam
se	PART	se
vratila	VERB	vratiti
u	ADP	u
Beograd	PROPN	Beograd
.	PUNCT	.
Pa	CCONJ	pa
da	SCONJ	da
.	PUNCT	.
Najviše	ADJ	Najviše
narodnu	ADJ	narodni
.	PUNCT	.
Pa	CCONJ	pa
jedino	ADV	jedino
možda	PART	možda
reuma	NOUN	reuma
to	DET	taj
nekad	ADV	nekad
na	ADP	na
ovo	DET	ovaj
vreme	NOUN	vreme
pa	CCONJ	pa
me	PRON	ja
bole	VERB	bosti
ruke	NOUN	ruka
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
Ne	PART	ne
ne	PART	ne
.	PUNCT	.
Ne	PART	ne
daj	VERB	dati
Bože	PROPN	Boža
.	PUNCT	.
Ne	PART	ne
.	PUNCT	.
Pritisak	NOUN	pritisak
sam	AUX	jesam
imala	VERB	imati
letos	ADV	letos
kad	SCONJ	kad
sam	AUX	jesam
bila	AUX	biti
u	ADP	u
bolnici	NOUN	bolnica
,	PUNCT	,
osam	NUM	osam
godina	NOUN	godina
sam	AUX	jesam
lečila	VERB	lečiti
pritisak	NOUN	pritisak
.	PUNCT	.
Kako	SCONJ	kako
mi	PRON	ja
je	AUX	jesam
otac	NOUN	otac
prvo	ADV	prvo
umro	VERB	umreti
pa	CCONJ	pa
majka	NOUN	majka
.	PUNCT	.
Do	ADP	do
tad	ADV	tad
sam	AUX	jesam
imala	VERB	imati
nizak	ADJ	nizak
,	PUNCT	,
ali	CCONJ	ali
od	ADP	od
kad	SCONJ	kad
je	AUX	jesam
otac	NOUN	otac
umro	VERB	umreti
se	PART	se
promenio	VERB	promeniti
.	PUNCT	.
Pa	CCONJ	pa
onda	ADV	onda
muž	NOUN	muž
,	PUNCT	,
godinu	NOUN	godina
i	CCONJ	i
po	ADP	po
dana	NOUN	dan
kako	SCONJ	kako
je	AUX	jesam
umro	VERB	umreti
,	PUNCT	,
otac	NOUN	otac
osam	NUM	osam
godina	NOUN	godina
,	PUNCT	,
a	VERB	a
majka	NOUN	majka
sedam	NUM	sedam
godina	NOUN	godina
od	ADP	od
kako	SCONJ	kako
je	AUX	jesam
umrla	VERB	umreti
.	PUNCT	.
Taman	ADV	taman
tata	NOUN	tat
napunio	VERB	napuniti
,	PUNCT	,
da	SCONJ	da
smo	AUX	jesam
stavljali	VERB	stavljati
godinu	NOUN	godina
dana	NOUN	dan
,	PUNCT	,
majka	NOUN	majka
onda	ADV	onda
,	PUNCT	,
odmah	ADV	odmah
posle	ADP	posle
godinu	NOUN	godina
dana	NOUN	dan
.	PUNCT	.
Imala	VERB	imati
sam	AUX	jesam
stresove	NOUN	stres
sa	ADP	sa
mužem	NOUN	muž
on	PRON	on
je	AUX	jesam
pio	VERB	piti
i	CCONJ	i
maltretirao	VERB	maltretirati
me	PRON	ja
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
Pijem	VERB	piti
za	ADP	za
pritisak	NOUN	pritisak
Anapril	PROPN	Anapril
od	ADP	od
dvadeset	NUM	dvadeset
-	PUNCT	-
pet	NUM	pet
miligrama	NOUN	miligram
.	PUNCT	.
Pa	CCONJ	pa
ništa	PRON	ništa
nemam	VERB	nemati
,	PUNCT	,
to	DET	taj
je	AUX	jesam
to	DET	taj
.	PUNCT	.
