Zovem	VERB	zvati
se	PART	se
Vladislav	PROPN	Vladislav
Mitić	PROPN	Mitić
i	CCONJ	i
imam	VERB	imati
75	NUM	@card@
godina	NOUN	godina
.	PUNCT	.
Stanujem	VERB	stanovati
u	ADP	u
Jurija	PROPN	Jurij
Gagarina	PROPN	Gagarin
broj	NOUN	broj
šezdeset	NUM	šezdeset
-	PUNCT	-
tri	NUM	tri
.	PUNCT	.
Moj	DET	moj
unuk	NOUN	unuk
je	AUX	jesam
Kosta	PROPN	Kosta
,	PUNCT	,
koji	DET	koji
sada	ADV	sada
vrši	VERB	vršiti
ovaj	DET	ovaj
intervju	NOUN	intervju
.	PUNCT	.
Rodjen	VERB	Rodjen
sam	AUX	jesam
u	ADP	u
Beogradu	PROPN	Beograd
,	PUNCT	,
hiljadu	ADV	hiljadu
-	PUNCT	-
devetsto	NUM	devetsto
-	PUNCT	-
četrdeset	NUM	četrdeset
-	PUNCT	-
druge	ADJ	drugi
godine	NOUN	godina
.	PUNCT	.
Međutim	PROPN	Međutim
,	PUNCT	,
samo	PART	samo
sam	AUX	jesam
rođen	VERB	roditi
u	ADP	u
Beogradu	PROPN	Beograd
,	PUNCT	,
jer	SCONJ	jer
su	AUX	jesam
moji	DET	moj
otac	NOUN	otac
i	CCONJ	i
majka	NOUN	majka
krajem	ADP	krajem
četrdeset	NUM	četrdeset
-	PUNCT	-
prve	ADJ	prvi
,	PUNCT	,
početkom	NOUN	početak
četrdeset	NUM	četrdeset
-	PUNCT	-
druge	ADJ	drugi
službovali	VERB	službovati
u	ADP	u
selu	NOUN	selo
Planinica	PROPN	Planinica
ispod	ADP	ispod
Ravne	PROPN	Ravni
gore	ADV	gore
,	PUNCT	,
pa	CCONJ	pa
su	AUX	jesam
pobegli	VERB	pobeći
od	ADP	od
Četnika	PROPN	Četnik
koji	DET	koji
su	AUX	jesam
hteli	AUX	hteti
da	SCONJ	da
ubiju	VERB	ubiti
mog	DET	moj
oca	NOUN	otac
kao	CCONJ	kao
učitelja	NOUN	učitelj
,	PUNCT	,
koji	DET	koji
je	AUX	jesam
radio	NOUN	radio
u	ADP	u
to	DET	taj
vreme	NOUN	vreme
za	ADP	za
Partizane	ADJ	Partizane
.	PUNCT	.
Pobegli	VERB	pobeći
su	AUX	jesam
ovde	ADV	ovde
u	ADP	u
Beograd	PROPN	Beograd
,	PUNCT	,
kod	ADP	kod
očevog	ADJ	očev
brata	NOUN	brata
i	CCONJ	i
majka	NOUN	majka
se	PART	se
tu	ADV	tu
porodila	VERB	poroditi
.	PUNCT	.
Od	ADP	od
tog	DET	taj
stresa	NOUN	stres
i	CCONJ	i
svega	DET	sav
toga	DET	taj
,	PUNCT	,
tih	DET	taj
putovanja	NOUN	putovanje
,	PUNCT	,
porodila	VERB	poroditi
se	PART	se
u	ADP	u
osmom	ADJ	osmi
mesecu	NOUN	mesec
.	PUNCT	.
Tako	ADV	tako
da	SCONJ	da
sam	AUX	jesam
ja	PRON	ja
u	ADP	u
stvari	NOUN	stvar
,	PUNCT	,
imam	VERB	imati
brata	NOUN	brata
blizanca	NOUN	blizanac
,	PUNCT	,
tako	ADV	tako
da	SCONJ	da
sam	AUX	jesam
ja	PRON	ja
u	ADP	u
stvari	NOUN	stvar
nedonošče	NOUN	nedonošče
,	PUNCT	,
imam	VERB	imati
samo	PART	samo
metar	NOUN	metar
i	CCONJ	i
osamdeset	NUM	osamdeset
-	PUNCT	-
tri	NUM	tri
santimetra	NOUN	santimetar
,	PUNCT	,
a	ADV	a
da	SCONJ	da
sam	AUX	jesam
rođen	VERB	roditi
sa	ADP	sa
devet	NUM	devet
meseci	NOUN	mesec
možda	PART	možda
bih	AUX	biti
bio	AUX	biti
i	PART	i
dva	NUM	dva
metra	NOUN	metar
,	PUNCT	,
ko	PRON	ko
zna	VERB	znati
.	PUNCT	.
On	PRON	on
je	AUX	jesam
metar	NOUN	metar
i	CCONJ	i
devedeset	NUM	devedeset
-	PUNCT	-
pet	NUM	pet
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
stariji	ADJ	star
,	PUNCT	,
petnaest	NUM	petnaest
minuta	NOUN	minuta
.	PUNCT	.
Ili	CCONJ	ili
,	PUNCT	,
bolje	ADV	bolje
da	SCONJ	da
se	PART	se
kaže	VERB	kazati
četvrt	NOUN	četvrt
sata	NOUN	sat
,	PUNCT	,
izgleda	VERB	izgledati
više	ADV	više
.	PUNCT	.
Posle	ADP	posle
toga	DET	taj
smo	AUX	jesam
se	PART	se
vratili	VERB	vratiti
u	ADP	u
taj	DET	taj
valjevski	ADJ	valjevski
kraj	NOUN	kraj
,	PUNCT	,
u	ADP	u
selo	NOUN	selo
Ključ	PROPN	Ključ
,	PUNCT	,
tu	ADV	tu
smo	AUX	jesam
živeli	VERB	živeti
,	PUNCT	,
a	ADV	a
iz	ADP	iz
sela	NOUN	selo
ključ	NOUN	ključ
smo	AUX	jesam
prešli	VERB	preći
u	ADP	u
Mionicu	PROPN	Mionica
,	PUNCT	,
pa	CCONJ	pa
iz	ADP	iz
Mionice	PROPN	Mionica
u	ADP	u
Valjevo	PROPN	Valjevo
.	PUNCT	.
Moj	DET	moj
otac	NOUN	otac
koji	DET	koji
je	AUX	jesam
znači	VERB	značiti
u	ADP	u
vreme	NOUN	vreme
rata	NOUN	rat
radio	NOUN	radio
sa	ADP	sa
partizanima	NOUN	partizan
je	AUX	jesam
radio	VERB	raditi
u	ADP	u
Valjevu	PROPN	Valjevo
,	PUNCT	,
postao	VERB	postati
sekretar	NOUN	sekretar
Komiteta	PROPN	Komiteta
Sreza	PROPN	Sreza
Valjevskog	PROPN	Valjevskog
,	PUNCT	,
tu	DET	taj
smo	AUX	jesam
bili	AUX	biti
do	ADP	do
pedeset	NUM	pedeset
-	PUNCT	-
druge	ADJ	drugi
godine	NOUN	godina
,	PUNCT	,
kada	SCONJ	kada
smo	AUX	jesam
ponovo	ADV	ponovo
prešli	VERB	preći
u	ADP	u
Beograd	PROPN	Beograd
,	PUNCT	,
u	ADP	u
stvari	NOUN	stvar
otac	NOUN	otac
je	AUX	jesam
službeno	ADV	službeno
premešten	VERB	premestiti
u	ADP	u
Beograd	PROPN	Beograd
,	PUNCT	,
i	CCONJ	i
majka	NOUN	majka
zajedno	ADV	zajedno
sa	ADP	sa
njim	PRON	on
,	PUNCT	,
tako	ADV	tako
da	SCONJ	da
od	ADP	od
pedeset	NUM	pedeset
-	PUNCT	-
druge	ADJ	drugi
godine	NOUN	godina
živim	ADJ	živ
u	ADP	u
Beogradu	PROPN	Beograd
.	PUNCT	.
U	ADP	u
Valjevu	PROPN	Valjevo
sam	AUX	jesam
pošao	VERB	poći
u	ADP	u
osnovnu	ADJ	osnovni
školu	NOUN	škola
.	PUNCT	.
Osnovnu	ADJ	osnovni
školu	NOUN	škola
sam	AUX	jesam
završio	VERB	završiti
,	PUNCT	,
ta	DET	taj
četiri	NUM	četiri
razreda	NOUN	razred
,	PUNCT	,
u	ADP	u
Beogradu	PROPN	Beograd
.	PUNCT	.
U	ADP	u
to	DET	taj
vreme	NOUN	vreme
osnovna	ADJ	osnovni
škola	NOUN	škola
je	AUX	jesam
bila	AUX	biti
samo	PART	samo
četiri	NUM	četiri
razreda	NOUN	razred
,	PUNCT	,
a	ADV	a
sledeća	ADJ	sledeći
četiri	NUM	četiri
razreda	NOUN	razred
je	AUX	jesam
bila	AUX	biti
niža	ADJ	nizak
gimnazija	NOUN	gimnazija
,	PUNCT	,
isto	ADV	isto
sam	AUX	jesam
je	AUX	jesam
završio	VERB	završiti
u	ADP	u
Beogradu	PROPN	Beograd
.	PUNCT	.
Posle	ADP	posle
niže	ADJ	nizak
gimnazije	NOUN	gimnazija
,	PUNCT	,
sam	AUX	jesam
upisao	VERB	upisati
srednju	ADJ	srednji
tehničku	ADJ	tehnički
školu	NOUN	škola
"	PUNCT	"
Petar	PROPN	Petar
Drapšin	PROPN	Drapšin
"	PUNCT	"
,	PUNCT	,
bio	AUX	biti
me	PRON	ja
je	AUX	jesam
otac	NOUN	otac
savetovao	VERB	savetovati
,	PUNCT	,
i	CCONJ	i
mene	PRON	ja
i	CCONJ	i
brata	NOUN	brata
:	PUNCT	:
"	PUNCT	"
Ajde	INTJ	ajde
deco	NOUN	deca
završite	VERB	završiti
vi	PRON	vi
nešto	PRON	nešto
,	PUNCT	,
da	SCONJ	da
možete	VERB	moći
da	SCONJ	da
se	PART	se
izdržavate	VERB	izdržavati
ako	SCONJ	ako
se	PART	se
meni	PRON	ja
nešto	ADV	nešto
desi	VERB	desiti
ili	CCONJ	ili
majci	NOUN	majka
,	PUNCT	,
umremo	VERB	umreti
,	PUNCT	,
ovamo	ADV	ovamo
-	PUNCT	-
onamo	ADV	onamo
,	PUNCT	,
da	SCONJ	da
ovaj	DET	ovaj
,	PUNCT	,
imate	VERB	imati
hleb	NOUN	hleb
u	ADP	u
šakama	NOUN	šaka
"	PUNCT	"
.	PUNCT	.
Zavšio	VERB	Zavšio
sam	AUX	jesam
srednju	ADJ	srednji
školu	NOUN	škola
,	PUNCT	,
upisao	VERB	upisati
sam	AUX	jesam
Mašinski	ADJ	Mašinski
fakultet	NOUN	fakultet
,	PUNCT	,
završio	VERB	završiti
sam	AUX	jesam
Mašinski	ADJ	Mašinski
fakultet	NOUN	fakultet
,	PUNCT	,
odsek	NOUN	odsek
za	ADP	za
Vazduhoplovstvo	NOUN	vazduhoplovstvo
i	CCONJ	i
Aeromotiku	NOUN	Aeromotiku
,	PUNCT	,
kako	SCONJ	kako
se	PART	se
u	ADP	u
to	DET	taj
vreme	NOUN	vreme
zvao	VERB	zvati
i	CCONJ	i
,	PUNCT	,
pošto	SCONJ	pošto
sam	AUX	jesam
u	ADP	u
trećoj	ADJ	treći
godini	NOUN	godina
uzeo	VERB	uzeti
vojnu	ADJ	vojni
stipendiju	NOUN	stipendija
,	PUNCT	,
kad	SCONJ	kad
sam	AUX	jesam
počeo	VERB	početi
da	SCONJ	da
radim	VERB	raditi
u	ADP	u
komandi	NOUN	komanda
vazduhoplovstva	NOUN	vazduhoplovstvo
,	PUNCT	,
onda	ADV	onda
su	AUX	jesam
rekli	VERB	reći
:	PUNCT	:
"	PUNCT	"
Ko	PRON	ko
hoće	AUX	hteti
da	SCONJ	da
se	PART	se
aktivira	VERB	aktivirati
,	PUNCT	,
ko	PRON	ko
hoće	AUX	hteti
da	SCONJ	da
vrati	VERB	vratiti
stipendiju	NOUN	stipendija
,	PUNCT	,
da	SCONJ	da
se	PART	se
aktivira	VERB	aktivirati
,	PUNCT	,
može	VERB	moći
da	SCONJ	da
se	PART	se
aktivira	VERB	aktivirati
,	PUNCT	,
može	VERB	moći
da	SCONJ	da
radi	VERB	raditi
kao	CCONJ	kao
civil	NOUN	civil
,	PUNCT	,
a	ADV	a
može	VERB	moći
i	CCONJ	i
da	SCONJ	da
vrati	VERB	vratiti
u	ADP	u
gotovini	NOUN	gotovina
"	PUNCT	"
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
se	PART	se
aktivirao	VERB	aktivirati
,	PUNCT	,
rasporedili	VERB	rasporediti
su	AUX	jesam
me	PRON	ja
u	ADP	u
Batajnicu	PROPN	Batajnica
,	PUNCT	,
u	ADP	u
Vazduhoplovni	ADJ	vazduhoplovni
opitni	ADJ	opitni
centar	NOUN	centar
,	PUNCT	,
i	CCONJ	i
tu	ADV	tu
sam	AUX	jesam
radio	NOUN	radio
,	PUNCT	,
znači	VERB	značiti
od	ADP	od
poručnika	NOUN	poručnik
do	ADP	do
pukovnika	NOUN	pukovnik
.	PUNCT	.
Počeo	PROPN	Počeo
sam	AUX	jesam
znači	VERB	značiti
kao	ADV	kao
referent	NOUN	referent
u	ADP	u
odseku	NOUN	odsek
za	ADP	za
ispitivanje	NOUN	ispitivanje
motora	NOUN	motor
i	CCONJ	i
vazduhoplovne	ADJ	vazduhoplovni
opreme	NOUN	oprema
,	PUNCT	,
a	ADV	a
završio	VERB	završiti
sam	DET	sam
karijeru	NOUN	karijera
kao	CCONJ	kao
zamenik	NOUN	zamenik
komandantra	NOUN	komandantra
Vazduhoplovnog	ADJ	vazduhoplovni
opitnog	ADJ	opitni
centra	NOUN	centar
.	PUNCT	.
To	DET	taj
je	AUX	jesam
ustanova	NOUN	ustanova
gde	SCONJ	gde
se	PART	se
vršilo	VERB	vršiti
ispitivanje	NOUN	ispitivanje
vazduhoplova	NOUN	vazduhoplov
,	PUNCT	,
vazduhoplovne	ADJ	vazduhoplovni
opreme	NOUN	oprema
i	CCONJ	i
naoružanja	NOUN	naoružanje
u	ADP	u
letu	NOUN	let
.	PUNCT	.
Dobro	ADV	dobro
,	PUNCT	,
u	ADP	u
toku	NOUN	tok
svog	DET	svoj
rada	NOUN	rad
pored	ADP	pored
ispitivanja	NOUN	ispitivanje
vazduhoplova	NOUN	vazduhoplov
i	CCONJ	i
vazduhoplovne	ADJ	vazduhoplovni
opreme	NOUN	oprema
i	CCONJ	i
naoružanja	NOUN	naoružanje
,	PUNCT	,
jer	SCONJ	jer
pravilo	NOUN	pravilo
je	AUX	jesam
takvo	DET	takav
da	SCONJ	da
ništa	PRON	ništa
ne	PART	ne
može	VERB	moći
da	SCONJ	da
uđe	VERB	ući
u	ADP	u
vazduhoplovstvo	NOUN	vazduhoplovstvo
,	PUNCT	,
a	ADV	a
to	DET	taj
važi	VERB	vagati
i	CCONJ	i
za	ADP	za
ostalo	VERB	ostati
,	PUNCT	,
i	CCONJ	i
za	ADP	za
inženjeriju	NOUN	inženjerija
,	PUNCT	,
pešadiju	NOUN	pešadija
,	PUNCT	,
mornaricu	NOUN	mornarica
i	CCONJ	i
tako	ADV	tako
dalje	ADV	dalje
,	PUNCT	,
znači	VERB	značiti
ništa	PRON	ništa
ne	PART	ne
može	VERB	moći
da	SCONJ	da
uđe	VERB	ući
na	ADP	na
korišćenje	NOUN	korišćenje
u	ADP	u
vojsku	NOUN	vojska
,	PUNCT	,
dok	SCONJ	dok
ne	PART	ne
prođe	VERB	proći
ispitivanje	NOUN	ispitivanje
u	ADP	u
opitnom	ADJ	opitni
centru	NOUN	centar
tog	DET	taj
vida	NOUN	vid
.	PUNCT	.
Znači	ADV	Znači
postojala	VERB	postojati
su	AUX	jesam
u	ADP	u
to	DET	taj
vreme	NOUN	vreme
tri	NUM	tri
opitna	ADJ	opitni
centra	NOUN	centar
,	PUNCT	,
Vazduhoplovni	ADJ	vazduhoplovni
opitni	ADJ	opitni
centar	NOUN	centar
,	PUNCT	,
Tehnički	ADJ	Tehnički
opitni	ADJ	opitni
centar	NOUN	centar
i	CCONJ	i
Mornarički	PROPN	Mornarički
opitni	ADJ	opitni
centar	NOUN	centar
.	PUNCT	.
I	CCONJ	i
tu	ADV	tu
se	PART	se
vrši	VERB	vršiti
ispitivanje	NOUN	ispitivanje
.	PUNCT	.
U	ADP	u
Vazduhoplovnom	ADJ	vazduhoplovni
znači	VERB	značiti
vazduhoplova	NOUN	vazduhoplov
,	PUNCT	,
vazduhoplovne	ADJ	vazduhoplovni
opreme	NOUN	oprema
i	CCONJ	i
naoružanja	NOUN	naoružanje
.	PUNCT	.
Pored	ADP	pored
ispitivnaja	NOUN	ispitivnaja
,	PUNCT	,
bilo	AUX	biti
je	AUX	jesam
tu	ADV	tu
više	ADV	više
projekata	NOUN	projekt
,	PUNCT	,
znači	VERB	značiti
više	ADV	više
aviona	NOUN	avion
koje	DET	koji
je	AUX	jesam
naša	DET	naš
industrija	NOUN	industrija
proizvodila	VERB	proizvoditi
ili	CCONJ	ili
koji	DET	koji
su	AUX	jesam
se	PART	se
uvozili	VERB	uvoziti
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
u	ADP	u
toku	NOUN	tok
svog	DET	svoj
rada	NOUN	rad
dao	VERB	dati
i	CCONJ	i
veći	ADJ	velik
doprinos	NOUN	doprinos
u	ADP	u
nekim	DET	neki
inovacijama	NOUN	inovacija
,	PUNCT	,
ali	CCONJ	ali
napomenuo	VERB	napomenuti
bih	AUX	biti
samo	PART	samo
tri	NUM	tri
glavne	ADJ	glavne
inovacije	NOUN	inovacija
ili	CCONJ	ili
tehnička	ADJ	tehnički
unapređenja	NOUN	unapređenje
:	PUNCT	:
rešavanje	NOUN	rešavanje
problema	NOUN	problem
pokazivanja	NOUN	pokazivanje
tarnih	ADJ	tarnih
ploči	NOUN	ploča
,	PUNCT	,
istrošesnosti	NOUN	istrošesnosti
tarnih	VERB	tarnih
pločica	NOUN	pločica
na	ADP	na
kočnicama	NOUN	kočnica
aviona	NOUN	avion
,	PUNCT	,
drugo	ADV	drugo
je	AUX	jesam
rešavanje	NOUN	rešavanje
problema	NOUN	problem
merenja	NOUN	merenje
temperature	NOUN	temperatura
izduvnih	ADJ	izduvni
gasova	NOUN	gas
na	ADP	na
dva	NUM	dva
paralelna	ADJ	paralelan
instrumenta	NOUN	instrument
,	PUNCT	,
Onda	ADJ	Onda
rešavanje	NOUN	rešavanje
pojave	VERB	pojaviti
pritiska	NOUN	pritisak
u	ADP	u
rezervoarima	NOUN	rezervoar
aviona	NOUN	avion
G	VERB	G
4	NUM	@card@
pri	ADP	pri
naglom	ADJ	nagao
poniranju	NOUN	poniranje
,	PUNCT	,
to	DET	taj
su	AUX	jesam
tri	NUM	tri
inovacije	NOUN	inovacija
i	CCONJ	i
jedan	NUM	jedan
patent	NOUN	patent
sam	AUX	jesam
na	ADP	na
kraju	NOUN	kraj
patentirao	VERB	patentirati
,	PUNCT	,
vazduhoplovnu	ADJ	vazduhoplovni
vežbovnu	ADJ	vežbovnu
bombu	NOUN	bomba
koja	DET	koji
služi	VERB	služiti
za	ADP	za
uvežbavanje	NOUN	uvežbavanje
pilota	NOUN	pilot
u	ADP	u
bombardovanju	NOUN	bombardovanje
.	PUNCT	.
Mislim	VERB	misliti
,	PUNCT	,
još	ADV	još
uvek	ADV	uvek
nisam	AUX	jesam
izlapeo	VERB	izlapeti
,	PUNCT	,
znam	VERB	znati
sva	DET	sav
imena	NOUN	ime
.	PUNCT	.
Sad	ADV	sad
je	AUX	jesam
tu	DET	taj
pitanje	NOUN	pitanje
šta	PRON	šta
se	PART	se
podrazumeva	VERB	podrazumevati
pod	ADP	pod
širom	NOUN	šira
,	PUNCT	,
pod	ADP	pod
užom	ADJ	uzak
porodicom	NOUN	porodica
.	PUNCT	.
Trenutno	ADV	trenutno
,	PUNCT	,
živim	ADJ	živ
sa	ADP	sa
suprugom	NOUN	supruga
,	PUNCT	,
nas	PRON	mi
dvoje	NUM	dvoje
,	PUNCT	,
sva	DET	sav
ostala	VERB	ostati
deca	NOUN	deca
su	AUX	jesam
odvojena	ADJ	odvojen
od	ADP	od
nas	PRON	mi
,	PUNCT	,
sve	ADV	sve
kad	SCONJ	kad
se	PART	se
sabere	VERB	sabrati
,	PUNCT	,
imam	VERB	imati
četvoro	NUM	četvoro
dece	NOUN	deca
,	PUNCT	,
tri	NUM	tri
ženske	ADJ	ženski
i	CCONJ	i
jednog	NUM	jedan
muškog	ADJ	muški
,	PUNCT	,
a	ADV	a
od	ADP	od
unučadi	NOUN	unučad
kad	SCONJ	kad
se	PART	se
sabere	VERB	sabrati
,	PUNCT	,
ima	VERB	imati
ih	PRON	ona
šestoro	NUM	šestoro
.	PUNCT	.
Jedan	NUM	jedan
od	ADP	od
njih	PRON	ona
je	AUX	jesam
Kosta	PROPN	Kosta
,	PUNCT	,
a	ADV	a
po	ADP	po
redosledu	NOUN	redosled
idu	VERB	ići
,	PUNCT	,
prvi	ADJ	prvi
je	AUX	jesam
Lazar	PROPN	Lazar
,	PUNCT	,
koji	DET	koji
je	AUX	jesam
devedeset	NUM	devedeset
-	PUNCT	-
drugo	ADJ	drugi
godište	NOUN	godište
,	PUNCT	,
sledeći	VERB	slediti
je	AUX	jesam
Stefan	PROPN	Stefan
,	PUNCT	,
jeste	INTJ	jeste
,	PUNCT	,
ima	VERB	imati
19	NUM	@card@
godina	NOUN	godina
,	PUNCT	,
u	ADP	u
stvari	NOUN	stvar
sad	ADV	sad
20	NUM	@card@
godina	NOUN	godina
,	PUNCT	,
mesec	NOUN	mesec
dana	NOUN	dan
od	ADP	od
njega	PRON	on
mlađi	ADJ	mlad
je	AUX	jesam
ovaj	DET	ovaj
ovde	ADV	ovde
,	PUNCT	,
što	SCONJ	što
me	PRON	ja
trenutno	ADV	trenutno
ispituje	VERB	ispitivati
,	PUNCT	,
Kosta	PROPN	Kosta
,	PUNCT	,
pa	CCONJ	pa
dolazi	VERB	dolaziti
unuka	NOUN	unuka
Andrijana	PROPN	Andrijana
,	PUNCT	,
ona	PRON	ona
je	AUX	jesam
dvehiljadito	ADJ	dvehiljadito
godište	NOUN	godište
,	PUNCT	,
onda	ADV	onda
iza	ADP	iza
dolaze	VERB	dolaziti
Pavle	PROPN	Pavao
i	CCONJ	i
Jelena	PROPN	Jelena
,	PUNCT	,
Pavle	PROPN	Pavao
je	AUX	jesam
u	ADP	u
maju	NOUN	maj
,	PUNCT	,
a	ADV	a
Jelena	PROPN	Jelena
je	AUX	jesam
u	ADP	u
oktobru	NOUN	oktobar
,	PUNCT	,
sad	ADV	sad
su	AUX	jesam
u	ADP	u
sedmom	ADJ	sedmi
razredu	NOUN	razred
,	PUNCT	,
oboje	NUM	oboje
.	PUNCT	.
Znači	NOUN	Znači
,	PUNCT	,
to	DET	taj
kad	SCONJ	kad
se	PART	se
sabere	VERB	sabrati
,	PUNCT	,
to	DET	taj
je	AUX	jesam
ukupno	ADV	ukupno
šest	NUM	šest
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
malo	ADV	malo
starija	ADJ	star
generacija	NOUN	generacija
.	PUNCT	.
Slušam	VERB	Slušam
drugu	ADJ	drugi
muziku	NOUN	muzika
nego	CCONJ	nego
ovi	DET	ovaj
sada	ADV	sada
mladi	ADJ	mlad
,	PUNCT	,
moja	DET	moj
muzika	NOUN	muzika
,	PUNCT	,
moja	DET	moj
omiljena	ADJ	omiljen
muzika	NOUN	muzika
su	AUX	jesam
starogradske	ADJ	starogradski
pesme	NOUN	pesma
.	PUNCT	.
Pa	CCONJ	pa
da	SCONJ	da
ti	PRON	ti
kažem	VERB	kazati
,	PUNCT	,
volim	VERB	voliti
da	SCONJ	da
slušam	VERB	slušati
prave	ADJ	prav
pevače	NOUN	pevač
,	PUNCT	,
prave	VERB	praviti
.	PUNCT	.
Recimo	VERB	reći
,	PUNCT	,
ajde	INTJ	ajde
od	ADP	od
ženskih	ADJ	ženski
Merima	PROPN	Merima
Njegomir	PROPN	Njegomir
,	PUNCT	,
pa	CCONJ	pa
onda	ADV	onda
Lepa	PROPN	Lepa
Lukić	PROPN	Lukić
,	PUNCT	,
ovamo	ADV	ovamo
od	ADP	od
muških	NOUN	muško
mi	PRON	ja
je	AUX	jesam
bio	AUX	biti
Stošić	PROPN	Stošić
,	PUNCT	,
Staniša	PROPN	Staniša
Stošić	PROPN	Stošić
,	PUNCT	,
koji	DET	koji
je	AUX	jesam
fantasticno	NOUN	fantasticno
pevao	VERB	pevati
ove	DET	ovaj
vranjanske	ADJ	vranjanski
pesme	NOUN	pesma
.	PUNCT	.
Pošto	ADV	Pošto
mi	PRON	ja
je	AUX	jesam
otac	NOUN	otac
Vranjanac	PROPN	Vranjanac
,	PUNCT	,
pa	CCONJ	pa
me	PRON	ja
možda	PART	možda
zato	ADV	zato
vuče	VERB	vući
da	SCONJ	da
volim	VERB	voliti
taj	DET	taj
vranjanski	ADJ	vranjanski
sevdah	NOUN	sevdah
,	PUNCT	,
tu	ADV	tu
je	AUX	jesam
Cune	PROPN	Cune
,	PUNCT	,
ta	DET	taj
stara	ADJ	star
garda	NOUN	garda
,	PUNCT	,
Toma	PROPN	Toma
Zdravkovic	PROPN	Zdravkovic
.	PUNCT	.
Kažem	ADJ	Kažem
,	PUNCT	,
cela	ADJ	ceo
ta	DET	taj
generacija	NOUN	generacija
stara	ADJ	star
garda	NOUN	garda
su	AUX	jesam
moji	DET	moj
pevači	NOUN	pevač
.	PUNCT	.
Od	ADP	od
ovih	DET	ovaj
,	PUNCT	,
i	CCONJ	i
ove	DET	ovaj
mlađe	ADJ	mlad
volim	VERB	voliti
da	SCONJ	da
slušam	VERB	slušati
,	PUNCT	,
nisu	AUX	jesam
mi	PRON	ja
problem	NOUN	problem
.	PUNCT	.
Ne	PART	ne
slušam	VERB	slušati
ove	DET	ovaj
drekavce	NOUN	drekavac
,	PUNCT	,
ove	DET	ovaj
Džigi	PROPN	Džigi
bau	INTJ	bau
i	CCONJ	i
naravno	PART	naravno
ne	PART	ne
slušam	VERB	slušati
ove	DET	ovaj
vriske	NOUN	vrisak
dupetarije	NOUN	dupetarije
.	PUNCT	.
Znači	ADV	Znači
ne	PART	ne
umeju	VERB	umeti
da	SCONJ	da
pevaju	VERB	pevati
.	PUNCT	.
I	CCONJ	i
sa	ADP	sa
tim	DET	taj
onda	SCONJ	onda
idu	VERB	ići
da	SCONJ	da
pevaju	VERB	pevati
po	ADP	po
splavovima	NOUN	splav
i	CCONJ	i
same	DET	sam
sebe	PRON	sebe
zovu	VERB	zvati
pevačice	NOUN	pevačica
.	PUNCT	.
To	DET	taj
nije	AUX	jesam
za	ADP	za
mene	PRON	ja
.	PUNCT	.
Nisam	AUX	jesam
.	PUNCT	.
Ono	PRON	ono
kad	SCONJ	kad
sam	AUX	jesam
morao	VERB	morati
,	PUNCT	,
ja	PRON	ja
mislim	VERB	misliti
kad	SCONJ	kad
me	PRON	ja
je	AUX	jesam
Laza	PROPN	Laza
molio	VERB	moliti
da	SCONJ	da
mu	PRON	on
pokazujem	VERB	pokazivati
na	ADP	na
onoj	DET	onaj
kako	SCONJ	kako
se	PART	se
svira	VERB	svirati
,	PUNCT	,
kako	SCONJ	kako
se	PART	se
zove	VERB	zvati
,	PUNCT	,
ima	VERB	imati
kao	CCONJ	kao
klavijaturu	NOUN	klavijatura
,	PUNCT	,
duvaš	VERB	duvati
u	ADP	u
nju	PRON	ona
,	PUNCT	,
ali	CCONJ	ali
ima	VERB	imati
klavijaturu	NOUN	klavijatura
.	PUNCT	.
Ovako	ADV	ovako
je	AUX	jesam
četvrtasta	ADJ	četvrtast
.	PUNCT	.
Dobro	ADV	dobro
,	PUNCT	,
setiću	VERB	setiti
se	PART	se
posle	ADV	posle
.	PUNCT	.
I	CCONJ	i
note	NOUN	nota
mi	PRON	ja
je	AUX	jesam
dao	VERB	dati
,	PUNCT	,
ajde	INTJ	ajde
deda	NOUN	ded
da	SCONJ	da
me	PRON	ja
naučiš	VERB	naučiti
.	PUNCT	.
Onda	ADV	onda
šta	PRON	šta
sam	AUX	jesam
ja	PRON	ja
,	PUNCT	,
kako	SCONJ	kako
da	SCONJ	da
ga	PRON	on
naučim	VERB	naučiti
,	PUNCT	,
pa	CCONJ	pa
sam	AUX	jesam
dohvatio	VERB	dohvatiti
na	ADP	na
svakoj	DET	svaki
onoj	DET	onaj
klavijaturi	NOUN	klavijatura
pisao	VERB	pisati
brojeve	NOUN	broj
,	PUNCT	,
kojim	DET	koji
redosledom	NOUN	redosled
ću	AUX	hteti
da	SCONJ	da
pritiskam	VERB	pritiskati
da	SCONJ	da
bi	AUX	biti
izašlo	VERB	izaći
ono	DET	onaj
šta	PRON	šta
piše	VERB	pisati
na	ADP	na
notama	NOUN	nota
.	PUNCT	.
E	INTJ	e
,	PUNCT	,
to	DET	taj
je	AUX	jesam
bilo	AUX	biti
moje	DET	moj
sviranje	NOUN	sviranje
.	PUNCT	.
Dalje	ADV	dalje
od	ADP	od
toga	DET	taj
nisam	AUX	jesam
otišao	VERB	otići
.	PUNCT	.
Što	PROPN	Što
se	PART	se
pevanja	NOUN	pevanje
tiče	VERB	ticati
,	PUNCT	,
u	ADP	u
nižoj	ADJ	nizak
gimnaziji	NOUN	gimnazija
,	PUNCT	,
sam	DET	sam
operisao	VERB	operisati
bio	AUX	biti
krajnike	NOUN	krajnik
i	CCONJ	i
bio	AUX	biti
sam	AUX	jesam
odsutan	ADJ	odsutan
iz	ADP	iz
škole	NOUN	škola
jedno	NUM	jedan
nedelju	NOUN	nedelja
-	PUNCT	-
dve	NUM	dva
dana	NOUN	dan
,	PUNCT	,
nisam	AUX	jesam
mogao	VERB	moći
da	SCONJ	da
govorim	VERB	govoriti
,	PUNCT	,
sva	DET	sav
tri	NUM	tri
krajnika	NOUN	krajnik
sam	AUX	jesam
operisao	VERB	operisati
.	PUNCT	.
Kada	SCONJ	kada
sam	AUX	jesam
se	PART	se
vratio	VERB	vratiti
,	PUNCT	,
za	ADP	za
to	DET	taj
vreme	NOUN	vreme
dok	SCONJ	dok
sam	AUX	jesam
bio	AUX	biti
na	ADP	na
bolovanju	NOUN	bolovanje
,	PUNCT	,
promenila	VERB	promeniti
se	PART	se
nastavnica	NOUN	nastavnica
i	CCONJ	i
došla	VERB	doći
je	AUX	jesam
nova	ADJ	nov
nastavnica	NOUN	nastavnica
,	PUNCT	,
jedna	NUM	jedan
nova	ADJ	nov
mlada	ADJ	mlad
nastavnica	NOUN	nastavnica
muzike	NOUN	muzika
.	PUNCT	.
Gledala	VERB	gledati
je	AUX	jesam
ocene	NOUN	ocena
,	PUNCT	,
formirala	VERB	formirati
hor	NOUN	hor
i	CCONJ	i
sad	ADV	sad
,	PUNCT	,
videla	VERB	videti
je	AUX	jesam
da	SCONJ	da
imam	VERB	imati
petice	NOUN	petica
iz	ADP	iz
mužičkog	ADJ	mužički
,	PUNCT	,
ali	CCONJ	ali
ja	PRON	ja
sam	AUX	jesam
imao	VERB	imati
petice	NOUN	petica
na	ADP	na
teoriju	NOUN	teorija
,	PUNCT	,
na	ADP	na
ono	DET	onaj
poznavanje	NOUN	poznavanje
kompozitora	NOUN	kompozitor
i	CCONJ	i
šta	PRON	šta
ja	PRON	ja
znam	VERB	znati
,	PUNCT	,
ono	DET	onaj
udaranje	NOUN	udaranje
taktova	NOUN	takt
i	CCONJ	i
tako	ADV	tako
dalje	ADV	dalje
,	PUNCT	,
i	CCONJ	i
onda	ADV	onda
kaže	VERB	kazati
:	PUNCT	:
"	PUNCT	"
Mitiću	PROPN	Mitić
,	PUNCT	,
i	CCONJ	i
vi	PRON	vi
ćete	AUX	hteti
u	ADP	u
hor	NOUN	hor
"	PUNCT	"
.	PUNCT	.
Ja	PRON	ja
kažem	VERB	kazati
:	PUNCT	:
"	PUNCT	"
Ma	PART	ma
ja	PRON	ja
ne	PART	ne
bih	AUX	biti
da	SCONJ	da
"	PUNCT	"
,	PUNCT	,
"	PUNCT	"
U	VERB	U
hor	NOUN	hor
i	CCONJ	i
tačka	NOUN	tačka
"	PUNCT	"
.	PUNCT	.
I	CCONJ	i
ja	PRON	ja
,	PUNCT	,
šta	PRON	šta
ću	AUX	hteti
,	PUNCT	,
išao	VERB	ići
sam	AUX	jesam
u	ADP	u
hor	NOUN	hor
.	PUNCT	.
Nekad	ADV	nekad
je	AUX	jesam
bilo	AUX	biti
i	CCONJ	i
dobro	ADV	dobro
,	PUNCT	,
znaš	VERB	znati
,	PUNCT	,
umesto	ADP	umesto
nekog	DET	neki
časa	NOUN	čas
,	PUNCT	,
proba	VERB	probati
hora	NOUN	hor
,	PUNCT	,
ti	PRON	ti
pobegneš	VERB	pobeći
sa	ADP	sa
časa	NOUN	čas
,	PUNCT	,
pa	CCONJ	pa
vežbaš	VERB	vežbati
hor	NOUN	hor
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
u	ADP	u
horu	NOUN	hor
uglavnom	ADV	uglavnom
otvarao	VERB	otvarati
usta	NOUN	usta
,	PUNCT	,
da	SCONJ	da
ne	PART	ne
kvarim	VERB	kvariti
,	PUNCT	,
tako	ADV	tako
da	SCONJ	da
,	PUNCT	,
tu	ADV	tu
sam	AUX	jesam
bio	AUX	biti
.	PUNCT	.
I	CCONJ	i
na	ADP	na
kraju	NOUN	kraj
,	PUNCT	,
naš	DET	naš
hor	NOUN	hor
je	AUX	jesam
išao	VERB	ići
na	ADP	na
neko	DET	neki
takmičenje	NOUN	takmičenje
tih	DET	taj
horova	NOUN	hor
,	PUNCT	,
to	DET	taj
je	AUX	jesam
bilo	AUX	biti
negde	ADV	negde
na	ADP	na
Crvenom	ADJ	crven
krstu	NOUN	krst
,	PUNCT	,
neki	DET	neki
dom	NOUN	dom
Radničkog	ADJ	Radničkog
,	PUNCT	,
bina	NOUN	bina
,	PUNCT	,
sve	ADV	sve
lepo	ADV	lepo
,	PUNCT	,
mi	PRON	ja
smo	AUX	jesam
izašli	VERB	izaći
,	PUNCT	,
bilo	AUX	biti
je	AUX	jesam
tu	ADV	tu
više	ADV	više
horova	NOUN	hor
,	PUNCT	,
roditelji	NOUN	roditelj
došli	VERB	doći
da	SCONJ	da
gledaju	VERB	gledati
i	CCONJ	i
tako	ADV	tako
dalje	ADV	dalje
.	PUNCT	.
Mi	PRON	ja
smo	AUX	jesam
se	PART	se
,	PUNCT	,
onako	ADV	onako
,	PUNCT	,
poredjali	VERB	poredjali
na	ADP	na
neki	DET	neki
kao	CCONJ	kao
stepenicama	NOUN	stepenica
,	PUNCT	,
a	ADV	a
ispred	ADP	ispred
nas	PRON	mi
je	AUX	jesam
nastavnica	NOUN	nastavnica
koja	DET	koji
je	AUX	jesam
dirigovala	VERB	dirigovati
,	PUNCT	,
ali	CCONJ	ali
ona	PRON	ona
je	AUX	jesam
bila	AUX	biti
na	ADP	na
nekom	DET	neki
podijumu	NOUN	podijum
,	PUNCT	,
kao	CCONJ	kao
na	ADP	na
nekoj	DET	neki
gajbi	NOUN	gajba
,	PUNCT	,
na	ADP	na
nekom	DET	neki
sandučetu	NOUN	sanduče
.	PUNCT	.
I	CCONJ	i
sad	ADV	sad
,	PUNCT	,
ona	PRON	ona
kako	SCONJ	kako
je	AUX	jesam
dirigovala	VERB	dirigovati
,	PUNCT	,
ona	PRON	ona
je	AUX	jesam
nogom	NOUN	noga
udarala	VERB	udarati
takt	NOUN	takt
.	PUNCT	.
I	CCONJ	i
kako	SCONJ	kako
je	AUX	jesam
udarala	VERB	udarati
takt	NOUN	takt
,	PUNCT	,
ono	PRON	ono
se	PART	se
provali	VERB	provaliti
,	PUNCT	,
i	CCONJ	i
ona	PRON	ona
upadne	VERB	upasti
u	ADP	u
tu	DET	taj
gajbu	NOUN	gajba
,	PUNCT	,
samo	PART	samo
joj	PRON	ona
vire	VERB	viriti
noge	NOUN	noga
i	CCONJ	i
ruke	NOUN	ruka
.	PUNCT	.
Sad	ADV	sad
,	PUNCT	,
hor	NOUN	hor
nastavi	VERB	nastaviti
da	SCONJ	da
peva	VERB	pevati
,	PUNCT	,
ali	CCONJ	ali
ja	PRON	ja
pošto	SCONJ	pošto
jedini	NOUN	jedini
nisam	AUX	jesam
pevao	VERB	pevati
,	PUNCT	,
nego	CCONJ	nego
sam	DET	sam
samo	PART	samo
otvarao	VERB	otvarati
usta	NOUN	usta
,	PUNCT	,
ja	PRON	ja
se	PART	se
zacenim	VERB	zaceniti
od	ADP	od
smeha	NOUN	smeh
,	PUNCT	,
meni	PRON	ja
to	DET	taj
bilo	AUX	biti
smešno	ADJ	smešan
.	PUNCT	.
Kad	SCONJ	kad
sam	AUX	jesam
ja	PRON	ja
počeo	VERB	početi
da	SCONJ	da
se	PART	se
smejem	VERB	smejati
iz	ADP	iz
sve	DET	sav
snage	NOUN	snaga
,	PUNCT	,
naravno	PART	naravno
i	CCONJ	i
ceo	ADJ	ceo
hor	NOUN	hor
je	AUX	jesam
počeo	VERB	početi
da	SCONJ	da
se	PART	se
smeje	VERB	smejati
sa	ADP	sa
mnom	PRON	ja
.	PUNCT	.
Na	ADP	na
kraju	NOUN	kraj
izađemo	VERB	izaći
,	PUNCT	,
prekide	VERB	prekinuti
se	PART	se
naše	DET	naš
pevanje	NOUN	pevanje
i	CCONJ	i
kad	SCONJ	kad
smo	AUX	jesam
se	PART	se
vratili	VERB	vratiti
u	ADP	u
školu	NOUN	škola
sutradan	ADV	sutradan
,	PUNCT	,
prekosutra	ADV	prekosutra
kad	SCONJ	kad
smo	AUX	jesam
imali	VERB	imati
muzičko	ADJ	muzički
ponovo	ADV	ponovo
,	PUNCT	,
mene	PRON	ja
nastavnica	NOUN	nastavnica
odmah	ADV	odmah
izbaci	VERB	izbaciti
iz	ADP	iz
hora	NOUN	hor
i	CCONJ	i
za	ADP	za
kaznu	NOUN	kazna
mi	PRON	ja
da	SCONJ	da
neku	DET	neki
malu	ADJ	mali
ocenu	NOUN	ocena
koju	DET	koji
sam	AUX	jesam
posle	ADV	posle
jedva	ADV	jedva
,	PUNCT	,
sa	ADP	sa
nekom	DET	neki
teorijom	NOUN	teorija
popravio	VERB	popraviti
.	PUNCT	.
Bez	ADP	bez
da	SCONJ	da
me	PRON	ja
je	AUX	jesam
pitala	VERB	pitati
,	PUNCT	,
nego	CCONJ	nego
odmah	ADV	odmah
za	ADP	za
kaznu	NOUN	kazna
.	PUNCT	.
Ali	CCONJ	ali
odmah	ADV	odmah
me	PRON	ja
je	AUX	jesam
izbacila	VERB	izbaciti
iz	ADP	iz
hora	NOUN	hor
,	PUNCT	,
mislila	VERB	misliti
je	AUX	jesam
da	SCONJ	da
me	PRON	ja
je	AUX	jesam
kaznila	VERB	kazniti
,	PUNCT	,
a	ADV	a
meni	PRON	ja
bilo	AUX	biti
baš	PART	baš
fino	ADV	fino
.	PUNCT	.
Eto	PART	eto
,	PUNCT	,
to	DET	taj
je	AUX	jesam
bilo	AUX	biti
moje	DET	moj
muziciranje	NOUN	muziciranje
.	PUNCT	.
Već	ADV	Već
sam	AUX	jesam
u	ADP	u
godinama	NOUN	godina
,	PUNCT	,
malo	ADV	malo
me	PRON	ja
muči	VERB	mučiti
dijabetes	NOUN	dijabetes
,	PUNCT	,
nije	AUX	jesam
visok	ADJ	visok
,	PUNCT	,
tu	ADV	tu
je	AUX	jesam
,	PUNCT	,
obuzdavam	VERB	obuzdavati
ga	PRON	on
ishranom	NOUN	ishrana
,	PUNCT	,
pijem	VERB	piti
po	ADP	po
jednu	NUM	jedan
tableticu	NOUN	tabletica
ujutru	ADV	ujutru
,	PUNCT	,
nekog	DET	neki
leka	NOUN	lek
za	ADP	za
dijabetes	NOUN	dijabetes
i	CCONJ	i
čajeve	NOUN	čaj
,	PUNCT	,
ovaj	DET	ovaj
,	PUNCT	,
to	DET	taj
mi	PRON	ja
je	AUX	jesam
da	SCONJ	da
kažem	VERB	kazati
,	PUNCT	,
hronična	ADJ	hroničan
bolest	NOUN	bolest
.	PUNCT	.
I	CCONJ	i
pre	ADV	pre
,	PUNCT	,
pa	CCONJ	pa
evo	PART	evo
sad	ADV	sad
će	AUX	hteti
biti	AUX	biti
u	ADP	u
junu	NOUN	jun
,	PUNCT	,
će	AUX	hteti
biti	AUX	biti
pet	NUM	pet
godina	NOUN	godina
,	PUNCT	,
kako	SCONJ	kako
sam	AUX	jesam
,	PUNCT	,
imao	VERB	imati
operaciju	NOUN	operacija
na	ADP	na
otvorenom	ADJ	otvoren
srcu	NOUN	srce
,	PUNCT	,
ugrađena	VERB	ugraditi
su	AUX	jesam
mi	PRON	ja
dva	NUM	dva
bajpasa	NOUN	bajpas
.	PUNCT	.
Posle	ADP	posle
toga	DET	taj
živim	ADJ	živ
normalno	ADJ	normalan
,	PUNCT	,
koristim	VERB	koristiti
dosta	ADV	dosta
lekova	NOUN	lek
,	PUNCT	,
još	ADV	još
uvek	ADV	uvek
imam	VERB	imati
neku	DET	neki
aritmiju	NOUN	aritmija
,	PUNCT	,
ali	CCONJ	ali
znači	VERB	značiti
to	DET	taj
sve	DET	sav
mi	PRON	ja
je	AUX	jesam
pod	ADP	pod
kontrolom	NOUN	kontrola
,	PUNCT	,
znači	VERB	značiti
neki	DET	neki
blagi	ADJ	blag
dijabetes	NOUN	dijabetes
i	CCONJ	i
to	DET	taj
srčano	ADV	srčano
oboljenje	NOUN	oboljenje
držim	VERB	držati
pod	ADP	pod
kontrolom	NOUN	kontrola
i	CCONJ	i
živim	ADJ	živ
normalno	ADJ	normalan
.	PUNCT	.
Lekova	NOUN	lek
pijem	VERB	piti
dosta	ADV	dosta
,	PUNCT	,
ono	PRON	ono
,	PUNCT	,
terapiju	NOUN	terapija
koju	DET	koji
su	AUX	jesam
mi	PRON	ja
dali	VERB	dati
.	PUNCT	.
I	CCONJ	i
imam	VERB	imati
kutiju	NOUN	kutija
za	ADP	za
sedam	NUM	sedam
dana	NOUN	dan
,	PUNCT	,
popunim	VERB	popuniti
lekovima	NOUN	lek
.	PUNCT	.
Dok	SCONJ	dok
sam	AUX	jesam
bio	AUX	biti
mlad	ADJ	mlad
,	PUNCT	,
prvo	ADV	prvo
sam	AUX	jesam
počeo	VERB	početi
da	SCONJ	da
se	PART	se
bavim	VERB	baviti
džudoom	NOUN	džudo
.	PUNCT	.
U	ADP	u
ono	DET	onaj
vreme	NOUN	vreme
još	ADV	još
nije	AUX	jesam
bilo	AUX	biti
karatea	NOUN	karate
i	CCONJ	i
svih	DET	sav
ovih	DET	ovaj
borilačkih	ADJ	borilački
veština	NOUN	veština
,	PUNCT	,
jedino	CCONJ	jedino
što	SCONJ	što
je	AUX	jesam
bilo	AUX	biti
,	PUNCT	,
bio	AUX	biti
je	AUX	jesam
džudo	NOUN	džudo
,	PUNCT	,
to	DET	taj
sam	AUX	jesam
bio	AUX	biti
u	ADP	u
srednjoj	ADJ	srednji
školi	NOUN	škola
i	CCONJ	i
to	DET	taj
sam	AUX	jesam
trenirao	VERB	trenirati
džudo	NOUN	džudo
jedno	NUM	jedan
dve	NUM	dva
i	CCONJ	i
po	ADP	po
godine	NOUN	godina
,	PUNCT	,
u	ADP	u
Partizanu	ADJ	Partizanu
.	PUNCT	.
Stanovao	VERB	stanovati
sam	AUX	jesam
na	ADP	na
Topčiderskom	ADJ	Topčiderskom
brdu	NOUN	brdo
i	CCONJ	i
kad	SCONJ	kad
sam	AUX	jesam
se	PART	se
vraćao	VERB	vraćati
iz	ADP	iz
škole	NOUN	škola
,	PUNCT	,
koja	DET	koji
je	AUX	jesam
bila	AUX	biti
dole	ADV	dole
na	ADP	na
Dorćolu	PROPN	Dorćol
,	PUNCT	,
'	PUNCT	'
'	PUNCT	'
Petar	PROPN	Petar
Drapšin	PROPN	Drapšin
'	PUNCT	'
'	PUNCT	'
,	PUNCT	,
onda	ADV	onda
sam	AUX	jesam
tu	ADV	tu
silazio	VERB	silaziti
kad	SCONJ	kad
idemo	VERB	ići
posle	ADP	posle
podne	NOUN	podne
,	PUNCT	,
sa	ADP	sa
trolejbusa	NOUN	trolejbus
kod	ADP	kod
stadiona	NOUN	stadion
Partizanovog	ADJ	partizanov
i	CCONJ	i
uveče	ADV	uveče
su	AUX	jesam
bili	AUX	biti
treninzi	NOUN	trening
.	PUNCT	.
Džudo	NOUN	Džudo
sam	AUX	jesam
trenirao	VERB	trenirati
jedno	NUM	jedan
dve	NUM	dva
i	CCONJ	i
po	ADP	po
godine	NOUN	godina
.	PUNCT	.
Nisam	AUX	jesam
učestvovao	VERB	učestvovati
na	ADP	na
nekim	DET	neki
prvenstvima	NOUN	prvenstvo
i	CCONJ	i
na	ADP	na
tome	DET	taj
,	PUNCT	,
u	ADP	u
stvari	NOUN	stvar
,	PUNCT	,
učestvovao	VERB	učestvovati
sam	AUX	jesam
kao	ADV	kao
mlad	ADJ	mlad
,	PUNCT	,
kao	CCONJ	kao
sparing	VERB	sparing
ovim	DET	ovaj
matorim	ADJ	mator
džudistima	NOUN	džudist
,	PUNCT	,
više	ADV	više
da	SCONJ	da
skinu	VERB	skinuti
kilažu	NOUN	kilaža
nego	CCONJ	nego
da	SCONJ	da
nešto	PRON	nešto
posebno	ADV	posebno
naučim	VERB	naučiti
.	PUNCT	.
Međutim	PROPN	Međutim
,	PUNCT	,
kada	SCONJ	kada
sam	AUX	jesam
napunio	VERB	napuniti
sedamnaest	NUM	sedamnaest
godina	NOUN	godina
i	CCONJ	i
ušao	VERB	ući
u	ADP	u
osamnaestu	ADJ	osamnaesti
,	PUNCT	,
počeo	VERB	početi
sam	AUX	jesam
da	SCONJ	da
se	PART	se
bavim	VERB	baviti
prvo	ADJ	prvi
teorijom	NOUN	teorija
,	PUNCT	,
a	ADV	a
posle	ADP	posle
stvano	ADJ	stvano
vazduhoplovnim	ADJ	vazduhoplovni
jedriličarstvom	NOUN	jedriličarstvo
i	CCONJ	i
padobranstvom	NOUN	padobranstvo
.	PUNCT	.
Prekinuo	VERB	prekinuti
sam	AUX	jesam
ovmao	VERB	ovmao
džudo	NOUN	džudo
,	PUNCT	,
prešao	VERB	preći
sam	AUX	jesam
na	ADP	na
jedriličarstvo	NOUN	jedriličarstvo
i	CCONJ	i
padobranstvo	NOUN	padobranstvo
,	PUNCT	,
i	CCONJ	i
time	DET	taj
sam	AUX	jesam
se	PART	se
bavio	VERB	baviti
znači	VERB	značiti
prvu	ADJ	prvi
,	PUNCT	,
zaključno	ADV	zaključno
sa	ADP	sa
drugom	ADJ	drugi
godinom	NOUN	godina
fakulteta	NOUN	fakultet
.	PUNCT	.
Naravno	PART	naravno
,	PUNCT	,
pošto	SCONJ	pošto
mi	PRON	ja
je	AUX	jesam
to	DET	taj
oduzimalo	VERB	oduzimati
dosta	ADV	dosta
vremena	NOUN	vreme
,	PUNCT	,
na	ADP	na
kraju	NOUN	kraj
sam	AUX	jesam
se	PART	se
ipak	PART	ipak
više	ADV	više
posvetio	VERB	posvetiti
fakultetu	NOUN	fakultet
nego	CCONJ	nego
vazduhopolovstvu	NOUN	vazduhopolovstvu
,	PUNCT	,
ali	CCONJ	ali
to	DET	taj
sve	DET	sav
mi	PRON	ja
je	AUX	jesam
doprinelo	VERB	doprineti
,	PUNCT	,
da	SCONJ	da
sam	AUX	jesam
na	ADP	na
kraju	NOUN	kraj
,	PUNCT	,
na	ADP	na
trećoj	ADJ	treći
godini	NOUN	godina
fakulteta	NOUN	fakultet
,	PUNCT	,
uzeo	VERB	uzeti
ovaj	DET	ovaj
vazduholovni	ADJ	vazduholovni
smer	NOUN	smer
,	PUNCT	,
uzeo	VERB	uzeti
vojnu	ADJ	vojni
stipendiju	NOUN	stipendija
od	ADP	od
Komande	ADJ	Komande
vazduhoplovstva	NOUN	vazduhoplovstvo
i	CCONJ	i
na	ADP	na
kraju	NOUN	kraj
,	PUNCT	,
ceo	ADJ	ceo
život	NOUN	život
,	PUNCT	,
radni	ADJ	radni
vek	NOUN	vek
,	PUNCT	,
proveo	VERB	provesti
u	ADP	u
Vazduhoplovstvu	NOUN	vazduhoplovstvo
.	PUNCT	.
A	X	A
inače	PART	inače
,	PUNCT	,
ovaj	DET	ovaj
,	PUNCT	,
moj	DET	moj
prvi	ADJ	prvi
susret	NOUN	susret
sa	ADP	sa
vazduhoplovstvom	NOUN	vazduhoplovstvo
,	PUNCT	,
to	DET	taj
je	AUX	jesam
bilo	AUX	biti
negde	ADV	negde
pedeset	NUM	pedeset
i	CCONJ	i
četvrte	ADJ	četvrti
,	PUNCT	,
pete	NOUN	peta
,	PUNCT	,
tako	ADV	tako
nešto	ADV	nešto
,	PUNCT	,
Radio	PROPN	Radio
Beograd	PROPN	Beograd
je	AUX	jesam
raspisao	VERB	raspisati
neki	DET	neki
konkurs	NOUN	konkurs
'	PUNCT	'
'	PUNCT	'
Put	ADV	Put
na	ADP	na
MEsec	PROPN	Mesec
'	PUNCT	'
'	PUNCT	'
za	ADP	za
decu	NOUN	deca
.	PUNCT	.
Ja	PRON	ja
,	PUNCT	,
mada	SCONJ	mada
nikad	ADV	nikad
nisam	AUX	jesam
bio	AUX	biti
neki	DET	neki
pisac	NOUN	pisac
za	ADP	za
te	DET	taj
sastave	NOUN	sastav
,	PUNCT	,
nikad	ADV	nikad
nisam	AUX	jesam
u	ADP	u
srpskom	ADJ	srpski
,	PUNCT	,
u	ADP	u
tim	DET	taj
slobodnim	ADJ	slobodan
sastavima	NOUN	sastav
mogao	VERB	moći
da	SCONJ	da
dobijem	VERB	dobiti
više	ADV	više
od	ADP	od
četvorke	NOUN	četvorka
,	PUNCT	,
ali	CCONJ	ali
to	DET	taj
mi	PRON	ja
je	AUX	jesam
leglo	VERB	leći
i	CCONJ	i
napišem	VERB	napisati
neki	DET	neki
sastav	NOUN	sastav
'	PUNCT	'
'	PUNCT	'
Put	ADV	Put
na	ADP	na
Mesec	PROPN	Mesec
'	PUNCT	'
'	PUNCT	'
,	PUNCT	,
ono	PRON	ono
od	ADP	od
početka	NOUN	početak
,	PUNCT	,
pa	CCONJ	pa
do	ADP	do
Meseca	PROPN	Mesec
,	PUNCT	,
i	CCONJ	i
jedan	NUM	jedan
dan	NOUN	dan
me	PRON	ja
pozovu	VERB	pozvati
u	ADP	u
Radio	PROPN	Radio
Beograd	PROPN	Beograd
,	PUNCT	,
da	SCONJ	da
pročitam	VERB	pročitati
taj	DET	taj
moj	DET	moj
sastav	NOUN	sastav
preko	ADP	preko
radija	NOUN	radio
.	PUNCT	.
Naravno	PART	naravno
ja	PRON	ja
sam	AUX	jesam
to	DET	taj
pisao	VERB	pisati
rukom	NOUN	ruka
,	PUNCT	,
tamo	ADV	tamo
sam	AUX	jesam
diktirao	VERB	diktirati
nekoj	DET	neki
sekretarici	NOUN	sekretarica
koja	DET	koji
je	AUX	jesam
to	DET	taj
iskucala	VERB	iskucati
,	PUNCT	,
ja	PRON	ja
pročitao	VERB	pročitati
jedanput	ADV	jedanput
naglas	ADV	naglas
,	PUNCT	,
dva	NUM	dva
puta	NOUN	put
,	PUNCT	,
da	SCONJ	da
utreniram	VERB	utrenirati
i	CCONJ	i
na	ADP	na
kraju	NOUN	kraj
na	ADP	na
mikrofon	NOUN	mikrofon
pročitao	VERB	pročitati
taj	DET	taj
svoj	DET	sav
sastav	NOUN	sastav
.	PUNCT	.
Naravno	PART	naravno
,	PUNCT	,
to	DET	taj
se	PART	se
emitovalo	VERB	emitovati
dva	NUM	dva
-	PUNCT	-
tri	NUM	tri
dana	NOUN	dan
kasnije	ADV	kasnije
,	PUNCT	,
posle	ADV	posle
sam	AUX	jesam
ga	PRON	on
slušao	VERB	slušati
.	PUNCT	.
Slušao	VERB	Slušao
sam	AUX	jesam
sebe	PRON	sebe
,	PUNCT	,
i	CCONJ	i
kao	CCONJ	kao
nagradu	NOUN	nagrada
dobijem	VERB	dobiti
let	NOUN	let
avionom	NOUN	avion
iznad	ADP	iznad
Beograda	PROPN	Beograd
.	PUNCT	.
To	DET	taj
je	AUX	jesam
bio	AUX	biti
DC	ADV	DC
-	PUNCT	-
tri	NUM	tri
,	PUNCT	,
vojni	ADJ	vojni
avion	NOUN	avion
,	PUNCT	,
sedišta	NOUN	sedište
su	AUX	jesam
bila	AUX	biti
one	DET	onaj
klupe	NOUN	klupa
sa	ADP	sa
strane	NOUN	strana
,	PUNCT	,
to	DET	taj
smo	AUX	jesam
leteli	VERB	leteti
avionom	NOUN	avion
,	PUNCT	,
znači	VERB	značiti
to	DET	taj
je	AUX	jesam
bio	AUX	biti
prvi	ADJ	prvi
let	NOUN	let
avionom	NOUN	avion
i	CCONJ	i
verovatno	ADV	verovatno
je	AUX	jesam
tu	ADV	tu
,	PUNCT	,
to	DET	taj
letenje	NOUN	letenje
avionom	NOUN	avion
,	PUNCT	,
taj	DET	taj
sastav	NOUN	sastav
,	PUNCT	,
pa	CCONJ	pa
dobijanje	NOUN	dobijanje
neke	DET	neki
članske	ADJ	članski
karte	NOUN	karta
Vazduhoplovnog	ADJ	vazduhoplovni
saveza	NOUN	savez
Srbije	PROPN	Srbija
,	PUNCT	,
čini	VERB	činiti
mi	PRON	ja
se	PART	se
,	PUNCT	,
član	NOUN	član
Selenita	ADJ	Selenita
i	CCONJ	i
tako	ADV	tako
dalje	ADV	dalje
Vazduhoplovnog	ADJ	vazduhoplovni
saveza	NOUN	savez
,	PUNCT	,
pa	CCONJ	pa
posle	ADV	posle
,	PUNCT	,
kasnije	ADV	kasnije
,	PUNCT	,
bavljenje	NOUN	bavljenje
jedriličarstvom	NOUN	jedriličarstvo
i	CCONJ	i
padobranstvom	NOUN	padobranstvo
me	PRON	ja
je	AUX	jesam
usmerilo	VERB	usmeriti
da	SCONJ	da
svoj	DET	sav
život	NOUN	život
,	PUNCT	,
praktično	ADV	praktično
radni	ADJ	radni
vek	NOUN	vek
provedem	VERB	provesti
u	ADP	u
vazduhoplovstvo	NOUN	vazduhoplovstvo
.	PUNCT	.
Što	PROPN	Što
se	PART	se
tiče	VERB	ticati
stranih	ADJ	stran
jezika	NOUN	jezik
,	PUNCT	,
završio	VERB	završiti
sam	AUX	jesam
jednogodišnju	ADJ	jednogodišnji
školu	NOUN	škola
stranih	ADJ	stran
jezika	NOUN	jezik
,	PUNCT	,
engleski	ADJ	engleski
jezik	NOUN	jezik
,	PUNCT	,
to	DET	taj
je	AUX	jesam
vazduhoplovni	ADJ	vazduhoplovni
jezik	NOUN	jezik
,	PUNCT	,
praktično	ADV	praktično
,	PUNCT	,
stručni	ADJ	stručan
.	PUNCT	.
Godinu	NOUN	godina
dana	NOUN	dan
ideš	VERB	ići
u	ADP	u
školu	NOUN	škola
jezika	NOUN	jezik
,	PUNCT	,
imaš	VERB	imati
tamo	ADV	tamo
pet	NUM	pet
časova	NOUN	čas
ili	CCONJ	ili
šest	NUM	šest
,	PUNCT	,
koliko	ADV	koliko
ima	VERB	imati
,	PUNCT	,
dobijaš	VERB	dobijati
domaće	ADJ	domaći
i	CCONJ	i
sve	ADV	sve
.	PUNCT	.
Prava	NOUN	prava
škola	NOUN	škola
,	PUNCT	,
traje	VERB	trajati
deset	NUM	deset
i	CCONJ	i
po	ADP	po
meseci	NOUN	mesec
,	PUNCT	,
imaš	VERB	imati
i	CCONJ	i
zimski	ADJ	zimski
raspust	NOUN	raspust
,	PUNCT	,
petnaest	NUM	petnaest
dana	NOUN	dan
,	PUNCT	,
kao	CCONJ	kao
normalno	ADV	normalno
što	SCONJ	što
se	PART	se
ide	VERB	ići
u	ADP	u
školu	NOUN	škola
.	PUNCT	.
Isto	ADV	isto
imaš	VERB	imati
,	PUNCT	,
pismene	ADJ	pismen
,	PUNCT	,
kolokvijume	NOUN	kolokvijum
,	PUNCT	,
ovamo	ADV	ovamo
onamo	ADV	onamo
,	PUNCT	,
i	CCONJ	i
na	ADP	na
kraju	NOUN	kraj
zavšni	ADJ	zavšni
ispit	NOUN	ispit
.	PUNCT	.
Tako	ADV	tako
da	SCONJ	da
sam	AUX	jesam
tu	ADV	tu
dobro	ADV	dobro
savladao	VERB	savladati
engleski	ADJ	engleski
jezik	NOUN	jezik
,	PUNCT	,
naravno	PART	naravno
ako	SCONJ	ako
ga	PRON	on
ne	PART	ne
koristiš	VERB	koristiti
znanje	NOUN	znanje
ti	DET	taj
polako	ADV	polako
opada	VERB	opadati
.	PUNCT	.
U	ADP	u
školi	NOUN	škola
,	PUNCT	,
dok	SCONJ	dok
sam	AUX	jesam
se	PART	se
školovao	VERB	školovati
,	PUNCT	,
u	ADP	u
školi	NOUN	škola
,	PUNCT	,
u	ADP	u
nižoj	ADJ	nizak
gimnaziji	NOUN	gimnazija
sam	AUX	jesam
učio	VERB	učiti
francuski	ADJ	francuski
.	PUNCT	.
Tako	ADV	tako
da	SCONJ	da
kad	SCONJ	kad
sam	AUX	jesam
počeo	VERB	početi
da	SCONJ	da
radim	VERB	raditi
,	PUNCT	,
moj	DET	moj
jezik	NOUN	jezik
,	PUNCT	,
kojim	DET	koji
sam	AUX	jesam
se	PART	se
služio	VERB	služiti
bio	AUX	biti
je	AUX	jesam
francuski	ADJ	francuski
i	CCONJ	i
koristio	VERB	koristiti
mi	PRON	ja
je	AUX	jesam
,	PUNCT	,
jer	SCONJ	jer
u	ADP	u
tom	DET	taj
Vazduhoplovnom	ADJ	vazduhoplovni
opitnom	ADJ	opitni
centru	NOUN	centar
gde	SCONJ	gde
sam	AUX	jesam
radio	NOUN	radio
,	PUNCT	,
oprema	NOUN	oprema
sa	ADP	sa
kojom	DET	koji
se	PART	se
vrši	VERB	vršiti
merenje	NOUN	merenje
je	AUX	jesam
uglavnom	ADV	uglavnom
bila	AUX	biti
francuskog	ADJ	francuski
porekla	NOUN	poreklo
.	PUNCT	.
Znači	PROPN	Znači
,	PUNCT	,
kupovana	VERB	kupovati
je	AUX	jesam
u	ADP	u
Francuskoj	PROPN	Francuska
,	PUNCT	,
tako	ADV	tako
da	SCONJ	da
mi	PRON	ja
je	AUX	jesam
francuski	ADJ	francuski
koristio	VERB	koristiti
.	PUNCT	.
Međutim	PROPN	Međutim
,	PUNCT	,
kažem	VERB	kazati
,	PUNCT	,
posle	ADV	posle
kada	SCONJ	kada
sam	AUX	jesam
zavšio	VERB	zavšio
engleski	ADJ	engleski
sve	DET	sav
sam	AUX	jesam
više	ADV	više
prelazio	VERB	prelaziti
na	ADP	na
engleski	ADJ	engleski
,	PUNCT	,
batalio	VERB	bataliti
francuski	ADJ	francuski
,	PUNCT	,
tako	ADV	tako
da	SCONJ	da
,	PUNCT	,
ovaj	DET	ovaj
,	PUNCT	,
sad	ADV	sad
se	PART	se
ne	PART	ne
služim	VERB	služiti
francuskim	ADJ	francuski
,	PUNCT	,
ali	CCONJ	ali
sam	AUX	jesam
opet	ADV	opet
samoinicijativno	ADV	samoinicijativno
,	PUNCT	,
bez	ADP	bez
neke	DET	neki
škole	NOUN	škola
se	PART	se
služio	VERB	služiti
ruskim	ADJ	ruski
jezikom	NOUN	jezik
.	PUNCT	.
Tehnička	ADJ	Tehnička
literatura	NOUN	literatura
.	PUNCT	.
Ruski	ADJ	Ruski
,	PUNCT	,
čak	PART	čak
sam	AUX	jesam
ruski	ADJ	ruski
i	CCONJ	i
vršio	VERB	vršiti
prevode	NOUN	prevod
za	ADP	za
pare	NOUN	par
,	PUNCT	,
Spravočnik	PROPN	Spravočnik
vazduhoplovnog	ADJ	vazduhoplovni
inženjera	NOUN	inženjer
.	PUNCT	.
Jeste	AUX	jesam
,	PUNCT	,
imam	VERB	imati
i	CCONJ	i
knjiga	NOUN	knjiga
iz	ADP	iz
matematike	NOUN	matematika
,	PUNCT	,
nisi	AUX	jesam
video	VERB	videti
sve	ADV	sve
,	PUNCT	,
pošto	SCONJ	pošto
mi	PRON	ja
stoji	VERB	stajati
dole	ADV	dole
u	ADP	u
ormaru	NOUN	ormar
.	PUNCT	.
Pazi	VERB	paziti
,	PUNCT	,
ja	PRON	ja
ruski	ADJ	ruski
,	PUNCT	,
pošto	SCONJ	pošto
ga	PRON	on
nisam	AUX	jesam
učio	VERB	učiti
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
ga	PRON	on
dobro	ADV	dobro
naučio	VERB	naučiti
da	SCONJ	da
ga	PRON	on
ja	PRON	ja
čitam	VERB	čitati
na	ADP	na
neki	DET	neki
svoj	DET	sav
način	NOUN	način
koji	DET	koji
nije	AUX	jesam
pravilan	ADJ	pravilan
za	ADP	za
čitanje	NOUN	čitanje
,	PUNCT	,
ali	CCONJ	ali
tačno	ADV	tačno
znam	VERB	znati
šta	PRON	šta
piše	VERB	pisati
,	PUNCT	,
tako	ADV	tako
da	SCONJ	da
mogu	VERB	moći
da	SCONJ	da
prevodim	VERB	prevoditi
tekstove	NOUN	tekst
,	PUNCT	,
pogotovu	ADV	pogotovu
tehničke	ADJ	tehnički
tekstove	NOUN	tekst
,	PUNCT	,
malo	ADV	malo
mi	PRON	ja
je	AUX	jesam
veći	ADJ	velik
problem	NOUN	problem
književne	ADJ	književan
tekstove	NOUN	tekst
da	SCONJ	da
prevodim	VERB	prevoditi
.	PUNCT	.
A	X	A
stručne	ADJ	stručan
,	PUNCT	,
tehničke	ADJ	tehnički
tekstove	NOUN	tekst
normalno	ADV	normalno
prevodim	VERB	prevoditi
,	PUNCT	,
francuski	ADJ	francuski
sam	AUX	jesam
,	PUNCT	,
kažem	VERB	kazati
zabatalio	VERB	zabataliti
,	PUNCT	,
tako	ADV	tako
da	SCONJ	da
mi	PRON	ja
je	AUX	jesam
sad	ADV	sad
praktično	ADV	praktično
osnovni	ADJ	osnovni
jezike	NOUN	jezik
za	ADP	za
komnukaciju	NOUN	komnukaciju
engleski	ADJ	engleski
,	PUNCT	,
za	ADP	za
služenje	NOUN	služenje
,	PUNCT	,
za	ADP	za
komunikaciju	NOUN	komunikacija
i	CCONJ	i
literaturu	NOUN	literatura
.	PUNCT	.
A	X	A
za	ADP	za
literaturu	NOUN	literatura
,	PUNCT	,
uz	ADP	uz
neku	DET	neki
slabu	ADJ	slab
komunikaciju	NOUN	komunikacija
,	PUNCT	,
znaš	VERB	znati
,	PUNCT	,
više	ADV	više
da	SCONJ	da
razumem	VERB	razumeti
kad	SCONJ	kad
mi	PRON	ja
neko	PRON	neko
priča	VERB	pričati
nego	CCONJ	nego
da	SCONJ	da
ja	PRON	ja
kažem	VERB	kazati
,	PUNCT	,
to	DET	taj
mi	PRON	ja
je	AUX	jesam
ruski	ADJ	ruski
.	PUNCT	.
Mnogo	ADV	mnogo
sam	AUX	jesam
voleo	VERB	voleti
da	SCONJ	da
čitam	VERB	čitati
.	PUNCT	.
Sećam	VERB	Sećam
se	PART	se
u	ADP	u
ono	DET	onaj
vreme	NOUN	vreme
,	PUNCT	,
dok	SCONJ	dok
sam	AUX	jesam
bio	AUX	biti
mlađi	ADJ	mlad
,	PUNCT	,
sajmovi	NOUN	sajam
knjiga	NOUN	knjiga
su	AUX	jesam
bili	AUX	biti
,	PUNCT	,
ne	PART	ne
na	ADP	na
Sajmištu	PROPN	Sajmište
,	PUNCT	,
Sajam	PROPN	Sajam
još	PART	još
nije	AUX	jesam
bio	AUX	biti
napravljen	ADJ	napravljen
,	PUNCT	,
bili	AUX	biti
su	AUX	jesam
tamo	ADV	tamo
negde	ADV	negde
iza	ADP	iza
Skupštine	PROPN	Skupštine
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
umeo	VERB	umesti
,	PUNCT	,
nije	AUX	jesam
bilo	AUX	biti
para	NOUN	par
da	SCONJ	da
se	PART	se
kupuju	VERB	kupovati
knjige	NOUN	knjiga
,	PUNCT	,
da	SCONJ	da
odem	VERB	otići
na	ADP	na
Sajam	PROPN	Sajam
,	PUNCT	,
da	SCONJ	da
uzmem	VERB	uzeti
knjigu	NOUN	knjiga
,	PUNCT	,
mogao	VERB	moći
si	AUX	jesam
slobodno	ADV	slobodno
da	SCONJ	da
pregledaš	VERB	pregledati
,	PUNCT	,
da	SCONJ	da
uzmem	VERB	uzeti
knjigu	NOUN	knjiga
i	CCONJ	i
tri	NUM	tri
dana	NOUN	dan
idem	VERB	ići
na	ADP	na
Sajam	PROPN	Sajam
,	PUNCT	,
svaki	DET	svaki
dan	NOUN	dan
da	SCONJ	da
uzmem	VERB	uzeti
da	SCONJ	da
čitam	VERB	čitati
i	CCONJ	i
za	ADP	za
tri	NUM	tri
dana	NOUN	dan
,	PUNCT	,
neku	DET	neki
novu	ADJ	nov
knjigu	NOUN	knjiga
da	SCONJ	da
pročitam	VERB	pročitati
.	PUNCT	.
Naravno	PART	naravno
,	PUNCT	,
to	DET	taj
nisu	AUX	jesam
bile	AUX	biti
stručne	ADJ	stručan
knjige	NOUN	knjiga
,	PUNCT	,
ali	CCONJ	ali
da	SCONJ	da
ti	PRON	ti
kažem	VERB	kazati
,	PUNCT	,
voleo	VERB	voleti
sam	AUX	jesam
da	SCONJ	da
čitam	VERB	čitati
.	PUNCT	.
Kao	CCONJ	kao
i	CCONJ	i
svi	DET	sav
u	ADP	u
ono	DET	onaj
vreme	NOUN	vreme
,	PUNCT	,
svi	DET	sav
smo	AUX	jesam
voleli	VERB	voleti
da	SCONJ	da
čitamo	VERB	čitati
ruske	ADJ	ruski
klasike	NOUN	klasika
.	PUNCT	.
Šta	ADV	Šta
ja	PRON	ja
znam	VERB	znati
,	PUNCT	,
evo	PART	evo
recimo	VERB	reći
Puškin	PROPN	Puškin
.	PUNCT	.
Dostojevski	PROPN	Dostojevski
je	AUX	jesam
mnogo	ADV	mnogo
dobar	ADJ	dobar
pisac	NOUN	pisac
,	PUNCT	,
ali	CCONJ	ali
je	AUX	jesam
meni	PRON	ja
nekako	ADV	nekako
malo	ADV	malo
bio	AUX	biti
težak	ADJ	težak
,	PUNCT	,
malo	ADV	malo
mračniji	ADJ	mračan
,	PUNCT	,
Tolstoj	PROPN	Tolstoj
,	PUNCT	,
njega	PRON	on
sam	AUX	jesam
voleo	VERB	voleti
,	PUNCT	,
ajde	INTJ	ajde
imam	VERB	imati
i	CCONJ	i
ovde	ADV	ovde
Turgenjeva	ADJ	Turgenjev
,	PUNCT	,
Gorkog	ADJ	gorak
.	PUNCT	.
Imam	VERB	imati
tu	DET	taj
knjige	NOUN	knjiga
koje	DET	koji
sam	AUX	jesam
pročitao	VERB	pročitati
,	PUNCT	,
koje	DET	koji
mogu	VERB	moći
i	CCONJ	i
tebi	PRON	ti
da	SCONJ	da
dam	VERB	dati
,	PUNCT	,
da	SCONJ	da
pročitaš	VERB	pročitati
kad	SCONJ	kad
budeš	AUX	biti
imao	VERB	imati
vremena	NOUN	vreme
.	PUNCT	.
Recimo	VERB	reći
od	ADP	od
pesnika	NOUN	pesnik
u	ADP	u
ono	DET	onaj
vreme	NOUN	vreme
,	PUNCT	,
kad	SCONJ	kad
sam	AUX	jesam
ja	PRON	ja
bio	AUX	biti
mlad	ADJ	mlad
,	PUNCT	,
Majakovski	PROPN	Majakovski
.	PUNCT	.
Uopšte	PROPN	Uopšte
,	PUNCT	,
bio	AUX	biti
je	AUX	jesam
pisac	NOUN	pisac
za	ADP	za
decu	NOUN	deca
,	PUNCT	,
pored	ADP	pored
ovih	DET	ovaj
pesama	NOUN	pesma
za	ADP	za
odrasle	ADJ	odrastao
,	PUNCT	,
bio	AUX	biti
je	AUX	jesam
i	CCONJ	i
dečiji	ADJ	dečiji
pesnik	NOUN	pesnik
.	PUNCT	.
Više	PROPN	Vis
sam	AUX	jesam
voleo	VERB	voleti
prozu	NOUN	proza
.	PUNCT	.
Recimo	VERB	reći
,	PUNCT	,
pored	ADP	pored
te	DET	taj
ozbiljne	ADJ	ozbiljan
literature	NOUN	literatura
,	PUNCT	,
voleo	VERB	voleti
sam	AUX	jesam
detektivske	ADJ	detektivski
romane	NOUN	roman
.	PUNCT	.
Tako	ADV	tako
da	SCONJ	da
,	PUNCT	,
detektivske	ADJ	detektivski
romane	NOUN	roman
,	PUNCT	,
pa	CCONJ	pa
evo	PART	evo
sad	ADV	sad
u	ADP	u
starijim	ADJ	star
godinama	NOUN	godina
kad	SCONJ	kad
odem	VERB	otići
na	ADP	na
odmor	NOUN	odmor
kupim	VERB	kupiti
na	ADP	na
engleskom	ADJ	engleski
neki	DET	neki
da	SCONJ	da
kažem	VERB	kazati
krimic	NOUN	krimic
,	PUNCT	,
neki	DET	neki
detektivski	ADJ	detektivski
roman	NOUN	roman
,	PUNCT	,
koji	DET	koji
mi	PRON	ja
odmah	ADV	odmah
služi	VERB	služiti
da	SCONJ	da
ne	PART	ne
bih	AUX	biti
zaboravio	VERB	zaboraviti
jezik	NOUN	jezik
,	PUNCT	,
koji	DET	koji
mi	PRON	ja
služi	VERB	služiti
malo	ADV	malo
za	ADP	za
obnavljanje	NOUN	obnavljanje
jezika	NOUN	jezik
,	PUNCT	,
podsećanje	NOUN	podsećanje
,	PUNCT	,
a	NOUN	a
i	CCONJ	i
da	SCONJ	da
čovek	NOUN	čovek
ima	VERB	imati
šta	PRON	šta
da	SCONJ	da
čita	VERB	čitati
na	ADP	na
plaži	NOUN	plaža
,	PUNCT	,
onako	ADV	onako
kao	CCONJ	kao
laku	ADJ	lak
literaturu	NOUN	literatura
.	PUNCT	.
Kad	SCONJ	kad
sam	AUX	jesam
počeo	VERB	početi
da	SCONJ	da
radim	VERB	raditi
,	PUNCT	,
kad	SCONJ	kad
sam	AUX	jesam
došao	VERB	doći
do	ADP	do
para	NOUN	par
,	PUNCT	,
onda	ADV	onda
je	AUX	jesam
sve	ADV	sve
krenulo	VERB	krenuti
lakše	ADV	lakše
,	PUNCT	,
onda	ADV	onda
sam	AUX	jesam
mogao	VERB	moći
i	CCONJ	i
da	SCONJ	da
kupujem	VERB	kupovati
knjige	NOUN	knjiga
.	PUNCT	.
Pa	CCONJ	pa
eno	PART	eno
vidiš	VERB	viditi
,	PUNCT	,
čitav	ADJ	čitav
mi	PRON	ja
je	AUX	jesam
zid	NOUN	zid
u	ADP	u
biblioteci	NOUN	biblioteka
.	PUNCT	.
Slobodno	ADV	slobodno
vreme	NOUN	vreme
najviše	ADV	najviše
volim	VERB	voliti
da	SCONJ	da
provodim	VERB	provoditi
sa	ADP	sa
svojim	DET	svoj
unucima	NOUN	unuk
.	PUNCT	.
Da	SCONJ	da
sa	ADP	sa
njima	PRON	ona
treniram	VERB	trenirati
moje	DET	moj
sive	ADJ	siv
ćelije	NOUN	ćelija
,	PUNCT	,
iz	ADP	iz
matematike	NOUN	matematika
i	CCONJ	i
fizike	NOUN	fizika
,	PUNCT	,
a	ADV	a
od	ADP	od
drugova	NOUN	drug
,	PUNCT	,
pa	CCONJ	pa
,	PUNCT	,
viđamo	VERB	viđati
se	PART	se
na	ADP	na
tim	DET	taj
godišnjicama	NOUN	godišnjica
,	PUNCT	,
sa	ADP	sa
nekima	DET	neki
se	PART	se
vidjam	VERB	vidjam
i	CCONJ	i
ovako	ADV	ovako
,	PUNCT	,
sa	ADP	sa
nekim	DET	neki
recimo	VERB	reći
dok	SCONJ	dok
smo	AUX	jesam
radili	VERB	raditi
tu	DET	taj
vežbovnu	ADJ	vežbovnu
bombicu	NOUN	bombica
,	PUNCT	,
radio	NOUN	radio
sam	AUX	jesam
recimo	VERB	reći
sa	ADP	sa
kolegom	NOUN	kolega
kog	DET	koji
sam	AUX	jesam
uključio	VERB	uključiti
.	PUNCT	.
On	PRON	on
je	AUX	jesam
bio	AUX	biti
inženjer	NOUN	inženjer
po	ADP	po
naoružanju	NOUN	naoružanje
tako	ADV	tako
da	SCONJ	da
mi	PRON	ja
je	AUX	jesam
vršio	VERB	vršiti
proračune	NOUN	proračun
,	PUNCT	,
Hil	PROPN	Hil
.	PUNCT	.
Znači	ADV	Znači
sa	ADP	sa
njim	PRON	on
konstantno	ADV	konstantno
u	ADP	u
druženju	NOUN	druženje
,	PUNCT	,
onda	ADV	onda
kolega	NOUN	kolega
,	PUNCT	,
sad	ADV	sad
sam	AUX	jesam
skoro	ADV	skoro
bio	AUX	biti
kod	ADP	kod
njega	PRON	on
,	PUNCT	,
koji	DET	koji
mi	PRON	ja
je	AUX	jesam
drugar	NOUN	drugar
iz	ADP	iz
srednje	ADJ	srednji
škole	NOUN	škola
.	PUNCT	.
Pedeset	NUM	pedeset
-	PUNCT	-
šeste	ADJ	šesti
kada	SCONJ	kada
smo	AUX	jesam
upisali	VERB	upisati
srednju	ADJ	srednji
tehničku	ADJ	tehnički
školu	NOUN	škola
,	PUNCT	,
od	ADP	od
tada	ADV	tada
smo	AUX	jesam
zajedno	ADV	zajedno
srednju	ADJ	srednji
školu	NOUN	škola
i	CCONJ	i
fakultet	NOUN	fakultet
završili	VERB	završiti
.	PUNCT	.
Dobro	ADV	dobro
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
otišao	VERB	otići
u	ADP	u
vojsku	NOUN	vojska
,	PUNCT	,
on	PRON	on
je	AUX	jesam
radio	VERB	raditi
u	ADP	u
civilstvu	NOUN	civilstvo
,	PUNCT	,
ali	CCONJ	ali
smo	AUX	jesam
se	PART	se
i	CCONJ	i
dalje	ADV	dalje
družili	VERB	družiti
.	PUNCT	.
Tako	ADV	tako
,	PUNCT	,
imam	VERB	imati
tih	DET	taj
drugova	NOUN	drug
.	PUNCT	.
A	X	A
sada	ADV	sada
,	PUNCT	,
imam	VERB	imati
dosta	ADV	dosta
,	PUNCT	,
kažem	VERB	kazati
prijatelja	NOUN	prijatelj
koji	DET	koji
su	AUX	jesam
mi	PRON	ja
ostali	VERB	ostati
,	PUNCT	,
sa	ADP	sa
kojima	DET	koji
sam	AUX	jesam
radio	NOUN	radio
,	PUNCT	,
zajedno	ADV	zajedno
sa	ADP	sa
posla	NOUN	posao
,	PUNCT	,
a	ADV	a
opet	ADV	opet
,	PUNCT	,
ovamo	ADV	ovamo
imam	VERB	imati
jednu	NUM	jedan
grupu	NOUN	grupa
prijatelja	NOUN	prijatelj
,	PUNCT	,
to	DET	taj
su	AUX	jesam
oni	PRON	oni
sa	ADP	sa
fakulteta	NOUN	fakultet
,	PUNCT	,
koji	DET	koji
su	AUX	jesam
praktično	ADV	praktično
do	ADP	do
ovih	DET	ovaj
gradjanskih	ADJ	gradjanskih
ratova	NOUN	rat
,	PUNCT	,
do	ADP	do
toga	DET	taj
smo	AUX	jesam
se	PART	se
često	ADV	često
družili	VERB	družiti
,	PUNCT	,
neki	DET	neki
su	AUX	jesam
Smederevci	PROPN	Smederevac
,	PUNCT	,
kad	SCONJ	kad
dodje	VERB	dodje
leto	NOUN	leto
i	CCONJ	i
raspusti	VERB	raspustiti
,	PUNCT	,
znali	VERB	znati
smo	AUX	jesam
da	SCONJ	da
se	PART	se
skupimo	VERB	skupiti
na	ADP	na
večere	NOUN	večera
,	PUNCT	,
na	ADP	na
špricere	NOUN	špricer
i	CCONJ	i
tako	ADV	tako
,	PUNCT	,
to	DET	taj
nas	PRON	mi
je	AUX	jesam
bilo	AUX	biti
,	PUNCT	,
jedna	NUM	jedan
kao	CCONJ	kao
družina	NOUN	družina
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
ovamo	ADV	ovamo
bio	AUX	biti
u	ADP	u
Vazduhoplovstvu	NOUN	vazduhoplovstvo
,	PUNCT	,
neki	DET	neki
Slobodan	PROPN	Slobodan
Milanović	PROPN	Milanović
,	PUNCT	,
kome	DET	koji
sam	AUX	jesam
ja	PRON	ja
kum	NOUN	kum
,	PUNCT	,
sad	ADV	sad
živi	VERB	živiti
u	ADP	u
Kanadi	PROPN	Kanada
,	PUNCT	,
je	AUX	jesam
radio	NOUN	radio
u	ADP	u
Sarajevu	PROPN	Sarajevo
,	PUNCT	,
u	ADP	u
Vojnom	PROPN	Vojna
zavodu	NOUN	zavod
.	PUNCT	.
Onda	ADV	onda
Epštajnin	PROPN	Epštajnin
Dušan	PROPN	Dušan
,	PUNCT	,
on	PRON	on
je	AUX	jesam
radio	VERB	raditi
u	ADP	u
Tehnogasu	PROPN	Tehnogasu
,	PUNCT	,
onda	ADV	onda
dvojica	NOUN	dvojica
su	AUX	jesam
radili	VERB	raditi
u	ADP	u
Smederevu	PROPN	Smederevo
u	ADP	u
Železari	PROPN	Železari
,	PUNCT	,
onda	ADV	onda
jedan	NUM	jedan
je	AUX	jesam
u	ADP	u
smederevu	ADJ	smederevu
radio	NOUN	radio
u	ADP	u
Vodovodu	PROPN	Vodovodu
,	PUNCT	,
znaši	ADV	znaši
bilo	AUX	biti
je	AUX	jesam
tu	ADV	tu
jedno	NUM	jedan
društvance	NOUN	društvance
od	ADP	od
nas	PRON	mi
sedam	NUM	sedam
-	PUNCT	-
osam	NUM	osam
,	PUNCT	,
desetak	ADV	desetak
,	PUNCT	,
koji	DET	koji
smo	AUX	jesam
se	PART	se
redovno	ADV	redovno
sastajali	VERB	sastajati
,	PUNCT	,
ubijali	VERB	ubijati
špricere	NOUN	špricer
i	CCONJ	i
ubijali	VERB	ubijati
vreme	NOUN	vreme
.	PUNCT	.
Usput	ADV	usput
sam	AUX	jesam
se	PART	se
,	PUNCT	,
pošto	SCONJ	pošto
mi	PRON	ja
je	AUX	jesam
to	DET	taj
nešto	ADV	nešto
ostalo	VERB	ostati
od	ADP	od
oca	NOUN	otac
,	PUNCT	,
moj	DET	moj
otac	NOUN	otac
se	PART	se
time	DET	taj
bavio	VERB	baviti
,	PUNCT	,
filijatelija	NOUN	filijatelija
,	PUNCT	,
imam	VERB	imati
dosta	ADV	dosta
maraka	NOUN	marka
,	PUNCT	,
čak	PART	čak
i	CCONJ	i
nekih	DET	neki
vrednih	ADJ	vredan
maraka	NOUN	marka
u	ADP	u
albumima	NOUN	album
,	PUNCT	,
to	DET	taj
bih	AUX	biti
morao	VERB	morati
da	SCONJ	da
sredim	VERB	srediti
,	PUNCT	,
eto	PART	eto
,	PUNCT	,
to	DET	taj
mi	PRON	ja
je	AUX	jesam
jedan	NUM	jedan
od	ADP	od
poslova	NOUN	posao
.	PUNCT	.
Drugo	ADV	drugo
,	PUNCT	,
tu	ADV	tu
sam	AUX	jesam
počeo	VERB	početi
da	SCONJ	da
pravim	VERB	praviti
neke	DET	neki
maketice	NOUN	maketice
aviona	NOUN	avion
,	PUNCT	,
to	DET	taj
bih	AUX	biti
isto	ADV	isto
morao	VERB	morati
da	SCONJ	da
sredim	VERB	srediti
.	PUNCT	.
Eto	PART	eto
malo	ADV	malo
čitanja	NOUN	čitanje
,	PUNCT	,
znači	VERB	značiti
,	PUNCT	,
engleskih	ADJ	engleski
knjiga	NOUN	knjiga
,	PUNCT	,
ruski	ADJ	ruski
prevođenje	NOUN	prevođenje
,	PUNCT	,
skupio	VERB	skupiti
sam	AUX	jesam
materijal	NOUN	materijal
i	CCONJ	i
dosta	ADV	dosta
sam	AUX	jesam
preveo	VERB	prevesti
.	PUNCT	.
Iako	SCONJ	iako
imam	VERB	imati
dosta	ADV	dosta
godina	NOUN	godina
,	PUNCT	,
ne	PART	ne
mislim	VERB	misliti
da	SCONJ	da
brzo	ADV	brzo
umrem	VERB	umreti
,	PUNCT	,
mislio	VERB	misliti
sam	AUX	jesam
da	SCONJ	da
napišem	VERB	napisati
jednu	NUM	jedan
knjigu	NOUN	knjiga
kao	CCONJ	kao
priručnik	NOUN	priručnik
za	ADP	za
posao	NOUN	posao
kojim	DET	koji
sam	AUX	jesam
se	PART	se
ja	PRON	ja
bavio	VERB	baviti
.	PUNCT	.
Iako	SCONJ	iako
je	AUX	jesam
sada	ADV	sada
to	DET	taj
dosta	ADV	dosta
uništeno	VERB	uništiti
od	ADP	od
kad	SCONJ	kad
su	AUX	jesam
ovi	DET	ovaj
Žuti	ADJ	Žuti
došli	VERB	doći
na	ADP	na
vlast	NOUN	vlast
,	PUNCT	,
uništili	VERB	uništiti
su	AUX	jesam
vojsku	NOUN	vojska
,	PUNCT	,
pa	CCONJ	pa
su	AUX	jesam
uništili	VERB	uništiti
i	CCONJ	i
ustanovu	NOUN	ustanova
u	ADP	u
kojoj	DET	koji
sam	AUX	jesam
ja	PRON	ja
radio	NOUN	radio
,	PUNCT	,
međutim	PART	međutim
vremena	NOUN	vreme
se	PART	se
menjaju	VERB	menjati
,	PUNCT	,
ponovo	ADV	ponovo
će	AUX	hteti
vojska	NOUN	vojska
postati	VERB	postati
vojska	NOUN	vojska
,	PUNCT	,
ponovo	ADV	ponovo
će	AUX	hteti
naša	DET	naš
vazduhoplovna	ADJ	vazduhoplovni
industrija	NOUN	industrija
da	SCONJ	da
živne	VERB	živnuti
,	PUNCT	,
polako	ADV	polako
ona	PRON	ona
izgleda	VERB	izgledati
oživljava	VERB	oživljavati
,	PUNCT	,
pa	CCONJ	pa
će	AUX	hteti
to	DET	taj
opet	ADV	opet
nekim	DET	neki
novim	ADJ	nov
klincima	NOUN	klinac
zatrebati	VERB	zatrebati
.	PUNCT	.
Znači	ADV	Znači
tu	ADV	tu
sam	AUX	jesam
skupio	VERB	skupiti
dosta	ADV	dosta
materijala	NOUN	materijal
,	PUNCT	,
sad	ADV	sad
to	DET	taj
treba	VERB	trebati
srediti	VERB	srediti
i	CCONJ	i
služiti	VERB	služiti
i	CCONJ	i
napisati	VERB	napisati
kao	ADV	kao
knjigu	NOUN	knjiga
,	PUNCT	,
e	CCONJ	e
to	DET	taj
me	PRON	ja
čeka	VERB	čekati
da	SCONJ	da
uradim	VERB	uraditi
.	PUNCT	.
Da	SCONJ	da
,	PUNCT	,
da	SCONJ	da
,	PUNCT	,
šah	NOUN	šah
sam	AUX	jesam
voleo	VERB	voleti
uvek	ADV	uvek
da	SCONJ	da
igram	VERB	igrati
.	PUNCT	.
Otac	NOUN	otac
me	PRON	ja
je	AUX	jesam
naučio	VERB	naučiti
,	PUNCT	,
pa	CCONJ	pa
ja	PRON	ja
mislim	VERB	misliti
da	SCONJ	da
sam	AUX	jesam
bio	AUX	biti
niža	ADJ	nizak
gimnazija	NOUN	gimnazija
,	PUNCT	,
a	VERB	a
tek	PART	tek
u	ADP	u
srednjoj	ADJ	srednji
školi	NOUN	škola
sam	AUX	jesam
naučio	VERB	naučiti
malo	ADV	malo
da	SCONJ	da
razmišljam	VERB	razmišljati
više	ADV	više
o	ADP	o
tome	DET	taj
,	PUNCT	,
opet	ADV	opet
na	ADP	na
fakultetu	NOUN	fakultet
sam	AUX	jesam
imao	VERB	imati
vremena	NOUN	vreme
-	PUNCT	-
nisam	AUX	jesam
imao	VERB	imati
vremena	NOUN	vreme
,	PUNCT	,
studenti	NOUN	student
uvek	ADV	uvek
imaju	VERB	imati
vremena	NOUN	vreme
.	PUNCT	.
A	X	A
posle	ADP	posle
kad	SCONJ	kad
sam	AUX	jesam
radio	NOUN	radio
,	PUNCT	,
pošto	SCONJ	pošto
pored	ADP	pored
redovnog	ADJ	redovan
posla	NOUN	posao
,	PUNCT	,
ispitivanja	NOUN	ispitivanje
aviona	NOUN	avion
,	PUNCT	,
pošto	SCONJ	pošto
je	AUX	jesam
to	DET	taj
ipak	PART	ipak
vojna	ADJ	vojni
ustanova	NOUN	ustanova
,	PUNCT	,
tu	ADV	tu
se	PART	se
i	PART	i
dežura	VERB	dežurati
.	PUNCT	.
Znači	ADV	Znači
dolazi	VERB	dolaziti
ti	PRON	ti
na	ADP	na
određeno	VERB	odrediti
vreme	NOUN	vreme
da	SCONJ	da
dvadeset	NUM	dvadeset
-	PUNCT	-
četiri	NUM	četiri
sata	NOUN	sat
budeš	AUX	biti
dežurni	ADJ	dežuran
.	PUNCT	.
Imaš	ADJ	Imaš
i	CCONJ	i
pomoćnika	NOUN	pomoćnik
,	PUNCT	,
ovamo	ADV	ovamo
-	PUNCT	-
onamo	ADV	onamo
,	PUNCT	,
e	INTJ	e
onda	ADV	onda
pošto	SCONJ	pošto
nemaš	VERB	nemati
ti	DET	taj
tu	ADV	tu
nešto	ADV	nešto
posebno	ADV	posebno
da	SCONJ	da
radiš	VERB	raditi
,	PUNCT	,
mi	PRON	ja
vojske	NOUN	vojska
nismo	AUX	jesam
imali	VERB	imati
,	PUNCT	,
imaš	VERB	imati
deset	NUM	deset
-	PUNCT	-
petnaest	NUM	petnaest
vojnika	NOUN	vojnik
,	PUNCT	,
koji	DET	koji
obavljaju	VERB	obavljati
one	DET	onaj
pomoćne	ADJ	pomoćni
poslove	NOUN	posao
,	PUNCT	,
punjenje	NOUN	punjenje
aviona	NOUN	avion
,	PUNCT	,
održavanje	NOUN	održavanje
akumulatora	NOUN	akumulator
i	CCONJ	i
tako	ADV	tako
dalje	ADV	dalje
,	PUNCT	,
pa	CCONJ	pa
nemaš	VERB	nemati
šta	PRON	šta
sa	ADP	sa
njima	PRON	ona
da	SCONJ	da
radiš	VERB	raditi
,	PUNCT	,
jer	SCONJ	jer
su	AUX	jesam
već	PART	već
sve	DET	sav
moguće	ADV	moguće
obuke	NOUN	obuka
zavšili	VERB	zavšili
,	PUNCT	,
ovde	ADV	ovde
su	AUX	jesam
došli	VERB	doći
da	SCONJ	da
eto	PART	eto
tih	DET	taj
drugih	ADJ	drugi
šest	NUM	šest
meseci	NOUN	mesec
ili	CCONJ	ili
pet	NUM	pet
,	PUNCT	,
koliko	ADV	koliko
je	AUX	jesam
bilo	AUX	biti
,	PUNCT	,
da	SCONJ	da
odrade	VERB	odraditi
onoza	NOUN	onoza
šta	PRON	šta
su	AUX	jesam
vršili	VERB	vršiti
obuku	NOUN	obuka
.	PUNCT	.
I	CCONJ	i
onda	ADV	onda
se	PART	se
tu	ADV	tu
obično	ADV	obično
sa	ADP	sa
pomoćnikom	NOUN	pomoćnik
ili	CCONJ	ili
sa	ADP	sa
nekim	DET	neki
od	ADP	od
vojnika	NOUN	vojnik
koji	DET	koji
dobro	ADV	dobro
igra	VERB	igrati
šah	NOUN	šah
se	PART	se
utuca	VERB	utucati
vreme	NOUN	vreme
igrajući	VERB	igrati
šah	NOUN	šah
.	PUNCT	.
Tako	ADV	tako
da	SCONJ	da
sam	AUX	jesam
u	ADP	u
to	DET	taj
vreme	NOUN	vreme
,	PUNCT	,
dok	SCONJ	dok
sam	AUX	jesam
radio	NOUN	radio
,	PUNCT	,
malo	ADV	malo
češće	ADV	češće
igrao	VERB	igrati
šah	NOUN	šah
i	CCONJ	i
čak	PART	čak
nisam	AUX	jesam
bio	AUX	biti
loš	ADJ	loš
.	PUNCT	.
Bio	AUX	biti
sam	AUX	jesam
na	ADP	na
,	PUNCT	,
pošto	SCONJ	pošto
su	AUX	jesam
se	PART	se
tu	ADV	tu
u	ADP	u
ono	DET	onaj
vreme	NOUN	vreme
organizovali	VERB	organizovati
susreti	NOUN	susret
vojnih	ADJ	vojni
ustanova	NOUN	ustanova
,	PUNCT	,
zavoda	NOUN	zavod
,	PUNCT	,
instituta	NOUN	institut
i	CCONJ	i
opitnog	ADJ	opitni
centra	NOUN	centar
,	PUNCT	,
čak	PART	čak
sam	AUX	jesam
neki	DET	neki
put	NOUN	put
učestvovao	VERB	učestvovati
i	CCONJ	i
u	ADP	u
šahovskoj	ADJ	šahovski
ekipi	NOUN	ekipa
kad	SCONJ	kad
nije	AUX	jesam
bilo	AUX	biti
ovih	DET	ovaj
jakih	ADJ	jak
,	PUNCT	,
inače	PART	inače
sam	AUX	jesam
obično	ADV	obično
išao	VERB	ići
kao	CCONJ	kao
vodja	ADJ	vodja
ekipe	NOUN	ekipa
,	PUNCT	,
znači	VERB	značiti
i	PART	i
Sarajevo	PROPN	Sarajevo
,	PUNCT	,
Banja	PROPN	Banja
Luku	PROPN	Luk
,	PUNCT	,
Zageb	PROPN	Zageb
i	CCONJ	i
tako	ADV	tako
dalje	ADV	dalje
.	PUNCT	.
Retko	ADV	retko
propustim	VERB	propustiti
Slagalicu	NOUN	slagalica
.	PUNCT	.
Retko	ADV	retko
.	PUNCT	.
Pogotovo	ADV	pogotovo
što	SCONJ	što
sada	ADV	sada
imam	VERB	imati
ovo	DET	ovaj
,	PUNCT	,
preko	ADP	preko
ADSL	PROPN	ADSL
-	PUNCT	-
a	ADV	a
,	PUNCT	,
preko	ADP	preko
Telekoma	PROPN	Telekoma
,	PUNCT	,
uplatio	VERB	uplatiti
sam	AUX	jesam
onaj	DET	onaj
dodatak	NOUN	dodatak
,	PUNCT	,
valjda	PART	valjda
sedamdeset	NUM	sedamdeset
-	PUNCT	-
dva	NUM	dva
dinara	NOUN	dinar
ili	CCONJ	ili
koliko	ADV	koliko
,	PUNCT	,
da	SCONJ	da
možeš	VERB	moći
da	SCONJ	da
gledaš	VERB	gledati
sedamdeset	NUM	sedamdeset
-	PUNCT	-
dva	NUM	dva
sata	NOUN	sat
unazad	ADV	unazad
ako	SCONJ	ako
si	AUX	jesam
propustio	VERB	propustiti
,	PUNCT	,
program	NOUN	program
koji	DET	koji
te	PRON	ti
interesuje	VERB	interesovati
,	PUNCT	,
možeš	VERB	moći
da	SCONJ	da
se	PART	se
vratiš	VERB	vratiti
i	CCONJ	i
da	SCONJ	da
ga	PRON	on
gledaš	VERB	gledati
.	PUNCT	.
Tako	ADV	tako
da	SCONJ	da
retko	ADV	retko
kada	SCONJ	kada
propustim	VERB	propustiti
Slagalicu	NOUN	slagalica
i	CCONJ	i
tome	DET	taj
slično	ADV	slično
,	PUNCT	,
kad	SCONJ	kad
nisam	AUX	jesam
kod	ADP	kod
kuće	NOUN	kuća
,	PUNCT	,
ja	PRON	ja
vratim	VERB	vratiti
i	CCONJ	i
pogledam	VERB	pogledati
.	PUNCT	.
Znači	ADV	Znači
,	PUNCT	,
ima	VERB	imati
Potera	PROPN	Poter
,	PUNCT	,
ima	VERB	imati
Slagalica	NOUN	slagalica
,	PUNCT	,
ima	VERB	imati
Naslovna	ADJ	naslovni
strana	NOUN	strana
,	PUNCT	,
ima	VERB	imati
Stolice	PROPN	Stolica
,	PUNCT	,
manje	ADV	manje
-	PUNCT	-
više	ADV	više
meni	PRON	ja
to	DET	taj
gledanje	NOUN	gledanje
kvizova	NOUN	kviz
dođe	VERB	doći
kao	ADV	kao
testiranje	NOUN	testiranje
mog	DET	moj
znanja	NOUN	znanje
.	PUNCT	.
I	CCONJ	i
pravo	NOUN	prava
da	SCONJ	da
ti	PRON	ti
kažem	VERB	kazati
,	PUNCT	,
Kosta	PROPN	Kosta
,	PUNCT	,
dosta	ADV	dosta
mi	PRON	ja
ide	VERB	ići
,	PUNCT	,
gledam	VERB	gledati
neki	DET	neki
put	NOUN	put
,	PUNCT	,
ove	DET	ovaj
mlade	ADJ	mlad
,	PUNCT	,
baš	PART	baš
taj	DET	taj
kviz	NOUN	kviz
Stolice	PROPN	Stolica
,	PUNCT	,
presretne	VERB	presresti
na	ADP	na
ulici	NOUN	ulica
,	PUNCT	,
onaj	DET	onaj
Điđa	ADJ	Điđa
,	PUNCT	,
i	CCONJ	i
onda	ADV	onda
postavlja	VERB	postavljati
,	PUNCT	,
toliko	ADV	toliko
prosta	ADJ	prost
pitanja	NOUN	pitanje
,	PUNCT	,
mislim	VERB	misliti
gde	SCONJ	gde
bi	AUX	biti
svaki	DET	svaki
mlad	ADJ	mlad
čovek	NOUN	čovek
,	PUNCT	,
ili	CCONJ	ili
stariji	ADJ	star
morao	VERB	morati
da	SCONJ	da
odgovori	VERB	odgovoriti
tačno	ADV	tačno
.	PUNCT	.
Imaš	ADJ	Imaš
lupetanja	NOUN	lupetanje
i	CCONJ	i
lupetanja	NOUN	lupetanje
.	PUNCT	.
Pa	CCONJ	pa
mi	PRON	ja
prosto	ADV	prosto
nekako	ADV	nekako
padne	VERB	pasti
na	ADP	na
pamet	NOUN	pamet
,	PUNCT	,
kako	SCONJ	kako
to	DET	taj
,	PUNCT	,
ono	PRON	ono
kažu	VERB	kazati
svaka	DET	svaki
nova	ADJ	nov
generacija	NOUN	generacija
je	AUX	jesam
za	ADP	za
pet	NUM	pet
posto	ADV	posto
pametnija	ADJ	pametan
od	ADP	od
one	DET	onaj
prethodne	ADJ	prethodan
.	PUNCT	.
Možda	PROPN	Možda
se	PART	se
ja	PRON	ja
ne	PART	ne
sećam	VERB	sećati
koliko	ADV	koliko
ja	PRON	ja
nisam	AUX	jesam
znao	VERB	znati
u	ADP	u
njihovim	DET	njihov
godinama	NOUN	godina
.	PUNCT	.
Pitaj	VERB	pitati
dalje	ADV	dalje
.	PUNCT	.
Pitaj	VERB	pitati
slobodno	ADV	slobodno
.	PUNCT	.
Već	ADV	Već
smo	AUX	jesam
ove	DET	ovaj
godine	NOUN	godina
uplatili	VERB	uplatiti
za	ADP	za
letovanje	NOUN	letovanje
u	ADP	u
Grčkoj	PROPN	Grčka
.	PUNCT	.
Zna	VERB	znati
baka	NOUN	baka
u	ADP	u
koje	DET	koji
mesto	NOUN	mesto
.	PUNCT	.
I	CCONJ	i
to	DET	taj
dvadeset	NUM	dvadeset
-	PUNCT	-
jedan	NUM	jedan
dan	NOUN	dan
.	PUNCT	.
Jer	SCONJ	jer
deset	NUM	deset
dana	NOUN	dan
je	AUX	jesam
malo	ADV	malo
.	PUNCT	.
Onda	ADV	onda
recimo	VERB	reći
,	PUNCT	,
ovo	DET	ovaj
je	AUX	jesam
letovanje	NOUN	letovanje
,	PUNCT	,
ali	CCONJ	ali
kad	SCONJ	kad
smo	AUX	jesam
išli	VERB	ići
po	ADP	po
ovim	DET	ovaj
drugim	ADJ	drugi
mestima	NOUN	mesto
,	PUNCT	,
kao	CCONJ	kao
primer	NOUN	primer
uzimam	VERB	uzimati
Tunis	PROPN	Tunis
,	PUNCT	,
svi	DET	sav
ovi	DET	ovaj
koji	DET	koji
su	AUX	jesam
išli	VERB	ići
kao	ADV	kao
na	ADP	na
letovanju	NOUN	letovanje
,	PUNCT	,
svi	DET	sav
su	AUX	jesam
tamo	ADV	tamo
provodili	VERB	provoditi
vreme	NOUN	vreme
u	ADP	u
hotelu	NOUN	hotel
,	PUNCT	,
u	ADP	u
bazenu	NOUN	bazen
ili	CCONJ	ili
na	ADP	na
moru	NOUN	mora
,	PUNCT	,
nas	PRON	mi
dvoje	NUM	dvoje
smo	AUX	jesam
išli	VERB	ići
i	CCONJ	i
obilazili	VERB	obilaziti
zemlju	NOUN	zemlja
,	PUNCT	,
kartu	NOUN	karta
,	PUNCT	,
gde	SCONJ	gde
je	AUX	jesam
koji	DET	koji
grad	NOUN	grad
,	PUNCT	,
negde	ADV	negde
železnicom	NOUN	železnica
,	PUNCT	,
negde	ADV	negde
vozom	NOUN	voz
,	PUNCT	,
negde	ADV	negde
smo	AUX	jesam
onim	DET	onaj
mini	VERB	minuti
busevima	ADJ	busevima
.	PUNCT	.
Prokrstarili	VERB	prokrstariti
smo	AUX	jesam
Tunis	PROPN	Tunis
praktično	ADV	praktično
od	ADP	od
mauzoleja	NOUN	mauzolej
Habiba	PROPN	Habiba
Burgibe	PROPN	Burgibe
do	ADP	do
Kartagine	PROPN	Kartagina
,	PUNCT	,
sve	DET	sav
smo	AUX	jesam
to	DET	taj
obišli	VERB	obići
i	CCONJ	i
videli	VERB	videti
,	PUNCT	,
i	CCONJ	i
divne	ADJ	divan
,	PUNCT	,
mozaike	NOUN	mozaik
,	PUNCT	,
ja	PRON	ja
mislim	VERB	misliti
da	SCONJ	da
su	AUX	jesam
Arapi	PROPN	Arapin
uneli	VERB	uneti
mozaike	NOUN	mozaik
preko	ADP	preko
Španije	PROPN	Španija
.	PUNCT	.
I	CCONJ	i
da	SCONJ	da
je	AUX	jesam
praktično	ADV	praktično
mozaik	NOUN	mozaik
od	ADP	od
Arapa	PROPN	Arap
došao	VERB	doći
u	ADP	u
Evropu	PROPN	Evropa
.	PUNCT	.
Istoriju	NOUN	istorija
uopšte	ADV	uopšte
volim	VERB	voliti
.	PUNCT	.
A	X	A
srpska	ADJ	srpski
istorija	NOUN	istorija
,	PUNCT	,
dobro	ADV	dobro
Drugi	PROPN	Drugi
svetski	ADJ	svetski
rat	NOUN	rat
verovatno	PART	verovatno
najbolje	ADV	najbolje
i	CCONJ	i
poznajem	VERB	poznavati
,	PUNCT	,
i	CCONJ	i
najviše	ADV	najviše
sam	AUX	jesam
čitao	VERB	čitati
o	ADP	o
tome	DET	taj
.	PUNCT	.
Od	ADP	od
recimo	VERB	reći
Čerčilovih	ADJ	Čerčilov
memoara	NOUN	memoari
,	PUNCT	,
pa	CCONJ	pa
memoara	NOUN	memoari
ruskih	ADJ	ruski
generala	NOUN	general
koji	DET	koji
su	AUX	jesam
praktično	ADV	praktično
vodili	VERB	voditi
za	ADP	za
vreme	NOUN	vreme
Drugog	ADJ	drugi
svetskog	ADJ	svetski
rata	NOUN	rat
,	PUNCT	,
pa	CCONJ	pa
onda	ADV	onda
recimo	VERB	reći
u	ADP	u
mojoj	DET	moj
biblioteci	NOUN	biblioteka
imam	VERB	imati
knjige	NOUN	knjiga
o	ADP	o
svim	DET	sav
našim	DET	naš
vojvodama	NOUN	vojvoda
,	PUNCT	,
od	ADP	od
Putnika	PROPN	Putnik
,	PUNCT	,
pa	CCONJ	pa
redom	ADV	redom
.	PUNCT	.
Od	ADP	od
Putnika	PROPN	Putnik
do	ADP	do
Bojovica	PROPN	Bojovica
.	PUNCT	.
Interesuje	VERB	interesovati
me	PRON	ja
znači	VERB	značiti
naša	DET	naš
istorija	NOUN	istorija
i	CCONJ	i
svetska	ADJ	svetski
istorija	NOUN	istorija
,	PUNCT	,
ne	PART	ne
može	VERB	moći
čovek	NOUN	čovek
da	SCONJ	da
ulazi	VERB	ulaziti
u	ADP	u
detalje	NOUN	detalj
,	PUNCT	,
nisam	AUX	jesam
ni	PART	ni
ja	PRON	ja
istoričar	NOUN	istoričar
,	PUNCT	,
i	CCONJ	i
pošto	SCONJ	pošto
ima	VERB	imati
dosta	ADV	dosta
tih	DET	taj
emisija	NOUN	emisija
,	PUNCT	,
gledam	VERB	gledati
dosta	ADV	dosta
,	PUNCT	,
pa	CCONJ	pa
dosta	ADV	dosta
i	CCONJ	i
zapamtim	VERB	zapamtiti
,	PUNCT	,
pa	CCONJ	pa
imam	VERB	imati
i	CCONJ	i
unucima	NOUN	unuk
,	PUNCT	,
evo	PART	evo
Kosta	PROPN	Kosta
zna	VERB	znati
,	PUNCT	,
da	SCONJ	da
držim	VERB	držati
predavanja	NOUN	predavanje
.	PUNCT	.
Pa	CCONJ	pa
jeste	AUX	jesam
.	PUNCT	.
To	DET	taj
je	AUX	jesam
najbliže	ADJ	bliz
,	PUNCT	,
evo	PART	evo
ti	PRON	ti
Drugi	PROPN	Drugi
svetski	ADJ	svetski
rat	NOUN	rat
,	PUNCT	,
pa	CCONJ	pa
i	CCONJ	i
sad	ADV	sad
,	PUNCT	,
ovi	DET	ovaj
građanski	ADJ	građanski
ratovi	NOUN	rat
koji	DET	koji
su	AUX	jesam
bili	AUX	biti
kod	ADP	kod
nas	PRON	mi
.	PUNCT	.
Bio	AUX	biti
sam	AUX	jesam
svedok	NOUN	svedok
toga	DET	taj
,	PUNCT	,
i	CCONJ	i
prosto	ADV	prosto
tu	ADV	tu
sam	AUX	jesam
i	PART	i
kupovao	VERB	kupovati
,	PUNCT	,
knjige	NOUN	knjiga
,	PUNCT	,
isto	ADJ	isti
učesnika	NOUN	učesnik
,	PUNCT	,
da	SCONJ	da
kažem	VERB	kazati
savremenika	NOUN	savremenik
,	PUNCT	,
od	ADP	od
Momira	PROPN	Momira
Bulatovića	PROPN	Bulatović
do	ADP	do
ovoga	DET	ovaj
iz	ADP	iz
Republike	NOUN	republika
Srpske	ADJ	srpski
,	PUNCT	,
onda	ADV	onda
od	ADP	od
onog	DET	onaj
ruskog	ADJ	ruski
akademika	NOUN	akademik
.	PUNCT	.
Recimo	VERB	reći
,	PUNCT	,
interesantno	ADJ	interesantan
,	PUNCT	,
imam	VERB	imati
dosta	ADV	dosta
tih	DET	taj
dokumenata	NOUN	dokument
,	PUNCT	,
i	CCONJ	i
da	SCONJ	da
kažem	VERB	kazati
više	ADV	više
knjiga	NOUN	knjiga
,	PUNCT	,
nisu	AUX	jesam
to	DET	taj
dokumenti	NOUN	dokument
,	PUNCT	,
o	ADP	o
Srebrenici	PROPN	Srebrenica
,	PUNCT	,
kolika	DET	kolik
je	AUX	jesam
to	DET	taj
laž	NOUN	laž
,	PUNCT	,
o	ADP	o
Srebrenici	PROPN	Srebrenica
,	PUNCT	,
nama	PRON	mi
natovarena	VERB	natovariti
na	ADP	na
leđa	NOUN	leđa
.	PUNCT	.
Ne	PART	ne
znam	VERB	znati
,	PUNCT	,
Markale	PROPN	Markale
,	PUNCT	,
pa	CCONJ	pa
Vase	PROPN	Vasa
Miskina	PROPN	Miskina
,	PUNCT	,
pa	CCONJ	pa
sve	DET	sav
šta	PRON	šta
su	AUX	jesam
nam	PRON	mi
radili	VERB	raditi
,	PUNCT	,
prosto	ADV	prosto
da	SCONJ	da
mogu	VERB	moći
deci	NOUN	deca
da	SCONJ	da
objasnim	VERB	objasniti
da	SCONJ	da
ne	PART	ne
veruju	VERB	verovati
u	ADP	u
sve	DET	sav
ono	DET	onaj
što	SCONJ	što
čuju	VERB	čuti
i	CCONJ	i
što	SCONJ	što
piše	VERB	pisati
.	PUNCT	.
Jer	SCONJ	jer
u	ADP	u
jedno	NUM	jedan
ovo	DET	ovaj
vreme	NOUN	vreme
,	PUNCT	,
od	ADP	od
dvehiljadite	ADJ	dvehiljadite
godine	NOUN	godina
,	PUNCT	,
pa	CCONJ	pa
ovamo	ADV	ovamo
do	ADP	do
dve	NUM	dva
hiljade	NOUN	hiljada
i	CCONJ	i
dvanaeste	ADJ	dvanaesti
,	PUNCT	,
da	SCONJ	da
kažem	VERB	kazati
je	AUX	jesam
čak	PART	čak
u	ADP	u
užbeničkoj	ADJ	užbeničkoj
literaturi	NOUN	literatura
napisano	VERB	napisati
mnogo	ADV	mnogo
neistina	NOUN	neistina
,	PUNCT	,
koje	DET	koji
u	ADP	u
stvari	NOUN	stvar
loše	ADV	loše
govore	VERB	govoriti
o	ADP	o
nama	PRON	mi
.	PUNCT	.
E	CCONJ	e
to	DET	taj
mora	VERB	morati
,	PUNCT	,
to	DET	taj
bi	AUX	biti
morao	VERB	morati
svaki	DET	svaki
od	ADP	od
savremenika	NOUN	savremenik
,	PUNCT	,
koji	DET	koji
zna	VERB	znati
šta	PRON	šta
se	PART	se
desilo	VERB	desiti
,	PUNCT	,
koji	DET	koji
je	AUX	jesam
neposredno	ADV	neposredno
ili	CCONJ	ili
posredno	ADV	posredno
učestvovao	VERB	učestvovati
u	ADP	u
svim	DET	sav
tim	DET	taj
događajima	NOUN	događaj
,	PUNCT	,
da	SCONJ	da
mlađim	ADJ	mlad
generacijama	NOUN	generacija
objašnjava	VERB	objašnjavati
šta	PRON	šta
se	PART	se
stvarno	ADV	stvarno
desilo	VERB	desiti
.	PUNCT	.
A	X	A
ne	PART	ne
,	PUNCT	,
da	SCONJ	da
eto	PART	eto
tek	PART	tek
sad	ADV	sad
počinje	VERB	počinjati
,	PUNCT	,
juče	ADV	juče
čujem	VERB	čuti
na	ADP	na
televiziji	NOUN	televizija
,	PUNCT	,
nešto	PRON	nešto
šta	PRON	šta
sam	AUX	jesam
ja	PRON	ja
pričao	VERB	pričati
davno	ADV	davno
,	PUNCT	,
o	ADP	o
onom	DET	onaj
sudu	NOUN	sud
za	ADP	za
ratne	ADJ	ratni
zločine	NOUN	zločin
,	PUNCT	,
onaj	DET	onaj
Vukčević	PROPN	Vukčević
što	SCONJ	što
je	AUX	jesam
bio	AUX	biti
predsednik	NOUN	predsednik
suda	NOUN	sud
,	PUNCT	,
sad	ADV	sad
ovi	DET	ovaj
traže	VERB	tražiti
,	PUNCT	,
ovaj	DET	ovaj
Drecun	PROPN	Drecun
,	PUNCT	,
što	SCONJ	što
je	AUX	jesam
bio	AUX	biti
na	ADP	na
Kosovu	PROPN	Kosovo
,	PUNCT	,
on	PRON	on
sad	ADV	sad
prosto	ADV	prosto
traži	VERB	tražiti
,	PUNCT	,
on	PRON	on
je	AUX	jesam
inače	PART	inače
sad	ADV	sad
poslanik	NOUN	poslanik
,	PUNCT	,
prosto	ADV	prosto
traži	VERB	tražiti
da	SCONJ	da
se	PART	se
podnese	VERB	podneti
krivična	ADJ	krivičan
prijava	NOUN	prijava
,	PUNCT	,
protiv	ADP	protiv
njega	PRON	on
,	PUNCT	,
jer	SCONJ	jer
nije	AUX	jesam
prosleđivao	VERB	prosleđivati
podatke	NOUN	podatak
koje	DET	koji
mu	PRON	on
je	AUX	jesam
Drecun	PROPN	Drecun
i	CCONJ	i
ostali	VERB	ostati
dostavljali	VERB	dostavljati
o	ADP	o
zločinima	NOUN	zločin
nad	ADP	nad
Srbima	PROPN	Srbin
.	PUNCT	.
A	X	A
i	CCONJ	i
to	DET	taj
je	AUX	jesam
jedan	NUM	jedan
deo	NOUN	deo
toga	DET	taj
zašto	ADV	zašto
se	PART	se
sudilo	VERB	suditi
samo	PART	samo
Srbima	PROPN	Srbin
,	PUNCT	,
a	ADV	a
nikako	ADV	nikako
,	PUNCT	,
nikako	ADV	nikako
drugima	ADJ	drugi
.	PUNCT	.
Onda	ADV	onda
recimo	VERB	reći
zašto	ADV	zašto
Drecun	PROPN	Drecun
koji	DET	koji
je	AUX	jesam
sve	DET	sav
vreme	NOUN	vreme
bio	AUX	biti
na	ADP	na
Kosovu	PROPN	Kosovo
,	PUNCT	,
za	ADP	za
vreme	NOUN	vreme
agresije	NOUN	agresija
,	PUNCT	,
znači	VERB	značiti
ne	PART	ne
bombardovanja	NOUN	bombardovanje
,	PUNCT	,
to	DET	taj
nije	AUX	jesam
bilo	AUX	biti
bombardovanje	NOUN	bombardovanje
,	PUNCT	,
to	DET	taj
je	AUX	jesam
bila	AUX	biti
kopneno	ADJ	kopnen
-	PUNCT	-
vazdušna	ADJ	vazdušan
agresija	NOUN	agresija
.	PUNCT	.
Tek	CCONJ	tek
sad	ADV	sad
počinje	VERB	počinjati
da	SCONJ	da
se	PART	se
priča	VERB	pričati
o	ADP	o
Košarama	PROPN	Košarama
,	PUNCT	,
tek	CCONJ	tek
sad	ADV	sad
počinje	VERB	počinjati
da	SCONJ	da
se	PART	se
priča	VERB	pričati
o	ADP	o
Gorožupu	PROPN	Gorožupu
,	PUNCT	,
on	PRON	on
je	AUX	jesam
prokrstario	VERB	prokrstariti
Kosovu	PROPN	Kosovo
za	ADP	za
vreme	NOUN	vreme
agresije	NOUN	agresija
,	PUNCT	,
napisao	VERB	napisati
je	AUX	jesam
knjige	NOUN	knjiga
,	PUNCT	,
ja	PRON	ja
ovde	ADV	ovde
imam	VERB	imati
i	CCONJ	i
snimljena	VERB	snimiti
svedočanstva	NOUN	svedočanstvo
učesnika	NOUN	učesnik
,	PUNCT	,
na	ADP	na
disku	NOUN	disko
,	PUNCT	,
kompakt	NOUN	kompakt
disku	NOUN	disko
,	PUNCT	,
CD	PROPN	CD
-	PUNCT	-
u	ADP	u
,	PUNCT	,
niko	PRON	niki
to	DET	taj
od	ADP	od
dvehiljadite	ADJ	dvehiljadite
do	ADP	do
dve	NUM	dva
hiljade	NOUN	hiljada
četrnaeste	ADJ	četrnaesti
-	PUNCT	-
petnaeste	ADJ	petnaesti
,	PUNCT	,
niko	PRON	niki
to	DET	taj
nije	AUX	jesam
hteo	AUX	hteti
da	SCONJ	da
objavi	VERB	objaviti
.	PUNCT	.
Niko	PRON	niki
.	PUNCT	.
Nijedna	ADJ	nijedan
televizija	NOUN	televizija
nije	AUX	jesam
htela	AUX	hteti
,	PUNCT	,
niko	PRON	niki
.	PUNCT	.
Njega	PRON	on
su	AUX	jesam
čak	PART	čak
otpustili	VERB	otpustiti
sa	ADP	sa
posla	NOUN	posao
,	PUNCT	,
jer	SCONJ	jer
je	AUX	jesam
pričao	VERB	pričati
istinu	NOUN	istina
o	ADP	o
Kosovu	PROPN	Kosovo
,	PUNCT	,
otpušten	VERB	otpustiti
.	PUNCT	.
Sad	ADV	sad
izlazi	VERB	izlaziti
na	ADP	na
videlo	NOUN	videlo
,	PUNCT	,
sad	ADV	sad
,	PUNCT	,
promenila	VERB	promeniti
se	PART	se
vlast	NOUN	vlast
,	PUNCT	,
nije	AUX	jesam
više	ADV	više
ona	PRON	ona
podanička	ADJ	podanički
.	PUNCT	.
Dok	SCONJ	dok
je	AUX	jesam
bio	AUX	biti
onaj	DET	onaj
prelazni	ADJ	prelazan
period	NOUN	period
,	PUNCT	,
dok	SCONJ	dok
su	AUX	jesam
se	PART	se
ovi	DET	ovaj
snašli	VERB	snaći
,	PUNCT	,
Tek	ADV	Tek
sad	ADV	sad
ti	PRON	ti
imaš	VERB	imati
emisije	NOUN	emisija
o	ADP	o
tome	DET	taj
,	PUNCT	,
tek	CCONJ	tek
sad	ADV	sad
je	AUX	jesam
podignut	VERB	podignuti
spomenik	NOUN	spomenik
Tepiću	PROPN	Tepić
,	PUNCT	,
majoru	NOUN	major
Tepiću	PROPN	Tepić
,	PUNCT	,
znaš	VERB	znati
ko	PRON	ko
je	AUX	jesam
Tepić	PROPN	Tepić
?	PUNCT	?
To	DET	taj
je	AUX	jesam
bio	AUX	biti
kapetan	NOUN	kapetan
,	PUNCT	,
posmrtno	ADJ	posmrtni
je	AUX	jesam
dobio	VERB	dobiti
čin	NOUN	čin
majora	NOUN	major
,	PUNCT	,
koji	DET	koji
je	AUX	jesam
u	ADP	u
Bjelovaru	PROPN	Bjelovar
,	PUNCT	,
za	ADP	za
vreme	NOUN	vreme
hrvatskog	ADJ	hrvatski
napada	NOUN	napad
,	PUNCT	,
jer	SCONJ	jer
kako	SCONJ	kako
je	AUX	jesam
počeo	VERB	početi
taj	DET	taj
ratu	NOUN	rat
Hrvatskoj	PROPN	Hrvatska
?	PUNCT	?
Počeo	VERB	Počeo
je	AUX	jesam
tako	ADV	tako
što	SCONJ	što
su	AUX	jesam
zenge	NOUN	zenga
i	CCONJ	i
ovi	DET	ovaj
napali	VERB	napasti
vojne	ADJ	vojni
garnizone	NOUN	garnizon
,	PUNCT	,
opkolili	VERB	opkoliti
,	PUNCT	,
pucali	VERB	pucati
na	ADP	na
ljude	NOUN	ljudi
,	PUNCT	,
vojnike	NOUN	vojnik
u	ADP	u
garnizonima	NOUN	garnizon
,	PUNCT	,
ukinuli	VERB	ukinuti
vodu	NOUN	vod
,	PUNCT	,
snabdevanje	NOUN	snabdevanje
i	CCONJ	i
tako	ADV	tako
dalje	ADV	dalje
i	CCONJ	i
kad	SCONJ	kad
su	AUX	jesam
pošli	VERB	poći
da	SCONJ	da
zauzmu	VERB	zauzeti
garnizon	NOUN	garnizon
u	ADP	u
Bjelovaru	PROPN	Bjelovar
,	PUNCT	,
Tepić	PROPN	Tepić
naredi	VERB	narediti
svim	DET	sav
vojnicima	NOUN	vojnik
da	SCONJ	da
izađu	VERB	izaći
i	CCONJ	i
da	SCONJ	da
odu	VERB	otići
.	PUNCT	.
Dva	NUM	dva
vojnika	NOUN	vojnik
nisu	AUX	jesam
htela	AUX	hteti
da	SCONJ	da
odu	VERB	otići
,	PUNCT	,
ostala	VERB	ostati
su	AUX	jesam
sa	ADP	sa
njim	PRON	on
i	CCONJ	i
kada	SCONJ	kada
su	AUX	jesam
zenge	NOUN	zenga
i	CCONJ	i
ovi	DET	ovaj
ušli	VERB	ući
u	ADP	u
garnizon	NOUN	garnizon
,	PUNCT	,
pre	ADP	pre
toga	DET	taj
je	AUX	jesam
naravno	PART	naravno
bilo	AUX	biti
borbe	NOUN	borba
,	PUNCT	,
davali	VERB	davati
su	AUX	jesam
otpor	NOUN	otpor
,	PUNCT	,
ali	CCONJ	ali
ovih	DET	ovaj
je	AUX	jesam
bilo	AUX	biti
mnogo	ADV	mnogo
,	PUNCT	,
kad	SCONJ	kad
su	AUX	jesam
ušli	VERB	ući
u	ADP	u
garnizon	NOUN	garnizon
,	PUNCT	,
on	PRON	on
potpali	VERB	potpaliti
i	CCONJ	i
digne	VERB	dignuti
magacin	NOUN	magacin
ceo	ADJ	ceo
,	PUNCT	,
eksplozijom	NOUN	eksplozija
digne	VERB	dignuti
u	ADP	u
vazduh	NOUN	vazduh
.	PUNCT	.
Pogine	VERB	poginuti
,	PUNCT	,
poginu	VERB	poginuti
i	CCONJ	i
ova	DET	ovaj
dva	NUM	dva
vojnika	NOUN	vojnik
što	SCONJ	što
su	AUX	jesam
ostala	VERB	ostati
sa	ADP	sa
njim	PRON	on
,	PUNCT	,
koja	DET	koji
nisu	AUX	jesam
htela	AUX	hteti
da	SCONJ	da
odu	VERB	otići
nego	CCONJ	nego
su	AUX	jesam
ostala	VERB	ostati
sa	ADP	sa
njim	PRON	on
i	CCONJ	i
naravno	PART	naravno
poginu	VERB	poginuti
ovi	DET	ovaj
,	PUNCT	,
zenge	NOUN	zenga
koje	DET	koji
su	AUX	jesam
ušle	VERB	ući
u	ADP	u
garnizon	NOUN	garnizon
.	PUNCT	.
skoro	ADV	skoro
mu	PRON	on
je	AUX	jesam
podignut	VERB	podignuti
spomenik	NOUN	spomenik
.	PUNCT	.
Tek	CCONJ	tek
sad	ADV	sad
,	PUNCT	,
tek	CCONJ	tek
sad	ADV	sad
,	PUNCT	,
o	ADP	o
Sindjeliću	PROPN	Sindjeliću
si	AUX	jesam
učio	VERB	učiti
,	PUNCT	,
on	PRON	on
je	AUX	jesam
moderni	ADJ	moderan
Sindjelić	PROPN	Sindjelić
,	PUNCT	,
on	PRON	on
je	AUX	jesam
moderni	ADJ	moderan
Sindjelić	PROPN	Sindjelić
,	PUNCT	,
ali	CCONJ	ali
do	ADP	do
skoro	ADV	skoro
,	PUNCT	,
znalo	VERB	znati
se	PART	se
za	ADP	za
njega	PRON	on
.	PUNCT	.
A	X	A
evo	PART	evo
,	PUNCT	,
sad	ADV	sad
mu	PRON	on
je	AUX	jesam
prošle	ADJ	prošli
godine	NOUN	godina
ili	CCONJ	ili
ove	DET	ovaj
godine	NOUN	godina
,	PUNCT	,
i	CCONJ	i
data	VERB	dati
mu	PRON	on
je	AUX	jesam
ulica	NOUN	ulica
gore	ADV	gore
,	PUNCT	,
pored	ADP	pored
bolnice	NOUN	bolnica
'	PUNCT	'
'	PUNCT	'
Dragiše	PROPN	Dragiša
Mišović	PROPN	Mišović
'	PUNCT	'
'	PUNCT	'
,	PUNCT	,
dole	ADV	dole
prema	ADP	prema
stadionu	NOUN	stadion
.	PUNCT	.
Tu	ADV	tu
je	AUX	jesam
Ulica	PROPN	Ulica
Majora	PROPN	Major
Tepića	PROPN	Tepić
.	PUNCT	.
Ne	PART	ne
znam	VERB	znati
tačno	ADV	tačno
gde	ADV	gde
,	PUNCT	,
negde	ADV	negde
u	ADP	u
centru	NOUN	centar
.	PUNCT	.
Koliko	ADV	koliko
se	PART	se
znalo	VERB	znati
o	ADP	o
herojskom	ADJ	herojski
borbama	NOUN	borba
na	ADP	na
Košarama	PROPN	Košarama
i	CCONJ	i
na	ADP	na
Gorožupu	PROPN	Gorožupu
,	PUNCT	,
ali	CCONJ	ali
to	DET	taj
je	AUX	jesam
bila	AUX	biti
velika	ADJ	velik
kopneno	ADJ	kopnen
-	PUNCT	-
vazdučna	ADJ	vazdučna
agresija	NOUN	agresija
.	PUNCT	.
Bilo	AUX	biti
je	AUX	jesam
oko	ADP	oko
trideset	NUM	trideset
hiljada	NOUN	hiljada
Šiptara	PROPN	Šiptar
i	CCONJ	i
kobajagi	ADV	kobajagi
instruktora	NOUN	instruktor
i	CCONJ	i
ostalih	ADJ	ostalih
dobrovoljaca	NOUN	dobrovoljac
,	PUNCT	,
idi	VERB	ići
mi	PRON	ja
-	PUNCT	-
dodji	VERB	dodji
mi	PRON	ja
,	PUNCT	,
sa	ADP	sa
njihove	DET	njihov
strane	NOUN	strana
,	PUNCT	,
a	ADV	a
ovde	ADV	ovde
su	AUX	jesam
branili	VERB	braniti
vojnici	NOUN	vojnik
,	PUNCT	,
vojnici	NOUN	vojnik
sa	ADP	sa
starešinama	NOUN	starešina
,	PUNCT	,
oko	ADP	oko
150	NUM	@card@
,	PUNCT	,
ih	PRON	ona
je	AUX	jesam
na	ADP	na
Košarama	PROPN	Košarama
poginulo	VERB	poginuti
.	PUNCT	.
Sad	ADV	sad
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
taj	DET	taj
CD	PROPN	CD
pre	ADP	pre
sedam	NUM	sedam
-	PUNCT	-
osam	NUM	osam
godina	NOUN	godina
uzeo	VERB	uzeti
,	PUNCT	,
kod	ADP	kod
mene	PRON	ja
je	AUX	jesam
,	PUNCT	,
znaš	VERB	znati
da	SCONJ	da
sam	AUX	jesam
i	CCONJ	i
tebi	PRON	ti
govorio	VERB	govoriti
:	PUNCT	:
'	PUNCT	'
'	PUNCT	'
Evo	PROPN	Eva
sine	VERB	sinuti
,	PUNCT	,
ako	SCONJ	ako
hoćeš	AUX	hteti
da	SCONJ	da
gledaš	VERB	gledati
'	PUNCT	'
'	PUNCT	'
,	PUNCT	,
ovaj	DET	ovaj
,	PUNCT	,
tek	CCONJ	tek
sad	ADV	sad
ti	PRON	ti
na	ADP	na
televiziji	NOUN	televizija
imaš	VERB	imati
razgovore	NOUN	razgovor
,	PUNCT	,
oko	ADP	oko
toga	DET	taj
,	PUNCT	,
ima	VERB	imati
čak	PART	čak
i	CCONJ	i
ulica	NOUN	ulica
,	PUNCT	,
ja	PRON	ja
mislim	VERB	misliti
da	SCONJ	da
je	AUX	jesam
bulevar	NOUN	bulevar
,	PUNCT	,
ovaj	DET	ovaj
što	PRON	što
ide	VERB	ići
od	ADP	od
Mosta	PROPN	Most
na	ADP	na
Adi	PROPN	Ada
ka	ADP	ka
Bežaniji	PROPN	Bežaniji
,	PUNCT	,
ja	PRON	ja
mislim	VERB	misliti
da	SCONJ	da
su	AUX	jesam
ga	PRON	on
nazvali	VERB	nazvati
'	PUNCT	'
'	PUNCT	'
Heroji	PROPN	Heroji
sa	ADP	sa
Košara	PROPN	Košara
'	PUNCT	'
'	PUNCT	'
,	PUNCT	,
mislim	VERB	misliti
da	SCONJ	da
je	AUX	jesam
ta	DET	taj
ulica	NOUN	ulica
,	PUNCT	,
znam	VERB	znati
da	SCONJ	da
postoji	VERB	postojati
.	PUNCT	.
Znači	PROPN	Znači
Košare	PROPN	Košare
su	AUX	jesam
bile	AUX	biti
prve	ADJ	prvi
,	PUNCT	,
Gorožup	PROPN	Gorožup
je	AUX	jesam
znači	VERB	značiti
bio	AUX	biti
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Jeste	INTJ	jeste
,	PUNCT	,
oba	NUM	oba
su	AUX	jesam
prema	ADP	prema
Albaniji	PROPN	Albanija
,	PUNCT	,
Karaula	PROPN	Karaula
,	PUNCT	,
to	DET	taj
je	AUX	jesam
karaula	NOUN	karaula
Košare	PROPN	Košare
,	PUNCT	,
Gorožup	PROPN	Gorožup
,	PUNCT	,
isto	ADV	isto
,	PUNCT	,
to	DET	taj
je	AUX	jesam
karaula	NOUN	karaula
Gorožup	PROPN	Gorožup
,	PUNCT	,
tu	DET	taj
su	AUX	jesam
isto	ADV	isto
napadali	VERB	napadati
,	PUNCT	,
evo	PART	evo
skoro	ADV	skoro
sam	AUX	jesam
slušao	VERB	slušati
generala	NOUN	general
Lazarevića	PROPN	Lazarević
,	PUNCT	,
koga	PRON	ko
je	AUX	jesam
onaj	DET	onaj
nepošteni	ADJ	nepošten
sud	NOUN	sud
u	ADP	u
Hagu	PROPN	Hag
osudio	VERB	osuditi
,	PUNCT	,
i	CCONJ	i
on	PRON	on
je	AUX	jesam
odležao	VERB	odležati
svoju	DET	svoj
kaznu	NOUN	kazna
-	PUNCT	-
Zašto	ADJ	Zašto
?	PUNCT	?
Zato	ADV	zato
što	SCONJ	što
je	AUX	jesam
branio	VERB	braniti
svoju	DET	svoj
zemlju	NOUN	zemlja
,	PUNCT	,
recimo	VERB	reći
,	PUNCT	,
jedna	NUM	jedan
činjenica	NOUN	činjenica
,	PUNCT	,
kako	SCONJ	kako
je	AUX	jesam
osedeo	VERB	osedeti
,	PUNCT	,
on	PRON	on
je	AUX	jesam
sad	ADV	sad
sed	ADJ	sed
čovek	NOUN	čovek
.	PUNCT	.
Jednu	NUM	jedan
noć	NOUN	noć
mu	PRON	on
javljaju	VERB	javljati
da	SCONJ	da
američka	ADJ	američki
televizija	NOUN	televizija
,	PUNCT	,
pošto	SCONJ	pošto
je	AUX	jesam
on	PRON	on
bio	AUX	biti
u	ADP	u
komandi	NOUN	komanda
na	ADP	na
Kosovu	PROPN	Kosovo
,	PUNCT	,
da	SCONJ	da
američka	ADJ	američki
televizija	NOUN	televizija
objavljuje	VERB	objavljivati
da	SCONJ	da
je	AUX	jesam
tu	ADV	tu
,	PUNCT	,
na	ADP	na
Gorožupu	PROPN	Gorožupu
poginulo	VERB	poginuti
pet	NUM	pet
stotina	NOUN	stotina
i	CCONJ	i
nešto	ADV	nešto
naših	DET	naš
vojnika	NOUN	vojnik
,	PUNCT	,
oni	PRON	oni
su	AUX	jesam
to	DET	taj
objavili	VERB	objaviti
kao	CCONJ	kao
eto	PART	eto
veliki	ADJ	velik
uspeh	NOUN	uspeh
se	PART	se
postigao	VERB	postignuti
,	PUNCT	,
ubijeno	VERB	ubiti
je	AUX	jesam
pet	NUM	pet
stotina	NOUN	stotina
srpskih	ADJ	srpski
vojnika	NOUN	vojnik
.	PUNCT	.
On	PRON	on
je	AUX	jesam
odmah	ADV	odmah
seo	VERB	sesti
u	ADP	u
kola	NOUN	kola
,	PUNCT	,
sa	ADP	sa
svojim	DET	svoj
ađutantom	NOUN	ađutant
,	PUNCT	,
odjurio	VERB	odjuriti
do	ADP	do
Gorožupa	PROPN	Gorožupa
,	PUNCT	,
ustanovio	VERB	ustanoviti
da	SCONJ	da
nije	AUX	jesam
.	PUNCT	.
Jeste	AUX	jesam
bio	AUX	biti
napad	NOUN	napad
,	PUNCT	,
naši	DET	naš
su	AUX	jesam
uspešno	ADV	uspešno
odbili	VERB	odbiti
napad	NOUN	napad
,	PUNCT	,
oni	PRON	oni
su	AUX	jesam
imali	VERB	imati
velike	ADJ	velik
gubitke	NOUN	gubitak
,	PUNCT	,
naših	DET	naš
je	AUX	jesam
valjda	PART	valjda
poginulo	VERB	poginuti
deset	NUM	deset
ili	CCONJ	ili
petnaest	NUM	petnaest
vojnika	NOUN	vojnik
.	PUNCT	.
I	CCONJ	i
one	PRON	one
kaže	VERB	kazati
:	PUNCT	:
'	PUNCT	'
'	PUNCT	'
Ja	ADV	Ja
sam	AUX	jesam
tu	DET	taj
noć	NOUN	noć
osedeo	VERB	osedeti
,	PUNCT	,
kad	SCONJ	kad
sam	AUX	jesam
čuo	VERB	čuti
da	SCONJ	da
je	AUX	jesam
pet	NUM	pet
stotina	NOUN	stotina
mojih	DET	moj
dečaka	NOUN	dečak
poginulo	VERB	poginuti
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
osedeo	VERB	osedeti
'	PUNCT	'
'	PUNCT	'
.	PUNCT	.
Takvi	DET	takav
su	AUX	jesam
ljudi	NOUN	ljudi
branili	VERB	braniti
ovu	DET	ovaj
našu	DET	naš
,	PUNCT	,
ovu	DET	ovaj
našu	DET	naš
domovinu	NOUN	domovina
,	PUNCT	,
a	ADV	a
njega	PRON	on
su	AUX	jesam
isporučili	VERB	isporučiti
Hagu	PROPN	Hag
,	PUNCT	,
da	SCONJ	da
mu	PRON	on
sude	VERB	suditi
zlotvori	NOUN	zlotvor
,	PUNCT	,
koji	DET	koji
su	AUX	jesam
nas	PRON	mi
bombardovali	VERB	bombardovati
,	PUNCT	,
i	CCONJ	i
njega	PRON	on
i	CCONJ	i
Pavkovića	PROPN	Pavković
i	CCONJ	i
Mladića	PROPN	Mladić
,	PUNCT	,
tako	ADV	tako
da	SCONJ	da
mlađi	ADJ	mlad
ljudi	NOUN	ljudi
treba	VERB	trebati
da	SCONJ	da
se	PART	se
upoznaju	VERB	upoznati
sa	ADP	sa
stvarnošču	NOUN	stvarnošču
,	PUNCT	,
jer	SCONJ	jer
jedno	NUM	jedan
vreme	NOUN	vreme
,	PUNCT	,
ti	PRON	ti
se	PART	se
verovatno	PART	verovatno
toga	DET	taj
dobro	ADV	dobro
sećaš	VERB	sećati
,	PUNCT	,
pa	CCONJ	pa
prosto	ADV	prosto
je	AUX	jesam
bilo	AUX	biti
sramota	NOUN	sramota
reći	VERB	reći
da	SCONJ	da
si	AUX	jesam
branio	VERB	braniti
ovu	DET	ovaj
zemlju	NOUN	zemlja
,	PUNCT	,
jer	SCONJ	jer
te	PRON	ti
maltene	ADV	maltene
odmah	ADV	odmah
proglašavaju	VERB	proglašavati
za	ADP	za
izdajnika	NOUN	izdajnik
.	PUNCT	.
Maltene	ADV	maltene
za	ADP	za
ratnog	ADJ	ratni
zločinca	NOUN	zločinac
.	PUNCT	.
Koliko	ADV	koliko
je	AUX	jesam
bilo	AUX	biti
,	PUNCT	,
nakon	ADP	nakon
dvehiljadite	ADJ	dvehiljadite
godine	NOUN	godina
,	PUNCT	,
kada	SCONJ	kada
je	AUX	jesam
izvršen	VERB	izvršiti
taj	DET	taj
prevrat	NOUN	prevrat
,	PUNCT	,
tj	X	tj
.	PUNCT	.
državni	ADJ	državni
udar	NOUN	udar
,	PUNCT	,
dvehiljadite	ADJ	dvehiljadite
godine	NOUN	godina
je	AUX	jesam
izvršen	VERB	izvršiti
drzavni	ADJ	drzavni
udar	NOUN	udar
,	PUNCT	,
preuzeta	VERB	preuzeti
je	AUX	jesam
vlast	NOUN	vlast
,	PUNCT	,
ne	PART	ne
izborima	NOUN	izbor
,	PUNCT	,
nego	CCONJ	nego
na	ADP	na
silu	NOUN	sila
,	PUNCT	,
odmah	ADV	odmah
dve	NUM	dva
hiljade	NOUN	hiljada
prve	ADJ	prvi
-	PUNCT	-
druge	ADJ	drugi
,	PUNCT	,
su	AUX	jesam
svi	DET	sav
koji	DET	koji
su	AUX	jesam
branili	VERB	braniti
ovu	DET	ovaj
domovinu	NOUN	domovina
,	PUNCT	,
penzionisani	ADJ	penzionisan
.	PUNCT	.
