Zdravko	PROPN	Zdravko
se	PART	se
zovem	VERB	zvati
,	PUNCT	,
rođen	VERB	roditi
u	ADP	u
Sokolcu	PROPN	Sokolac
kraj	ADP	kraj
Romanije	PROPN	Romanija
,	PUNCT	,
Republika	PROPN	Republika
Srpska	PROPN	Srpska
,	PUNCT	,
rođen	VERB	roditi
dvanaestog	ADJ	dvanaesti
trećeg	ADJ	treći
hiljadu	NOUN	hiljada
-	PUNCT	-
devetsto	NUM	devetsto
-	PUNCT	-
trideset	NUM	trideset
-	PUNCT	-
pete	NOUN	peta
.	PUNCT	.
Nisam	AUX	jesam
.	PUNCT	.
Učitelj	PROPN	Učitelj
sam	AUX	jesam
.	PUNCT	.
Imam	VERB	imati
dvoje	NUM	dvoje
dece	NOUN	deca
,	PUNCT	,
sina	NOUN	sin
i	CCONJ	i
ćerku	NOUN	ćerka
i	CCONJ	i
od	ADP	od
ćerke	NOUN	ćerka
dvoje	NUM	dvoje
unučadi	NOUN	unučad
.	PUNCT	.
Njih	PRON	ona
kad	SCONJ	kad
pomenem	VERB	pomenuti
ne	PART	ne
mogu	VERB	moći
da	SCONJ	da
ne	PART	ne
zaplačem	VERB	zaplakati
.	PUNCT	.
Dobro	ADV	dobro
.	PUNCT	.
Supruga	NOUN	supruga
mi	PRON	ja
je	AUX	jesam
umrla	VERB	umreti
,	PUNCT	,
ima	VERB	imati
već	PART	već
šesnaest	NUM	šesnaest
godina	NOUN	godina
.	PUNCT	.
Pa	CCONJ	pa
,	PUNCT	,
dobro	ADV	dobro
je	AUX	jesam
,	PUNCT	,
dobro	ADV	dobro
je	AUX	jesam
.	PUNCT	.
Društvo	PROPN	Društvo
neko	PRON	neko
nemam	VERB	nemati
,	PUNCT	,
al	CCONJ	al
dobro	ADV	dobro
je	AUX	jesam
ovde	ADV	ovde
,	PUNCT	,
možda	PART	možda
bi	AUX	biti
moglo	VERB	moći
malo	ADV	malo
da	SCONJ	da
se	PART	se
organizuje	VERB	organizovati
bolje	ADV	bolje
,	PUNCT	,
ali	CCONJ	ali
,	PUNCT	,
sve	ADV	sve
u	ADP	u
svemu	DET	sav
kad	SCONJ	kad
se	PART	se
uzme	VERB	uzeti
,	PUNCT	,
dobro	ADV	dobro
je	AUX	jesam
.	PUNCT	.
Rekoše	VERB	Rekoše
sad	ADV	sad
,	PUNCT	,
ja	PRON	ja
ne	PART	ne
znam	VERB	znati
dok	SCONJ	dok
ne	PART	ne
bude	AUX	biti
,	PUNCT	,
ne	PART	ne
znam	VERB	znati
šta	PRON	šta
će	AUX	hteti
biti	AUX	biti
,	PUNCT	,
da	SCONJ	da
malo	ADV	malo
ovaj	DET	ovaj
,	PUNCT	,
zamenimo	VERB	zameniti
Novu	ADJ	nov
godinu	NOUN	godina
.	PUNCT	.
Ne	PART	ne
znam	VERB	znati
.	PUNCT	.
Pa	CCONJ	pa
,	PUNCT	,
ja	PRON	ja
ne	PART	ne
znam	VERB	znati
za	ADP	za
ranije	ADV	ranije
,	PUNCT	,
meni	PRON	ja
je	AUX	jesam
dvadesetak	ADV	dvadesetak
dana	NOUN	dan
kako	SCONJ	kako
sam	AUX	jesam
tu	ADV	tu
i	CCONJ	i
nije	AUX	jesam
bilo	AUX	biti
do	ADP	do
sada	ADV	sada
ništa	ADV	ništa
.	PUNCT	.
Pa	CCONJ	pa
nisam	AUX	jesam
.	PUNCT	.
Nemam	VERB	nemati
ja	PRON	ja
s	ADP	s
kim	PRON	ko
nit	CCONJ	nit
pričat	VERB	pričat
,	PUNCT	,
niti	CCONJ	niti
sprijateljivati	VERB	sprijateljivati
sad	ADV	sad
.	PUNCT	.
Kad	SCONJ	kad
sam	AUX	jesam
,	PUNCT	,
da	SCONJ	da
kažem	VERB	kazati
,	PUNCT	,
bogalj	NOUN	bogalj
,	PUNCT	,
svi	DET	sav
mi	PRON	ja
stariji	ADJ	star
.	PUNCT	.
A	X	A
i	CCONJ	i
jesam	AUX	jesam
kad	SCONJ	kad
ja	PRON	ja
ne	PART	ne
mogu	VERB	moći
sam	AUX	jesam
ništa	ADV	ništa
da	SCONJ	da
se	PART	se
uslužim	VERB	uslužiti
,	PUNCT	,
sve	ADV	sve
od	ADP	od
drugog	ADJ	drugi
zavisim	VERB	zavisiti
.	PUNCT	.
Ne	PART	ne
treba	VERB	trebati
,	PUNCT	,
ne	PART	ne
treba	VERB	trebati
,	PUNCT	,
ja	PRON	ja
ću	AUX	hteti
,	PUNCT	,
nego	CCONJ	nego
ne	PART	ne
može	VERB	moći
ovaj	DET	ovaj
produžni	ADJ	produžni
kabal	NOUN	kabal
više	ADV	više
da	SCONJ	da
se	PART	se
primakne	VERB	primaknuti
,	PUNCT	,
pa	CCONJ	pa
mi	PRON	ja
se	PART	se
izvlači	VERB	izvlačiti
ova	DET	ovaj
fruna	NOUN	fruna
.	PUNCT	.
Pa	CCONJ	pa
ne	PART	ne
znam	VERB	znati
,	PUNCT	,
najviše	ADV	najviše
raspust	NOUN	raspust
,	PUNCT	,
u	ADP	u
ono	DET	onaj
vrijeme	NOUN	vrijeme
kad	SCONJ	kad
sam	AUX	jesam
ja	PRON	ja
se	PART	se
odlučio	VERB	odlučiti
i	CCONJ	i
otišao	VERB	otići
.	PUNCT	.
Bilo	AUX	biti
je	AUX	jesam
onda	ADV	onda
dosta	ADV	dosta
raspusta	NOUN	raspust
i	CCONJ	i
ljeti	ADV	ljeti
i	CCONJ	i
zimi	ADV	zimi
,	PUNCT	,
međutim	PART	međutim
sad	ADV	sad
se	PART	se
to	DET	taj
smanjilo	VERB	smanjiti
.	PUNCT	.
Pa	CCONJ	pa
dobro	ADV	dobro
,	PUNCT	,
al	CCONJ	al
posle	ADV	posle
sam	AUX	jesam
zavolio	VERB	zavoliti
poziv	NOUN	poziv
i	CCONJ	i
bio	AUX	biti
sam	AUX	jesam
uspiješan	VERB	uspiješan
u	ADP	u
radu	NOUN	rad
.	PUNCT	.
Izveo	VERB	izvesti
sam	AUX	jesam
dosta	ADV	dosta
generacija	NOUN	generacija
i	CCONJ	i
one	DET	onaj
su	AUX	jesam
sve	DET	sav
dobre	ADJ	dobar
bile	AUX	biti
.	PUNCT	.
Mnogi	ADJ	mnogi
su	AUX	jesam
,	PUNCT	,
više	ADV	više
ja	PRON	ja
mislim	VERB	misliti
od	ADP	od
osamdeset	NUM	osamdeset
posto	ADV	posto
da	SCONJ	da
je	AUX	jesam
završilo	VERB	završiti
fakultete	NOUN	fakultet
,	PUNCT	,
i	CCONJ	i
to	DET	taj
teže	VERB	težiti
ove	DET	ovaj
da	SCONJ	da
kažem	VERB	kazati
.	PUNCT	.
Tehničke	PROPN	Tehničke
,	PUNCT	,
recimo	VERB	reći
elektrotehniku	NOUN	elektrotehnika
,	PUNCT	,
arhitektura	NOUN	arhitektura
,	PUNCT	,
onda	ADV	onda
građevina	NOUN	građevina
,	PUNCT	,
mašinstvo	NOUN	mašinstvo
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
Onda	ADV	onda
i	CCONJ	i
profesora	NOUN	profesor
sa	ADP	sa
matematikom	NOUN	matematika
,	PUNCT	,
sa	ADP	sa
fizikom	NOUN	fizika
i	CCONJ	i
hemijom	NOUN	hemija
,	PUNCT	,
dakle	CCONJ	dakle
sve	DET	sav
teži	ADJ	težak
predmeti	NOUN	predmet
.	PUNCT	.
I	CCONJ	i
sad	ADV	sad
najviše	ADV	najviše
se	PART	se
družim	VERB	družiti
sa	ADP	sa
njima	PRON	ona
.	PUNCT	.
Pa	CCONJ	pa
rekoh	VERB	reći
,	PUNCT	,
bio	AUX	biti
sam	AUX	jesam
uspešan	ADJ	uspešan
u	ADP	u
radu	NOUN	rad
,	PUNCT	,
i	CCONJ	i
zavolio	VERB	zavoliti
decu	NOUN	deca
i	CCONJ	i
tako	ADV	tako
je	AUX	jesam
to	DET	taj
,	PUNCT	,
uvjeren	VERB	uvjeriti
sam	AUX	jesam
,	PUNCT	,
ako	SCONJ	ako
ih	PRON	ona
voliš	VERB	voliti
,	PUNCT	,
oni	PRON	oni
osete	VERB	osetiti
i	CCONJ	i
uzvrate	VERB	uzvratiti
.	PUNCT	.
Uzvrate	VERB	uzvratiti
i	CCONJ	i
oni	PRON	oni
.	PUNCT	.
Najviše	PROPN	Najviše
sam	AUX	jesam
volio	VERB	voliti
matematiku	NOUN	matematika
,	PUNCT	,
i	CCONJ	i
tu	DET	taj
sam	AUX	jesam
temelj	NOUN	temelj
dobar	ADJ	dobar
udarao	VERB	udarati
dijeci	NOUN	dijeci
,	PUNCT	,
zato	ADV	zato
su	AUX	jesam
išli	VERB	ići
na	ADP	na
ove	DET	ovaj
tehničke	ADJ	tehnički
nauke	NOUN	nauka
gde	SCONJ	gde
je	AUX	jesam
matematika	NOUN	matematika
dovoljna	ADJ	dovoljan
.	PUNCT	.
Pa	CCONJ	pa
bio	AUX	biti
sam	AUX	jesam
prilično	ADV	prilično
strog	ADJ	strog
,	PUNCT	,
tražio	VERB	tražiti
sam	AUX	jesam
red	NOUN	red
,	PUNCT	,
disciplinu	NOUN	disciplina
i	CCONJ	i
da	SCONJ	da
se	PART	se
uči	VERB	učiti
,	PUNCT	,
da	SCONJ	da
se	PART	se
radi	VERB	raditi
.	PUNCT	.
Tu	ADV	tu
sam	AUX	jesam
,	PUNCT	,
u	ADP	u
tom	DET	taj
mislim	VERB	misliti
,	PUNCT	,
bio	AUX	biti
strog	ADJ	strog
,	PUNCT	,
inače	PART	inače
ovako	ADV	ovako
bio	AUX	biti
sam	AUX	jesam
tolerantan	ADJ	tolerantan
za	ADP	za
diječije	ADJ	diječije
nestašluke	NOUN	nestašluk
i	CCONJ	i
slično	ADJ	sličan
.	PUNCT	.
Jesam	AUX	jesam
,	PUNCT	,
jesam	AUX	jesam
.	PUNCT	.
U	ADP	u
mojoj	DET	moj
školi	NOUN	škola
,	PUNCT	,
moja	DET	moj
odeljenja	NOUN	odeljenje
iz	ADP	iz
svih	DET	sav
generacija	NOUN	generacija
bila	AUX	biti
od	ADP	od
starijih	ADJ	star
od	ADP	od
petog	ADJ	petog
pa	CCONJ	pa
gore	ADV	gore
,	PUNCT	,
uvijek	ADV	uvijek
najbolja	ADJ	dobar
.	PUNCT	.
A	X	A
tri	NUM	tri
puta	NOUN	put
su	AUX	jesam
mi	PRON	ja
testirani	VERB	testirati
na	ADP	na
nivou	NOUN	nivo
Republike	NOUN	republika
Srpske	ADJ	srpski
,	PUNCT	,
i	CCONJ	i
sva	DET	sav
tri	NUM	tri
puta	NOUN	put
bili	AUX	biti
najbolji	ADJ	dobar
.	PUNCT	.
Dakle	CCONJ	dakle
,	PUNCT	,
to	DET	taj
nešto	PRON	nešto
govori	VERB	govoriti
.	PUNCT	.
Vodio	VERB	voditi
sam	AUX	jesam
sekcije	NOUN	sekcija
,	PUNCT	,
fudbalsku	ADJ	fudbalski
i	CCONJ	i
šahovsku	ADJ	šahovski
.	PUNCT	.
Jesam	AUX	jesam
,	PUNCT	,
u	ADP	u
mladosti	NOUN	mladost
bavio	VERB	baviti
sam	AUX	jesam
se	PART	se
sportom	NOUN	sport
,	PUNCT	,
sve	DET	sav
sportske	ADJ	sportski
igre	NOUN	igra
sam	AUX	jesam
pomalo	ADV	pomalo
upražnjavao	VERB	upražnjavati
.	PUNCT	.
Možda	ADV	Možda
najviše	ADV	najviše
fudbal	NOUN	fudbal
kao	CCONJ	kao
dijete	NOUN	dijeta
sam	AUX	jesam
počeo	VERB	početi
prvo	ADV	prvo
to	DET	taj
,	PUNCT	,
a	ADV	a
onda	ADV	onda
u	ADP	u
Učiteljskoj	ADJ	Učiteljskoj
školi	NOUN	škola
rukomet	NOUN	rukomet
zavolio	VERB	zavoliti
,	PUNCT	,
odbojku	NOUN	odbojka
,	PUNCT	,
košarku	NOUN	košarka
i	CCONJ	i
atletikom	NOUN	atletika
,	PUNCT	,
dosta	ADV	dosta
sam	AUX	jesam
baš	PART	baš
bio	AUX	biti
,	PUNCT	,
pa	CCONJ	pa
sam	DET	sam
i	PART	i
skakao	VERB	skakati
u	ADP	u
dalj	NOUN	dalj
dobro	ADV	dobro
,	PUNCT	,
bez	ADP	bez
treninga	NOUN	trening
,	PUNCT	,
nego	CCONJ	nego
brzina	NOUN	brzina
,	PUNCT	,
zatrčim	VERB	zatrčati
se	PART	se
i	CCONJ	i
brzina	NOUN	brzina
me	PRON	ja
je	AUX	jesam
nosila	VERB	nositi
.	PUNCT	.
Skakao	VERB	skakati
sam	AUX	jesam
preko	ADP	preko
šest	NUM	šest
metara	NOUN	metar
,	PUNCT	,
obavezno	ADV	obavezno
svaki	DET	svaki
skok	NOUN	skok
.	PUNCT	.
Jesam	AUX	jesam
.	PUNCT	.
Što	PROPN	Što
bi	AUX	biti
se	PART	se
reklo	VERB	reći
univerzalan	ADJ	univerzalan
,	PUNCT	,
u	ADP	u
svije	VERB	sviti
se	PART	se
razumevao	VERB	razumevati
,	PUNCT	,
zato	ADV	zato
sam	AUX	jesam
dobro	ADV	dobro
predavao	VERB	predavati
fizičko	ADJ	fizički
,	PUNCT	,
i	CCONJ	i
dijeca	NOUN	dijeca
su	AUX	jesam
volela	VERB	voleti
.	PUNCT	.
Svirao	VERB	svirati
sam	AUX	jesam
u	ADP	u
Učiteljskoj	PROPN	Učiteljskoj
,	PUNCT	,
malo	ADV	malo
prim	VERB	prim
?	PUNCT	?
i	CCONJ	i
malo	ADV	malo
klavir	NOUN	klavir
,	PUNCT	,
to	DET	taj
je	AUX	jesam
ono	PRON	ono
,	PUNCT	,
što	SCONJ	što
bi	AUX	biti
se	PART	se
reklo	VERB	reći
početničko	ADJ	početnički
,	PUNCT	,
diječije	ADJ	diječije
pesmice	NOUN	pesmica
sam	AUX	jesam
mogao	VERB	moći
da	SCONJ	da
odsviram	VERB	odsvirati
,	PUNCT	,
da	SCONJ	da
naučim	VERB	naučiti
,	PUNCT	,
pa	CCONJ	pa
da	SCONJ	da
odsviram	VERB	odsvirati
.	PUNCT	.
A	X	A
inače	PART	inače
nije	AUX	jesam
to	DET	taj
bilo	AUX	biti
neko	DET	neki
sviranje	NOUN	sviranje
,	PUNCT	,
što	SCONJ	što
se	PART	se
tiče	VERB	ticati
pjevanja	NOUN	pjevanje
,	PUNCT	,
volim	VERB	voliti
da	SCONJ	da
slušam	VERB	slušati
pjevače	NOUN	pjevač
i	CCONJ	i
pjesme	NOUN	pjesma
fine	ADJ	fin
kad	SCONJ	kad
su	AUX	jesam
,	PUNCT	,
al	CCONJ	al
ne	PART	ne
umjem	ADJ	umjem
pjevat	NOUN	pjevat
,	PUNCT	,
to	DET	taj
mi	PRON	ja
je	AUX	jesam
slabost	NOUN	slabost
i	CCONJ	i
žao	ADV	žao
mi	PRON	ja
je	AUX	jesam
.	PUNCT	.
Ma	PART	ma
svu	DET	sav
muziku	NOUN	muzika
dobru	NOUN	dobra
.	PUNCT	.
Ne	PART	ne
.	PUNCT	.
Nije	AUX	jesam
važno	ADV	važno
.	PUNCT	.
Možda	VERB	Možda
starogradske	ADJ	starogradski
pjesme	NOUN	pjesma
da	SCONJ	da
sam	AUX	jesam
najviše	ADV	najviše
volio	VERB	voliti
.	PUNCT	.
U	ADP	u
osnovnoj	ADJ	osnovni
školi	NOUN	škola
sam	AUX	jesam
učio	VERB	učiti
,	PUNCT	,
doduše	PART	doduše
onda	ADV	onda
se	PART	se
zvala	VERB	zvati
niža	ADJ	nizak
realna	ADJ	realan
gimnazija	NOUN	gimnazija
,	PUNCT	,
učio	VERB	učiti
ruski	ADJ	ruski
,	PUNCT	,
a	ADV	a
u	ADP	u
učiteljskoj	ADJ	učiteljski
nemački	ADJ	nemački
.	PUNCT	.
Jesam	AUX	jesam
znao	VERB	znati
,	PUNCT	,
mogao	VERB	moći
,	PUNCT	,
ali	CCONJ	ali
palo	VERB	pasti
je	AUX	jesam
to	DET	taj
sad	ADV	sad
sve	ADV	sve
u	ADP	u
zaborav	NOUN	zaborav
,	PUNCT	,
sad	ADV	sad
ne	PART	ne
mogu	VERB	moći
ne	PART	ne
znam	VERB	znati
ništa	ADV	ništa
.	PUNCT	.
Jesam	AUX	jesam
,	PUNCT	,
i	CCONJ	i
dosta	ADV	dosta
sam	AUX	jesam
za	ADP	za
moje	DET	moj
,	PUNCT	,
ovako	ADV	ovako
,	PUNCT	,
uslove	NOUN	uslov
materijalne	ADJ	materijalan
dosta	ADV	dosta
sam	AUX	jesam
obilazio	VERB	obilaziti
,	PUNCT	,
posebno	ADV	posebno
bivšu	ADJ	bivši
Jugu	NOUN	jug
volio	VERB	voliti
.	PUNCT	.
I	CCONJ	i
sad	ADV	sad
bih	AUX	biti
ja	PRON	ja
volio	VERB	voliti
putovati	VERB	putovati
,	PUNCT	,
sad	ADV	sad
momentalno	ADV	momentalno
ne	PART	ne
mogu	VERB	moći
,	PUNCT	,
kako	SCONJ	kako
me	PRON	ja
moždani	ADJ	moždani
ovaj	DET	ovaj
jak	ADJ	jak
je	AUX	jesam
bio	AUX	biti
,	PUNCT	,
onesposobio	VERB	onesposobiti
,	PUNCT	,
i	CCONJ	i
pozaboravljo	NOUN	pozaboravljo
sam	AUX	jesam
svašta	PRON	svašta
,	PUNCT	,
mnoge	ADJ	mnogi
pojmove	NOUN	pojam
ne	PART	ne
znam	VERB	znati
sad	ADV	sad
,	PUNCT	,
imena	NOUN	ime
,	PUNCT	,
prezimena	NOUN	prezime
,	PUNCT	,
to	DET	taj
sam	AUX	jesam
strašno	ADV	strašno
pozaboravljao	VERB	pozaboravljati
.	PUNCT	.
Valjda	PART	valjda
centar	NOUN	centar
za	ADP	za
pamćenje	NOUN	pamćenje
otišao	VERB	otići
,	PUNCT	,
stradao	VERB	stradati
.	PUNCT	.
Pa	CCONJ	pa
relativno	ADV	relativno
,	PUNCT	,
bio	AUX	biti
sam	AUX	jesam
zdrav	ADJ	zdrav
.	PUNCT	.
Tu	ADV	tu
i	CCONJ	i
tamo	ADV	tamo
po	ADP	po
koja	DET	koji
slica	NOUN	slica
?	PUNCT	?
neka	DET	neki
,	PUNCT	,
da	SCONJ	da
je	AUX	jesam
nešto	PRON	nešto
,	PUNCT	,
a	ADV	a
zdrav	ADJ	zdrav
bio	AUX	biti
odlično	ADV	odlično
.	PUNCT	.
Dolazio	VERB	dolaziti
sam	AUX	jesam
podosta	ADV	podosta
jer	SCONJ	jer
sam	AUX	jesam
tu	ADV	tu
imao	VERB	imati
dva	NUM	dva
brata	NOUN	brata
koja	DET	koji
su	AUX	jesam
živela	VERB	živeti
u	ADP	u
Beogradu	PROPN	Beograd
,	PUNCT	,
pa	CCONJ	pa
onda	ADV	onda
sad	ADV	sad
u	ADP	u
zadnje	ADJ	zadnji
vrijeme	NOUN	vrijeme
sin	NOUN	sin
mi	PRON	ja
je	AUX	jesam
tu	ADV	tu
,	PUNCT	,
pa	CCONJ	pa
i	CCONJ	i
kod	ADP	kod
njega	PRON	on
sam	AUX	jesam
dolazio	VERB	dolaziti
i	CCONJ	i
sad	ADV	sad
me	PRON	ja
on	PRON	on
i	PART	i
doveo	VERB	dovesti
ovde	ADV	ovde
da	SCONJ	da
bi	AUX	biti
mogao	VERB	moći
da	SCONJ	da
me	PRON	ja
posjećuje	VERB	posjećivati
.	PUNCT	.
Dosta	ADV	dosta
njih	PRON	ona
,	PUNCT	,
a	NOUN	a
Beograd	PROPN	Beograd
sam	AUX	jesam
najviše	ADV	najviše
volio	VERB	voliti
i	CCONJ	i
u	ADP	u
njemu	PRON	on
bi	AUX	biti
jedino	ADV	jedino
mogao	VERB	moći
napustiti	VERB	napustiti
svoje	DET	svoj
mjesto	NOUN	mjesto
Sokolac	PROPN	Sokolac
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
nostalgičan	ADJ	nostalgičan
dosta	ADV	dosta
i	CCONJ	i
mogao	VERB	moći
sam	AUX	jesam
otići	VERB	otići
svagde	ADV	svagde
i	CCONJ	i
naći	VERB	naći
posao	VERB	posati
,	PUNCT	,
bio	AUX	biti
sam	AUX	jesam
otišao	VERB	otići
u	ADP	u
Sarajevo	PROPN	Sarajevo
,	PUNCT	,
al	CCONJ	al
mi	PRON	ja
se	PART	se
Sarajevo	PROPN	Sarajevo
nije	AUX	jesam
sviđalo	VERB	sviđati
,	PUNCT	,
jednu	NUM	jedan
godinu	NOUN	godina
proveo	VERB	provesti
,	PUNCT	,
i	CCONJ	i
vratio	VERB	vratiti
se	PART	se
u	ADP	u
Sokolac	PROPN	Sokolac
.	PUNCT	.
Meni	PRON	ja
je	AUX	jesam
Beograd	PROPN	Beograd
,	PUNCT	,
pa	CCONJ	pa
Sokolac	PROPN	Sokolac
najbolji	ADJ	dobar
.	PUNCT	.
Pa	CCONJ	pa
ne	PART	ne
,	PUNCT	,
ranije	ADV	ranije
je	AUX	jesam
Beograd	PROPN	Beograd
bio	AUX	biti
mnogo	ADV	mnogo
simpatičniji	ADJ	simpatičan
nego	CCONJ	nego
sad	ADV	sad
.	PUNCT	.
Nema	VERB	nemati
više	ADV	više
one	DET	onaj
čari	NOUN	čar
nekadašnje	ADJ	nekadašnji
,	PUNCT	,
ili	CCONJ	ili
ja	PRON	ja
ne	PART	ne
ulazim	VERB	ulaziti
u	ADP	u
taj	DET	taj
život	NOUN	život
Beogradski	ADJ	beogradski
sad	ADV	sad
kao	ADV	kao
ranije	ADV	ranije
kad	SCONJ	kad
sam	AUX	jesam
bio	AUX	biti
mlad	ADJ	mlad
.	PUNCT	.
Braća	PROPN	Braća
bila	AUX	biti
,	PUNCT	,
pa	CCONJ	pa
smo	AUX	jesam
tu	ADV	tu
s	ADP	s
njima	PRON	ona
i	CCONJ	i
njihovim	DET	njihov
društvom	NOUN	društvo
.	PUNCT	.
Izvini	VERB	izviniti
,	PUNCT	,
mogu	VERB	moći
li	PART	li
te	DET	taj
pitati	VERB	pitati
odakle	ADV	odakle
si	AUX	jesam
ti	PRON	ti
?	PUNCT	?
A	X	A
iz	ADP	iz
Loznice	PROPN	Loznica
?	PUNCT	?
Znam	VERB	znati
,	PUNCT	,
prolazim	VERB	prolaziti
kroz	ADP	kroz
Loznicu	PROPN	Loznica
kad	SCONJ	kad
idem	VERB	ići
za	ADP	za
Sokolac	PROPN	Sokolac
.	PUNCT	.
Kom	DET	koji
reče	VERB	reći
fakultetu	NOUN	fakultet
?	PUNCT	?
Aha	INTJ	aha
.	PUNCT	.
Biološki	PROPN	Biološki
.	PUNCT	.
Fino	ADV	fino
,	PUNCT	,
fino	ADV	fino
.	PUNCT	.
Šta	ADV	Šta
,	PUNCT	,
jesi	AUX	jesam
volela	VERB	voleti
biologiju	NOUN	biologija
,	PUNCT	,
ili	CCONJ	ili
?	PUNCT	?
Ja	PRON	ja
jedino	ADV	jedino
nauku	NOUN	nauka
o	ADP	o
čoveku	NOUN	čovek
sam	AUX	jesam
volio	VERB	voliti
,	PUNCT	,
a	VERB	a
zoologiju	NOUN	zoologija
ajde	INTJ	ajde
i	CCONJ	i
nju	PRON	ona
,	PUNCT	,
ali	CCONJ	ali
pomalo	ADV	pomalo
.	PUNCT	.
Ja	PRON	ja
se	PART	se
volim	VERB	voliti
našaliti	VERB	našaliti
pa	CCONJ	pa
kažem	VERB	kazati
travkica	NOUN	travkica
i	CCONJ	i
ostalo	VERB	ostati
,	PUNCT	,
nisam	AUX	jesam
volio	VERB	voliti
,	PUNCT	,
nit	CCONJ	nit
sam	AUX	jesam
znao	VERB	znati
to	DET	taj
.	PUNCT	.
Ma	PART	ma
ja	PRON	ja
,	PUNCT	,
na	ADP	na
biljni	ADJ	biljni
svet	NOUN	svet
.	PUNCT	.
U	ADP	u
Sarajevu	PROPN	Sarajevo
.	PUNCT	.
Bila	AUX	biti
nam	PRON	mi
je	AUX	jesam
dobra	ADJ	dobar
škola	NOUN	škola
,	PUNCT	,
imali	VERB	imati
smo	AUX	jesam
odlične	ADJ	odličan
profesore	NOUN	profesor
,	PUNCT	,
tako	ADV	tako
da	SCONJ	da
su	AUX	jesam
kadrovi	NOUN	kadar
iz	ADP	iz
te	DET	taj
škole	NOUN	škola
dobro	ADV	dobro
izlazili	VERB	izlaziti
.	PUNCT	.
Većina	PROPN	Većina
njih	PRON	ona
,	PUNCT	,
kad	SCONJ	kad
su	AUX	jesam
počeli	VERB	početi
da	SCONJ	da
se	PART	se
otvaraju	VERB	otvarati
fakulteti	NOUN	fakultet
,	PUNCT	,
u	ADP	u
Sarajevu	PROPN	Sarajevo
,	PUNCT	,
prelazili	VERB	prelaziti
su	AUX	jesam
na	ADP	na
fakultete	NOUN	fakultet
,	PUNCT	,
eto	PART	eto
tako	ADV	tako
,	PUNCT	,
bio	AUX	biti
je	AUX	jesam
čak	PART	čak
jedan	NUM	jedan
doktor	NOUN	doktor
nauka	NOUN	nauka
.	PUNCT	.
Evo	PART	evo
hoću	AUX	hteti
malo	ADV	malo
,	PUNCT	,
izvini	VERB	izviniti
.	PUNCT	.
Žao	VERB	Žao
mi	PRON	ja
je	AUX	jesam
,	PUNCT	,
jedino	CCONJ	jedino
to	DET	taj
mi	PRON	ja
je	AUX	jesam
nedostatak	NOUN	nedostatak
,	PUNCT	,
vid	NOUN	vid
me	PRON	ja
izdao	VERB	izdati
i	CCONJ	i
ne	PART	ne
mogu	VERB	moći
da	SCONJ	da
čitam	VERB	čitati
.	PUNCT	.
Čak	PROPN	Čak
evo	PART	evo
i	CCONJ	i
ova	DET	ovaj
televizija	NOUN	televizija
,	PUNCT	,
blizu	ADV	blizu
je	AUX	jesam
,	PUNCT	,
ali	CCONJ	ali
ne	PART	ne
vidim	VERB	viditi
i	CCONJ	i
slabo	ADV	slabo
slušam	VERB	slušati
.	PUNCT	.
Pa	CCONJ	pa
ne	PART	ne
mogu	VERB	moći
naočare	NOUN	naočare
ništa	ADV	ništa
.	PUNCT	.
Sad	ADV	sad
u	ADP	u
zadnje	ADJ	zadnji
vreme	NOUN	vreme
imam	VERB	imati
kataraktu	NOUN	katarakta
.	PUNCT	.
Pa	CCONJ	pa
,	PUNCT	,
ne	PART	ne
baš	PART	baš
preterano	ADJ	preteran
ali	CCONJ	ali
,	PUNCT	,
volio	VERB	voliti
sam	AUX	jesam
kad	SCONJ	kad
dobru	ADJ	dobar
knjigu	NOUN	knjiga
uzmem	VERB	uzeti
,	PUNCT	,
nisam	AUX	jesam
znao	VERB	znati
stati	VERB	stati
dok	SCONJ	dok
je	AUX	jesam
ne	PART	ne
pročitam	VERB	pročitati
.	PUNCT	.
A	X	A
ovo	DET	ovaj
što	SCONJ	što
nisam	AUX	jesam
čitao	VERB	čitati
,	PUNCT	,
najviše	ADV	najviše
zbog	ADP	zbog
sporta	NOUN	sport
,	PUNCT	,
volio	VERB	voliti
sam	AUX	jesam
više	ADV	više
baviti	VERB	baviti
se	PART	se
sportom	NOUN	sport
i	CCONJ	i
biti	AUX	biti
napolju	ADV	napolju
s	ADP	s
društvom	NOUN	društvo
u	ADP	u
nekoj	DET	neki
igri	NOUN	igra
,	PUNCT	,
nego	CCONJ	nego
čitati	VERB	čitati
.	PUNCT	.
Eto	PART	eto
tako	ADV	tako
.	PUNCT	.
Nema	VERB	nemati
na	ADP	na
čemu	PRON	šta
.	PUNCT	.
