[	PUNCT	[
Kako	ADV	kako
se	PART	se
zovete	VERB	zvati
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
desanka	NOUN	desanka
}	PUNCT	}
Vidojević	PROPN	Vidojević
Desanka	PROPN	Desanka
.	PUNCT	.
[	PUNCT	[
Koliko	ADJ	Koliko
imate	VERB	imati
godina	NOUN	godina
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
desanka	NOUN	desanka
}	PUNCT	}
Devedeset	NUM	devedeset
-	PUNCT	-
četiri	NUM	četiri
pune	ADJ	pun
i	CCONJ	i
devedeset	NUM	devedeset
-	PUNCT	-
peta	NOUN	peta
.	PUNCT	.
[	PUNCT	[
Super	PROPN	Super
,	PUNCT	,
super	X	super
.	PUNCT	.
Odakle	ADV	odakle
ste	AUX	jesam
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
desanka	NOUN	desanka
}	PUNCT	}
Odakle	ADV	odakle
sam	AUX	jesam
?	PUNCT	?
[	PUNCT	[
Da	ADV	Da
,	PUNCT	,
da	SCONJ	da
.	PUNCT	.
Gde	SCONJ	gde
ste	AUX	jesam
rođeni	VERB	roditi
,	PUNCT	,
mesto	NOUN	mesto
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
desanka	NOUN	desanka
}	PUNCT	}
U	NOUN	U
Ličkom	PROPN	Lička
Petrovom	PROPN	Petrovo
selu	NOUN	selo
,	PUNCT	,
Lika	PROPN	Lika
.	PUNCT	.
[	PUNCT	[
Lika	PROPN	Lika
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
desanka	NOUN	desanka
}	PUNCT	}
Da	NOUN	Da
.	PUNCT	.
[	PUNCT	[
A	X	A
jeste	AUX	jesam
li	PART	li
tamo	ADV	tamo
živeli	VERB	živeti
ceo	ADJ	ceo
život	NOUN	život
ili	CCONJ	ili
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
desanka	NOUN	desanka
}	PUNCT	}
Ne	NOUN	Ne
,	PUNCT	,
nisam	AUX	jesam
,	PUNCT	,
tu	ADV	tu
sam	AUX	jesam
najmanje	ADV	najmanje
provela	VERB	provesti
.	PUNCT	.
Više	PROPN	Vis
sam	AUX	jesam
provela	VERB	provesti
u	ADP	u
Bihaću	PROPN	Bihać
,	PUNCT	,
u	ADP	u
Bosni	PROPN	Bosna
.	PUNCT	.
[	PUNCT	[
Znači	PROPN	Znači
,	PUNCT	,
najviše	ADV	najviše
ste	AUX	jesam
proveli	VERB	provesti
vremena	NOUN	vreme
u	ADP	u
Bihaću	PROPN	Bihać
?	PUNCT	?
Je	AUX	jesam
l	X	l
’	PUNCT	’
Vas	PROPN	Vas
za	ADP	za
to	DET	taj
mesto	NOUN	mesto
vezuju	VERB	vezivati
najlepše	ADJ	lep
uspomene	NOUN	uspomena
neke	DET	neki
ili	CCONJ	ili
za	ADP	za
Liku	PROPN	Lika
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
desanka	NOUN	desanka
}	PUNCT	}
Pa	X	Pa
ne	PART	ne
znam	VERB	znati
kako	ADV	kako
da	SCONJ	da
Vam	VERB	Vam
kažem	VERB	kazati
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
[	PUNCT	[
Gde	PROPN	Gde
Vam	PROPN	Vam
je	AUX	jesam
bilo	AUX	biti
lepše	ADV	lepše
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
desanka	NOUN	desanka
}	PUNCT	}
Ipak	ADJ	Ipak
ovde	ADV	ovde
sam	AUX	jesam
bila	AUX	biti
duže	ADV	duže
,	PUNCT	,
u	ADP	u
stvari	NOUN	stvar
,	PUNCT	,
nisam	AUX	jesam
ni	PART	ni
tu	ADV	tu
bila	AUX	biti
duže	ADV	duže
.	PUNCT	.
Udala	VERB	udati
sam	AUX	jesam
se	PART	se
pa	CCONJ	pa
sam	AUX	jesam
otišla	VERB	otići
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
Bila	AUX	biti
sam	AUX	jesam
po	ADP	po
više	ADV	više
mjesta	NOUN	mjesto
:	PUNCT	:
u	ADP	u
Sarajevu	PROPN	Sarajevo
i	CCONJ	i
Banja	PROPN	Banja
Luci	PROPN	Luka
i	CCONJ	i
u	ADP	u
Mostaru	PROPN	Mostar
.	PUNCT	.
Muž	ADV	Muž
mi	PRON	ja
se	PART	se
preseljeavao	VERB	preseljeavao
i	CCONJ	i
ja	PRON	ja
uz	ADP	uz
njega	PRON	on
.	PUNCT	.
[	PUNCT	[
A	X	A
znači	VERB	značiti
imate	VERB	imati
muža	NOUN	muž
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
desanka	NOUN	desanka
}	PUNCT	}
Molim	ADJ	Molim
?	PUNCT	?
[	PUNCT	[
Udati	ADJ	udat
ste	AUX	jesam
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
desanka	NOUN	desanka
}	PUNCT	}
Da	NOUN	Da
,	PUNCT	,
bila	AUX	biti
pre	ADV	pre
nego	CCONJ	nego
što	SCONJ	što
je	AUX	jesam
on	PRON	on
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
[	PUNCT	[
Da	ADV	Da
li	PART	li
imate	VERB	imati
decu	NOUN	deca
možda	ADV	možda
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
desanka	NOUN	desanka
}	PUNCT	}
Imam	VERB	imati
jednog	NUM	jedan
sina	NOUN	sin
.	PUNCT	.
On	PRON	on
ima	VERB	imati
dva	NUM	dva
blizanca	NOUN	blizanac
.	PUNCT	.
[	PUNCT	[
Znate	ADJ	Znate
li	PART	li
možda	PART	možda
kako	SCONJ	kako
se	PART	se
zovu	VERB	zvati
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
desanka	NOUN	desanka
}	PUNCT	}
Ko	PROPN	Ko
?	PUNCT	?
[	PUNCT	[
Vaši	ADJ	Vaši
unuci	NOUN	unuka
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
desanka	NOUN	desanka
}	PUNCT	}
Kako	ADV	kako
ne	PART	ne
znam	VERB	znati
!	PUNCT	!
Aleksandar	PROPN	Aleksandar
i	CCONJ	i
Vladimir	PROPN	Vladimir
.	PUNCT	.
[	PUNCT	[
A	X	A
koliko	ADV	koliko
oni	PRON	oni
imaju	VERB	imati
godina	NOUN	godina
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
desanka	NOUN	desanka
}	PUNCT	}
Pa	X	Pa
imaju	VERB	imati
oni	PRON	oni
već	PART	već
četrdesetu	ADJ	četrdeseti
.	PUNCT	.
Oženjeni	VERB	Oženjeni
su	AUX	jesam
i	CCONJ	i
imaju	VERB	imati
porodicu	NOUN	porodica
.	PUNCT	.
[	PUNCT	[
A	X	A
šta	PRON	šta
ste	AUX	jesam
Vi	VERB	viti
po	ADP	po
zanimanju	NOUN	zanimanje
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
desanka	NOUN	desanka
}	PUNCT	}
Po	PROPN	Po
zanimanju	NOUN	zanimanje
sam	AUX	jesam
bila	AUX	biti
službenik	NOUN	službenik
dok	SCONJ	dok
sam	AUX	jesam
bila	AUX	biti
mlađa	ADJ	mlad
.	PUNCT	.
Posle	ADV	posle
kad	SCONJ	kad
sam	AUX	jesam
se	PART	se
udala	VERB	udati
i	CCONJ	i
rodila	VERB	roditi
,	PUNCT	,
napustila	VERB	napustiti
.	PUNCT	.
[	PUNCT	[
A	X	A
koju	DET	koji
ste	AUX	jesam
školu	NOUN	škola
završili	VERB	završiti
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
desanka	NOUN	desanka
}	PUNCT	}
Završila	VERB	Završila
sam	AUX	jesam
nepunu	ADJ	nepun
srednju	ADJ	srednji
,	PUNCT	,
zaposlila	VERB	zaposliti
se	PART	se
.	PUNCT	.
Tako	ADV	tako
je	AUX	jesam
bilo	AUX	biti
vreme	NOUN	vreme
ono	DET	onaj
posle	ADP	posle
Drugog	ADJ	drugi
svetskog	ADJ	svetski
rata	NOUN	rat
,	PUNCT	,
znate	VERB	znati
,	PUNCT	,
eto	PART	eto
kako	SCONJ	kako
je	AUX	jesam
to	DET	taj
bilo	AUX	biti
.	PUNCT	.
Nije	AUX	jesam
se	PART	se
ni	PART	ni
tražilo	VERB	tražiti
mnogo	ADV	mnogo
,	PUNCT	,
tražilo	VERB	tražiti
se	PART	se
da	SCONJ	da
radiš	VERB	raditi
.	PUNCT	.
[	PUNCT	[
Bitno	ADJ	bitan
je	AUX	jesam
da	SCONJ	da
ste	AUX	jesam
imali	VERB	imati
posao	VERB	posati
.	PUNCT	.
]	PUNCT	]
{	PUNCT	{
desanka	NOUN	desanka
}	PUNCT	}
Da	NOUN	Da
.	PUNCT	.
[	PUNCT	[
A	X	A
koje	DET	koji
jezike	NOUN	jezik
govorite	VERB	govoriti
?	PUNCT	?
Govorite	VERB	govoriti
li	PART	li
samo	PART	samo
srpski	ADV	srpski
ili	CCONJ	ili
još	ADV	još
neki	DET	neki
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
desanka	NOUN	desanka
}	PUNCT	}
Samo	PROPN	Samo
srpski	ADV	srpski
govorim	VERB	govoriti
.	PUNCT	.
[	PUNCT	[
Jeste	PROPN	Jeste
li	PART	li
voleli	VERB	voleti
da	SCONJ	da
čitate	VERB	čitati
knjige	NOUN	knjiga
ranije	ADV	ranije
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
desanka	NOUN	desanka
}	PUNCT	}
Molim	ADJ	Molim
?	PUNCT	?
[	PUNCT	[
Da	ADV	Da
li	PART	li
ste	AUX	jesam
voleli	VERB	voleti
da	SCONJ	da
čitate	VERB	čitati
knjige	NOUN	knjiga
ranije	ADV	ranije
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
desanka	NOUN	desanka
}	PUNCT	}
Jesam	PROPN	Jesam
,	PUNCT	,
dosta	ADV	dosta
sam	AUX	jesam
čitala	VERB	čitati
,	PUNCT	,
dosta	ADV	dosta
.	PUNCT	.
[	PUNCT	[
A	X	A
sada	ADV	sada
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
desanka	NOUN	desanka
}	PUNCT	}
Volela	ADJ	Volela
sam	AUX	jesam
,	PUNCT	,
a	ADV	a
sada	ADV	sada
i	CCONJ	i
ne	PART	ne
vidim	VERB	viditi
već	PART	već
.	PUNCT	.
[	PUNCT	[
A	X	A
šta	PRON	šta
ste	AUX	jesam
voleli	VERB	voleti
da	SCONJ	da
čitate	VERB	čitati
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
desanka	NOUN	desanka
}	PUNCT	}
Znate	ADJ	Znate
,	PUNCT	,
mladi	ADJ	mlad
vole	NOUN	vo
ljubavne	ADJ	ljubavan
romane	NOUN	roman
i	CCONJ	i
tako	ADV	tako
,	PUNCT	,
eto	PART	eto
to	DET	taj
.	PUNCT	.
I	CCONJ	i
volela	VERB	voleti
sam	AUX	jesam
da	SCONJ	da
rešavam	VERB	rešavati
ukrštene	ADJ	ukršten
,	PUNCT	,
da	SCONJ	da
se	PART	se
zabavljam	VERB	zabavljati
i	CCONJ	i
tako	ADV	tako
to	DET	taj
.	PUNCT	.
[	PUNCT	[
Jeste	VERB	Jeste
li	PART	li
se	PART	se
umorili	VERB	umoriti
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
desanka	NOUN	desanka
}	PUNCT	}
Onako	ADJ	Onako
,	PUNCT	,
jesam	AUX	jesam
.	PUNCT	.
Nisam	AUX	jesam
dobro	ADV	dobro
baš	PART	baš
,	PUNCT	,
nikako	ADV	nikako
.	PUNCT	.
[	PUNCT	[
Je	NOUN	Je
l	X	l
’	PUNCT	’
bolujete	VERB	bolovati
od	ADP	od
nečega	PRON	nešta
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
desanka	NOUN	desanka
}	PUNCT	}
Molim	ADJ	Molim
?	PUNCT	?
[	PUNCT	[
Je	NOUN	Je
l	X	l
’	PUNCT	’
bolujete	VERB	bolovati
od	ADP	od
nečega	PRON	nešta
?	PUNCT	?
Je	AUX	jesam
l	X	l
’	PUNCT	’
imate	VERB	imati
neku	DET	neki
hroničnu	ADJ	hroničan
bolest	NOUN	bolest
,	PUNCT	,
poput	ADP	poput
visokog	ADJ	visok
pritiska	NOUN	pritisak
ili	CCONJ	ili
tako	ADV	tako
nešto	ADV	nešto
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
desanka	NOUN	desanka
}	PUNCT	}
Vidite	PROPN	Vidite
,	PUNCT	,
ne	PART	ne
mogu	VERB	moći
da	SCONJ	da
se	PART	se
maknem	VERB	maknuti
,	PUNCT	,
mrdam	VERB	mrdati
.	PUNCT	.
Ne	PART	ne
znam	VERB	znati
ni	PART	ni
ja	PRON	ja
koju	DET	koji
imam	VERB	imati
.	PUNCT	.
Imam	VERB	imati
nego	CCONJ	nego
šta	PRON	šta
.	PUNCT	.
Bila	AUX	biti
sam	AUX	jesam
i	CCONJ	i
više	ADV	više
puta	ADV	puta
i	CCONJ	i
operisana	VERB	operisati
.	PUNCT	.
[	PUNCT	[
Je	NOUN	Je
l	X	l
’	PUNCT	’
pijete	VERB	piti
možda	PART	možda
neke	DET	neki
lekove	NOUN	lek
redovno	ADV	redovno
,	PUNCT	,
kao	CCONJ	kao
terapiju	NOUN	terapija
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
desanka	NOUN	desanka
}	PUNCT	}
Kao	PROPN	Kao
terapiju	NOUN	terapija
pijem	VERB	piti
protiv	ADP	protiv
pritiska	NOUN	pritisak
.	PUNCT	.
I	CCONJ	i
još	ADV	još
neke	DET	neki
lekove	NOUN	lek
,	PUNCT	,
neke	DET	neki
sam	AUX	jesam
čak	PART	čak
i	CCONJ	i
odbila	VERB	odbiti
.	PUNCT	.
Nemaju	VERB	nemati
efekta	NOUN	efekt
.	PUNCT	.
[	PUNCT	[
Kakvu	DET	kakav
muziku	NOUN	muzika
ste	AUX	jesam
voleli	VERB	voleti
da	SCONJ	da
slušate	VERB	slušati
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
desanka	NOUN	desanka
}	PUNCT	}
Šta	NOUN	Šta
?	PUNCT	?
[	PUNCT	[
Kakvu	DET	kakav
muziku	NOUN	muzika
ste	AUX	jesam
voleli	VERB	voleti
da	SCONJ	da
slušate	VERB	slušati
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
desanka	NOUN	desanka
}	PUNCT	}
Joj	ADJ	Joj
,	PUNCT	,
koliko	ADV	koliko
je	AUX	jesam
sati	NOUN	sat
sad	ADV	sad
?	PUNCT	?
[	PUNCT	[
Sati	PROPN	Sati
je	AUX	jesam
deset	NUM	deset
sati	NOUN	sat
i	CCONJ	i
sedamnaest	NUM	sedamnaest
minuta	NOUN	minuta
.	PUNCT	.
]	PUNCT	]
{	PUNCT	{
desanka	NOUN	desanka
}	PUNCT	}
A	X	A
dobro	ADV	dobro
je	AUX	jesam
.	PUNCT	.
Treba	VERB	trebati
mi	PRON	ja
baš	PART	baš
od	ADP	od
stresa	NOUN	stres
slušam	VERB	slušati
između	ADP	između
jednaest	NUM	jednaest
i	CCONJ	i
dvanaest	NUM	dvanaest
.	PUNCT	.
Volela	VERB	voleti
sam	AUX	jesam
muziku	NOUN	muzika
,	PUNCT	,
više	ADV	više
zabavne	ADJ	zabavan
.	PUNCT	.
[	PUNCT	[
Je	NOUN	Je
l	X	l
’	PUNCT	’
se	PART	se
to	DET	taj
sada	ADV	sada
promenilo	VERB	promeniti
?	PUNCT	?
I	CCONJ	i
dalje	ADV	dalje
više	ADV	više
volite	VERB	voliti
zabavnu	ADJ	zabavan
od	ADP	od
narodne	ADJ	narodni
ili	CCONJ	ili
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
desanka	NOUN	desanka
}	PUNCT	}
Pa	X	Pa
ne	PART	ne
znam	VERB	znati
,	PUNCT	,
volim	VERB	voliti
više	ADV	više
zabavnu	ADJ	zabavan
.	PUNCT	.
Nisam	AUX	jesam
nešto	PRON	nešto
za	ADP	za
narodnu	ADJ	narodni
.	PUNCT	.
Još	ADV	Još
ona	PRON	ona
ranije	ADV	ranije
koja	DET	koji
je	AUX	jesam
bila	AUX	biti
.	PUNCT	.
Još	ADV	Još
ovo	DET	ovaj
sad	ADV	sad
,	PUNCT	,
nešto	PRON	nešto
ne	PART	ne
.	PUNCT	.
[	PUNCT	[
A	X	A
da	SCONJ	da
li	PART	li
ste	AUX	jesam
pevali	VERB	pevati
ikad	ADV	ikad
ili	CCONJ	ili
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
desanka	NOUN	desanka
}	PUNCT	}
A	X	A
volela	VERB	voleti
sam	AUX	jesam
,	PUNCT	,
ako	SCONJ	ako
je	AUX	jesam
za	ADP	za
sebe	PRON	sebe
,	PUNCT	,
za	ADP	za
kuću	NOUN	kuća
!	PUNCT	!
*	PUNCT	*
smeh	NOUN	smeh
*	PUNCT	*
U	ADJ	U
društvu	NOUN	društvo
.	PUNCT	.
Nisam	AUX	jesam
se	PART	se
isticala	VERB	isticati
.	PUNCT	.
[	PUNCT	[
Da	ADV	Da
li	PART	li
ste	AUX	jesam
bili	AUX	biti
u	ADP	u
nekom	DET	neki
kulturno	ADJ	kulturan
-	PUNCT	-
umetničkom	ADJ	umetnički
društvu	NOUN	društvo
?	PUNCT	?
Poput	ADP	poput
folklora	NOUN	folklor
i	CCONJ	i
slično	ADV	slično
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
desanka	NOUN	desanka
}	PUNCT	}
Pa	X	Pa
nisam	AUX	jesam
.	PUNCT	.
Čekajte	VERB	Čekajte
da	SCONJ	da
se	PART	se
sjetim	VERB	sjetiti
.	PUNCT	.
Bila	AUX	biti
sam	AUX	jesam
u	ADP	u
onom	DET	onaj
horu	NOUN	hor
školskom	ADJ	školski
.	PUNCT	.
Ono	DET	onaj
prije	NOUN	prija
je	AUX	jesam
bilo	AUX	biti
društvo	NOUN	društvo
„	PUNCT	„
Soko	PROPN	Soka
“	PUNCT	“
.	PUNCT	.
[	PUNCT	[
To	PROPN	To
dok	SCONJ	dok
ste	AUX	jesam
bili	AUX	biti
u	ADP	u
Bihaću	PROPN	Bihać
ili	CCONJ	ili
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
desanka	NOUN	desanka
}	PUNCT	}
U	NOUN	U
Bihaću	PROPN	Bihać
sam	AUX	jesam
počela	VERB	početi
.	PUNCT	.
Nisam	AUX	jesam
se	PART	se
intezivno	ADV	intezivno
baš	PART	baš
zabavljala	VERB	zabavljati
tim	DET	taj
.	PUNCT	.
[	PUNCT	[
Kako	PROPN	Kako
Vam	PROPN	Vam
je	AUX	jesam
ovde	ADV	ovde
u	ADP	u
domu	NOUN	dom
?	PUNCT	?
Je	AUX	jesam
l	X	l
’	PUNCT	’
se	PART	se
družite	VERB	družiti
sa	ADP	sa
ostalima	ADJ	ostalima
,	PUNCT	,
organizujete	VERB	organizovati
neka	DET	neki
okupljanja	NOUN	okupljanje
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
desanka	NOUN	desanka
}	PUNCT	}
Ja	NOUN	Ja
?	PUNCT	?
[	PUNCT	[
Mislim	PROPN	Mislim
,	PUNCT	,
da	SCONJ	da
li	PART	li
se	PART	se
okupljate	VERB	okupljati
,	PUNCT	,
ne	PART	ne
da	SCONJ	da
Vi	ADV	Vi
organizujete	VERB	organizovati
.	PUNCT	.
]	PUNCT	]
{	PUNCT	{
desanka	NOUN	desanka
}	PUNCT	}
Ma	ADV	Ma
ne	PART	ne
Ja	VERB	Ja
iz	ADP	iz
kreveta	NOUN	krevet
ne	PART	ne
idem	VERB	ići
uopšte	ADV	uopšte
.	PUNCT	.
Nepokretna	ADJ	nepokretan
sam	AUX	jesam
već	PART	već
pet	NUM	pet
meseci	NOUN	mesec
.	PUNCT	.
[	PUNCT	[
Pa	X	Pa
dobro	ADV	dobro
,	PUNCT	,
popraviće	VERB	popraviti
se	PART	se
to	DET	taj
,	PUNCT	,
polako	ADV	polako
.	PUNCT	.
]	PUNCT	]
{	PUNCT	{
desanka	NOUN	desanka
}	PUNCT	}
Kakvi	DET	kakav
popraviti	VERB	popraviti
.	PUNCT	.
Nema	VERB	nemati
tu	DET	taj
popravljanja	NOUN	popravljanje
.	PUNCT	.
[	PUNCT	[
Možda	PROPN	Možda
može	VERB	moći
da	SCONJ	da
se	PART	se
popravi	VERB	popraviti
.	PUNCT	.
]	PUNCT	]
{	PUNCT	{
desanka	NOUN	desanka
}	PUNCT	}
Ne	ADV	Ne
može	VERB	moći
to	DET	taj
da	SCONJ	da
se	PART	se
popravi	VERB	popraviti
,	PUNCT	,
samo	PART	samo
ide	VERB	ići
na	ADP	na
gore	ADV	gore
.	PUNCT	.
[	PUNCT	[
Hvala	VERB	Hvala
Vam	PROPN	Vam
,	PUNCT	,
mi	PRON	ja
smo	AUX	jesam
završili	VERB	završiti
.	PUNCT	.
]	PUNCT	]
{	PUNCT	{
desanka	NOUN	desanka
}	PUNCT	}
Molim	ADJ	Molim
.	PUNCT	.
[	PUNCT	[
Nadam	VERB	nadati
se	PART	se
da	SCONJ	da
Vam	VERB	Vam
nisam	AUX	jesam
oduzela	VERB	oduzeti
puno	ADJ	pun
vremena	NOUN	vreme
.	PUNCT	.
]	PUNCT	]
{	PUNCT	{
desanka	NOUN	desanka
}	PUNCT	}
Niste	PROPN	Niste
.	PUNCT	.
