Šta	ADV	Šta
sam	AUX	jesam
radila	VERB	raditi
?	PUNCT	?
Zima	NOUN	zima
,	PUNCT	,
kakva	DET	kakav
zima	NOUN	zima
.	PUNCT	.
Kad	SCONJ	kad
smo	AUX	jesam
mi	PRON	ja
ma	PART	ma
ovaj	DET	ovaj
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Ja	PRON	ja
ja	PRON	ja
ja	PRON	ja
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
A	X	A
ja	PRON	ja
sam	AUX	jesam
ništa	ADV	ništa
,	PUNCT	,
ništa	ADV	ništa
,	PUNCT	,
a	ADV	a
vidi	VERB	viditi
koju	DET	koji
on	PRON	on
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Pogledaj	VERB	pogledati
koju	DET	koji
on	PRON	on
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
A	X	A
video	VERB	videti
te	PRON	ti
je	AUX	jesam
jel	ADV	jel
?	PUNCT	?
Mile	ADJ	mio
pile	NOUN	pila
.	PUNCT	.
Maalo	NOUN	maala
,	PUNCT	,
malo	ADV	malo
,	PUNCT	,
malo	ADV	malo
.	PUNCT	.
Nećemo	VERB	Nećemo
.	PUNCT	.
Tragedija	NOUN	tragedija
velika	ADJ	velik
.	PUNCT	.
Ništa	ADJ	Ništa
,	PUNCT	,
jao	INTJ	jao
gospode	NOUN	gospoda
.	PUNCT	.
Ijao	ADJ	Ijao
bože	NOUN	bog
.	PUNCT	.
Ijao	PROPN	Ijao
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
I	CCONJ	i
tako	ADV	tako
je	AUX	jesam
i	CCONJ	i
bilo	AUX	biti
.	PUNCT	.
Ijaoo	PROPN	Ijaoo
.	PUNCT	.
Ijaao	PROPN	Ijaao
.	PUNCT	.
Ijaao	PROPN	Ijaao
Bože	PROPN	Boža
.	PUNCT	.
Ijao	ADJ	Ijao
bože	NOUN	bog
.	PUNCT	.
Šta	ADV	Šta
smo	AUX	jesam
sve	ADV	sve
prebrodili	VERB	prebroditi
Ijao	PROPN	Ijao
Bože	PROPN	Boža
Strašno	PROPN	Strašno
.	PUNCT	.
Šta	PROPN	Šta
?	PUNCT	?
Ja	PRON	ja
imam	VERB	imati
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Kolko	PROPN	Kolka
imam	VERB	imati
dece	NOUN	deca
?	PUNCT	?
Dece	NOUN	deca
?	PUNCT	?
Jedno	NUM	jedan
dete	NOUN	dete
.	PUNCT	.
Natašu	PROPN	Nataša
moju	DET	moj
.	PUNCT	.
Nataša	PROPN	Nataša
ima	VERB	imati
dvoje	NUM	dvoje
dece	NOUN	deca
.	PUNCT	.
Da	SCONJ	da
.	PUNCT	.
Milicu	PROPN	Milica
i	CCONJ	i
Lazara	PROPN	Lazar
.	PUNCT	.
Bave	VERB	baviti
se	PART	se
sa	ADP	sa
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
I	CCONJ	i
jezike	NOUN	jezik
i	CCONJ	i
sport	NOUN	sport
i	CCONJ	i
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Ma	PART	ma
sve	ADV	sve
.	PUNCT	.
Pa	CCONJ	pa
,	PUNCT	,
Milica	PROPN	Milica
ima	VERB	imati
ovaj	DET	ovaj
sad	ADV	sad
šesnaest	NUM	šesnaest
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
A	X	A
lepa	ADJ	lep
je	AUX	jesam
ko	PRON	ko
lutka	NOUN	lutak
.	PUNCT	.
Visoka	ADJ	visok
,	PUNCT	,
a	ADJ	a
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
A	X	A
Lazar	PROPN	Lazar
je	AUX	jesam
malo	ADV	malo
manji	VERB	manjiti
a	ADV	a
ja	PRON	ja
više	ADV	više
i	CCONJ	i
volim	VERB	voliti
Lazara	PROPN	Lazar
on	PRON	on
je	AUX	jesam
tako	ADV	tako
mali	ADJ	mali
.	PUNCT	.
Niži	ADV	Niži
je	AUX	jesam
došta	VERB	došta
od	ADP	od
Milice	PROPN	Milica
.	PUNCT	.
Milica	PROPN	Milica
je	AUX	jesam
visoka	ADJ	visok
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
I	CCONJ	i
ovaj	DET	ovaj
eto	PART	eto
to	DET	taj
.	PUNCT	.
Jesmo	AUX	jesam
.	PUNCT	.
Jaoj	INTJ	jaoj
Bože	PROPN	Boža
.	PUNCT	.
Biće	ADJ	Biće
biće	NOUN	biće
.	PUNCT	.
Lepo	ADJ	lep
ime	NOUN	ime
.	PUNCT	.
Ilija	PROPN	Ili
.	PUNCT	.
Ovaj	DET	ovaj
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Pa	CCONJ	pa
,	PUNCT	,
tu	ADV	tu
negde	ADV	negde
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
iz	ADP	iz
Sivca	PROPN	Sivac
.	PUNCT	.
Sivac	PROPN	Sivac
Nov	VERB	Nov
.	PUNCT	.
Ima	VERB	imati
Sivac	PROPN	Sivac
Novi	ADV	Novi
i	CCONJ	i
Sivac	PROPN	Sivac
Stari	PROPN	Stari
.	PUNCT	.
Aa	ADV	Aa
tako	ADV	tako
.	PUNCT	.
Ju	PRON	ona
ju	PRON	ona
.	PUNCT	.
Jao	INTJ	jao
.	PUNCT	.
Ju	PRON	ona
ne	PART	ne
daj	VERB	dati
Bože	PROPN	Boža
.	PUNCT	.
Ajao	PROPN	Ajao
.	PUNCT	.
Dva	NUM	dva
muškarca	NOUN	muškarac
.	PUNCT	.
Milan	PROPN	Milan
i	CCONJ	i
Bratislav	PROPN	Bratislav
.	PUNCT	.
Mara	PROPN	Mara
.	PUNCT	.
Beba	PROPN	Beba
.	PUNCT	.
Maja	NOUN	maj
,	PUNCT	,
da	SCONJ	da
.	PUNCT	.
I	CCONJ	i
žive	VERB	živiti
s	ADP	s
Vama	NOUN	Vama
,	PUNCT	,
žive	VERB	živiti
kod	ADP	kod
Vas	PROPN	Vas
?	PUNCT	?
Pa	CCONJ	pa
fino	ADV	fino
.	PUNCT	.
Jao	INTJ	jao
slatki	ADJ	sladak
.	PUNCT	.
Jel	PROPN	Jel
devojčicu	NOUN	devojčica
?	PUNCT	?
Ako	SCONJ	ako
je	AUX	jesam
unuka	NOUN	unuka
onda	ADV	onda
je	AUX	jesam
devojčica	NOUN	devojčica
.	PUNCT	.
Da	SCONJ	da
.	PUNCT	.
