To	DET	taj
je	AUX	jesam
tačno	ADV	tačno
bilo	AUX	biti
kad	SCONJ	kad
je	AUX	jesam
prelazio	VERB	prelaziti
preko	ADP	preko
odžaka	NOUN	odžak
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
U	ADP	u
zatvoru	NOUN	zatvor
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Kupila	VERB	kupiti
mi	PRON	ja
kaput	NOUN	kaput
u	ADP	u
zatvoru	NOUN	zatvor
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Da	SCONJ	da
ovaj	DET	ovaj
,	PUNCT	,
vrlo	ADV	vrlo
jeftino	ADJ	jeftin
.	PUNCT	.
A	X	A
taj	DET	taj
u	ADP	u
mojoj	DET	moj
štali	NOUN	štala
,	PUNCT	,
taj	DET	taj
Mađar	PROPN	Mađar
,	PUNCT	,
luda	ADJ	lud
po	ADP	po
rođenju	NOUN	rođenje
.	PUNCT	.
Pali	VERB	pasti
šibicu	NOUN	šibica
,	PUNCT	,
i	CCONJ	i
drži	VERB	držati
,	PUNCT	,
tu	ADV	tu
je	AUX	jesam
lucerka	NOUN	lucerka
i	CCONJ	i
drži	VERB	držati
on	PRON	on
dok	SCONJ	dok
se	PART	se
ne	PART	ne
povije	VERB	poviti
da	SCONJ	da
ga	PRON	on
ispeče	VERB	ispeći
.	PUNCT	.
A	X	A
ja	PRON	ja
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Da	SCONJ	da
.	PUNCT	.
A	X	A
,	PUNCT	,
reko	NOUN	reka
majko	NOUN	majka
mila	VERB	miti
.	PUNCT	.
Pa	CCONJ	pa
rekao	VERB	reći
,	PUNCT	,
ja	PRON	ja
bih	AUX	biti
skočio	VERB	skočiti
na	ADP	na
njega	PRON	on
,	PUNCT	,
ali	CCONJ	ali
jači	ADJ	jak
od	ADP	od
mene	PRON	ja
samo	PART	samo
ja	PRON	ja
,	PUNCT	,
šeprtlja	VERB	šeprtljati
.	PUNCT	.
I	CCONJ	i
tako	ADV	tako
sam	AUX	jesam
ga	PRON	on
držao	VERB	držati
dokle	SCONJ	dokle
god	PART	god
je	AUX	jesam
moglo	VERB	moći
.	PUNCT	.
To	DET	taj
sam	AUX	jesam
ja	PRON	ja
tu	ADV	tu
malo	ADV	malo
udaren	VERB	udariti
,	PUNCT	,
rekao	VERB	reći
jesam	AUX	jesam
.	PUNCT	.
Šta	ADV	Šta
ćeš	AUX	hteti
.	PUNCT	.
Da	SCONJ	da
li	PART	li
sam	AUX	jesam
?	PUNCT	?
Jesam	AUX	jesam
.	PUNCT	.
To	DET	taj
je	AUX	jesam
u	ADP	u
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Ali	CCONJ	ali
glavica	NOUN	glavica
od	ADP	od
šibice	NOUN	šibica
,	PUNCT	,
gori	VERB	goreti
samo	PART	samo
se	PART	se
savija	VERB	savijati
savija	VERB	savijati
kad	SCONJ	kad
će	AUX	hteti
da	SCONJ	da
padne	VERB	pasti
,	PUNCT	,
tu	ADV	tu
je	AUX	jesam
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Lucerka	NOUN	lucerka
.	PUNCT	.
Da	SCONJ	da
.	PUNCT	.
Pa	CCONJ	pa
ja	PRON	ja
sam	AUX	jesam
morao	VERB	morati
da	SCONJ	da
slušam	VERB	slušati
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Upalio	VERB	upaliti
je	AUX	jesam
šibicu	NOUN	šibica
,	PUNCT	,
ovlažio	VERB	ovlažiti
prst	NOUN	prst
i	CCONJ	i
uhvatio	VERB	uhvatiti
glavicu	NOUN	glavica
dok	SCONJ	dok
je	AUX	jesam
još	PART	još
ovaj	DET	ovaj
.	PUNCT	.
On	PRON	on
krene	VERB	krenuti
da	SCONJ	da
seva	VERB	sevati
,	PUNCT	,
a	ADV	a
fitilj	NOUN	fitilj
izgoreo	VERB	izgoreti
.	PUNCT	.
M	X	m
?	PUNCT	?
Una	PROPN	Una
lucerke	NOUN	lucerka
.	PUNCT	.
I	CCONJ	i
to	DET	taj
,	PUNCT	,
pet	NUM	pet
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
U	ADP	u
jaslama	NOUN	jasle
da	SCONJ	da
.	PUNCT	.
Seno	NOUN	sena
stajalo	VERB	stajati
.	PUNCT	.
Koje	DET	koji
,	PUNCT	,
ovaj	DET	ovaj
s	ADP	s
topovima	NOUN	top
?	PUNCT	?
Tu	ADV	tu
gde	SCONJ	gde
bacaju	VERB	bacati
hranu	NOUN	hrana
.	PUNCT	.
I	CCONJ	i
sad	ADV	sad
ja	PRON	ja
gledam	VERB	gledati
šta	PRON	šta
sad	ADV	sad
.	PUNCT	.
Ne	PART	ne
mogu	VERB	moći
ništa	PRON	ništa
.	PUNCT	.
Šibica	PUNCT	Šibica
gori	VERB	goreti
,	PUNCT	,
samo	PART	samo
se	PART	se
savija	VERB	savijati
,	PUNCT	,
savija	VERB	savijati
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Pa	CCONJ	pa
nisam	AUX	jesam
ja	PRON	ja
ni	PART	ni
imao	VERB	imati
decu	NOUN	deca
tamo	ADV	tamo
.	PUNCT	.
Pa	CCONJ	pa
imam	VERB	imati
petoro	NUM	petoro
.	PUNCT	.
Da	SCONJ	da
.	PUNCT	.
Pa	CCONJ	pa
da	SCONJ	da
.	PUNCT	.
Znam	VERB	znati
.	PUNCT	.
Jova	PROPN	Jov
,	PUNCT	,
Pera	PROPN	Pera
,	PUNCT	,
Steva	PROPN	Steva
,	PUNCT	,
Vrgaš	PROPN	Vrgaš
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
To	DET	taj
su	AUX	jesam
najstariji	ADJ	star
,	PUNCT	,
bili	AUX	biti
.	PUNCT	.
Ti	PRON	ti
su	AUX	jesam
mogli	VERB	moći
najviše	ADV	najviše
i	CCONJ	i
da	SCONJ	da
brinu	VERB	brinuti
.	PUNCT	.
Najmanja	PROPN	Najmanja
.	PUNCT	.
Da	SCONJ	da
.	PUNCT	.
Da	SCONJ	da
.	PUNCT	.
Ne	PART	ne
,	PUNCT	,
bilo	AUX	biti
je	AUX	jesam
sin	NOUN	sin
ne	PART	ne
znam	VERB	znati
koliko	ADV	koliko
je	AUX	jesam
bilo	AUX	biti
.	PUNCT	.
Dobro	ADV	dobro
.	PUNCT	.
Ćerku	PROPN	Ćerku
imam	VERB	imati
,	PUNCT	,
da	SCONJ	da
.	PUNCT	.
Ne	PART	ne
znam	VERB	znati
,	PUNCT	,
balavica	NOUN	balavica
je	AUX	jesam
bila	AUX	biti
.	PUNCT	.
Pa	CCONJ	pa
to	DET	taj
je	AUX	jesam
kada	SCONJ	kada
se	PART	se
udala	VERB	udati
.	PUNCT	.
Pa	CCONJ	pa
šta	PRON	šta
ja	PRON	ja
znam	VERB	znati
.	PUNCT	.
Molim	VERB	moliti
?	PUNCT	?
Žensko	PUNCT	Žensko
ima	VERB	imati
.	PUNCT	.
Žensko	ADJ	Žensko
.	PUNCT	.
Muško	ADJ	Muško
.	PUNCT	.
Da	SCONJ	da
.	PUNCT	.
Pa	CCONJ	pa
jeste	AUX	jesam
,	PUNCT	,
samo	PART	samo
treba	VERB	trebati
tu	ADV	tu
pamtiti	VERB	pamtiti
da	SCONJ	da
to	DET	taj
sačuvaš	VERB	sačuvati
.	PUNCT	.
A	X	A
on	PRON	on
gleda	VERB	gledati
,	PUNCT	,
pfff	NOUN	pfff
,	PUNCT	,
gori	NOUN	gora
fitilj	NOUN	fitilj
već	CCONJ	već
.	PUNCT	.
A	X	A
ja	PRON	ja
gledam	VERB	gledati
.	PUNCT	.
Pa	CCONJ	pa
to	DET	taj
je	AUX	jesam
sadizam	NOUN	sadizam
.	PUNCT	.
Molim	VERB	moliti
?	PUNCT	?
To	DET	taj
je	AUX	jesam
bio	AUX	biti
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
blesav	ADJ	blesav
pre	ADP	pre
svega	DET	sav
,	PUNCT	,
taj	DET	taj
.	PUNCT	.
I	CCONJ	i
prosto	ADV	prosto
je	AUX	jesam
uživo	ADV	uživo
što	SCONJ	što
se	PART	se
ja	PRON	ja
žderem	VERB	žderati
,	PUNCT	,
što	SCONJ	što
sam	AUX	jesam
ja	PRON	ja
na	ADP	na
granici	NOUN	granica
života	NOUN	život
.	PUNCT	.
Da	SCONJ	da
.	PUNCT	.
Ovako	ADV	ovako
drži	VERB	držati
.	PUNCT	.
Ja	PRON	ja
se	PART	se
savijem	VERB	saviti
i	CCONJ	i
padnem	VERB	pasti
.	PUNCT	.
Da	SCONJ	da
,	PUNCT	,
jaje	NOUN	jaje
od	ADP	od
ljuske	NOUN	ljuska
moraš	VERB	morati
da	SCONJ	da
baciš	VERB	baciti
,	PUNCT	,
u	ADP	u
klozet	NOUN	klozet
,	PUNCT	,
gde	SCONJ	gde
je	AUX	jesam
najdublje	ADV	najdublje
,	PUNCT	,
što	SCONJ	što
dalje	ADV	dalje
.	PUNCT	.
Ako	SCONJ	ako
bude	AUX	biti
,	PUNCT	,
da	SCONJ	da
ne	PART	ne
može	VERB	moći
da	SCONJ	da
dođe	VERB	doći
u	ADP	u
plamenik	NOUN	plamenik
u	ADP	u
oknu	NOUN	okno
.	PUNCT	.
A	X	A
,	PUNCT	,
reko	NOUN	reka
majku	NOUN	majka
mu	PRON	on
.	PUNCT	.
Oguglao	ADJ	oguglao
čovek	NOUN	čovek
.	PUNCT	.
Da	SCONJ	da
mora	VERB	morati
da	SCONJ	da
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Obuci	VERB	obući
se	PART	se
još	ADV	još
je	AUX	jesam
rano	ADV	rano
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
ova	DET	ovaj
ženska	ADJ	ženski
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
ova	DET	ovaj
visoka	ADJ	visok
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
