[	PUNCT	[
Kako	ADV	kako
se	PART	se
zovete	VERB	zvati
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
Dragoljub	PROPN	Dragoljub
}	PUNCT	}
Popović	PROPN	Popović
Dragoljub	PROPN	Dragoljub
.	PUNCT	.
[	PUNCT	[
Koliko	ADJ	Koliko
imate	VERB	imati
godina	NOUN	godina
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
Dragoljub	PROPN	Dragoljub
}	PUNCT	}
Pa	X	Pa
pedesete	ADJ	pedeseti
,	PUNCT	,
sedamnaestog	ADJ	sedamnaesti
dvanaestog	ADJ	dvanaesti
.	PUNCT	.
Hiljadu	ADV	hiljadu
-	PUNCT	-
devetsto	NUM	devetsto
-	PUNCT	-
pedesete	ADJ	pedeseti
.	PUNCT	.
[	PUNCT	[
Dobro	PROPN	Dobra
,	PUNCT	,
gde	SCONJ	gde
ste	AUX	jesam
rođeni	VERB	roditi
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
Dragoljub	PROPN	Dragoljub
}	PUNCT	}
Rođen	PROPN	Rođen
u	ADP	u
Šapcu	PROPN	Šabac
,	PUNCT	,
živim	ADJ	živ
u	ADP	u
Mrđenovcu	PROPN	Mrđenovcu
.	PUNCT	.
[	PUNCT	[
Da	ADV	Da
li	PART	li
bolujete	VERB	bolovati
možda	PART	možda
od	ADP	od
neke	DET	neki
hronične	ADJ	hroničan
bolesti	NOUN	bolest
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
Dragoljub	PROPN	Dragoljub
}	PUNCT	}
Možda	PROPN	Možda
me	PRON	ja
je	AUX	jesam
udario	VERB	udariti
infarkt	NOUN	infarkt
,	PUNCT	,
malo	ADV	malo
šlog	NOUN	šlog
,	PUNCT	,
to	DET	taj
.	PUNCT	.
[	PUNCT	[
Infarkt	PROPN	Infarkt
i	CCONJ	i
šlog	NOUN	šlog
ste	AUX	jesam
imali	VERB	imati
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
Dragoljub	PROPN	Dragoljub
}	PUNCT	}
Pa	X	Pa
da	SCONJ	da
.	PUNCT	.
[	PUNCT	[
A	X	A
visok	ADJ	visok
pritisak	NOUN	pritisak
ili	CCONJ	ili
nešto	ADV	nešto
slično	ADV	slično
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
Dragoljub	PROPN	Dragoljub
}	PUNCT	}
Pa	X	Pa
,	PUNCT	,
dobro	ADV	dobro
imam	VERB	imati
i	CCONJ	i
visok	ADJ	visok
pritisak	NOUN	pritisak
i	CCONJ	i
to	DET	taj
.	PUNCT	.
[	PUNCT	[
Da	ADV	Da
li	PART	li
pijete	VERB	piti
neke	DET	neki
lekove	NOUN	lek
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
Dragoljub	PROPN	Dragoljub
}	PUNCT	}
Pijem	PROPN	Pijem
lekove	NOUN	lek
.	PUNCT	.
[	PUNCT	[
Pijete	PROPN	Pijete
redovno	ADJ	redovan
lekove	NOUN	lek
?	PUNCT	?
Neku	DET	neki
terapiju	NOUN	terapija
za	ADP	za
pritisak	NOUN	pritisak
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
Dragoljub	PROPN	Dragoljub
}	PUNCT	}
Redovno	ADJ	redovan
.	PUNCT	.
Pa	CCONJ	pa
ja	PRON	ja
lekove	NOUN	lek
pijem	VERB	piti
.	PUNCT	.
[	PUNCT	[
Mesto	ADP	mesto
prebivališta	NOUN	prebivalište
sada	ADV	sada
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
Dragoljub	PROPN	Dragoljub
}	PUNCT	}
Pa	X	Pa
Mrđenovac	PROPN	Mrđenovac
.	PUNCT	.
[	PUNCT	[
Da	ADV	Da
,	PUNCT	,
Vi	ADV	Vi
ste	AUX	jesam
živeli	VERB	živeti
tu	DET	taj
ceo	ADJ	ceo
život	NOUN	život
.	PUNCT	.
]	PUNCT	]
{	PUNCT	{
Dragoljub	PROPN	Dragoljub
}	PUNCT	}
Celo	VERB	Celo
vreme	NOUN	vreme
u	ADP	u
Mrđenovcu	PROPN	Mrđenovcu
.	PUNCT	.
[	PUNCT	[
Pripadnost	NOUN	pripadnost
nacionalna	ADJ	nacionalan
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
dragoljub	NOUN	dragoljub
}	PUNCT	}
Pa	X	Pa
Srbin	PROPN	Srbin
.	PUNCT	.
[	PUNCT	[
Govorite	PROPN	Govorite
li	PART	li
neki	DET	neki
strani	ADJ	stran
jezik	NOUN	jezik
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
Dragoljub	PROPN	Dragoljub
}	PUNCT	}
Ne	ADV	Ne
govorim	VERB	govoriti
,	PUNCT	,
ne	PART	ne
govorim	VERB	govoriti
.	PUNCT	.
[	PUNCT	[
Da	ADV	Da
li	PART	li
ste	AUX	jesam
desnoruki	ADJ	desnoruk
ili	CCONJ	ili
levoruki	ADJ	levoruk
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
Dragoljub	PROPN	Dragoljub
}	PUNCT	}
Desnom	ADJ	desni
rukom	NOUN	ruka
radim	VERB	raditi
.	PUNCT	.
[	PUNCT	[
Po	PROPN	Po
struci	NOUN	struka
ste	AUX	jesam
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
Dragoljub	PROPN	Dragoljub
}	PUNCT	}
Zemljoradnik	PROPN	Zemljoradnik
.	PUNCT	.
[	PUNCT	[
Što	PROPN	Što
se	PART	se
tiče	VERB	ticati
muzičkog	ADJ	muzički
obrazovanja	NOUN	obrazovanje
,	PUNCT	,
jeste	AUX	jesam
li	PART	li
nekad	ADV	nekad
pevali	VERB	pevati
,	PUNCT	,
svirali	VERB	svirati
nešto	PRON	nešto
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
Dragoljub	PROPN	Dragoljub
}	PUNCT	}
Ništa	PROPN	Ništa
nisam	AUX	jesam
!	PUNCT	!
Ništa	ADV	Ništa
nisam	AUX	jesam
!	PUNCT	!
[	PUNCT	[
Da	ADV	Da
li	PART	li
ste	AUX	jesam
možda	PART	možda
neke	DET	neki
čitali	VERB	čitati
knjige	NOUN	knjiga
ili	CCONJ	ili
nešto	ADV	nešto
slično	ADV	slično
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
Dragoljub	PROPN	Dragoljub
}	PUNCT	}
Slabo	PROPN	Slabo
.	PUNCT	.
Nekad	ADV	nekad
sam	AUX	jesam
malo	ADV	malo
novine	NOUN	novina
uveče	ADV	uveče
.	PUNCT	.
Sednem	VERB	sesti
pa	CCONJ	pa
pročitam	VERB	pročitati
nešto	PRON	nešto
.	PUNCT	.
Sad	ADV	sad
i	CCONJ	i
ne	PART	ne
vidim	VERB	viditi
i	CCONJ	i
onda	SCONJ	onda
ne	PART	ne
čitam	VERB	čitati
.	PUNCT	.
[	PUNCT	[
A	X	A
članovi	NOUN	član
Vaše	ADJ	Vaše
porodice	NOUN	porodica
?	PUNCT	?
Sa	ADP	sa
kim	PRON	ko
sve	PART	sve
živite	VERB	živiti
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
Dragoljub	PROPN	Dragoljub
}	PUNCT	}
Pa	X	Pa
šestoro	NUM	šestoro
nas	PRON	mi
u	ADP	u
kući	NOUN	kuća
je	AUX	jesam
.	PUNCT	.
[	PUNCT	[
Šestoro	ADJ	Šestoro
.	PUNCT	.
Znate	VERB	znati
li	PART	li
možda	PART	možda
njihova	DET	njihov
imena	NOUN	ime
,	PUNCT	,
da	SCONJ	da
ih	PRON	ona
nabrojite	VERB	nabrojiti
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
Dragoljub	PROPN	Dragoljub
}	PUNCT	}
Goran	PROPN	Goran
,	PUNCT	,
Jagoda	PROPN	Jagoda
,	PUNCT	,
Miroslav	PROPN	Miroslav
,	PUNCT	,
Suzana	PROPN	Suzana
,	PUNCT	,
Đurđa	PROPN	Đurđa
i	CCONJ	i
ja	PRON	ja
,	PUNCT	,
Draga	PROPN	Draga
.	PUNCT	.
[	PUNCT	[
Znači	PROPN	Znači
koliko	ADV	koliko
imate	VERB	imati
dece	NOUN	deca
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
Dragoljub	PROPN	Dragoljub
}	PUNCT	}
Pa	X	Pa
troje	NUM	troje
.	PUNCT	.
[	PUNCT	[
Troje	PROPN	Troja
dece	NOUN	deca
.	PUNCT	.
A	X	A
unuka	NOUN	unuka
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
Dragoljub	PROPN	Dragoljub
}	PUNCT	}
Petoro	NUM	petoro
unučadi	NOUN	unučad
.	PUNCT	.
[	PUNCT	[
Ako	ADV	Ako
imate	VERB	imati
neko	DET	neki
slobodno	ADJ	slobodan
vreme	NOUN	vreme
,	PUNCT	,
šta	PRON	šta
tada	ADV	tada
radite	VERB	raditi
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
Dragoljub	PROPN	Dragoljub
}	PUNCT	}
Kad	ADV	kad
imam	VERB	imati
malo	ADV	malo
slobodnog	ADJ	slobodan
vremena	NOUN	vreme
,	PUNCT	,
sednem	VERB	sesti
pa	CCONJ	pa
se	PART	se
odmorim	VERB	odmoriti
!	PUNCT	!
[	PUNCT	[
Da	ADV	Da
li	PART	li
ste	AUX	jesam
slušali	VERB	slušati
istu	ADJ	isti
muziku	NOUN	muzika
u	ADP	u
mladosti	NOUN	mladost
kao	CCONJ	kao
i	CCONJ	i
sada	ADV	sada
?	PUNCT	?
]	PUNCT	]
{	PUNCT	{
Dragoljub	PROPN	Dragoljub
}	PUNCT	}
Pa	X	Pa
uvek	ADV	uvek
sam	AUX	jesam
malo	ADV	malo
puštao	VERB	puštati
radio	NOUN	radio
i	CCONJ	i
to	DET	taj
slušao	VERB	slušati
!	PUNCT	!
[	PUNCT	[
Hvala	VERB	Hvala
Vam	PROPN	Vam
!	PUNCT	!
]	PUNCT	]
