[	PUNCT	[
Za	ADJ	Za
početak	NOUN	početak
,	PUNCT	,
da	SCONJ	da
mi	PRON	ja
kažete	VERB	kazati
kako	SCONJ	kako
se	PART	se
zovete	VERB	zvati
.	PUNCT	.
]	PUNCT	]
Petković	PROPN	Petković
Staniša	PROPN	Staniša
.	PUNCT	.
[	PUNCT	[
Starost	PROPN	Starost
,	PUNCT	,
godište	NOUN	godište
?	PUNCT	?
]	PUNCT	]
Staniša	PROPN	Staniša
Petković	PROPN	Petković
:	PUNCT	:
Trideset	NUM	trideset
-	PUNCT	-
prvo	ADV	prvo
.	PUNCT	.
[	PUNCT	[
Šta	ADV	Šta
ste	AUX	jesam
po	ADP	po
zanimanju	NOUN	zanimanje
?	PUNCT	?
Da	SCONJ	da
li	PART	li
ste	AUX	jesam
završavali	VERB	završavati
neke	DET	neki
škole	NOUN	škola
?	PUNCT	?
]	PUNCT	]
Arhitekta	PROPN	Arhitekta
.	PUNCT	.
[	PUNCT	[
Arhitekta	PROPN	Arhitekta
?	PUNCT	?
Jeste	AUX	jesam
li	PART	li
to	DET	taj
i	CCONJ	i
radili	VERB	raditi
?	PUNCT	?
]	PUNCT	]
Jesam	PROPN	Jesam
.	PUNCT	.
[	PUNCT	[
Gde	PROPN	Gde
ste	AUX	jesam
rođeni	VERB	roditi
?	PUNCT	?
]	PUNCT	]
U	VERB	U
Zemunu	PROPN	Zemun
.	PUNCT	.
[	PUNCT	[
Kako	ADV	kako
je	AUX	jesam
bilo	AUX	biti
tamo	ADV	tamo
?	PUNCT	?
]	PUNCT	]
U	VERB	U
Kralja	PROPN	Kralj
Petra	PROPN	Petar
šezdeset	NUM	šezdeset
-	PUNCT	-
osam	NUM	osam
.	PUNCT	.
To	DET	taj
je	AUX	jesam
tamo	ADV	tamo
odmah	ADV	odmah
kod	ADP	kod
Muhara	PROPN	Muhara
.	PUNCT	.
Znaš	ADV	Znaš
gde	SCONJ	gde
je	AUX	jesam
Muhar	PROPN	Muhar
u	ADP	u
Zemunu	PROPN	Zemun
?	PUNCT	?
[	PUNCT	[
Nisam	PROPN	Nisam
bila	AUX	biti
.	PUNCT	.
]	PUNCT	]
Nisi	PROPN	Nisi
Zemunac	PROPN	Zemunac
,	PUNCT	,
ne	PART	ne
vredi	VERB	vrediti
.	PUNCT	.
[	PUNCT	[
Da	ADV	Da
li	PART	li
ste	AUX	jesam
nekad	ADV	nekad
svirali	VERB	svirati
neki	DET	neki
muzički	ADJ	muzički
instrument	NOUN	instrument
?	PUNCT	?
]	PUNCT	]
Nisam	PROPN	Nisam
.	PUNCT	.
Nisam	AUX	jesam
muzikalan	ADJ	muzikalan
uopšte	ADV	uopšte
.	PUNCT	.
Kad	SCONJ	kad
se	PART	se
delio	VERB	deliti
sluh	NOUN	sluh
,	PUNCT	,
mene	PRON	ja
su	AUX	jesam
držali	VERB	držati
u	ADP	u
buretu	NOUN	bure
.	PUNCT	.
[	PUNCT	[
Ko	PROPN	Ko
su	AUX	jesam
članovi	NOUN	član
Vaše	ADJ	Vaše
porodice	NOUN	porodica
?	PUNCT	?
Da	SCONJ	da
li	PART	li
imate	VERB	imati
decu	NOUN	deca
,	PUNCT	,
unučiće	NOUN	unučić
?	PUNCT	?
]	PUNCT	]
Imam	PROPN	Imam
,	PUNCT	,
imam	VERB	imati
.	PUNCT	.
I	CCONJ	i
unuke	NOUN	unuka
i	CCONJ	i
praunuke	NOUN	praunuka
,	PUNCT	,
sve	ADV	sve
.	PUNCT	.
[	PUNCT	[
Šta	ADV	Šta
rade	VERB	raditi
oni	PRON	oni
?	PUNCT	?
]	PUNCT	]
Pa	X	Pa
ovi	DET	ovaj
mali	ADJ	mali
uče	VERB	učiti
školu	NOUN	škola
,	PUNCT	,
a	ADV	a
ovi	DET	ovaj
stariji	ADJ	star
su	AUX	jesam
isto	ADV	isto
završili	VERB	završiti
fakultete	NOUN	fakultet
,	PUNCT	,
rade	VERB	raditi
.	PUNCT	.
[	PUNCT	[
Koliko	ADJ	Koliko
dece	NOUN	deca
imate	VERB	imati
?	PUNCT	?
]	PUNCT	]
Pa	X	Pa
ja	PRON	ja
imam	VERB	imati
dvoje	NUM	dvoje
dece	NOUN	deca
.	PUNCT	.
Sina	NOUN	sin
i	CCONJ	i
ćerku	NOUN	ćerka
.	PUNCT	.
[	PUNCT	[
Kako	ADV	kako
se	PART	se
zovu	VERB	zvati
oni	PRON	oni
?	PUNCT	?
]	PUNCT	]
Zoran	PROPN	Zoran
je	AUX	jesam
sin	NOUN	sin
,	PUNCT	,
ćerka	NOUN	ćerka
je	AUX	jesam
Eleonora	PROPN	Eleonora
.	PUNCT	.
[	PUNCT	[
Eleonora	PROPN	Eleonora
,	PUNCT	,
baš	PART	baš
lepo	ADV	lepo
ime	NOUN	ime
!	PUNCT	!
]	PUNCT	]
Ah	ADV	Ah
,	PUNCT	,
to	DET	taj
su	AUX	jesam
tetke	NOUN	tetak
birale	VERB	birati
.	PUNCT	.
[	PUNCT	[
Jeste	VERB	Jeste
li	PART	li
se	PART	se
Vi	ADV	Vi
pitali	VERB	pitati
tu	ADV	tu
nešto	ADV	nešto
?	PUNCT	?
]	PUNCT	]
Ma	NOUN	Ma
jok	INTJ	jok
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
samo	PART	samo
klimao	VERB	klimati
glavom	NOUN	glava
,	PUNCT	,
one	DET	onaj
su	AUX	jesam
se	PART	se
pitale	VERB	pitati
.	PUNCT	.
Kako	SCONJ	kako
će	AUX	hteti
,	PUNCT	,
malo	ADV	malo
su	AUX	jesam
savremenija	ADJ	savremen
imena	NOUN	ime
.	PUNCT	.
Nisu	AUX	jesam
baš	PART	baš
kao	CCONJ	kao
njihova	DET	njihov
.	PUNCT	.
[	PUNCT	[
Šta	ADV	Šta
su	AUX	jesam
završili	VERB	završiti
oni	PRON	oni
?	PUNCT	?
]	PUNCT	]
Pa	X	Pa
,	PUNCT	,
tu	ADV	tu
i	CCONJ	i
tamo	ADV	tamo
.	PUNCT	.
Uglavnom	ADV	uglavnom
fakultete	NOUN	fakultet
.	PUNCT	.
Šta	ADV	Šta
će	AUX	hteti
u	ADP	u
Beogradu	PROPN	Beograd
no	CCONJ	no
da	SCONJ	da
studiraju	VERB	studirati
.	PUNCT	.
Tu	ADV	tu
je	AUX	jesam
i	CCONJ	i
pravni	ADJ	pravni
,	PUNCT	,
tamo	ADV	tamo
na	ADP	na
uglu	NOUN	ugao
,	PUNCT	,
ili	CCONJ	ili
na	ADP	na
tehničkom	ADJ	tehnički
fakultetu	NOUN	fakultet
.	PUNCT	.
[	PUNCT	[
Sećate	VERB	Sećate
li	PART	li
se	PART	se
možda	PART	možda
kako	SCONJ	kako
je	AUX	jesam
bilo	AUX	biti
kada	SCONJ	kada
ste	AUX	jesam
Vi	ADV	Vi
studirali	VERB	studirati
?	PUNCT	?
]	PUNCT	]
E	VERB	E
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
studirao	VERB	studirati
na	ADP	na
razdele	NOUN	razdeo
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
studirao	VERB	studirati
posle	ADP	posle
vanredno	ADJ	vanredan
.	PUNCT	.
Tako	ADV	tako
da	SCONJ	da
sam	AUX	jesam
išao	VERB	ići
na	ADP	na
fakultet	NOUN	fakultet
,	PUNCT	,
svi	DET	sav
su	AUX	jesam
oni	PRON	oni
tu	ADV	tu
bili	AUX	biti
ili	CCONJ	ili
docenti	NOUN	docent
ili	CCONJ	ili
profesori	NOUN	profesor
.	PUNCT	.
Sve	DET	sav
su	AUX	jesam
bile	AUX	biti
moje	DET	moj
kolege	NOUN	kolega
,	PUNCT	,
ili	CCONJ	ili
možda	PART	možda
mlađe	ADJ	mlad
od	ADP	od
mene	PRON	ja
.	PUNCT	.
E	INTJ	e
,	PUNCT	,
malo	ADV	malo
sam	AUX	jesam
kasno	ADV	kasno
završio	VERB	završiti
,	PUNCT	,
tek	CCONJ	tek
sam	AUX	jesam
sedamdesete	ADJ	sedamdeseti
diplomirao	VERB	diplomirati
.	PUNCT	.
Znaš	PROPN	Znaš
,	PUNCT	,
nisam	AUX	jesam
hteo	AUX	hteti
da	SCONJ	da
ostanem	VERB	ostati
baš	PART	baš
bez	ADP	bez
škole	NOUN	škola
!	PUNCT	!
Nego	CCONJ	nego
sam	AUX	jesam
kasnije	ADV	kasnije
nastavio	VERB	nastaviti
i	CCONJ	i
odgurao	VERB	odgurati
sve	ADV	sve
.	PUNCT	.
Nije	AUX	jesam
bilo	AUX	biti
problema	NOUN	problem
.	PUNCT	.
Mi	PRON	ja
smo	AUX	jesam
bila	AUX	biti
dobra	ADJ	dobar
generacija	NOUN	generacija
,	PUNCT	,
ta	DET	taj
posleratna	ADJ	posleratni
.	PUNCT	.
Srednja	ADJ	srednji
škola	NOUN	škola
nije	AUX	jesam
bila	AUX	biti
baš	PART	baš
k	ADP	k
’	PUNCT	’
o	ADP	o
što	PRON	što
je	AUX	jesam
sad	ADV	sad
,	PUNCT	,
njih	PRON	ona
uopšte	ADV	uopšte
ne	PART	ne
cene	NOUN	cena
.	PUNCT	.
Srednja	ADJ	srednji
škola	NOUN	škola
se	PART	se
cenila	VERB	ceniti
.	PUNCT	.
Sijaset	ADV	sijaset
njih	PRON	ona
su	AUX	jesam
vodili	VERB	voditi
celo	ADJ	ceo
građevinarstvo	NOUN	građevinarstvo
i	CCONJ	i
firme	NOUN	firma
,	PUNCT	,
odmah	ADV	odmah
posle	ADP	posle
rata	NOUN	rat
.	PUNCT	.
Mi	PRON	ja
,	PUNCT	,
pazi	VERB	paziti
,	PUNCT	,
mi	PRON	ja
smo	AUX	jesam
bile	AUX	biti
prve	ADJ	prvi
generacije	NOUN	generacija
.	PUNCT	.
Ne	PART	ne
da	SCONJ	da
smo	AUX	jesam
mi	PRON	ja
bili	AUX	biti
bistri	VERB	bistriti
,	PUNCT	,
nego	CCONJ	nego
smo	AUX	jesam
bili	AUX	biti
tako	ADV	tako
,	PUNCT	,
prirodno	ADV	prirodno
nadareni	VERB	nadariti
,	PUNCT	,
što	SCONJ	što
se	PART	se
kaže	VERB	kazati
!	PUNCT	!
Brzo	ADV	brzo
smo	AUX	jesam
se	PART	se
uklopili	VERB	uklopiti
,	PUNCT	,
brzo	ADV	brzo
smo	AUX	jesam
se	PART	se
uklopili	VERB	uklopiti
.	PUNCT	.
Sve	DET	sav
smo	AUX	jesam
shvatali	VERB	shvatati
,	PUNCT	,
sve	DET	sav
je	AUX	jesam
ležalo	VERB	ležati
na	ADP	na
nama	PRON	mi
.	PUNCT	.
Baš	ADV	Baš
dosta	ADV	dosta
,	PUNCT	,
baš	PART	baš
dosta	ADV	dosta
.	PUNCT	.
Lepa	ADJ	lep
vremena	NOUN	vreme
,	PUNCT	,
ne	PART	ne
mogu	VERB	moći
da	SCONJ	da
ti	PRON	ti
pričam	VERB	pričati
,	PUNCT	,
ti	PRON	ti
si	AUX	jesam
mnogo	ADV	mnogo
mlada	ADJ	mlad
.	PUNCT	.
[	PUNCT	[
Ne	ADV	Ne
,	PUNCT	,
volela	VERB	voleti
bih	AUX	biti
da	SCONJ	da
čujem	VERB	čuti
!	PUNCT	!
Ako	SCONJ	ako
se	PART	se
sećate	VERB	sećati
neke	DET	neki
anegdote	NOUN	anegdota
ili	CCONJ	ili
?	PUNCT	?
]	PUNCT	]
Staniša	PROPN	Staniša
Petković	PROPN	Petković
:	PUNCT	:
Pa	CCONJ	pa
ima	VERB	imati
,	PUNCT	,
svega	ADV	svega
ima	VERB	imati
!	PUNCT	!
Ima	VERB	imati
da	SCONJ	da
,	PUNCT	,
što	SCONJ	što
kaže	VERB	kazati
,	PUNCT	,
po	ADP	po
fakultetu	NOUN	fakultet
nisam	AUX	jesam
smeo	VERB	smesti
da	SCONJ	da
se	PART	se
sastajem	VERB	sastajati
sa	ADP	sa
kolegama	NOUN	kolega
!	PUNCT	!
Jer	SCONJ	jer
odmah	ADV	odmah
kaže	VERB	kazati
da	SCONJ	da
sad	ADV	sad
hvataš	VERB	hvatati
vezu	NOUN	veza
,	PUNCT	,
pa	CCONJ	pa
zato	ADV	zato
studiraš	VERB	studirati
vanredno	ADJ	vanredan
.	PUNCT	.
Hoćeš	ADV	Hoćeš
da	SCONJ	da
završiš	VERB	završiti
,	PUNCT	,
pa	CCONJ	pa
da	SCONJ	da
se	PART	se
promuvaš	VERB	promuvati
.	PUNCT	.
Šalim	PUNCT	Šalim
se	PART	se
.	PUNCT	.
[	PUNCT	[
A	X	A
što	SCONJ	što
ste	AUX	jesam
studirali	VERB	studirati
vanredno	ADJ	vanredan
?	PUNCT	?
]	PUNCT	]
Pa	X	Pa
,	PUNCT	,
da	SCONJ	da
ti	PRON	ti
kažem	VERB	kazati
nešto	ADV	nešto
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
normalno	ADV	normalno
završio	VERB	završiti
školu	NOUN	škola
,	PUNCT	,
pa	CCONJ	pa
počeo	VERB	početi
da	SCONJ	da
radim	VERB	raditi
,	PUNCT	,
rodila	VERB	roditi
se	PART	se
deca	NOUN	deca
.	PUNCT	.
Ovi	DET	ovaj
mladi	ADJ	mlad
odoše	VERB	otići
,	PUNCT	,
počeše	VERB	početi
svi	DET	sav
da	SCONJ	da
se	PART	se
školuju	VERB	školovati
dalje	ADV	dalje
.	PUNCT	.
I	CCONJ	i
onda	ADV	onda
i	CCONJ	i
mi	PRON	ja
matori	VERB	matoriti
,	PUNCT	,
upišemo	VERB	upisati
vanredno	ADJ	vanredan
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
tek	PART	tek
sedamdesete	ADJ	sedamdeseti
diplomirao	VERB	diplomirati
.	PUNCT	.
Na	ADP	na
fakultetu	NOUN	fakultet
je	AUX	jesam
li	PART	li
,	PUNCT	,
fakultet	NOUN	fakultet
.	PUNCT	.
[	PUNCT	[
Jeste	PROPN	Jeste
li	PART	li
voleli	VERB	voleti
svoj	DET	sav
posao	NOUN	posao
?	PUNCT	?
]	PUNCT	]
Ah	ADV	Ah
,	PUNCT	,
kako	ADV	kako
da	SCONJ	da
ne	PART	ne
.	PUNCT	.
Jesam	AUX	jesam
bio	AUX	biti
,	PUNCT	,
da	SCONJ	da
l	X	l
’	PUNCT	’
negde	ADV	negde
u	ADP	u
selu	NOUN	selo
,	PUNCT	,
šta	PRON	šta
li	PART	li
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
uglavnom	ADV	uglavnom
,	PUNCT	,
na	ADP	na
nekakvom	DET	nekakav
odmoru	NOUN	odmor
i	CCONJ	i
kad	SCONJ	kad
sam	AUX	jesam
se	PART	se
vratio	VERB	vratiti
sestre	NOUN	sestra
,	PUNCT	,
moja	DET	moj
sestra	NOUN	sestra
,	PUNCT	,
rođena	VERB	roditi
,	PUNCT	,
je	AUX	jesam
l	X	l
’	PUNCT	’
,	PUNCT	,
moja	DET	moj
sestra	NOUN	sestra
od	ADP	od
tetke	NOUN	tetak
,	PUNCT	,
uhvate	VERB	uhvatiti
i	CCONJ	i
upišu	VERB	upisati
me	PRON	ja
.	PUNCT	.
Tad	ADV	tad
sam	AUX	jesam
bio	AUX	biti
mali	ADJ	mali
,	PUNCT	,
je	AUX	jesam
l	X	l
’	PUNCT	’
.	PUNCT	.
I	CCONJ	i
oni	PRON	oni
upišu	VERB	upisati
me	PRON	ja
na	ADP	na
fakultet	NOUN	fakultet
.	PUNCT	.
I	CCONJ	i
kao	ADV	kao
,	PUNCT	,
koji	DET	koji
,	PUNCT	,
kad	SCONJ	kad
kažu	VERB	kazati
:	PUNCT	:
„	PUNCT	„
Mi	ADV	Mi
smo	AUX	jesam
gledali	VERB	gledati
ovaj	DET	ovaj
elektrotehnički	ADJ	elektrotehnički
da	SCONJ	da
ideš	VERB	ići
tamo	ADV	tamo
.	PUNCT	.
“	PUNCT	“
Ma	VERB	Ma
koji	DET	koji
bre	INTJ	bre
!	PUNCT	!
Šta	ADV	Šta
ću	AUX	hteti
ja	PRON	ja
na	ADP	na
taj	DET	taj
fakultet	NOUN	fakultet
,	PUNCT	,
levo	ADV	levo
-	PUNCT	-
desno	ADV	desno
.	PUNCT	.
Tako	ADV	tako
da	SCONJ	da
sam	AUX	jesam
ja	PRON	ja
prekinuo	VERB	prekinuti
.	PUNCT	.
I	CCONJ	i
stvarno	ADV	stvarno
,	PUNCT	,
posle	ADV	posle
,	PUNCT	,
vanredno	ADJ	vanredan
sam	AUX	jesam
završio	VERB	završiti
.	PUNCT	.
I	CCONJ	i
to	DET	taj
građevinu	NOUN	građevina
,	PUNCT	,
opet	ADV	opet
.	PUNCT	.
Nisam	AUX	jesam
znači	VERB	značiti
,	PUNCT	,
nisam	AUX	jesam
napuštao	VERB	napuštati
struku	NOUN	struka
.	PUNCT	.
Tako	ADV	tako
da	SCONJ	da
,	PUNCT	,
bila	AUX	biti
su	AUX	jesam
burna	ADJ	buran
vremena	NOUN	vreme
,	PUNCT	,
znaš	VERB	znati
.	PUNCT	.
Morali	VERB	morati
smo	AUX	jesam
i	CCONJ	i
da	SCONJ	da
radimo	VERB	raditi
i	CCONJ	i
da	SCONJ	da
se	PART	se
školujemo	VERB	školovati
,	PUNCT	,
stigla	VERB	stignuti
i	CCONJ	i
deca	NOUN	deca
,	PUNCT	,
i	CCONJ	i
porodica	NOUN	porodica
,	PUNCT	,
obaveze	NOUN	obaveza
,	PUNCT	,
velike	ADJ	velik
.	PUNCT	.
[	PUNCT	[
Kako	ADV	kako
je	AUX	jesam
to	DET	taj
bilo	AUX	biti
tada	ADV	tada
kada	SCONJ	kada
ste	AUX	jesam
dobili	VERB	dobiti
decu	NOUN	deca
?	PUNCT	?
To	DET	taj
je	AUX	jesam
uvek	ADV	uvek
drastična	ADJ	drastičan
promena	NOUN	promena
.	PUNCT	.
]	PUNCT	]
Nisam	PROPN	Nisam
ja	PRON	ja
dobio	VERB	dobiti
decu	NOUN	deca
,	PUNCT	,
dobila	VERB	dobiti
je	AUX	jesam
žena	NOUN	žena
decu	NOUN	deca
.	PUNCT	.
[	PUNCT	[
Pa	X	Pa
pomogli	VERB	pomoći
ste	AUX	jesam
i	CCONJ	i
Vi	ADV	Vi
malo	ADV	malo
,	PUNCT	,
u	ADP	u
tom	DET	taj
dobijanju	NOUN	dobijanje
dece	NOUN	deca
.	PUNCT	.
]	PUNCT	]
Da	ADV	Da
ti	PRON	ti
kažem	VERB	kazati
nešto	ADV	nešto
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
se	PART	se
svima	DET	sav
hvalio	VERB	hvaliti
da	SCONJ	da
sam	AUX	jesam
ja	PRON	ja
tu	ADV	tu
bio	AUX	biti
glavni	ADJ	glavni
,	PUNCT	,
oko	ADP	oko
dobijanja	NOUN	dobijanje
te	DET	taj
dece	NOUN	deca
,	PUNCT	,
ali	CCONJ	ali
ne	PART	ne
znam	VERB	znati
da	SCONJ	da
nije	AUX	jesam
bio	AUX	biti
i	CCONJ	i
neko	PRON	neko
sa	ADP	sa
strane	NOUN	strana
.	PUNCT	.
Šalim	PUNCT	Šalim
se	PART	se
,	PUNCT	,
nikad	ADV	nikad
nije	AUX	jesam
verovati	VERB	verovati
ženama	NOUN	žena
,	PUNCT	,
svašta	PRON	svašta
može	VERB	moći
da	SCONJ	da
se	PART	se
desi	VERB	desiti
.	PUNCT	.
Šalim	PUNCT	Šalim
se	PART	se
.	PUNCT	.
Bila	AUX	biti
su	AUX	jesam
to	DET	taj
teška	ADJ	težak
vremena	NOUN	vreme
,	PUNCT	,
mi	PRON	ja
mladi	ADJ	mlad
.	PUNCT	.
[	PUNCT	[
Sa	ADV	Sa
koliko	ADV	koliko
ste	AUX	jesam
godina	NOUN	godina
dobili	VERB	dobiti
prvo	ADJ	prvi
dete	NOUN	dete
?	PUNCT	?
]	PUNCT	]
Staniša	PROPN	Staniša
Petković	PROPN	Petković
:	PUNCT	:
Ma	PART	ma
,	PUNCT	,
znači	VERB	značiti
,	PUNCT	,
nisam	AUX	jesam
imao	VERB	imati
ni	PART	ni
trideset	NUM	trideset
godina	NOUN	godina
.	PUNCT	.
Ni	PART	ni
trideset	NUM	trideset
godina	NOUN	godina
.	PUNCT	.
Al	CCONJ	al
’	PUNCT	’
nisam	AUX	jesam
puno	ADJ	pun
dece	NOUN	deca
ni	PART	ni
imao	VERB	imati
,	PUNCT	,
samo	PART	samo
dvoje	NUM	dvoje
.	PUNCT	.
Sina	NOUN	sin
i	CCONJ	i
ćerku	NOUN	ćerka
.	PUNCT	.
I	CCONJ	i
nas	PRON	mi
je	AUX	jesam
bilo	AUX	biti
dvoje	NUM	dvoje
,	PUNCT	,
ja	PRON	ja
i	CCONJ	i
sestra	NOUN	sestra
,	PUNCT	,
i	CCONJ	i
ovde	ADV	ovde
opet	ADV	opet
tako	ADV	tako
.	PUNCT	.
Mešovito	ADV	Mešovito
što	SCONJ	što
kažu	VERB	kazati
,	PUNCT	,
mešoviti	ADJ	mešovit
brak	NOUN	brak
.	PUNCT	.
[	PUNCT	[
I	ADV	I
Vaša	ADJ	Vaša
deca	NOUN	deca
isto	ADV	isto
,	PUNCT	,
dečak	NOUN	dečak
i	CCONJ	i
devojčica	NOUN	devojčica
?	PUNCT	?
]	PUNCT	]
Da	ADV	Da
.	PUNCT	.
[	PUNCT	[
Da	ADV	Da
li	PART	li
ste	AUX	jesam
možda	PART	možda
putovali	VERB	putovati
negde	ADV	negde
?	PUNCT	?
Ili	CCONJ	ili
živeli	VERB	živeti
u	ADP	u
nekoj	DET	neki
stranoj	ADJ	stran
državi	NOUN	država
neko	DET	neki
vreme	NOUN	vreme
?	PUNCT	?
]	PUNCT	]
Pa	X	Pa
jesam	AUX	jesam
,	PUNCT	,
putovao	VERB	putovati
sam	AUX	jesam
.	PUNCT	.
Po	ADP	po
celom	ADJ	ceo
svetu	NOUN	svet
.	PUNCT	.
I	CCONJ	i
po	ADP	po
Africi	PROPN	Afrika
,	PUNCT	,
i	CCONJ	i
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
[	PUNCT	[
Gde	PROPN	Gde
ste	AUX	jesam
bili	AUX	biti
u	ADP	u
Africi	PROPN	Afrika
?	PUNCT	?
]	PUNCT	]
U	VERB	U
Africi	PROPN	Afrika
?	PUNCT	?
Celu	ADJ	ceo
Afriku	PROPN	Afrika
sam	AUX	jesam
obišao	VERB	obići
,	PUNCT	,
celu	ADJ	ceo
.	PUNCT	.
Kad	SCONJ	kad
niko	PRON	niki
nije	AUX	jesam
ni	PART	ni
znao	VERB	znati
gde	SCONJ	gde
je	AUX	jesam
Afrika	PROPN	Afrika
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
je	AUX	jesam
obišao	VERB	obići
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
baš	PART	baš
imao	VERB	imati
takvo	DET	takav
mesto	NOUN	mesto
,	PUNCT	,
što	SCONJ	što
sam	AUX	jesam
tehničku	ADJ	tehnički
školu	NOUN	škola
završi	VERB	završiti
.	PUNCT	.
Znaš	ADV	Znaš
,	PUNCT	,
tehničar	NOUN	tehničar
sam	AUX	jesam
bio	AUX	biti
.	PUNCT	.
Ali	CCONJ	ali
sam	AUX	jesam
,	PUNCT	,
bio	AUX	biti
bistar	ADJ	bistar
,	PUNCT	,
dobro	ADV	dobro
se	PART	se
probio	VERB	probiti
.	PUNCT	.
Tako	ADV	tako
da	SCONJ	da
sam	AUX	jesam
uvek	ADV	uvek
imao	VERB	imati
i	CCONJ	i
dobar	ADJ	dobar
položaj	NOUN	položaj
i	CCONJ	i
sve	DET	sav
to	DET	taj
.	PUNCT	.
[	PUNCT	[
A	X	A
to	DET	taj
Vas	PROPN	Vas
je	AUX	jesam
firma	NOUN	firma
slala	VERB	slati
po	ADP	po
Africi	PROPN	Afrika
?	PUNCT	?
Odnosno	PART	odnosno
,	PUNCT	,
zbog	ADP	zbog
posla	NOUN	posao
ste	AUX	jesam
putovali	VERB	putovati
?	PUNCT	?
]	PUNCT	]
Pa	X	Pa
da	SCONJ	da
,	PUNCT	,
zbog	ADP	zbog
posla	NOUN	posao
.	PUNCT	.
[	PUNCT	[
I	ADV	I
šta	PRON	šta
ste	AUX	jesam
radili	VERB	raditi
?	PUNCT	?
]	PUNCT	]
Pa	X	Pa
svugde	ADV	svugde
po	ADP	po
malo	ADV	malo
.	PUNCT	.
Uglavnom	ADV	uglavnom
cela	ADJ	ceo
Afrika	PROPN	Afrika
.	PUNCT	.
Sve	DET	sav
sam	AUX	jesam
obišao	VERB	obići
.	PUNCT	.
U	ADP	u
ono	DET	onaj
vreme	NOUN	vreme
,	PUNCT	,
sam	AUX	jesam
više	ADV	više
video	VERB	videti
svet	NOUN	svet
nego	CCONJ	nego
moji	DET	moj
svi	DET	sav
.	PUNCT	.
Što	PROPN	Što
kažu	VERB	kazati
,	PUNCT	,
moje	DET	moj
pokoljenje	NOUN	pokoljenje
nije	AUX	jesam
videlo	VERB	videti
toliko	ADV	toliko
sveta	NOUN	svet
koliko	ADV	koliko
sam	AUX	jesam
ja	PRON	ja
video	VERB	videti
.	PUNCT	.
Baš	ADV	Baš
sam	AUX	jesam
svugde	ADV	svugde
putovao	VERB	putovati
.	PUNCT	.
Dosta	ADV	dosta
sam	AUX	jesam
se	PART	se
naputovao	VERB	naputovati
.	PUNCT	.
A	X	A
voleo	VERB	voleti
sam	AUX	jesam
,	PUNCT	,
voleo	VERB	voleti
sam	AUX	jesam
da	SCONJ	da
putujem	VERB	putovati
.	PUNCT	.
Meni	PRON	ja
je	AUX	jesam
bilo	AUX	biti
zadovoljstvo	NOUN	zadovoljstvo
.	PUNCT	.
Ja	PRON	ja
krenem	VERB	krenuti
ulicom	NOUN	ulica
,	PUNCT	,
kroz	ADP	kroz
Pariz	PROPN	Pariz
,	PUNCT	,
idem	VERB	ići
,	PUNCT	,
od	ADP	od
izloga	NOUN	izlog
do	ADP	do
izloga	NOUN	izlog
i	CCONJ	i
samo	PART	samo
gledam	VERB	gledati
i	CCONJ	i
kao	ADV	kao
i	CCONJ	i
da	SCONJ	da
kupujem	VERB	kupovati
!	PUNCT	!
Mislim	VERB	misliti
,	PUNCT	,
materijalno	ADJ	materijalan
me	PRON	ja
ništa	PRON	ništa
nije	AUX	jesam
interesovalo	VERB	interesovati
,	PUNCT	,
ali	CCONJ	ali
sam	AUX	jesam
voleo	VERB	voleti
sve	ADV	sve
da	SCONJ	da
vidim	VERB	viditi
.	PUNCT	.
Sve	ADV	sve
da	SCONJ	da
vidim	VERB	viditi
.	PUNCT	.
Eto	PART	eto
tako	ADV	tako
.	PUNCT	.
U	ADP	u
to	DET	taj
vreme	NOUN	vreme
sam	AUX	jesam
čak	PART	čak
bio	AUX	biti
u	ADP	u
tim	DET	taj
,	PUNCT	,
noćnim	ADJ	noćni
klubovima	NOUN	klub
,	PUNCT	,
gledali	VERB	gledati
smo	AUX	jesam
taj	DET	taj
striptiz	NOUN	striptiz
,	PUNCT	,
tada	ADV	tada
nije	AUX	jesam
bilo	AUX	biti
.	PUNCT	.
A	X	A
mladi	ADJ	mlad
,	PUNCT	,
sve	DET	sav
nas	PRON	mi
je	AUX	jesam
interesovalo	VERB	interesovati
.	PUNCT	.
Sve	DET	sav
nas	PRON	mi
je	AUX	jesam
interesovalo	VERB	interesovati
.	PUNCT	.
[	PUNCT	[
A	X	A
da	SCONJ	da
li	PART	li
se	PART	se
sećate	VERB	sećati
nekog	DET	neki
karakterističnog	ADJ	karakterističan
događaja	NOUN	događaj
ili	CCONJ	ili
ponašanja	NOUN	ponašanje
u	ADP	u
nekoj	DET	neki
od	ADP	od
stranih	ADJ	stran
zemalja	NOUN	zemlja
koje	DET	koji
Vas	PROPN	Vas
je	AUX	jesam
iznenadilo	VERB	iznenaditi
?	PUNCT	?
Ili	CCONJ	ili
izgledalo	VERB	izgledati
totalno	ADV	totalno
ludo	ADV	ludo
i	CCONJ	i
neobično	ADV	neobično
?	PUNCT	?
]	PUNCT	]
Bilo	VERB	biti
je	AUX	jesam
svega	ADV	svega
i	CCONJ	i
svačega	PRON	svašta
.	PUNCT	.
Sigurno	ADV	sigurno
,	PUNCT	,
sigurno	ADV	sigurno
da	SCONJ	da
je	AUX	jesam
bilo	AUX	biti
.	PUNCT	.
Ali	CCONJ	ali
lepo	ADV	lepo
smo	AUX	jesam
.	PUNCT	.
Ne	PART	ne
znam	VERB	znati
,	PUNCT	,
nikad	ADV	nikad
nismo	AUX	jesam
nikakvih	DET	nikakav
problema	NOUN	problem
imali	VERB	imati
.	PUNCT	.
Nismo	AUX	jesam
ni	PART	ni
mi	PRON	ja
bili	AUX	biti
neki	DET	neki
drčni	ADJ	drčan
mnogo	ADV	mnogo
,	PUNCT	,
da	SCONJ	da
smo	AUX	jesam
se	PART	se
gurali	VERB	gurati
svugde	ADV	svugde
.	PUNCT	.
Ali	CCONJ	ali
smo	AUX	jesam
lepo	ADV	lepo
proveli	VERB	provesti
,	PUNCT	,
bar	PART	bar
ja	PRON	ja
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
bio	AUX	biti
,	PUNCT	,
kako	SCONJ	kako
se	PART	se
kaže	VERB	kazati
ono	PRON	ono
:	PUNCT	:
„	PUNCT	„
Umiljato	ADJ	umiljat
jagnje	NOUN	jagnje
dve	NUM	dva
majke	NOUN	majka
ima	VERB	imati
“	PUNCT	“
.	PUNCT	.
Tako	ADV	tako
da	SCONJ	da
sam	AUX	jesam
i	CCONJ	i
u	ADP	u
tome	DET	taj
,	PUNCT	,
u	ADP	u
toj	DET	taj
mladosti	NOUN	mladost
,	PUNCT	,
kako	SCONJ	kako
kaže	VERB	kazati
narod	NOUN	narod
,	PUNCT	,
„	PUNCT	„
Rodi	PROPN	Roda
me	PRON	ja
majko	NOUN	majka
pametnog	ADJ	pametan
pa	CCONJ	pa
me	PRON	ja
na	ADP	na
đubre	NOUN	đubar
baci	VERB	baciti
“	PUNCT	“
,	PUNCT	,
da	SCONJ	da
se	PART	se
snađem	VERB	snaći
.	PUNCT	.
Eto	PART	eto
tako	ADV	tako
sam	AUX	jesam
i	CCONJ	i
ja	PRON	ja
isplivao	VERB	isplivati
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
prvenstveno	ADV	prvenstveno
završio	VERB	završiti
tehničku	ADJ	tehnički
školu	NOUN	škola
,	PUNCT	,
pa	CCONJ	pa
sam	AUX	jesam
posle	ADV	posle
upisao	VERB	upisati
fakultet	NOUN	fakultet
.	PUNCT	.
Zavšim	VERB	Zavšim
ga	PRON	on
uporedo	ADV	uporedo
.	PUNCT	.
Uporedo	ADV	uporedo
sa	ADP	sa
radom	ADJ	rad
i	CCONJ	i
te	DET	taj
četiri	NUM	četiri
godine	NOUN	godina
studija	NOUN	studija
,	PUNCT	,
građevinskog	ADJ	građevinski
fakulteta	NOUN	fakultet
.	PUNCT	.
Tako	ADV	tako
da	SCONJ	da
ništa	PRON	ništa
mi	PRON	ja
nije	AUX	jesam
bilo	AUX	biti
.	PUNCT	.
Znaš	VERB	Znaš
šta	PRON	šta
,	PUNCT	,
mladost	NOUN	mladost
je	AUX	jesam
to	DET	taj
.	PUNCT	.
Pun	ADJ	pun
snage	NOUN	snaga
,	PUNCT	,
želje	NOUN	želja
i	CCONJ	i
iskazivanja	NOUN	iskazivanje
i	CCONJ	i
negde	ADV	negde
da	SCONJ	da
se	PART	se
postaviš	VERB	postaviti
.	PUNCT	.
Nije	AUX	jesam
to	DET	taj
samo	PART	samo
da	SCONJ	da
dobiješ	VERB	dobiti
radno	ADV	radno
mesto	NOUN	mesto
.	PUNCT	.
Radno	ADV	radno
mesto	NOUN	mesto
sam	AUX	jesam
uvek	ADV	uvek
imao	VERB	imati
.	PUNCT	.
Fino	ADV	fino
radno	ADV	radno
mesto	NOUN	mesto
.	PUNCT	.
Uvek	ADV	uvek
.	PUNCT	.
Što	PROPN	Što
se	PART	se
kaže	VERB	kazati
,	PUNCT	,
na	ADP	na
visini	NOUN	visina
.	PUNCT	.
A	X	A
to	DET	taj
,	PUNCT	,
brzo	ADV	brzo
vreme	NOUN	vreme
proleti	NOUN	prolet
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
ne	PART	ne
mogu	VERB	moći
da	SCONJ	da
ti	PRON	ti
opišem	VERB	opisati
kako	SCONJ	kako
taj	DET	taj
život	NOUN	život
celi	VERB	celiti
,	PUNCT	,
čudo	NOUN	čudo
jedno	NUM	jedan
!	PUNCT	!
Ovako	ADV	ovako
,	PUNCT	,
sve	ADV	sve
kroz	ADP	kroz
prste	NOUN	prst
!	PUNCT	!
Sve	DET	sav
procuri	VERB	procuriti
.	PUNCT	.
Sve	ADV	sve
procuri	VERB	procuriti
.	PUNCT	.
[	PUNCT	[
Je	NOUN	Je
l	X	l
’	PUNCT	’
biste	AUX	biti
hteli	AUX	hteti
još	ADV	još
nešto	ADV	nešto
o	ADP	o
Vašoj	ADJ	Vašoj
deci	NOUN	deca
da	SCONJ	da
mi	PRON	ja
kažete	VERB	kazati
?	PUNCT	?
Kakvi	DET	kakav
su	AUX	jesam
bili	AUX	biti
kada	SCONJ	kada
su	AUX	jesam
odrastali	VERB	odrastati
?	PUNCT	?
Ima	VERB	imati
li	PART	li
nekog	DET	neki
ko	PRON	ko
je	AUX	jesam
bio	AUX	biti
nemiran	ADJ	nemiran
?	PUNCT	?
Ko	PRON	ko
je	AUX	jesam
bio	AUX	biti
miran	ADJ	miran
?	PUNCT	?
Da	SCONJ	da
li	PART	li
su	AUX	jesam
voleli	VERB	voleti
školu	NOUN	škola
?	PUNCT	?
]	PUNCT	]
Supruga	PROPN	Supruga
je	AUX	jesam
prestala	VERB	prestati
da	SCONJ	da
radi	VERB	raditi
i	CCONJ	i
da	SCONJ	da
se	PART	se
brine	VERB	brinuti
o	ADP	o
deci	NOUN	deca
i	CCONJ	i
kući	NOUN	kuća
.	PUNCT	.
Njih	PRON	ona
dvoje	NUM	dvoje
je	AUX	jesam
bilo	AUX	biti
,	PUNCT	,
sin	NOUN	sin
i	CCONJ	i
ćerka	NOUN	ćerka
,	PUNCT	,
i	CCONJ	i
ona	PRON	ona
je	AUX	jesam
o	ADP	o
njima	PRON	ona
.	PUNCT	.
I	CCONJ	i
ja	PRON	ja
nisam	AUX	jesam
ništa	PRON	ništa
stvarno	ADV	stvarno
ništa	ADV	ništa
znao	VERB	znati
,	PUNCT	,
ni	CCONJ	ni
to	DET	taj
da	SCONJ	da
l	X	l
’	PUNCT	’
idu	VERB	ići
u	ADP	u
školu	NOUN	škola
,	PUNCT	,
sve	DET	sav
je	AUX	jesam
to	DET	taj
majka	NOUN	majka
završavala	VERB	završavati
.	PUNCT	.
Tako	ADV	tako
da	SCONJ	da
su	AUX	jesam
nekako	ADV	nekako
odjedanput	ADV	odjedanput
samo	PART	samo
stasali	VERB	stasati
ljudi	NOUN	ljudi
.	PUNCT	.
Ali	CCONJ	ali
bili	AUX	biti
su	AUX	jesam
dobra	ADJ	dobar
deca	NOUN	deca
.	PUNCT	.
Nikad	ADV	nikad
nisu	AUX	jesam
ni	PART	ni
pravili	VERB	praviti
problema	NOUN	problem
.	PUNCT	.
Jedino	CCONJ	jedino
to	DET	taj
što	SCONJ	što
su	AUX	jesam
se	PART	se
rano	ADV	rano
poudavali	VERB	poudavati
,	PUNCT	,
i	CCONJ	i
to	DET	taj
ništa	PRON	ništa
nismo	AUX	jesam
mogli	VERB	moći
mi	PRON	ja
da	SCONJ	da
odlučujemo	VERB	odlučivati
.	PUNCT	.
Nikad	ADV	nikad
im	PRON	ona
nisam	AUX	jesam
ništa	PRON	ništa
zamerao	VERB	zamerati
,	PUNCT	,
stvarno	ADV	stvarno
.	PUNCT	.
[	PUNCT	[
Jesu	PROPN	Jesu
li	PART	li
barem	PART	barem
bili	AUX	biti
srećni	ADJ	srećan
u	ADP	u
tim	DET	taj
brakovima	NOUN	brak
?	PUNCT	?
]	PUNCT	]
Jesu	PROPN	Jesu
,	PUNCT	,
jesu	AUX	jesam
.	PUNCT	.
Pa	CCONJ	pa
eto	PART	eto
,	PUNCT	,
svi	DET	sav
su	AUX	jesam
ljudi	NOUN	ljudi
postali	VERB	postati
.	PUNCT	.
Svi	DET	sav
,	PUNCT	,
što	SCONJ	što
kaže	VERB	kazati
,	PUNCT	,
sazidali	VERB	sazidati
kuće	NOUN	kuća
,	PUNCT	,
okućili	VERB	okućiti
se	PART	se
,	PUNCT	,
decu	NOUN	deca
skupili	VERB	skupiti
.	PUNCT	.
Ja	PRON	ja
imam	VERB	imati
i	CCONJ	i
sada	ADV	sada
unuke	NOUN	unuka
koji	DET	koji
trče	VERB	trčati
kao	ADV	kao
suludi	ADJ	sulud
za	ADP	za
mnom	PRON	ja
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
,	PUNCT	,
šta	PRON	šta
znam	VERB	znati
,	PUNCT	,
bio	AUX	biti
takav	DET	takav
uvek	ADV	uvek
.	PUNCT	.
Voleo	VERB	voleti
sam	AUX	jesam
decu	NOUN	deca
i	CCONJ	i
oni	PRON	oni
su	AUX	jesam
mene	PRON	ja
svi	DET	sav
voleli	VERB	voleti
.	PUNCT	.
I	CCONJ	i
dan	NOUN	dan
danas	ADV	danas
.	PUNCT	.
A	X	A
sad	ADV	sad
,	PUNCT	,
procurelo	ADJ	procureo
nam	PRON	mi
je	AUX	jesam
vreme	NOUN	vreme
,	PUNCT	,
isteklo	VERB	isteći
je	AUX	jesam
,	PUNCT	,
gotovo	ADV	gotovo
.	PUNCT	.
Ne	PART	ne
mogu	VERB	moći
ti	PRON	ti
objasniti	VERB	objasniti
,	PUNCT	,
čudo	NOUN	čudo
jedno	NUM	jedan
koliko	ADV	koliko
je	AUX	jesam
to	DET	taj
vreme	NOUN	vreme
neumitno	ADV	neumitno
.	PUNCT	.
Sve	DET	sav
gazi	VERB	gaziti
i	CCONJ	i
tera	VERB	terati
po	ADP	po
svom	DET	sav
.	PUNCT	.
Ne	PART	ne
možeš	VERB	moći
ti	PRON	ti
,	PUNCT	,
što	SCONJ	što
kaže	VERB	kazati
,	PUNCT	,
da	SCONJ	da
podmetneš	VERB	podmetnuti
nogu	NOUN	noga
da	SCONJ	da
zaustaviš	VERB	zaustaviti
,	PUNCT	,
ništa	PRON	ništa
nema	VERB	nemati
zaustavljanja	NOUN	zaustavljanje
,	PUNCT	,
sve	DET	sav
se	PART	se
kotrlja	VERB	kotrljati
.	PUNCT	.
I	CCONJ	i
puno	ADV	puno
sam	AUX	jesam
izgubio	VERB	izgubiti
,	PUNCT	,
izgubio	VERB	izgubiti
sam	AUX	jesam
društva	NOUN	društvo
.	PUNCT	.
E	CCONJ	e
sad	ADV	sad
počinje	VERB	počinjati
raslojavanje	NOUN	raslojavanje
.	PUNCT	.
Mi	PRON	ja
smo	AUX	jesam
bili	AUX	biti
generacija	NOUN	generacija
tehničara	NOUN	tehničar
tada	ADV	tada
,	PUNCT	,
koja	DET	koji
je	AUX	jesam
ovako	ADV	ovako
baš	PART	baš
vodila	VERB	voditi
to	DET	taj
celo	ADJ	ceo
naše	DET	naš
građevinarstvo	NOUN	građevinarstvo
.	PUNCT	.
Nismo	AUX	jesam
bili	AUX	biti
loši	ADJ	loš
.	PUNCT	.
U	ADP	u
svim	DET	sav
tim	DET	taj
većim	ADJ	velik
kolektivima	NOUN	kolektiv
,	PUNCT	,
rad	NOUN	rad
,	PUNCT	,
ne	PART	ne
znam	VERB	znati
,	PUNCT	,
službenika	NOUN	službenik
ove	DET	ovaj
velike	ADJ	velik
firme	NOUN	firma
.	PUNCT	.
Svugde	ADV	svugde
su	AUX	jesam
bile	AUX	biti
kolege	NOUN	kolega
.	PUNCT	.
I	CCONJ	i
to	DET	taj
sve	ADV	sve
na	ADP	na
dobrim	ADJ	dobar
mestima	NOUN	mesto
.	PUNCT	.
Ali	CCONJ	ali
ide	VERB	ići
to	DET	taj
.	PUNCT	.
Znaš	ADV	Znaš
kako	SCONJ	kako
to	DET	taj
,	PUNCT	,
ta	DET	taj
vremenska	ADJ	vremenski
mašina	NOUN	mašina
je	AUX	jesam
neumitna	ADJ	neumitan
,	PUNCT	,
samo	PART	samo
gazi	VERB	gaziti
,	PUNCT	,
melje	VERB	mleti
,	PUNCT	,
melje	VERB	mleti
,	PUNCT	,
melje	VERB	mleti
.	PUNCT	.
Ne	PART	ne
možeš	VERB	moći
od	ADP	od
toga	DET	taj
da	SCONJ	da
pobegneš	VERB	pobeći
.	PUNCT	.
Ne	PART	ne
možeš	VERB	moći
.	PUNCT	.
[	PUNCT	[
Koju	PROPN	Koja
ste	AUX	jesam
muziku	NOUN	muzika
slušali	VERB	slušati
u	ADP	u
mladosti	NOUN	mladost
?	PUNCT	?
Da	SCONJ	da
li	PART	li
se	PART	se
razlikuje	VERB	razlikovati
od	ADP	od
muzike	NOUN	muzika
koju	DET	koji
slušate	VERB	slušati
sada	ADV	sada
?	PUNCT	?
]	PUNCT	]
Što	PROPN	Što
se	PART	se
tiče	VERB	ticati
muzike	NOUN	muzika
,	PUNCT	,
kad	SCONJ	kad
se	PART	se
to	DET	taj
delilo	VERB	deliti
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
bio	AUX	biti
u	ADP	u
podrumu	NOUN	podrum
.	PUNCT	.
Nikad	ADV	nikad
nisam	AUX	jesam
bio	AUX	biti
na	ADP	na
visini	NOUN	visina
.	PUNCT	.
Nikad	ADV	nikad
nisam	AUX	jesam
mogao	VERB	moći
da	SCONJ	da
pratim	VERB	pratiti
,	PUNCT	,
ni	CCONJ	ni
da	SCONJ	da
znam	VERB	znati
šta	PRON	šta
je	AUX	jesam
ovo	DET	ovaj
.	PUNCT	.
Ali	CCONJ	ali
ono	PRON	ono
sam	AUX	jesam
,	PUNCT	,
što	SCONJ	što
se	PART	se
meni	PRON	ja
sviđalo	VERB	sviđati
,	PUNCT	,
to	DET	taj
je	AUX	jesam
meni	PRON	ja
bilo	AUX	biti
lepo	ADV	lepo
i	CCONJ	i
to	DET	taj
sam	AUX	jesam
voleo	VERB	voleti
.	PUNCT	.
To	DET	taj
sam	AUX	jesam
voleo	VERB	voleti
.	PUNCT	.
Nekako	ADV	nekako
,	PUNCT	,
više	ADV	više
sam	AUX	jesam
voleo	VERB	voleti
tu	DET	taj
narodnu	ADJ	narodni
muziku	NOUN	muzika
,	PUNCT	,
domaću	ADJ	domaći
.	PUNCT	.
Ona	PRON	ona
mi	PRON	ja
je	AUX	jesam
bila	AUX	biti
da	SCONJ	da
me	PRON	ja
razgali	VERB	razgaliti
.	PUNCT	.
A	X	A
,	PUNCT	,
klasičnu	ADJ	klasičan
muziku	NOUN	muzika
,	PUNCT	,
ajde	INTJ	ajde
,	PUNCT	,
mogao	VERB	moći
sam	AUX	jesam
.	PUNCT	.
Nije	AUX	jesam
da	SCONJ	da
nisam	AUX	jesam
slušao	VERB	slušati
,	PUNCT	,
ali	CCONJ	ali
nisam	AUX	jesam
bio	AUX	biti
zaluđen	ADJ	zaluđen
,	PUNCT	,
nisam	AUX	jesam
bio	AUX	biti
zaluđen	ADJ	zaluđen
.	PUNCT	.
[	PUNCT	[
Da	ADV	Da
li	PART	li
ste	AUX	jesam
levoruki	ADJ	levoruk
?	PUNCT	?
]	PUNCT	]
Nisam	PROPN	Nisam
.	PUNCT	.
[	PUNCT	[
Desnoruki	ADJ	desnoruk
?	PUNCT	?
]	PUNCT	]
Ah	ADV	Ah
,	PUNCT	,
da	SCONJ	da
ti	PRON	ti
kažem	VERB	kazati
nešto	ADV	nešto
,	PUNCT	,
kad	SCONJ	kad
igramo	VERB	igrati
karte	NOUN	karta
,	PUNCT	,
najbolje	ADV	najbolje
delim	VERB	deliti
levom	ADJ	levi
rukom	NOUN	ruka
!	PUNCT	!
I	CCONJ	i
svi	DET	sav
su	AUX	jesam
me	PRON	ja
oni	PRON	oni
gledali	VERB	gledati
k	ADP	k
’	PUNCT	’
o	ADP	o
levaka	NOUN	levak
.	PUNCT	.
Nekako	ADV	nekako
,	PUNCT	,
najlakše	ADV	najlakše
mi	PRON	ja
je	AUX	jesam
bilo	AUX	biti
levom	ADJ	levi
rukom	NOUN	ruka
da	SCONJ	da
delim	VERB	deliti
karte	NOUN	karta
.	PUNCT	.
Ali	CCONJ	ali
nisam	AUX	jesam
,	PUNCT	,
desnom	ADJ	desni
sam	AUX	jesam
se	PART	se
rukom	NOUN	ruka
služio	VERB	služiti
.	PUNCT	.
Desnom	ADJ	desni
,	PUNCT	,
nije	AUX	jesam
mi	PRON	ja
leva	ADJ	levi
ruka	NOUN	ruka
bila	AUX	biti
jača	ADJ	jak
strana	NOUN	strana
.	PUNCT	.
[	PUNCT	[
Volite	PROPN	Volite
li	PART	li
da	SCONJ	da
čitate	VERB	čitati
knjige	NOUN	knjiga
?	PUNCT	?
]	PUNCT	]
Knjige	PROPN	Knjige
sam	AUX	jesam
pročitao	VERB	pročitati
samo	PART	samo
ono	PRON	ono
u	ADP	u
mladosti	NOUN	mladost
.	PUNCT	.
Počev	ADJ	Počev
od	ADP	od
svih	DET	sav
onih	DET	onaj
naših	DET	naš
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
romana	NOUN	roman
.	PUNCT	.
„	PUNCT	„
Hajduk	PROPN	Hajduk
Stanka	PROPN	Stanka
“	PUNCT	“
sam	AUX	jesam
voleo	VERB	voleti
da	SCONJ	da
čitam	VERB	čitati
isto	ADV	isto
onda	ADV	onda
.	PUNCT	.
Sad	ADV	sad
ne	PART	ne
mogu	VERB	moći
.	PUNCT	.
Ova	DET	ovaj
deca	NOUN	deca
uopšte	ADV	uopšte
ne	PART	ne
znaju	VERB	znati
ko	SCONJ	ko
je	AUX	jesam
Hajduk	PROPN	Hajduk
Stanko	PROPN	Stanko
,	PUNCT	,
nemaju	VERB	nemati
pojma	NOUN	pojam
.	PUNCT	.
Jer	SCONJ	jer
je	AUX	jesam
drugi	ADJ	drugi
sistem	NOUN	sistem
i	CCONJ	i
obrazovanja	NOUN	obrazovanje
.	PUNCT	.
Valjda	PART	valjda
se	PART	se
to	DET	taj
tako	ADV	tako
malo	ADV	malo
modificiralo	VERB	modificirati
i	CCONJ	i
malo	ADV	malo
se	PART	se
osavremenilo	VERB	osavremeniti
,	PUNCT	,
pa	CCONJ	pa
su	AUX	jesam
prešli	VERB	preći
na	ADP	na
kulturnu	ADJ	kulturan
revoluciju	NOUN	revolucija
.	PUNCT	.
Za	ADP	za
mene	PRON	ja
su	AUX	jesam
naše	DET	naš
priče	NOUN	priča
,	PUNCT	,
„	PUNCT	„
Hajduk	PROPN	Hajduk
Stanko	PROPN	Stanko
“	PUNCT	“
i	CCONJ	i
ovo	DET	ovaj
,	PUNCT	,
to	DET	taj
je	AUX	jesam
bilo	AUX	biti
Kad	ADV	kad
sam	AUX	jesam
bio	AUX	biti
mali	ADJ	mali
,	PUNCT	,
voleo	VERB	voleti
sam	AUX	jesam
.	PUNCT	.
Posle	ADP	posle
društvo	NOUN	društvo
i	CCONJ	i
n	NOUN	n
-	PUNCT	-
narod	NOUN	narod
naš	DET	naš
,	PUNCT	,
da	SCONJ	da
kažem	VERB	kazati
moje	DET	moj
društvo	NOUN	društvo
,	PUNCT	,
iz	ADP	iz
moje	DET	moj
sredine	NOUN	sredina
-	PUNCT	-
počelo	VERB	početi
je	AUX	jesam
,	PUNCT	,
znaš	VERB	znati
,	PUNCT	,
krenuli	VERB	krenuti
su	AUX	jesam
malo	ADV	malo
s	ADP	s
Englezima	PROPN	Englez
.	PUNCT	.
Na	ADP	na
London	PROPN	London
,	PUNCT	,
na	ADP	na
tu	DET	taj
školu	NOUN	škola
.	PUNCT	.
I	CCONJ	i
onda	ADV	onda
su	AUX	jesam
tu	ADV	tu
počeli	VERB	početi
da	SCONJ	da
se	PART	se
osipaju	VERB	osipati
.	PUNCT	.
Eh	INTJ	eh
,	PUNCT	,
vremena	NOUN	vreme
su	AUX	jesam
to	DET	taj
.	PUNCT	.
A	X	A
vreme	NOUN	vreme
gazi	VERB	gaziti
sve	ADV	sve
.	PUNCT	.
[	PUNCT	[
Na	VERB	Na
tim	DET	taj
silnim	ADJ	silan
putovanjima	NOUN	putovanje
,	PUNCT	,
jeste	AUX	jesam
li	PART	li
pokupili	VERB	pokupiti
koji	DET	koji
strani	ADJ	stran
jezik	NOUN	jezik
možda	PART	možda
?	PUNCT	?
]	PUNCT	]
Samo	PROPN	Samo
ono	DET	onaj
najnužnije	ADJ	nužan
.	PUNCT	.
Glup	ADJ	glup
uvek	ADV	uvek
ostane	VERB	ostati
glup	ADJ	glup
.	PUNCT	.
Nikad	ADV	nikad
nisam	AUX	jesam
mogao	VERB	moći
da	SCONJ	da
naučim	VERB	naučiti
bilo	AUX	biti
koji	DET	koji
jezik	NOUN	jezik
.	PUNCT	.
Da	SCONJ	da
bi	AUX	biti
,	PUNCT	,
znate	VERB	znati
,	PUNCT	,
da	SCONJ	da
bi	AUX	biti
jezik	NOUN	jezik
naučili	VERB	naučiti
,	PUNCT	,
morate	VERB	morati
da	SCONJ	da
imate	VERB	imati
dobar	ADJ	dobar
sluh	NOUN	sluh
,	PUNCT	,
ipak	PART	ipak
,	PUNCT	,
ja	PRON	ja
mislim	VERB	misliti
.	PUNCT	.
A	X	A
ja	PRON	ja
nikad	ADV	nikad
nisam	AUX	jesam
imao	VERB	imati
taj	DET	taj
-	PUNCT	-
taj	DET	taj
osećaj	NOUN	osećaj
za	ADP	za
sluh	NOUN	sluh
.	PUNCT	.
Preko	ADP	preko
ušiju	NOUN	uš
možete	VERB	moći
da	SCONJ	da
naučite	VERB	naučiti
više	ADV	više
jezika	NOUN	jezik
nego	CCONJ	nego
ustima	NOUN	usta
.	PUNCT	.
Ih	PRON	ona
,	PUNCT	,
koliko	ADV	koliko
sam	AUX	jesam
ja	PRON	ja
knjiga	NOUN	knjiga
kupio	VERB	kupiti
!	PUNCT	!
Pošao	VERB	Pošao
sam	AUX	jesam
na	ADP	na
jedan	NUM	jedan
odmor	NOUN	odmor
,	PUNCT	,
poneo	VERB	poneti
takve	DET	takav
knjige	NOUN	knjiga
,	PUNCT	,
neki	DET	neki
kofer	NOUN	kofer
samo	PART	samo
što	ADV	što
-	PUNCT	-
što	SCONJ	što
se	PART	se
nije	AUX	jesam
raspao	VERB	raspasti
.	PUNCT	.
A	X	A
šta	PRON	šta
su	AUX	jesam
to	DET	taj
bili	AUX	biti
,	PUNCT	,
oni	PRON	oni
što	SCONJ	što
su	AUX	jesam
se	PART	se
raspadali	VERB	raspadati
,	PUNCT	,
od	ADP	od
kartona	NOUN	karton
koferi	NOUN	kofer
.	PUNCT	.
A	X	A
knjige	NOUN	knjiga
sve	DET	sav
teške	ADJ	težak
,	PUNCT	,
debele	ADJ	debeo
,	PUNCT	,
velike	ADJ	velik
.	PUNCT	.
A	X	A
mislio	VERB	misliti
si	AUX	jesam
,	PUNCT	,
ako	SCONJ	ako
poneseš	VERB	poneti
puno	ADJ	pun
knjiga	NOUN	knjiga
,	PUNCT	,
puno	ADV	puno
ćeš	AUX	hteti
više	ADV	više
da	SCONJ	da
znaš	VERB	znati
.	PUNCT	.
Nema	VERB	nemati
toga	DET	taj
.	PUNCT	.
To	DET	taj
je	AUX	jesam
sve	DET	sav
zavaravanje	NOUN	zavaravanje
.	PUNCT	.
Nikad	ADV	nikad
posle	ADV	posle
nisam	AUX	jesam
seo	VERB	sesti
da	SCONJ	da
u	ADP	u
’	PUNCT	’
vatim	VERB	vatim
.	PUNCT	.
Nisam	AUX	jesam
bio	AUX	biti
neki	DET	neki
,	PUNCT	,
niti	CCONJ	niti
mogu	VERB	moći
da	SCONJ	da
se	PART	se
pohvalim	VERB	pohvaliti
u	ADP	u
školi	NOUN	škola
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
se	PART	se
,	PUNCT	,
ajde	INTJ	ajde
,	PUNCT	,
dobar	ADJ	dobar
đak	NOUN	đak
,	PUNCT	,
ali	CCONJ	ali
nikad	ADV	nikad
nisam	AUX	jesam
briljirao	VERB	briljirati
nigde	ADV	nigde
.	PUNCT	.
Nigde	ADV	nigde
nisam	AUX	jesam
bio	AUX	biti
prvi	ADJ	prvi
,	PUNCT	,
a	ADV	a
nisam	AUX	jesam
ni	PART	ni
poslednji	ADJ	poslednji
.	PUNCT	.
Nisam	AUX	jesam
.	PUNCT	.
Recimo	VERB	reći
,	PUNCT	,
sve	DET	sav
te	DET	taj
jezike	NOUN	jezik
,	PUNCT	,
nikad	ADV	nikad
nisam	AUX	jesam
seo	VERB	sesti
da	SCONJ	da
sednem	VERB	sesti
temeljno	ADJ	temeljan
da	SCONJ	da
učim	VERB	učiti
ništa	ADV	ništa
.	PUNCT	.
Sve	DET	sav
je	AUX	jesam
to	DET	taj
bilo	AUX	biti
onako	ADV	onako
pogrešno	ADV	pogrešno
i	CCONJ	i
na	ADP	na
sluh	NOUN	sluh
.	PUNCT	.
Ništa	ADV	Ništa
bolje	ADV	bolje
neću	AUX	hteti
da	SCONJ	da
govorim	VERB	govoriti
nego	CCONJ	nego
onaj	DET	onaj
crnjak	NOUN	crnjak
,	PUNCT	,
kad	SCONJ	kad
sednemo	VERB	sesti
ovamo	ADV	ovamo
da	SCONJ	da
pričamo	VERB	pričati
,	PUNCT	,
isto	ADV	isto
tako	ADV	tako
.	PUNCT	.
A	X	A
nisam	AUX	jesam
se	PART	se
nisam	AUX	jesam
se	PART	se
,	PUNCT	,
nikad	ADV	nikad
libio	VERB	libiti
da	SCONJ	da
ne	PART	ne
priznam	VERB	priznati
.	PUNCT	.
Nisam	AUX	jesam
nadaren	VERB	nadariti
za	ADP	za
jezik	NOUN	jezik
.	PUNCT	.
Da	SCONJ	da
bi	AUX	biti
naučili	VERB	naučiti
neki	DET	neki
jezik	NOUN	jezik
,	PUNCT	,
morate	VERB	morati
da	SCONJ	da
imate	VERB	imati
dobar	ADJ	dobar
sluh	NOUN	sluh
.	PUNCT	.
Jer	SCONJ	jer
samo	PART	samo
preko	ADP	preko
sluha	NOUN	sluh
,	PUNCT	,
možete	VERB	moći
da	SCONJ	da
osetite	VERB	osetiti
jezik	NOUN	jezik
i	CCONJ	i
sve	DET	sav
te	DET	taj
finese	NOUN	finesa
.	PUNCT	.
Inače	VERB	Inače
je	AUX	jesam
k	ADP	k
’	PUNCT	’
o	ADP	o
ja	PRON	ja
.	PUNCT	.
[	PUNCT	[
Ni	ADV	Ni
za	ADP	za
muziku	NOUN	muzika
,	PUNCT	,
ni	PART	ni
za	ADP	za
jezike	NOUN	jezik
?	PUNCT	?
]	PUNCT	]
Koliko	ADJ	Koliko
puta	NOUN	put
žena	NOUN	žena
htela	AUX	hteti
da	SCONJ	da
se	PART	se
razvede	VERB	razvesti
.	PUNCT	.
Svi	DET	sav
idu	VERB	ići
na	ADP	na
igranke	NOUN	igranka
,	PUNCT	,
za	ADP	za
mene	PRON	ja
tabu	NOUN	tabu
tema	NOUN	tema
igranka	NOUN	igranka
.	PUNCT	.
I	CCONJ	i
svi	DET	sav
drugovi	NOUN	drug
.	PUNCT	.
Svi	DET	sav
su	AUX	jesam
igrali	VERB	igrati
,	PUNCT	,
svi	DET	sav
.	PUNCT	.
„	PUNCT	„
Ajde	PROPN	Ajda
kreni	VERB	krenuti
,	PUNCT	,
nije	AUX	jesam
važno	ADV	važno
što	SCONJ	što
gaziš	VERB	gaziti
,	PUNCT	,
samo	PART	samo
udri	VERB	udriti
.	PUNCT	.
“	PUNCT	“
Tako	PROPN	Tako
to	DET	taj
,	PUNCT	,
život	NOUN	život
čini	VERB	činiti
dar	NOUN	dar
-	PUNCT	-
mar	NOUN	mar
ljudima	NOUN	ljudi
.	PUNCT	.
A	X	A
to	DET	taj
posle	ADP	posle
rata	NOUN	rat
.	PUNCT	.
Za	ADP	za
mene	PRON	ja
je	AUX	jesam
sve	DET	sav
bio	AUX	biti
rat	NOUN	rat
.	PUNCT	.
Posle	ADP	posle
rata	NOUN	rat
,	PUNCT	,
mi	PRON	ja
smo	AUX	jesam
bili	AUX	biti
ta	DET	taj
ratna	ADJ	ratni
deca	NOUN	deca
.	PUNCT	.
Ratom	NOUN	rat
ometeni	VERB	omesti
,	PUNCT	,
što	SCONJ	što
kažu	VERB	kazati
.	PUNCT	.
Lepo	ADV	lepo
,	PUNCT	,
imali	VERB	imati
smo	AUX	jesam
lep	ADJ	lep
život	NOUN	život
,	PUNCT	,
i	CCONJ	i
lepu	ADJ	lep
mladost	NOUN	mladost
i	CCONJ	i
lepo	ADJ	lep
društvo	NOUN	društvo
,	PUNCT	,
lepu	ADJ	lep
sredinu	NOUN	sredina
.	PUNCT	.
Nikad	ADV	nikad
nismo	AUX	jesam
bili	AUX	biti
bre	INTJ	bre
,	PUNCT	,
šta	PRON	šta
znam	VERB	znati
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
sad	ADV	sad
,	PUNCT	,
ja	PRON	ja
-	PUNCT	-
ja	PRON	ja
ne	PART	ne
smem	VERB	smeti
ni	PART	ni
da	SCONJ	da
uđem	VERB	ući
na	ADP	na
ono	DET	onaj
stepenište	NOUN	stepenište
tehničkog	ADJ	tehnički
fakulteta	NOUN	fakultet
.	PUNCT	.
Sve	DET	sav
su	AUX	jesam
to	DET	taj
nepoznata	ADJ	nepoznat
neka	DET	neki
deca	NOUN	deca
,	PUNCT	,
sve	DET	sav
su	AUX	jesam
to	DET	taj
neki	DET	neki
drugi	ADJ	drugi
ljudi	NOUN	ljudi
.	PUNCT	.
A	X	A
mi	PRON	ja
smo	AUX	jesam
drugačije	ADV	drugačije
živeli	VERB	živeti
sa	ADP	sa
tim	DET	taj
.	PUNCT	.
Mada	SCONJ	mada
smo	AUX	jesam
mi	PRON	ja
bili	AUX	biti
malo	ADV	malo
i	CCONJ	i
opeterećeni	VERB	opeterećeni
,	PUNCT	,
jer	SCONJ	jer
su	AUX	jesam
nas	PRON	mi
,	PUNCT	,
ajde	INTJ	ajde
,	PUNCT	,
ti	DET	taj
gimnazijalci	NOUN	gimnazijalac
,	PUNCT	,
što	SCONJ	što
kaže	VERB	kazati
,	PUNCT	,
’	PUNCT	’
edukovani	VERB	edukovati
’	PUNCT	’
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Oni	PRON	oni
su	AUX	jesam
se	PART	se
uvek	ADV	uvek
gurali	VERB	gurati
malo	ADV	malo
napred	ADV	napred
u	ADP	u
odnosu	NOUN	odnos
na	ADP	na
nas	PRON	mi
.	PUNCT	.
A	X	A
mi	PRON	ja
smo	AUX	jesam
bili	AUX	biti
ona	PRON	ona
prva	ADJ	prvi
,	PUNCT	,
prva	ADJ	prvi
brigada	NOUN	brigada
koja	DET	koji
je	AUX	jesam
išla	VERB	ići
u	ADP	u
borbu	NOUN	borba
za	ADP	za
osvajanje	NOUN	osvajanje
znanja	NOUN	znanje
i	CCONJ	i
struke	NOUN	struka
,	PUNCT	,
to	DET	taj
smo	AUX	jesam
bili	AUX	biti
mi	PRON	ja
.	PUNCT	.
Tako	ADV	tako
da	SCONJ	da
nismo	AUX	jesam
mnogo	ADV	mnogo
podavali	VERB	podavati
,	PUNCT	,
predavali	VERB	predavati
,	PUNCT	,
nismo	AUX	jesam
se	PART	se
mnogo	ADV	mnogo
ni	PART	ni
dičili	VERB	dičiti
ni	PART	ni
hvalili	VERB	hvaliti
.	PUNCT	.
To	DET	taj
što	PRON	što
znamo	VERB	znati
,	PUNCT	,
znamo	VERB	znati
.	PUNCT	.
Ali	CCONJ	ali
smo	AUX	jesam
bili	AUX	biti
ta	DET	taj
generacija	NOUN	generacija
koja	DET	koji
nije	AUX	jesam
bila	AUX	biti
loša	ADJ	loš
.	PUNCT	.
Nije	AUX	jesam
bila	AUX	biti
loša	ADJ	loš
.	PUNCT	.
Sa	ADP	sa
srednjom	ADJ	srednji
školom	NOUN	škola
smo	AUX	jesam
završili	VERB	završiti
svi	DET	sav
,	PUNCT	,
je	AUX	jesam
l	X	l
’	PUNCT	’
,	PUNCT	,
onda	ADV	onda
smo	AUX	jesam
to	DET	taj
proširivali	VERB	proširivati
smo	AUX	jesam
-	PUNCT	-
ja	PRON	ja
,	PUNCT	,
ti	PRON	ti
pokažem	VERB	pokazati
diplome	NOUN	diploma
.	PUNCT	.
Imam	VERB	imati
položen	ADJ	položen
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
onaj	DET	onaj
deo	NOUN	deo
.	PUNCT	.
Stalno	ADV	stalno
smo	AUX	jesam
nešto	ADV	nešto
.	PUNCT	.
I	CCONJ	i
mi	PRON	ja
smo	AUX	jesam
želeli	VERB	želeti
da	SCONJ	da
postignemo	VERB	postignuti
što	SCONJ	što
više	ADV	više
.	PUNCT	.
Al	CCONJ	al
’	PUNCT	’
nije	AUX	jesam
se	PART	se
moglo	VERB	moći
.	PUNCT	.
Žena	PROPN	Žena
,	PUNCT	,
dvoje	NUM	dvoje
dece	NOUN	deca
,	PUNCT	,
problemi	NOUN	problem
tu	ADV	tu
.	PUNCT	.
Onda	ADV	onda
,	PUNCT	,
mora	VERB	morati
da	SCONJ	da
ideš	VERB	ići
i	CCONJ	i
na	ADP	na
teren	NOUN	teren
.	PUNCT	.
Putovalo	VERB	putovati
se	PART	se
.	PUNCT	.
Kol	PROPN	Kol
’	PUNCT	’
ko	PRON	ko
puta	ADV	puta
sam	AUX	jesam
više	ADV	više
proveo	VERB	provesti
praznika	NOUN	praznik
negde	ADV	negde
po	ADP	po
terenu	NOUN	teren
,	PUNCT	,
nisam	AUX	jesam
sa	ADP	sa
familijom	NOUN	familija
.	PUNCT	.
E	CCONJ	e
posle	ADV	posle
kad	SCONJ	kad
su	AUX	jesam
došle	VERB	doći
godine	NOUN	godina
,	PUNCT	,
tad	ADV	tad
više	ADV	više
nisi	AUX	jesam
ni	PART	ni
za	ADP	za
šta	PRON	šta
!	PUNCT	!
Onda	ADV	onda
te	PRON	ti
više	ADV	više
niko	PRON	niki
ni	PART	ni
neće	AUX	hteti
,	PUNCT	,
više	ADV	više
nisi	AUX	jesam
interesantan	ADJ	interesantan
.	PUNCT	.
Pazite	VERB	paziti
,	PUNCT	,
tu	ADV	tu
su	AUX	jesam
svi	DET	sav
mlađe	ADJ	mlad
generaciji	NOUN	generacija
i	CCONJ	i
ovi	DET	ovaj
edukovani	VERB	edukovati
,	PUNCT	,
svi	DET	sav
su	AUX	jesam
završili	VERB	završiti
po	ADP	po
dva	NUM	dva
-	PUNCT	-
tri	NUM	tri
jezika	NOUN	jezik
.	PUNCT	.
Mi	PRON	ja
smo	AUX	jesam
ono	PRON	ono
sve	ADV	sve
nabadali	VERB	nabadati
,	PUNCT	,
jadni	ADJ	jadan
.	PUNCT	.
Ali	CCONJ	ali
smo	AUX	jesam
,	PUNCT	,
ta	DET	taj
generacija	NOUN	generacija
je	AUX	jesam
nosila	VERB	nositi
celo	ADJ	ceo
građevinarstvo	NOUN	građevinarstvo
tada	ADV	tada
u	ADP	u
to	DET	taj
vreme	NOUN	vreme
.	PUNCT	.
Verujte	VERB	verovati
.	PUNCT	.
Iako	SCONJ	iako
nismo	AUX	jesam
mnogo	ADV	mnogo
ni	PART	ni
predškolskog	ADJ	predškolski
znanja	NOUN	znanje
takvog	DET	takav
imali	VERB	imati
.	PUNCT	.
[	PUNCT	[
Da	VERB	dati
li	PART	li
se	PART	se
u	ADP	u
domu	NOUN	dom
organizuju	VERB	organizovati
neka	DET	neki
druženja	NOUN	druženje
?	PUNCT	?
Da	SCONJ	da
li	PART	li
volite	VERB	voliti
takva	DET	takav
organizovana	ADJ	organizovan
druženja	NOUN	druženje
?	PUNCT	?
]	PUNCT	]
Pa	X	Pa
nema	VERB	nemati
ovde	ADV	ovde
.	PUNCT	.
U	ADP	u
domu	NOUN	dom
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
u	ADP	u
tom	DET	taj
staračkom	ADJ	starački
domu	NOUN	dom
.	PUNCT	.
Šalim	PUNCT	Šalim
se	PART	se
,	PUNCT	,
ovaj	DET	ovaj
,	PUNCT	,
nema	VERB	nemati
,	PUNCT	,
nema	VERB	nemati
toga	DET	taj
.	PUNCT	.
Nije	AUX	jesam
to	DET	taj
,	PUNCT	,
ono	DET	onaj
pravo	NOUN	prava
.	PUNCT	.
Znate	VERB	znati
,	PUNCT	,
ako	SCONJ	ako
to	DET	taj
samo	PART	samo
ne	PART	ne
izbije	VERB	izbiti
,	PUNCT	,
ako	SCONJ	ako
vi	PRON	vi
to	DET	taj
na	ADP	na
silu	NOUN	sila
hoćete	AUX	hteti
nešto	ADV	nešto
da	SCONJ	da
zavedete	VERB	zavesti
,	PUNCT	,
ne	PART	ne
biva	VERB	bivati
od	ADP	od
toga	DET	taj
ništa	PRON	ništa
.	PUNCT	.
[	PUNCT	[
Možda	PROPN	Možda
nije	AUX	jesam
na	ADP	na
silu	NOUN	sila
.	PUNCT	.
Možda	ADV	Možda
pre	ADV	pre
kao	CCONJ	kao
neko	DET	neki
dešavanje	NOUN	dešavanje
.	PUNCT	.
]	PUNCT	]
Pa	X	Pa
dešavanja	NOUN	dešavanje
uvek	ADV	uvek
ima	VERB	imati
.	PUNCT	.
Uvek	ADV	uvek
su	AUX	jesam
to	DET	taj
najlepša	ADJ	lep
iznenađenja	NOUN	iznenađenje
,	PUNCT	,
koja	DET	koji
samo	PART	samo
puknu	VERB	puknuti
.	PUNCT	.
Znate	VERB	znati
,	PUNCT	,
ništa	PRON	ništa
nije	AUX	jesam
nametnuto	VERB	nametnuti
.	PUNCT	.
Ali	CCONJ	ali
svi	DET	sav
ljudi	NOUN	ljudi
osećaju	VERB	osećati
da	SCONJ	da
tu	ADV	tu
ima	VERB	imati
nekog	DET	neki
šlifa	NOUN	šlif
koji	DET	koji
svakom	DET	svaki
po	ADP	po
nešto	PRON	nešto
odgovara	VERB	odgovarati
.	PUNCT	.
[	PUNCT	[
Sa	ADV	Sa
kakvim	DET	kakav
ste	AUX	jesam
ljudima	NOUN	ljudi
voleli	VERB	voleti
da	SCONJ	da
se	PART	se
družite	VERB	družiti
?	PUNCT	?
Kakvim	DET	kakav
sada	ADV	sada
?	PUNCT	?
]	PUNCT	]
Pa	X	Pa
ne	PART	ne
možeš	VERB	moći
da	SCONJ	da
biraš	VERB	birati
sredinu	NOUN	sredina
.	PUNCT	.
Recimo	VERB	reći
za	ADP	za
mene	PRON	ja
je	AUX	jesam
bio	AUX	biti
fijasko	NOUN	fijasko
kada	SCONJ	kada
sam	AUX	jesam
ja	PRON	ja
otišao	VERB	otići
na	ADP	na
odmo	VERB	odmo
,	PUNCT	,
negde	ADV	negde
u	ADP	u
selo	NOUN	selo
,	PUNCT	,
gde	SCONJ	gde
li	PART	li
.	PUNCT	.
Tamo	ADV	tamo
sam	AUX	jesam
otišao	VERB	otići
.	PUNCT	.
I	CCONJ	i
moje	DET	moj
sestre	NOUN	sestra
u	ADP	u
’	PUNCT	’
vate	NOUN	vat
i	CCONJ	i
upišu	VERB	upisati
me	PRON	ja
u	ADP	u
srednju	ADJ	srednji
tehničku	ADJ	tehnički
školu	NOUN	škola
.	PUNCT	.
I	CCONJ	i
prvo	ADV	prvo
kad	SCONJ	kad
sam	AUX	jesam
otišao	VERB	otići
tamo	ADV	tamo
,	PUNCT	,
rekoh	VERB	reći
:	PUNCT	:
„	PUNCT	„
Šta	VERB	Šta
je	AUX	jesam
bre	INTJ	bre
ovo	DET	ovaj
,	PUNCT	,
šegrti	NOUN	šegrt
popravljaju	VERB	popravljati
rešoe	NOUN	rešo
?	PUNCT	?
Ma	PART	ma
ne	PART	ne
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
ne	PART	ne
dolazi	VERB	dolaziti
u	ADP	u
obzir	NOUN	obzir
,	PUNCT	,
neću	AUX	hteti
to	DET	taj
.	PUNCT	.
“	PUNCT	“
I	ADV	I
ostanem	VERB	ostati
u	ADP	u
toj	DET	taj
srednoj	ADJ	srednoj
ali	CCONJ	ali
promenim	VERB	promeniti
smer	NOUN	smer
.	PUNCT	.
Odem	VERB	otići
na	ADP	na
građevinarstvo	NOUN	građevinarstvo
,	PUNCT	,
čisto	ADV	čisto
građevinarstvo	NOUN	građevinarstvo
.	PUNCT	.
Ne	PART	ne
ono	DET	onaj
što	SCONJ	što
je	AUX	jesam
bilo	AUX	biti
,	PUNCT	,
ne	PART	ne
znam	VERB	znati
,	PUNCT	,
elektrotehnika	NOUN	elektrotehnika
ili	CCONJ	ili
kako	SCONJ	kako
se	PART	se
zvalo	VERB	zvati
.	PUNCT	.
Tad	ADV	tad
su	AUX	jesam
još	ADV	još
bili	AUX	biti
,	PUNCT	,
ti	PRON	ti
odseci	VERB	odseći
.	PUNCT	.
Ali	CCONJ	ali
nikad	ADV	nikad
nisam	AUX	jesam
bio	AUX	biti
nezadovoljan	ADJ	nezadovoljan
.	PUNCT	.
Ah	INTJ	ah
,	PUNCT	,
te	DET	taj
nagle	ADJ	nagao
promene	NOUN	promena
u	ADP	u
sredinama	NOUN	sredina
.	PUNCT	.
To	DET	taj
su	AUX	jesam
baš	PART	baš
i	CCONJ	i
mlade	ADJ	mlad
godine	NOUN	godina
.	PUNCT	.
Sedamnaest	NUM	sedamnaest
,	PUNCT	,
osamnaest	NUM	osamnaest
godina	NOUN	godina
imaš	VERB	imati
,	PUNCT	,
nisi	AUX	jesam
ti	PRON	ti
zreo	VERB	zreti
čovek	NOUN	čovek
,	PUNCT	,
može	VERB	moći
da	SCONJ	da
priča	VERB	pričati
k	ADP	k
’	PUNCT	’
o	ADP	o
šta	PRON	šta
hoće	AUX	hteti
.	PUNCT	.
Sve	DET	sav
ti	PRON	ti
leti	VERB	letiti
,	PUNCT	,
sve	ADV	sve
lebdi	VERB	lebditi
.	PUNCT	.
A	X	A
nismo	AUX	jesam
ni	PART	ni
mi	PRON	ja
krivi	VERB	kriviti
bili	AUX	biti
tada	ADV	tada
.	PUNCT	.
Takva	DET	takav
su	AUX	jesam
bila	AUX	biti
vremena	NOUN	vreme
.	PUNCT	.
Jurilo	VERB	juriti
se	PART	se
samo	PART	samo
.	PUNCT	.
Roditelji	NOUN	roditelj
,	PUNCT	,
svi	DET	sav
samo	PART	samo
dete	NOUN	dete
da	SCONJ	da
dođe	VERB	doći
do	ADP	do
parčeta	NOUN	parče
hleba	NOUN	hleb
,	PUNCT	,
da	SCONJ	da
zarađuje	VERB	zarađivati
za	ADP	za
sebe	PRON	sebe
i	CCONJ	i
mladi	ADJ	mlad
smo	AUX	jesam
se	PART	se
oženili	VERB	oženiti
.	PUNCT	.
Mladi	ADJ	mlad
,	PUNCT	,
stigla	VERB	stignuti
deca	NOUN	deca
.	PUNCT	.
Ja	PRON	ja
posle	ADV	posle
kažem	VERB	kazati
ženi	NOUN	žena
:	PUNCT	:
„	PUNCT	„
Šta	VERB	Šta
ćeš	AUX	hteti
ti	PRON	ti
da	SCONJ	da
ideš	VERB	ići
da	SCONJ	da
radiš	VERB	raditi
?	PUNCT	?
Sedi	VERB	sediti
ti	PRON	ti
i	CCONJ	i
gledaj	VERB	gledati
to	DET	taj
dvoje	NUM	dvoje
dece	NOUN	deca
,	PUNCT	,
k	ADP	k
’	PUNCT	’
o	INTJ	o
da	SCONJ	da
su	AUX	jesam
ti	DET	taj
oči	NOUN	oči
u	ADP	u
glavi	NOUN	glava
.	PUNCT	.
A	X	A
ja	PRON	ja
ću	AUX	hteti
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
moje	DET	moj
je	AUX	jesam
da	SCONJ	da
idem	VERB	ići
da	SCONJ	da
zarađujem	VERB	zarađivati
.	PUNCT	.
“	PUNCT	“
I	ADV	I
tako	ADV	tako
je	AUX	jesam
bilo	AUX	biti
,	PUNCT	,
celog	ADJ	ceo
života	NOUN	život
.	PUNCT	.
Neko	PRON	neko
kaže	VERB	kazati
,	PUNCT	,
svako	PRON	svako
je	AUX	jesam
svoj	DET	sav
gospodar	NOUN	gospodar
sudbine	NOUN	sudbina
-	PUNCT	-
ne	PART	ne
.	PUNCT	.
Nama	PRON	mi
je	AUX	jesam
to	DET	taj
negde	ADV	negde
odozgo	ADV	odozgo
zapisano	ADJ	zapisan
i	CCONJ	i
to	DET	taj
nam	PRON	mi
se	PART	se
tako	ADV	tako
lepo	ADV	lepo
nametalo	VERB	nametati
.	PUNCT	.
Tačno	ADV	Tačno
gde	ADV	gde
kad	SCONJ	kad
treba	VERB	trebati
,	PUNCT	,
ubode	VERB	ubrati
se	PART	se
i	CCONJ	i
onda	ADV	onda
dolazi	VERB	dolaziti
do	ADP	do
tog	DET	taj
velikog	ADJ	velik
raslojavanja	NOUN	raslojavanje
sredine	NOUN	sredina
društva	NOUN	društvo
.	PUNCT	.
Znači	ADV	Znači
prva	ADJ	prvi
ta	DET	taj
,	PUNCT	,
srednja	ADJ	srednji
škola	NOUN	škola
,	PUNCT	,
pa	CCONJ	pa
prvi	ADJ	prvi
posao	NOUN	posao
.	PUNCT	.
Pa	CCONJ	pa
onda	ADV	onda
izdvajanje	NOUN	izdvajanje
,	PUNCT	,
pa	CCONJ	pa
onda	ADV	onda
levo	ADV	levo
-	PUNCT	-
desno	ADV	desno
,	PUNCT	,
pa	CCONJ	pa
onda	ADV	onda
dolazi	VERB	dolaziti
ženidba	NOUN	ženidba
,	PUNCT	,
pa	CCONJ	pa
deca	NOUN	deca
.	PUNCT	.
Sve	DET	sav
nas	PRON	mi
to	DET	taj
premešta	VERB	premeštati
i	CCONJ	i
nameće	VERB	nametati
sve	DET	sav
neke	DET	neki
druge	ADJ	drugi
obaveze	NOUN	obaveza
.	PUNCT	.
A	X	A
bili	AUX	biti
smo	AUX	jesam
mladi	ADJ	mlad
.	PUNCT	.
Voleli	VERB	voleti
smo	AUX	jesam
se	PART	se
.	PUNCT	.
Eh	INTJ	eh
,	PUNCT	,
vreme	NOUN	vreme
brzo	ADV	brzo
leti	VERB	letiti
.	PUNCT	.
Dok	SCONJ	dok
se	PART	se
ti	PRON	ti
okreneš	VERB	okrenuti
,	PUNCT	,
gotovo	ADV	gotovo
.	PUNCT	.
Krugovi	NOUN	krug
se	PART	se
tako	ADV	tako
zatvaraju	VERB	zatvarati
,	PUNCT	,
tako	ADV	tako
se	PART	se
to	DET	taj
uobličava	VERB	uobličavati
da	SCONJ	da
je	AUX	jesam
to	DET	taj
čudo	NOUN	čudo
jedno	NUM	jedan
,	PUNCT	,
čudo	NOUN	čudo
jedno	NUM	jedan
.	PUNCT	.
Ja	PRON	ja
s	ADP	s
obzirom	NOUN	obzir
da	SCONJ	da
tad	ADV	tad
nisam	AUX	jesam
završio	VERB	završiti
fakultet	NOUN	fakultet
,	PUNCT	,
je	AUX	jesam
l	X	l
’	PUNCT	’
,	PUNCT	,
ja	PRON	ja
upišem	VERB	upisati
vanredno	ADJ	vanredan
i	CCONJ	i
cup	INTJ	cup
-	PUNCT	-
cup	INTJ	cup
-	PUNCT	-
cup	INTJ	cup
,	PUNCT	,
s	ADP	s
onom	DET	onaj
mladom	ADJ	mlad
decom	NOUN	deca
,	PUNCT	,
diplomira	VERB	diplomirati
ja	PRON	ja
građevinu	NOUN	građevina
!	PUNCT	!
I	CCONJ	i
to	DET	taj
sve	ADV	sve
sa	ADP	sa
lepim	ADJ	lep
devojkama	NOUN	devojka
.	PUNCT	.
Ja	PRON	ja
više	ADV	više
ne	PART	ne
mogu	VERB	moći
ni	PART	ni
da	SCONJ	da
se	PART	se
setim	VERB	setiti
ko	PRON	ko
su	AUX	jesam
bile	AUX	biti
te	DET	taj
lepotice	NOUN	lepotica
,	PUNCT	,
u	ADP	u
onoj	DET	onaj
mojoj	DET	moj
klasi	NOUN	klasa
.	PUNCT	.
Ali	CCONJ	ali
su	AUX	jesam
bile	AUX	biti
-	PUNCT	-
opasne	ADJ	opasan
su	AUX	jesam
bile	AUX	biti
.	PUNCT	.
Baš	ADV	Baš
su	AUX	jesam
bile	AUX	biti
vamp	NOUN	vamp
devojke	NOUN	devojka
.	PUNCT	.
Na	ADP	na
arhitekturi	NOUN	arhitektura
su	AUX	jesam
uvek	ADV	uvek
izrazito	ADV	izrazito
lepe	ADJ	lep
žene	NOUN	žena
,	PUNCT	,
prodorne	ADJ	prodoran
.	PUNCT	.
Sve	DET	sav
su	AUX	jesam
išle	VERB	ići
napred	ADV	napred
.	PUNCT	.
Lepo	ADV	lepo
,	PUNCT	,
da	SCONJ	da
,	PUNCT	,
ta	DET	taj
mladost	NOUN	mladost
.	PUNCT	.
Znate	VERB	znati
,	PUNCT	,
ta	DET	taj
sredina	NOUN	sredina
,	PUNCT	,
čuda	NOUN	čudo
čini	VERB	činiti
.	PUNCT	.
I	CCONJ	i
društvo	NOUN	društvo
poželjnim	ADJ	poželjan
.	PUNCT	.
Nikako	ADV	nikako
ne	PART	ne
može	VERB	moći
čovek	NOUN	čovek
da	SCONJ	da
kaže	VERB	kazati
da	SCONJ	da
se	PART	se
učaurio	VERB	učauriti
.	PUNCT	.
Svi	DET	sav
smo	AUX	jesam
bili	AUX	biti
u	ADP	u
nekom	DET	neki
pokretu	NOUN	pokret
,	PUNCT	,
jurili	VERB	juriti
smo	AUX	jesam
sve	ADV	sve
.	PUNCT	.
Jurile	VERB	juriti
se	PART	se
i	CCONJ	i
pare	NOUN	par
,	PUNCT	,
jurio	VERB	juriti
se	PART	se
položaj	NOUN	položaj
.	PUNCT	.
Nije	AUX	jesam
ni	PART	ni
onda	ADV	onda
bilo	AUX	biti
jednostavno	ADV	jednostavno
dobiti	VERB	dobiti
tako	ADV	tako
neki	DET	neki
posao	VERB	posati
da	SCONJ	da
odeš	VERB	otići
da	SCONJ	da
u	ADP	u
svetu	NOUN	svet
budeš	AUX	biti
,	PUNCT	,
ali	CCONJ	ali
da	SCONJ	da
ne	PART	ne
budeš	AUX	biti
poslednja	ADJ	poslednji
rupa	NOUN	rupa
na	ADP	na
svirali	NOUN	svirala
.	PUNCT	.
Ah	INTJ	ah
ja	PRON	ja
,	PUNCT	,
baš	PART	baš
sam	AUX	jesam
bio	AUX	biti
muvara	NOUN	muvara
velika	ADJ	velik
.	PUNCT	.
Voleo	VERB	voleti
sam	AUX	jesam
da	SCONJ	da
što	PRON	što
više	ADV	više
vidim	VERB	viditi
.	PUNCT	.
Za	ADP	za
mene	PRON	ja
je	AUX	jesam
bio	AUX	biti
recim	NOUN	recim
:	PUNCT	:
ja	PRON	ja
dobijem	VERB	dobiti
neki	DET	neki
posao	NOUN	posao
i	CCONJ	i
naravno	PART	naravno
sve	DET	sav
je	AUX	jesam
to	DET	taj
išlo	VERB	ići
,	PUNCT	,
što	SCONJ	što
kažu	VERB	kazati
,	PUNCT	,
preko	ADP	preko
Pariza	PROPN	Pariz
.	PUNCT	.
A	X	A
ja	PRON	ja
moram	VERB	morati
da	SCONJ	da
odem	VERB	otići
i	CCONJ	i
da	SCONJ	da
obiđem	VERB	obići
Lafajet	PROPN	Lafajet
i	CCONJ	i
sve	DET	sav
,	PUNCT	,
svaki	DET	svaki
put	NOUN	put
kad	SCONJ	kad
sam	AUX	jesam
bio	AUX	biti
u	ADP	u
ovaj	DET	ovaj
,	PUNCT	,
Francuskoj	PROPN	Francuska
.	PUNCT	.
A	X	A
ja	PRON	ja
,	PUNCT	,
tri	NUM	tri
dana	NOUN	dan
i	CCONJ	i
tri	NUM	tri
noći	NOUN	noć
ne	PART	ne
spavam	VERB	spavati
.	PUNCT	.
Kakvo	DET	kakav
spavanje	NOUN	spavanje
,	PUNCT	,
po	ADP	po
dva	NUM	dva
sata	NOUN	sat
,	PUNCT	,
tri	NUM	tri
sata	NOUN	sat
.	PUNCT	.
Oči	ADV	Oči
mi	PRON	ja
crvene	VERB	crveniti
k	ADP	k
’	PUNCT	’
o	INTJ	o
-	PUNCT	-
da	SCONJ	da
sam	AUX	jesam
onaj	DET	onaj
ribar	NOUN	ribar
podvodni	ADJ	podvodni
.	PUNCT	.
Lep	ADJ	lep
je	AUX	jesam
život	NOUN	život
i	CCONJ	i
mladost	NOUN	mladost
je	AUX	jesam
lepa	ADJ	lep
.	PUNCT	.
Znaš	ADJ	Znaš
,	PUNCT	,
tek	CCONJ	tek
posle	ADV	posle
,	PUNCT	,
kad	SCONJ	kad
se	PART	se
osvrneš	VERB	osvrnuti
kažeš	VERB	kazati
:	PUNCT	:
pa	CCONJ	pa
dobro	ADV	dobro
,	PUNCT	,
što	SCONJ	što
smo	AUX	jesam
žurili	VERB	žuriti
,	PUNCT	,
što	SCONJ	što
nismo	AUX	jesam
to	DET	taj
na	ADP	na
tenane	NOUN	tenan
?	PUNCT	?
Ali	CCONJ	ali
što	SCONJ	što
više	ADV	više
,	PUNCT	,
što	SCONJ	što
više	ADV	više
i	CCONJ	i
to	DET	taj
ti	PRON	ti
je	AUX	jesam
ljudski	ADJ	ljudski
.	PUNCT	.
Što	PROPN	Što
više	ADV	više
da	SCONJ	da
zahvatiš	VERB	zahvatiti
.	PUNCT	.
Da	SCONJ	da
ti	PRON	ti
ne	PART	ne
promakne	VERB	promaknuti
.	PUNCT	.
