Jevremović	PROPN	Jevremović
Milena	PROPN	Milena
.	PUNCT	.
Šezdeset	NUM	Šezdeset
-	PUNCT	-
osam	NUM	osam
.	PUNCT	.
Grabovica	PROPN	Grabovica
,	PUNCT	,
Gornji	PROPN	Gornji
Milanovac	PROPN	Milanovac
.	PUNCT	.
Grabovica	PROPN	Grabovica
,	PUNCT	,
Gornji	PROPN	Gornji
Milanovac	PROPN	Milanovac
.	PUNCT	.
Živela	VERB	Živela
sam	AUX	jesam
ovde	ADV	ovde
u	ADP	u
Grabovici	PROPN	Grabovica
,	PUNCT	,
u	ADP	u
Milanovcu	PROPN	Milanovac
,	PUNCT	,
živela	VERB	živeti
sam	AUX	jesam
u	ADP	u
Nemačkoj	PROPN	Nemačka
u	ADP	u
gradu	NOUN	grad
Štutgart	PROPN	Štutgart
.	PUNCT	.
Pa	CCONJ	pa
,	PUNCT	,
meni	PRON	ja
je	AUX	jesam
bilo	AUX	biti
lepo	ADV	lepo
i	CCONJ	i
ovde	ADV	ovde
i	CCONJ	i
bilo	AUX	biti
mi	PRON	ja
je	AUX	jesam
lepo	ADV	lepo
i	CCONJ	i
u	ADP	u
Nemačkoj	PROPN	Nemačka
,	PUNCT	,
baš	PART	baš
sam	AUX	jesam
se	PART	se
osećala	VERB	osećati
lepo	ADV	lepo
,	PUNCT	,
koristila	VERB	koristiti
sam	AUX	jesam
to	DET	taj
vreme	NOUN	vreme
gde	SCONJ	gde
sam	AUX	jesam
ovaj	DET	ovaj
,	PUNCT	,
gde	SCONJ	gde
sam	AUX	jesam
boravila	VERB	boraviti
da	SCONJ	da
baš	PART	baš
iskoristim	VERB	iskoristiti
onako	ADV	onako
,	PUNCT	,
da	SCONJ	da
bude	AUX	biti
mi	PRON	ja
i	CCONJ	i
korisno	ADJ	korisno
i	CCONJ	i
lepo	ADV	lepo
.	PUNCT	.
Jesam	AUX	jesam
,	PUNCT	,
bila	AUX	biti
sam	AUX	jesam
u	ADP	u
,	PUNCT	,
ovaj	DET	ovaj
,	PUNCT	,
raznim	VERB	raznim
krajevima	NOUN	kraj
,	PUNCT	,
Bad	PROPN	Bad
Kanštatu	PROPN	Kanštatu
,	PUNCT	,
Štamhajmu	PROPN	Štamhajmu
,	PUNCT	,
Štutgartu	PROPN	Štutgart
i	CCONJ	i
tako	ADV	tako
Š	NOUN	Š
,	PUNCT	,
Šviberdingenu	PROPN	Šviberdingenu
.	PUNCT	.
Da	SCONJ	da
.	PUNCT	.
Da	SCONJ	da
,	PUNCT	,
nemački	ADJ	nemački
.	PUNCT	.
Radnica	NOUN	radnica
.	PUNCT	.
Radila	VERB	raditi
sam	AUX	jesam
u	ADP	u
jednoj	NUM	jedan
em	CCONJ	em
,	PUNCT	,
fabrici	NOUN	fabrika
pleksiglasa	NOUN	pleksiglas
kao	CCONJ	kao
radnica	NOUN	radnica
.	PUNCT	.
Pa	CCONJ	pa
radila	VERB	raditi
sam	AUX	jesam
u	ADP	u
fabrici	NOUN	fabrika
obuće	NOUN	obuća
,	PUNCT	,
radila	VERB	raditi
sam	AUX	jesam
i	CCONJ	i
u	ADP	u
bolnicama	NOUN	bolnica
,	PUNCT	,
tako	ADV	tako
na	ADP	na
raznim	ADJ	raznim
mestima	NOUN	mesto
sam	AUX	jesam
radila	VERB	raditi
,	PUNCT	,
radila	VERB	raditi
sam	AUX	jesam
i	CCONJ	i
u	ADP	u
cvećarama	NOUN	cvećara
tako	ADV	tako
,	PUNCT	,
u	ADP	u
dve	NUM	dva
cvećare	NOUN	cvećara
.	PUNCT	.
Desnoruka	ADJ	desnoruk
.	PUNCT	.
Ne	PART	ne
,	PUNCT	,
ne	PART	ne
pevala	VERB	pevati
sam	AUX	jesam
samo	PART	samo
za	ADP	za
sebe	PRON	sebe
,	PUNCT	,
ali	CCONJ	ali
ovako	ADV	ovako
ne	PART	ne
profesionalno	ADV	profesionalno
.	PUNCT	.
Da	SCONJ	da
,	PUNCT	,
čitam	VERB	čitati
knjige	NOUN	knjiga
Najviše	PROPN	Najviše
volim	VERB	voliti
da	SCONJ	da
čitam	VERB	čitati
knjige	NOUN	knjiga
od	ADP	od
Dejana	PROPN	Dejana
Lučića	PROPN	Lučić
.	PUNCT	.
Onda	ADV	onda
volim	VERB	voliti
ove	DET	ovaj
američke	ADJ	američki
od	ADP	od
onoga	DET	onaj
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
E	INTJ	e
sad	ADV	sad
ne	PART	ne
mogu	VERB	moći
da	SCONJ	da
se	PART	se
setim	VERB	setiti
kako	SCONJ	kako
se	PART	se
zove	VERB	zvati
onaj	DET	onaj
Sidnej	PROPN	Sidnej
Šelon	PROPN	Šelon
.	PUNCT	.
Sidni	PROPN	Sidni
Šeldon	PROPN	Šeldon
,	PUNCT	,
da	SCONJ	da
.	PUNCT	.
Pa	CCONJ	pa
da	SCONJ	da
,	PUNCT	,
imam	VERB	imati
ruže	NOUN	ruž
,	PUNCT	,
obrađujem	VERB	obrađivati
.	PUNCT	.
Imam	VERB	imati
baštu	NOUN	bašta
,	PUNCT	,
imam	VERB	imati
piliće	NOUN	pilić
,	PUNCT	,
kokoške	NOUN	kokoška
.	PUNCT	.
Tako	ADV	tako
eto	PART	eto
,	PUNCT	,
bavim	VERB	baviti
se	PART	se
onim	DET	onaj
.	PUNCT	.
Jeste	INTJ	jeste
,	PUNCT	,
to	DET	taj
mi	PRON	ja
je	AUX	jesam
hobi	NOUN	hobi
nemam	VERB	nemati
nikakvih	DET	nikakav
drugih	ADJ	drugi
.	PUNCT	.
Ne	PART	ne
igram	VERB	igrati
tenis	NOUN	tenis
,	PUNCT	,
ne	PART	ne
idem	VERB	ići
na	ADP	na
plivanje	NOUN	plivanje
tako	ADV	tako
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Članovi	PUNCT	Članovi
moje	DET	moj
porodice	NOUN	porodica
su	AUX	jesam
mi	PRON	ja
moj	DET	moj
muž	NOUN	muž
,	PUNCT	,
moje	DET	moj
dvoje	NUM	dvoje
dece	NOUN	deca
,	PUNCT	,
moje	DET	moj
četvoro	NUM	četvoro
unučadi	NOUN	unučad
.	PUNCT	.
Jeste	AUX	jesam
,	PUNCT	,
snaja	NOUN	snaja
.	PUNCT	.
Moj	DET	moj
muž	NOUN	muž
se	PART	se
zove	VERB	zvati
Dobrica	PROPN	Dobrica
,	PUNCT	,
ćerka	NOUN	ćerka
mi	PRON	ja
se	PART	se
zove	VERB	zvati
Milijana	PROPN	Milijana
,	PUNCT	,
sin	NOUN	sin
mi	PRON	ja
se	PART	se
zove	VERB	zvati
Radovan	PROPN	Radovan
,	PUNCT	,
snaja	NOUN	snaja
mi	PRON	ja
se	PART	se
zove	VERB	zvati
Marina	PROPN	Marina
,	PUNCT	,
najstariji	ADJ	star
unuk	NOUN	unuk
je	AUX	jesam
Marko	PROPN	Marka
,	PUNCT	,
pa	CCONJ	pa
onda	ADV	onda
to	DET	taj
mi	PRON	ja
je	AUX	jesam
od	ADP	od
ćerke	NOUN	ćerka
unuk	NOUN	unuk
.	PUNCT	.
Od	ADP	od
sina	NOUN	sin
imam	VERB	imati
Isaka	PROPN	Isak
,	PUNCT	,
Davida	PROPN	David
i	CCONJ	i
Miu	PROPN	Mia
.	PUNCT	.
Pa	CCONJ	pa
ovako	ADV	ovako
,	PUNCT	,
stariji	ADJ	star
unuk	NOUN	unuk
Marko	PROPN	Marka
on	PRON	on
studira	VERB	studirati
.	PUNCT	.
On	PRON	on
je	AUX	jesam
student	NOUN	student
biologije	NOUN	biologija
.	PUNCT	.
To	DET	taj
mi	PRON	ja
je	AUX	jesam
od	ADP	od
ćerke	NOUN	ćerka
.	PUNCT	.
Dobar	ADJ	dobar
,	PUNCT	,
vredan	ADJ	vredan
je	AUX	jesam
,	PUNCT	,
marljiv	ADJ	marljiv
je	AUX	jesam
,	PUNCT	,
poslušan	VERB	poslušati
je	AUX	jesam
tako	ADV	tako
.	PUNCT	.
Dečko	PROPN	Dečko
,	PUNCT	,
od	ADP	od
sina	NOUN	sin
,	PUNCT	,
Isak	PROPN	Isak
,	PUNCT	,
on	PRON	on
je	AUX	jesam
najstariji	ADJ	star
,	PUNCT	,
on	PRON	on
isto	PART	isto
ide	VERB	ići
u	ADP	u
školu	NOUN	škola
,	PUNCT	,
četvrta	ADJ	četvrti
godina	NOUN	godina
škole	NOUN	škola
,	PUNCT	,
dobar	ADJ	dobar
je	AUX	jesam
i	CCONJ	i
on	PRON	on
isto	ADV	isto
,	PUNCT	,
vredan	ADJ	vredan
je	AUX	jesam
.	PUNCT	.
David	PROPN	David
,	PUNCT	,
srednji	ADJ	srednji
,	PUNCT	,
on	PRON	on
ide	VERB	ići
u	ADP	u
treći	ADJ	treći
razred	NOUN	razred
,	PUNCT	,
i	CCONJ	i
on	PRON	on
isto	PART	isto
uči	VERB	učiti
dobro	ADV	dobro
,	PUNCT	,
dobar	ADJ	dobar
je	AUX	jesam
dečak	NOUN	dečak
.	PUNCT	.
A	X	A
Mia	PROPN	Mia
,	PUNCT	,
ona	PRON	ona
je	AUX	jesam
pošla	VERB	poći
ove	DET	ovaj
godine	NOUN	godina
u	ADP	u
prvi	ADJ	prvi
razred	NOUN	razred
škole	NOUN	škola
i	CCONJ	i
ona	PRON	ona
je	AUX	jesam
dobra	ADJ	dobar
,	PUNCT	,
marljiva	ADJ	marljiv
.	PUNCT	.
Možda	PROPN	Možda
je	AUX	jesam
najvrednija	ADJ	vredan
u	ADP	u
školi	NOUN	škola
.	PUNCT	.
Sin	NOUN	sin
i	CCONJ	i
ćerka	NOUN	ćerka
.	PUNCT	.
Sin	NOUN	sin
mi	PRON	ja
živi	VERB	živiti
u	ADP	u
Nemačkoj	PROPN	Nemačka
,	PUNCT	,
on	PRON	on
radi	VERB	raditi
tamo	ADV	tamo
privatno	ADV	privatno
,	PUNCT	,
a	ADJ	a
ćerka	NOUN	ćerka
je	AUX	jesam
ovde	ADV	ovde
u	ADP	u
Gornjem	PROPN	Gornjem
Milanovcu	PROPN	Milanovac
.	PUNCT	.
Ona	PRON	ona
ima	VERB	imati
isto	ADV	isto
privatnu	ADJ	privatan
neku	DET	neki
delatnost	NOUN	delatnost
,	PUNCT	,
tako	ADV	tako
da	SCONJ	da
je	AUX	jesam
i	CCONJ	i
ona	PRON	ona
eto	PART	eto
uspešna	ADJ	uspešan
.	PUNCT	.
Da	SCONJ	da
,	PUNCT	,
imam	VERB	imati
,	PUNCT	,
imam	VERB	imati
komšinku	NOUN	komšinka
,	PUNCT	,
imam	VERB	imati
prijatelje	NOUN	prijatelj
,	PUNCT	,
imam	VERB	imati
komšinku	NOUN	komšinka
,	PUNCT	,
imam	VERB	imati
brata	NOUN	brata
i	CCONJ	i
snaju	NOUN	snaja
i	CCONJ	i
brataničinu	NOUN	brataničinu
.	PUNCT	.
Eto	PART	eto
s	ADP	s
njima	PRON	ona
najviše	ADV	najviše
se	PART	se
družim	VERB	družiti
.	PUNCT	.
Tako	ADV	tako
popijemo	VERB	popiti
kafu	NOUN	kafa
,	PUNCT	,
popričamo	VERB	popričati
o	ADP	o
svemu	DET	sav
i	CCONJ	i
svačemu	PRON	svašta
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
Da	SCONJ	da
,	PUNCT	,
da	SCONJ	da
,	PUNCT	,
da	SCONJ	da
ova	DET	ovaj
komšinka	NOUN	komšinka
ovako	ADV	ovako
,	PUNCT	,
pričamo	VERB	pričati
dosta	ADV	dosta
o	ADP	o
pročitanim	ADJ	pročitan
knjigama	NOUN	knjiga
,	PUNCT	,
o	ADP	o
novostima	NOUN	novost
dana	NOUN	dan
,	PUNCT	,
o	ADP	o
deci	NOUN	deca
,	PUNCT	,
unučadima	NOUN	unučadima
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
Da	SCONJ	da
,	PUNCT	,
da	SCONJ	da
,	PUNCT	,
da	SCONJ	da
.	PUNCT	.
Volela	VERB	voleti
sam	AUX	jesam
narodnu	ADJ	narodni
muziku	NOUN	muzika
što	SCONJ	što
je	AUX	jesam
i	PART	i
ostalo	VERB	ostati
.	PUNCT	.
I	CCONJ	i
sada	ADV	sada
volim	VERB	voliti
tu	ADV	tu
narodnu	ADJ	narodni
muziku	NOUN	muzika
.	PUNCT	.
Pa	CCONJ	pa
,	PUNCT	,
staru	ADJ	star
narodnu	ADJ	narodni
,	PUNCT	,
volim	VERB	voliti
i	CCONJ	i
ove	DET	ovaj
sad	ADV	sad
modernije	ADJ	moderan
,	PUNCT	,
zavisi	VERB	zavisiti
ko	PRON	ko
peva	VERB	pevati
i	CCONJ	i
kako	SCONJ	kako
peva	VERB	pevati
.	PUNCT	.
Zoricu	PROPN	Zorica
Brunclik	PROPN	Brunclik
volim	VERB	voliti
najviše	ADV	najviše
kad	SCONJ	kad
peva	VERB	pevati
,	PUNCT	,
da	SCONJ	da
Zoricu	PROPN	Zorica
i	CCONJ	i
Šabana	PROPN	Šaban
Šaulića	PROPN	Šaulić
,	PUNCT	,
Miroslava	PROPN	Miroslava
Ilića	PROPN	Ilić
i	CCONJ	i
eto	PART	eto
,	PUNCT	,
tako	ADV	tako
Lepu	PROPN	Lepa
Lukić	PROPN	Lukić
.	PUNCT	.
Četrdeset	NUM	Četrdeset
godina	NOUN	godina
.	PUNCT	.
Došla	ADV	Došla
sam	AUX	jesam
dve	NUM	dva
hiljade	NOUN	hiljada
desete	ADJ	deseti
godine	NOUN	godina
.	PUNCT	.
A	X	A
od	ADP	od
tada	ADV	tada
sam	AUX	jesam
u	ADP	u
penziji	NOUN	penzija
i	CCONJ	i
onda	SCONJ	onda
sam	AUX	jesam
se	PART	se
vratila	VERB	vratiti
u	ADP	u
svoje	DET	svoj
rodno	ADJ	rodno
mesto	NOUN	mesto
.	PUNCT	.
Lep	ADJ	lep
mi	PRON	ja
je	AUX	jesam
život	NOUN	život
bio	AUX	biti
u	ADP	u
Nemačkoj	PROPN	Nemačka
,	PUNCT	,
a	ADV	a
lep	ADJ	lep
mi	PRON	ja
je	AUX	jesam
život	NOUN	život
i	CCONJ	i
ovde	ADV	ovde
,	PUNCT	,
baš	PART	baš
onako	ADV	onako
koristim	VERB	koristiti
maksimalno	ADV	maksimalno
.	PUNCT	.
I	CCONJ	i
eto	PART	eto
spajam	VERB	spajati
lepo	ADV	lepo
i	CCONJ	i
korisno	ADJ	korisno
.	PUNCT	.
Moje	DET	moj
interesovanje	NOUN	interesovanje
.	PUNCT	.
Volim	VERB	voliti
da	SCONJ	da
čitam	VERB	čitati
knjige	NOUN	knjiga
,	PUNCT	,
volim	VERB	voliti
da	SCONJ	da
lutam	VERB	lutati
po	ADP	po
prodavnicama	NOUN	prodavnica
i	CCONJ	i
da	SCONJ	da
gledam	VERB	gledati
ovako	ADV	ovako
,	PUNCT	,
da	SCONJ	da
idem	VERB	ići
u	ADP	u
šoping	NOUN	šoping
,	PUNCT	,
volim	VERB	voliti
da	SCONJ	da
putujem	VERB	putovati
.	PUNCT	.
To	DET	taj
volim	VERB	voliti
da	SCONJ	da
kuvam	VERB	kuvati
,	PUNCT	,
ali	CCONJ	ali
ne	PART	ne
baš	PART	baš
mnogo	ADV	mnogo
.	PUNCT	.
Ali	CCONJ	ali
volim	VERB	voliti
da	SCONJ	da
putujem	VERB	putovati
i	CCONJ	i
volim	VERB	voliti
da	SCONJ	da
dolazim	VERB	dolaziti
do	ADP	do
nekih	DET	neki
novih	ADJ	nov
saznanja	NOUN	saznanje
,	PUNCT	,
da	SCONJ	da
nova	ADJ	nov
mesta	NOUN	mesto
posećujem	VERB	posećivati
,	PUNCT	,
tako	ADV	tako
da	SCONJ	da
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Da	SCONJ	da
,	PUNCT	,
putujem	VERB	putovati
.	PUNCT	.
Bila	AUX	biti
sam	AUX	jesam
u	ADP	u
Nemačkoj	PROPN	Nemačka
.	PUNCT	.
Putujem	VERB	putovati
ovde	ADV	ovde
po	ADP	po
Srbiji	PROPN	Srbija
.	PUNCT	.
Ima	VERB	imati
mnogo	ADV	mnogo
lepih	ADJ	lep
mesta	NOUN	mesto
,	PUNCT	,
baš	PART	baš
,	PUNCT	,
i	CCONJ	i
banja	VERB	banjati
,	PUNCT	,
i	CCONJ	i
planina	NOUN	planina
i	CCONJ	i
volim	VERB	voliti
Zlatibor	PROPN	Zlatibor
,	PUNCT	,
volim	VERB	voliti
Taru	PROPN	Tar
.	PUNCT	.
Posetila	VERB	posetiti
sam	AUX	jesam
Nemačku	PROPN	Nemačka
,	PUNCT	,
Švajcarsku	PROPN	Švajcarska
,	PUNCT	,
Italiju	PROPN	Italija
,	PUNCT	,
Austriju	PROPN	Austrija
Holandiju	PROPN	Holandija
eto	PART	eto
to	DET	taj
.	PUNCT	.
Holandija	PROPN	Holandija
mi	PRON	ja
se	PART	se
čini	VERB	činiti
mnogo	ADV	mnogo
lepa	ADJ	lep
,	PUNCT	,
uređena	ADJ	uređen
zemlja	NOUN	zemlja
.	PUNCT	.
Nemačka	PROPN	Nemačka
mi	PRON	ja
se	PART	se
sviđa	VERB	sviđati
isto	ADV	isto
mnogo	ADV	mnogo
,	PUNCT	,
Švajcarska	PROPN	Švajcarska
takođe	PART	takođe
.	PUNCT	.
Nemačka	PROPN	Nemačka
i	CCONJ	i
Švajcarska	PROPN	Švajcarska
,	PUNCT	,
nemačko	ADJ	nemački
govorno	ADJ	govorni
područje	NOUN	područje
,	PUNCT	,
to	DET	taj
mi	PRON	ja
je	AUX	jesam
nekako	ADV	nekako
najlepše	ADJ	lep
,	PUNCT	,
najčistije	ADJ	čist
tako	ADV	tako
.	PUNCT	.
Austrija	PROPN	Austrija
,	PUNCT	,
i	CCONJ	i
ona	PRON	ona
je	AUX	jesam
takođe	PART	takođe
isto	ADV	isto
,	PUNCT	,
oni	PRON	oni
su	AUX	jesam
isto	ADV	isto
,	PUNCT	,
lepo	ADV	lepo
,	PUNCT	,
uređeno	VERB	urediti
,	PUNCT	,
da	SCONJ	da
moderno	ADV	moderno
.	PUNCT	.
Da	SCONJ	da
sad	ADV	sad
Srbiju	PROPN	Srbija
,	PUNCT	,
sad	ADV	sad
putujem	VERB	putovati
po	ADP	po
Srbiji	PROPN	Srbija
,	PUNCT	,
bila	AUX	biti
sam	AUX	jesam
na	ADP	na
Goču	PROPN	Goč
,	PUNCT	,
Zlatiboru	PROPN	Zlatibor
Tari	PROPN	Tara
,	PUNCT	,
Kopaoniku	PROPN	Kopaonik
.	PUNCT	.
Sebi	PRON	sebe
?	PUNCT	?
Kod	ADP	kod
mene	PRON	ja
je	AUX	jesam
rad	NOUN	rad
,	PUNCT	,
red	NOUN	red
i	CCONJ	i
disciplina	NOUN	disciplina
.	PUNCT	.
Radna	ADJ	Radna
sam	AUX	jesam
,	PUNCT	,
volim	VERB	voliti
da	SCONJ	da
radim	VERB	raditi
.	PUNCT	.
Volim	VERB	voliti
uvek	ADV	uvek
nečim	PRON	nešta
da	SCONJ	da
se	PART	se
zabavljam	VERB	zabavljati
,	PUNCT	,
nikad	ADV	nikad
mi	PRON	ja
nije	AUX	jesam
ni	PART	ni
dosadno	ADV	dosadno
,	PUNCT	,
ni	CCONJ	ni
teško	ADV	teško
,	PUNCT	,
sve	ADV	sve
što	SCONJ	što
radim	VERB	raditi
to	DET	taj
volim	VERB	voliti
.	PUNCT	.
Sa	ADP	sa
ćerkom	NOUN	ćerka
,	PUNCT	,
da	SCONJ	da
unuci	NOUN	unuka
me	PRON	ja
posećuju	VERB	posećivati
.	PUNCT	.
Sin	NOUN	sin
me	PRON	ja
posećuje	VERB	posećivati
sa	ADP	sa
njegovom	DET	njegov
decom	NOUN	deca
i	CCONJ	i
njegovom	DET	njegov
suprugom	NOUN	supruga
.	PUNCT	.
Ne	PART	ne
,	PUNCT	,
ne	PART	ne
