Miroslava	PROPN	Miroslava
Starčev	ADJ	Starčev
.	PUNCT	.
Šezdeset	NUM	Šezdeset
-	PUNCT	-
sedam	NUM	sedam
.	PUNCT	.
Izvini	VERB	izviniti
sine	VERB	sinuti
.	PUNCT	.
Dvadeset	NUM	dvadeset
-	PUNCT	-
sedmi	ADJ	sedmi
šesti	ADJ	šesti
hiljadu	NOUN	hiljada
-	PUNCT	-
devetsto	NUM	devetsto
-	PUNCT	-
pedesete	ADJ	pedeseti
.	PUNCT	.
Markovac	PROPN	Markovac
Velika	PROPN	Velika
Plana	PROPN	Plana
.	PUNCT	.
Markovac	PROPN	Markovac
,	PUNCT	,
Svilajnac	PROPN	Svilajnac
,	PUNCT	,
Sarajevo	PROPN	Sarajevo
,	PUNCT	,
ponovo	ADV	ponovo
Markovac	PROPN	Markovac
,	PUNCT	,
pa	CCONJ	pa
ponovo	ADV	ponovo
Svilajnac	PROPN	Svilajnac
i	CCONJ	i
sad	ADV	sad
Svilajnac	PROPN	Svilajnac
.	PUNCT	.
E	CCONJ	e
Sarajevo	PROPN	Sarajevo
mi	PRON	ja
je	AUX	jesam
bilo	AUX	biti
najlepše	ADJ	lep
.	PUNCT	.
Sarajevo	PROPN	Sarajevo
zato	ADV	zato
što	SCONJ	što
nam	PRON	mi
je	AUX	jesam
tamo	ADV	tamo
bilo	AUX	biti
baš	PART	baš
lepo	ADV	lepo
i	CCONJ	i
lepo	ADV	lepo
smo	AUX	jesam
se	PART	se
uklopili	VERB	uklopiti
i	CCONJ	i
sve	ADV	sve
samo	CCONJ	samo
što	SCONJ	što
je	AUX	jesam
kratko	ADV	kratko
trajalo	VERB	trajati
.	PUNCT	.
Četiri	PROPN	Četiri
godine	NOUN	godina
.	PUNCT	.
Od	ADP	od
osamdeset	NUM	osamdeset
-	PUNCT	-
osme	ADJ	osmi
do	ADP	do
devedeset	NUM	devedeset
-	PUNCT	-
prve	ADJ	prvi
godine	NOUN	godina
.	PUNCT	.
Do	ADP	do
rata	NOUN	rat
.	PUNCT	.
Srbin	PROPN	Srbin
.	PUNCT	.
Srpski	ADJ	srpski
normalno	ADJ	normalan
i	CCONJ	i
francuski	ADJ	francuski
pomalo	ADV	pomalo
mogu	VERB	moći
da	SCONJ	da
se	PART	se
sporazumevam	VERB	sporazumevati
.	PUNCT	.
Radila	VERB	raditi
sam	AUX	jesam
u	ADP	u
jednoj	NUM	jedan
zadruzi	NOUN	zadruga
.	PUNCT	.
Poljoprivredni	ADJ	poljoprivredni
tehničar	NOUN	tehničar
.	PUNCT	.
Hoćeš	ADV	Hoćeš
im	PRON	ona
može	VERB	moći
i	CCONJ	i
mesto	NOUN	mesto
i	CCONJ	i
ovo	DET	ovaj
?	PUNCT	?
Može	PROPN	Mog
,	PUNCT	,
selo	NOUN	selo
Žirovnica	PROPN	Žirovnica
kod	ADP	kod
Kragujevca	PROPN	Kragujevac
.	PUNCT	.
Iz	ADP	iz
Žirovnice	PROPN	Žirovnica
poljoprivredna	ADJ	poljoprivredni
apoteka	NOUN	apoteka
Svilajnac	PROPN	Svilajnac
.	PUNCT	.
Tamo	ADV	tamo
sam	AUX	jesam
sedam	NUM	sedam
godina	NOUN	godina
radila	VERB	raditi
u	ADP	u
toj	DET	taj
Žirovnici	PROPN	Žirovnica
.	PUNCT	.
Ako	SCONJ	ako
treba	VERB	trebati
da	SCONJ	da
to	DET	taj
sedam	NUM	sedam
godina	NOUN	godina
u	ADP	u
Žirovnici	PROPN	Žirovnica
,	PUNCT	,
e	CCONJ	e
onda	ADV	onda
jedanest	NOUN	jedanest
godina	NOUN	godina
u	ADP	u
poljoprivredoj	ADJ	poljoprivredoj
apoteci	NOUN	apoteka
u	ADP	u
Svilajncu	PROPN	Svilajnac
i	CCONJ	i
četri	NUM	četri
godine	NOUN	godina
u	ADP	u
Sarajevu	PROPN	Sarajevo
kooperativa	NOUN	kooperativa
Novi	ADJ	nov
Sad	NOUN	sad
,	PUNCT	,
ali	CCONJ	ali
u	ADP	u
Sarajevu	PROPN	Sarajevo
je	AUX	jesam
to	DET	taj
.	PUNCT	.
Od	ADP	od
škole	NOUN	škola
Srednju	PROPN	Srednju
poljoprivrednu	ADJ	poljoprivredni
školu	NOUN	škola
.	PUNCT	.
Desnom	ADJ	desni
.	PUNCT	.
Nisam	AUX	jesam
,	PUNCT	,
jedino	ADV	jedino
sam	AUX	jesam
igrala	VERB	igrati
u	ADP	u
folkloru	NOUN	folklor
.	PUNCT	.
To	DET	taj
dok	SCONJ	dok
sam	AUX	jesam
bila	AUX	biti
mlada	ADJ	mlad
i	CCONJ	i
dok	SCONJ	dok
se	PART	se
nisam	AUX	jesam
udala	VERB	udati
i	CCONJ	i
dok	SCONJ	dok
nisam	AUX	jesam
počela	VERB	početi
.	PUNCT	.
Nisam	AUX	jesam
sine	VERB	sinuti
,	PUNCT	,
ne	PART	ne
.	PUNCT	.
Pa	CCONJ	pa
skoro	ADV	skoro
sve	ADV	sve
volim	VERB	voliti
čak	PART	čak
i	CCONJ	i
operu	VERB	oprati
da	SCONJ	da
slušam	VERB	slušati
.	PUNCT	.
Onako	ADV	onako
to	DET	taj
mi	PRON	ja
je	AUX	jesam
merak	NOUN	merak
da	SCONJ	da
slušam	VERB	slušati
.	PUNCT	.
Pa	CCONJ	pa
ne	PART	ne
znam	VERB	znati
valjda	PART	valjda
mi	PRON	ja
tako	ADV	tako
godi	VERB	goditi
kad	SCONJ	kad
slušam	VERB	slušati
ovo	DET	ovaj
,	PUNCT	,
a	ADV	a
slušam	VERB	slušati
inače	PART	inače
sve	DET	sav
mogu	VERB	moći
da	SCONJ	da
slušam	VERB	slušati
.	PUNCT	.
Znaš	ADV	Znaš
jedino	ADV	jedino
ovo	DET	ovaj
ne	PART	ne
mogu	VERB	moći
da	SCONJ	da
podnosim	VERB	podnositi
sad	ADV	sad
što	SCONJ	što
se	PART	se
peva	VERB	pevati
i	CCONJ	i
što	SCONJ	što
skaču	VERB	skakati
i	CCONJ	i
ripaju	VERB	ripati
.	PUNCT	.
Pa	CCONJ	pa
kad	SCONJ	kad
imam	VERB	imati
vremena	NOUN	vreme
volim	VERB	voliti
.	PUNCT	.
Pa	CCONJ	pa
uglavnom	ADV	uglavnom
ovu	DET	ovaj
beletristiku	NOUN	beletristika
,	PUNCT	,
ono	DET	onaj
Mir	ADV	Mir
Jam	VERB	Jam
šta	PRON	šta
ja	PRON	ja
znam	VERB	znati
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
Al	CCONJ	al
čitala	VERB	čitati
sam	AUX	jesam
ranije	ADV	ranije
iii	PROPN	iii
i	CCONJ	i
ovaj	DET	ovaj
Anu	PROPN	Ana
Karenjinu	PROPN	Karenjin
i	CCONJ	i
Tolstoja	PROPN	Tolstoj
iii	PROPN	iii
sve	ADV	sve
živo	ADV	živo
što	SCONJ	što
što	PRON	što
mi	PRON	ja
je	AUX	jesam
pri	ADP	pri
ruci	NOUN	ruka
padalo	VERB	padati
.	PUNCT	.
Pa	CCONJ	pa
ja	PRON	ja
sam	AUX	jesam
trenutno	ADV	trenutno
sama	ADJ	sam
,	PUNCT	,
ali	CCONJ	ali
imam	VERB	imati
dve	NUM	dva
kćeri	NOUN	kćer
udate	ADJ	udat
.	PUNCT	.
A	X	A
ostala	VERB	ostati
sam	AUX	jesam
bez	ADP	bez
muža	NOUN	muž
pre	ADP	pre
sedamnaest	NUM	sedamnaest
godina	NOUN	godina
.	PUNCT	.
Od	ADP	od
dve	NUM	dva
-	PUNCT	-
hiljade	NOUN	hiljada
-	PUNCT	-
prve	ADJ	prvi
sam	AUX	jesam
sama	DET	sam
.	PUNCT	.
U	ADP	u
dvadeset	NUM	dvadeset
i	CCONJ	i
četvrtoj	ADJ	četvrti
godini	NOUN	godina
,	PUNCT	,
hiljadu	ADV	hiljadu
-	PUNCT	-
devetsto	NUM	devetsto
-	PUNCT	-
sedamdeset	NUM	sedamdeset
-	PUNCT	-
pete	NOUN	peta
.	PUNCT	.
Šta	PUNCT	Šta
Vas	PROPN	Vas
interesuje	VERB	interesovati
?	PUNCT	?
A	X	A
da	SCONJ	da
,	PUNCT	,
ovaj	DET	ovaj
,	PUNCT	,
ćerka	NOUN	ćerka
Starčev	ADJ	Starčev
.	PUNCT	.
Je	AUX	jesam
l	X	l
'	PUNCT	'
treba	VERB	trebati
i	CCONJ	i
ime	NOUN	ime
pre	ADV	pre
?	PUNCT	?
Može	PROPN	Mog
i	CCONJ	i
Starčev	ADJ	Starčev
Branka	PROPN	Branka
.	PUNCT	.
To	DET	taj
je	AUX	jesam
starija	ADJ	star
ćerka	NOUN	ćerka
koja	DET	koji
je	AUX	jesam
završila	VERB	završiti
srednju	ADJ	srednji
hemijsko	ADJ	hemijski
-	PUNCT	-
tehnološku	ADJ	tehnološki
,	PUNCT	,
srednju	ADJ	srednji
hemijsku	ADJ	hemijski
,	PUNCT	,
ali	CCONJ	ali
odsek	NOUN	odsek
je	AUX	jesam
za	ADP	za
laboratoriju	NOUN	laboratorija
kako	SCONJ	kako
se	PART	se
to	DET	taj
zove	VERB	zvati
već	PART	već
.	PUNCT	.
Za	ADP	za
laboranta	NOUN	laborant
.	PUNCT	.
Sada	ADV	sada
je	AUX	jesam
domaćica	NOUN	domaćica
,	PUNCT	,
čuva	VERB	čuvati
decu	NOUN	deca
i	CCONJ	i
.	PUNCT	.
Kad	SCONJ	kad
nije	AUX	jesam
htela	AUX	hteti
fakultet	NOUN	fakultet
da	SCONJ	da
završi	VERB	završiti
.	PUNCT	.
Dogurala	VERB	dogurati
do	ADP	do
pete	NOUN	peta
godine	NOUN	godina
Medicinskog	ADJ	medicinski
fakulteta	NOUN	fakultet
i	CCONJ	i
stala	VERB	stati
,	PUNCT	,
rodila	VERB	roditi
jedno	NUM	jedan
i	CCONJ	i
drugo	ADJ	drugi
dete	NOUN	dete
i	CCONJ	i
onda	ADV	onda
.	PUNCT	.
To	DET	taj
je	AUX	jesam
starija	ADJ	star
.	PUNCT	.
To	DET	taj
je	AUX	jesam
Branka	PROPN	Branka
,	PUNCT	,
a	ADJ	a
Anka	PROPN	Anka
to	DET	taj
je	AUX	jesam
mlađa	ADJ	mlad
ćerka	NOUN	ćerka
.	PUNCT	.
Ona	PRON	ona
je	AUX	jesam
završila	VERB	završiti
Građevinski	ADJ	Građevinski
fakultet	NOUN	fakultet
.	PUNCT	.
Sad	ADV	sad
je	AUX	jesam
trenutno	ADV	trenutno
doktor	NOUN	doktor
,	PUNCT	,
docent	NOUN	docent
na	ADP	na
Fakultetu	ADJ	Fakultetu
tehničkih	ADJ	tehnički
nauka	NOUN	nauka
u	ADP	u
Novom	PROPN	Novom
Sadu	PROPN	Sadu
i	CCONJ	i
tako	ADV	tako
lepo	ADV	lepo
radi	VERB	raditi
.	PUNCT	.
Imam	VERB	imati
tri	NUM	tri
unučeta	NOUN	unuče
.	PUNCT	.
Muški	ADV	Muški
od	ADP	od
mlađe	ADJ	mlad
ćerke	NOUN	ćerka
Nikola	PROPN	Nikola
koji	DET	koji
je	AUX	jesam
rođen	VERB	roditi
dvadeset	NUM	dvadeset
i	CCONJ	i
petog	ADJ	petog
drugog	ADJ	drugi
dve	NUM	dva
-	PUNCT	-
hiljade	NOUN	hiljada
-	PUNCT	-
osme	ADJ	osmi
ne	PART	ne
dve	NUM	dva
-	PUNCT	-
hiljade	NOUN	hiljada
-	PUNCT	-
pete	NOUN	peta
.	PUNCT	.
Izvini	VERB	izviniti
jer	SCONJ	jer
mešam	VERB	mešati
sa	ADP	sa
ovim	DET	ovaj
,	PUNCT	,
a	ADV	a
ona	PRON	ona
ima	VERB	imati
samo	PART	samo
jedno	NUM	jedan
to	DET	taj
dete	NOUN	dete
,	PUNCT	,
a	ADV	a
ova	DET	ovaj
starija	ADJ	star
ćerka	NOUN	ćerka
ima	VERB	imati
dve	NUM	dva
devojčice	NOUN	devojčica
jedna	NUM	jedan
je	AUX	jesam
dve	NUM	dva
-	PUNCT	-
hiljade	NOUN	hiljada
-	PUNCT	-
osme	ADJ	osmi
dvadeset	NUM	dvadeset
-	PUNCT	-
petog	ADJ	petog
dvanaestog	ADJ	dvanaesti
i	CCONJ	i
ova	DET	ovaj
mladja	NOUN	mladja
ćerka	NOUN	ćerka
Nina	PROPN	Nin
dve	NUM	dva
-	PUNCT	-
hiljade	NOUN	hiljada
-	PUNCT	-
jedanaeste	ADJ	jedanaesti
u	ADP	u
sedmog	ADJ	sedmi
novembra	NOUN	novembar
dve	NUM	dva
-	PUNCT	-
hiljade	NOUN	hiljada
-	PUNCT	-
jedanaeste	ADJ	jedanaesti
.	PUNCT	.
Volim	VERB	voliti
jako	ADV	jako
volim	VERB	voliti
da	SCONJ	da
budem	AUX	biti
sa	ADP	sa
njima	PRON	ona
i	CCONJ	i
budem	AUX	biti
ako	SCONJ	ako
ne	PART	ne
ovako	ADV	ovako
cele	ADJ	ceo
godine	NOUN	godina
,	PUNCT	,
preko	ADP	preko
zime	NOUN	zima
obavezno	ADJ	obavezan
i	CCONJ	i
tako	ADV	tako
pa	CCONJ	pa
sve	ADV	sve
i	CCONJ	i
svašta	PRON	svašta
mi	PRON	ja
je	AUX	jesam
interesantno	ADJ	interesantan
kod	ADP	kod
njih	PRON	ona
.	PUNCT	.
Kod	ADP	kod
dece	NOUN	deca
uvek	ADV	uvek
ima	VERB	imati
šta	PRON	šta
da	SCONJ	da
bude	AUX	biti
interesantno	ADJ	interesantan
.	PUNCT	.
Pa	CCONJ	pa
ne	PART	ne
.	PUNCT	.
Pa	CCONJ	pa
najviše	ADV	najviše
sad	ADV	sad
pošto	SCONJ	pošto
sam	AUX	jesam
već	PART	već
i	CCONJ	i
u	ADP	u
tim	DET	taj
godinama	NOUN	godina
i	CCONJ	i
tako	ADV	tako
sa	ADP	sa
komšilukom	NOUN	komšiluk
.	PUNCT	.
Ne	PART	ne
neko	DET	neki
druženje	NOUN	druženje
,	PUNCT	,
ovako	ADV	ovako
van	ADP	van
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
Imam	VERB	imati
jednu	NUM	jedan
Nevenka	PROPN	Nevenka
Đinović	PROPN	Đinović
,	PUNCT	,
onda	ADV	onda
imam	VERB	imati
komšinicu	NOUN	komšinica
Veru	PROPN	Vera
,	PUNCT	,
komšinicu	NOUN	komšinica
Milenu	PROPN	Milena
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
Imam	VERB	imati
ih	PRON	ona
dosta	ADV	dosta
u	ADP	u
komšiluku	NOUN	komšiluk
.	PUNCT	.
Pa	CCONJ	pa
hobi	NOUN	hobi
nešto	PRON	nešto
posebno	ADV	posebno
ne	PART	ne
.	PUNCT	.
A	X	A
da	SCONJ	da
,	PUNCT	,
to	DET	taj
je	AUX	jesam
bilo	AUX	biti
nekad	ADV	nekad
,	PUNCT	,
a	ADV	a
sad	ADV	sad
trenutno	ADV	trenutno
ne	PART	ne
mogu	VERB	moći
i	CCONJ	i
ne	PART	ne
vidim	VERB	viditi
.	PUNCT	.
I	CCONJ	i
goblene	NOUN	goblen
sam	AUX	jesam
radila	VERB	raditi
i	CCONJ	i
heklala	VERB	heklati
i	CCONJ	i
sve	ADV	sve
i	CCONJ	i
svašta	PRON	svašta
sam	AUX	jesam
radila	VERB	raditi
.	PUNCT	.
Štrikala	PROPN	Štrikala
,	PUNCT	,
štrikala	VERB	štrikati
i	CCONJ	i
tako	ADV	tako
pa	CCONJ	pa
štrikala	VERB	štrikati
sam	AUX	jesam
deci	NOUN	deca
šalove	NOUN	šal
,	PUNCT	,
džemperiće	NOUN	džemperiće
tako	ADV	tako
neke	DET	neki
stvarčice	NOUN	stvarčica
koje	DET	koji
su	AUX	jesam
bile	AUX	biti
kao	ADV	kao
da	SCONJ	da
ih	PRON	ona
baba	NOUN	baba
obraduje	VERB	obradovati
.	PUNCT	.
Onda	ADV	onda
heklala	VERB	heklati
stolnjake	NOUN	stolnjak
,	PUNCT	,
čak	PART	čak
i	CCONJ	i
zavese	NOUN	zavesa
.	PUNCT	.
I	CCONJ	i
tako	ADV	tako
goblene	NOUN	goblen
radila	VERB	raditi
baš	PART	baš
ove	DET	ovaj
Vilerove	ADJ	Vilerov
goblene	NOUN	goblen
.	PUNCT	.
E	CCONJ	e
sad	ADV	sad
nisam	AUX	jesam
u	ADP	u
stanju	NOUN	stanje
to	DET	taj
da	SCONJ	da
radim	VERB	raditi
jer	SCONJ	jer
ne	PART	ne
vidim	VERB	viditi
kako	SCONJ	kako
treba	VERB	trebati
.	PUNCT	.
Pa	CCONJ	pa
ne	PART	ne
bolujem	VERB	bolovati
od	ADP	od
ni	PART	ni
od	ADP	od
čega	PRON	šta
imala	VERB	imati
sam	AUX	jesam
jedino	ADV	jedino
u	ADP	u
mladosti	NOUN	mladost
jednu	NUM	jedan
operaciju	NOUN	operacija
,	PUNCT	,
ali	CCONJ	ali
to	DET	taj
je	AUX	jesam
sve	ADV	sve
prošlo	VERB	proći
lepo	ADV	lepo
.	PUNCT	.
To	DET	taj
je	AUX	jesam
bilo	AUX	biti
pre	ADV	pre
udaje	VERB	udavati
i	CCONJ	i
posle	ADP	posle
toga	DET	taj
sam	AUX	jesam
rodila	VERB	roditi
i	CCONJ	i
decu	NOUN	deca
i	CCONJ	i
tako	ADV	tako
da	SCONJ	da
ne	PART	ne
sad	ADV	sad
trenutno	ADV	trenutno
normalno	ADV	normalno
,	PUNCT	,
kao	CCONJ	kao
i	CCONJ	i
sve	DET	sav
stare	ADJ	star
osobe	NOUN	osoba
imam	VERB	imati
pritisak	NOUN	pritisak
visok	ADJ	visok
.	PUNCT	.
Ali	CCONJ	ali
to	DET	taj
je	AUX	jesam
od	ADP	od
pre	ADV	pre
dve	NUM	dva
,	PUNCT	,
tri	NUM	tri
godine	NOUN	godina
,	PUNCT	,
taj	DET	taj
pritisak	NOUN	pritisak
tri	NUM	tri
godina	NOUN	godina
ima	VERB	imati
kako	ADV	kako
.	PUNCT	.
Pijem	VERB	piti
.	PUNCT	.
Pa	CCONJ	pa
pre	ADP	pre
tri	NUM	tri
godine	NOUN	godina
što	SCONJ	što
sam	AUX	jesam
dobila	VERB	dobiti
te	DET	taj
lekove	NOUN	lek
za	ADP	za
pritisak	NOUN	pritisak
.	PUNCT	.
E	CCONJ	e
sad	ADV	sad
kako	SCONJ	kako
se	PART	se
zove	VERB	zvati
.	PUNCT	.
Da	SCONJ	da
,	PUNCT	,
za	ADP	za
pritisak	NOUN	pritisak
,	PUNCT	,
aha	INTJ	aha
.	PUNCT	.
Ne	PART	ne
mogu	VERB	moći
zato	ADV	zato
što	SCONJ	što
mnogo	ADV	mnogo
je	AUX	jesam
ovaj	DET	ovaj
.	PUNCT	.
D	X	d
,	PUNCT	,
a	NOUN	a
ovo	DET	ovaj
ne	PART	ne
mogu	VERB	moći
.	PUNCT	.
A	X	A
i	CCONJ	i
ne	PART	ne
volim	VERB	voliti
da	SCONJ	da
ih	PRON	ona
pijem	VERB	piti
,	PUNCT	,
pa	CCONJ	pa
onda	ADV	onda
uopšte	ADV	uopšte
ne	PART	ne
gledam	VERB	gledati
ni	PART	ni
šta	PRON	šta
piše	VERB	pisati
na	ADP	na
kutiji	NOUN	kutija
.	PUNCT	.
Pa	CCONJ	pa
to	DET	taj
je	AUX	jesam
jedini	ADJ	jedini
,	PUNCT	,
ovako	ADV	ovako
neki	DET	neki
put	NOUN	put
,	PUNCT	,
na	ADP	na
primer	NOUN	primer
eferalgan	NOUN	eferalgan
te	CCONJ	te
za	ADP	za
temperaturu	NOUN	temperatura
ako	SCONJ	ako
dobijem	VERB	dobiti
temperaturu	NOUN	temperatura
.	PUNCT	.
Ne	PART	ne
ovo	DET	ovaj
je	AUX	jesam
stalno	ADV	stalno
samo	PART	samo
za	ADP	za
pritisak	NOUN	pritisak
.	PUNCT	.
Ništa	ADV	Ništa
više	ADV	više
.	PUNCT	.
Pa	CCONJ	pa
sine	VERB	sinuti
,	PUNCT	,
sve	ADV	sve
,	PUNCT	,
ne	PART	ne
znam	VERB	znati
ni	PART	ni
ja	PRON	ja
šta	PRON	šta
da	SCONJ	da
ti	PRON	ti
kažem	VERB	kazati
,	PUNCT	,
sve	ADV	sve
što	SCONJ	što
je	AUX	jesam
bilo	AUX	biti
u	ADP	u
tom	DET	taj
vremenu	NOUN	vreme
.	PUNCT	.
Interesantno	ADJ	interesantan
da	SCONJ	da
,	PUNCT	,
družili	VERB	družiti
smo	AUX	jesam
se	PART	se
na	ADP	na
primer	NOUN	primer
,	PUNCT	,
ne	PART	ne
znam	VERB	znati
šta	PRON	šta
da	SCONJ	da
ti	PRON	ti
kažem	VERB	kazati
,	PUNCT	,
tu	ADV	tu
je	AUX	jesam
bilo	AUX	biti
svega	ADV	svega
i	CCONJ	i
svačega	PRON	svašta
.	PUNCT	.
Eto	PART	eto
tu	ADV	tu
je	AUX	jesam
taj	DET	taj
folklor	NOUN	folklor
.	PUNCT	.
Za	ADP	za
tim	DET	taj
patim	VERB	patiti
što	SCONJ	što
nisam	AUX	jesam
mogla	VERB	moći
kasnije	ADV	kasnije
jer	SCONJ	jer
nisam	AUX	jesam
imala	VERB	imati
gde	ADV	gde
.	PUNCT	.
I	CCONJ	i
tako	ADV	tako
inače	PART	inače
.	PUNCT	.
Kad	SCONJ	kad
sam	AUX	jesam
bila	AUX	biti
mlada	ADJ	mlad
,	PUNCT	,
pa	CCONJ	pa
boga	NOUN	bog
mi	PRON	ja
i	CCONJ	i
do	ADP	do
tridesete	ADJ	trideseti
godine	NOUN	godina
.	PUNCT	.
Ali	CCONJ	ali
to	DET	taj
je	AUX	jesam
u	ADP	u
selu	NOUN	selo
.	PUNCT	.
Imali	VERB	imati
smo	AUX	jesam
organizovano	ADJ	organizovan
i	CCONJ	i
tako	ADV	tako
išli	VERB	ići
smo	AUX	jesam
malo	ADV	malo
i	CCONJ	i
na	ADP	na
takmičenje	NOUN	takmičenje
,	PUNCT	,
bilo	AUX	biti
je	AUX	jesam
lepo	ADV	lepo
.	PUNCT	.
Viđam	VERB	Viđam
puno	ADV	puno
kad	SCONJ	kad
odem	VERB	otići
u	ADP	u
selo	NOUN	selo
.	PUNCT	.
Baš	ADV	Baš
se	PART	se
ispričamo	VERB	ispričati
puno	ADV	puno
,	PUNCT	,
jedno	NUM	jedan
dva	NUM	dva
puta	NOUN	put
smo	AUX	jesam
se	PART	se
i	CCONJ	i
sastajali	VERB	sastajati
svi	DET	sav
negde	ADV	negde
ovako	ADV	ovako
da	SCONJ	da
malo	ADV	malo
pričamo	VERB	pričati
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
Ima	VERB	imati
dosta	ADV	dosta
i	CCONJ	i
umrlih	ADJ	umrli
,	PUNCT	,
koji	DET	koji
nisu	AUX	jesam
više	ADV	više
sa	ADP	sa
nama	PRON	mi
.	PUNCT	.
Pa	CCONJ	pa
bila	AUX	biti
sam	AUX	jesam
bliska	ADJ	blizak
sa	ADP	sa
jednim	NUM	jedan
Tomom	PROPN	Toma
i	CCONJ	i
sa	ADP	sa
jednim	NUM	jedan
Hrančetom	PROPN	Hrančetom
koji	DET	koji
je	AUX	jesam
,	PUNCT	,
tako	ADV	tako
on	PRON	on
je	AUX	jesam
poginuo	VERB	poginuti
,	PUNCT	,
u	ADP	u
stvari	NOUN	stvar
upucali	VERB	upucati
ga	PRON	on
na	ADP	na
benzinskoj	ADJ	benzinski
pumpi	NOUN	pumpa
to	DET	taj
mi	PRON	ja
je	AUX	jesam
bio	AUX	biti
baš	PART	baš
dobar	ADJ	dobar
školski	ADJ	školski
drug	NOUN	drug
.	PUNCT	.
Iz	ADP	iz
srednje	ADJ	srednji
škole	NOUN	škola
imam	VERB	imati
ih	PRON	ona
dosta	ADV	dosta
ovde	ADV	ovde
po	ADP	po
Svilajncu	PROPN	Svilajnac
sa	ADP	sa
kojima	DET	koji
se	PART	se
srećem	VERB	sretati
.	PUNCT	.
Ima	VERB	imati
jedna	NUM	jedan
Vesna	PROPN	Vesna
sa	ADP	sa
kojom	DET	koji
izlazim	VERB	izlaziti
često	ADV	često
.	PUNCT	.
Kad	SCONJ	kad
bude	AUX	biti
preko	ADP	preko
leta	NOUN	let
,	PUNCT	,
izadjem	VERB	izadjem
tu	ADV	tu
u	ADP	u
baštu	NOUN	bašta
malo	ADV	malo
na	ADP	na
sok	NOUN	sok
,	PUNCT	,
malo	ADV	malo
popričamo	VERB	popričati
i	CCONJ	i
onda	SCONJ	onda
se	PART	se
tu	ADV	tu
skupi	VERB	skupiti
i	CCONJ	i
ostalo	VERB	ostati
društvo	NOUN	društvo
kako	SCONJ	kako
ko	PRON	ko
naiđe	VERB	naići
i	CCONJ	i
tako	ADV	tako
uglavnom	ADV	uglavnom
družimo	VERB	družiti
se	PART	se
,	PUNCT	,
ali	CCONJ	ali
nije	AUX	jesam
to	DET	taj
neko	DET	neki
druženje	NOUN	druženje
svakodnevno	ADJ	svakodnevan
ili	CCONJ	ili
misim	ADJ	misim
to	DET	taj
toliko	ADV	toliko
često	ADV	često
da	SCONJ	da
.	PUNCT	.
Jer	SCONJ	jer
sad	ADV	sad
svako	PRON	svako
ima	VERB	imati
svoje	DET	svoj
obaveze	NOUN	obaveza
sine	VERB	sinuti
,	PUNCT	,
svako	PRON	svako
ima	VERB	imati
decu	NOUN	deca
,	PUNCT	,
unučiće	NOUN	unučić
i	CCONJ	i
ne	PART	ne
može	VERB	moći
da	SCONJ	da
iskoristi	VERB	iskoristiti
toliko	ADV	toliko
vreme	NOUN	vreme
.	PUNCT	.
Pa	CCONJ	pa
često	ADV	često
viđam	VERB	viđati
decu	NOUN	deca
preko	ADP	preko
zime	NOUN	zima
sam	ADJ	sam
kod	ADP	kod
njih	PRON	ona
,	PUNCT	,
preko	ADP	preko
leta	NOUN	let
oni	PRON	oni
ili	CCONJ	ili
dođu	VERB	doći
kod	ADP	kod
mene	PRON	ja
.	PUNCT	.
Ili	CCONJ	ili
ja	PRON	ja
odem	VERB	otići
po	ADP	po
neki	DET	neki
put	NOUN	put
,	PUNCT	,
a	ADV	a
žive	VERB	živiti
u	ADP	u
Novom	PROPN	Novom
Sadu	PROPN	Sadu
,	PUNCT	,
a	ADV	a
sad	ADV	sad
šta	PRON	šta
te	PRON	ti
interesuje	VERB	interesovati
.	PUNCT	.
Pa	CCONJ	pa
uglavnom	ADV	uglavnom
su	AUX	jesam
dobri	ADJ	dobar
momci	NOUN	momak
,	PUNCT	,
nemam	VERB	nemati
nekih	DET	neki
problema	NOUN	problem
sa	ADP	sa
njima	PRON	ona
i	CCONJ	i
prema	ADP	prema
meni	PRON	ja
su	AUX	jesam
dobri	ADJ	dobar
i	CCONJ	i
prema	ADP	prema
njima	PRON	ona
dvema	NUM	dva
su	AUX	jesam
.	PUNCT	.
Žive	PROPN	Živa
jedan	NUM	jedan
skroman	ADJ	skroman
život	NOUN	život
.	PUNCT	.
Da	SCONJ	da
.	PUNCT	.
Pa	CCONJ	pa
zadovoljni	ADJ	zadovoljan
su	AUX	jesam
.	PUNCT	.
Znaš	ADV	Znaš
danas	ADV	danas
skoro	ADV	skoro
niko	PRON	niki
nije	AUX	jesam
nešto	PRON	nešto
posebno	ADV	posebno
previše	ADV	previše
zadovoljan	ADJ	zadovoljan
,	PUNCT	,
ali	CCONJ	ali
uglavnom	ADV	uglavnom
mogu	VERB	moći
da	SCONJ	da
opstanu	VERB	opstati
kako	SCONJ	kako
treba	VERB	trebati
da	SCONJ	da
žive	VERB	živiti
.	PUNCT	.
Pa	CCONJ	pa
volim	VERB	voliti
šale	NOUN	šal
,	PUNCT	,
volim	VERB	voliti
ovako	ADV	ovako
da	SCONJ	da
pričam	VERB	pričati
sa	ADP	sa
ljudima	NOUN	ljudi
,	PUNCT	,
volim	VERB	voliti
da	SCONJ	da
brbljam	VERB	brbljati
svašta	PRON	svašta
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
Dobro	ADV	dobro
sine	VERB	sinuti
.	PUNCT	.
