[	PUNCT	[
Kako	ADV	kako
se	PART	se
zovete	VERB	zvati
?	PUNCT	?
]	PUNCT	]
Ignjatović	PROPN	Ignjatović
Milorad	PROPN	Milorad
.	PUNCT	.
[	PUNCT	[
Kada	PROPN	Kada
ste	AUX	jesam
rođeni	VERB	roditi
?	PUNCT	?
]	PUNCT	]
Sedamnaesti	ADJ	sedamnaesti
šesti	ADJ	šesti
_	PUNCT	_
_	PUNCT	_
četrdeset	NUM	četrdeset
-	PUNCT	-
devete	ADJ	deveti
.	PUNCT	.
[	PUNCT	[
Šta	ADV	Šta
ste	AUX	jesam
po	ADP	po
zanimanju	NOUN	zanimanje
?	PUNCT	?
]	PUNCT	]
_	PUNCT	_
_	PUNCT	_
Radnik	PROPN	Radnik
bio	AUX	biti
_	PUNCT	_
_	PUNCT	_
škole	NOUN	škola
,	PUNCT	,
nemam	VERB	nemati
_	PUNCT	_
imam	VERB	imati
samo	PART	samo
osam	NUM	osam
_	PUNCT	_
i	CCONJ	i
više	ADV	više
nisam	AUX	jesam
.	PUNCT	.
[	PUNCT	[
Gde	PROPN	Gde
ste	AUX	jesam
rođeni	VERB	roditi
?	PUNCT	?
]	PUNCT	]
U	VERB	U
Beogradu	PROPN	Beograd
.	PUNCT	.
[	PUNCT	[
Živeli	VERB	Živeli
ste	AUX	jesam
tu	ADV	tu
sve	DET	sav
vreme	NOUN	vreme
?	PUNCT	?
]	PUNCT	]
Molim	ADJ	Molim
?	PUNCT	?
[	PUNCT	[
Živeli	ADJ	Živeli
ste	AUX	jesam
sve	DET	sav
vreme	NOUN	vreme
tu	ADV	tu
?	PUNCT	?
]	PUNCT	]
Da	ADV	Da
.	PUNCT	.
[	PUNCT	[
Govorite	PROPN	Govorite
li	PART	li
neki	DET	neki
strani	ADJ	stran
jezik	NOUN	jezik
?	PUNCT	?
]	PUNCT	]
Ne	ADV	Ne
.	PUNCT	.
[	PUNCT	[
Da	ADV	Da
li	PART	li
volite	VERB	voliti
da	SCONJ	da
čitate	VERB	čitati
?	PUNCT	?
]	PUNCT	]
Da	NOUN	Da
l	X	l
?	PUNCT	?
[	PUNCT	[
Da	ADV	Da
li	PART	li
volite	VERB	voliti
da	SCONJ	da
čitate	VERB	čitati
?	PUNCT	?
]	PUNCT	]
_	PUNCT	_
_	PUNCT	_
Slabo	PROPN	Slabo
.	PUNCT	.
[	PUNCT	[
Da	ADV	Da
li	PART	li
pišete	VERB	pisati
levom	ADJ	levi
ili	CCONJ	ili
desnom	ADJ	desni
rukom	NOUN	ruka
?	PUNCT	?
]	PUNCT	]
[	PUNCT	[
Desnom	ADJ	desni
?	PUNCT	?
]	PUNCT	]
Pa	X	Pa
ovom	DET	ovaj
rukom	NOUN	ruka
.	PUNCT	.
[	PUNCT	[
Ko	PROPN	Ko
su	AUX	jesam
članovi	NOUN	član
vaše	DET	vaš
porodice	NOUN	porodica
?	PUNCT	?
]	PUNCT	]
_	PUNCT	_
Unuk	PROPN	Unuk
.	PUNCT	.
[	PUNCT	[
Imate	PROPN	Imate
li	PART	li
dece	NOUN	deca
?	PUNCT	?
]	PUNCT	]
Imam	PROPN	Imam
.	PUNCT	.
[	PUNCT	[
Možete	PROPN	Možete
li	PART	li
malo	ADV	malo
da	SCONJ	da
pričate	VERB	pričati
o	ADP	o
njima	PRON	ona
?	PUNCT	?
]	PUNCT	]
Imam	PROPN	Imam
_	PUNCT	_
_	PUNCT	_
sina	NOUN	sin
,	PUNCT	,
sedamdeset	NUM	sedamdeset
i	CCONJ	i
_	PUNCT	_
koje	DET	koji
godište	NOUN	godište
i	CCONJ	i
druge	ADJ	drugi
,	PUNCT	,
i	CCONJ	i
ovu	DET	ovaj
_	PUNCT	_
_	PUNCT	_
ćerku	NOUN	ćerka
,	PUNCT	,
sedamdeset	NUM	sedamdeset
i	CCONJ	i
_	PUNCT	_
_	PUNCT	_
četvrto	ADJ	četvrti
.	PUNCT	.
[	PUNCT	[
Imate	PROPN	Imate
li	PART	li
unučiće	NOUN	unučić
?	PUNCT	?
]	PUNCT	]
Imam	VERB	imati
unuku	NOUN	unuka
od	ADP	od
nje	PRON	ona
_	PUNCT	_
i	CCONJ	i
od	ADP	od
_	PUNCT	_
sina	NOUN	sin
,	PUNCT	,
sina	NOUN	sin
.	PUNCT	.
[	PUNCT	[
Koliko	ADJ	Koliko
imaju	VERB	imati
godina	NOUN	godina
,	PUNCT	,
možete	VERB	moći
li	PART	li
malo	ADV	malo
da	SCONJ	da
pričate	VERB	pričati
o	ADP	o
njima	PRON	ona
?	PUNCT	?
]	PUNCT	]
E	ADV	E
pa	CCONJ	pa
sad	ADV	sad
,	PUNCT	,
to	DET	taj
ona	PRON	ona
bolje	ADV	bolje
zna	VERB	znati
.	PUNCT	.
(	PUNCT	(
unuka	NOUN	unuka
16	NUM	16
,	PUNCT	,
unuk	NOUN	unuk
17	NUM	17
)	PUNCT	)
To	PROPN	To
ona	PRON	ona
bolje	ADV	bolje
zna	VERB	znati
,	PUNCT	,
ja	PRON	ja
ne	PART	ne
znam	VERB	znati
.	PUNCT	.
[	PUNCT	[
Šta	ADV	Šta
volite	VERB	voliti
da	SCONJ	da
radite	VERB	raditi
u	ADP	u
slobodno	ADJ	slobodan
vreme	NOUN	vreme
?	PUNCT	?
Imate	VERB	imati
li	PART	li
neki	DET	neki
hobi	NOUN	hobi
?	PUNCT	?
Jeste	AUX	jesam
li	PART	li
se	PART	se
možda	PART	možda
bavili	VERB	baviti
nečim	PRON	nešta
pored	ADP	pored
posla	NOUN	posao
koji	DET	koji
ste	AUX	jesam
radili	VERB	raditi
?	PUNCT	?
]	PUNCT	]
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
Dok	PROPN	Dok
sam	AUX	jesam
bio	AUX	biti
zdrav	ADJ	zdrav
_	PUNCT	_
igrao	VERB	igrati
sam	AUX	jesam
fudbal	NOUN	fudbal
,	PUNCT	,
a	ADV	a
ovako	ADV	ovako
_	PUNCT	_
_	PUNCT	_
ništa	ADV	ništa
naročito	ADV	naročito
.	PUNCT	.
[	PUNCT	[
Volite	PROPN	Volite
li	PART	li
da	SCONJ	da
gledate	VERB	gledati
fudbal	NOUN	fudbal
sad	ADV	sad
,	PUNCT	,
pratite	VERB	pratiti
li	PART	li
sport	NOUN	sport
?	PUNCT	?
]	PUNCT	]
Pa	X	Pa
sad	ADV	sad
_	PUNCT	_
slabije	ADV	slabije
,	PUNCT	,
ovaj	DET	ovaj
televizor	NOUN	televizor
ima	VERB	imati
samo	PART	samo
jedan	NUM	jedan
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
On	ADV	On
_	PUNCT	_
nema	VERB	nemati
_	PUNCT	_
_	PUNCT	_
daljinski	ADJ	daljinski
,	PUNCT	,
nego	CCONJ	nego
samo	PART	samo
jedan	NUM	jedan
taj	DET	taj
.	PUNCT	.
_	PUNCT	_
Pa	X	Pa
_	PUNCT	_
_	PUNCT	_
volim	VERB	voliti
,	PUNCT	,
ne	PART	ne
znam	VERB	znati
,	PUNCT	,
košarku	NOUN	košarka
,	PUNCT	,
fudbal	NOUN	fudbal
,	PUNCT	,
odbojku	NOUN	odbojka
,	PUNCT	,
vaterpolo	NOUN	vaterpolo
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
Kad	ADV	kad
igra	VERB	igrati
Đoković	PROPN	Đoković
,	PUNCT	,
on	PRON	on
je	AUX	jesam
broj	NOUN	broj
jedan	NUM	jedan
,	PUNCT	,
gledam	VERB	gledati
sve	ADV	sve
.	PUNCT	.
kad	SCONJ	kad
je	AUX	jesam
on	PRON	on
bilo	AUX	biti
osam	NUM	osam
,	PUNCT	,
devet	NUM	devet
,	PUNCT	,
deset	NUM	deset
noću	ADV	noću
,	PUNCT	,
dok	SCONJ	dok
sam	AUX	jesam
stanovao	VERB	stanovati
,	PUNCT	,
ja	PRON	ja
_	PUNCT	_
upalim	ADJ	upao
,	PUNCT	,
smanjim	VERB	smanjiti
,	PUNCT	,
ali	CCONJ	ali
Đokovića	PROPN	Đoković
obavezno	ADV	obavezno
.	PUNCT	.
[	PUNCT	[
Volite	PROPN	Volite
li	PART	li
još	ADV	još
neki	DET	neki
sport	NOUN	sport
onako	ADV	onako
baš	PART	baš
?	PUNCT	?
]	PUNCT	]
Pa	X	Pa
vaterpolo	NOUN	vaterpolo
,	PUNCT	,
kažem	VERB	kazati
vaterpolo	NOUN	vaterpolo
_	PUNCT	_
_	PUNCT	_
odbojku	NOUN	odbojka
košarku	NOUN	košarka
_	PUNCT	_
fudbal	NOUN	fudbal
i	CCONJ	i
tako	ADV	tako
,	PUNCT	,
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
ništa	ADV	ništa
naročito	ADV	naročito
.	PUNCT	.
[	PUNCT	[
Da	ADV	Da
li	PART	li
se	PART	se
družite	VERB	družiti
sa	ADP	sa
nekim	DET	neki
u	ADP	u
domu	NOUN	dom
,	PUNCT	,
da	SCONJ	da
li	PART	li
ste	AUX	jesam
zadovoljni	ADJ	zadovoljan
smeštajem	NOUN	smeštaj
?	PUNCT	?
]	PUNCT	]
Ne	ADV	Ne
,	PUNCT	,
_	PUNCT	_
svi	DET	sav
novi	ADJ	nov
ljudi	NOUN	ljudi
su	AUX	jesam
_	PUNCT	_
umrli	VERB	umreti
.	PUNCT	.
Ostali	VERB	ostati
smo	AUX	jesam
mi	PRON	ja
.	PUNCT	.
Tako	ADV	tako
_	PUNCT	_
ja	PRON	ja
sam	AUX	jesam
_	PUNCT	_
nogu	NOUN	noga
_	PUNCT	_
slomio	VERB	slomiti
,	PUNCT	,
_	PUNCT	_
a	ADV	a
pet	NUM	pet
meseci	NOUN	mesec
sam	AUX	jesam
nosio	VERB	nositi
gips	NOUN	gips
.	PUNCT	.
Evo	PART	evo
možete	VERB	moći
da	SCONJ	da
vidite	VERB	viditi
.	PUNCT	.
[	PUNCT	[
A	X	A
kako	SCONJ	kako
ste	AUX	jesam
je	AUX	jesam
slomili	VERB	slomiti
?	PUNCT	?
Jeste	AUX	jesam
pali	VERB	pasti
ili	CCONJ	ili
?	PUNCT	?
]	PUNCT	]
U	ADV	U
stanu	VERB	stati
_	PUNCT	_
pa	CCONJ	pa
pa	CCONJ	pa
krenuo	VERB	krenuti
i	CCONJ	i
od	ADP	od
jedanput	ADV	jedanput
mi	PRON	ja
se	PART	se
u	ADP	u
glavi	NOUN	glava
zavrtelo	VERB	zavrteti
i	CCONJ	i
noga	NOUN	noga
mi	PRON	ja
je	AUX	jesam
skroz	ADV	skroz
ovako	ADV	ovako
otišla	VERB	otići
.	PUNCT	.
Tako	ADV	tako
mi	PRON	ja
je	AUX	jesam
rekao	VERB	reći
i	CCONJ	i
ortoped	NOUN	ortoped
,	PUNCT	,
da	SCONJ	da
sam	AUX	jesam
imao	VERB	imati
veliku	ADJ	velik
sreću	NOUN	sreća
što	SCONJ	što
nisam	AUX	jesam
kuk	NOUN	kuk
,	PUNCT	,
nego	CCONJ	nego
sam	AUX	jesam
to	DET	taj
i	CCONJ	i
butni	ADJ	butni
mišić	NOUN	mišić
.	PUNCT	.
_	PUNCT	_
Pa	X	Pa
sam	AUX	jesam
,	PUNCT	,
kažem	VERB	kazati
,	PUNCT	,
prvi	ADJ	prvi
put	NOUN	put
,	PUNCT	,
kad	SCONJ	kad
mi	PRON	ja
na	ADP	na
Banjici	PROPN	Banjica
stavili	VERB	staviti
,	PUNCT	,
sam	AUX	jesam
nosio	VERB	nositi
tri	NUM	tri
meseca	NOUN	mesec
,	PUNCT	,
pa	CCONJ	pa
sam	DET	sam
bio	AUX	biti
na	ADP	na
kontroli	NOUN	kontrola
,	PUNCT	,
pa	CCONJ	pa
su	AUX	jesam
mi	PRON	ja
skinuli	VERB	skinuti
onaj	DET	onaj
stari	ADJ	star
i	CCONJ	i
stavili	VERB	staviti
nov	ADJ	nov
.	PUNCT	.
E	CCONJ	e
pa	CCONJ	pa
sam	DET	sam
,	PUNCT	,
koliko	ADV	koliko
beše	AUX	biti
,	PUNCT	,
šest	NUM	šest
nedelja	NOUN	nedelja
sam	AUX	jesam
ga	PRON	on
nosio	VERB	nositi
.	PUNCT	.
_	PUNCT	_
E	ADV	E
_	PUNCT	_
_	PUNCT	_
sad	ADV	sad
mi	PRON	ja
je	AUX	jesam
dao	VERB	dati
banju	NOUN	banja
.	PUNCT	.
I	CCONJ	i
banju	NOUN	banja
sam	AUX	jesam
dobio	VERB	dobiti
.	PUNCT	.
E	CCONJ	e
banju	NOUN	banja
sam	AUX	jesam
dobio	VERB	dobiti
,	PUNCT	,
tu	ADV	tu
kod	ADP	kod
Šapca	PROPN	Šabac
.	PUNCT	.
Kako	SCONJ	kako
se	PART	se
beše	AUX	biti
zove	VERB	zvati
ova	DET	ovaj
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
[	PUNCT	[
Koviljača	PROPN	Koviljača
]	PUNCT	]
E	ADV	E
tu	ADV	tu
.	PUNCT	.
E	CCONJ	e
sad	ADV	sad
čekam	VERB	čekati
rešenje	NOUN	rešenje
.	PUNCT	.
Kazali	VERB	kazati
su	AUX	jesam
do	ADV	do
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
petka	NOUN	petak
,	PUNCT	,
valjda	PART	valjda
da	SCONJ	da
treba	VERB	trebati
.	PUNCT	.
Da	SCONJ	da
dobio	VERB	dobiti
sam	ADJ	sam
,	PUNCT	,
ali	CCONJ	ali
ali	CCONJ	ali
sada	ADV	sada
zavisi	VERB	zavisiti
u	ADP	u
banji	NOUN	banja
kad	SCONJ	kad
ima	VERB	imati
_	PUNCT	_
_	PUNCT	_
slobodno	ADV	slobodno
_	PUNCT	_
mesto	NOUN	mesto
.	PUNCT	.
[	PUNCT	[
Lepa	PROPN	Lepa
je	AUX	jesam
Banja	PROPN	Banja
Koviljača	PROPN	Koviljača
.	PUNCT	.
]	PUNCT	]
Bio	VERB	biti
sam	AUX	jesam
ja	PRON	ja
,	PUNCT	,
bio	AUX	biti
sam	AUX	jesam
kad	SCONJ	kad
sam	AUX	jesam
ovu	DET	ovaj
nogu	NOUN	noga
slomio	VERB	slomiti
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
Ja	ADV	Ja
sam	AUX	jesam
tako	ADV	tako
,	PUNCT	,
_	PUNCT	_
_	PUNCT	_
a	ADV	a
sad	ADV	sad
sam	AUX	jesam
tu	ADV	tu
skoro	ADV	skoro
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
pet	NUM	pet
meseci	NOUN	mesec
,	PUNCT	,
sam	AUX	jesam
tu	ADV	tu
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
i	CCONJ	i
eto	PART	eto
.	PUNCT	.
[	PUNCT	[
Je	NOUN	Je
l	X	l
'	PUNCT	'
Vam	VERB	Vam
lepo	ADV	lepo
ovde	ADV	ovde
,	PUNCT	,
jeste	AUX	jesam
li	PART	li
zadovoljni	ADJ	zadovoljan
?	PUNCT	?
]	PUNCT	]
Nisam	PROPN	Nisam
.	PUNCT	.
[	PUNCT	[
Niste	PROPN	Niste
?	PUNCT	?
]	PUNCT	]
Nisam	PROPN	Nisam
.	PUNCT	.
Nemaju	VERB	nemati
Bog	ADV	Bog
zna	VERB	znati
šta	PRON	šta
neku	DET	neki
_	PUNCT	_
hranu	NOUN	hrana
_	PUNCT	_
Nema	NOUN	Nema
,	PUNCT	,
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
da	SCONJ	da
vam	PRON	vi
kažem	VERB	kazati
,	PUNCT	,
jedva	ADV	jedva
čekam	VERB	čekati
_	PUNCT	_
_	PUNCT	_
da	SCONJ	da
odem	VERB	otići
u	ADP	u
_	PUNCT	_
banju	NOUN	banja
,	PUNCT	,
da	SCONJ	da
se	PART	se
izgubim	VERB	izgubiti
odavde	ADV	odavde
jer	SCONJ	jer
pet	NUM	pet
meseci	NOUN	mesec
sam	AUX	jesam
na	ADP	na
ovome	DET	ovaj
.	PUNCT	.
[	PUNCT	[
Je	NOUN	Je
l	X	l
'	PUNCT	'
možete	VERB	moći
malo	ADV	malo
da	SCONJ	da
ustanete	VERB	ustati
?	PUNCT	?
]	PUNCT	]
Ne	VERB	Ne
pa	CCONJ	pa
mogu	VERB	moći
_	PUNCT	_
ovako	ADV	ovako
.	PUNCT	.
Samo	PART	samo
mogu	VERB	moći
ja	PRON	ja
,	PUNCT	,
_	PUNCT	_
ali	CCONJ	ali
_	PUNCT	_
kičma	NOUN	kičma
me	PRON	ja
_	PUNCT	_
od	ADP	od
ležanja	NOUN	ležanje
,	PUNCT	,
_	PUNCT	_
to	DET	taj
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
Sad	PROPN	Sad
su	AUX	jesam
mi	PRON	ja
stavili	VERB	staviti
_	PUNCT	_
jastuk	NOUN	jastuk
,	PUNCT	,
da	SCONJ	da
mi	PRON	ja
je	AUX	jesam
noga	NOUN	noga
malo	ADV	malo
viša	ADJ	viša
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
a	ADV	a
imam	VERB	imati
_	PUNCT	_
taj	DET	taj
_	PUNCT	_
_	PUNCT	_
otok	NOUN	otok
,	PUNCT	,
evo	PART	evo
evo	PART	evo
vidi	VERB	viditi
se	PART	se
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
Ovi	ADV	Ovi
kažu	VERB	kazati
,	PUNCT	,
navodno	ADV	navodno
što	SCONJ	što
se	PART	se
ne	PART	ne
krećem	VERB	kretati
,	PUNCT	,
što	SCONJ	što
ne	PART	ne
idem	VERB	ići
.	PUNCT	.
Kaže	PROPN	Kaže
,	PUNCT	,
on	PRON	on
on	PRON	on
bi	AUX	biti
pao	VERB	pasti
da	SCONJ	da
se	PART	se
ja	PRON	ja
krećem	VERB	kretati
.	PUNCT	.
Ali	CCONJ	ali
on	PRON	on
stoji	VERB	stajati
.	PUNCT	.
_	PUNCT	_
Ovde	PROPN	Ovde
su	AUX	jesam
trebali	VERB	trebati
na	ADP	na
_	PUNCT	_
Banjici	PROPN	Banjica
da	SCONJ	da
mi	PRON	ja
operišu	VERB	operisati
,	PUNCT	,
da	SCONJ	da
mi	PRON	ja
stavljaju	VERB	stavljati
novo	ADJ	nov
ali	CCONJ	ali
nisu	AUX	jesam
smeli	VERB	smesti
zbog	ADP	zbog
srca	NOUN	srce
,	PUNCT	,
srce	NOUN	srce
mi	PRON	ja
je	AUX	jesam
slabije	ADJ	slab
i	CCONJ	i
onda	SCONJ	onda
su	AUX	jesam
mi	PRON	ja
a	ADV	a
gips	NOUN	gips
su	AUX	jesam
mi	PRON	ja
stavili	VERB	staviti
.	PUNCT	.
I	CCONJ	i
pet	NUM	pet
meseci	NOUN	mesec
_	PUNCT	_
_	PUNCT	_
sam	AUX	jesam
ga	PRON	on
,	PUNCT	,
dovde	ADV	dovde
mi	PRON	ja
je	AUX	jesam
bilo	AUX	biti
ona	DET	onaj
vrućina	NOUN	vrućina
,	PUNCT	,
ono	PRON	ono
.	PUNCT	.
Poludeo	VERB	poludeti
sam	AUX	jesam
bio	AUX	biti
,	PUNCT	,
al	CCONJ	al
sam	AUX	jesam
nekako	ADV	nekako
izdržao	VERB	izdržati
,	PUNCT	,
_	PUNCT	_
eto	PART	eto
.	PUNCT	.
[	PUNCT	[
Je	NOUN	Je
l	X	l
'	PUNCT	'
vas	PRON	vi
boli	VERB	bosti
to	DET	taj
mnogo	ADV	mnogo
?	PUNCT	?
]	PUNCT	]
Pa	X	Pa
koleno	NOUN	koleno
me	PRON	ja
,	PUNCT	,
_	PUNCT	_
_	PUNCT	_
s	ADP	s
vreme	NOUN	vreme
_	PUNCT	_
na	ADP	na
na	ADP	na
vreme	NOUN	vreme
žiga	VERB	žigati
.	PUNCT	.
Valjda	PART	valjda
se	PART	se
_	PUNCT	_
_	PUNCT	_
skuplja	VERB	skupljati
,	PUNCT	,
da	SCONJ	da
l	X	l
'	PUNCT	'
šta	PRON	šta
li	PART	li
je	AUX	jesam
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
Kaže	PROPN	Kaže
,	PUNCT	,
da	SCONJ	da
ne	PART	ne
smem	VERB	smeti
_	PUNCT	_
mmnogo	ADV	mmnogo
,	PUNCT	,
treba	VERB	trebati
da	SCONJ	da
mirujem	VERB	mirovati
,	PUNCT	,
treba	VERB	trebati
ovo	DET	ovaj
,	PUNCT	,
treba	VERB	trebati
ono	PRON	ono
.	PUNCT	.
_	PUNCT	_
Ne	ADV	Ne
znam	VERB	znati
.	PUNCT	.
_	PUNCT	_
Jastuk	PROPN	Jastuk
je	AUX	jesam
tu	ADV	tu
_	PUNCT	_
i	CCONJ	i
_	PUNCT	_
_	PUNCT	_
evo	PART	evo
vidite	VERB	viditi
sve	DET	sav
je	AUX	jesam
pod	ADP	pod
otokom	NOUN	otok
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
E	ADV	E
sad	ADV	sad
,	PUNCT	,
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
kad	SCONJ	kad
će	AUX	hteti
ovi	DET	ovaj
iz	ADP	iz
iz	ADP	iz
Nemanjine	ADJ	Nemanjin
da	SCONJ	da
pošalju	VERB	poslati
.	PUNCT	.
_	PUNCT	_
Rekli	PROPN	Rekli
su	AUX	jesam
do	ADV	do
_	PUNCT	_
ove	DET	ovaj
nedelje	NOUN	nedelja
valjda	PART	valjda
.	PUNCT	.
[	PUNCT	[
Da	ADV	Da
li	PART	li
se	PART	se
ovde	ADV	ovde
u	ADP	u
domu	NOUN	dom
organizuju	VERB	organizovati
neke	DET	neki
aktivnosti	NOUN	aktivnost
?	PUNCT	?
]	PUNCT	]
_	PUNCT	_
_	PUNCT	_
Kako	ADV	kako
mislite	VERB	misliti
?	PUNCT	?
[	PUNCT	[
Da	ADV	Da
li	PART	li
zajedno	ADV	zajedno
ručate	VERB	ručati
ili	CCONJ	ili
igrate	VERB	igrati
neke	DET	neki
društvene	ADJ	društven
igre	NOUN	igra
?	PUNCT	?
]	PUNCT	]
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
Pa	X	Pa
šta	PRON	šta
znam	VERB	znati
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
A	X	A
družio	VERB	družiti
sam	AUX	jesam
se	PART	se
sa	ADP	sa
tim	DET	taj
prijateljem	NOUN	prijatelj
,	PUNCT	,
_	PUNCT	_
ali	CCONJ	ali
na	ADP	na
nažalost	ADV	nažalost
on	PRON	on
je	AUX	jesam
_	PUNCT	_
umro	VERB	umreti
_	PUNCT	_
i	CCONJ	i
_	PUNCT	_
_	PUNCT	_
i	CCONJ	i
nema	VERB	nemati
ono	PRON	ono
staro	ADJ	star
,	PUNCT	,
a	ADJ	a
društvo	NOUN	društvo
se	PART	se
_	PUNCT	_
rasturilo	VERB	rasturiti
,	PUNCT	,
svaki	DET	svaki
na	ADP	na
svoju	DET	svoj
stranu	NOUN	strana
.	PUNCT	.
Neko	DET	neki
se	PART	se
o	ADP	o
oženio	VERB	oženiti
,	PUNCT	,
neko	PRON	neko
otišo	VERB	otišo
,	PUNCT	,
_	PUNCT	_
_	PUNCT	_
tako	ADV	tako
da	SCONJ	da
_	PUNCT	_
_	PUNCT	_
nije	AUX	jesam
više	ADV	više
kao	ADV	kao
_	PUNCT	_
_	PUNCT	_
nekada	ADV	nekada
.	PUNCT	.
_	PUNCT	_
Nekada	ADV	nekada
smo	AUX	jesam
_	PUNCT	_
_	PUNCT	_
znali	VERB	znati
da	SCONJ	da
sednemo	VERB	sesti
,	PUNCT	,
da	SCONJ	da
kupimo	VERB	kupiti
gajbu	NOUN	gajba
_	PUNCT	_
piva	NOUN	piva
i	CCONJ	i
gitaru	NOUN	gitara
.	PUNCT	.
I	CCONJ	i
da	SCONJ	da
sednemo	VERB	sesti
i	CCONJ	i
_	PUNCT	_
do	ADP	do
deset	NUM	deset
,	PUNCT	,
jedanest	NOUN	jedanest
,	PUNCT	,
dvanest	NOUN	dvanest
sati	NOUN	sat
,	PUNCT	,
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
da	SCONJ	da
.	PUNCT	.
Ali	CCONJ	ali
toga	DET	taj
više	ADV	više
nema	VERB	nemati
.	PUNCT	.
[	PUNCT	[
Je	NOUN	Je
l	X	l
'	PUNCT	'
znate	VERB	znati
da	SCONJ	da
svirate	VERB	svirati
gitaru	NOUN	gitara
?	PUNCT	?
]	PUNCT	]
Ne	ADV	Ne
,	PUNCT	,
ne	PART	ne
znam	VERB	znati
.	PUNCT	.
[	PUNCT	[
Šta	ADV	Šta
volite	VERB	voliti
od	ADP	od
muzike	NOUN	muzika
da	SCONJ	da
slušate	VERB	slušati
?	PUNCT	?
]	PUNCT	]
_	PUNCT	_
_	PUNCT	_
Pa	X	Pa
većinom	NOUN	većina
_	PUNCT	_
_	PUNCT	_
voleo	VERB	voleti
sam	AUX	jesam
_	PUNCT	_
_	PUNCT	_
Đorđa	PROPN	Đorđe
Marjanovića	PROPN	Marjanović
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
Onda	PROPN	Onda
ima	VERB	imati
ove	DET	ovaj
_	PUNCT	_
narodne	ADJ	narodni
_	PUNCT	_
kao	CCONJ	kao
što	SCONJ	što
je	AUX	jesam
Miroslav	PROPN	Miroslav
,	PUNCT	,
Lepa	PROPN	Lepa
_	PUNCT	_
Brena	PROPN	Brena
,	PUNCT	,
ne	PART	ne
znam	VERB	znati
,	PUNCT	,
_	PUNCT	_
Miki	PROPN	Mika
dok	SCONJ	dok
je	AUX	jesam
bio	AUX	biti
živ	ADJ	živ
.	PUNCT	.
_	PUNCT	_
Onda	PROPN	Onda
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
Harisa	PROPN	Haris
,	PUNCT	,
ovoga	DET	ovaj
Džinovića	PROPN	Džinović
_	PUNCT	_
valjda	PART	valjda
.	PUNCT	.
I	CCONJ	i
tako	ADV	tako
tu	ADV	tu
i	CCONJ	i
tamo	ADV	tamo
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
Išli	PROPN	Išli
smo	AUX	jesam
u	ADP	u
Gradsku	PROPN	Gradsku
_	PUNCT	_
pivnicu	NOUN	pivnica
.	PUNCT	.
To	DET	taj
je	AUX	jesam
ona	PRON	ona
kod	ADP	kod
Vuka	PROPN	Vuk
,	PUNCT	,
a	ADV	a
bioskopa	NOUN	bioskop
sto	NOUN	sto
je	AUX	jesam
_	PUNCT	_
u	ADP	u
rupi	NOUN	rupa
.	PUNCT	.
Onda	SCONJ	onda
smo	AUX	jesam
se	PART	se
svi	DET	sav
celokupno	ADJ	celokupan
,	PUNCT	,
_	PUNCT	_
i	CCONJ	i
odemo	VERB	otići
na	ADP	na
,	PUNCT	,
na	ADP	na
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
Krigle	PROPN	Krigle
,	PUNCT	,
pivo	NOUN	piva
.	PUNCT	.
I	CCONJ	i
onda	ADV	onda
sednemo	VERB	sesti
za	ADP	za
onaj	DET	onaj
sto	NOUN	sto
_	PUNCT	_
i	CCONJ	i
_	PUNCT	_
tu	ADV	tu
.	PUNCT	.
Ili	CCONJ	ili
odemo	VERB	otići
u	ADP	u
Orašac	PROPN	Orašac
preko	ADP	preko
puta	NOUN	put
Vuka	PROPN	Vuk
i	CCONJ	i
onda	ADV	onda
uvatimo	VERB	uvatiti
dva	NUM	dva
_	PUNCT	_
stola	NOUN	sto
_	PUNCT	_
i	CCONJ	i
onda	ADV	onda
kolko	ADV	kolko
smo	AUX	jesam
tu	ADV	tu
,	PUNCT	,
svaki	DET	svaki
iz	ADP	iz
džepa	NOUN	džep
izvadi	VERB	izvaditi
i	CCONJ	i
kolko	ADV	kolko
ko	PRON	ko
,	PUNCT	,
i	CCONJ	i
zovemo	VERB	zvati
onoga	DET	onaj
_	PUNCT	_
Miću	PROPN	Mića
.	PUNCT	.
Bio	AUX	biti
neki	DET	neki
mi	PRON	ja
rekao	VERB	reći
,	PUNCT	,
za	ADP	za
ove	DET	ovaj
pare	NOUN	par
,	PUNCT	,
_	PUNCT	_
ćevape	NOUN	ćevap
i	CCONJ	i
pivo	NOUN	piva
.	PUNCT	.
I	CCONJ	i
on	PRON	on
izbroji	VERB	izbrojiti
i	CCONJ	i
kaže	VERB	kazati
,	PUNCT	,
_	PUNCT	_
toliko	ADV	toliko
.	PUNCT	.
_	PUNCT	_
Rekoh	VERB	reći
,	PUNCT	,
daj	INTJ	daj
onda	ADV	onda
sednemo	VERB	sesti
.	PUNCT	.
_	PUNCT	_
Salata	PROPN	Salata
to	DET	taj
_	PUNCT	_
_	PUNCT	_
i	CCONJ	i
kažem	VERB	kazati
,	PUNCT	,
_	PUNCT	_
_	PUNCT	_
išli	VERB	ići
smo	AUX	jesam
tu	ADV	tu
i	CCONJ	i
i	CCONJ	i
gore	ADV	gore
kod	ADP	kod
Vuka	PROPN	Vuk
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
Kako	ADV	kako
se	PART	se
zove	VERB	zvati
ona	PRON	ona
kafana	NOUN	kafana
sa	ADP	sa
desne	ADJ	desni
strane	NOUN	strana
,	PUNCT	,
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
velika	ADJ	velik
što	SCONJ	što
ima	VERB	imati
i	CCONJ	i
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
i	CCONJ	i
baštu	NOUN	bašta
?	PUNCT	?
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
Uh	PROPN	Uh
,	PUNCT	,
kako	SCONJ	kako
joj	PRON	ona
je	AUX	jesam
ime	NOUN	ime
?	PUNCT	?
_	PUNCT	_
(	PUNCT	(
obraća	VERB	obraćati
se	PART	se
suprugi	NOUN	suprugi
i	CCONJ	i
pita	VERB	pitati
je	AUX	jesam
za	ADP	za
ime	NOUN	ime
kafane	NOUN	kafana
,	PUNCT	,
na	ADP	na
šta	PRON	šta
ona	PRON	ona
odgovara	VERB	odgovarati
da	SCONJ	da
nije	AUX	jesam
nikad	ADV	nikad
bila	AUX	biti
)	PUNCT	)
Tu	VERB	Tu
je	AUX	jesam
ona	PRON	ona
,	PUNCT	,
pa	CCONJ	pa
znaš	VERB	znati
frizerska	ADJ	frizerski
,	PUNCT	,
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
pa	CCONJ	pa
velika	ADJ	velik
ona	PRON	ona
_	PUNCT	_
kafana	NOUN	kafana
brate	NOUN	brata
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
Kažem	PROPN	Kažem
,	PUNCT	,
tu	ADV	tu
tu	ADV	tu
i	CCONJ	i
tamo	ADV	tamo
,	PUNCT	,
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
a	ADV	a
u	ADP	u
slobodno	ADJ	slobodan
vreme	NOUN	vreme
odem	VERB	otići
na	ADP	na
pijac	NOUN	pijac
.	PUNCT	.
_	PUNCT	_
Jer	ADV	Jer
sam	AUX	jesam
tamo	ADV	tamo
znao	VERB	znati
neke	DET	neki
prijatelje	NOUN	prijatelj
iz	ADP	iz
iz	ADP	iz
njenoga	DET	njen
,	PUNCT	,
odakle	ADV	odakle
je	AUX	jesam
_	PUNCT	_
_	PUNCT	_
ona	PRON	ona
.	PUNCT	.
I	CCONJ	i
onda	ADV	onda
kupimo	VERB	kupiti
tamo	ADV	tamo
_	PUNCT	_
_	PUNCT	_
pivo	NOUN	piva
,	PUNCT	,
sednemo	VERB	sesti
_	PUNCT	_
_	PUNCT	_
i	CCONJ	i
onda	ADV	onda
hleba	NOUN	hleb
,	PUNCT	,
salata	NOUN	salata
,	PUNCT	,
ne	PART	ne
znam	VERB	znati
,	PUNCT	,
luka	NOUN	luk
,	PUNCT	,
_	PUNCT	_
_	PUNCT	_
slaninica	NOUN	slaninica
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
Onda	ADJ	Onda
bilo	AUX	biti
lulubenica	NOUN	lulubenica
,	PUNCT	,
_	PUNCT	_
_	PUNCT	_
onda	ADV	onda
bilo	AUX	biti
.	PUNCT	.
Ali	CCONJ	ali
_	PUNCT	_
nažalost	ADV	nažalost
,	PUNCT	,
_	PUNCT	_
njih	PRON	ona
više	ADV	više
nema	VERB	nemati
,	PUNCT	,
umrli	VERB	umreti
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
A	X	A
,	PUNCT	,
a	ADV	a
na	ADP	na
pijaci	NOUN	pijaca
nisam	AUX	jesam
bio	AUX	biti
,	PUNCT	,
ne	PART	ne
pamtim	VERB	pamtiti
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
Je	NOUN	Je
l	X	l
'	PUNCT	'
to	DET	taj
sve	DET	sav
?	PUNCT	?
[	PUNCT	[
Je	NOUN	Je
l	X	l
'	PUNCT	'
možete	VERB	moći
još	PART	još
nešto	ADV	nešto
da	SCONJ	da
mi	PRON	ja
ispričate	VERB	ispričati
,	PUNCT	,
možda	PART	možda
kad	SCONJ	kad
ste	AUX	jesam
bili	AUX	biti
mali	ADJ	mali
?	PUNCT	?
]	PUNCT	]
O	VERB	O
meni	PRON	ja
?	PUNCT	?
[	PUNCT	[
Je	NOUN	Je
l	X	l
'	PUNCT	'
imate	VERB	imati
braće	NOUN	braća
ili	CCONJ	ili
sestara	NOUN	sestra
?	PUNCT	?
]	PUNCT	]
_	PUNCT	_
_	PUNCT	_
Brat	PROPN	Brat
mi	PRON	ja
je	AUX	jesam
,	PUNCT	,
pre	ADV	pre
koliko	ADV	koliko
ima	VERB	imati
,	PUNCT	,
_	PUNCT	_
pre	ADP	pre
godinu	NOUN	godina
dana	NOUN	dan
,	PUNCT	,
umro	VERB	umreti
.	PUNCT	.
_	PUNCT	_
Stariji	PROPN	Stariji
je	AUX	jesam
od	ADP	od
mene	PRON	ja
.	PUNCT	.
On	PRON	on
je	AUX	jesam
umro	VERB	umreti
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
Njega	PROPN	Njegi
nema	VERB	nemati
.	PUNCT	.
Eto	PART	eto
ja	PRON	ja
sam	AUX	jesam
sam	AUX	jesam
.	PUNCT	.
_	PUNCT	_
Živim	ADJ	Živim
sa	ADP	sa
njom	PRON	ona
,	PUNCT	,
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
a	ADV	a
ćerka	NOUN	ćerka
mi	PRON	ja
je	AUX	jesam
frizerka	NOUN	frizerka
.	PUNCT	.
Evo	PART	evo
sad	ADV	sad
me	PRON	ja
baš	PART	baš
_	PUNCT	_
ošišala	VERB	ošišati
.	PUNCT	.
Ja	PRON	ja
je	AUX	jesam
baš	PART	baš
preko	ADP	preko
telefona	NOUN	telefon
zovem	VERB	zvati
,	PUNCT	,
rekoh	VERB	reći
,	PUNCT	,
ajde	INTJ	ajde
smiluj	VERB	smilovati
se	PART	se
već	PART	već
jednom	ADV	jednom
da	SCONJ	da
me	PRON	ja
ošišaš	VERB	ošišati
.	PUNCT	.
Kad	SCONJ	kad
krenem	VERB	krenuti
u	ADP	u
banju	NOUN	banja
,	PUNCT	,
da	SCONJ	da
ne	PART	ne
budem	AUX	biti
onakav	DET	onakav
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
Ona	PROPN	Ona
kaže	VERB	kazati
hoću	AUX	hteti
,	PUNCT	,
hoću	AUX	hteti
,	PUNCT	,
_	PUNCT	_
_	PUNCT	_
a	ADV	a
nikad	ADV	nikad
nema	ADJ	nem
vremena	NOUN	vreme
.	PUNCT	.
I	CCONJ	i
sad	ADV	sad
uhvatila	VERB	uhvatiti
_	PUNCT	_
_	PUNCT	_
da	SCONJ	da
me	PRON	ja
malo	ADV	malo
_	PUNCT	_
ošiša	VERB	ošišati
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
Pa	X	Pa
eto	PART	eto
,	PUNCT	,
_	PUNCT	_
_	PUNCT	_
bio	AUX	biti
sam	AUX	jesam
mangupčić	NOUN	mangupčić
kao	ADV	kao
,	PUNCT	,
kao	CCONJ	kao
_	PUNCT	_
svi	DET	sav
mi	PRON	ja
.	PUNCT	.
_	PUNCT	_
Išli	PROPN	Išli
smo	AUX	jesam
,	PUNCT	,
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
onda	ADV	onda
ranije	ADV	ranije
,	PUNCT	,
prodavali	VERB	prodavati
mleko	NOUN	mleko
u	ADP	u
flašama	NOUN	flaša
.	PUNCT	.
_	PUNCT	_
A	X	A
ne	PART	ne
mislim	VERB	misliti
ovako	ADV	ovako
,	PUNCT	,
_	PUNCT	_
_	PUNCT	_
u	ADP	u
onim	DET	onaj
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
I	VERB	I
mi	PRON	ja
,	PUNCT	,
da	SCONJ	da
bi	AUX	biti
_	PUNCT	_
išli	VERB	ići
u	ADP	u
bioskop	NOUN	bioskop
,	PUNCT	,
_	PUNCT	_
onda	ADV	onda
je	AUX	jesam
bilo	AUX	biti
_	PUNCT	_
na	ADP	na
Slaviji	PROPN	Slavija
,	PUNCT	,
od	ADP	od
deset	NUM	deset
.	PUNCT	.
On	PRON	on
je	AUX	jesam
bio	AUX	biti
još	ADV	još
_	PUNCT	_
onaj	DET	onaj
stari	ADJ	star
.	PUNCT	.
_	PUNCT	_
Sad	PROPN	Sad
je	AUX	jesam
sve	DET	sav
to	DET	taj
_	PUNCT	_
srušeno	VERB	srušiti
,	PUNCT	,
a	ADV	a
ranije	ADV	ranije
je	AUX	jesam
to	DET	taj
.	PUNCT	.
I	CCONJ	i
mi	PRON	ja
mi	PRON	ja
tu	ADV	tu
dođemo	VERB	doći
i	CCONJ	i
ispred	ADP	ispred
vrata	NOUN	vrata
maznemo	VERB	maznuti
ono	PRON	ono
.	PUNCT	.
Ostavimo	VERB	ostaviti
_	PUNCT	_
praznu	ADJ	prazan
i	CCONJ	i
tako	ADV	tako
nam	PRON	mi
ostane	VERB	ostati
.	PUNCT	.
_	PUNCT	_
I	ADV	I
odemo	VERB	otići
svi	DET	sav
u	ADP	u
bioskop	NOUN	bioskop
.	PUNCT	.
U	ADP	u
deset	NUM	deset
sati	NOUN	sat
je	AUX	jesam
škola	NOUN	škola
,	PUNCT	,
kakva	DET	kakav
škola	NOUN	škola
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
Posle	ADJ	Posle
majka	NOUN	majka
mi	PRON	ja
se	PART	se
zaposlila	VERB	zaposliti
u	ADP	u
bioskop	NOUN	bioskop
u	ADP	u
Vuku	PROPN	Vuk
radila	VERB	raditi
.	PUNCT	.
I	CCONJ	i
onda	ADV	onda
sam	AUX	jesam
_	PUNCT	_
_	PUNCT	_
preko	ADP	preko
nje	PRON	ona
_	PUNCT	_
_	PUNCT	_
ulazio	VERB	ulaziti
za	ADP	za
džabe	ADV	džabe
i	CCONJ	i
gledo	NOUN	gledo
i	CCONJ	i
filmove	NOUN	film
.	PUNCT	.
A	X	A
u	ADP	u
februaru	NOUN	februar
,	PUNCT	,
kada	SCONJ	kada
je	AUX	jesam
fest	NOUN	fest
bio	AUX	biti
,	PUNCT	,
onda	SCONJ	onda
sam	AUX	jesam
radio	NOUN	radio
na	ADP	na
vratima	NOUN	vrata
,	PUNCT	,
cepao	VERB	cepati
_	PUNCT	_
karte	NOUN	karta
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
I	ADV	I
onda	ADV	onda
,	PUNCT	,
_	PUNCT	_
_	PUNCT	_
ko	PRON	ko
nema	VERB	nemati
_	PUNCT	_
kartu	NOUN	karta
,	PUNCT	,
a	NOUN	a
_	PUNCT	_
poznaje	VERB	poznavati
me	PRON	ja
i	CCONJ	i
kaže	VERB	kazati
,	PUNCT	,
kaže	VERB	kazati
,	PUNCT	,
kako	SCONJ	kako
ćemo	AUX	hteti
?	PUNCT	?
Rekoh	VERB	reći
,	PUNCT	,
ovde	ADV	ovde
je	AUX	jesam
odmah	ADV	odmah
bife	NOUN	bife
,	PUNCT	,
idi	VERB	ići
uplati	NOUN	uplata
_	PUNCT	_
_	PUNCT	_
pivo	NOUN	piva
i	CCONJ	i
_	PUNCT	_
i	CCONJ	i
_	PUNCT	_
beži	VERB	bežati
u	ADP	u
salu	NOUN	sala
.	PUNCT	.
_	PUNCT	_
Sad	NOUN	sad
gde	SCONJ	gde
ćeš	AUX	hteti
da	VERB	dati
_	PUNCT	_
sednš	VERB	sednš
,	PUNCT	,
ja	PRON	ja
to	DET	taj
ne	PART	ne
znam	VERB	znati
.	PUNCT	.
_	PUNCT	_
I	ADV	I
_	PUNCT	_
_	PUNCT	_
u	ADP	u
deset	NUM	deset
_	PUNCT	_
_	PUNCT	_
svi	DET	sav
i	CCONJ	i
ja	PRON	ja
pitam	VERB	pitati
nju	PRON	ona
:	PUNCT	:
_	PUNCT	_
_	PUNCT	_
”	PUNCT	”
Je	NOUN	Je
l	X	l
'	PUNCT	'
ima	VERB	imati
?	PUNCT	?
”	PUNCT	”
Kaže	PROPN	Kaže
dobio	VERB	dobiti
si	AUX	jesam
dve	NUM	dva
gajbe	NOUN	gajba
.	PUNCT	.
Rekoh	VERB	reći
,	PUNCT	,
ajdemo	INTJ	ajdemo
na	ADP	na
pivo	NOUN	piva
.	PUNCT	.
_	PUNCT	_
Kaže	PROPN	Kaže
ona	PRON	ona
:	PUNCT	:
”	PUNCT	”
Odakle	ADV	odakle
ti	PRON	ti
?	PUNCT	?
”	PUNCT	”
.	PUNCT	.
_	PUNCT	_
Ona	PROPN	Ona
izvuče	VERB	izvući
_	PUNCT	_
_	PUNCT	_
pivo	NOUN	piva
.	PUNCT	.
Kaže	PROPN	Kaže
,	PUNCT	,
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
tu	ADV	tu
_	PUNCT	_
isti	ADJ	isti
smo	AUX	jesam
.	PUNCT	.
_	PUNCT	_
A	X	A
najviše	ADV	najviše
smo	AUX	jesam
u	ADP	u
_	PUNCT	_
u	ADP	u
_	PUNCT	_
pivnicu	NOUN	pivnica
.	PUNCT	.
Kad	SCONJ	kad
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
tu	ADV	tu
smo	AUX	jesam
se	PART	se
_	PUNCT	_
_	PUNCT	_
skupljali	VERB	skupljati
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
Bilo	VERB	biti
i	CCONJ	i
ćevapi	NOUN	ćevap
i	CCONJ	i
ovo	DET	ovaj
i	CCONJ	i
ono	DET	onaj
,	PUNCT	,
_	PUNCT	_
a	ADV	a
,	PUNCT	,
a	ADV	a
uveče	ADV	uveče
je	AUX	jesam
od	ADP	od
devet	NUM	devet
sati	NOUN	sat
_	PUNCT	_
bio	AUX	biti
je	AUX	jesam
još	ADV	još
živ	ADJ	živ
Toma	PROPN	Toma
Zdravković	PROPN	Zdravković
i	CCONJ	i
onda	SCONJ	onda
smo	AUX	jesam
mi	PRON	ja
_	PUNCT	_
_	PUNCT	_
da	SCONJ	da
ga	PRON	on
slušamo	VERB	slušati
.	PUNCT	.
Onda	ADV	onda
kad	SCONJ	kad
sednemo	VERB	sesti
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
teramo	VERB	terati
do	ADP	do
zore	NOUN	zor
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
Eto	ADV	Eto
_	PUNCT	_
to	DET	taj
,	PUNCT	,
_	PUNCT	_
_	PUNCT	_
ništa	PRON	ništa
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
naročito	ADV	naročito
.	PUNCT	.
[	PUNCT	[
Hvala	VERB	Hvala
što	SCONJ	što
ste	AUX	jesam
odvojili	VERB	odvojiti
vreme	NOUN	vreme
i	CCONJ	i
izvinite	VERB	izviniti
na	ADP	na
smetnji	NOUN	smetnja
]	PUNCT	]
Molim	ADJ	Molim
,	PUNCT	,
ništa	ADV	ništa
,	PUNCT	,
pa	CCONJ	pa
eto	PART	eto
to	DET	taj
je	AUX	jesam
,	PUNCT	,
_	PUNCT	_
ništa	ADV	ništa
naročito	ADV	naročito
,	PUNCT	,
_	PUNCT	_
normalno	ADV	normalno
.	PUNCT	.
_	PUNCT	_
Sad	NOUN	sad
_	PUNCT	_
koliko	ADV	koliko
će	AUX	hteti
to	DET	taj
da	SCONJ	da
vam	PRON	vi
_	PUNCT	_
da	SCONJ	da
_	PUNCT	_
vam	PRON	vi
_	PUNCT	_
pomogne	VERB	pomoći
,	PUNCT	,
je	AUX	jesam
ne	PART	ne
znam	VERB	znati
.	PUNCT	.
