Ljubiša	PROPN	Ljubiša
Baščarević	PROPN	Baščarević
.	PUNCT	.
Osamdeset	NUM	osamdeset
.	PUNCT	.
U	ADP	u
Đurakovcu	PROPN	Đurakovcu
kod	ADP	kod
Peći	PROPN	Peć
,	PUNCT	,
Kosmet	PROPN	Kosmet
.	PUNCT	.
Živeo	VERB	živeti
sam	AUX	jesam
u	ADP	u
Prištini	PROPN	Priština
,	PUNCT	,
u	ADP	u
Skoplju	PROPN	Skoplje
,	PUNCT	,
u	ADP	u
Beogradu	PROPN	Beograd
.	PUNCT	.
Najlepše	ADJ	lep
mi	PRON	ja
je	AUX	jesam
bilo	AUX	biti
u	ADP	u
Prištini	PROPN	Priština
,	PUNCT	,
jer	SCONJ	jer
je	AUX	jesam
to	DET	taj
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
to	DET	taj
doživeo	VERB	doživeti
kao	CCONJ	kao
moj	DET	moj
grad	NOUN	grad
u	ADP	u
kome	DET	koji
sam	AUX	jesam
se	PART	se
školovao	VERB	školovati
,	PUNCT	,
u	ADP	u
kome	PRON	ko
sam	AUX	jesam
završio	VERB	završiti
Gimnaziju	NOUN	gimnazija
i	CCONJ	i
u	ADP	u
Beogradu	PROPN	Beograd
,	PUNCT	,
gde	ADV	gde
,	PUNCT	,
i	CCONJ	i
u	ADP	u
Skoplju	PROPN	Skoplje
gde	SCONJ	gde
sam	AUX	jesam
završio	VERB	završiti
fakultet	NOUN	fakultet
,	PUNCT	,
i	CCONJ	i
u	ADP	u
Beogradu	PROPN	Beograd
gde	SCONJ	gde
sam	AUX	jesam
se	PART	se
usavršavao	VERB	usavršavati
.	PUNCT	.
Da	SCONJ	da
,	PUNCT	,
govorim	VERB	govoriti
ruski	ADJ	ruski
.	PUNCT	.
Radio	VERB	raditi
sam	AUX	jesam
u	ADP	u
Prištini	PROPN	Priština
na	ADP	na
hirurgiji	NOUN	hirurgija
i	CCONJ	i
završio	VERB	završiti
sam	AUX	jesam
specijalizaciju	NOUN	specijalizacija
iz	ADP	iz
ortopedije	NOUN	ortopedija
,	PUNCT	,
posle	ADV	posle
sam	DET	sam
se	PART	se
školovao	VERB	školovati
u	ADP	u
inostranstvu	NOUN	inostranstvo
kao	CCONJ	kao
u	ADP	u
Rusiji	PROPN	Rusija
,	PUNCT	,
u	ADP	u
Citou	PROPN	Citou
,	PUNCT	,
to	DET	taj
je	AUX	jesam
centralni	ADJ	centralni
institut	NOUN	institut
za	ADP	za
ortopediju	NOUN	ortopedija
i	CCONJ	i
traumatologiju	NOUN	traumatologija
,	PUNCT	,
u	ADP	u
Moskvi	PROPN	Moskva
,	PUNCT	,
ogroman	ADJ	ogroman
institut	NOUN	institut
koji	DET	koji
imao	VERB	imati
,	PUNCT	,
i	CCONJ	i
sada	ADV	sada
verovatno	PART	verovatno
ima	VERB	imati
,	PUNCT	,
preko	ADP	preko
tri-hiljade	PROPN	tri-hiljade
kreveta	NOUN	krevet
,	PUNCT	,
oko	ADP	oko
hiljadu	NOUN	hiljada
lekara	NOUN	lekar
,	PUNCT	,
ogroman	ADJ	ogroman
institut	NOUN	institut
sa	ADP	sa
centrom	NOUN	centar
u	ADP	u
Moskvi	PROPN	Moskva
čiji	DET	čiji
je	AUX	jesam
upravnik	NOUN	upravnik
bio	AUX	biti
čuveni	ADJ	čuven
akademik	NOUN	akademik
Volkov	PROPN	Volkov
.	PUNCT	.
Tu	ADV	tu
sam	AUX	jesam
bio	AUX	biti
u	ADP	u
četrdeset-pet	ADJ	četrdeset-pet
dana	NOUN	dan
u	ADP	u
jednom	NUM	jedan
boravku	NOUN	boravak
i	CCONJ	i
u	ADP	u
drugom	ADJ	drugi
boravku	NOUN	boravak
sam	AUX	jesam
bio	AUX	biti
petnaest	NUM	petnaest
dana	NOUN	dan
,	PUNCT	,
a	CCONJ	a
isto	ADV	isto
sam	AUX	jesam
bio	AUX	biti
i	CCONJ	i
u	ADP	u
Pragu	PROPN	Prag
,	PUNCT	,
tu	ADV	tu
sam	AUX	jesam
bio	AUX	biti
šest	NUM	šest
meseci	NOUN	mesec
u	ADP	u
institutu	NOUN	institut
za	ADP	za
ortopediju	NOUN	ortopedija
kod	ADP	kod
profesora	NOUN	profesor
Ajsa	PROPN	Ajsa
,	PUNCT	,
i	CCONJ	i
kod	ADP	kod
profesora	NOUN	profesor
Čeha	PROPN	Čeh
.	PUNCT	.
Oždiha	PROPN	Oždiha
Čeha	PROPN	Čeh
.	PUNCT	.
Tu	ADV	tu
sam	AUX	jesam
,	PUNCT	,
gledao	VERB	gledati
i	CCONJ	i
usavršavao	VERB	usavršavati
se	PART	se
iz	ADP	iz
oblasti	NOUN	oblast
infekcije	NOUN	infekcija
.	PUNCT	.
Infektivne	ADJ	infektivan
,	PUNCT	,
infekcije	NOUN	infekcija
u	ADP	u
ortopediji	NOUN	ortopedija
,	PUNCT	,
i	CCONJ	i
lečenje	NOUN	lečenje
koštane	ADJ	koštan
zglobne	ADJ	zglobni
infekcije	NOUN	infekcija
.	PUNCT	.
Pa	CCONJ	pa
u	ADP	u
Pragu	PROPN	Prag
je	AUX	jesam
bilo	AUX	biti
teže	ADJ	težak
jer	SCONJ	jer
sam	AUX	jesam
tu	ADV	tu
bio	AUX	biti
na	ADP	na
češkom	ADJ	češki
i	CCONJ	i
na	ADP	na
ruskom	ADJ	ruski
i	CCONJ	i
na	ADP	na
engleskom	ADJ	engleski
jeziku	NOUN	jezik
.	PUNCT	.
I	CCONJ	i
bilo	AUX	biti
je	AUX	jesam
šest	NUM	šest
meseci	NOUN	mesec
.	PUNCT	.
Zapravo	ADV	zapravo
pet	NUM	pet
meseci	NOUN	mesec
i	CCONJ	i
petnaest	NUM	petnaest
dana	NOUN	dan
.	PUNCT	.
A	CCONJ	A
u	ADP	u
Rusiji	PROPN	Rusija
je	AUX	jesam
bilo	AUX	biti
lakše	ADV	lakše
jer	SCONJ	jer
sam	AUX	jesam
bio	AUX	biti
tu	ADV	tu
kod	ADP	kod
profesora	NOUN	profesor
koji	DET	koji
je	AUX	jesam
radio	VERB	raditi
samo	PART	samo
koštano	ADJ	koštan
zglobnu	ADJ	zglobni
infekciju	NOUN	infekcija
i	CCONJ	i
bilo	AUX	biti
mi	PRON	ja
je	AUX	jesam
lakše	ADV	lakše
nego	CCONJ	nego
li	PART	li
u	ADP	u
Pragu	PROPN	Prag
.	PUNCT	.
Kao	ADV	kao
mlad	ADJ	mlad
dečak	NOUN	dečak
,	PUNCT	,
tamo	ADV	tamo
od	ADP	od
oko	ADP	oko
deset	NUM	deset
godina	NOUN	godina
,	PUNCT	,
bio	AUX	biti
sam	AUX	jesam
upisan	VERB	upisati
u	ADP	u
muzičku	ADJ	muzički
školu	NOUN	škola
i	CCONJ	i
učio	VERB	učiti
sam	AUX	jesam
da	SCONJ	da
sviram	VERB	svirati
na	ADP	na
harmonici	NOUN	harmonika
i	CCONJ	i
gitari	NOUN	gitara
.	PUNCT	.
Gitaru	NOUN	gitara
sam	AUX	jesam
više	ADV	više
naučio	VERB	naučiti
,	PUNCT	,
pa	CCONJ	pa
sam	AUX	jesam
svirao	VERB	svirati
i	CCONJ	i
u	ADP	u
jednom	NUM	jedan
orkestru	NOUN	orkestar
koji	DET	koji
se	PART	se
zvao	VERB	zvati
“	PUNCT	"
Radnički	ADJ	radnički
”	PUNCT	"
i	CCONJ	i
tu	ADV	tu
smo	AUX	jesam
,	PUNCT	,
tu	ADV	tu
sam	AUX	jesam
prvi	ADJ	prvi
put	ADV	put
u	ADP	u
životu	NOUN	život
dobio	VERB	dobiti
za	ADP	za
sviranje	NOUN	sviranje
u	ADP	u
tom	DET	taj
orkestru	NOUN	orkestar
,	PUNCT	,
honorar	NOUN	honorar
svirajući	VERB	svirati
Barkarolu	NOUN	barkarola
iz	ADP	iz
Hopmanovih	ADJ	Hopmanovih
priči	NOUN	priča
iz	ADP	iz
opere	NOUN	opera
.	PUNCT	.
Imam	VERB	imati
,	PUNCT	,
imam	VERB	imati
četri	NUM	četri
unuka	NOUN	unuka
.	PUNCT	.
Jedan	NUM	jedan
je	AUX	jesam
muškarac	NOUN	muškarac
,	PUNCT	,
zove	VERB	zvati
se	PART	se
Luka	PROPN	Luk
i	CCONJ	i
tri	NUM	tri
su	AUX	jesam
devojčice	NOUN	devojčica
,	PUNCT	,
gospođice	NOUN	gospođica
koje	DET	koji
su	AUX	jesam
sada	ADV	sada
velike	ADJ	velik
,	PUNCT	,
iznad	ADP	iznad
osamnaest	NUM	osamnaest
godina	NOUN	godina
,	PUNCT	,
koje	DET	koji
ja	PRON	ja
mnogo	ADV	mnogo
volim	VERB	voliti
i	CCONJ	i
koje	DET	koji
su	AUX	jesam
mi	PRON	ja
mnogo	ADV	mnogo
lepe	ADJ	lep
,	PUNCT	,
one	PRON	one
studiraju	VERB	studirati
i	CCONJ	i
izvrsni	ADJ	izvrstan
su	AUX	jesam
studenti	NOUN	student
.	PUNCT	.
U	ADP	u
slobodno	ADJ	slobodan
vreme	NOUN	vreme
volim	VERB	voliti
da	SCONJ	da
čitam	VERB	čitati
i	CCONJ	i
da	SCONJ	da
.	PUNCT	.
Pa	CCONJ	pa
čitam	VERB	čitati
istorijske	ADJ	istorijski
romane	NOUN	roman
i	CCONJ	i
uglavnom	ADV	uglavnom
po	ADP	po
neki	DET	neki
put	NOUN	put
poeziju	NOUN	poezija
a	CCONJ	a
sve	DET	sav
čitam	VERB	čitati
,	PUNCT	,
štampu	NOUN	štampa
naročito	ADV	naročito
.	PUNCT	.
Političke	ADJ	politički
rasprave	NOUN	rasprava
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
Jeste	AUX	jesam
,	PUNCT	,
jeste	AUX	jesam
,	PUNCT	,
pa	CCONJ	pa
imam	VERB	imati
puno	ADV	puno
tih	DET	taj
koje	DET	koji
sam	AUX	jesam
na	ADP	na
primer	NOUN	primer
imam	VERB	imati
Gligorije	PROPN	Gligorije
Božović	PROPN	Božović
,	PUNCT	,
to	DET	taj
je	AUX	jesam
jedan	NUM	jedan
vrlo	ADV	vrlo
značajan	ADJ	značajan
pisac	NOUN	pisac
iz	ADP	iz
Kolašina	PROPN	Kolašin
Ibarskog	ADJ	ibarski
,	PUNCT	,
uopšte	ADV	uopšte
iz	ADP	iz
,	PUNCT	,
koji	DET	koji
je	AUX	jesam
pisao	VERB	pisati
vrlo	ADV	vrlo
,	PUNCT	,
vrlo	ADV	vrlo
lepe	ADJ	lep
knjige	NOUN	knjiga
,	PUNCT	,
to	DET	taj
su	AUX	jesam
novele	NOUN	novela
i	CCONJ	i
priče	NOUN	priča
iz	ADP	iz
istorijskih	ADJ	istorijski
,	PUNCT	,
o	ADP	o
idejama	NOUN	ideja
iz	ADP	iz
istorijskih	ADJ	istorijski
motiva	NOUN	motiv
kao	ADV	kao
u	ADP	u
Prvom	ADJ	prvi
svetskom	ADJ	svetski
ratu	NOUN	rat
u	ADP	u
borbi	NOUN	borba
u	ADP	u
Prvog	ADJ	prvi
svetskog	ADJ	svetski
rata	NOUN	rat
,	PUNCT	,
u	ADP	u
oslobađanju	NOUN	oslobađanje
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
To	DET	taj
je	AUX	jesam
na	ADP	na
primer	NOUN	primer
moj	DET	moj
Kolašin	PROPN	Kolašin
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
Onda	ADV	onda
imam	VERB	imati
i	CCONJ	i
drugih	ADJ	drugi
knjiga	NOUN	knjiga
koje	DET	koji
sam	AUX	jesam
čitao	VERB	čitati
,	PUNCT	,
to	DET	taj
su	AUX	jesam
na	ADP	na
primer	NOUN	primer
istorijske	ADJ	istorijski
,	PUNCT	,
podaci	NOUN	podatak
iz	ADP	iz
Prvog	ADJ	prvi
svetskog	ADJ	svetski
rata	NOUN	rat
koji	DET	koji
su	AUX	jesam
koji	DET	koji
su	AUX	jesam
značajni	ADJ	značajan
za	ADP	za
oslobađanje	NOUN	oslobađanje
naših	DET	naš
teritorija	NOUN	teritorija
koji	DET	koji
su	AUX	jesam
bili	AUX	biti
pod	ADP	pod
okupacijom	NOUN	okupacija
,	PUNCT	,
je	AUX	jesam
li	PART	li
pod	ADP	pod
Turskim	ADJ	turski
upravljanjem	NOUN	upravljanje
.	PUNCT	.
Pa	CCONJ	pa
uglavnom	ADV	uglavnom
volim	VERB	voliti
narodne	ADJ	narodni
pesme	NOUN	pesma
i	CCONJ	i
igre	NOUN	igra
,	PUNCT	,
mada	SCONJ	mada
sam	AUX	jesam
i	CCONJ	i
kao	ADV	kao
mladić	NOUN	mladić
i	CCONJ	i
volim	VERB	voliti
da	SCONJ	da
slušam	VERB	slušati
lepe	ADJ	lep
pesme	NOUN	pesma
koje	DET	koji
su	AUX	jesam
ljubavne	ADJ	ljubavan
,	PUNCT	,
koje	DET	koji
su	AUX	jesam
razdragane	ADJ	razdragan
,	PUNCT	,
brze	ADJ	brz
,	PUNCT	,
okretne	ADJ	okretan
,	PUNCT	,
koje	DET	koji
mogu	VERB	moći
da	SCONJ	da
se	PART	se
igraju	VERB	igrati
,	PUNCT	,
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
Pa	CCONJ	pa
družim	VERB	družiti
se	PART	se
uglavnom	ADV	uglavnom
sa	ADP	sa
mojim	DET	moj
drugovima	NOUN	drug
iz	ADP	iz
škole	NOUN	škola
,	PUNCT	,
i	CCONJ	i
još	PART	još
nekih	DET	neki
prijatelja	NOUN	prijatelj
koje	DET	koji
imam	VERB	imati
sada	ADV	sada
kao	ADV	kao
penzioneri	NOUN	penzioner
,	PUNCT	,
a	CCONJ	a
ja	PRON	ja
sam	PRON	sam
se	PART	se
družio	VERB	družiti
sa	ADP	sa
mnogima	ADJ	mnogi
jer	SCONJ	jer
sam	AUX	jesam
i	CCONJ	i
bio	AUX	biti
upravnik	VERB	upravnik
ortopedske	ADJ	ortopedski
klinike	VERB	klinike
koju	DET	koji
sam	AUX	jesam
i	CCONJ	i
osnovao	VERB	osnovati
u	ADP	u
Prištini	PROPN	Priština
,	PUNCT	,
i	CCONJ	i
sa	ADP	sa
lekarima	NOUN	lekar
i	CCONJ	i
kolegama	NOUN	kolega
koje	DET	koji
su	AUX	jesam
,	PUNCT	,
koji	DET	koji
su	AUX	jesam
mi	PRON	ja
bili	AUX	biti
tu	ADV	tu
,	PUNCT	,
sa	ADP	sa
njima	PRON	ona
sam	AUX	jesam
se	PART	se
isto	ADV	isto
družio	VERB	družiti
na	ADP	na
sastancima	NOUN	sastanak
,	PUNCT	,
organizovao	VERB	organizovati
sam	DET	sam
sastanke	NOUN	sastanak
koji	DET	koji
su	AUX	jesam
bili	AUX	biti
iz	ADP	iz
oblasti	NOUN	oblast
ortopedije	NOUN	ortopedija
,	PUNCT	,
tematske	ADJ	tematski
a	CCONJ	a
i	CCONJ	i
slobodne	ADJ	slobodan
.	PUNCT	.
Naročito	ADV	naročito
su	AUX	jesam
bili	AUX	biti
poznati	VERB	poznati
sastanci	VERB	sastanci
iz	ADP	iz
koštano	ADJ	koštan
zglobne	ADJ	zglobni
infekcije	NOUN	infekcija
i	CCONJ	i
ugradnje	NOUN	ugradnja
proteze	NOUN	proteza
kuka	NOUN	kuk
.	PUNCT	.
Isto	ADV	isto
sam	AUX	jesam
otvorio	VERB	otvoriti
i	CCONJ	i
operacije	NOUN	operacija
na	ADP	na
rešavanju	NOUN	rešavanje
iščašenih	ADJ	iščašen
kukova	NOUN	kuk
kod	ADP	kod
dece	NOUN	deca
i	CCONJ	i
tu	ADV	tu
sam	AUX	jesam
isto	ADV	isto
bio	AUX	biti
sa	ADP	sa
mojim	DET	moj
kolegama	NOUN	kolega
,	PUNCT	,
vrlo	ADV	vrlo
blizak	ADJ	blizak
.	PUNCT	.
Nažalost	ADV	nažalost
neki	DET	neki
su	AUX	jesam
i	CCONJ	i
umrli	VERB	umreti
a	CCONJ	a
bili	AUX	biti
su	AUX	jesam
mi	PRON	ja
veliki	ADJ	velik
i	CCONJ	i
dobri	ADJ	dobar
prijatelji	NOUN	prijatelj
,	PUNCT	,
i	CCONJ	i
drugovi	NOUN	drug
,	PUNCT	,
i	CCONJ	i
saradnici	NOUN	saradnik
.	PUNCT	.
Bilo	AUX	biti
je	AUX	jesam
mnogo	ADV	mnogo
teško	ADV	teško
,	PUNCT	,
pogotovo	ADV	pogotovo
u	ADP	u
uslovima	NOUN	uslov
Prištine	PROPN	Priština
gde	SCONJ	gde
je	AUX	jesam
vladao	VERB	vladati
jedan	NUM	jedan
veliki	ADJ	velik
nacionalizam	NOUN	nacionalizam
,	PUNCT	,
ali	CCONJ	ali
sam	AUX	jesam
uspeo	VERB	uspeti
da	SCONJ	da
objasnim	VERB	objasniti
značaj	NOUN	značaj
ortopedije	NOUN	ortopedija
i	CCONJ	i
značaj	NOUN	značaj
svim	DET	sav
ljudima	NOUN	ljudi
koji	DET	koji
su	AUX	jesam
bili	AUX	biti
u	ADP	u
Kliničkom	ADJ	klinički
centru	NOUN	centar
a	CCONJ	a
posle	ADV	posle
i	CCONJ	i
u	ADP	u
administraciji	NOUN	administracija
koja	DET	koji
je	AUX	jesam
bila	AUX	biti
u	ADP	u
Prištini	PROPN	Priština
i	CCONJ	i
u	ADP	u
Beogradu	PROPN	Beograd
kao	ADV	kao
republička	ADJ	republički
administracija	NOUN	administracija
je	AUX	jesam
administracija	NOUN	administracija
iz	ADP	iz
oblasti	NOUN	oblast
da	SCONJ	da
je	AUX	jesam
potrebno	ADV	potrebno
da	SCONJ	da
se	PART	se
izdvoji	VERB	izdvojiti
iz	ADP	iz
opšte	ADJ	opšti
hirurgije	NOUN	hirurgija
i	CCONJ	i
da	SCONJ	da
ostane	VERB	ostati
ono	PRON	ono
što	SCONJ	što
je	AUX	jesam
na	ADP	na
mnogim	ADJ	mnogi
mestima	NOUN	mesto
kao	ADV	kao
zasebna	ADJ	zaseban
hirurška	ADJ	hirurški
grana	NOUN	grana
jer	SCONJ	jer
samo	PART	samo
tako	ADV	tako
je	AUX	jesam
mogla	VERB	moći
da	SCONJ	da
brže	ADV	brže
,	PUNCT	,
bolje	ADV	bolje
napreduje	VERB	napredovati
.	PUNCT	.
Napravljena	VERB	napraviti
je	AUX	jesam
preko	ADP	preko
sto-pedeset	PROPN	sto-pedeset
kreveta	NOUN	krevet
sa	ADP	sa
preko	ADP	preko
dvesta	NUM	dvesta
medicinskih	ADJ	medicinski
radnika	NOUN	radnik
koje	DET	koji
su	AUX	jesam
u	ADP	u
njoj	PRON	ona
i	CCONJ	i
to	DET	taj
je	AUX	jesam
bila	AUX	biti
treća	ADJ	treći
klinika	NOUN	klinika
po	ADP	po
veličini	NOUN	veličina
u	ADP	u
Jugoslaviji	PROPN	Jugoslavija
.	PUNCT	.
Srpska	ADJ	srpski
.	PUNCT	.
Pravoslavna	ADJ	pravoslavan
.	PUNCT	.
Imam	VERB	imati
dva	NUM	dva
sina	NOUN	sin
,	PUNCT	,
jedan	NUM	jedan
je	AUX	jesam
ortoped	NOUN	ortoped
i	CCONJ	i
direktor	NOUN	direktor
,	PUNCT	,
ili	CCONJ	ili
kako	SCONJ	kako
se	PART	se
sada	ADV	sada
kaže	VERB	kazati
upravnik	NOUN	upravnik
Instituta	NOUN	institut
za	ADP	za
ortopedsku	ADJ	ortopedski
hirurgiju	NOUN	hirurgija
na	ADP	na
Banjici	PROPN	Banjica
.	PUNCT	.
Jedna	NUM	jedan
velika	ADJ	velik
ustanova	NOUN	ustanova
,	PUNCT	,
vodi	VERB	voditi
jednu	NUM	jedan
veliku	ADJ	velik
ustanovu	NOUN	ustanova
sa	ADP	sa
preko	ADP	preko
šest-stotina	NUM	šest-stotina
kreveta	NOUN	krevet
i	CCONJ	i
sa	ADP	sa
blizu	ADV	blizu
sto	NUM	sto
lekara	NOUN	lekar
,	PUNCT	,
od	ADP	od
kojih	DET	koji
su	AUX	jesam
pedeset	NUM	pedeset
doktori	NOUN	doktor
nauka	NOUN	nauka
.	PUNCT	.
Snažna	ADJ	snažan
velika	ADJ	velik
ustanova	NOUN	ustanova
koja	DET	koji
je	AUX	jesam
jedna	NUM	jedan
od	ADP	od
najboljih	ADJ	dobar
ustanova	NOUN	ustanova
u	ADP	u
Srbiji	PROPN	Srbija
,	PUNCT	,
sigurno	ADV	sigurno
i	PART	i
jedna	NUM	jedan
od	ADP	od
najvećih	ADJ	velik
i	CCONJ	i
najboljih	ADJ	dobar
na	ADP	na
Balkanu	PROPN	Balkan
.	PUNCT	.
Drugi	ADJ	drugi
sin	NOUN	sin
mi	PRON	ja
je	AUX	jesam
neurohirurg	NOUN	neurohirurg
,	PUNCT	,
koji	DET	koji
je	AUX	jesam
zamenik	VERB	zamenik
direktora	NOUN	direktor
neurohirurškog	ADJ	neurohirurški
instituta	NOUN	institut
,	PUNCT	,
radi	ADP	radi
izvanrednu	ADJ	izvanredan
hirurgiju	NOUN	hirurgija
,	PUNCT	,
neurohirurgiju	NOUN	neurohirurgija
i	CCONJ	i
to	DET	taj
veliki	ADJ	velik
uspeh	NOUN	uspeh
postiže	VERB	postignuti
u	ADP	u
lečenju	NOUN	lečenje
epilepsije	NOUN	epilepsija
kao	ADV	kao
jedan	NUM	jedan
od	ADP	od
retkih	ADJ	redak
na	ADP	na
Balkanu	PROPN	Balkan
koji	DET	koji
se	PART	se
tim	DET	taj
problemom	NOUN	problem
bavi	VERB	baviti
,	PUNCT	,
operisao	VERB	operisati
je	AUX	jesam
blizu	ADV	blizu
dvesta	NUM	dvesta
ljudi	NOUN	ljudi
,	PUNCT	,
bolesnika	NOUN	bolesnik
,	PUNCT	,
sa	ADP	sa
visokim	ADJ	visok
procentom	NOUN	procent
uspeha	NOUN	uspeh
.	PUNCT	.
Radi	ADP	radi
kompletno	ADJ	kompletan
neurohirurgiju	NOUN	neurohirurgija
,	PUNCT	,
a	CCONJ	a
posebno	ADV	posebno
se	PART	se
zanima	VERB	zanimati
sa	ADP	sa
kičmenim	ADJ	kičmeni
stubom	NOUN	stub
i	CCONJ	i
problemima	NOUN	problem
koji	DET	koji
se	PART	se
javljaju	VERB	javljati
u	ADP	u
kičmi	NOUN	kičma
kao	PART	kao
problemi	NOUN	problem
diskusa	NOUN	diskus
,	PUNCT	,
hernije	NOUN	hernija
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
Devojčice	NOUN	devojčica
su	AUX	jesam
mi	PRON	ja
mnogo	ADV	mnogo
dobre	ADJ	dobar
,	PUNCT	,
one	PRON	one
studiraju	VERB	studirati
i	CCONJ	i
ja	PRON	ja
se	PART	se
ponosim	VERB	ponositi
na	ADP	na
njih	PRON	ona
.	PUNCT	.
Pored	ADP	pored
toga	DET	taj
što	SCONJ	što
su	AUX	jesam
izvanredno	ADV	izvanredno
lepe	ADJ	lep
i	CCONJ	i
to	DET	taj
ne	PART	ne
samo	PART	samo
zbog	ADP	zbog
toga	DET	taj
što	SCONJ	što
su	AUX	jesam
moje	DET	moj
,	PUNCT	,
nego	CCONJ	nego
što	SCONJ	što
su	AUX	jesam
stvarno	ADV	stvarno
lepe	ADJ	lep
,	PUNCT	,
i	CCONJ	i
što	SCONJ	što
su	AUX	jesam
poslušne	ADJ	poslušan
i	PART	i
vrlo	ADV	vrlo
inteligentne	ADJ	inteligentan
i	CCONJ	i
pametne	ADJ	pametan
.	PUNCT	.
Pa	CCONJ	pa
imam	VERB	imati
,	PUNCT	,
sigurno	ADV	sigurno
da	SCONJ	da
imam	VERB	imati
,	PUNCT	,
samo	ADV	samo
ne	PART	ne
znam	VERB	znati
koja	DET	koji
bih	AUX	biti
Vam	PRON	vi
,	PUNCT	,
koja	DET	koji
bi	AUX	biti
Vas	PRON	vi
naročito	ADV	naročito
interesovala	VERB	interesovati
.	PUNCT	.
Eto	PART	eto
,	PUNCT	,
kako	SCONJ	kako
smo	AUX	jesam
na	ADP	na
primer	NOUN	primer
mi	PRON	ja
u	ADP	u
osnovnoj	ADJ	osnovni
školi	NOUN	škola
,	PUNCT	,
bili	AUX	biti
smo	AUX	jesam
neverovatno	ADV	neverovatno
siromašni	ADJ	siromašan
pa	CCONJ	pa
smo	AUX	jesam
morali	VERB	morati
da	SCONJ	da
pijemo	VERB	piti
riblji	ADJ	riblji
zejtin	NOUN	zejtin
pre	ADP	pre
ulaska	NOUN	ulazak
u	ADP	u
učionicu	NOUN	učionica
.	PUNCT	.
Poređali	VERB	poređati
bi	AUX	biti
se	PART	se
svi	DET	sav
,	PUNCT	,
a	CCONJ	a
jedan	NUM	jedan
koji	DET	koji
je	AUX	jesam
bio	AUX	biti
najstariji	ADJ	star
i	CCONJ	i
najveći	ADJ	velik
od	ADP	od
svih	DET	sav
nas	PRON	mi
on	PRON	on
bi	AUX	biti
držao	VERB	držati
kašiku	NOUN	kašika
i	CCONJ	i
mi	PRON	ja
bi	AUX	biti
ulazili	VERB	ulaziti
sa	ADP	sa
otvorenim	ADJ	otvoren
ustima	NOUN	usta
i	CCONJ	i
on	PRON	on
bi	AUX	biti
nam	PRON	mi
sipao	VERB	sipati
riblji	ADJ	riblji
zejtin	NOUN	zejtin
u	ADP	u
gušu	NOUN	guša
,	PUNCT	,
tako	ADV	tako
smo	AUX	jesam
mi	PRON	ja
to	DET	taj
gutali	VERB	gutati
.	PUNCT	.
Ako	SCONJ	ako
bi	AUX	biti
bili	AUX	biti
neko	PRON	neko
od	ADP	od
nas	PRON	mi
koji	DET	koji
mu	PRON	on
je	AUX	jesam
učinio	VERB	učiniti
neku	DET	neki
nezgodu	NOUN	nezgoda
,	PUNCT	,
on	PRON	on
bi	AUX	biti
,	PUNCT	,
zadrhtala	VERB	zadrhtati
bi	AUX	biti
mu	PRON	on
ruka	NOUN	ruka
i	CCONJ	i
prosuo	VERB	prosuti
bi	AUX	biti
mu	PRON	on
malo	ADV	malo
zejtina	NOUN	zejtin
u	ADP	u
gušu	NOUN	guša
tako	ADV	tako
da	SCONJ	da
bi	AUX	biti
ovaj	DET	ovaj
ceo	ADJ	ceo
dan	NOUN	dan
mirisao	VERB	mirisati
na	ADP	na
riblji	ADJ	riblji
zejtin	NOUN	zejtin
.	PUNCT	.
Mi	PRON	ja
bi	AUX	biti
se	PART	se
zbog	ADP	zbog
toga	DET	taj
smejali	VERB	smejati
.	PUNCT	.
A	CCONJ	A
njemu	PRON	on
je	AUX	jesam
davala	VERB	davati
učiteljica	NOUN	učiteljica
i	CCONJ	i
ona	PRON	ona
je	AUX	jesam
pazila	VERB	paziti
da	SCONJ	da
mu	PRON	on
ne	PART	ne
prospe	VERB	prosuti
u	ADP	u
gušu	NOUN	guša
.	PUNCT	.
Jeste	AUX	jesam
,	PUNCT	,
na	ADP	na
košulju	NOUN	košulja
,	PUNCT	,
i	CCONJ	i
da	SCONJ	da
mu	PRON	on
eto	PART	eto
tako	ADV	tako
,	PUNCT	,
eto	PART	eto
to	DET	taj
je	AUX	jesam
jedno	NUM	jedan
bilo	AUX	biti
.	PUNCT	.
Kad	SCONJ	kad
smo	AUX	jesam
bili	AUX	biti
malo	ADV	malo
veći	ADJ	velik
u	ADP	u
školi	NOUN	škola
,	PUNCT	,
onda	SCONJ	onda
smo	AUX	jesam
bili	AUX	biti
na	ADP	na
predvorničkoj	ADJ	predvorničkoj
obuci	NOUN	obuka
,	PUNCT	,
pa	CCONJ	pa
smo	AUX	jesam
u	ADP	u
učionici	NOUN	učionica
koja	DET	koji
nam	PRON	mi
je	AUX	jesam
bila	AUX	biti
vrlo	ADV	vrlo
velika	ADJ	velik
stavljali	VERB	stavljati
metu	NOUN	meta
i	CCONJ	i
tako	ADV	tako
nas	PRON	mi
je	AUX	jesam
profesor	NOUN	profesor
koji	DET	koji
je	AUX	jesam
bio	AUX	biti
major	NOUN	major
učio	VERB	učiti
da	SCONJ	da
gađamo	VERB	gađati
iz	ADP	iz
vazdušne	ADJ	vazdušan
puške	NOUN	pušak
.	PUNCT	.
Onda	ADV	onda
bi	AUX	biti
mi	PRON	ja
gađali	VERB	gađati
u	ADP	u
metu	NOUN	meta
,	PUNCT	,
i	CCONJ	i
muškarci	NOUN	muškarac
i	CCONJ	i
devojke	NOUN	devojka
.	PUNCT	.
Pa	CCONJ	pa
imali	VERB	imati
smo	AUX	jesam
jedno	NUM	jedan
petnaest	NUM	petnaest
,	PUNCT	,
šesnaest	NUM	šesnaest
godina	NOUN	godina
jer	SCONJ	jer
smo	AUX	jesam
predvorničku	ADJ	predvorničku
obuku	NOUN	obuka
učili	VERB	učiti
dve	NUM	dva
godine	NOUN	godina
.	PUNCT	.
I	CCONJ	i
glavna	ADJ	glavna
stvar	NOUN	stvar
je	AUX	jesam
bila	AUX	biti
da	SCONJ	da
smo	AUX	jesam
postavljali	VERB	postavljati
tajno	ADV	tajno
na	ADP	na
tabli	NOUN	tabla
gde	SCONJ	gde
je	AUX	jesam
bila	AUX	biti
meta	NOUN	meta
,	PUNCT	,
a	CCONJ	a
mi	PRON	ja
bi	AUX	biti
gore	ADV	gore
postavili	VERB	postaviti
i	CCONJ	i
kredu	NOUN	kreda
,	PUNCT	,
i	CCONJ	i
onda	ADV	onda
bi	AUX	biti
pogodili	VERB	pogoditi
kredu	NOUN	kreda
koja	DET	koji
bi	AUX	biti
se	PRON	sebe
rasprsnula	VERB	rasprsnuti
,	PUNCT	,
a	CCONJ	a
pošto	SCONJ	pošto
je	AUX	jesam
tu	ADV	tu
bio	AUX	biti
profesor	NOUN	profesor
,	PUNCT	,
koji	DET	koji
je	AUX	jesam
predavao	VERB	predavati
,	PUNCT	,
parčići	NOUN	parčić
krede	ADJ	krede
sve	DET	sav
bi	AUX	biti
mu	PRON	on
padali	VERB	padati
na	ADP	na
glavu	NOUN	glava
i	CCONJ	i
na	ADP	na
odelo	NOUN	odelo
,	PUNCT	,
a	CCONJ	a
on	PRON	on
bi	AUX	biti
onda	ADV	onda
govorio	VERB	govoriti
:	PUNCT	:
“	PUNCT	"
Kakvi	DET	kakav
ste	AUX	jesam
vi	PRON	vi
bezobrazni	ADJ	bezobrazan
i	CCONJ	i
nevaspitani	VERB	nevaspitani
,	PUNCT	,
ništa	PRON	ništa
od	ADP	od
vas	PRON	vi
neće	AUX	hteti
biti	AUX	biti
,	PUNCT	,
vi	PRON	vi
ćete	AUX	hteti
časkom	ADV	časkom
poginuti	VERB	poginuti
u	ADP	u
prvom	ADJ	prvi
boju	NOUN	boj
”	PUNCT	"
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
voleo	VERB	voleti
medicinu	NOUN	medicina
od	ADP	od
prvih	ADJ	prvi
dana	NOUN	dan
kad	SCONJ	kad
sam	AUX	jesam
počeo	VERB	početi
da	SCONJ	da
razumem	VERB	razumeti
šta	PRON	šta
je	AUX	jesam
to	DET	taj
u	ADP	u
životu	NOUN	život
što	SCONJ	što
bi	AUX	biti
trebalo	VERB	trebati
da	SCONJ	da
se	PART	se
radi	VERB	raditi
,	PUNCT	,
zavoleo	VERB	zavoleti
sam	ADJ	sam
medicinu	NOUN	medicina
,	PUNCT	,
zapravo	ADV	zapravo
prvo	ADV	prvo
sam	AUX	jesam
zavoleo	VERB	zavoleti
stomatologiju	NOUN	stomatologija
jer	SCONJ	jer
smo	AUX	jesam
stanovali	VERB	stanovati
sa	ADP	sa
jednim	NUM	jedan
stomatologom	NOUN	stomatolog
,	PUNCT	,
pa	CCONJ	pa
sam	AUX	jesam
ja	PRON	ja
,	PUNCT	,
to	DET	taj
sam	AUX	jesam
provodio	VERB	provoditi
vreme	NOUN	vreme
u	ADP	u
njegovoj	DET	njegov
ambulanti	NOUN	ambulanta
,	PUNCT	,
gde	SCONJ	gde
mi	PRON	ja
je	AUX	jesam
on	PRON	on
pokazivao	VERB	pokazivati
kako	SCONJ	kako
se	PART	se
vade	ADJ	vade
zubi	NOUN	zub
,	PUNCT	,
kako	SCONJ	kako
se	PART	se
pomaže	VERB	pomagati
kada	SCONJ	kada
ga	PRON	on
boli	VERB	bosti
zub	NOUN	zub
,	PUNCT	,
i	CCONJ	i
tu	ADV	tu
sam	PRON	sam
se	PART	se
naučio	VERB	naučiti
da	SCONJ	da
vadim	VERB	vaditi
zube	NOUN	zub
,	PUNCT	,
pa	CCONJ	pa
sam	AUX	jesam
to	DET	taj
ja	PRON	ja
tajno	ADV	tajno
vadio	VERB	vaditi
zube	NOUN	zub
,	PUNCT	,
i	CCONJ	i
dobijao	VERB	dobijati
neki	DET	neki
honorarčić	NOUN	honorarčić
koji	DET	koji
je	AUX	jesam
tada	ADV	tada
bio	AUX	biti
dvadeset	NUM	dvadeset
dinara	NOUN	dinar
.	PUNCT	.
Mogu	VERB	moći
da	SCONJ	da
Vam	PRON	vi
kažem	VERB	kazati
da	SCONJ	da
su	AUX	jesam
deset	NUM	deset
ćevapčića	NOUN	ćevapčić
bili	AUX	biti
pedeset	NUM	pedeset
dinara	NOUN	dinar
,	PUNCT	,
sa	ADP	sa
tri	NUM	tri
zuba	NOUN	zub
ja	PRON	ja
sam	AUX	jesam
imao	VERB	imati
porciju	NOUN	porcija
ćevapčića	NOUN	ćevapčić
,	PUNCT	,
to	DET	taj
je	AUX	jesam
bilo	AUX	biti
vrlo	ADV	vrlo
lepo	ADV	lepo
.	PUNCT	.
A	CCONJ	A
to	DET	taj
su	AUX	jesam
,	PUNCT	,
posle	ADP	posle
sam	AUX	jesam
,	PUNCT	,
ukapirao	VERB	ukapirati
da	SCONJ	da
su	AUX	jesam
to	DET	taj
sve	DET	sav
zubi	NOUN	zub
bili	AUX	biti
koji	DET	koji
su	AUX	jesam
pod	ADP	pod
paradontozom	NOUN	paradontozom
tako	ADV	tako
da	SCONJ	da
sam	AUX	jesam
ja	PRON	ja
to	DET	taj
vrlo	ADV	vrlo
jednostavno	ADV	jednostavno
vadio	VERB	vaditi
,	PUNCT	,
a	CCONJ	a
one	DET	onaj
koji	DET	koji
su	AUX	jesam
bili	AUX	biti
teški	ADJ	težak
to	DET	taj
je	AUX	jesam
vadio	VERB	vaditi
stomatolog	NOUN	stomatolog
.	PUNCT	.
Naš	DET	naš
prijatelj	NOUN	prijatelj
sa	ADP	sa
kojim	DET	koji
smo	AUX	jesam
stanovali	VERB	stanovati
.	PUNCT	.
Ali	CCONJ	ali
pod	ADP	pod
uticajem	NOUN	uticaj
oca	NOUN	otac
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
ipak	PART	ipak
prešao	VERB	preći
na	ADP	na
medicinu	NOUN	medicina
,	PUNCT	,
na	ADP	na
opštu	ADJ	opšti
medicinu	NOUN	medicina
,	PUNCT	,
umesto	ADP	umesto
na	ADP	na
stomatologiju	NOUN	stomatologija
i	CCONJ	i
mislim	VERB	misliti
da	SCONJ	da
nisam	AUX	jesam
pogrešio	VERB	pogrešiti
,	PUNCT	,
jer	SCONJ	jer
sam	AUX	jesam
onu	DET	onaj
medicinu	NOUN	medicina
koju	DET	koji
sam	AUX	jesam
ja	PRON	ja
voleo	VERB	voleti
,	PUNCT	,
a	CCONJ	a
to	DET	taj
je	AUX	jesam
bila	AUX	biti
ta	DET	taj
manuelna	ADJ	manuelan
medicina	NOUN	medicina
,	PUNCT	,
da	SCONJ	da
se	PART	se
rukama	NOUN	ruka
sve	DET	sav
uradi	VERB	uraditi
nastavio	VERB	nastaviti
u	ADP	u
ortopediji	NOUN	ortopedija
koja	DET	koji
je	AUX	jesam
vrlo	ADV	vrlo
manuelna	ADJ	manuelan
hirurgija	NOUN	hirurgija
,	PUNCT	,
koja	DET	koji
je	AUX	jesam
na	ADP	na
kraju	NOUN	kraj
posle	ADV	posle
i	CCONJ	i
zbog	ADP	zbog
razvoja	NOUN	razvoj
nauke	NOUN	nauka
mogla	VERB	moći
i	CCONJ	i
da	SCONJ	da
se	PART	se
radi	VERB	raditi
kao	CCONJ	kao
mikrohirurgija	NOUN	mikrohirurgija
,	PUNCT	,
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
Moja	DET	moj
majka	NOUN	majka
je	AUX	jesam
završila	VERB	završiti
za	ADP	za
vreme	NOUN	vreme
stare	ADJ	star
Jugoslavije	PROPN	Jugoslavija
domaćinsku	VERB	domaćinsku
školu	NOUN	škola
.	PUNCT	.
Završila	VERB	završiti
je	AUX	jesam
i	CCONJ	i
to	DET	taj
je	AUX	jesam
nešto	PRON	nešto
bilo	AUX	biti
kao	ADV	kao
učiteljska	ADJ	učiteljski
škola	NOUN	škola
,	PUNCT	,
ali	CCONJ	ali
za	ADP	za
domaćinstvo	NOUN	domaćinstvo
,	PUNCT	,
gde	SCONJ	gde
se	PART	se
učilo	VERB	učiti
da	SCONJ	da
se	PART	se
šije	VERB	šiti
,	PUNCT	,
da	SCONJ	da
se	PART	se
plete	VERB	plesti
,	PUNCT	,
da	SCONJ	da
se	PART	se
održava	VERB	održavati
kuća	NOUN	kuća
,	PUNCT	,
da	SCONJ	da
se	PART	se
kuva	VERB	kuvati
,	PUNCT	,
a	CCONJ	a
otac	NOUN	otac
mi	PRON	ja
se	PART	se
bavio	VERB	baviti
agronomijom	NOUN	agronomija
i	CCONJ	i
bio	AUX	biti
je	AUX	jesam
jedan	NUM	jedan
od	ADP	od
poznatih	ADJ	poznat
stručnjaka	NOUN	stručnjak
u	ADP	u
poljoprivredi	NOUN	poljoprivreda
na	ADP	na
Kosmetu	PROPN	Kosmet
tako	ADV	tako
da	SCONJ	da
je	AUX	jesam
bio	AUX	biti
vrlo	ADV	vrlo
dugo	ADV	dugo
rukovodioc	VERB	rukovodioc
otkako	ADV	otkako
sam	AUX	jesam
se	PART	se
ja	PRON	ja
rodio	VERB	roditi
u	ADP	u
Đurakovcu	PROPN	Đurakovcu
,	PUNCT	,
kod	ADP	kod
Peći	PROPN	Peć
,	PUNCT	,
gde	SCONJ	gde
je	AUX	jesam
bio	AUX	biti
,	PUNCT	,
gde	SCONJ	gde
se	PART	se
i	PART	i
ne	PART	ne
sećam	VERB	sećati
šta	PRON	šta
je	AUX	jesam
sve	DET	sav
tu	ADV	tu
radio	NOUN	radio
,	PUNCT	,
pošto	SCONJ	pošto
sam	AUX	jesam
bio	AUX	biti
mali	ADJ	mali
,	PUNCT	,
kasnije	ADV	kasnije
ga	PRON	on
znam	VERB	znati
samo	PART	samo
kao	PART	kao
rukovodioca	NOUN	rukovodilac
koji	DET	koji
je	AUX	jesam
imao	VERB	imati
velike	ADJ	velik
uspehe	NOUN	uspeh
na	ADP	na
pošumljavanju	NOUN	pošumljavanje
i	CCONJ	i
u	ADP	u
ratarstvu	NOUN	ratarstvo
na	ADP	na
osvajanju	NOUN	osvajanje
novih	ADJ	nov
površina	NOUN	površina
za	ADP	za
zasade	NOUN	zasada
vinove	ADJ	vinov
loze	NOUN	loz
,	PUNCT	,
na	ADP	na
prvom	ADJ	prvi
mestu	NOUN	mesto
,	PUNCT	,
a	CCONJ	a
dalje	ADV	dalje
na	ADP	na
pšenici	NOUN	pšenica
ili	CCONJ	ili
ratarstvu	NOUN	ratarstvo
kako	SCONJ	kako
su	AUX	jesam
oni	PRON	oni
to	DET	taj
zvali	VERB	zvati
.	PUNCT	.
Dugo	ADV	dugo
je	AUX	jesam
rukovodio	VERB	rukovoditi
,	PUNCT	,
bio	AUX	biti
je	AUX	jesam
i	CCONJ	i
pošto	SCONJ	pošto
je	AUX	jesam
bila	AUX	biti
tada	ADV	tada
,	PUNCT	,
tako	ADV	tako
postavljena	ADJ	postavljen
,	PUNCT	,
rukovođenje	NOUN	rukovođenje
i	CCONJ	i
razvoj	NOUN	razvoj
te	DET	taj
poljoprivrede	NOUN	poljoprivreda
on	PRON	on
je	AUX	jesam
bio	AUX	biti
jedno	NUM	jedan
vreme	NOUN	vreme
i	CCONJ	i
generalni	ADJ	generalan
sekretar	NOUN	sekretar
poljoprivredne	ADJ	poljoprivredni
komore	NOUN	komora
,	PUNCT	,
što	SCONJ	što
je	AUX	jesam
u	ADP	u
to	DET	taj
vreme	NOUN	vreme
bilo	AUX	biti
vrlo	ADV	vrlo
značajno	ADV	značajno
za	ADP	za
razvoj	NOUN	razvoj
opšte	ADJ	opšti
poljoprivrede	NOUN	poljoprivreda
.	PUNCT	.
Nisu	AUX	jesam
bili	AUX	biti
strogi	ADJ	strog
,	PUNCT	,
ali	CCONJ	ali
su	AUX	jesam
jedan	NUM	jedan
i	CCONJ	i
drugi	ADJ	drugi
i	CCONJ	i
otac	NOUN	otac
i	CCONJ	i
majka	NOUN	majka
neprekidno	ADV	neprekidno
me	PRON	ja
vaspitavali	VERB	vaspitavati
da	SCONJ	da
budem	AUX	biti
pošten	ADJ	pošten
i	CCONJ	i
da	SCONJ	da
volim	VERB	voliti
svoju	DET	svoj
državu	NOUN	država
,	PUNCT	,
da	SCONJ	da
budem	AUX	biti
patriota	NOUN	patriota
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
to	DET	taj
lako	ADV	lako
prihvatao	VERB	prihvatati
,	PUNCT	,
nije	AUX	jesam
mi	PRON	ja
bilo	AUX	biti
teško	ADV	teško
,	PUNCT	,
da	SCONJ	da
budem	AUX	biti
pošten	ADJ	pošten
,	PUNCT	,
nije	AUX	jesam
mi	PRON	ja
bilo	AUX	biti
teško	ADV	teško
i	CCONJ	i
da	SCONJ	da
iziđem	VERB	izići
iz	ADP	iz
društva	NOUN	društvo
u	ADP	u
kom	DET	koji
sam	AUX	jesam
primetio	VERB	primetiti
da	SCONJ	da
se	PART	se
nešto	PRON	nešto
radi	VERB	raditi
,	PUNCT	,
da	SCONJ	da
se	PART	se
ne	PART	ne
bude	AUX	biti
pošten	VERB	pošten
nego	CCONJ	nego
da	SCONJ	da
se	PART	se
izigrava	VERB	izigravati
da	SCONJ	da
se	PART	se
krade	VERB	krasti
,	PUNCT	,
podmiće	ADJ	podmiće
,	PUNCT	,
podmeće	VERB	podmetati
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
To	DET	taj
nisam	AUX	jesam
voleo	VERB	voleti
kao	CCONJ	kao
takav	DET	takav
sam	AUX	jesam
i	CCONJ	i
vrlo	ADV	vrlo
rano	ADV	rano
u	ADP	u
to	DET	taj
vreme	NOUN	vreme
predložen	VERB	predložiti
i	CCONJ	i
primljen	VERB	primiti
u	ADP	u
članstvo	NOUN	članstvo
saveza	PROPN	saveza
komunista	NOUN	komunista
,	PUNCT	,
kao	CCONJ	kao
omladinac	NOUN	omladinac
.	PUNCT	.
Inače	PART	inače
sam	DET	sam
se	PART	se
bavio	VERB	baviti
i	CCONJ	i
malo	ADV	malo
sportom	NOUN	sport
,	PUNCT	,
tako	ADV	tako
da	SCONJ	da
sam	AUX	jesam
trenirao	VERB	trenirati
košarku	NOUN	košarka
nisam	AUX	jesam
nikad	ADV	nikad
isteran	VERB	isterati
ni	PART	ni
sa	ADP	sa
pet	NUM	pet
ličnih	ADJ	ličan
grešaka	NOUN	greška
iz	ADP	iz
tima	DET	taj
,	PUNCT	,
nisam	AUX	jesam
hteo	AUX	hteti
,	PUNCT	,
zbog	ADP	zbog
toga	DET	taj
sam	AUX	jesam
proglašen	VERB	proglasiti
za	ADP	za
mekog	ADJ	mek
igrača	NOUN	igrač
ali	CCONJ	ali
nisam	AUX	jesam
bio	AUX	biti
mek	ADJ	mek
,	PUNCT	,
nego	CCONJ	nego
nisam	AUX	jesam
voleo	VERB	voleti
da	SCONJ	da
mu	PRON	on
nasilno	ADJ	nasilan
oduzmem	VERB	oduzeti
loptu	NOUN	lopta
,	PUNCT	,
nego	CCONJ	nego
,	PUNCT	,
da	SCONJ	da
i	CCONJ	i
on	PRON	on
igra	VERB	igrati
kao	CCONJ	kao
i	CCONJ	i
ja	PRON	ja
,	PUNCT	,
i	CCONJ	i
da	SCONJ	da
u	ADP	u
igri	NOUN	igra
uživamo	VERB	uživati
i	CCONJ	i
ja	PRON	ja
i	CCONJ	i
on	PRON	on
.	PUNCT	.
Tako	ADV	tako
da	SCONJ	da
mi	PRON	ja
je	AUX	jesam
omiljena	VERB	omileti
igra	NOUN	igra
bila	AUX	biti
u	ADP	u
šahu	PROPN	šahu
gde	SCONJ	gde
sam	AUX	jesam
voleo	VERB	voleti
da	SCONJ	da
sigurno	ADV	sigurno
igram	ADJ	igram
šah	NOUN	šah
,	PUNCT	,
da	SCONJ	da
pobedim	VERB	pobediti
,	PUNCT	,
ali	CCONJ	ali
mi	PRON	ja
remi	NOUN	remi
bio	AUX	biti
najslađi	ADJ	sladak
kada	SCONJ	kada
bih	AUX	biti
izvuko	VERB	izvuko
.	PUNCT	.
Ili	CCONJ	ili
kada	SCONJ	kada
bi	AUX	biti
mi	PRON	ja
on	PRON	on
izvuko	VERB	izvuko
remi	NOUN	remi
.	PUNCT	.
Imam	VERB	imati
sestru	NOUN	sestra
koja	DET	koji
je	AUX	jesam
završila	VERB	završiti
farmaciju	NOUN	farmacija
i	CCONJ	i
koja	DET	koji
je	AUX	jesam
postala	VERB	postati
rukovodioc	ADJ	rukovodioc
velike	ADJ	velik
laboratorije	NOUN	laboratorija
u	ADP	u
Obiliću	PROPN	Obilić
,	PUNCT	,
a	CCONJ	a
posle	ADV	posle
i	CCONJ	i
na	ADP	na
internoj	ADJ	interni
klinici	NOUN	klinika
bila	AUX	biti
je	AUX	jesam
šefica	NOUN	šefica
laboratorije	NOUN	laboratorija
na	ADP	na
internoj	ADJ	interni
klinici	NOUN	klinika
u	ADP	u
Prištini	PROPN	Priština
.	PUNCT	.
Kao	CCONJ	kao
takva	DET	takav
se	PART	se
i	CCONJ	i
penzionisala	VERB	penzionisati
.	PUNCT	.
