fNa	X	fNa
Kosovu	PROPN	Kosovo
.	PUNCT	.
Jesam	AUX	jesam
.	PUNCT	.
Srbija	PROPN	Srbija
.	PUNCT	.
Na	ADP	na
primer	NOUN	primer
,	PUNCT	,
moj	DET	moj
početak	NOUN	početak
rada	NOUN	rad
je	AUX	jesam
u	ADP	u
obavezi	NOUN	obaveza
,	PUNCT	,
u	ADP	u
dužnosti	NOUN	dužnost
koju	DET	koji
sam	AUX	jesam
obavljao	VERB	obavljati
,	PUNCT	,
bio	AUX	biti
u	ADP	u
Bačkoj	PROPN	Bačka
Topoli	PROPN	Topola
,	PUNCT	,
u	ADP	u
Vojvodini	PROPN	Vojvodina
.	PUNCT	.
Posle	ADP	posle
toga	DET	taj
je	AUX	jesam
,	PUNCT	,
posle	ADP	posle
pet	NUM	pet
šest	NUM	šest
godina	NOUN	godina
,	PUNCT	,
otišao	VERB	otići
sam	AUX	jesam
na	ADP	na
prekomandu	NOUN	prekomanda
na	ADP	na
jugu	PROPN	jugu
Srbije	PROPN	Srbija
,	PUNCT	,
u	ADP	u
Rašku	PROPN	Raška
.	PUNCT	.
Devedeset-prve	ADJ	Devedeset-prve
godine	NOUN	godina
došao	VERB	doći
u	ADP	u
Beograd	PROPN	Beograd
po	ADP	po
konkursu	NOUN	konkurs
za	ADP	za
predavača	NOUN	predavač
u	ADP	u
vojnoj	ADJ	vojni
školi	NOUN	škola
i	CCONJ	i
tu	DET	taj
sačekao	VERB	sačekati
penziju	NOUN	penzija
dve-hiljade-sedme	PROPN	dve-hiljade-sedme
.	PUNCT	.
Tako	ADV	tako
da	SCONJ	da
sam	AUX	jesam
prošao	VERB	proći
veći	ADJ	velik
broj	NOUN	broj
dužnosti	NOUN	dužnost
koje	DET	koji
idu	VERB	ići
u	ADP	u
činu	NOUN	čin
potporučnika	NOUN	potporučnik
,	PUNCT	,
svršenog	ADJ	svršen
akademca	NOUN	akademac
,	PUNCT	,
do	ADP	do
čina	NOUN	čin
pukovnika	ADJ	pukovnika
sa	ADP	sa
školom	NOUN	škola
nacionalne	ADJ	nacionalan
odbrane	NOUN	odbrana
.	PUNCT	.
To	DET	taj
je	AUX	jesam
najveći	ADJ	velik
oblik	NOUN	oblik
postdiplomskog	ADJ	postdiplomski
usavršavanja	NOUN	usavršavanje
i	CCONJ	i
osposobljavanja	NOUN	osposobljavanje
vojnika	NOUN	vojnik
.	PUNCT	.
Pa	CCONJ	pa
silom	ADV	silom
prilika	NOUN	prilika
sam	AUX	jesam
naučio	VERB	naučiti
šiptarski	ADJ	šiptarski
,	PUNCT	,
a	CCONJ	a
u	ADP	u
školi	NOUN	škola
francuski	ADJ	francuski
.	PUNCT	.
Međutim	PART	međutim
zbog	ADP	zbog
male	ADJ	mali
komunikacije	NOUN	komunikacija
na	ADP	na
tom	DET	taj
jeziku	NOUN	jezik
nisam	AUX	jesam
dostigao	VERB	dostignuti
onaj	DET	onaj
nivo	NOUN	nivo
govora	NOUN	govor
koji	DET	koji
bi	AUX	biti
mi	PRON	ja
trebao	VERB	trebati
da	SCONJ	da
posluži	VERB	poslužiti
za	ADP	za
informaciju	NOUN	informacija
,	PUNCT	,
prijem	NOUN	prijem
neke	DET	neki
informacije	NOUN	informacija
i	CCONJ	i
tome	DET	taj
slično	ADJ	sličan
.	PUNCT	.
Pa	PART	pa
pored	ADP	pored
stručne	ADJ	stručan
literature	NOUN	literatura
,	PUNCT	,
koja	DET	koji
je	AUX	jesam
obimna	ADJ	obiman
za	ADP	za
rad	NOUN	rad
koji	DET	koji
sam	AUX	jesam
radio	VERB	raditi
,	PUNCT	,
volim	VERB	voliti
da	SCONJ	da
pročitam	VERB	pročitati
i	CCONJ	i
dobru	ADJ	dobar
knjigu	NOUN	knjiga
.	PUNCT	.
U	ADP	u
slobodno	ADJ	slobodan
vreme	NOUN	vreme
bavio	VERB	baviti
sam	AUX	jesam
se	PART	se
sportom	NOUN	sport
amaterski	VERB	amaterski
do	ADP	do
svoje	DET	svoj
četrdesete	ADJ	četrdeseti
godine	NOUN	godina
i	CCONJ	i
uglavnom	ADV	uglavnom
to	DET	taj
slobodno	ADJ	slobodan
vreme	NOUN	vreme
,	PUNCT	,
ako	SCONJ	ako
imam	VERB	imati
slobodno	ADJ	slobodan
vreme	NOUN	vreme
posvećivao	VERB	posvećivati
sam	AUX	jesam
druženju	NOUN	druženje
i	CCONJ	i
knjigama	NOUN	knjiga
.	PUNCT	.
Pa	CCONJ	pa
nisam	AUX	jesam
neki	DET	neki
probirač	NOUN	probirač
.	PUNCT	.
Ako	SCONJ	ako
sam	PRON	sam
raspoložen	ADJ	raspoložen
za	ADP	za
čitanje	NOUN	čitanje
nije	AUX	jesam
mi	PRON	ja
teška	ADJ	težak
literatura	NOUN	literatura
nijedna	ADJ	nijedan
.	PUNCT	.
A	CCONJ	A
kad	SCONJ	kad
nemam	VERB	nemati
volju	NOUN	volja
,	PUNCT	,
onda	ADV	onda
sve	ADV	sve
.	PUNCT	.
Pa	CCONJ	pa
čitao	VERB	čitati
sam	AUX	jesam
Kamija	PROPN	Kamij
,	PUNCT	,
čitao	VERB	čitati
sam	AUX	jesam
našeg	DET	naš
Dobricu	PROPN	Dobrica
Ćosića	PROPN	Ćosić
.	PUNCT	.
Ne	PART	ne
mogu	VERB	moći
sad	ADV	sad
da	SCONJ	da
se	PART	se
setim	VERB	setiti
svih	DET	sav
.	PUNCT	.
Porodicu	NOUN	porodica
sam	AUX	jesam
formirao	VERB	formirati
u	ADP	u
Raški	ADJ	raški
gde	SCONJ	gde
sam	AUX	jesam
se	PART	se
oženio	VERB	oženiti
sedamdeset	NUM	sedamdeset
i	CCONJ	i
sedme	ADJ	sedmi
godine	NOUN	godina
.	PUNCT	.
Imam	VERB	imati
ćerku	NOUN	ćerka
koja	DET	koji
je	AUX	jesam
završila	VERB	završiti
postdiplomski	ADJ	postdiplomski
magisterijum	NOUN	magisterijum
na	ADP	na
likovnoj	ADJ	likovni
akademiji	NOUN	akademija
u	ADP	u
Beogradu	PROPN	Beograd
.	PUNCT	.
Udata	VERB	udati
je	AUX	jesam
i	CCONJ	i
živi	VERB	živiti
sa	ADP	sa
mužem	NOUN	muž
u	ADP	u
okolini	NOUN	okolina
Novog	ADJ	nov
Sada	ADV	sada
.	PUNCT	.
Sina	PROPN	Sin
,	PUNCT	,
četri	NUM	četri
godina	NOUN	godina
mlađeg	ADJ	mlad
od	ADP	od
ćerke	NOUN	ćerka
,	PUNCT	,
koji	DET	koji
je	AUX	jesam
sad	ADV	sad
trenutno	ADV	trenutno
,	PUNCT	,
posle	ADP	posle
završenog	ADJ	završen
Fona	ADJ	fona
,	PUNCT	,
Fakulteta	NOUN	fakultet
organizacionih	VERB	organizacionih
fona	ADJ	fona
otišao	VERB	otići
je	AUX	jesam
na	ADP	na
postdiplomske	ADJ	postdiplomski
.	PUNCT	.
Na	ADP	na
konkursu	NOUN	konkurs
izabran	ADJ	izabran
u	ADP	u
Budimpeštu	PROPN	Budimpešta
.	PUNCT	.
Tamo	ADV	tamo
je	AUX	jesam
dao	VERB	dati
,	PUNCT	,
odbranio	VERB	odbraniti
temu	ADJ	temu
magisterijuma	NOUN	magisterijum
i	CCONJ	i
dobio	VERB	dobiti
temu	ADJ	temu
doktorata	NOUN	doktorat
i	CCONJ	i
sad	ADV	sad
se	PART	se
bavi	VERB	baviti
istraživanjem	NOUN	istraživanje
.	PUNCT	.
Ko	PRON	ko
vi	PRON	vi
što	SCONJ	što
se	PART	se
bavite	VERB	baviti
.	PUNCT	.
Da	SCONJ	da
bi	AUX	biti
završio	VERB	završiti
tu	DET	taj
temu	NOUN	tema
,	PUNCT	,
pošto	SCONJ	pošto
je	AUX	jesam
on	PRON	on
ljubomoran	ADV	ljubomoran
i	CCONJ	i
ili	CCONJ	ili
drzak	ADJ	drzak
,	PUNCT	,
sasvim	ADV	sasvim
svejedno	ADV	svejedno
,	PUNCT	,
kad	SCONJ	kad
ga	PRON	on
pitamo	VERB	pitati
kad	SCONJ	kad
planira	VERB	planirati
,	PUNCT	,
on	PRON	on
to	DET	taj
neće	AUX	hteti
da	SCONJ	da
kaže	VERB	kazati
.	PUNCT	.
Uglavnom	ADV	uglavnom
je	AUX	jesam
do	ADP	do
sad	ADV	sad
dobro	ADV	dobro
išlo	VERB	ići
.	PUNCT	.
E	PART	e
sad	ADV	sad
,	PUNCT	,
a	CCONJ	a
ćerka	NOUN	ćerka
je	AUX	jesam
imala	VERB	imati
nekoliko	ADV	nekoliko
zapaženih	ADJ	zapažen
učešća	NOUN	učešće
u	ADP	u
Likovnoj	ADJ	likovni
akademiji	NOUN	akademija
,	PUNCT	,
po	ADP	po
izložbama	NOUN	izložba
u	ADP	u
Beogradu	PROPN	Beograd
,	PUNCT	,
u	ADP	u
Novom	ADJ	nov
Sadu	PROPN	sadu
,	PUNCT	,
Zrenjaninu	PROPN	Zrenjanin
.	PUNCT	.
Sad	ADV	sad
su	AUX	jesam
uspostavili	VERB	uspostaviti
kontakt	NOUN	kontakt
i	CCONJ	i
pošto	SCONJ	pošto
je	AUX	jesam
i	PART	i
muž	NOUN	muž
isto	ADV	isto
slikar	NOUN	slikar
,	PUNCT	,
iskoristili	VERB	iskoristiti
su	AUX	jesam
,	PUNCT	,
pa	CCONJ	pa
su	AUX	jesam
se	PART	se
povezali	VERB	povezati
sa	ADP	sa
umetnicima	NOUN	umetnik
iz	ADP	iz
Španije	PROPN	Španija
.	PUNCT	.
Bili	AUX	biti
su	AUX	jesam
u	ADP	u
Madridu	PROPN	Madrid
,	PUNCT	,
Barseloni	PROPN	Barselona
,	PUNCT	,
po	ADP	po
Nemačkoj	PROPN	Nemačka
.	PUNCT	.
Imaju	VERB	imati
poznanstvo	NOUN	poznanstvo
u	ADP	u
Austriji	PROPN	Austrija
.	PUNCT	.
I	CCONJ	i
tako	ADV	tako
slike	NOUN	slika
slikaju	VERB	slikati
,	PUNCT	,
rade	VERB	raditi
inače	PART	inače
.	PUNCT	.
Kultura	NOUN	kultura
ima	VERB	imati
tu	DET	taj
boljku	NOUN	boljka
nedovoljne	ADJ	nedovoljan
finansijke	NOUN	finansijke
podrške	NOUN	podrška
,	PUNCT	,
pa	CCONJ	pa
se	PART	se
to	DET	taj
odražava	VERB	odražavati
i	CCONJ	i
na	ADP	na
njihov	DET	njihov
rad	NOUN	rad
i	PART	i
to	DET	taj
.	PUNCT	.
Ali	CCONJ	ali
kad	SCONJ	kad
se	PART	se
voli	VERB	voliti
nešto	ADV	nešto
onda	ADV	onda
se	PART	se
nađe	VERB	naći
rešenje	NOUN	rešenje
.	PUNCT	.
Nemam	VERB	nemati
unuke	NOUN	unuka
.	PUNCT	.
Ja	PRON	ja
sam	PRON	sam
se	PART	se
razveo	VERB	razvesti
dve-hiljade-sedme	PROPN	dve-hiljade-sedme
a	CCONJ	a
dve-hiljade-devete	PROPN	dve-hiljade-devete
mi	PRON	ja
je	AUX	jesam
umrla	VERB	umreti
žena	NOUN	žena
.	PUNCT	.
Pa	CCONJ	pa
najviše	ADV	najviše
volim	VERB	voliti
sport	NOUN	sport
.	PUNCT	.
Košarku	NOUN	košarka
,	PUNCT	,
fudbal	NOUN	fudbal
i	CCONJ	i
odbojku	NOUN	odbojka
.	PUNCT	.
Rukomet	NOUN	rukomet
sam	AUX	jesam
igrao	VERB	igrati
.	PUNCT	.
Kao	ADV	kao
igrač	NOUN	igrač
i	CCONJ	i
obišao	VERB	obići
celu	ADJ	ceo
Srbiju	PROPN	Srbija
sa	ADP	sa
klubom	NOUN	klub
i	CCONJ	i
to	DET	taj
će	AUX	hteti
ostati	VERB	ostati
do	ADP	do
kraja	NOUN	kraj
života	NOUN	život
uspomene	NOUN	uspomena
na	ADP	na
lepe	ADJ	lep
dane	NOUN	dan
.	PUNCT	.
I	CCONJ	i
kad	SCONJ	kad
se	PART	se
gubilo	VERB	gubiti
i	CCONJ	i
kad	SCONJ	kad
se	PART	se
dobijalo	VERB	dobijati
i	CCONJ	i
kad	SCONJ	kad
se	PART	se
imalo	VERB	imati
da	SCONJ	da
se	PART	se
svrati	VERB	svratiti
negde	ADV	negde
na	ADP	na
ručak	NOUN	ručak
.	PUNCT	.
Do	ADP	do
onog	DET	onaj
kad	SCONJ	kad
nije	AUX	jesam
bilo	AUX	biti
,	PUNCT	,
prošao	VERB	proći
jednostavno	ADV	jednostavno
kroz	ADP	kroz
jedan	NUM	jedan
tim	NOUN	tim
gde	SCONJ	gde
smo	AUX	jesam
svi	DET	sav
bili	AUX	biti
drugari	NOUN	drugar
.	PUNCT	.
A	CCONJ	A
tako	ADV	tako
sam	AUX	jesam
vaspitan	VERB	vaspitati
u	ADP	u
kući	NOUN	kuća
da	SCONJ	da
poštujem	VERB	poštovati
drugog	ADJ	drugi
da	SCONJ	da
bih	AUX	biti
bio	AUX	biti
poštovan	VERB	poštovati
od	ADP	od
drugih	ADJ	drugi
.	PUNCT	.
Pa	CCONJ	pa
ne	PART	ne
znam	VERB	znati
šta	PRON	šta
bih	AUX	biti
izabrao	VERB	izabrati
kao	ADV	kao
posebno	ADV	posebno
.	PUNCT	.
Jer	SCONJ	jer
ima	VERB	imati
tu	DET	taj
tema	NOUN	tema
.	PUNCT	.
Kad	SCONJ	kad
mi	PRON	ja
se	PART	se
rodila	VERB	roditi
ćerka	NOUN	ćerka
bio	AUX	biti
sam	AUX	jesam
najpuniji	ADJ	pun
,	PUNCT	,
što	SCONJ	što
ne	PART	ne
znači	VERB	značiti
da	SCONJ	da
nisam	AUX	jesam
bio	AUX	biti
radostan	ADJ	radostan
kad	SCONJ	kad
se	PART	se
sin	NOUN	sin
rodio	VERB	roditi
.	PUNCT	.
S	ADP	s
njom	PRON	ona
sam	AUX	jesam
odrastao	VERB	odrastati
pošto	SCONJ	pošto
je	AUX	jesam
četiri	NUM	četiri
godine	NOUN	godina
razlika	NOUN	razlika
,	PUNCT	,
dok	SCONJ	dok
se	PART	se
ovaj	DET	ovaj
rodio	VERB	roditi
,	PUNCT	,
ona	PRON	ona
je	AUX	jesam
već	CCONJ	već
bila	AUX	biti
odrasla	VERB	odrasti
za	ADP	za
njega	PRON	on
i	CCONJ	i
onda	ADV	onda
se	PART	se
postavila	VERB	postaviti
kao	ADV	kao
zaštita	NOUN	zaštita
njegova	DET	njegov
.	PUNCT	.
A	CCONJ	A
ja	PRON	ja
sam	AUX	jesam
s	ADP	s
njom	PRON	ona
odrastao	VERB	odrastati
uz	ADP	uz
dolaskom	NOUN	dolazak
s	ADP	s
posla	NOUN	posao
kući	NOUN	kuća
.	PUNCT	.
Gledao	VERB	gledati
sam	AUX	jesam
da	SCONJ	da
vidim	VERB	viditi
te	DET	taj
promene	NOUN	promena
koje	DET	koji
su	AUX	jesam
nastupile	VERB	nastupiti
u	ADP	u
toku	NOUN	tok
dvadeset-četiri	NOUN	dvadeset-četiri
sata	NOUN	sat
.	PUNCT	.
I	CCONJ	i
jednom	ADV	jednom
sam	AUX	jesam
je	AUX	jesam
poveo	VERB	povesti
napolje	ADV	napolje
.	PUNCT	.
Ljuta	ADJ	ljut
je	AUX	jesam
bila	AUX	biti
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
je	PRON	ona
poveo	VERB	povesti
i	CCONJ	i
rekao	VERB	reći
sam	AUX	jesam
joj	PRON	ona
da	SCONJ	da
ću	AUX	hteti
je	PRON	ona
pustiti	VERB	pustiti
da	SCONJ	da
se	PART	se
igra	VERB	igrati
u	ADP	u
pesku	NOUN	pesak
.	PUNCT	.
To	DET	taj
je	AUX	jesam
mnogo	ADV	mnogo
volela	VERB	voleti
.	PUNCT	.
I	CCONJ	i
ona	PRON	ona
prilazi	VERB	prilaziti
i	CCONJ	i
kaže	VERB	kazati
meni	PRON	ja
:	PUNCT	:
”	PUNCT	"
Ti	PRON	ti
si	AUX	jesam
moj	DET	moj
pesak	NOUN	pesak
.	PUNCT	.
”	PUNCT	"
I	PART	i
to	DET	taj
me	PRON	ja
je	AUX	jesam
tako	ADV	tako
emotivno	ADV	emotivno
uzbudilo	VERB	uzbuditi
,	PUNCT	,
da	SCONJ	da
posle	ADP	posle
toga	DET	taj
,	PUNCT	,
kad	SCONJ	kad
smo	AUX	jesam
hteli	AUX	hteti
da	SCONJ	da
pričamo	VERB	pričati
nešto	PRON	nešto
,	PUNCT	,
samo	PART	samo
kaže	VERB	kazati
,	PUNCT	,
ti	DET	taj
si	AUX	jesam
moj	DET	moj
pesak	NOUN	pesak
i	CCONJ	i
završimo	VERB	završiti
priču	NOUN	priča
.	PUNCT	.
Tako	ADV	tako
to	DET	taj
bi	AUX	biti
bilo	AUX	biti
.	PUNCT	.
Nešto	PRON	nešto
što	SCONJ	što
bih	AUX	biti
poželeo	VERB	poželeti
svakom	DET	svaki
čoveku	NOUN	čovek
.	PUNCT	.
Normalno	ADV	normalno
je	AUX	jesam
da	SCONJ	da
ne	PART	ne
mogu	VERB	moći
svi	DET	sav
isto	ADV	isto
da	SCONJ	da
razmišljaju	VERB	razmišljati
i	PART	i
isto	ADV	isto
da	SCONJ	da
rade	VERB	raditi
.	PUNCT	.
Zato	ADV	zato
sve	DET	sav
te	DET	taj
razlike	NOUN	razlika
treba	VERB	trebati
spakovati	VERB	spakovati
,	PUNCT	,
negativne	ADJ	negativan
odbaciti	VERB	odbaciti
i	CCONJ	i
uzeti	VERB	uzeti
pozitivno	ADV	pozitivno
i	CCONJ	i
tako	ADV	tako
graditi	VERB	graditi
pozitivnu	ADJ	pozitivan
atmosferu	NOUN	atmosfera
oko	ADP	oko
sebe	PRON	sebe
i	CCONJ	i
oko	ADP	oko
onog	DET	onaj
sa	ADP	sa
kim	PRON	ko
li	PART	li
si	AUX	jesam
.	PUNCT	.
I	CCONJ	i
to	DET	taj
mislim	VERB	misliti
da	SCONJ	da
stvara	VERB	stvarati
kod	ADP	kod
ljudi	NOUN	ljudi
dobru	ADJ	dobar
stranu	NOUN	strana
,	PUNCT	,
ali	CCONJ	ali
treba	VERB	trebati
isto	ADV	isto
biti	AUX	biti
svestan	ADJ	svestan
da	SCONJ	da
ne	PART	ne
mogu	VERB	moći
svi	DET	sav
da	SCONJ	da
budu	AUX	biti
ono	PRON	ono
što	SCONJ	što
si	AUX	jesam
ti	PRON	ti
,	PUNCT	,
niti	CCONJ	niti
možeš	VERB	moći
ti	PRON	ti
da	SCONJ	da
budeš	AUX	biti
ono	PRON	ono
što	SCONJ	što
su	AUX	jesam
oni	PRON	oni
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
čitao	VERB	čitati
iz	ADP	iz
te	DET	taj
knjige	NOUN	knjiga
da	SCONJ	da
l	PART	l
je	AUX	jesam
neki	DET	neki
od	ADP	od
grčkih	ADJ	grčki
filozofa	ADJ	filozofa
rekao	VERB	reći
.	PUNCT	.
To	DET	taj
ću	AUX	hteti
parafrazirati	VERB	parafrazirati
jer	SCONJ	jer
sam	AUX	jesam
zaboravio	VERB	zaboraviti
detalje	NOUN	detalj
.	PUNCT	.
Bar	PART	bar
tri	NUM	tri
razloga	NOUN	razlog
ima	VERB	imati
da	SCONJ	da
razgovaram	VERB	razgovarati
sa	ADP	sa
čovekom	NOUN	čovek
.	PUNCT	.
Naučiću	VERB	naučiti
nešto	PRON	nešto
što	SCONJ	što
nisam	AUX	jesam
znao	VERB	znati
,	PUNCT	,
znači	VERB	značiti
iz	ADP	iz
oblasti	NOUN	oblast
poznavanja	NOUN	poznavanje
ne	PART	ne
interesuje	VERB	interesovati
ga	PRON	on
ili	CCONJ	ili
nije	AUX	jesam
došao	VERB	doći
u	ADP	u
situaciju	NOUN	situacija
pa	CCONJ	pa
da	SCONJ	da
čuje	VERB	čuti
novo	ADJ	nov
.	PUNCT	.
Naučiću	VERB	naučiti
da	SCONJ	da
selektiram	VERB	selektirati
loše	ADJ	loš
i	CCONJ	i
dobre	ADJ	dobar
strane	NOUN	strana
i	CCONJ	i
među	ADP	među
najvažnijim	ADJ	važan
tim	DET	taj
segmentima	NOUN	segment
posmatranja	NOUN	posmatranje
naučiću	VERB	naučiti
da	SCONJ	da
govorim	VERB	govoriti
i	CCONJ	i
komuniciram	VERB	komunicirati
sa	ADP	sa
drugima	ADJ	drugi
.	PUNCT	.
To	DET	taj
me	PRON	ja
je	AUX	jesam
tako	ADV	tako
i	CCONJ	i
vodilo	VERB	voditi
da	SCONJ	da
ne	PART	ne
da	SCONJ	da
praštam	VERB	praštati
,	PUNCT	,
nego	CCONJ	nego
jednostavno	ADV	jednostavno
da	SCONJ	da
pustim	VERB	pustiti
ljude	NOUN	ljudi
sa	ADP	sa
nekim	DET	neki
ograničenjima	NOUN	ograničenje
dok	SCONJ	dok
sami	DET	sam
ne	PART	ne
shvate	VERB	shvatiti
da	SCONJ	da
su	AUX	jesam
pogrešili	VERB	pogrešiti
,	PUNCT	,
a	CCONJ	a
onda	ADV	onda
je	AUX	jesam
već	PART	već
sve	DET	sav
lakše	ADV	lakše
.	PUNCT	.
Pa	CCONJ	pa
ja	PRON	ja
se	PART	se
nadam	VERB	nadati
da	SCONJ	da
možeš	VERB	moći
da	SCONJ	da
naučiš	VERB	naučiti
,	PUNCT	,
jer	SCONJ	jer
moje	DET	moj
iskustvo	NOUN	iskustvo
je	AUX	jesam
uvek	ADV	uvek
bilo	AUX	biti
u	ADP	u
funkciji	NOUN	funkcija
da	SCONJ	da
nekome	PRON	neko
pomogne	VERB	pomoći
.	PUNCT	.
Ja	PRON	ja
znam	VERB	znati
kad	SCONJ	kad
su	AUX	jesam
bio	AUX	biti
sam	AUX	jesam
na	ADP	na
takvoj	DET	takav
dužnosti	NOUN	dužnost
predavača	NOUN	predavač
,	PUNCT	,
ovaj	DET	ovaj
na	ADP	na
postdiplomskim	ADJ	postdiplomski
studijama	NOUN	studija
.	PUNCT	.
To	DET	taj
su	AUX	jesam
najveća	ADJ	velik
škola	NOUN	škola
u	ADP	u
vojsci	NOUN	vojska
gde	SCONJ	gde
ja	PRON	ja
razgovaram	VERB	razgovarati
.	PUNCT	.
To	DET	taj
su	AUX	jesam
ozbiljni	ADJ	ozbiljan
ljudi	NOUN	ljudi
sa	ADP	sa
činom	NOUN	čin
,	PUNCT	,
ovaj	DET	ovaj
u	ADP	u
školi	NOUN	škola
i	CCONJ	i
oni	PRON	oni
su	AUX	jesam
došli	VERB	doći
po	ADP	po
potrebi	NOUN	potreba
službe	NOUN	služba
da	SCONJ	da
se	PART	se
usavrše	VERB	usavršiti
,	PUNCT	,
da	SCONJ	da
se	PART	se
osposobe	VERB	osposobiti
,	PUNCT	,
da	SCONJ	da
se	PART	se
vrate	VERB	vratiti
i	CCONJ	i
da	SCONJ	da
budu	AUX	biti
postavljeni	VERB	postaviti
da	SCONJ	da
obavljaju	VERB	obavljati
veće	ADJ	velik
funkcije	NOUN	funkcija
nego	CCONJ	nego
što	SCONJ	što
su	AUX	jesam
do	ADP	do
tada	ADV	tada
.	PUNCT	.
I	CCONJ	i
ja	PRON	ja
sam	AUX	jesam
kao	ADV	kao
predavač	NOUN	predavač
predmeta	NOUN	predmet
operatike	NOUN	operatike
,	PUNCT	,
to	DET	taj
je	AUX	jesam
nije	AUX	jesam
nauka	NOUN	nauka
,	PUNCT	,
ali	CCONJ	ali
je	AUX	jesam
borba	NOUN	borba
između	ADP	između
nauke	NOUN	nauka
da	SCONJ	da
li	PART	li
je	AUX	jesam
veština	NOUN	veština
ili	CCONJ	ili
je	AUX	jesam
nauka	NOUN	nauka
.	PUNCT	.
Ali	CCONJ	ali
bez	ADP	bez
obzira	NOUN	obzir
na	ADP	na
to	DET	taj
,	PUNCT	,
traži	VERB	tražiti
da	SCONJ	da
se	PART	se
pozna	VERB	poznati
puno	ADJ	pun
stvari	NOUN	stvar
i	CCONJ	i
da	SCONJ	da
se	PART	se
to	DET	taj
prenese	VERB	preneti
mladima	ADJ	mlad
slušaocima	NOUN	slušalac
.	PUNCT	.
I	CCONJ	i
tu	ADV	tu
treba	VERB	trebati
imati	VERB	imati
dobre	ADJ	dobar
nerve	NOUN	nerv
i	CCONJ	i
saslušati	VERB	saslušati
.	PUNCT	.
I	CCONJ	i
čak	PART	čak
suprotno	ADV	suprotno
svakom	DET	svaki
stavu	NOUN	stav
,	PUNCT	,
jer	SCONJ	jer
svaki	DET	svaki
zadatak	NOUN	zadatak
ima	VERB	imati
svoje	DET	svoj
rešenje	NOUN	rešenje
,	PUNCT	,
ali	CCONJ	ali
gde	SCONJ	gde
nije	AUX	jesam
egzaktno	VERB	egzaktno
moguće	ADV	moguće
doći	VERB	doći
,	PUNCT	,
a	CCONJ	a
to	DET	taj
je	AUX	jesam
domen	NOUN	domen
procenjivanja	NOUN	procenjivanje
i	CCONJ	i
ocenjivanja	NOUN	ocenjivanje
događaja	NOUN	događaj
,	PUNCT	,
predviđanja	NOUN	predviđanje
,	PUNCT	,
onda	SCONJ	onda
treba	VERB	trebati
ljude	NOUN	ljudi
zainteresovati	VERB	zainteresovati
da	SCONJ	da
kopaju	VERB	kopati
,	PUNCT	,
da	SCONJ	da
traže	VERB	tražiti
.	PUNCT	.
I	CCONJ	i
meni	PRON	ja
je	AUX	jesam
tako	ADV	tako
bila	AUX	biti
povratna	ADJ	povratan
informacija	NOUN	informacija
dovoljna	ADJ	dovoljan
i	CCONJ	i
jaka	ADJ	jak
da	SCONJ	da
dalje	ADV	dalje
radim	VERB	raditi
.	PUNCT	.
Kad	SCONJ	kad
kaže	VERB	kazati
:	PUNCT	:
”	PUNCT	"
E	CCONJ	e
profesore	NOUN	profesor
,	PUNCT	,
naučio	VERB	naučiti
sa	ADP	sa
nešto	PRON	nešto
od	ADP	od
vas	PRON	vi
.	PUNCT	.
”	PUNCT	"
I	PART	i
kad	SCONJ	kad
ga	PRON	on
sretnem	VERB	sresti
posle	ADP	posle
nekoliko	ADV	nekoliko
godina	NOUN	godina
jer	SCONJ	jer
škola	NOUN	škola
je	AUX	jesam
završavala	VERB	završavati
sa	ADP	sa
putovanjima	NOUN	putovanje
kroz	ADP	kroz
Saveznu	ADJ	savezni
Republiku	NOUN	republika
Jugoslaviju	PROPN	Jugoslavija
,	PUNCT	,
završavala	VERB	završavati
je	AUX	jesam
sa	ADP	sa
tim	DET	taj
putovanjem	NOUN	putovanje
koje	DET	koji
je	AUX	jesam
trajalo	VERB	trajati
u	ADP	u
jednom	NUM	jedan
preko	ADP	preko
godine	NOUN	godina
,	PUNCT	,
negde	ADV	negde
oko	ADP	oko
deset	NUM	deset
dana	NOUN	dan
,	PUNCT	,
a	CCONJ	a
to	DET	taj
završno	ADJ	završan
je	AUX	jesam
bilo	AUX	biti
deset	NUM	deset
dana	NOUN	dan
plus	NOUN	plus
i	CCONJ	i
kad	SCONJ	kad
naiđem	VERB	naići
na	ADP	na
nekog	DET	neki
ko	PRON	ko
je	AUX	jesam
završio	VERB	završiti
tu	DET	taj
školu	NOUN	škola
tu	ADV	tu
i	CCONJ	i
priđe	VERB	prići
se	PART	se
da	SCONJ	da
se	PART	se
pozdravi	VERB	pozdraviti
,	PUNCT	,
taj	DET	taj
stisak	NOUN	stisak
ruke	NOUN	ruka
,	PUNCT	,
taj	DET	taj
pogled	NOUN	pogled
čak	PART	čak
i	PART	i
osmeh	NOUN	osmeh
je	AUX	jesam
puno	ADV	puno
govorio	VERB	govoriti
.	PUNCT	.
Ja	PRON	ja
osuđujem	ADJ	osuđujem
ljude	NOUN	ljudi
koji	DET	koji
nisu	AUX	jesam
spremni	ADJ	spreman
da	SCONJ	da
kažu	VERB	kazati
sebi	PRON	sebe
nešto	PRON	nešto
ne	PART	ne
možeš	VERB	moći
,	PUNCT	,
a	CCONJ	a
isto	ADV	isto
tako	ADV	tako
i	CCONJ	i
ljude	NOUN	ljudi
koji	DET	koji
mogu	VERB	moći
i	CCONJ	i
tako	ADV	tako
urade	VERB	uraditi
da	SCONJ	da
postave	VERB	postaviti
nekog	DET	neki
tamo	ADV	tamo
gde	SCONJ	gde
elementarne	ADJ	elementaran
stvari	NOUN	stvar
ne	PART	ne
pozna	VERB	poznati
,	PUNCT	,
a	CCONJ	a
postavljen	VERB	postaviti
je	AUX	jesam
na	ADP	na
funkciju	NOUN	funkcija
gde	SCONJ	gde
se	PART	se
traži	VERB	tražiti
određen	ADJ	određen
nivo	NOUN	nivo
znanja	NOUN	znanje
i	CCONJ	i
iskustva	NOUN	iskustvo
.	PUNCT	.
Na	ADP	na
žalost	NOUN	žalost
to	DET	taj
je	AUX	jesam
tako	ADV	tako
je	AUX	jesam
u	ADP	u
društvu	NOUN	društvo
.	PUNCT	.
Tako	ADV	tako
je	AUX	jesam
na	ADP	na
fakultetu	NOUN	fakultet
.	PUNCT	.
Završite	VERB	završiti
,	PUNCT	,
ili	CCONJ	ili
klasa	NOUN	klasa
završi	VERB	završiti
školovanje	NOUN	školovanje
,	PUNCT	,
i	CCONJ	i
često	ADV	često
puta	ADV	puta
se	PART	se
desi	VERB	desiti
da	SCONJ	da
oni	PRON	oni
koji	DET	koji
su	AUX	jesam
najmanje	ADV	najmanje
radili	VERB	raditi
po	ADP	po
oceni	NOUN	ocena
našoj	DET	naš
,	PUNCT	,
oni	PRON	oni
brže	ADV	brže
napreduju	VERB	napredovati
i	CCONJ	i
brže	ADV	brže
idu	VERB	ići
.	PUNCT	.
Šta	PRON	šta
je	AUX	jesam
u	ADP	u
pitanju	NOUN	pitanje
ne	PART	ne
bih	AUX	biti
znao	VERB	znati
da	SCONJ	da
tvrdim	VERB	tvrditi
,	PUNCT	,
ali	CCONJ	ali
čini	VERB	činiti
mi	PRON	ja
se	PART	se
da	SCONJ	da
oni	PRON	oni
kad	SCONJ	kad
su	AUX	jesam
došli	VERB	doći
,	PUNCT	,
znali	VERB	znati
su	AUX	jesam
da	SCONJ	da
će	AUX	hteti
završiti	VERB	završiti
,	PUNCT	,
i	CCONJ	i
čekala	VERB	čekati
ih	PRON	ona
oblast	NOUN	oblast
i	CCONJ	i
prostor	NOUN	prostor
na	ADP	na
kome	DET	koji
će	AUX	hteti
oni	PRON	oni
da	SCONJ	da
deluju	VERB	delovati
.	PUNCT	.
To	DET	taj
može	VERB	moći
samo	PART	samo
društvo	NOUN	društvo
da	SCONJ	da
reši	VERB	rešiti
sistemom	NOUN	sistema
vrednosti	NOUN	vrednost
,	PUNCT	,
a	CCONJ	a
ostaće	VERB	ostati
ugrađen	ADJ	ugrađen
deo	NOUN	deo
nas	PRON	mi
u	ADP	u
to	DET	taj
novo	ADJ	nov
da	SCONJ	da
smo	AUX	jesam
pokretali	VERB	pokretati
ako	SCONJ	ako
ništa	PRON	ništa
drugo	ADJ	drugi
.	PUNCT	.
Pa	CCONJ	pa
ne	PART	ne
znam	VERB	znati
šta	PRON	šta
bi	AUX	biti
preporučio	VERB	preporučiti
.	PUNCT	.
Da	SCONJ	da
poštuješ	VERB	poštovati
pre	ADP	pre
svega	DET	sav
svoje	DET	svoj
,	PUNCT	,
a	CCONJ	a
onda	ADV	onda
i	CCONJ	i
društvo	NOUN	društvo
u	ADP	u
celini	NOUN	celina
.	PUNCT	.
Da	SCONJ	da
ne	PART	ne
budeš	AUX	biti
sudija	NOUN	sudija
,	PUNCT	,
nego	CCONJ	nego
da	SCONJ	da
budeš	AUX	biti
saradnik	NOUN	saradnik
.	PUNCT	.
I	CCONJ	i
da	SCONJ	da
motivišeš	VERB	motivisati
ljude	NOUN	ljudi
da	SCONJ	da
traže	VERB	tražiti
sebe	PRON	sebe
,	PUNCT	,
da	SCONJ	da
pomažu	VERB	pomagati
drugima	ADJ	drugi
.	PUNCT	.
Normalno	ADJ	normalan
biološki	ADJ	biološki
neki	DET	neki
zahtevi	NOUN	zahtev
koji	DET	koji
se	PART	se
postavljaju	VERB	postavljati
pred	ADP	pred
tebe	PRON	ti
će	AUX	hteti
se	PART	se
možda	PART	možda
postavljati	VERB	postavljati
kao	CCONJ	kao
poteškoća	NOUN	poteškoća
,	PUNCT	,
prepreka	NOUN	prepreka
ali	CCONJ	ali
sve	DET	sav
su	AUX	jesam
to	DET	taj
emotivne	ADJ	emotivan
vrednosti	NOUN	vrednost
koje	DET	koji
se	PART	se
mogu	VERB	moći
prebroditi	VERB	prebroditi
i	CCONJ	i
pregaziti	VERB	pregaziti
.	PUNCT	.
Ja	PRON	ja
bih	AUX	biti
bio	AUX	biti
mnogo	ADV	mnogo
jači	ADJ	jak
da	SCONJ	da
nisam	AUX	jesam
,	PUNCT	,
eto	PART	eto
tako	ADV	tako
je	AUX	jesam
htelo	AUX	hteti
da	SCONJ	da
bude	AUX	biti
,	PUNCT	,
da	SCONJ	da
me	PRON	ja
Parkinson	PROPN	Parkinson
ščepa	VERB	ščepati
.	PUNCT	.
U	ADP	u
ruke	NOUN	ruka
sad	ADV	sad
se	PART	se
borim	VERB	boriti
da	SCONJ	da
prebrodim	VERB	prebroditi
ovo	DET	ovaj
,	PUNCT	,
ali	CCONJ	ali
pošto	SCONJ	pošto
je	AUX	jesam
to	DET	taj
takva	DET	takav
bolest	NOUN	bolest
da	SCONJ	da
se	PART	se
ne	PART	ne
može	VERB	moći
prebroditi	VERB	prebroditi
,	PUNCT	,
nego	CCONJ	nego
može	VERB	moći
samo	PART	samo
umanjiti	VERB	umanjiti
,	PUNCT	,
dejstvo	NOUN	dejstvo
ja	PRON	ja
ću	AUX	hteti
tražiti	VERB	tražiti
,	PUNCT	,
to	DET	taj
malo	ADV	malo
dejstvo	NOUN	dejstvo
da	SCONJ	da
mi	PRON	ja
pomogne	VERB	pomoći
da	SCONJ	da
potrošim	VERB	potrošiti
na	ADP	na
što	PRON	što
malo	ADV	malo
vremena	NOUN	vreme
što	SCONJ	što
mi	PRON	ja
je	AUX	jesam
ostalo	VERB	ostati
.	PUNCT	.
Imam	VERB	imati
.	PUNCT	.
Terapiju	NOUN	terapija
bih	AUX	biti
ja	PRON	ja
dodatno	ADJ	dodatan
,	PUNCT	,
pošto	SCONJ	pošto
se	PART	se
to	DET	taj
odrazilo	VERB	odraziti
kod	ADP	kod
mene	PRON	ja
na	ADP	na
mišiće	NOUN	mišić
,	PUNCT	,
na	ADP	na
kosti	NOUN	kosti
.	PUNCT	.
Vežbam	VERB	vežbati
izjutra	ADV	izjutra
nekad	ADV	nekad
.	PUNCT	.
I	CCONJ	i
preko	ADP	preko
dana	NOUN	dan
šetam	VERB	šetati
pomalo	ADV	pomalo
.	PUNCT	.
To	DET	taj
mi	PRON	ja
prija	VERB	prijati
i	CCONJ	i
osećam	VERB	osećati
da	SCONJ	da
se	PART	se
uspešno	ADV	uspešno
borim	VERB	boriti
sa	ADP	sa
bolešću	NOUN	bolest
.	PUNCT	.
Koliko	ADV	koliko
će	AUX	hteti
biti	AUX	biti
to	DET	taj
shvatam	VERB	shvatati
potpuno	ADV	potpuno
normalnim	ADJ	normalan
.	PUNCT	.
Da	SCONJ	da
dođe	VERB	doći
vreme	NOUN	vreme
da	SCONJ	da
se	PART	se
završi	VERB	završiti
sa	ADP	sa
egzistencijom	NOUN	egzistencija
,	PUNCT	,
sa	ADP	sa
životom	NOUN	život
.	PUNCT	.
Ali	CCONJ	ali
zašto	ADV	zašto
i	PART	i
odakle	ADV	odakle
to	DET	taj
vreme	NOUN	vreme
koje	DET	koji
se	PART	se
nameće	VERB	nametati
,	PUNCT	,
pa	CCONJ	pa
je	AUX	jesam
različito	ADV	različito
kod	ADP	kod
različitih	ADJ	različit
ljudi	NOUN	ljudi
,	PUNCT	,
ne	PART	ne
treba	VERB	trebati
ni	PART	ni
razmišljati	VERB	razmišljati
o	ADP	o
tome	DET	taj
,	PUNCT	,
samo	PART	samo
opterećuje	VERB	opterećivati
,	PUNCT	,
samo	ADV	samo
nas	PRON	mi
troši	VERB	trošiti
na	ADP	na
nepotrebno	ADV	nepotrebno
.	PUNCT	.
Jednostavno	ADV	jednostavno
treba	VERB	trebati
tražiti	VERB	tražiti
u	ADP	u
nastaloj	ADJ	nastao
situaciji	NOUN	situacija
sve	DET	sav
što	SCONJ	što
je	AUX	jesam
lepo	ADV	lepo
,	PUNCT	,
prigrliti	VERB	prigrliti
,	PUNCT	,
podeliti	VERB	podeliti
sa	ADP	sa
nekim	DET	neki
.	PUNCT	.
Jer	SCONJ	jer
kaže	VERB	kazati
,	PUNCT	,
čovek	NOUN	čovek
je	AUX	jesam
savršen	ADJ	savršen
i	CCONJ	i
teži	VERB	težiti
ka	ADP	ka
savršenstvu	NOUN	savršenstvo
kad	SCONJ	kad
počne	VERB	početi
da	SCONJ	da
uživa	VERB	uživati
u	ADP	u
davanju	NOUN	davanje
kao	CCONJ	kao
u	ADP	u
uzimanju	NOUN	uzimanje
,	PUNCT	,
kad	SCONJ	kad
je	AUX	jesam
spreman	ADJ	spreman
da	SCONJ	da
uživa	VERB	uživati
tako	ADV	tako
,	PUNCT	,
onda	SCONJ	onda
je	AUX	jesam
on	PRON	on
savršeniji	VERB	savršeniji
od	ADP	od
drugog	ADJ	drugi
čoveka	NOUN	čovek
.	PUNCT	.
E	CCONJ	e
sad	ADV	sad
koliko	ADV	koliko
uspevamo	VERB	uspevati
u	ADP	u
tome	DET	taj
,	PUNCT	,
setićeš	VERB	setiti
se	PART	se
možda	PART	možda
jednog	NUM	jedan
dana	NOUN	dan
,	PUNCT	,
da	SCONJ	da
,	PUNCT	,
šta	PRON	šta
sam	AUX	jesam
ti	PRON	ti
rekao	VERB	reći
.	PUNCT	.
