Ignjatović	PROPN	Ignjatović
Milorad	PROPN	Milorad
.	PUNCT	.
Sedamnaesti	ADJ	sedamnaesti
šesti	ADJ	šesti
četrdeset-devete	NOUN	četrdeset-devete
.	PUNCT	.
Radnik	NOUN	radnik
bio	AUX	biti
škole	NOUN	škola
,	PUNCT	,
nemam	VERB	nemati
imam	VERB	imati
samo	PART	samo
osam	NUM	osam
i	CCONJ	i
više	ADV	više
nisam	AUX	jesam
.	PUNCT	.
U	ADP	u
Beogradu	PROPN	Beograd
.	PUNCT	.
Molim	VERB	moliti
?	PUNCT	?
Da	SCONJ	da
.	PUNCT	.
Ne	PART	ne
.	PUNCT	.
Da	PART	da
li	PART	li
?	PUNCT	?
Slabo	ADV	slabo
.	PUNCT	.
Pa	PART	pa
ovom	DET	ovaj
rukom	NOUN	ruka
.	PUNCT	.
Unuk	NOUN	unuk
.	PUNCT	.
Imam	VERB	imati
.	PUNCT	.
Imam	VERB	imati
sina	NOUN	sin
,	PUNCT	,
sedamdeset	NUM	sedamdeset
i	CCONJ	i
koje	DET	koji
godište	NOUN	godište
i	CCONJ	i
druge	ADJ	drugi
,	PUNCT	,
i	CCONJ	i
ovu	DET	ovaj
ćerku	NOUN	ćerka
,	PUNCT	,
sedamdeset	NUM	sedamdeset
i	CCONJ	i
četvrto	ADJ	četvrti
.	PUNCT	.
Imam	VERB	imati
unuku	NOUN	unuka
od	ADP	od
nje	PRON	ona
i	CCONJ	i
od	ADP	od
sina	NOUN	sin
,	PUNCT	,
sina	NOUN	sin
.	PUNCT	.
E	CCONJ	e
pa	CCONJ	pa
sad	ADV	sad
,	PUNCT	,
to	DET	taj
ona	PRON	ona
bolje	ADV	bolje
zna	VERB	znati
.	PUNCT	.
(	PUNCT	(
unuka	NOUN	unuka
16	NUM	@card@
,	PUNCT	,
unuk	NOUN	unuk
17	NUM	@card@
)	PUNCT	)
To	DET	taj
ona	PRON	ona
bolje	ADV	bolje
zna	VERB	znati
,	PUNCT	,
ja	PRON	ja
ne	PART	ne
znam	VERB	znati
.	PUNCT	.
Dok	SCONJ	dok
sam	AUX	jesam
bio	AUX	biti
zdrav	ADJ	zdrav
igrao	VERB	igrati
sam	ADJ	sam
fudbal	NOUN	fudbal
,	PUNCT	,
a	CCONJ	a
ovako	ADV	ovako
ništa	PRON	ništa
naročito	ADV	naročito
.	PUNCT	.
Pa	CCONJ	pa
sad	ADV	sad
slabije	ADJ	slab
,	PUNCT	,
ovaj	DET	ovaj
televizor	NOUN	televizor
ima	VERB	imati
samo	PART	samo
jedan	NUM	jedan
.	PUNCT	.
On	PRON	on
nema	VERB	nemati
daljinski	ADJ	daljinski
,	PUNCT	,
nego	CCONJ	nego
samo	PART	samo
jedan	NUM	jedan
taj	DET	taj
.	PUNCT	.
Pa	CCONJ	pa
volim	VERB	voliti
,	PUNCT	,
ne	PART	ne
znam	VERB	znati
,	PUNCT	,
košarku	NOUN	košarka
,	PUNCT	,
fudbal	NOUN	fudbal
,	PUNCT	,
odbojku	NOUN	odbojka
,	PUNCT	,
vaterpolo	VERB	vaterpolo
.	PUNCT	.
Kad	SCONJ	kad
igra	NOUN	igra
Đoković	PROPN	Đoković
,	PUNCT	,
on	PRON	on
je	AUX	jesam
broj	NOUN	broj
jedan	NUM	jedan
,	PUNCT	,
gledam	VERB	gledati
sve	PRON	sve
.	PUNCT	.
kad	SCONJ	kad
je	AUX	jesam
on	PRON	on
bilo	AUX	biti
osam	NUM	osam
,	PUNCT	,
devet	NUM	devet
,	PUNCT	,
deset	NUM	deset
noću	ADV	noću
,	PUNCT	,
dok	SCONJ	dok
sam	AUX	jesam
stanovao	VERB	stanovati
,	PUNCT	,
ja	PRON	ja
upalim	VERB	upaliti
,	PUNCT	,
smanjim	VERB	smanjiti
,	PUNCT	,
ali	CCONJ	ali
Đokovića	PROPN	Đoković
obavezno	ADV	obavezno
.	PUNCT	.
Pa	CCONJ	pa
vaterpolo	VERB	vaterpolo
,	PUNCT	,
kažem	VERB	kazati
vaterpolo	NOUN	vaterpolo
odbojku	NOUN	odbojka
košarku	NOUN	košarka
fudbal	NOUN	fudbal
i	CCONJ	i
tako	ADV	tako
,	PUNCT	,
ništa	PRON	ništa
naročito	ADV	naročito
.	PUNCT	.
Ne	PART	ne
,	PUNCT	,
svi	DET	sav
novi	ADJ	nov
ljudi	NOUN	ljudi
su	AUX	jesam
umrli	ADJ	umrli
.	PUNCT	.
Ostali	ADJ	ostali
smo	AUX	jesam
mi	PRON	ja
.	PUNCT	.
Tako	ADV	tako
ja	PRON	ja
sam	AUX	jesam
nogu	NOUN	noga
slomio	VERB	slomiti
,	PUNCT	,
a	CCONJ	a
pet	NUM	pet
meseci	NOUN	mesec
sam	AUX	jesam
nosio	VERB	nositi
gips	NOUN	gips
.	PUNCT	.
Evo	PART	evo
možete	VERB	moći
da	SCONJ	da
vidite	VERB	viditi
.	PUNCT	.
U	ADP	u
stanu	NOUN	stan
pa	CCONJ	pa
pa	CCONJ	pa
krenuo	VERB	krenuti
i	CCONJ	i
od	ADP	od
jedanput	ADV	jedanput
mi	PRON	ja
se	PART	se
u	ADP	u
glavi	NOUN	glava
zavrtelo	VERB	zavrteti
i	CCONJ	i
noga	NOUN	noga
mi	PRON	ja
je	AUX	jesam
skroz	ADV	skroz
ovako	ADV	ovako
otišla	VERB	otići
.	PUNCT	.
Tako	ADV	tako
mi	PRON	ja
je	AUX	jesam
rekao	VERB	reći
i	CCONJ	i
ortoped	NOUN	ortoped
,	PUNCT	,
da	SCONJ	da
sam	AUX	jesam
imao	VERB	imati
veliku	ADJ	velik
sreću	NOUN	sreća
što	SCONJ	što
nisam	AUX	jesam
kuk	ADV	kuk
,	PUNCT	,
nego	CCONJ	nego
sam	AUX	jesam
to	DET	taj
i	CCONJ	i
butni	ADJ	butni
mišić	NOUN	mišić
.	PUNCT	.
Pa	CCONJ	pa
sam	AUX	jesam
,	PUNCT	,
kažem	VERB	kazati
,	PUNCT	,
prvi	ADJ	prvi
put	NOUN	put
,	PUNCT	,
kad	SCONJ	kad
mi	PRON	ja
na	ADP	na
Banjici	PROPN	Banjica
stavili	VERB	staviti
,	PUNCT	,
sam	AUX	jesam
nosio	VERB	nositi
tri	NUM	tri
meseca	NOUN	mesec
,	PUNCT	,
pa	CCONJ	pa
sam	AUX	jesam
bio	AUX	biti
na	ADP	na
kontroli	NOUN	kontrola
,	PUNCT	,
pa	CCONJ	pa
su	AUX	jesam
mi	PRON	ja
skinuli	VERB	skinuti
onaj	DET	onaj
stari	ADJ	star
i	CCONJ	i
stavili	VERB	staviti
nov.	X	nov.
E	CCONJ	e
pa	CCONJ	pa
sam	AUX	jesam
,	PUNCT	,
koliko	ADV	koliko
beše	AUX	biti
,	PUNCT	,
šest	NUM	šest
nedelja	NOUN	nedelja
sam	AUX	jesam
ga	PRON	on
nosio	VERB	nositi
.	PUNCT	.
E	CCONJ	e
sad	ADV	sad
mi	PRON	ja
je	AUX	jesam
dao	VERB	dati
banju	NOUN	banja
.	PUNCT	.
I	CCONJ	i
banju	ADV	banju
sam	DET	sam
dobio	VERB	dobiti
.	PUNCT	.
E	PART	e
banju	ADV	banju
sam	DET	sam
dobio	VERB	dobiti
,	PUNCT	,
tu	ADV	tu
kod	ADP	kod
Šapca	PROPN	Šabac
.	PUNCT	.
Kako	SCONJ	kako
se	PART	se
beše	AUX	biti
zove	VERB	zvati
ova	DET	ovaj
...	PUNCT	...
E	PART	e
tu	ADV	tu
.	PUNCT	.
E	SCONJ	e
sad	ADV	sad
čekam	VERB	čekati
rešenje	NOUN	rešenje
.	PUNCT	.
Kazali	VERB	kazati
su	AUX	jesam
do	ADP	do
petka	NOUN	petak
,	PUNCT	,
valjda	ADV	valjda
da	SCONJ	da
treba	VERB	trebati
.	PUNCT	.
Da	SCONJ	da
dobio	VERB	dobiti
sam	AUX	jesam
,	PUNCT	,
ali	CCONJ	ali
ali	CCONJ	ali
sada	ADV	sada
zavisi	VERB	zavisiti
u	ADP	u
banji	NOUN	banja
kad	SCONJ	kad
ima	VERB	imati
slobodno	ADJ	slobodan
mesto	NOUN	mesto
.	PUNCT	.
Bio	AUX	biti
sam	AUX	jesam
ja	PRON	ja
,	PUNCT	,
bio	AUX	biti
sam	AUX	jesam
kad	SCONJ	kad
sam	AUX	jesam
ovu	DET	ovaj
nogu	NOUN	noga
slomio	VERB	slomiti
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
tako	ADV	tako
,	PUNCT	,
a	CCONJ	a
sad	ADV	sad
sam	AUX	jesam
tu	ADV	tu
skoro	ADV	skoro
pet	NUM	pet
meseci	NOUN	mesec
,	PUNCT	,
sam	AUX	jesam
tu	ADV	tu
i	CCONJ	i
eto	PART	eto
.	PUNCT	.
Nisam	AUX	jesam
.	PUNCT	.
Nisam	AUX	jesam
.	PUNCT	.
Nemaju	VERB	nemati
Bog	NOUN	bog
zna	VERB	znati
šta	PRON	šta
neku	DET	neki
hranu	NOUN	hrana
Nema	VERB	nemati
,	PUNCT	,
da	SCONJ	da
vam	PRON	vi
kažem	VERB	kazati
,	PUNCT	,
jedva	ADV	jedva
čekam	VERB	čekati
da	SCONJ	da
odem	VERB	otići
u	ADP	u
banju	NOUN	banja
,	PUNCT	,
da	SCONJ	da
se	PART	se
izgubim	VERB	izgubiti
odavde	ADV	odavde
jer	SCONJ	jer
pet	NUM	pet
meseci	NOUN	mesec
sam	AUX	jesam
na	ADP	na
ovome	DET	ovaj
.	PUNCT	.
Ne	PART	ne
pa	CCONJ	pa
mogu	VERB	moći
ovako	ADV	ovako
.	PUNCT	.
Samo	PART	samo
mogu	VERB	moći
ja	PRON	ja
,	PUNCT	,
ali	CCONJ	ali
kičma	NOUN	kičma
me	PRON	ja
od	ADP	od
ležanja	NOUN	ležanje
,	PUNCT	,
to	DET	taj
.	PUNCT	.
Sad	ADV	sad
su	AUX	jesam
mi	PRON	ja
stavili	VERB	staviti
jastuk	NOUN	jastuk
,	PUNCT	,
da	SCONJ	da
mi	PRON	ja
je	AUX	jesam
noga	NOUN	noga
malo	ADV	malo
viša	ADJ	viša
.	PUNCT	.
a	CCONJ	a
imam	VERB	imati
taj	DET	taj
otok	NOUN	otok
,	PUNCT	,
evo	PART	evo
evo	PART	evo
vidi	VERB	viditi
se	PART	se
.	PUNCT	.
Ovi	DET	ovaj
kažu	VERB	kazati
,	PUNCT	,
navodno	ADV	navodno
što	SCONJ	što
se	PART	se
ne	PART	ne
krećem	VERB	kretati
,	PUNCT	,
što	SCONJ	što
ne	PART	ne
idem	VERB	ići
.	PUNCT	.
Kaže	VERB	kazati
,	PUNCT	,
on	PRON	on
on	PRON	on
bi	AUX	biti
pao	VERB	pasti
da	SCONJ	da
se	PART	se
ja	PRON	ja
krećem	VERB	kretati
.	PUNCT	.
Ali	CCONJ	ali
on	PRON	on
stoji	VERB	stajati
.	PUNCT	.
Ovde	ADV	ovde
su	AUX	jesam
trebali	VERB	trebati
na	ADP	na
Banjici	PROPN	Banjica
da	SCONJ	da
mi	PRON	ja
operišu	VERB	operisati
,	PUNCT	,
da	SCONJ	da
mi	PRON	ja
stavljaju	VERB	stavljati
novo	ADJ	nov
ali	CCONJ	ali
nisu	AUX	jesam
smeli	VERB	smesti
zbog	ADP	zbog
srca	NOUN	srce
,	PUNCT	,
srce	NOUN	srce
mi	PRON	ja
je	AUX	jesam
slabije	ADJ	slab
i	CCONJ	i
onda	ADV	onda
su	AUX	jesam
mi	PRON	ja
a	CCONJ	a
gips	NOUN	gips
su	AUX	jesam
mi	PRON	ja
stavili	VERB	staviti
.	PUNCT	.
I	CCONJ	i
pet	NUM	pet
meseci	NOUN	mesec
sam	AUX	jesam
ga	PRON	on
,	PUNCT	,
dovde	ADV	dovde
mi	PRON	ja
je	AUX	jesam
bilo	AUX	biti
ona	PRON	ona
vrućina	NOUN	vrućina
,	PUNCT	,
ono	PRON	ono
.	PUNCT	.
Poludeo	VERB	poludeti
sam	AUX	jesam
bio	AUX	biti
,	PUNCT	,
al	CCONJ	al
sam	AUX	jesam
nekako	ADV	nekako
izdržao	VERB	izdržati
,	PUNCT	,
eto	PART	eto
.	PUNCT	.
Pa	CCONJ	pa
koleno	VERB	koleno
me	PRON	ja
,	PUNCT	,
s	ADP	s
vreme	NOUN	vreme
na	ADP	na
na	ADP	na
vreme	NOUN	vreme
žiga	VERB	žigati
.	PUNCT	.
Valjda	ADV	valjda
se	PART	se
skuplja	VERB	skupljati
,	PUNCT	,
da	SCONJ	da
l	PART	l
'	PUNCT	'
šta	PRON	šta
li	PART	li
je	AUX	jesam
.	PUNCT	.
Kaže	VERB	kazati
,	PUNCT	,
da	SCONJ	da
ne	PART	ne
smem	VERB	smeti
mmnogo	ADJ	mmnogo
,	PUNCT	,
treba	VERB	trebati
da	SCONJ	da
mirujem	VERB	mirovati
,	PUNCT	,
treba	VERB	trebati
ovo	DET	ovaj
,	PUNCT	,
treba	VERB	trebati
ono	PRON	ono
.	PUNCT	.
Ne	PART	ne
znam	VERB	znati
.	PUNCT	.
Jastuk	NOUN	jastuk
je	AUX	jesam
tu	ADV	tu
i	PART	i
evo	PART	evo
vidite	VERB	viditi
sve	DET	sav
je	AUX	jesam
pod	ADP	pod
otokom	NOUN	otok
.	PUNCT	.
E	PART	e
sad	ADV	sad
,	PUNCT	,
kad	SCONJ	kad
će	AUX	hteti
ovi	DET	ovaj
iz	ADP	iz
iz	ADP	iz
Nemanjine	PROPN	Nemanjine
da	SCONJ	da
pošalju	VERB	poslati
.	PUNCT	.
Rekli	VERB	reći
su	AUX	jesam
do	ADP	do
ove	DET	ovaj
nedelje	NOUN	nedelja
valjda	ADV	valjda
.	PUNCT	.
Kako	ADV	kako
mislite	VERB	misliti
?	PUNCT	?
Pa	PART	pa
šta	PRON	šta
znam	VERB	znati
.	PUNCT	.
A	CCONJ	A
družio	VERB	družiti
sam	AUX	jesam
se	PART	se
sa	ADP	sa
tim	DET	taj
prijateljem	NOUN	prijatelj
,	PUNCT	,
ali	CCONJ	ali
na	ADP	na
nažalost	ADV	nažalost
on	PRON	on
je	AUX	jesam
umro	VERB	umreti
i	CCONJ	i
i	CCONJ	i
nema	VERB	nemati
ono	DET	onaj
staro	ADJ	star
,	PUNCT	,
a	CCONJ	a
društvo	NOUN	društvo
se	PART	se
rasturilo	VERB	rasturiti
,	PUNCT	,
svaki	DET	svaki
na	ADP	na
svoju	DET	svoj
stranu	NOUN	strana
.	PUNCT	.
Neko	PRON	neko
se	PART	se
o	ADP	o
oženio	VERB	oženiti
,	PUNCT	,
neko	DET	neki
otišo	VERB	otišo
,	PUNCT	,
tako	ADV	tako
da	SCONJ	da
nije	AUX	jesam
više	ADV	više
kao	PART	kao
nekada	ADV	nekada
.	PUNCT	.
Nekada	ADV	nekada
smo	AUX	jesam
znali	VERB	znati
da	SCONJ	da
sednemo	VERB	sesti
,	PUNCT	,
da	SCONJ	da
kupimo	VERB	kupiti
gajbu	NOUN	gajba
piva	NOUN	piva
i	CCONJ	i
gitaru	NOUN	gitara
.	PUNCT	.
I	CCONJ	i
da	SCONJ	da
sednemo	VERB	sesti
i	CCONJ	i
do	ADP	do
deset	NUM	deset
,	PUNCT	,
jedanest	NOUN	jedanest
,	PUNCT	,
dvanest	ADJ	dvanest
sati	NOUN	sat
,	PUNCT	,
da	SCONJ	da
.	PUNCT	.
Ali	CCONJ	ali
toga	DET	taj
više	ADV	više
nema	VERB	nemati
.	PUNCT	.
Ne	PART	ne
,	PUNCT	,
ne	PART	ne
znam	VERB	znati
.	PUNCT	.
Pa	CCONJ	pa
većinom	NOUN	većina
voleo	VERB	voleti
sam	AUX	jesam
Đorđa	PROPN	Đorđe
Marjanovića	PROPN	Marjanović
.	PUNCT	.
Onda	SCONJ	onda
ima	VERB	imati
ove	DET	ovaj
narodne	ADJ	narodni
kao	CCONJ	kao
što	SCONJ	što
je	AUX	jesam
Miroslav	PROPN	Miroslav
,	PUNCT	,
Lepa	PROPN	Lepa
Brena	PROPN	Brena
,	PUNCT	,
ne	PART	ne
znam	VERB	znati
,	PUNCT	,
Miki	PROPN	Mika
dok	SCONJ	dok
je	AUX	jesam
bio	AUX	biti
živ	ADJ	živ
.	PUNCT	.
Onda	ADV	onda
Harisa	PROPN	Haris
,	PUNCT	,
ovoga	DET	ovaj
Džinovića	PROPN	Džinović
valjda	ADV	valjda
.	PUNCT	.
I	CCONJ	i
tako	ADV	tako
tu	ADV	tu
i	CCONJ	i
tamo	ADV	tamo
.	PUNCT	.
Išli	VERB	ići
smo	AUX	jesam
u	ADP	u
Gradsku	ADJ	gradski
pivnicu	NOUN	pivnica
.	PUNCT	.
To	DET	taj
je	AUX	jesam
ona	PRON	ona
kod	ADP	kod
Vuka	PROPN	Vuk
,	PUNCT	,
a	CCONJ	a
bioskopa	NOUN	bioskop
sto	NUM	sto
je	AUX	jesam
u	ADP	u
rupi	NOUN	rupa
.	PUNCT	.
Onda	ADV	onda
smo	AUX	jesam
se	PART	se
svi	DET	sav
celokupno	VERB	celokupno
,	PUNCT	,
i	CCONJ	i
odemo	VERB	otići
na	ADP	na
,	PUNCT	,
na	ADP	na
.	PUNCT	.
Krigle	VERB	krigle
,	PUNCT	,
pivo	NOUN	piva
.	PUNCT	.
I	CCONJ	i
onda	ADV	onda
sednemo	VERB	sesti
za	ADP	za
onaj	DET	onaj
sto	NOUN	sto
i	CCONJ	i
tu	ADV	tu
.	PUNCT	.
Ili	CCONJ	ili
odemo	VERB	otići
u	ADP	u
Orašac	PROPN	Orašac
preko	ADP	preko
puta	NOUN	put
Vuka	PROPN	Vuk
i	CCONJ	i
onda	ADV	onda
uvatimo	VERB	uvatiti
dva	NUM	dva
stola	NOUN	sto
i	CCONJ	i
onda	ADV	onda
kolko	ADV	kolko
smo	AUX	jesam
tu	ADV	tu
,	PUNCT	,
svaki	DET	svaki
iz	ADP	iz
džepa	NOUN	džep
izvadi	VERB	izvaditi
i	CCONJ	i
kolko	ADV	kolko
ko	PRON	ko
,	PUNCT	,
i	CCONJ	i
zovemo	VERB	zvati
onoga	DET	onaj
Miću	PROPN	Mića
.	PUNCT	.
Bio	AUX	biti
neki	DET	neki
mi	PRON	ja
rekao	VERB	reći
,	PUNCT	,
za	ADP	za
ove	DET	ovaj
pare	NOUN	par
,	PUNCT	,
ćevape	NOUN	ćevap
i	CCONJ	i
pivo	NOUN	piva
.	PUNCT	.
I	CCONJ	i
on	PRON	on
izbroji	VERB	izbrojiti
i	CCONJ	i
kaže	VERB	kazati
,	PUNCT	,
toliko	ADV	toliko
.	PUNCT	.
Rekoh	VERB	reći
,	PUNCT	,
daj	VERB	dati
onda	ADV	onda
sednemo	VERB	sesti
.	PUNCT	.
Salata	NOUN	salata
to	DET	taj
i	CCONJ	i
kažem	VERB	kazati
,	PUNCT	,
išli	VERB	ići
smo	AUX	jesam
tu	ADV	tu
i	CCONJ	i
i	CCONJ	i
gore	ADV	gore
kod	ADP	kod
Vuka	PROPN	Vuk
.	PUNCT	.
Kako	SCONJ	kako
se	PART	se
zove	VERB	zvati
ona	PRON	ona
kafana	NOUN	kafana
sa	ADP	sa
desne	ADJ	desni
strane	NOUN	strana
,	PUNCT	,
velika	ADJ	velik
što	SCONJ	što
ima	VERB	imati
i	PART	i
i	CCONJ	i
baštu	NOUN	bašta
?	PUNCT	?
Uh	INTJ	uh
,	PUNCT	,
kako	SCONJ	kako
joj	PRON	ona
je	AUX	jesam
ime	NOUN	ime
?	PUNCT	?
(	PUNCT	(
obraća	VERB	obraćati
se	PART	se
suprugi	ADJ	suprugi
i	CCONJ	i
pita	VERB	pitati
je	PRON	ona
za	ADP	za
ime	NOUN	ime
kafane	NOUN	kafana
,	PUNCT	,
na	ADP	na
šta	PRON	šta
ona	PRON	ona
odgovara	VERB	odgovarati
da	SCONJ	da
nije	AUX	jesam
nikad	ADV	nikad
bila	AUX	biti
)	PUNCT	)
Tu	ADV	tu
je	AUX	jesam
ona	PRON	ona
,	PUNCT	,
pa	CCONJ	pa
znaš	VERB	znati
frizerska	ADJ	frizerski
,	PUNCT	,
pa	CCONJ	pa
velika	ADJ	velik
ona	PRON	ona
kafana	NOUN	kafana
brate	NOUN	brata
.	PUNCT	.
Kažem	VERB	kazati
,	PUNCT	,
tu	ADV	tu
tu	ADV	tu
i	CCONJ	i
tamo	ADV	tamo
,	PUNCT	,
a	CCONJ	a
u	ADP	u
slobodno	ADJ	slobodan
vreme	NOUN	vreme
odem	VERB	otići
na	ADP	na
pijac	NOUN	pijac
.	PUNCT	.
Jer	SCONJ	jer
sam	AUX	jesam
tamo	ADV	tamo
znao	VERB	znati
neke	DET	neki
prijatelje	NOUN	prijatelj
iz	ADP	iz
iz	ADP	iz
njenoga	ADV	njenoga
,	PUNCT	,
odakle	ADV	odakle
je	AUX	jesam
ona	PRON	ona
.	PUNCT	.
I	CCONJ	i
onda	ADV	onda
kupimo	VERB	kupiti
tamo	ADV	tamo
pivo	NOUN	piva
,	PUNCT	,
sednemo	VERB	sesti
i	CCONJ	i
onda	ADV	onda
hleba	NOUN	hleb
,	PUNCT	,
salata	NOUN	salata
,	PUNCT	,
ne	PART	ne
znam	VERB	znati
,	PUNCT	,
luka	NOUN	luk
,	PUNCT	,
slaninica	NOUN	slaninica
.	PUNCT	.
Onda	ADV	onda
bilo	AUX	biti
lulubenica	NOUN	lulubenica
,	PUNCT	,
onda	SCONJ	onda
bilo	AUX	biti
.	PUNCT	.
Ali	CCONJ	ali
nažalost	ADV	nažalost
,	PUNCT	,
njih	PRON	ona
više	ADV	više
nema	VERB	nemati
,	PUNCT	,
umrli	ADJ	umrli
.	PUNCT	.
A	CCONJ	A
,	PUNCT	,
a	CCONJ	a
na	ADP	na
pijaci	ADJ	pijaci
nisam	AUX	jesam
bio	AUX	biti
,	PUNCT	,
ne	PART	ne
pamtim	VERB	pamtiti
.	PUNCT	.
Je	AUX	jesam
l	CCONJ	l
'	PUNCT	'
to	DET	taj
sve	ADV	sve
?	PUNCT	?
O	ADP	o
meni	PRON	ja
?	PUNCT	?
Brat	NOUN	brat
mi	PRON	ja
je	AUX	jesam
,	PUNCT	,
pre	ADP	pre
koliko	ADV	koliko
ima	VERB	imati
,	PUNCT	,
pre	ADP	pre
godinu	NOUN	godina
dana	NOUN	dan
,	PUNCT	,
umro	VERB	umreti
.	PUNCT	.
Stariji	ADJ	star
je	AUX	jesam
od	ADP	od
mene	PRON	ja
.	PUNCT	.
On	PRON	on
je	AUX	jesam
umro	VERB	umreti
.	PUNCT	.
Njega	NOUN	njega
nema	VERB	nemati
.	PUNCT	.
Eto	PART	eto
ja	PRON	ja
sam	AUX	jesam
sam	ADJ	sam
.	PUNCT	.
Živim	VERB	živiti
sa	ADP	sa
njom	PRON	ona
,	PUNCT	,
a	CCONJ	a
ćerka	NOUN	ćerka
mi	PRON	ja
je	AUX	jesam
frizerka	NOUN	frizerka
.	PUNCT	.
Evo	PART	evo
sad	ADV	sad
me	PRON	ja
baš	PART	baš
ošišala	VERB	ošišati
.	PUNCT	.
Ja	PRON	ja
je	AUX	jesam
baš	PART	baš
preko	ADP	preko
telefona	NOUN	telefon
zovem	VERB	zvati
,	PUNCT	,
rekoh	VERB	reći
,	PUNCT	,
ajde	INTJ	ajde
smiluj	VERB	smilovati
se	PART	se
već	ADV	već
jednom	ADV	jednom
da	SCONJ	da
me	PRON	ja
ošišaš	VERB	ošišati
.	PUNCT	.
Kad	SCONJ	kad
krenem	VERB	krenuti
u	ADP	u
banju	NOUN	banja
,	PUNCT	,
da	SCONJ	da
ne	PART	ne
budem	AUX	biti
onakav	DET	onakav
.	PUNCT	.
Ona	PRON	ona
kaže	VERB	kazati
hoću	AUX	hteti
,	PUNCT	,
hoću	AUX	hteti
,	PUNCT	,
a	CCONJ	a
nikad	ADV	nikad
nema	ADJ	nem
vremena	NOUN	vreme
.	PUNCT	.
I	CCONJ	i
sad	ADV	sad
uhvatila	VERB	uhvatiti
da	SCONJ	da
me	PRON	ja
malo	ADV	malo
ošiša	VERB	ošišati
.	PUNCT	.
Pa	CCONJ	pa
eto	PART	eto
,	PUNCT	,
bio	AUX	biti
sam	DET	sam
mangupčić	NOUN	mangupčić
kao	ADV	kao
,	PUNCT	,
kao	CCONJ	kao
svi	DET	sav
mi	PRON	ja
.	PUNCT	.
Išli	VERB	ići
smo	AUX	jesam
,	PUNCT	,
onda	ADV	onda
ranije	ADV	ranije
,	PUNCT	,
prodavali	VERB	prodavati
mleko	NOUN	mleko
u	ADP	u
flašama	NOUN	flaša
.	PUNCT	.
A	CCONJ	A
ne	PART	ne
mislim	VERB	misliti
ovako	ADV	ovako
,	PUNCT	,
u	ADP	u
onim	DET	onaj
.	PUNCT	.
I	CCONJ	i
mi	PRON	ja
,	PUNCT	,
da	SCONJ	da
bi	AUX	biti
išli	VERB	ići
u	ADP	u
bioskop	NOUN	bioskop
,	PUNCT	,
onda	SCONJ	onda
je	AUX	jesam
bilo	AUX	biti
na	ADP	na
Slaviji	PROPN	Slavija
,	PUNCT	,
od	ADP	od
deset	NUM	deset
.	PUNCT	.
On	PRON	on
je	AUX	jesam
bio	AUX	biti
još	PART	još
onaj	DET	onaj
stari	ADJ	star
.	PUNCT	.
Sad	ADV	sad
je	AUX	jesam
sve	DET	sav
to	DET	taj
srušeno	VERB	srušiti
,	PUNCT	,
a	CCONJ	a
ranije	ADV	ranije
je	AUX	jesam
to	DET	taj
.	PUNCT	.
I	CCONJ	i
mi	PRON	ja
mi	PRON	ja
tu	DET	taj
dođemo	VERB	doći
i	CCONJ	i
ispred	ADP	ispred
vrata	NOUN	vrata
maznemo	VERB	maznuti
ono	PRON	ono
.	PUNCT	.
Ostavimo	VERB	ostaviti
praznu	ADJ	prazan
i	CCONJ	i
tako	ADV	tako
nam	PRON	mi
ostane	VERB	ostati
.	PUNCT	.
I	CCONJ	i
odemo	VERB	otići
svi	DET	sav
u	ADP	u
bioskop	NOUN	bioskop
.	PUNCT	.
U	ADP	u
deset	NUM	deset
sati	NOUN	sat
je	AUX	jesam
škola	NOUN	škola
,	PUNCT	,
kakva	DET	kakav
škola	NOUN	škola
.	PUNCT	.
Posle	ADP	posle
majka	NOUN	majka
mi	PRON	ja
se	PART	se
zaposlila	VERB	zaposliti
u	ADP	u
bioskop	NOUN	bioskop
u	ADP	u
Vuku	PROPN	Vuk
radila	VERB	raditi
.	PUNCT	.
I	CCONJ	i
onda	ADV	onda
sam	AUX	jesam
preko	ADP	preko
nje	PRON	ona
ulazio	VERB	ulaziti
za	ADP	za
džabe	ADV	džabe
i	CCONJ	i
gledo	NOUN	gledo
i	CCONJ	i
filmove	NOUN	film
.	PUNCT	.
A	CCONJ	A
u	ADP	u
februaru	NOUN	februar
,	PUNCT	,
kada	SCONJ	kada
je	AUX	jesam
fest	NOUN	fest
bio	AUX	biti
,	PUNCT	,
onda	SCONJ	onda
sam	DET	sam
radio	VERB	raditi
na	ADP	na
vratima	NOUN	vrata
,	PUNCT	,
cepao	VERB	cepati
karte	NOUN	karta
.	PUNCT	.
I	CCONJ	i
onda	ADV	onda
,	PUNCT	,
ko	PRON	ko
nema	VERB	nemati
kartu	NOUN	karta
,	PUNCT	,
a	CCONJ	a
poznaje	VERB	poznavati
me	PRON	ja
i	CCONJ	i
kaže	VERB	kazati
,	PUNCT	,
kaže	VERB	kazati
,	PUNCT	,
kako	SCONJ	kako
ćemo	AUX	hteti
?	PUNCT	?
Rekoh	VERB	reći
,	PUNCT	,
ovde	ADV	ovde
je	AUX	jesam
odmah	ADV	odmah
bife	NOUN	bife
,	PUNCT	,
idi	VERB	ići
uplati	NOUN	uplata
pivo	NOUN	piva
i	CCONJ	i
i	CCONJ	i
beži	VERB	bežati
u	ADP	u
salu	NOUN	sala
.	PUNCT	.
Sad	ADV	sad
gde	SCONJ	gde
ćeš	AUX	hteti
da	SCONJ	da
sednš	VERB	sednš
,	PUNCT	,
ja	PRON	ja
to	DET	taj
ne	PART	ne
znam	VERB	znati
.	PUNCT	.
I	CCONJ	i
u	ADP	u
deset	NUM	deset
svi	DET	sav
i	CCONJ	i
ja	PRON	ja
pitam	VERB	pitati
nju	PRON	ona
:	PUNCT	:
”	PUNCT	"
Je	AUX	jesam
l	PART	l
'	PUNCT	'
ima	VERB	imati
?	PUNCT	?
”	PUNCT	"
Kaže	VERB	kazati
dobio	VERB	dobiti
si	AUX	jesam
dve	NUM	dva
gajbe	NOUN	gajba
.	PUNCT	.
Rekoh	VERB	reći
,	PUNCT	,
ajdemo	INTJ	ajdemo
na	ADP	na
pivo	NOUN	piva
.	PUNCT	.
Kaže	VERB	kazati
ona	PRON	ona
:	PUNCT	:
”	PUNCT	"
Odakle	ADV	odakle
ti	PRON	ti
?	PUNCT	?
”	PUNCT	"
.	PUNCT	.
Ona	PRON	ona
izvuče	VERB	izvući
pivo	NOUN	piva
.	PUNCT	.
Kaže	VERB	kazati
,	PUNCT	,
tu	ADV	tu
isti	ADJ	isti
smo	AUX	jesam
.	PUNCT	.
A	CCONJ	A
najviše	ADV	najviše
smo	AUX	jesam
u	ADP	u
u	ADP	u
pivnicu	NOUN	pivnica
.	PUNCT	.
Kad	SCONJ	kad
tu	ADV	tu
smo	AUX	jesam
se	PART	se
skupljali	VERB	skupljati
.	PUNCT	.
Bilo	AUX	biti
i	CCONJ	i
ćevapi	NOUN	ćevap
i	CCONJ	i
ovo	DET	ovaj
i	CCONJ	i
ono	DET	onaj
,	PUNCT	,
a	CCONJ	a
,	PUNCT	,
a	CCONJ	a
uveče	ADV	uveče
je	AUX	jesam
od	ADP	od
devet	NUM	devet
sati	NOUN	sat
bio	AUX	biti
je	AUX	jesam
još	ADV	još
živ	ADJ	živ
Toma	PROPN	Toma
Zdravković	PROPN	Zdravković
i	CCONJ	i
onda	ADV	onda
smo	AUX	jesam
mi	PRON	ja
da	SCONJ	da
ga	PRON	on
slušamo	VERB	slušati
.	PUNCT	.
Onda	ADV	onda
kad	SCONJ	kad
sednemo	VERB	sesti
teramo	VERB	terati
do	ADP	do
zore	NOUN	zor
.	PUNCT	.
Eto	PART	eto
to	DET	taj
,	PUNCT	,
ništa	PRON	ništa
naročito	ADV	naročito
.	PUNCT	.
Molim	VERB	moliti
,	PUNCT	,
ništa	PRON	ništa
,	PUNCT	,
pa	CCONJ	pa
eto	PART	eto
to	DET	taj
je	AUX	jesam
,	PUNCT	,
ništa	PRON	ništa
naročito	ADV	naročito
,	PUNCT	,
normalno	ADV	normalno
.	PUNCT	.
Sad	ADV	sad
koliko	ADV	koliko
će	AUX	hteti
to	DET	taj
da	SCONJ	da
vam	PRON	vi
da	SCONJ	da
vam	PRON	vi
pomogne	VERB	pomoći
,	PUNCT	,
je	AUX	jesam
ne	PART	ne
znam	VERB	znati
.	PUNCT	.
