Imam	VERB	imati
šezdeset-devet	NOUN	šezdeset-devet
,	PUNCT	,
u	ADP	u
sedamdesetu	ADJ	sedamdeseti
sam	AUX	jesam
načeo	VERB	načeti
.	PUNCT	.
U	ADP	u
Beogradu	PROPN	Beograd
.	PUNCT	.
Pa	CCONJ	pa
šecera	NOUN	šecera
nije	AUX	jesam
hronična	ADJ	hroničan
,	PUNCT	,
nego	CCONJ	nego
sam	AUX	jesam
dobio	VERB	dobiti
kad	SCONJ	kad
sam	AUX	jesam
bio	AUX	biti
udes	NOUN	udes
imao	VERB	imati
i	CCONJ	i
dobijem	VERB	dobiti
frast	NOUN	frast
.	PUNCT	.
Od	ADP	od
frast	NOUN	frast
mi	PRON	ja
i	CCONJ	i
dobijem	VERB	dobiti
šecer	NOUN	šecer
.	PUNCT	.
Pa	PART	pa
jesam	AUX	jesam
pod	ADP	pod
terapijom	NOUN	terapija
lekova	NOUN	lek
insulina	ADJ	insulina
i	CCONJ	i
ostalih	ADJ	ostalih
još	ADV	još
bolesti	NOUN	bolest
neke	DET	neki
.	PUNCT	.
A	CCONJ	A
u	ADP	u
domu	NOUN	dom
ovom	DET	ovaj
ovde	ADV	ovde
.	PUNCT	.
Živeo	VERB	živeti
sam	AUX	jesam
kao	ADV	kao
podstanar	NOUN	podstanar
.	PUNCT	.
Da	SCONJ	da
,	PUNCT	,
da	SCONJ	da
u	ADP	u
Beogradu	PROPN	Beograd
,	PUNCT	,
ali	CCONJ	ali
napustio	VERB	napustiti
sam	DET	sam
porodicu	NOUN	porodica
i	CCONJ	i
sam	DET	sam
živim	VERB	živiti
.	PUNCT	.
Pa	CCONJ	pa
da	SCONJ	da
vam	PRON	vi
kažem	VERB	kazati
nešto	PRON	nešto
,	PUNCT	,
bilo	AUX	biti
mi	PRON	ja
je	AUX	jesam
sa	ADP	sa
porodicom	NOUN	porodica
dok	SCONJ	dok
sam	AUX	jesam
mogao	VERB	moći
da	SCONJ	da
trpim	VERB	trpiti
,	PUNCT	,
e	INTJ	e
onda	ADV	onda
kad	SCONJ	kad
nisam	AUX	jesam
mogao	VERB	moći
da	SCONJ	da
trpim	VERB	trpiti
ja	PRON	ja
sam	AUX	jesam
otišao	VERB	otići
od	ADP	od
porodice	NOUN	porodica
.	PUNCT	.
I	CCONJ	i
vuk	NOUN	vuk
samotnjak	ADJ	samotnjak
teško	ADV	teško
jeste	AUX	jesam
,	PUNCT	,
ali	CCONJ	ali
šta	PRON	šta
ću	AUX	hteti
.	PUNCT	.
Pa	CCONJ	pa
učio	VERB	učiti
sam	AUX	jesam
ali	CCONJ	ali
slabo	ADV	slabo
.	PUNCT	.
Pa	CCONJ	pa
engleski	ADJ	engleski
u	ADP	u
školi	NOUN	škola
.	PUNCT	.
Inače	PART	inače
slabo	ADV	slabo
ovaj	DET	ovaj
,	PUNCT	,
nešto	PRON	nešto
razumem	VERB	razumeti
,	PUNCT	,
nešto	PRON	nešto
ne	PART	ne
razumem	VERB	razumeti
i	CCONJ	i
tako	ADV	tako
da	SCONJ	da
.	PUNCT	.
Pa	CCONJ	pa
radio	VERB	raditi
sam	AUX	jesam
u	ADP	u
više	ADV	više
preduzeća	NOUN	preduzeće
.	PUNCT	.
Prvo	ADV	prvo
sam	AUX	jesam
počeo	VERB	početi
Oktobarska	ADJ	oktobarski
sloboda	NOUN	sloboda
.	PUNCT	.
To	DET	taj
je	AUX	jesam
štopara	VERB	štopara
bivša	ADJ	bivši
na	ADP	na
Karaburmi	PROPN	Karaburma
,	PUNCT	,
pa	CCONJ	pa
sam	DET	sam
radio	NOUN	radio
ima	VERB	imati
u	ADP	u
u	ADP	u
Jadranu	PROPN	Jadran
molerofarbarski	ADJ	molerofarbarski
posao	VERB	posati
,	PUNCT	,
pa	CCONJ	pa
sam	AUX	jesam
radio	VERB	raditi
na	ADP	na
Tašmajdanu	PROPN	Tašmajdan
kao	CCONJ	kao
instruktor	NOUN	instruktor
plivanja	NOUN	plivanje
trener	NOUN	trener
i	CCONJ	i
spasilac	NOUN	spasilac
i	CCONJ	i
fizički	ADJ	fizički
radnik	NOUN	radnik
,	PUNCT	,
i	CCONJ	i
pa	CCONJ	pa
sam	ADJ	sam
radio	VERB	raditi
na	ADP	na
kraju	NOUN	kraj
ovaj	DET	ovaj
u	ADP	u
livnici	NOUN	livnica
,	PUNCT	,
bivša	ADJ	bivši
livnica	NOUN	livnica
Pom	PROPN	Pom
na	ADP	na
Novom	ADJ	nov
Beogradu	PROPN	Beograd
.	PUNCT	.
Posle	ADP	posle
Pom	PROPN	Pom
i	CCONJ	i
Emte	PROPN	Emte
zajedno	ADV	zajedno
.	PUNCT	.
I	CCONJ	i
tu	ADV	tu
sam	AUX	jesam
završio	VERB	završiti
i	CCONJ	i
ovaj	DET	ovaj
,	PUNCT	,
nisam	AUX	jesam
se	PART	se
libio	VERB	libiti
nikakvog	DET	nikakav
posla	VERB	poslati
da	SCONJ	da
radim	VERB	raditi
.	PUNCT	.
Sve	DET	sav
sam	ADJ	sam
radio	VERB	raditi
što	SCONJ	što
se	PART	se
trebalo	VERB	trebati
raditi	VERB	raditi
.	PUNCT	.
A	CCONJ	A
osmogodišnju	ADJ	osmogodišnji
školu	NOUN	škola
sam	AUX	jesam
završio	VERB	završiti
i	CCONJ	i
ništa	PRON	ništa
drugo	ADJ	drugi
.	PUNCT	.
A	CCONJ	A
inače	PART	inače
priučenik	VERB	priučenik
sam	AUX	jesam
bio	AUX	biti
molerofarbar	VERB	molerofarbar
.	PUNCT	.
Pa	CCONJ	pa
da	SCONJ	da
vam	PRON	vi
kažem	VERB	kazati
nešto	PRON	nešto
,	PUNCT	,
imao	VERB	imati
sam	ADJ	sam
talenta	NOUN	talent
za	ADP	za
pevanje	NOUN	pevanje
,	PUNCT	,
za	ADP	za
sport	NOUN	sport
,	PUNCT	,
za	ADP	za
sve	DET	sav
ostalo	VERB	ostati
.	PUNCT	.
Pa	CCONJ	pa
čitao	VERB	čitati
sam	AUX	jesam
dok	SCONJ	dok
sam	AUX	jesam
mogao	VERB	moći
,	PUNCT	,
mislim	VERB	misliti
dok	SCONJ	dok
ne	PART	ne
,	PUNCT	,
dok	SCONJ	dok
sam	AUX	jesam
voleo	VERB	voleti
,	PUNCT	,
razumete	VERB	razumeti
.	PUNCT	.
Posle	ADP	posle
sam	DET	sam
morao	VERB	morati
da	SCONJ	da
radim	VERB	raditi
,	PUNCT	,
da	SCONJ	da
snabdevam	VERB	snabdevati
porodicu	NOUN	porodica
i	CCONJ	i
sve	DET	sav
.	PUNCT	.
Pa	CCONJ	pa
naše	DET	naš
,	PUNCT	,
ovaj	DET	ovaj
,	PUNCT	,
nas	PRON	mi
troje	NUM	troje
je	AUX	jesam
bilo	AUX	biti
.	PUNCT	.
U	ADP	u
stvari	NOUN	stvar
živeli	VERB	živeti
smo	AUX	jesam
kod	ADP	kod
u	ADP	u
majčinom	ADJ	majčin
stanu	NOUN	stan
,	PUNCT	,
pokojne	ADJ	pokojni
majke	NOUN	majka
u	ADP	u
stanu	NOUN	stan
i	CCONJ	i
na	ADP	na
kraju	NOUN	kraj
prodali	VERB	prodati
su	AUX	jesam
stan	NOUN	stan
braća	NOUN	braća
.	PUNCT	.
Nas	PRON	mi
je	AUX	jesam
puno	ADJ	pun
dece	NOUN	deca
bilo	AUX	biti
.	PUNCT	.
Šestoro	NUM	šestoro
dece	NOUN	deca
,	PUNCT	,
pet	NUM	pet
sinova	NOUN	sin
i	CCONJ	i
jedna	NUM	jedan
ćerka	NOUN	ćerka
.	PUNCT	.
I	CCONJ	i
sad	ADV	sad
ostalo	VERB	ostati
je	AUX	jesam
bilo	AUX	biti
nas	PRON	mi
u	ADP	u
stanu	NOUN	stan
da	SCONJ	da
živi	VERB	živiti
dvoje	NUM	dvoje
,	PUNCT	,
taj	DET	taj
jedan	NUM	jedan
pokojni	ADJ	pokojni
brat	NOUN	brat
alkoholičar	NOUN	alkoholičar
i	CCONJ	i
moja	DET	moj
porodica	NOUN	porodica
.	PUNCT	.
Imam	VERB	imati
jednog	NUM	jedan
sina	NOUN	sin
i	CCONJ	i
žena	NOUN	žena
je	AUX	jesam
izgubila	VERB	izgubiti
dva	NUM	dva
ploda	NOUN	plod
.	PUNCT	.
Još	ADV	još
dva	NUM	dva
sina	NOUN	sin
,	PUNCT	,
jednog	NUM	jedan
u	ADP	u
osam	NUM	osam
i	CCONJ	i
po	ADV	po
meseci	NOUN	mesec
,	PUNCT	,
jedno	NUM	jedan
u	ADP	u
šest	NUM	šest
.	PUNCT	.
Al	CCONJ	al
sad	ADV	sad
ovo	DET	ovaj
u	ADP	u
osam	NUM	osam
i	CCONJ	i
po	ADV	po
meseci	NOUN	mesec
ja	PRON	ja
sumnjam	VERB	sumnjati
da	SCONJ	da
je	AUX	jesam
,	PUNCT	,
što	SCONJ	što
kažu	VERB	kazati
amnestirao	VERB	amnestirati
kako	SCONJ	kako
se	PART	se
oni	PRON	oni
izražavaju	VERB	izražavati
,	PUNCT	,
jer	SCONJ	jer
nisu	AUX	jesam
mi	PRON	ja
dali	VERB	dati
da	SCONJ	da
ga	PRON	on
sahranim	VERB	sahraniti
.	PUNCT	.
Ono	PRON	ono
je	AUX	jesam
živo	ADV	živo
rođeno	ADJ	rođeno
i	CCONJ	i
sve	DET	sav
,	PUNCT	,
međutim	PART	međutim
u	ADP	u
inkubatoru	NOUN	inkubator
je	AUX	jesam
bio	AUX	biti
i	PART	i
više	ADV	više
ga	PRON	on
nisu	AUX	jesam
dali	VERB	dati
da	SCONJ	da
ga	PRON	on
iznesem	VERB	izneti
,	PUNCT	,
da	SCONJ	da
ga	PRON	on
sahranim	VERB	sahraniti
i	CCONJ	i
sve	DET	sav
kao	CCONJ	kao
što	SCONJ	što
dolikuje	VERB	dolikovati
.	PUNCT	.
I	CCONJ	i
tako	ADV	tako
da	SCONJ	da
sam	AUX	jesam
se	PART	se
bio	AUX	biti
razočarao	VERB	razočarati
.	PUNCT	.
Molim	VERB	moliti
?	PUNCT	?
Imam	VERB	imati
unuku	NOUN	unuka
.	PUNCT	.
Mogu	VERB	moći
,	PUNCT	,
ovaj	DET	ovaj
,	PUNCT	,
ona	PRON	ona
se	PART	se
zove	VERB	zvati
Anđela	PROPN	Anđela
Nikolić	PROPN	Nikolić
.	PUNCT	.
Anđela	PROPN	Anđela
međutim	PART	međutim
,	PUNCT	,
ona	PRON	ona
ima	VERB	imati
sada	ADV	sada
jedanaestu	ADJ	jedanaesti
godinu	NOUN	godina
je	AUX	jesam
načela	NOUN	načelo
i	CCONJ	i
otac	NOUN	otac
ju	PRON	ona
je	AUX	jesam
napustio	VERB	napustiti
.	PUNCT	.
To	DET	taj
dete	NOUN	dete
i	CCONJ	i
ženu	NOUN	žena
,	PUNCT	,
radi	ADP	radi
devojčice	NOUN	devojčica
koja	DET	koji
može	VERB	moći
ćerka	NOUN	ćerka
da	SCONJ	da
mu	PRON	on
bude	AUX	biti
.	PUNCT	.
I	CCONJ	i
ovaj	DET	ovaj
,	PUNCT	,
ja	PRON	ja
sam	PRON	sam
se	PART	se
razočarao	VERB	razočarati
u	ADP	u
njega	PRON	on
.	PUNCT	.
A	CCONJ	A
pomagao	VERB	pomagati
sam	AUX	jesam
im	PRON	ona
i	CCONJ	i
novčano	ADV	novčano
i	PART	i
fizički	ADV	fizički
i	PART	i
sve	DET	sav
sam	AUX	jesam
im	PRON	ona
pomagao	VERB	pomagati
,	PUNCT	,
da	SCONJ	da
bi	AUX	biti
na	ADP	na
kraju	NOUN	kraj
uništio	VERB	uništiti
sebe	PRON	sebe
,	PUNCT	,
da	SCONJ	da
bi	AUX	biti
to	DET	taj
dete	NOUN	dete
imalo	VERB	imati
,	PUNCT	,
da	SCONJ	da
bi	AUX	biti
imali	VERB	imati
svi	DET	sav
.	PUNCT	.
Ne	PART	ne
samo	PART	samo
dete	NOUN	dete
,	PUNCT	,
imali	VERB	imati
su	AUX	jesam
.	PUNCT	.
I	CCONJ	i
prija	VERB	prijati
i	CCONJ	i
bivša	ADJ	bivši
žena	NOUN	žena
moja	DET	moj
tu	ADV	tu
je	AUX	jesam
bila	AUX	biti
s	ADP	s
njima	PRON	ona
i	CCONJ	i
svi	DET	sav
ostali	ADJ	ostali
.	PUNCT	.
I	CCONJ	i
na	ADP	na
kraju	NOUN	kraj
kad	SCONJ	kad
je	AUX	jesam
najpotrebniji	ADJ	potreban
otac	NOUN	otac
tom	DET	taj
detetu	NOUN	dete
,	PUNCT	,
on	PRON	on
je	AUX	jesam
ostavio	VERB	ostaviti
.	PUNCT	.
Ja	PRON	ja
kažem	VERB	kazati
,	PUNCT	,
roditelji	NOUN	roditelj
su	AUX	jesam
krivi	ADJ	kriv
.	PUNCT	.
Svi	DET	sav
svi	DET	sav
roditelji	NOUN	roditelj
,	PUNCT	,
koji	DET	koji
god	PART	god
imaju	VERB	imati
decu	NOUN	deca
,	PUNCT	,
ako	SCONJ	ako
se	PART	se
dogodi	VERB	dogoditi
nešto	ADV	nešto
,	PUNCT	,
roditelj	NOUN	roditelj
je	AUX	jesam
kriv	ADJ	kriv
.	PUNCT	.
Strašno	ADV	strašno
,	PUNCT	,
ja	PRON	ja
je	AUX	jesam
pravim	ADJ	prav
putem	ADP	putem
izveo	VERB	izvesti
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
žrtvovao	VERB	žrtvovati
se	PART	se
za	ADP	za
njega	PRON	on
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
mu	PRON	on
bio	AUX	biti
otac	NOUN	otac
i	CCONJ	i
majka	NOUN	majka
i	CCONJ	i
sve	DET	sav
jer	SCONJ	jer
supruga	NOUN	supruga
nije	AUX	jesam
smela	VERB	smesti
da	SCONJ	da
ga	PRON	on
u	ADP	u
ruke	NOUN	ruka
uzme	VERB	uzeti
.	PUNCT	.
Ona	PRON	ona
je	AUX	jesam
kao	ADV	kao
devetogodišnjakinja	NOUN	devetogodišnjakinja
nastradala	VERB	nastradati
na	ADP	na
ulici	NOUN	ulica
,	PUNCT	,
udari	VERB	udariti
je	AUX	jesam
kamion	NOUN	kamion
i	CCONJ	i
mozak	NOUN	mozak
joj	PRON	ona
bude	AUX	biti
na	ADP	na
ulici	NOUN	ulica
.	PUNCT	.
Lopaticom	NOUN	lopatica
vratili	VERB	vratiti
smo	AUX	jesam
u	ADP	u
lobanju	NOUN	lobanja
mozak	NOUN	mozak
i	CCONJ	i
ona	PRON	ona
,	PUNCT	,
pošto	SCONJ	pošto
joj	PRON	ona
je	AUX	jesam
falilo	VERB	faliti
parče	NOUN	parac
lobanje	NOUN	lobanja
,	PUNCT	,
oni	PRON	oni
su	AUX	jesam
joj	PRON	ona
rčkali	VERB	rčkali
sa	ADP	sa
kuka	NOUN	kuk
,	PUNCT	,
izvadili	VERB	izvaditi
i	CCONJ	i
stavili	VERB	staviti
na	ADP	na
umesto	ADP	umesto
kosti	NOUN	kosti
.	PUNCT	.
I	CCONJ	i
tako	ADV	tako
da	SCONJ	da
su	AUX	jesam
je	AUX	jesam
spasili	VERB	spasiti
.	PUNCT	.
I	CCONJ	i
posledica	NOUN	posledica
toga	DET	taj
dobije	VERB	dobiti
epinapad	NOUN	epinapad
,	PUNCT	,
ali	CCONJ	ali
gde	SCONJ	gde
je	AUX	jesam
odsećena	ADJ	odsećena
,	PUNCT	,
gde	SCONJ	gde
je	AUX	jesam
osećala	VERB	osećati
,	PUNCT	,
oseti	VERB	osetiti
ovaj	DET	ovaj
napad	NOUN	napad
da	SCONJ	da
će	AUX	hteti
da	SCONJ	da
dobije	VERB	dobiti
i	CCONJ	i
zovne	VERB	zovnuti
.	PUNCT	.
I	CCONJ	i
tako	ADV	tako
da	SCONJ	da
je	AUX	jesam
,	PUNCT	,
da	SCONJ	da
sam	AUX	jesam
uvek	ADV	uvek
uz	ADP	uz
nju	PRON	ona
bio	AUX	biti
.	PUNCT	.
Maltene	ADV	maltene
u	ADP	u
trudnoći	NOUN	trudnoća
je	AUX	jesam
imala	VERB	imati
povišene	X	povišene
te	DET	taj
napade	NOUN	napad
,	PUNCT	,
maltene	ADV	maltene
skoro	ADV	skoro
nedeljno	ADV	nedeljno
je	AUX	jesam
tri	NUM	tri
puta	ADV	puta
imala	VERB	imati
te	DET	taj
napade	NOUN	napad
.	PUNCT	.
I	CCONJ	i
lekari	VERB	lekari
su	AUX	jesam
joj	PRON	ona
rekli	VERB	reći
,	PUNCT	,
kaže	VERB	kazati
ovaj	DET	ovaj
,	PUNCT	,
ako	SCONJ	ako
se	PART	se
dete	NOUN	dete
porodi	VERB	poroditi
i	CCONJ	i
sve	DET	sav
,	PUNCT	,
možete	VERB	moći
da	SCONJ	da
rodite	VERB	roditi
dete	NOUN	dete
,	PUNCT	,
neće	AUX	hteti
ostati	VERB	ostati
posledice	NOUN	posledica
na	ADP	na
dete	NOUN	dete
.	PUNCT	.
I	CCONJ	i
međutim	PART	međutim
,	PUNCT	,
kad	SCONJ	kad
je	AUX	jesam
porodila	VERB	poroditi
dete	NOUN	dete
imala	VERB	imati
je	AUX	jesam
možda	PART	možda
još	PART	još
jednom	ADV	jednom
dva	NUM	dva
puta	ADV	puta
ili	CCONJ	ili
tri	NUM	tri
i	CCONJ	i
više	ADV	više
nije	AUX	jesam
imala	VERB	imati
.	PUNCT	.
Ali	CCONJ	ali
labilna	ADJ	labilan
osoba	NOUN	osoba
zbog	ADP	zbog
te	DET	taj
bolesti	NOUN	bolest
,	PUNCT	,
ona	PRON	ona
je	AUX	jesam
labilna	ADJ	labilan
osoba	NOUN	osoba
postala	VERB	postati
.	PUNCT	.
I	CCONJ	i
ja	PRON	ja
nisam	AUX	jesam
mogao	VERB	moći
da	SCONJ	da
trpim	VERB	trpiti
.	PUNCT	.
Čekao	VERB	čekati
sam	AUX	jesam
da	SCONJ	da
othranim	VERB	othraniti
dete	NOUN	dete
,	PUNCT	,
da	SCONJ	da
ga	PRON	on
odgajim	VERB	odgajiti
,	PUNCT	,
odškolujem	VERB	odškolujem
i	CCONJ	i
zaposlim	VERB	zaposliti
.	PUNCT	.
I	CCONJ	i
tako	ADV	tako
sam	AUX	jesam
i	CCONJ	i
uradio	VERB	uraditi
.	PUNCT	.
Kad	SCONJ	kad
sam	AUX	jesam
,	PUNCT	,
jednom	ADV	jednom
je	AUX	jesam
ključno	ADV	ključno
da	SCONJ	da
nisam	AUX	jesam
u	ADP	u
armiju	NOUN	armija
ispratio	VERB	ispratiti
,	PUNCT	,
e	INTJ	e
to	DET	taj
pošto	SCONJ	pošto
nisam	AUX	jesam
znao	VERB	znati
.	PUNCT	.
Jednom	NUM	jedan
prilikom	ADP	prilikom
vidim	VERB	viditi
ga	PRON	on
u	ADP	u
uniformi	NOUN	uniforma
.	PUNCT	.
I	CCONJ	i
tako	ADV	tako
da	SCONJ	da
,	PUNCT	,
ali	CCONJ	ali
kad	SCONJ	kad
su	AUX	jesam
mi	PRON	ja
odsekli	VERB	odseći
nogu	NOUN	noga
on	PRON	on
uopšte	ADV	uopšte
nije	AUX	jesam
se	PART	se
setio	VERB	setiti
da	SCONJ	da
dođe	VERB	doći
kod	ADP	kod
doktora	NOUN	doktor
u	ADP	u
bolnici	NOUN	bolnica
.	PUNCT	.
I	CCONJ	i
ruku	NOUN	ruka
kad	SCONJ	kad
su	AUX	jesam
mi	PRON	ja
odsekli	VERB	odseći
nije	AUX	jesam
dolazila	VERB	dolaziti
.	PUNCT	.
I	CCONJ	i
rekao	VERB	reći
sam	AUX	jesam
joj	PRON	ona
,	PUNCT	,
i	CCONJ	i
ne	PART	ne
treba	VERB	trebati
mi	PRON	ja
više	ADV	više
,	PUNCT	,
ko	PRON	ko
da	SCONJ	da
ne	PART	ne
postoji	VERB	postojati
.	PUNCT	.
Pa	CCONJ	pa
da	SCONJ	da
vam	PRON	vi
kažem	VERB	kazati
,	PUNCT	,
nogu	NOUN	noga
sam	AUX	jesam
i	PART	i
ja	PRON	ja
i	CCONJ	i
lekari	NOUN	lekar
krivi	ADJ	kriv
.	PUNCT	.
A	CCONJ	A
za	ADP	za
ruku	NOUN	ruka
su	AUX	jesam
lekari	NOUN	lekar
krivi	ADJ	kriv
.	PUNCT	.
Kad	SCONJ	kad
sam	AUX	jesam
govorio	VERB	govoriti
lekaru	NOUN	lekar
,	PUNCT	,
doktore	NOUN	doktor
odsecite	VERB	odseći
mi	PRON	ja
prst	NOUN	prst
nemojte	VERB	moći
me	PRON	ja
mučite	VERB	mučiti
.	PUNCT	.
Ne	PART	ne
,	PUNCT	,
ne	PART	ne
ja	PRON	ja
posmatram	VERB	posmatrati
,	PUNCT	,
a	CCONJ	a
počela	VERB	početi
mi	PRON	ja
gangrena	NOUN	gangrena
hvata	VERB	hvatati
ruku	NOUN	ruka
.	PUNCT	.
Ne	PART	ne
,	PUNCT	,
ne	PART	ne
ja	PRON	ja
posmatram	VERB	posmatrati
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
doktor	NOUN	doktor
a	CCONJ	a
ti	DET	taj
si	AUX	jesam
besmrtnik	NOUN	besmrtnik
.	PUNCT	.
Rekoh	VERB	reći
,	PUNCT	,
doktore	NOUN	doktor
vaša	DET	vaš
etika	NOUN	etika
ne	PART	ne
dozvoljava	VERB	dozvoljavati
da	SCONJ	da
vređate	VERB	vređati
pacijente	NOUN	pacijent
i	CCONJ	i
sve	DET	sav
,	PUNCT	,
bez	ADP	bez
obzira	NOUN	obzir
da	SCONJ	da
li	PART	li
sam	AUX	jesam
ja	PRON	ja
besmrtnik	VERB	besmrtnik
ili	CCONJ	ili
čovek	NOUN	čovek
ili	CCONJ	ili
nisam	AUX	jesam
.	PUNCT	.
Ne	PART	ne
smeta	VERB	smetati
da	SCONJ	da
vređate	VERB	vređati
.	PUNCT	.
I	CCONJ	i
na	ADP	na
kraju	NOUN	kraj
kad	SCONJ	kad
je	AUX	jesam
došlo	VERB	doći
do	ADP	do
odsecanja	NOUN	odsecanje
ruke	NOUN	ruka
,	PUNCT	,
taj	DET	taj
isti	ADJ	isti
,	PUNCT	,
on	PRON	on
je	AUX	jesam
načelnik	NOUN	načelnik
bolnice	NOUN	bolnica
bio	AUX	biti
u	ADP	u
Dragiša	PROPN	Dragiša
,	PUNCT	,
u	ADP	u
ovome	DET	ovaj
,	PUNCT	,
na	ADP	na
ortopediji	NOUN	ortopedija
na	ADP	na
Banjici	PROPN	Banjica
našli	VERB	naći
smo	AUX	jesam
ortopediju	NOUN	ortopedija
.	PUNCT	.
I	CCONJ	i
međutim	PART	međutim
hirurg	NOUN	hirurg
je	AUX	jesam
i	PART	i
ortoped	VERB	ortoped
,	PUNCT	,
i	CCONJ	i
ovaj	DET	ovaj
,	PUNCT	,
rekao	VERB	reći
je	AUX	jesam
na	ADP	na
kraju	NOUN	kraj
,	PUNCT	,
kad	SCONJ	kad
je	AUX	jesam
sve	DET	sav
došlo	VERB	doći
da	SCONJ	da
mi	PRON	ja
odseku	VERB	odseći
ruku	NOUN	ruka
,	PUNCT	,
kaže	VERB	kazati
,	PUNCT	,
pa	CCONJ	pa
ti	PRON	ti
nisi	AUX	jesam
bio	AUX	biti
za	ADP	za
moju	DET	moj
bolnicu	NOUN	bolnica
.	PUNCT	.
Rekoh	VERB	reći
,	PUNCT	,
doktore	NOUN	doktor
,	PUNCT	,
sad	ADV	sad
mi	PRON	ja
to	DET	taj
govorite	VERB	govoriti
.	PUNCT	.
Što	SCONJ	što
mi	PRON	ja
niste	AUX	jesam
rekli	VERB	reći
onoga	DET	onaj
dana	NOUN	dan
kad	SCONJ	kad
sam	AUX	jesam
došao	VERB	doći
,	PUNCT	,
a	CCONJ	a
primili	VERB	primiti
ste	AUX	jesam
me	PRON	ja
.	PUNCT	.
On	PRON	on
je	AUX	jesam
mene	PRON	ja
šest	NUM	šest
il	CCONJ	il
sedam	NUM	sedam
meseci	NOUN	mesec
mučio	VERB	mučiti
,	PUNCT	,
mučio	VERB	mučiti
me	PRON	ja
,	PUNCT	,
dok	SCONJ	dok
ruku	NOUN	ruka
nisam	AUX	jesam
izgubio	VERB	izgubiti
.	PUNCT	.
Jer	SCONJ	jer
ja	PRON	ja
za	ADP	za
dve	NUM	dva
godine	NOUN	godina
,	PUNCT	,
dve	NUM	dva
hiljade	NUM	hiljade
petneste	NOUN	petneste
izgubim	VERB	izgubiti
nogu	NOUN	noga
u	ADP	u
januaru	NOUN	januar
,	PUNCT	,
trećeg	ADJ	treći
januara	NOUN	januar
dve	NUM	dva
hiljade	NUM	hiljade
petneste	NOUN	petneste
.	PUNCT	.
Dve	NUM	dva
hiiljade	NOUN	hiiljade
šesneste	VERB	šesneste
izgubim	VERB	izgubiti
ruku	NOUN	ruka
,	PUNCT	,
kraj	NOUN	kraj
.	PUNCT	.
Negde	ADV	negde
,	PUNCT	,
da	SCONJ	da
l	PART	l
je	AUX	jesam
to	DET	taj
septembar	NOUN	septembar
,	PUNCT	,
oktobar	NOUN	oktobar
.	PUNCT	.
Tu	ADV	tu
negde	ADV	negde
sam	AUX	jesam
izgubio	VERB	izgubiti
ruku	NOUN	ruka
,	PUNCT	,
.	PUNCT	.
odsekli	VERB	odseći
su	AUX	jesam
Na	ADP	na
kraju	NOUN	kraj
sam	AUX	jesam
morao	VERB	morati
da	SCONJ	da
pristanem	VERB	pristati
.	PUNCT	.
I	CCONJ	i
,	PUNCT	,
rekao	VERB	reći
sam	AUX	jesam
više	ADV	više
neću	AUX	hteti
dozvoliti	VERB	dozvoliti
nijedan	ADJ	nijedan
deo	NOUN	deo
tela	NOUN	telo
da	SCONJ	da
izgubim	VERB	izgubiti
,	PUNCT	,
pa	CCONJ	pa
makar	ADV	makar
umro	VERB	umreti
.	PUNCT	.
Ne	PART	ne
mogu	VERB	moći
,	PUNCT	,
ovo	DET	ovaj
je	AUX	jesam
mučenje	NOUN	mučenje
.	PUNCT	.
Izgubiti	VERB	izgubiti
levu	ADJ	levi
ruku	NOUN	ruka
,	PUNCT	,
levu	ADJ	levi
nogu	NOUN	noga
.	PUNCT	.
I	CCONJ	i
kako	SCONJ	kako
ja	PRON	ja
funkcionišem	VERB	funkcionisati
ovom	DET	ovaj
jednom	NUM	jedan
rukom	NOUN	ruka
i	CCONJ	i
ovom	DET	ovaj
nogom	NOUN	noga
.	PUNCT	.
To	DET	taj
je	AUX	jesam
,	PUNCT	,
svi	DET	sav
mi	PRON	ja
se	PART	se
dive	VERB	diviti
,	PUNCT	,
svi	DET	sav
se	PART	se
čude	VERB	čuditi
kako	SCONJ	kako
ja	PRON	ja
mogu	VERB	moći
sam	AUX	jesam
da	SCONJ	da
po	ADP	po
gradu	NOUN	grad
idem	VERB	ići
i	CCONJ	i
svugde	ADV	svugde
.	PUNCT	.
Ja	PRON	ja
molim	VERB	moliti
ljude	NOUN	ljudi
da	SCONJ	da
mi	PRON	ja
pomažu	VERB	pomagati
da	SCONJ	da
uđem	VERB	ući
u	ADP	u
prevoz	NOUN	prevoz
,	PUNCT	,
izađem	VERB	izaći
iz	ADP	iz
prevoza	NOUN	prevoz
i	CCONJ	i
tako	ADV	tako
je	AUX	jesam
to	DET	taj
u	ADP	u
mom	DET	moj
životu	NOUN	život
.	PUNCT	.
Pa	CCONJ	pa
,	PUNCT	,
ja	PRON	ja
nisam	AUX	jesam
ovde	ADV	ovde
.	PUNCT	.
Ne	PART	ne
,	PUNCT	,
evo	PART	evo
ja	PRON	ja
što	SCONJ	što
izađem	VERB	izaći
,	PUNCT	,
sam	AUX	jesam
ja	PRON	ja
izlazim	VERB	izlaziti
iz	ADP	iz
doma	NOUN	dom
da	SCONJ	da
bi	AUX	biti
se	PART	se
prošetao	VERB	prošetati
po	ADP	po
parku	NOUN	park
.	PUNCT	.
Jer	SCONJ	jer
ovde	ADV	ovde
ne	PART	ne
mogu	VERB	moći
da	SCONJ	da
izdržim	VERB	izdržati
.	PUNCT	.
Ovde	ADV	ovde
ima	VERB	imati
mnogo	ADV	mnogo
bolesnih	ADJ	bolestan
ljudi	NOUN	ljudi
,	PUNCT	,
dementnih	ADJ	dementan
koji	DET	koji
su	AUX	jesam
,	PUNCT	,
kako	SCONJ	kako
da	SCONJ	da
kažem	VERB	kazati
,	PUNCT	,
gde	SCONJ	gde
se	PART	se
vezuju	VERB	vezivati
za	ADP	za
krevet	NOUN	krevet
,	PUNCT	,
za	ADP	za
otomane	NOUN	otoman
za	ADP	za
spavanje	NOUN	spavanje
.	PUNCT	.
Sve	DET	sav
nemaju	VERB	nemati
razum	NOUN	razum
.	PUNCT	.
Ta	DET	taj
demencija	NOUN	demencija
oduzima	VERB	oduzimati
sve	ADV	sve
.	PUNCT	.
I	CCONJ	i
tako	ADV	tako
da	SCONJ	da
moram	VERB	morati
da	SCONJ	da
izlazim	VERB	izlaziti
jer	SCONJ	jer
ne	PART	ne
mogu	VERB	moći
da	SCONJ	da
izdržim	VERB	izdržati
.	PUNCT	.
Više	ADV	Više
evo	PART	evo
ima	VERB	imati
ovde	ADV	ovde
jedan	NUM	jedan
doktor	NOUN	doktor
koji	DET	koji
je	AUX	jesam
fizijatar	NOUN	fizijatar
,	PUNCT	,
koji	DET	koji
je	AUX	jesam
radio	VERB	raditi
na	ADP	na
VMA	PROPN	VMA
.	PUNCT	.
On	PRON	on
je	AUX	jesam
totalno	ADV	totalno
dementan	ADJ	dementan
čovek	NOUN	čovek
,	PUNCT	,
a	CCONJ	a
na	ADP	na
trenutke	NOUN	trenutak
se	PART	se
povrati	VERB	povratiti
.	PUNCT	.
Ali	CCONJ	ali
hoće	AUX	hteti
,	PUNCT	,
počeo	VERB	početi
je	AUX	jesam
da	SCONJ	da
šutira	VERB	šutirati
da	SCONJ	da
udara	VERB	udarati
da	SCONJ	da
ubada	VERB	ubadati
viljuškama	NOUN	viljuška
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
Ne	PART	ne
,	PUNCT	,
pa	CCONJ	pa
jedno	NUM	jedan
vreme	NOUN	vreme
sam	AUX	jesam
igrao	VERB	igrati
šah	NOUN	šah
,	PUNCT	,
domine	NOUN	domine
i	CCONJ	i
sve	DET	sav
.	PUNCT	.
Ali	CCONJ	ali
ne	PART	ne
mogu	VERB	moći
,	PUNCT	,
nisam	AUX	jesam
ja	PRON	ja
.	PUNCT	.
Kad	SCONJ	kad
sam	AUX	jesam
na	ADP	na
vazduhu	NOUN	vazduh
,	PUNCT	,
ja	PRON	ja
izlazim	VERB	izlaziti
.	PUNCT	.
Evo	PART	evo
i	PART	i
danas	ADV	danas
bi	AUX	biti
izašao	VERB	izaći
možda	PART	možda
,	PUNCT	,
ali	CCONJ	ali
neću	AUX	hteti
.	PUNCT	.
Ovaj	DET	ovaj
,	PUNCT	,
oću	VERB	hteti
baš	PART	baš
da	SCONJ	da
vidim	VERB	viditi
tu	DET	taj
proslavu	NOUN	proslava
koju	DET	koji
imamo	VERB	imati
i	CCONJ	i
sve	DET	sav
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
ovde	ADV	ovde
godinu	NOUN	godina
dana	NOUN	dan
.	PUNCT	.
Evo	PART	evo
sada	ADV	sada
,	PUNCT	,
ovoga	DET	ovaj
meseca	NOUN	mesec
,,	PUNCT	,,
krajem	ADP	krajem
tridesetog	ADJ	trideseti
decembra	NOUN	decembar
ne	PART	ne
trideset-prvog	ADJ	trideset-prvog
decembra	NOUN	decembar
sam	AUX	jesam
prošle	ADJ	prošli
godine	NOUN	godina
došao	VERB	doći
.	PUNCT	.
I	CCONJ	i
godinu	NOUN	godina
dana	NOUN	dan
sam	AUX	jesam
u	ADP	u
ovom	DET	ovaj
domu	NOUN	dom
.	PUNCT	.
Jeste	AUX	jesam
da	SCONJ	da
je	AUX	jesam
daleko	ADV	daleko
zabačeno	ADJ	zabačen
,	PUNCT	,
al	CCONJ	al
šta	PRON	šta
ću	AUX	hteti
.	PUNCT	.
Molim	VERB	moliti
?	PUNCT	?
Pa	CCONJ	pa
da	SCONJ	da
vam	PRON	vi
kažem	VERB	kazati
nešto	PRON	nešto
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
navijač	NOUN	navijač
.	PUNCT	.
Bio	AUX	biti
sam	AUX	jesam
aktivni	ADJ	aktivan
sportista	NOUN	sportista
,	PUNCT	,
vođa	NOUN	vođ
navijača	NOUN	navijač
i	CCONJ	i
sve	PART	sve
tako	ADV	tako
.	PUNCT	.
Da	SCONJ	da
organizam	NOUN	organizam
mi	PRON	ja
ne	PART	ne
dozvoljava	VERB	dozvoljavati
da	SCONJ	da
budem	AUX	biti
na	ADP	na
jednom	NUM	jedan
mestu	NOUN	mesto
,	PUNCT	,
jer	SCONJ	jer
volim	VERB	voliti
da	SCONJ	da
se	PART	se
družim	VERB	družiti
sa	ADP	sa
ljudima	NOUN	ljudi
i	CCONJ	i
sve	DET	sav
ali	CCONJ	ali
koji	DET	koji
su	AUX	jesam
normalni	ADJ	normalan
.	PUNCT	.
I	CCONJ	i
tako	ADV	tako
da	SCONJ	da
ja	PRON	ja
,	PUNCT	,
preko	ADP	preko
dana	NOUN	dan
izađem	VERB	izaći
idem	VERB	ići
prošetam	VERB	prošetati
i	CCONJ	i
vratim	VERB	vratiti
se	PART	se
,	PUNCT	,
da	SCONJ	da
l	CCONJ	l
uveče	ADV	uveče
,	PUNCT	,
da	SCONJ	da
l	PART	l
popodne	NOUN	popodne
.	PUNCT	.
I	CCONJ	i
tako	ADV	tako
sve	DET	sav
zavisi	VERB	zavisiti
,	PUNCT	,
da	SCONJ	da
ne	PART	ne
bi	AUX	biti
ovaj	DET	ovaj
skrenuo	VERB	skrenuti
što	SCONJ	što
ono	PRON	ono
kažu	VERB	kazati
.	PUNCT	.
Jer	SCONJ	jer
ne	PART	ne
mogu	VERB	moći
da	SCONJ	da
podnesem	VERB	podneti
samoću	NOUN	samoća
,	PUNCT	,
da	SCONJ	da
budem	AUX	biti
.	PUNCT	.
E	INTJ	e
ovde	ADV	ovde
u	ADP	u
sobi	NOUN	soba
ima	VERB	imati
nas	PRON	mi
trojica	NUM	trojica
.	PUNCT	.
I	CCONJ	i
sada	ADV	sada
,	PUNCT	,
ne	PART	ne
može	VERB	moći
čovek	NOUN	čovek
.	PUNCT	.
Znaš	VERB	znati
kako	ADV	kako
hrče	VERB	hrkati
.	PUNCT	.
Ajde	INTJ	ajde
da	SCONJ	da
je	AUX	jesam
to	DET	taj
normalno	ADV	normalno
,	PUNCT	,
nego	CCONJ	nego
to	DET	taj
je	AUX	jesam
katastrofa	NOUN	katastrofa
.	PUNCT	.
I	CCONJ	i
ja	PRON	ja
izbegavam	VERB	izbegavati
sve	DET	sav
.	PUNCT	.
Ne	PART	ne
mogu	VERB	moći
preko	ADP	preko
dana	NOUN	dan
.	PUNCT	.
Pokušavam	VERB	pokušavati
da	SCONJ	da
se	PART	se
smirim	VERB	smiriti
,	PUNCT	,
da	SCONJ	da
ležim	VERB	ležati
.	PUNCT	.
Vi	PRON	vi
kad	SCONJ	kad
biste	AUX	biti
čuli	VERB	čuti
kako	SCONJ	kako
on	PRON	on
hrče	VERB	hrkati
,	PUNCT	,
pa	CCONJ	pa
to	DET	taj
je	AUX	jesam
što	SCONJ	što
kaže	VERB	kazati
,	PUNCT	,
i	CCONJ	i
mrtvog	ADJ	mrtav
čoveka	NOUN	čovek
bi	AUX	biti
probudilo	VERB	probuditi
.	PUNCT	.
Verujte	VERB	verovati
,	PUNCT	,
ajde	INTJ	ajde
da	SCONJ	da
hrče	VERB	hrkati
normalno	ADV	normalno
i	CCONJ	i
sve	DET	sav
.	PUNCT	.
Al	CCONJ	al
on	PRON	on
zadržava	VERB	zadržavati
dah	VERB	dati
i	CCONJ	i
to	DET	taj
kad	SCONJ	kad
rukne	VERB	ruknuti
,	PUNCT	,
kad	SCONJ	kad
.	PUNCT	.
Pa	CCONJ	pa
verujte	VERB	verovati
mi	PRON	ja
,	PUNCT	,
ja	PRON	ja
molim	VERB	moliti
sestre	NOUN	sestra
kad	SCONJ	kad
legne	VERB	legnuti
na	ADP	na
stranu	NOUN	strana
nema	ADJ	nem
hrkanja	NOUN	hrkanje
i	CCONJ	i
međutim	PART	međutim
,	PUNCT	,
on	PRON	on
se	PART	se
okreće	VERB	okretati
,	PUNCT	,
a	CCONJ	a
ne	PART	ne
može	VERB	moći
.	PUNCT	.
I	CCONJ	i
jao	INTJ	jao
majko	NOUN	majka
moja	DET	moj
.	PUNCT	.
Ja	PRON	ja
zato	ADV	zato
bežim	VERB	bežati
,	PUNCT	,
zato	ADV	zato
.	PUNCT	.
A	CCONJ	A
sedi	VERB	sediti
u	ADP	u
fotelji	NOUN	fotelja
,	PUNCT	,
vide	VERB	viditi
ga	PRON	on
čoveka	NOUN	čovek
,	PUNCT	,
da	SCONJ	da
ga	PRON	on
snimite	VERB	snimiti
.	PUNCT	.
Pa	PART	pa
to	DET	taj
,	PUNCT	,
ne	PART	ne
da	SCONJ	da
bi	AUX	biti
svi	DET	sav
smejali	VERB	smejati
,	PUNCT	,
ne	PART	ne
da	SCONJ	da
bi	AUX	biti
.	PUNCT	.
Pa	CCONJ	pa
ja	PRON	ja
kažem	VERB	kazati
,	PUNCT	,
pa	CCONJ	pa
to	DET	taj
je	AUX	jesam
strašno	ADV	strašno
i	CCONJ	i
sve	DET	sav
.	PUNCT	.
I	CCONJ	i
,	PUNCT	,
zato	ADV	zato
ja	PRON	ja
retko	ADV	retko
kad	SCONJ	kad
sam	AUX	jesam
ovde	ADV	ovde
u	ADP	u
domu	NOUN	dom
,	PUNCT	,
samo	PART	samo
prenoćim	VERB	prenoćiti
da	SCONJ	da
ne	PART	ne
bi	AUX	biti
stvarno	ADV	stvarno
poludeo	VERB	poludeti
.	PUNCT	.
I	CCONJ	i
ja	PRON	ja
sam	AUX	jesam
mislio	VERB	misliti
da	SCONJ	da
su	AUX	jesam
domovi	NOUN	dom
svi	DET	sav
isti	ADJ	isti
,	PUNCT	,
ali	CCONJ	ali
nisu	AUX	jesam
,	PUNCT	,
nisu	AUX	jesam
stvarno	ADV	stvarno
.	PUNCT	.
Jer	SCONJ	jer
gazdarica	NOUN	gazdarica
prima	VERB	primati
sve	ADV	sve
,	PUNCT	,
to	DET	taj
je	AUX	jesam
normalno	ADV	normalno
,	PUNCT	,
da	SCONJ	da
bi	AUX	biti
došla	VERB	doći
do	ADP	do
novca	NOUN	novac
,	PUNCT	,
da	SCONJ	da
bi	AUX	biti
zaradila	VERB	zaraditi
,	PUNCT	,
da	SCONJ	da
ni	PART	ni
,	PUNCT	,
da	SCONJ	da
nisu	AUX	jesam
prazne	ADJ	prazan
sobe	NOUN	sob
.	PUNCT	.
I	CCONJ	i
to	DET	taj
ona	PRON	ona
ima	VERB	imati
trideset	NUM	trideset
pacijenata	NOUN	pacijent
,	PUNCT	,
toliko	ADV	toliko
može	VERB	moći
da	SCONJ	da
primi	VERB	primiti
.	PUNCT	.
I	CCONJ	i
tako	ADV	tako
da	SCONJ	da
ja	PRON	ja
pomažem	VERB	pomagati
ljudima	NOUN	ljudi
u	ADP	u
svojem	DET	svoj
domenu	NOUN	domena
.	PUNCT	.
Ja	PRON	ja
decu	NOUN	deca
upućujem	VERB	upućivati
na	ADP	na
pravi	ADJ	prav
put	NOUN	put
a	CCONJ	a
ne	PART	ne
da	SCONJ	da
budu	AUX	biti
narkomani	NOUN	narkoman
,	PUNCT	,
alkoholičari	NOUN	alkoholičar
ili	CCONJ	ili
lopovi	NOUN	lopov
ili	CCONJ	ili
gangsteri	NOUN	gangster
.	PUNCT	.
Kako	ADV	kako
da	SCONJ	da
vam	PRON	vi
kažem	VERB	kazati
,	PUNCT	,
kriminalci	NOUN	kriminalac
da	SCONJ	da
ne	PART	ne
budu	AUX	biti
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
mnoge	ADJ	mnogi
možda	PART	možda
i	CCONJ	i
spasio	VERB	spasiti
,	PUNCT	,
a	CCONJ	a
drugi	ADJ	drugi
ne	PART	ne
.	PUNCT	.
Mislim	VERB	misliti
,	PUNCT	,
neće	AUX	hteti
da	SCONJ	da
slušaju	VERB	slušati
i	PART	i
tako	ADV	tako
.	PUNCT	.
Jer	SCONJ	jer
ja	PRON	ja
sam	AUX	jesam
sa	ADP	sa
osam	NUM	osam
godina	NOUN	godina
pobegao	VERB	pobeći
od	ADP	od
kuće	NOUN	kuća
da	SCONJ	da
bih	AUX	biti
otišao	VERB	otići
u	ADP	u
Zagreb	PROPN	Zagreb
da	SCONJ	da
gledam	VERB	gledati
fudbal	NOUN	fudbal
i	CCONJ	i
košarku	NOUN	košarka
.	PUNCT	.
i	CCONJ	i
vratio	VERB	vratiti
sam	PRON	sam
se	PART	se
nazad	ADV	nazad
.	PUNCT	.
Pokojni	ADJ	pokojni
otac	NOUN	otac
je	AUX	jesam
ubio	VERB	ubiti
Boga	NOUN	bog
u	ADP	u
meni	PRON	ja
.	PUNCT	.
Majka	NOUN	majka
,	PUNCT	,
majka	NOUN	majka
me	PRON	ja
štiti	VERB	štititi
,	PUNCT	,
podmeće	VERB	podmetati
se	PART	se
da	SCONJ	da
bi	AUX	biti
me	PRON	ja
zaštitila	VERB	zaštititi
.	PUNCT	.
I	CCONJ	i
na	ADP	na
kraju	NOUN	kraj
,	PUNCT	,
sve	DET	sav
se	PART	se
pamti	VERB	pamtiti
,	PUNCT	,
sve	PART	sve
tako	ADV	tako
da	SCONJ	da
nisam	AUX	jesam
otišao	VERB	otići
stranputicom	NOUN	stranputica
nekom	DET	neki
,	PUNCT	,
nego	CCONJ	nego
sam	AUX	jesam
pravi	ADJ	prav
put	NOUN	put
.	PUNCT	.
i	CCONJ	i
jedino	ADV	jedino
samo	ADV	samo
školu	NOUN	škola
nisam	AUX	jesam
voleo	VERB	voleti
,	PUNCT	,
tako	ADV	tako
da	SCONJ	da
sam	AUX	jesam
ostao	VERB	ostati
na	ADP	na
toj	DET	taj
osnovnoj	ADJ	osnovni
školi	NOUN	škola
.	PUNCT	.
Ali	CCONJ	ali
ja	PRON	ja
sam	AUX	jesam
sa	ADP	sa
mnogim	ADJ	mnogi
profesorima	NOUN	profesor
,	PUNCT	,
dekanima	NOUN	dekan
i	CCONJ	i
sedeo	VERB	sedeti
u	ADP	u
kafani	NOUN	kafana
.	PUNCT	.
Recimo	VERB	reći
u	ADP	u
restoranu	NOUN	restoran
ili	CCONJ	ili
poslastičarnici	NOUN	poslastičarnica
tako	ADV	tako
nešto	ADV	nešto
.	PUNCT	.
Oni	PRON	oni
su	AUX	jesam
se	PART	se
divili	VERB	diviti
.	PUNCT	.
Oni	PRON	oni
su	AUX	jesam
svi	DET	sav
mislili	VERB	misliti
da	SCONJ	da
sam	AUX	jesam
ja	PRON	ja
završio	VERB	završiti
fakultet	NOUN	fakultet
neki	DET	neki
,	PUNCT	,
školu	NOUN	škola
,	PUNCT	,
po	ADP	po
mojem	ADV	mojem
ponašanju	NOUN	ponašanje
,	PUNCT	,
po	ADP	po
mojem	ADV	mojem
govoru	NOUN	govor
i	CCONJ	i
ostalo	VERB	ostati
.	PUNCT	.
I	CCONJ	i
tako	ADV	tako
da	SCONJ	da
kroz	ADP	kroz
život	NOUN	život
sam	AUX	jesam
prošao	VERB	proći
sve	DET	sav
moguće	ADV	moguće
.	PUNCT	.
Pa	CCONJ	pa
da	SCONJ	da
vam	PRON	vi
kažem	VERB	kazati
,	PUNCT	,
voleo	VERB	voleti
sam	AUX	jesam
Bitlse	PROPN	Bitlsi
,	PUNCT	,
Rolingstonse	PROPN	Rolingstonse
i	CCONJ	i
ostale	ADJ	ostale
poznate	ADJ	poznat
.	PUNCT	.
I	CCONJ	i
narodnu	ADJ	narodni
,	PUNCT	,
što	SCONJ	što
kažu	VERB	kazati
ćirilicu	NOUN	ćirilica
.	PUNCT	.
I	CCONJ	i
nema	VERB	nemati
koju	DET	koji
nisam	AUX	jesam
voleo	VERB	voleti
,	PUNCT	,
sve	ADV	sve
ali	CCONJ	ali
najviše	ADV	najviše
me	PRON	ja
je	AUX	jesam
narodna	ADJ	narodni
muzika	NOUN	muzika
,	PUNCT	,
duh	NOUN	duh
današnjem	ADJ	današnji
muzikašu	ADV	muzikašu
poslao	VERB	poslati
.	PUNCT	.
Pa	CCONJ	pa
,	PUNCT	,
koja	DET	koji
je	AUX	jesam
god	PART	god
lepa	ADJ	lep
pesma	NOUN	pesma
.	PUNCT	.
Volim	VERB	voliti
normalno	ADV	normalno
i	CCONJ	i
zabavno	ADJ	zabavan
i	CCONJ	i
narodno	ADJ	narodni
i	CCONJ	i
sve	DET	sav
.	PUNCT	.
Jer	SCONJ	jer
ja	PRON	ja
sam	AUX	jesam
,	PUNCT	,
da	SCONJ	da
zaboravio	VERB	zaboraviti
sam	AUX	jesam
to	DET	taj
da	SCONJ	da
kažem	VERB	kazati
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
radio	VERB	raditi
kao	CCONJ	kao
redar	NOUN	redar
u	ADP	u
Domu	PROPN	Dom
omladine	NOUN	omladina
.	PUNCT	.
Održavao	ADJ	održavao
red	NOUN	red
u	ADP	u
dansing	ADJ	dansing
sali	NOUN	sala
i	CCONJ	i
u	ADP	u
diskoteci	NOUN	diskoteka
.	PUNCT	.
Al	CCONJ	al
tu	ADV	tu
su	AUX	jesam
tada	ADV	tada
dolazili	VERB	dolaziti
kriminalci	NOUN	kriminalac
kod	ADP	kod
mene	PRON	ja
u	ADP	u
diskoteci	NOUN	diskoteka
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
posle	ADV	posle
prešao	VERB	preći
u	ADP	u
drugu	ADJ	drugi
diskoteku	NOUN	diskoteka
.	PUNCT	.
Tu	ADV	tu
su	AUX	jesam
dolazili	VERB	dolaziti
i	CCONJ	i
čuveni	ADJ	čuven
kriminalci	NOUN	kriminalac
i	CCONJ	i
sve	DET	sav
.	PUNCT	.
i	CCONJ	i
ja	PRON	ja
sam	AUX	jesam
im	PRON	ona
govorio	VERB	govoriti
,	PUNCT	,
nemojte	VERB	moći
da	SCONJ	da
pravite	VERB	praviti
nered	NOUN	nered
,	PUNCT	,
nemojte	VERB	moći
da	SCONJ	da
napadate	VERB	napadati
goste	VERB	gostiti
da	SCONJ	da
ne	PART	ne
biste	AUX	biti
imali	VERB	imati
sukob	NOUN	sukob
sa	ADP	sa
vama	PRON	vi
i	CCONJ	i
sve	DET	sav
.	PUNCT	.
i	CCONJ	i
neki	DET	neki
su	AUX	jesam
slušali	VERB	slušati
.	PUNCT	.
Međutim	PART	međutim
sa	ADP	sa
mnogima	ADJ	mnogi
sam	AUX	jesam
se	PART	se
ja	PRON	ja
zakačio	VERB	zakačiti
i	CCONJ	i
potukao	VERB	potući
i	CCONJ	i
sve	ADV	sve
tako	ADV	tako
da	SCONJ	da
nisam	AUX	jesam
se	PART	se
ja	PRON	ja
plašio	VERB	plašiti
nikog	ADV	nikog
,	PUNCT	,
jer	SCONJ	jer
ja	PRON	ja
sam	AUX	jesam
uvek	ADV	uvek
štitio	VERB	štititi
slabije	ADJ	slab
od	ADP	od
jačeg	ADJ	jak
.	PUNCT	.
Nisam	AUX	jesam
dao	VERB	dati
.	PUNCT	.
Gde	SCONJ	gde
sam	AUX	jesam
god	PART	god
video	VERB	videti
da	SCONJ	da
jači	ADJ	jak
bije	VERB	biti
slabijeg	ADJ	slab
ja	PRON	ja
sam	AUX	jesam
ga	PRON	on
zaštitio	VERB	zaštititi
.	PUNCT	.
I	CCONJ	i
tako	ADV	tako
da	SCONJ	da
sam	AUX	jesam
,	PUNCT	,
i	CCONJ	i
dan	NOUN	dan
danas	ADV	danas
isto	ADV	isto
,	PUNCT	,
pokušavam	VERB	pokušavati
,	PUNCT	,
ali	CCONJ	ali
ne	PART	ne
može	VERB	moći
se	PART	se
,	PUNCT	,
nemaš	VERB	nemati
ruku	NOUN	ruka
,	PUNCT	,
nemaš	VERB	nemati
nogu	NOUN	noga
i	CCONJ	i
to	DET	taj
je	AUX	jesam
to	DET	taj
što	SCONJ	što
me	PRON	ja
sputava	VERB	sputavati
.	PUNCT	.
Pa	CCONJ	pa
ne	PART	ne
znam	VERB	znati
.	PUNCT	.
Šta	PRON	šta
vas	PRON	vi
još	ADV	još
interesuje	VERB	interesovati
?	PUNCT	?
Evo	PART	evo
jedino	ADV	jedino
po	ADP	po
bolnicama	NOUN	bolnica
,	PUNCT	,
što	SCONJ	što
moram	VERB	morati
da	SCONJ	da
idem	VERB	ići
ležim	VERB	ležati
po	ADP	po
bolnicama	NOUN	bolnica
.	PUNCT	.
Dolaze	VERB	dolaziti
isto	ADV	isto
tako	ADV	tako
studenti	NOUN	student
,	PUNCT	,
raspituju	VERB	raspitivati
se	PART	se
od	ADP	od
čega	PRON	šta
bolujem	VERB	bolovati
i	CCONJ	i
šta	PRON	šta
sve	ADV	sve
.	PUNCT	.
Ja	PRON	ja
im	PRON	ona
kažem	VERB	kazati
sve	DET	sav
kako	SCONJ	kako
sam	AUX	jesam
šta	PRON	šta
i	PART	i
to	DET	taj
.	PUNCT	.
Tako	ADV	tako
da	SCONJ	da
uvek	ADV	uvek
želim	VERB	želiti
da	SCONJ	da
pomognem	VERB	pomoći
svakom	DET	svaki
.	PUNCT	.
Ja	PRON	ja
kažem	VERB	kazati
,	PUNCT	,
to	DET	taj
je	AUX	jesam
divota	VERB	divota
kad	SCONJ	kad
se	PART	se
vidi	VERB	viditi
mlad	ADJ	mlad
čovek	NOUN	čovek
da	SCONJ	da
hoće	AUX	hteti
da	SCONJ	da
prosperira	VERB	prosperirati
u	ADP	u
životu	NOUN	život
,	PUNCT	,
da	SCONJ	da
završi	VERB	završiti
studije	NOUN	studija
,	PUNCT	,
da	SCONJ	da
posle	ADP	posle
studija	NOUN	studija
doktorira	VERB	doktorirati
i	CCONJ	i
tako	ADV	tako
nešto	ADV	nešto
.	PUNCT	.
A	CCONJ	A
to	DET	taj
me	PRON	ja
oduševljava	VERB	oduševljavati
.	PUNCT	.
A	CCONJ	A
ne	PART	ne
na	ADP	na
ulici	NOUN	ulica
.	PUNCT	.
Ili	CCONJ	ili
ne	PART	ne
smem	VERB	smeti
se	PART	se
izražavam	VERB	izražavati
na	ADP	na
drugi	ADJ	drugi
način	NOUN	način
,	PUNCT	,
mislim	VERB	misliti
ja	PRON	ja
volim	VERB	voliti
kulturan	ADJ	kulturan
da	SCONJ	da
budem	AUX	biti
u	ADP	u
svakom	DET	svaki
pogledu	NOUN	pogled
.	PUNCT	.
Ali	CCONJ	ali
kad	SCONJ	kad
me	PRON	ja
neko	PRON	neko
iznervira	VERB	iznervirati
onda	SCONJ	onda
počnem	VERB	početi
da	SCONJ	da
lajem	VERB	lajati
na	ADP	na
sva	DET	sav
usta	NOUN	usta
.	PUNCT	.
E	INTJ	e
zato	ADV	zato
ja	PRON	ja
izbegavam	VERB	izbegavati
da	SCONJ	da
se	PART	se
nerviram	VERB	nervirati
i	CCONJ	i
sve	DET	sav
.	PUNCT	.
Jer	SCONJ	jer
planem	VERB	planuti
.	PUNCT	.
Tu	ADV	tu
je	AUX	jesam
starost	NOUN	starost
.	PUNCT	.
To	DET	taj
nije	AUX	jesam
više	ADV	više
mladost	NOUN	mladost
.	PUNCT	.
Ajde	VERB	Ajde
da	SCONJ	da
sam	AUX	jesam
mlad	ADJ	mlad
,	PUNCT	,
pa	CCONJ	pa
u	ADP	u
redu	NOUN	red
.	PUNCT	.
Ali	CCONJ	ali
mora	VERB	morati
da	SCONJ	da
se	PART	se
,	PUNCT	,
jer	SCONJ	jer
ja	PRON	ja
poštujem	VERB	poštovati
svakog	DET	svaki
pa	CCONJ	pa
će	AUX	hteti
i	CCONJ	i
on	PRON	on
mene	PRON	ja
i	CCONJ	i
sve	DET	sav
.	PUNCT	.
Ali	CCONJ	ali
ima	VERB	imati
ljudi	NOUN	ljudi
koji	DET	koji
ne	PART	ne
možeš	VERB	moći
i	CCONJ	i
zato	ADV	zato
se	PART	se
sklanjam	VERB	sklanjati
.	PUNCT	.
Ma	PART	ma
nema	VERB	nemati
na	ADP	na
čemu	PRON	šta
.	PUNCT	.
Ja	PRON	ja
kažem	VERB	kazati
,	PUNCT	,
šta	PRON	šta
god	PART	god
čovek	NOUN	čovek
treba	VERB	trebati
pomoći	VERB	pomoći
,	PUNCT	,
deci	NOUN	deca
i	CCONJ	i
sve	DET	sav
.	PUNCT	.
Ja	PRON	ja
kažem	VERB	kazati
,	PUNCT	,
moj	DET	moj
život	NOUN	život
je	AUX	jesam
,	PUNCT	,
sadrži	VERB	sadržati
ogromno	ADJ	ogroman
iskustvo	NOUN	iskustvo
.	PUNCT	.
Zato	ADV	zato
mene	PRON	ja
,	PUNCT	,
ovaj	DET	ovaj
,	PUNCT	,
ja	PRON	ja
kažem	VERB	kazati
šta	PRON	šta
sam	AUX	jesam
ja	PRON	ja
kroz	ADP	kroz
život	NOUN	život
prošao	VERB	proći
.	PUNCT	.
Ja	PRON	ja
mogu	VERB	moći
knjigu	NOUN	knjiga
,	PUNCT	,
svoju	DET	svoj
biografiju	ADJ	biografiju
,	PUNCT	,
kad	SCONJ	kad
bih	AUX	biti
počeo	VERB	početi
da	SCONJ	da
pišem	VERB	pisati
.	PUNCT	.
Mene	PRON	ja
su	AUX	jesam
molili	VERB	moliti
.	PUNCT	.
Mole	PROPN	Mol
me	PRON	ja
deca	NOUN	deca
,	PUNCT	,
navijači	NOUN	navijač
,	PUNCT	,
da	SCONJ	da
biografiju	NOUN	biografija
svoju	DET	svoj
objave	NOUN	objava
.	PUNCT	.
Moju	ADV	Moju
biografiju	NOUN	biografija
rekoh	VERB	reći
,	PUNCT	,
možete	VERB	moći
šta	PRON	šta
god	PART	god
hoćete	AUX	hteti
.	PUNCT	.
To	DET	taj
je	AUX	jesam
životno	ADJ	životan
iskustvo	NOUN	iskustvo
je	AUX	jesam
najbolji	ADJ	dobar
,	PUNCT	,
ja	PRON	ja
kažem	VERB	kazati
,	PUNCT	,
na	ADP	na
ovom	DET	ovaj
beogradskom	ADJ	beogradski
asfaltu	NOUN	asfalt
.	PUNCT	.
Trebalo	VERB	trebati
je	AUX	jesam
preživeti	VERB	preživeti
.	PUNCT	.
Ali	CCONJ	ali
vidite	VERB	viditi
,	PUNCT	,
svi	DET	sav
koji	DET	koji
su	AUX	jesam
želeli	VERB	želeti
neki	DET	neki
imidž	NOUN	imidž
,	PUNCT	,
da	SCONJ	da
budu	AUX	biti
nešto	PRON	nešto
u	ADP	u
ovom	DET	ovaj
društvu	NOUN	društvo
,	PUNCT	,
oni	PRON	oni
su	AUX	jesam
svi	DET	sav
pokojnici	NOUN	pokojnik
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
živ	ADJ	živ
.	PUNCT	.
A	CCONJ	A
znači	VERB	značiti
nisam	AUX	jesam
želeo	VERB	želeti
da	SCONJ	da
budem	AUX	biti
slavan	ADJ	slavan
i	CCONJ	i
sve	DET	sav
.	PUNCT	.
Znači	VERB	značiti
slava	NOUN	slava
košta	VERB	koštati
,	PUNCT	,
imidž	NOUN	imidž
košta	VERB	koštati
,	PUNCT	,
ali	CCONJ	ali
niko	PRON	niki
.	PUNCT	.
Šta	PRON	šta
vredi	VERB	vrediti
,	PUNCT	,
šta	PRON	šta
vredi	VERB	vrediti
što	SCONJ	što
je	AUX	jesam
bogat	ADJ	bogat
i	CCONJ	i
sve	DET	sav
bogastvo	NOUN	bogastvo
čini	VERB	činiti
čoveka	NOUN	čovek
pohlepnim	ADJ	pohlepan
.	PUNCT	.
To	DET	taj
je	AUX	jesam
nešto	PRON	nešto
što	SCONJ	što
ljudi	NOUN	ljudi
ne	PART	ne
mogu	VERB	moći
da	SCONJ	da
shvate	VERB	shvatiti
.	PUNCT	.
Jer	SCONJ	jer
ja	PRON	ja
kad	SCONJ	kad
im	PRON	ona
kažem	VERB	kazati
,	PUNCT	,
dete	NOUN	dete
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
najsretniji	ADJ	sretan
čovek	NOUN	čovek
kad	SCONJ	kad
nemam	VERB	nemati
novac	NOUN	novac
kod	ADP	kod
sebe	PRON	sebe
,	PUNCT	,
kad	SCONJ	kad
kad	SCONJ	kad
nemam	VERB	nemati
nigde	ADV	nigde
ništa	PRON	ništa
,	PUNCT	,
samo	ADV	samo
da	SCONJ	da
imam	VERB	imati
za	ADP	za
život	NOUN	život
,	PUNCT	,
ništa	PRON	ništa
drugo	ADJ	drugi
.	PUNCT	.
Niko	PRON	niki
me	PRON	ja
neće	AUX	hteti
dirati	VERB	dirati
.	PUNCT	.
Evo	PART	evo
skoro	ADV	skoro
su	AUX	jesam
mi	PRON	ja
oteli	VERB	oteti
oteli	VERB	oteti
iz	ADP	iz
ruku	NOUN	ruka
,	PUNCT	,
pedeset	NUM	pedeset
hiljada	NOUN	hiljada
poneo	VERB	poneti
unuci	NOUN	unuka
.	PUNCT	.
Ja	PRON	ja
nisam	AUX	jesam
video	VERB	videti
.	PUNCT	.
Da	SCONJ	da
sam	AUX	jesam
ga	PRON	on
video	VERB	videti
ko	PRON	ko
je	AUX	jesam
,	PUNCT	,
taj	DET	taj
ne	PART	ne
bi	AUX	biti
nikad	ADV	nikad
više	ADV	više
nikog	ADV	nikog
.	PUNCT	.
Veruj	VERB	verovati
mi	PRON	ja
našao	VERB	naći
bi	AUX	biti
ga	PRON	on
,	PUNCT	,
u	ADP	u
mišju	ADJ	mišji
rupu	NOUN	rupa
da	SCONJ	da
se	PART	se
sakrije	VERB	sakriti
.	PUNCT	.
Našao	VERB	naći
bih	AUX	biti
.	PUNCT	.
Nego	CCONJ	nego
nisam	AUX	jesam
imao	VERB	imati
je	AUX	jesam
kapuljaču	VERB	kapuljaču
na	ADP	na
glavi	NOUN	glava
i	CCONJ	i
lik	NOUN	lik
,	PUNCT	,
nisam	AUX	jesam
video	VERB	videti
,	PUNCT	,
a	CCONJ	a
izvadio	VERB	izvaditi
sam	DET	sam
i	CCONJ	i
držao	VERB	držati
ovako	ADV	ovako
da	SCONJ	da
odvojim	VERB	odvojiti
deset	NUM	deset
hiljada	NUM	hiljada
sebi	PRON	sebe
,	PUNCT	,
da	SCONJ	da
bi	AUX	biti
imao	VERB	imati
.	PUNCT	.
a	CCONJ	a
unuci	NOUN	unuka
što	SCONJ	što
je	AUX	jesam
položila	VERB	položiti
,	PUNCT	,
položila	VERB	položiti
mi	PRON	ja
odlično	ADV	odlično
i	CCONJ	i
ja	PRON	ja
spremio	VERB	spremiti
da	SCONJ	da
joj	PRON	ona
dam	VERB	dati
.	PUNCT	.
I	CCONJ	i
nigde	ADV	nigde
žive	VERB	živiti
duše	NOUN	duh
na	ADP	na
ulici	NOUN	ulica
nije	AUX	jesam
bilo	AUX	biti
.	PUNCT	.
I	CCONJ	i
on	PRON	on
ovaj	DET	ovaj
,	PUNCT	,
ja	PRON	ja
ga	PRON	on
nisam	AUX	jesam
video	VERB	videti
iza	ADP	iza
leđa	NOUN	leđa
,	PUNCT	,
nisam	AUX	jesam
.	PUNCT	.
I	CCONJ	i
ja	PRON	ja
kad	SCONJ	kad
sam	AUX	jesam
vadio	VERB	vaditi
,	PUNCT	,
on	PRON	on
zgrabi	VERB	zgrabiti
i	CCONJ	i
počeo	VERB	početi
da	SCONJ	da
beži	VERB	bežati
.	PUNCT	.
Ja	PRON	ja
vikao	VERB	vikati
sam	AUX	jesam
i	PART	i
sve	DET	sav
,	PUNCT	,
al	CCONJ	al
ne	PART	ne
mogu	VERB	moći
da	SCONJ	da
trčim	VERB	trčati
,	PUNCT	,
ne	PART	ne
mogu	VERB	moći
ništa	ADV	ništa
.	PUNCT	.
I	CCONJ	i
mladić	NOUN	mladić
jedan	NUM	jedan
kasnije	ADV	kasnije
,	PUNCT	,
možda	PART	možda
nakon	ADP	nakon
jedno	NUM	jedan
sedam	NUM	sedam
minuta	NOUN	minuta
,	PUNCT	,
izađe	VERB	izaći
i	CCONJ	i
počeo	VERB	početi
da	SCONJ	da
trči	VERB	trčati
,	PUNCT	,
da	SCONJ	da
traži	VERB	tražiti
,	PUNCT	,
a	CCONJ	a
niko	PRON	niki
nije	AUX	jesam
,	PUNCT	,
a	CCONJ	a
čuju	VERB	čuti
i	CCONJ	i
sve	DET	sav
.	PUNCT	.
Šta	PRON	šta
ću	AUX	hteti
,	PUNCT	,
a	CCONJ	a
pozajmio	VERB	pozajmiti
bio	AUX	biti
da	SCONJ	da
bih	AUX	biti
dao	VERB	dati
unuci	NOUN	unuka
.	PUNCT	.
Pa	CCONJ	pa
nema	VERB	nemati
na	ADP	na
čemu	PRON	šta
.	PUNCT	.
[	PUNCT	[
Kraj	ADP	kraj
snimanja	NOUN	snimanje
intervjua	NOUN	intervju
]	PUNCT	]
