[	PUNCT	[
Kako	ADV	kako
se	PART	se
zovete	VERB	zvati
?	PUNCT	?
]	PUNCT	]
Ja	ADV	Ja
se	PART	se
zovem	VERB	zvati
Nada	PROPN	Nada
Fatić	PROPN	Fatić
-	PUNCT	-
Milosavljević	PROPN	Milosavljević
.	PUNCT	.
Milosavljević	PROPN	Milosavljević
mi	PRON	ja
je	AUX	jesam
udato	VERB	udati
,	PUNCT	,
a	NOUN	a
Fatić	PROPN	Fatić
mi	PRON	ja
je	AUX	jesam
devojačko	ADJ	devojački
.	PUNCT	.
To	DET	taj
volim	VERB	voliti
da	SCONJ	da
naglasim	VERB	naglasiti
,	PUNCT	,
jer	SCONJ	jer
moj	DET	moj
tata	NOUN	tat
nije	AUX	jesam
imao	VERB	imati
muške	ADJ	muški
dece	NOUN	deca
i	CCONJ	i
voleo	VERB	voleti
je	AUX	jesam
da	SCONJ	da
me	PRON	ja
eto	PART	eto
tako	ADV	tako
da	SCONJ	da
se	PART	se
prezime	NOUN	prezime
ne	PART	ne
zaboravi	VERB	zaboraviti
.	PUNCT	.
Eto	PART	eto
tako	ADV	tako
ja	PRON	ja
sam	AUX	jesam
iz	ADP	iz
tih	DET	taj
razloga	NOUN	razlog
,	PUNCT	,
za	ADP	za
ljubav	NOUN	ljubav
moga	DET	moj
tate	NOUN	tat
ostavila	VERB	ostaviti
prezime	NOUN	prezime
Fatić	PROPN	Fatić
.	PUNCT	.
Eto	PART	eto
tako	ADV	tako
,	PUNCT	,
to	DET	taj
je	AUX	jesam
to	DET	taj
.	PUNCT	.
[	PUNCT	[
Koliko	ADJ	Koliko
imate	VERB	imati
godina	NOUN	godina
?	PUNCT	?
]	PUNCT	]
Rođena	ADJ	Rođena
sam	AUX	jesam
ovde	ADV	ovde
u	ADP	u
Beogradu	PROPN	Beograd
,	PUNCT	,
07	NUM	07
.	PUNCT	.
06	NUM	06
.	PUNCT	.
1954	NUM	1954
.	PUNCT	.
godine	NOUN	godina
,	PUNCT	,
sad	ADV	sad
imam	VERB	imati
šezdeseti	ADJ	šezdeseti
i	CCONJ	i
tri	NUM	tri
pune	ADJ	pun
,	PUNCT	,
šezdeset	NUM	šezdeset
i	CCONJ	i
tri	NUM	tri
i	CCONJ	i
po	ADP	po
pune	ADJ	pun
godine	NOUN	godina
.	PUNCT	.
[	PUNCT	[
Da	ADV	Da
li	PART	li
bolujete	VERB	bolovati
od	ADP	od
neke	DET	neki
hronične	ADJ	hroničan
bolesti	NOUN	bolest
i	CCONJ	i
da	SCONJ	da
li	PART	li
ste	AUX	jesam
pod	ADP	pod
terapijom	NOUN	terapija
?	PUNCT	?
]	PUNCT	]
Pa	X	Pa
pre	ADP	pre
pet	NUM	pet
godina	NOUN	godina
se	PART	se
eto	PART	eto
otkrilo	VERB	otkriti
da	SCONJ	da
imam	VERB	imati
kancer	NOUN	kancer
na	ADP	na
dojci	NOUN	dojka
,	PUNCT	,
bilo	AUX	biti
je	AUX	jesam
sve	ADV	sve
okej	INTJ	okej
radi	ADP	radi
toga	DET	taj
što	SCONJ	što
je	AUX	jesam
u	ADP	u
ranoj	ADJ	ran
fazi	NOUN	faza
otkriveno	VERB	otkriti
.	PUNCT	.
Sve	DET	sav
je	AUX	jesam
išlo	VERB	ići
kako	SCONJ	kako
treba	VERB	trebati
,	PUNCT	,
operativni	ADJ	operativan
zahvat	NOUN	zahvat
onda	ADV	onda
i	CCONJ	i
terapija	NOUN	terapija
,	PUNCT	,
zračenje	NOUN	zračenje
i	CCONJ	i
ovaj	DET	ovaj
posle	ADP	posle
terapija	NOUN	terapija
na	ADP	na
svakih	DET	svaki
tri	NUM	tri
meseca	NOUN	mesec
,	PUNCT	,
na	ADP	na
svakih	DET	svaki
šest	NUM	šest
meseci	NOUN	mesec
ti	DET	taj
ovaj	DET	ovaj
pregledi	NOUN	pregled
.	PUNCT	.
I	CCONJ	i
sada	ADV	sada
pijem	VERB	piti
samo	PART	samo
neke	DET	neki
hormone	NOUN	hormon
i	CCONJ	i
tako	ADV	tako
idem	VERB	ići
na	ADP	na
taj	DET	taj
redovni	ADJ	redovan
pregled	NOUN	pregled
,	PUNCT	,
na	ADP	na
mamografiju	NOUN	mamografija
,	PUNCT	,
na	ADP	na
skener	NOUN	skener
i	CCONJ	i
eto	PART	eto
tako	ADV	tako
neki	DET	neki
put	NOUN	put
ultrazvuk	NOUN	ultrazvuk
i	CCONJ	i
eto	PART	eto
,	PUNCT	,
šta	PRON	šta
onkolog	NOUN	onkolog
predloži	VERB	predložiti
i	CCONJ	i
eto	PART	eto
to	DET	taj
eto	PART	eto
.	PUNCT	.
[	PUNCT	[
Mesto	ADP	mesto
prebivališta	NOUN	prebivalište
?	PUNCT	?
]	PUNCT	]
Je	VERB	Je
Beograd	PROPN	Beograd
.	PUNCT	.
[	PUNCT	[
Možete	PROPN	Možete
li	PART	li
da	SCONJ	da
mi	PRON	ja
navedete	VERB	navesti
sva	DET	sav
mesta	NOUN	mesto
na	ADP	na
kojima	DET	koji
ste	AUX	jesam
živeli	VERB	živeti
?	PUNCT	?
]	PUNCT	]
Pa	X	Pa
eto	PART	eto
tako	ADV	tako
rodila	VERB	roditi
sam	AUX	jesam
se	PART	se
ovde	ADV	ovde
u	ADP	u
Beogradu	PROPN	Beograd
,	PUNCT	,
u	ADP	u
gradskoj	ADJ	gradski
bolnici	NOUN	bolnica
na	ADP	na
Zvezdari	PROPN	Zvezdara
,	PUNCT	,
ali	CCONJ	ali
tata	NOUN	tat
i	CCONJ	i
mama	NOUN	mam
su	AUX	jesam
mi	PRON	ja
bili	AUX	biti
agronomi	NOUN	agronom
po	ADP	po
struci	NOUN	struka
i	CCONJ	i
onda	ADV	onda
jedno	NUM	jedan
vreme	NOUN	vreme
nisu	AUX	jesam
živeli	VERB	živeti
ovde	ADV	ovde
,	PUNCT	,
nisam	AUX	jesam
celo	ADJ	ceo
detinjstvo	NOUN	detinjstvo
provela	VERB	provesti
u	ADP	u
Beogradu	PROPN	Beograd
,	PUNCT	,
malo	ADV	malo
sam	AUX	jesam
živela	VERB	živeti
u	ADP	u
Novom	PROPN	Novom
Sadu	PROPN	Sadu
,	PUNCT	,
pa	CCONJ	pa
su	AUX	jesam
se	PART	se
vratili	VERB	vratiti
u	ADP	u
Beograd	PROPN	Beograd
.	PUNCT	.
Pa	CCONJ	pa
onda	SCONJ	onda
je	AUX	jesam
moj	DET	moj
tata	NOUN	tat
bio	AUX	biti
izabran	VERB	izabrati
preko	ADP	preko
"	PUNCT	"
Saveznog	ADJ	savezni
izvršnog	ADJ	izvršan
veća	NOUN	veće
"	PUNCT	"
da	SCONJ	da
predstavlja	VERB	predstavljati
svoju	DET	svoj
zemlju	NOUN	zemlja
u	ADP	u
inostranstvu	NOUN	inostranstvo
i	CCONJ	i
onda	SCONJ	onda
sam	AUX	jesam
eto	PART	eto
deo	NOUN	deo
svog	DET	svoj
života	NOUN	život
provela	VERB	provesti
tamo	ADV	tamo
.	PUNCT	.
Jedno	NUM	jedan
vreme	NOUN	vreme
sam	AUX	jesam
bila	AUX	biti
,	PUNCT	,
tad	ADV	tad
nisam	AUX	jesam
pohađala	VERB	pohađati
školu	NOUN	škola
,	PUNCT	,
godinu	NOUN	godina
dana	NOUN	dan
sam	AUX	jesam
bila	AUX	biti
u	ADP	u
Monpeljeu	PROPN	Monpelje
,	PUNCT	,
to	DET	taj
je	AUX	jesam
pored	ADP	pored
Pariza	PROPN	Pariz
u	ADP	u
Francuskoj	PROPN	Francuska
,	PUNCT	,
posle	ADP	posle
sam	DET	sam
se	PART	se
vratila	VERB	vratiti
za	ADP	za
Beograd	PROPN	Beograd
,	PUNCT	,
tu	ADV	tu
sam	AUX	jesam
počela	VERB	početi
da	SCONJ	da
idem	VERB	ići
u	ADP	u
osnovnu	ADJ	osnovni
,	PUNCT	,
ali	CCONJ	ali
samo	PART	samo
pola	ADV	pola
godine	NOUN	godina
,	PUNCT	,
prvi	ADJ	prvi
razred	NOUN	razred
.	PUNCT	.
Za	ADP	za
tih	DET	taj
pola	NOUN	pol
godine	NOUN	godina
,	PUNCT	,
godinu	NOUN	godina
dana	NOUN	dan
moji	DET	moj
roditelji	NOUN	roditelj
su	AUX	jesam
isto	ADV	isto
bili	AUX	biti
u	ADP	u
inostranstvu	NOUN	inostranstvo
,	PUNCT	,
ali	CCONJ	ali
tad	ADV	tad
me	PRON	ja
nisu	AUX	jesam
vodili	VERB	voditi
.	PUNCT	.
Bili	AUX	biti
su	AUX	jesam
u	ADP	u
Maroku	PROPN	Maroko
,	PUNCT	,
Tunisu	PROPN	Tunis
,	PUNCT	,
Egiptu	PROPN	Egipat
,	PUNCT	,
to	DET	taj
su	AUX	jesam
bile	AUX	biti
ovde	ADV	ovde
nesvrstane	ADJ	nesvrstan
zemlje	NOUN	zemlja
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
I	ADV	I
onda	ADV	onda
smo	AUX	jesam
,	PUNCT	,
su	AUX	jesam
se	PART	se
vratili	VERB	vratiti
i	CCONJ	i
moj	DET	moj
tata	NOUN	tat
je	AUX	jesam
dobio	VERB	dobiti
Italiju	PROPN	Italija
i	CCONJ	i
tamo	ADV	tamo
sam	AUX	jesam
otišla	VERB	otići
da	SCONJ	da
živim	VERB	živiti
sve	ADV	sve
do	ADP	do
svoje	DET	svoj
dvadeset	NUM	dvadeset
i	CCONJ	i
pete	NOUN	peta
godine	NOUN	godina
.	PUNCT	.
Onda	SCONJ	onda
sam	AUX	jesam
se	PART	se
vratila	VERB	vratiti
,	PUNCT	,
onda	SCONJ	onda
sam	AUX	jesam
se	PART	se
udala	VERB	udati
.	PUNCT	.
Pa	CCONJ	pa
sam	AUX	jesam
onda	ADV	onda
živela	VERB	živeti
,	PUNCT	,
suprug	NOUN	suprug
je	AUX	jesam
bio	AUX	biti
vojno	ADJ	vojni
lice	NOUN	lice
,	PUNCT	,
i	CCONJ	i
u	ADP	u
mornarici	NOUN	mornarica
,	PUNCT	,
pa	CCONJ	pa
sam	AUX	jesam
živela	VERB	živeti
u	ADP	u
Puli	PROPN	Pula
,	PUNCT	,
u	ADP	u
Šibeniku	PROPN	Šibenik
,	PUNCT	,
u	ADP	u
Splitu	PROPN	Split
i	CCONJ	i
na	ADP	na
kraju	NOUN	kraj
u	ADP	u
Herceg	PROPN	Herceg
Novome	PROPN	Novome
,	PUNCT	,
u	ADP	u
Crnoj	ADJ	crn
Gori	PROPN	Gori
kad	SCONJ	kad
su	AUX	jesam
se	PART	se
republike	NOUN	republika
razišle	VERB	razići
i	CCONJ	i
Jugoslavija	PROPN	Jugoslavija
se	PART	se
bivša	ADJ	bivši
raspala	VERB	raspasti
.	PUNCT	.
I	CCONJ	i
kad	SCONJ	kad
je	AUX	jesam
suprug	NOUN	suprug
otišao	VERB	otići
u	ADP	u
penziju	NOUN	penzija
onda	SCONJ	onda
sam	AUX	jesam
se	PART	se
vratila	VERB	vratiti
za	ADP	za
Beograd	PROPN	Beograd
i	CCONJ	i
sada	ADV	sada
zadnjih	ADJ	zadnji
petnaest	NUM	petnaest
godina	NOUN	godina
živim	VERB	živiti
ovde	ADV	ovde
u	ADP	u
Beogradu	PROPN	Beograd
.	PUNCT	.
[	PUNCT	[
Gde	PROPN	Gde
Vam	PROPN	Vam
je	AUX	jesam
bilo	AUX	biti
najlepše	ADJ	lep
?	PUNCT	?
]	PUNCT	]
Am	ADV	Am
_	PUNCT	_
pa	CCONJ	pa
ne	PART	ne
znam	VERB	znati
,	PUNCT	,
kako	SCONJ	kako
da	SCONJ	da
ti	PRON	ti
kažem	VERB	kazati
,	PUNCT	,
možda	PART	možda
mi	PRON	ja
je	AUX	jesam
najlepše	ADJ	lep
kad	SCONJ	kad
sam	AUX	jesam
bila	AUX	biti
,	PUNCT	,
dok	SCONJ	dok
nisam	AUX	jesam
imala	VERB	imati
bračnih	ADJ	bračni
obaveza	NOUN	obaveza
i	CCONJ	i
dok	SCONJ	dok
sam	AUX	jesam
studirala	VERB	studirati
,	PUNCT	,
bilo	AUX	biti
mi	PRON	ja
je	AUX	jesam
najlepše	ADJ	lep
u	ADP	u
Italiji	PROPN	Italija
.	PUNCT	.
Malo	ADV	malo
je	AUX	jesam
ružno	ADJ	ružan
da	SCONJ	da
se	PART	se
kaže	VERB	kazati
,	PUNCT	,
ali	CCONJ	ali
ja	PRON	ja
sam	AUX	jesam
iskrena	ADJ	iskren
osoba	NOUN	osoba
,	PUNCT	,
Beograd	PROPN	Beograd
je	AUX	jesam
uvek	ADV	uvek
moj	DET	moj
grad	NOUN	grad
,	PUNCT	,
ali	CCONJ	ali
eto	PART	eto
tako	ADV	tako
dođe	VERB	doći
mi	PRON	ja
knedla	NOUN	knedla
u	ADP	u
grlu	NOUN	grlo
,	PUNCT	,
ahm	ADJ	ahm
mnogo	ADV	mnogo
mi	PRON	ja
nedostaje	VERB	nedostajati
,	PUNCT	,
Italija	PROPN	Italija
je	AUX	jesam
moja	DET	moj
,	PUNCT	,
ne	PART	ne
znam	VERB	znati
,	PUNCT	,
moja	DET	moj
moja	DET	moj
druga	ADJ	drugi
domovina	NOUN	domovina
.	PUNCT	.
Tamo	ADV	tamo
mi	PRON	ja
je	AUX	jesam
bilo	AUX	biti
mnogo	ADV	mnogo
lepo	ADV	lepo
,	PUNCT	,
ljudi	NOUN	ljudi
su	AUX	jesam
me	PRON	ja
prihvatili	VERB	prihvatiti
zato	ADV	zato
što	SCONJ	što
sam	AUX	jesam
živela	VERB	živeti
na	ADP	na
jugu	NOUN	jug
Italije	PROPN	Italija
i	CCONJ	i
oni	PRON	oni
imaju	VERB	imati
jako	ADV	jako
sličan	ADJ	sličan
mentalitet	NOUN	mentalitet
našim	DET	naš
ljudima	NOUN	ljudi
,	PUNCT	,
i	CCONJ	i
ovaj	DET	ovaj
tamo	ADV	tamo
mi	PRON	ja
je	AUX	jesam
baš	PART	baš
bilo	AUX	biti
baš	PART	baš
lepo	ADV	lepo
.	PUNCT	.
I	CCONJ	i
to	DET	taj
su	AUX	jesam
i	CCONJ	i
te	DET	taj
godine	NOUN	godina
kad	SCONJ	kad
,	PUNCT	,
kad	SCONJ	kad
vam	PRON	vi
je	AUX	jesam
ne	PART	ne
mogu	VERB	moći
da	SCONJ	da
kažem	VERB	kazati
sve	ADV	sve
lepo	ADV	lepo
,	PUNCT	,
ali	CCONJ	ali
u	ADP	u
suštini	NOUN	suština
je	AUX	jesam
najlepše	ADJ	lep
doba	NOUN	doba
,	PUNCT	,
što	SCONJ	što
mogu	VERB	moći
da	SCONJ	da
kažem	VERB	kazati
sada	ADV	sada
u	ADP	u
ovako	ADV	ovako
malo	ADV	malo
zrelijim	ADJ	zreo
godinama	NOUN	godina
,	PUNCT	,
kad	SCONJ	kad
studirate	VERB	studirati
onda	SCONJ	onda
vam	PRON	vi
je	AUX	jesam
i	CCONJ	i
najlepše	ADJ	lep
.	PUNCT	.
I	CCONJ	i
onda	ADV	onda
sam	AUX	jesam
puno	ADV	puno
putovala	VERB	putovati
k	ADP	k
'	PUNCT	'
o	ADP	o
student	NOUN	student
,	PUNCT	,
preko	ADP	preko
studentske	ADJ	studentski
organizacije	NOUN	organizacija
.	PUNCT	.
Posetila	VERB	posetiti
sam	AUX	jesam
skoro	ADV	skoro
celu	ADJ	ceo
Evropu	PROPN	Evropa
.	PUNCT	.
Jedino	ADV	jedino
nisam	AUX	jesam
otišla	VERB	otići
nikad	ADV	nikad
,	PUNCT	,
to	DET	taj
mi	PRON	ja
je	AUX	jesam
bio	AUX	biti
neki	DET	neki
san	NOUN	san
,	PUNCT	,
u	ADP	u
stvari	NOUN	stvar
nije	AUX	jesam
mi	PRON	ja
bio	AUX	biti
san	NOUN	san
više	ADV	više
to	DET	taj
je	AUX	jesam
moje	DET	moj
roditelje	NOUN	roditelj
zanimalo	VERB	zanimati
,	PUNCT	,
mm	X	mm
da	SCONJ	da
odemo	VERB	otići
na	ADP	na
drugi	ADJ	drugi
kontinent	NOUN	kontinent
,	PUNCT	,
da	SCONJ	da
odemo	VERB	otići
do	ADP	do
Amerike	PROPN	Amerika
.	PUNCT	.
Imali	VERB	imati
smo	AUX	jesam
tamo	ADV	tamo
i	CCONJ	i
neke	DET	neki
prijatelje	NOUN	prijatelj
i	CCONJ	i
rođake	NOUN	rođaka
,	PUNCT	,
ali	CCONJ	ali
nikad	ADV	nikad
se	PART	se
nismo	AUX	jesam
usudili	VERB	usuditi
,	PUNCT	,
ni	CCONJ	ni
dan	NOUN	dan
danas	ADV	danas
evo	PART	evo
.	PUNCT	.
Ne	PART	ne
zna	VERB	znati
,	PUNCT	,
sad	ADV	sad
ne	PART	ne
bih	AUX	biti
se	PART	se
nikako	ADV	nikako
usudila	VERB	usuditi
da	SCONJ	da
idem	VERB	ići
,	PUNCT	,
a	ADV	a
ovaj	DET	ovaj
,	PUNCT	,
a	ADV	a
Evropu	PROPN	Evropa
sam	AUX	jesam
celu	ADJ	ceo
obišla	VERB	obići
i	CCONJ	i
mogu	VERB	moći
da	SCONJ	da
kažem	VERB	kazati
da	SCONJ	da
od	ADP	od
cele	ADJ	ceo
Evrope	PROPN	Evropa
to	DET	taj
što	SCONJ	što
mi	PRON	ja
je	AUX	jesam
bilo	AUX	biti
lepo	ADV	lepo
,	PUNCT	,
u	ADP	u
Italiji	PROPN	Italija
mi	PRON	ja
je	AUX	jesam
bilo	AUX	biti
najlepše	ADJ	lep
i	CCONJ	i
ne	PART	ne
znam	VERB	znati
_	PUNCT	_
svi	DET	sav
gradovi	NOUN	grad
Evrope	PROPN	Evropa
su	AUX	jesam
lepi	ADJ	lep
,	PUNCT	,
ali	CCONJ	ali
Pariz	PROPN	Pariz
mi	PRON	ja
je	AUX	jesam
nekako	ADV	nekako
najlepši	ADJ	lep
.	PUNCT	.
A	X	A
u	ADP	u
Italiji	PROPN	Italija
,	PUNCT	,
a	ADV	a
od	ADP	od
Italije	PROPN	Italija
,	PUNCT	,
celu	ADJ	ceo
Italiju	PROPN	Italija
sam	AUX	jesam
normalno	ADV	normalno
proputovala	VERB	proputovati
od	ADP	od
Barija	PROPN	Bari
gore	ADV	gore
do	ADP	do
Trsta	PROPN	Trst
,	PUNCT	,
svi	DET	sav
glavni	ADJ	glavni
gradovi	NOUN	grad
italijanskih	ADJ	italijanski
regija	NOUN	regija
,	PUNCT	,
ovaj	DET	ovaj
pošto	SCONJ	pošto
je	AUX	jesam
ona	PRON	ona
podeljena	VERB	podeliti
u	ADP	u
dvadeset	NUM	dvadeset
i	CCONJ	i
dve	NUM	dva
regije	NOUN	regija
,	PUNCT	,
ovaj	DET	ovaj
svi	DET	sav
su	AUX	jesam
lepi	ADJ	lep
,	PUNCT	,
svi	DET	sav
imaju	VERB	imati
svoje	DET	svoj
svoje	DET	svoj
čari	NOUN	čar
,	PUNCT	,
i	CCONJ	i
Venecija	PROPN	Venecija
,	PUNCT	,
i	CCONJ	i
Napulj	PROPN	Napulj
,	PUNCT	,
i	CCONJ	i
Rim	PROPN	Rim
,	PUNCT	,
večni	ADJ	večan
grad	NOUN	grad
,	PUNCT	,
i	CCONJ	i
ne	PART	ne
znam	VERB	znati
,	PUNCT	,
i	CCONJ	i
Milano	PROPN	Milano
,	PUNCT	,
i	CCONJ	i
Torino	PROPN	Torino
,	PUNCT	,
sve	ADV	sve
sve	ADV	sve
,	PUNCT	,
ali	CCONJ	ali
Firenca	PROPN	Firenca
je	AUX	jesam
moj	DET	moj
najomiljeniji	ADJ	omiljen
grad	NOUN	grad
.	PUNCT	.
Najomiljeniji	ADJ	omiljen
grad	NOUN	grad
,	PUNCT	,
ne	PART	ne
znam	VERB	znati
_	PUNCT	_
_	PUNCT	_
da	SCONJ	da
li	PART	li
,	PUNCT	,
da	SCONJ	da
li	PART	li
zato	ADV	zato
što	SCONJ	što
ima	VERB	imati
,	PUNCT	,
ne	PART	ne
znam	VERB	znati
,	PUNCT	,
zato	ADV	zato
što	SCONJ	što
se	PART	se
možda	PART	možda
pola	ADV	pola
istorije	NOUN	istorija
Evrope	PROPN	Evropa
i	CCONJ	i
događalo	VERB	događati
u	ADP	u
toj	DET	taj
Toskani	PROPN	Toskana
i	CCONJ	i
ta	DET	taj
Firenca	PROPN	Firenca
ne	PART	ne
znam	VERB	znati
toliko	ADV	toliko
.	PUNCT	.
Nema	ADJ	nem
kutak	NOUN	kutak
tog	DET	taj
grada	NOUN	grad
da	SCONJ	da
nema	VERB	nemati
neko	DET	neki
značenje	NOUN	značenje
,	PUNCT	,
neki	DET	neki
značaj	NOUN	značaj
.	PUNCT	.
I	CCONJ	i
tako	ADV	tako
je	AUX	jesam
sve	DET	sav
prelepo	ADV	prelepo
i	CCONJ	i
sviđa	VERB	sviđati
mi	PRON	ja
se	PART	se
zato	ADV	zato
što	SCONJ	što
oni	PRON	oni
to	DET	taj
znaju	VERB	znati
da	SCONJ	da
cene	NOUN	cena
i	CCONJ	i
očuvali	VERB	očuvati
su	AUX	jesam
ta	DET	taj
mesta	NOUN	mesto
i	CCONJ	i
eto	PART	eto
tako	ADV	tako
.	PUNCT	.
Dobro	ADV	dobro
sad	ADV	sad
je	AUX	jesam
to	DET	taj
malo	ADV	malo
i	CCONJ	i
biznis	NOUN	biznis
neki	DET	neki
,	PUNCT	,
ali	CCONJ	ali
Firenca	PROPN	Firenca
i	CCONJ	i
Verona	PROPN	Verona
,	PUNCT	,
grad	NOUN	grad
Romea	PROPN	Romeo
i	CCONJ	i
Julije	PROPN	Julija
,	PUNCT	,
to	DET	taj
su	AUX	jesam
dva	NUM	dva
grada	NOUN	grad
i	CCONJ	i
posle	ADV	posle
dolazi	VERB	dolaziti
Pariz	PROPN	Pariz
.	PUNCT	.
"	PUNCT	"
Notre	PROPN	Notre
-	PUNCT	-
Dame	PROPN	Dame
"	PUNCT	"
je	AUX	jesam
nešto	PRON	nešto
posebno	ADV	posebno
,	PUNCT	,
a	ADV	a
volela	VERB	voleti
sam	AUX	jesam
da	SCONJ	da
odem	VERB	otići
,	PUNCT	,
i	CCONJ	i
to	DET	taj
nisam	AUX	jesam
imala	VERB	imati
prilike	NOUN	prilika
zato	ADV	zato
što	SCONJ	što
je	AUX	jesam
tata	NOUN	tat
mislim	VERB	misliti
ono	PRON	ono
,	PUNCT	,
nikad	ADV	nikad
nisam	AUX	jesam
otišla	VERB	otići
.	PUNCT	.
Mogla	VERB	moći
da	SCONJ	da
odem	VERB	otići
nekako	ADV	nekako
sa	ADP	sa
nekom	DET	neki
svojom	DET	svoj
grupom	NOUN	grupa
,	PUNCT	,
sa	ADP	sa
nekim	DET	neki
svojim	DET	svoj
vršnjacima	NOUN	vršnjak
,	PUNCT	,
ali	CCONJ	ali
supruga	NOUN	supruga
ne	PART	ne
mogu	VERB	moći
da	SCONJ	da
nagovorim	VERB	nagovoriti
jer	SCONJ	jer
je	AUX	jesam
on	PRON	on
antiputista	NOUN	antiputista
,	PUNCT	,
mislim	VERB	misliti
nije	AUX	jesam
avanturista	NOUN	avanturista
k	ADP	k
'	PUNCT	'
o	ADP	o
ja	PRON	ja
,	PUNCT	,
mislim	VERB	misliti
oni	PRON	oni
lavovi	ADJ	lavov
nisu	AUX	jesam
takvi	DET	takav
,	PUNCT	,
oni	PRON	oni
su	AUX	jesam
određeni	VERB	odrediti
,	PUNCT	,
am	NOUN	am
"	PUNCT	"
Moulin	PROPN	Moulin
Rouge	PROPN	Rouge
"	PUNCT	"
i	CCONJ	i
kan	NOUN	kan
-	PUNCT	-
kan	NOUN	kan
da	SCONJ	da
vidim	VERB	viditi
,	PUNCT	,
one	DET	onaj
plesačice	NOUN	plesačica
.	PUNCT	.
To	DET	taj
mi	PRON	ja
je	AUX	jesam
,	PUNCT	,
to	DET	taj
mi	PRON	ja
je	AUX	jesam
nešto	PRON	nešto
eto	PART	eto
tako	ADV	tako
mislim	VERB	misliti
.	PUNCT	.
Ja	PRON	ja
smatram	VERB	smatrati
da	SCONJ	da
to	DET	taj
nije	AUX	jesam
vulgarno	ADV	vulgarno
i	CCONJ	i
eto	PART	eto
da	SCONJ	da
završimo	VERB	završiti
.	PUNCT	.
[	PUNCT	[
Da	ADV	Da
li	PART	li
govorite	VERB	govoriti
neki	DET	neki
strani	ADJ	stran
jezik	NOUN	jezik
?	PUNCT	?
]	PUNCT	]
Pa	X	Pa
dobro	ADV	dobro
sad	ADV	sad
,	PUNCT	,
neću	AUX	hteti
puno	ADV	puno
da	SCONJ	da
se	PART	se
hvalim	VERB	hvaliti
ali	CCONJ	ali
taj	DET	taj
stvarno	ADV	stvarno
taj	DET	taj
italijanski	ADJ	italijanski
,	PUNCT	,
možda	PART	možda
bolje	ADV	bolje
govorim	VERB	govoriti
italijanski	ADJ	italijanski
nego	CCONJ	nego
srpski	ADJ	srpski
.	PUNCT	.
Ovaj	DET	ovaj
taj	DET	taj
italijanski	ADJ	italijanski
govorim	VERB	govoriti
,	PUNCT	,
eto	PART	eto
to	DET	taj
mi	PRON	ja
je	AUX	jesam
kao	ADV	kao
maternji	ADJ	maternji
,	PUNCT	,
sad	ADV	sad
nema	VERB	nemati
tu	ADV	tu
nikakve	DET	nikakav
hvale	NOUN	hvala
.	PUNCT	.
Malo	ADV	malo
sam	AUX	jesam
izgubila	VERB	izgubiti
možda	PART	možda
u	ADP	u
brzini	NOUN	brzina
,	PUNCT	,
ali	CCONJ	ali
razumem	VERB	razumeti
i	CCONJ	i
znam	VERB	znati
sve	DET	sav
moguće	ADJ	moguć
dijalekte	NOUN	dijalekt
,	PUNCT	,
čak	PART	čak
i	CCONJ	i
onaj	DET	onaj
venecijanski	ADJ	venecijanski
koji	DET	koji
je	AUX	jesam
jako	ADV	jako
komplikovan	ADJ	komplikovan
,	PUNCT	,
i	CCONJ	i
Goldoni	PROPN	Goldoni
je	AUX	jesam
pisao	VERB	pisati
sve	ADV	sve
na	ADP	na
dijalektu	NOUN	dijalekt
,	PUNCT	,
ali	CCONJ	ali
ja	PRON	ja
ga	PRON	on
razum	NOUN	razum
mislim	VERB	misliti
sve	DET	sav
mi	PRON	ja
je	AUX	jesam
to	DET	taj
poznato	ADJ	poznat
.	PUNCT	.
Francuski	ADJ	Francuski
isto	ADV	isto
tu	ADV	tu
mi	PRON	ja
je	AUX	jesam
.	PUNCT	.
Malo	ADV	malo
nešto	ADV	nešto
,	PUNCT	,
malo	ADV	malo
nešto	ADV	nešto
,	PUNCT	,
isto	ADV	isto
dosta	ADV	dosta
razumem	VERB	razumeti
španski	ADJ	španski
.	PUNCT	.
Ne	PART	ne
znam	VERB	znati
,	PUNCT	,
nemački	ADJ	nemački
ne	PART	ne
volim	VERB	voliti
,	PUNCT	,
znam	VERB	znati
isto	ADV	isto
,	PUNCT	,
znam	VERB	znati
,	PUNCT	,
ne	PART	ne
znam	VERB	znati
ga	PRON	on
perfektno	ADV	perfektno
,	PUNCT	,
ali	CCONJ	ali
mogla	VERB	moći
bih	AUX	biti
da	SCONJ	da
se	PART	se
sporazumem	VERB	sporazumeti
,	PUNCT	,
mogla	VERB	moći
bih	AUX	biti
mislim	VERB	misliti
ono	DET	onaj
neku	DET	neki
osnovnu	ADJ	osnovni
konverzaciju	NOUN	konverzacija
da	SCONJ	da
vodim	VERB	voditi
.	PUNCT	.
Eto	PART	eto
to	DET	taj
je	AUX	jesam
to	DET	taj
.	PUNCT	.
A	X	A
engleski	ADJ	engleski
iz	ADP	iz
principa	NOUN	princip
nikad	ADV	nikad
ne	PART	ne
volim	VERB	voliti
da	SCONJ	da
govorim	VERB	govoriti
iako	SCONJ	iako
isto	PART	isto
ga	PRON	on
znam	VERB	znati
,	PUNCT	,
ali	CCONJ	ali
germansku	ADJ	germanski
grupu	NOUN	grupa
to	DET	taj
,	PUNCT	,
mislim	VERB	misliti
to	DET	taj
što	SCONJ	što
sam	AUX	jesam
mogla	VERB	moći
na	ADP	na
fakultetu	NOUN	fakultet
i	CCONJ	i
to	DET	taj
sam	AUX	jesam
ispoštovala	VERB	ispoštovati
pošto	SCONJ	pošto
sam	AUX	jesam
završila	VERB	završiti
filološki	ADJ	filološki
,	PUNCT	,
ali	CCONJ	ali
nije	AUX	jesam
,	PUNCT	,
to	DET	taj
su	AUX	jesam
mi	PRON	ja
bili	AUX	biti
pod	ADP	pod
B	X	B
i	CCONJ	i
C	X	C
,	PUNCT	,
tako	ADV	tako
da	SCONJ	da
nisu	AUX	jesam
mi	PRON	ja
bili	AUX	biti
glavni	ADJ	glavni
jezici	NOUN	jezik
.	PUNCT	.
I	CCONJ	i
tako	ADV	tako
.	PUNCT	.
[	PUNCT	[
Gde	PROPN	Gde
ste	AUX	jesam
sve	ADV	sve
radili	VERB	raditi
i	CCONJ	i
na	ADP	na
kojim	DET	koji
pozicijama	NOUN	pozicija
?	PUNCT	?
]	PUNCT	]
Nisam	PROPN	Nisam
nikad	ADV	nikad
bila	AUX	biti
zaposlena	VERB	zaposliti
,	PUNCT	,
da	SCONJ	da
kažem	VERB	kazati
da	SCONJ	da
imam	VERB	imati
neko	DET	neki
kontinuirano	ADV	kontinuirano
radno	ADV	radno
mesto	NOUN	mesto
,	PUNCT	,
ali	CCONJ	ali
obavljala	VERB	obavljati
sam	AUX	jesam
još	ADV	još
dok	SCONJ	dok
sam	AUX	jesam
bila	AUX	biti
za	ADP	za
vreme	NOUN	vreme
studija	NOUN	studija
,	PUNCT	,
u	ADP	u
studentskoj	ADJ	studentski
zadruzi	NOUN	zadruga
,	PUNCT	,
preko	ADP	preko
studentske	ADJ	studentski
zadruge	NOUN	zadruga
najviše	ADV	najviše
mi	PRON	ja
je	AUX	jesam
ovaj	DET	ovaj
odgovaralo	VERB	odgovarati
da	SCONJ	da
radim	VERB	raditi
,	PUNCT	,
i	CCONJ	i
radila	VERB	raditi
sam	AUX	jesam
u	ADP	u
stvari	NOUN	stvar
taj	DET	taj
posao	NOUN	posao
,	PUNCT	,
kao	CCONJ	kao
simultani	ADJ	simultan
prevodioc	NOUN	prevodioc
.	PUNCT	.
To	DET	taj
mi	PRON	ja
je	AUX	jesam
najviše	ADV	najviše
odgovaralo	VERB	odgovarati
,	PUNCT	,
sada	ADV	sada
možda	PART	možda
nemam	VERB	nemati
,	PUNCT	,
zato	ADV	zato
kažem	VERB	kazati
sad	ADV	sad
sam	AUX	jesam
možda	PART	možda
izgubila	VERB	izgubiti
te	DET	taj
brzine	NOUN	brzina
i	CCONJ	i
te	DET	taj
koncentracije	NOUN	koncentracija
,	PUNCT	,
ali	CCONJ	ali
isto	ADV	isto
onda	ADV	onda
sam	AUX	jesam
to	DET	taj
honorarno	ADV	honorarno
jedno	NUM	jedan
vreme	NOUN	vreme
radila	VERB	raditi
dok	SCONJ	dok
smo	AUX	jesam
bili	AUX	biti
u	ADP	u
Splitu	PROPN	Split
i	CCONJ	i
posle	ADV	posle
kad	SCONJ	kad
sam	AUX	jesam
prešla	VERB	preći
u	ADP	u
Herceg	PROPN	Herceg
Novi	VERB	Novi
na	ADP	na
"	PUNCT	"
Radničkom	ADJ	Radničkom
univerzitetu	NOUN	univerzitet
"	PUNCT	"
tako	ADV	tako
davala	VERB	davati
sam	AUX	jesam
časove	NOUN	čas
italijanskog	ADJ	italijanski
jezika	NOUN	jezik
,	PUNCT	,
al	CCONJ	al
'	PUNCT	'
to	DET	taj
je	AUX	jesam
sve	DET	sav
eto	PART	eto
tako	ADV	tako
bilo	AUX	biti
,	PUNCT	,
mislim	VERB	misliti
više	ADV	više
je	AUX	jesam
bilo	AUX	biti
kako	ADV	kako
da	SCONJ	da
kažem	VERB	kazati
_	PUNCT	_
dobrovoljno	ADV	dobrovoljno
,	PUNCT	,
mislim	VERB	misliti
fakultativno	ADJ	fakultativan
moje	DET	moj
,	PUNCT	,
neki	DET	neki
moj	DET	moj
posao	VERB	posati
nego	CCONJ	nego
što	SCONJ	što
je	AUX	jesam
baš	PART	baš
bilo	AUX	biti
mislim	VERB	misliti
ono	DET	onaj
da	SCONJ	da
sam	AUX	jesam
radila	VERB	raditi
za	ADP	za
neki	DET	neki
novac	NOUN	novac
ili	CCONJ	ili
tako	ADV	tako
nešto	ADV	nešto
.	PUNCT	.
Više	PROPN	Vis
je	AUX	jesam
bilo	AUX	biti
da	SCONJ	da
prenesem	VERB	preneti
,	PUNCT	,
ne	PART	ne
volim	VERB	voliti
,	PUNCT	,
mislim	VERB	misliti
ne	PART	ne
može	VERB	moći
da	SCONJ	da
se	PART	se
živi	VERB	živiti
bez	ADP	bez
novca	NOUN	novac
to	DET	taj
mi	PRON	ja
je	AUX	jesam
jako	ADV	jako
jako	ADV	jako
poznato	VERB	poznati
,	PUNCT	,
ali	CCONJ	ali
ja	PRON	ja
bih	AUX	biti
uvela	VERB	uvesti
onu	DET	onaj
razmenu	NOUN	razmena
,	PUNCT	,
ono	DET	onaj
ne	PART	ne
bi	AUX	biti
novac	NOUN	novac
za	ADP	za
mene	PRON	ja
što	SCONJ	što
se	PART	se
mene	PRON	ja
tiče	VERB	ticati
postojao	VERB	postojati
.	PUNCT	.
Ovaj	DET	ovaj
,	PUNCT	,
ali	CCONJ	ali
moj	DET	moj
ideal	NOUN	ideal
i	CCONJ	i
moja	DET	moj
svrha	NOUN	svrha
,	PUNCT	,
nešto	ADV	nešto
što	SCONJ	što
ja	PRON	ja
eto	PART	eto
propagiram	VERB	propagirati
je	AUX	jesam
da	SCONJ	da
prenesem	VERB	preneti
svoje	DET	svoj
znanje	NOUN	znanje
,	PUNCT	,
da	SCONJ	da
omogućim	VERB	omogućiti
drugima	ADJ	drugi
da	SCONJ	da
uživaju	VERB	uživati
,	PUNCT	,
budu	AUX	biti
deo	NOUN	deo
isto	ADV	isto
toga	DET	taj
i	CCONJ	i
ako	SCONJ	ako
sam	AUX	jesam
ja	PRON	ja
to	DET	taj
mogla	VERB	moći
da	SCONJ	da
naučim	VERB	naučiti
i	CCONJ	i
da	SCONJ	da
vidim	VERB	viditi
,	PUNCT	,
ako	SCONJ	ako
neko	PRON	neko
nije	AUX	jesam
imao	VERB	imati
mogućnosti	NOUN	mogućnost
da	SCONJ	da
prođe	VERB	proći
negde	ADV	negde
i	CCONJ	i
vidi	VERB	viditi
nešto	PRON	nešto
eto	PART	eto
moja	DET	moj
bi	AUX	biti
bila	AUX	biti
želja	NOUN	želja
da	SCONJ	da
prenesem	VERB	preneti
nešto	ADV	nešto
svog	DET	svoj
znanja	NOUN	znanje
drugome	ADJ	drugi
.	PUNCT	.
Eto	PART	eto
to	DET	taj
,	PUNCT	,
tako	ADV	tako
.	PUNCT	.
[	PUNCT	[
Šta	ADV	Šta
ste	AUX	jesam
po	ADP	po
struci	NOUN	struka
?	PUNCT	?
]	PUNCT	]
Pa	X	Pa
eto	PART	eto
po	ADP	po
struci	NOUN	struka
sam	ADJ	sam
lingvista	NOUN	lingvist
.	PUNCT	.
Mislim	VERB	misliti
eto	PART	eto
filološki	ADJ	filološki
sam	AUX	jesam
završila	VERB	završiti
i	CCONJ	i
to	DET	taj
volim	VERB	voliti
,	PUNCT	,
mada	SCONJ	mada
malo	ADV	malo
su	AUX	jesam
tu	ADV	tu
moji	DET	moj
roditelji	NOUN	roditelj
uticali	VERB	uticati
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
ih	PRON	ona
,	PUNCT	,
i	CCONJ	i
dan	NOUN	dan
danas	ADV	danas
ih	PRON	ona
,	PUNCT	,
sad	ADV	sad
ih	PRON	ona
baš	PART	baš
obožavam	VERB	obožavati
.	PUNCT	.
Ne	PART	ne
zato	ADV	zato
što	SCONJ	što
nisu	AUX	jesam
više	ADV	više
sa	ADP	sa
mnom	PRON	ja
,	PUNCT	,
nego	CCONJ	nego
eto	PART	eto
sad	ADV	sad
sve	ADV	sve
što	SCONJ	što
sam	AUX	jesam
zrelija	ADJ	zreo
znam	VERB	znati
više	ADV	više
i	CCONJ	i
da	SCONJ	da
cenim	VERB	ceniti
to	DET	taj
.	PUNCT	.
A	X	A
možda	PART	možda
je	AUX	jesam
moj	DET	moj
tata	NOUN	tat
imao	VERB	imati
i	CCONJ	i
pravo	NOUN	prava
,	PUNCT	,
jer	SCONJ	jer
ja	PRON	ja
sam	AUX	jesam
mu	PRON	on
jedno	NUM	jedan
vreme	NOUN	vreme
zamerala	VERB	zamerati
,	PUNCT	,
malo	ADV	malo
mi	PRON	ja
je	AUX	jesam
bilo	AUX	biti
krivo	ADV	krivo
što	SCONJ	što
je	AUX	jesam
branio	VERB	braniti
da	SCONJ	da
se	PART	se
bavim	VERB	baviti
i	CCONJ	i
pođem	VERB	poći
tim	DET	taj
putom	NOUN	put
,	PUNCT	,
tim	DET	taj
putem	NOUN	put
,	PUNCT	,
ali	CCONJ	ali
volela	VERB	voleti
sam	AUX	jesam
strašno	ADV	strašno
žurnalistiku	NOUN	žurnalistika
.	PUNCT	.
Žurnalistika	PROPN	Žurnalistika
je	AUX	jesam
bila	AUX	biti
moj	DET	moj
ideal	NOUN	ideal
,	PUNCT	,
volela	VERB	voleti
sam	AUX	jesam
,	PUNCT	,
to	DET	taj
me	PRON	ja
je	AUX	jesam
vezivalo	VERB	vezivati
poznavanje	NOUN	poznavanje
ljudi	NOUN	ljudi
,	PUNCT	,
putovanje	NOUN	putovanje
,	PUNCT	,
ne	PART	ne
bavljenje	NOUN	bavljenje
ovom	DET	ovaj
ovom	DET	ovaj
rekla	VERB	reći
-	PUNCT	-
kazala	VERB	kazati
,	PUNCT	,
žuta	ADJ	žut
hronika	NOUN	hronika
mislim	VERB	misliti
ovo	DET	ovaj
crna	ADJ	crn
hronika	NOUN	hronika
,	PUNCT	,
žuta	ADJ	žut
hronika	NOUN	hronika
,	PUNCT	,
roze	ADJ	roze
hronika	NOUN	hronika
i	CCONJ	i
šta	PRON	šta
ti	PRON	ti
ja	PRON	ja
znam	VERB	znati
te	DET	taj
glupost	NOUN	glupost
,	PUNCT	,
ali	CCONJ	ali
više	ADV	više
tako	ADV	tako
vezano	VERB	vezati
za	ADP	za
to	DET	taj
,	PUNCT	,
ali	CCONJ	ali
to	DET	taj
je	AUX	jesam
moj	DET	moj
tata	NOUN	tat
je	AUX	jesam
uvek	ADV	uvek
govorio	VERB	govoriti
da	SCONJ	da
to	DET	taj
nije	AUX	jesam
za	ADP	za
,	PUNCT	,
da	SCONJ	da
je	AUX	jesam
to	DET	taj
u	ADP	u
stvari	NOUN	stvar
jako	ADV	jako
jedan	NUM	jedan
odgovoran	ADJ	odgovoran
i	CCONJ	i
težak	ADJ	težak
posao	NOUN	posao
,	PUNCT	,
a	ADV	a
da	SCONJ	da
je	AUX	jesam
žensko	ADJ	ženski
biće	AUX	biti
malo	ADV	malo
krhko	ADJ	krhak
i	CCONJ	i
da	SCONJ	da
nije	AUX	jesam
baš	PART	baš
za	ADP	za
to	DET	taj
.	PUNCT	.
Tako	ADV	tako
.	PUNCT	.
[	PUNCT	[
Kakvo	DET	kakav
je	AUX	jesam
vaše	DET	vaš
muzičko	ADJ	muzički
obrazovanje	NOUN	obrazovanje
?	PUNCT	?
Da	SCONJ	da
li	PART	li
svirate	VERB	svirati
neki	DET	neki
instrument	NOUN	instrument
ili	CCONJ	ili
pevate	VERB	pevati
?	PUNCT	?
]	PUNCT	]
Mmm	ADJ	Mmm
da	SCONJ	da
.	PUNCT	.
U	ADP	u
mladosti	NOUN	mladost
sam	AUX	jesam
završila	VERB	završiti
nižu	ADJ	nizak
muzičku	ADJ	muzički
,	PUNCT	,
svirala	VERB	svirati
sam	AUX	jesam
gitaru	NOUN	gitara
,	PUNCT	,
i	CCONJ	i
to	DET	taj
isto	ADV	isto
dok	SCONJ	dok
sam	AUX	jesam
bila	AUX	biti
u	ADP	u
srednjoj	ADJ	srednji
skoli	VERB	skoliti
i	CCONJ	i
na	ADP	na
fakultetu	NOUN	fakultet
,	PUNCT	,
imali	VERB	imati
smo	AUX	jesam
čak	PART	čak
i	CCONJ	i
bend	NOUN	bend
.	PUNCT	.
Tako	ADV	tako
volim	VERB	voliti
sve	DET	sav
žanrove	NOUN	žanr
muzike	NOUN	muzika
.	PUNCT	.
I	CCONJ	i
baš	PART	baš
muzika	NOUN	muzika
,	PUNCT	,
mislim	VERB	misliti
da	SCONJ	da
sam	AUX	jesam
,	PUNCT	,
možda	PART	možda
nisam	AUX	jesam
,	PUNCT	,
kako	SCONJ	kako
se	PART	se
zove	VERB	zvati
,	PUNCT	,
toliko	ADV	toliko
nadarena	VERB	nadariti
za	ADP	za
neku	DET	neki
pesmu	NOUN	pesma
,	PUNCT	,
mislim	VERB	misliti
nemam	VERB	nemati
nemam	VERB	nemati
neki	DET	neki
glas	NOUN	glas
jer	SCONJ	jer
glas	NOUN	glas
stvarno	ADV	stvarno
treba	VERB	trebati
da	SCONJ	da
se	PART	se
vežba	NOUN	vežba
,	PUNCT	,
kao	CCONJ	kao
što	SCONJ	što
se	PART	se
vežba	VERB	vežbati
instrument	NOUN	instrument
tako	ADV	tako
i	CCONJ	i
glas	NOUN	glas
treba	VERB	trebati
da	SCONJ	da
se	PART	se
vežba	NOUN	vežba
,	PUNCT	,
ovaj	DET	ovaj
,	PUNCT	,
ali	CCONJ	ali
ovaj	DET	ovaj
,	PUNCT	,
muziku	NOUN	muzika
volim	VERB	voliti
i	CCONJ	i
sve	DET	sav
žanrove	NOUN	žanr
volim	VERB	voliti
da	SCONJ	da
slušam	VERB	slušati
.	PUNCT	.
Tako	ADV	tako
da	SCONJ	da
nema	VERB	nemati
,	PUNCT	,
što	SCONJ	što
se	PART	se
muzike	NOUN	muzika
tiče	VERB	ticati
nema	ADJ	nem
problema	NOUN	problem
.	PUNCT	.
Uvek	ADV	uvek
mogu	VERB	moći
,	PUNCT	,
mislim	VERB	misliti
ne	PART	ne
,	PUNCT	,
ne	PART	ne
smeta	VERB	smetati
mi	PRON	ja
kad	SCONJ	kad
neko	PRON	neko
zapeva	VERB	zapevati
i	CCONJ	i
eto	PART	eto
volim	VERB	voliti
i	CCONJ	i
ulične	ADJ	ulični
svirače	NOUN	svirač
,	PUNCT	,
volim	VERB	voliti
vesele	ADJ	veseo
melodije	NOUN	melodija
,	PUNCT	,
mislim	VERB	misliti
ono	PRON	ono
ne	PART	ne
odudaram	VERB	odudarati
da	SCONJ	da
odem	VERB	otići
u	ADP	u
teatar	NOUN	teatar
,	PUNCT	,
u	ADP	u
pozorište	NOUN	pozorište
da	SCONJ	da
neku	DET	neki
operu	NOUN	opera
,	PUNCT	,
ali	CCONJ	ali
između	ADP	između
operete	NOUN	opereta
i	CCONJ	i
opere	NOUN	opera
više	ADV	više
volim	VERB	voliti
operetu	NOUN	opereta
jer	SCONJ	jer
operete	VERB	oprati
su	AUX	jesam
veselije	ADJ	veseo
i	CCONJ	i
tako	ADV	tako
opere	VERB	oprati
znaju	VERB	znati
neke	DET	neki
da	SCONJ	da
budu	AUX	biti
malo	ADV	malo
,	PUNCT	,
kako	SCONJ	kako
se	PART	se
zove	VERB	zvati
,	PUNCT	,
ne	PART	ne
zamorne	ADJ	zamoran
,	PUNCT	,
ne	PART	ne
ono	PRON	ono
,	PUNCT	,
ali	CCONJ	ali
vole	VERB	voliti
da	SCONJ	da
bude	AUX	biti
,	PUNCT	,
da	SCONJ	da
budu	AUX	biti
tužne	ADJ	tužan
,	PUNCT	,
a	VERB	a
ja	PRON	ja
tužne	ADJ	tužan
stvari	NOUN	stvar
_	PUNCT	_
izbegavam	VERB	izbegavati
,	PUNCT	,
ne	PART	ne
volim	VERB	voliti
baš	PART	baš
tugu	NOUN	tug
_	PUNCT	_
_	PUNCT	_
mislim	VERB	misliti
to	DET	taj
.	PUNCT	.
E	CCONJ	e
volim	VERB	voliti
sve	DET	sav
stvari	NOUN	stvar
što	SCONJ	što
se	PART	se
završavaju	VERB	završavati
happy	ADJ	happy
end	NOUN	end
-	PUNCT	-
om	X	om
.	PUNCT	.
[	PUNCT	[
Da	ADV	Da
li	PART	li
volite	VERB	voliti
da	SCONJ	da
čitate	VERB	čitati
?	PUNCT	?
]	PUNCT	]
A	X	A
jeste	AUX	jesam
to	DET	taj
.	PUNCT	.
Sad	ADV	sad
nemam	VERB	nemati
,	PUNCT	,
mislim	VERB	misliti
nemam	VERB	nemati
,	PUNCT	,
sada	ADV	sada
kad	SCONJ	kad
se	PART	se
uželim	VERB	uželeti
,	PUNCT	,
mislim	VERB	misliti
kad	SCONJ	kad
stvarno	ADV	stvarno
'	PUNCT	'
oću	VERB	hteti
da	SCONJ	da
se	PART	se
opustim	VERB	opustiti
i	CCONJ	i
to	DET	taj
e	PART	e
onda	ADV	onda
,	PUNCT	,
ali	CCONJ	ali
volim	VERB	voliti
_	PUNCT	_
_	PUNCT	_
šta	PRON	šta
da	SCONJ	da
čitam	VERB	čitati
.	PUNCT	.
Malo	ADV	malo
čitam	VERB	čitati
beletristika	NOUN	beletristika
i	CCONJ	i
malo	ADV	malo
čitam	VERB	čitati
savremene	ADJ	savremen
,	PUNCT	,
to	DET	taj
me	PRON	ja
je	AUX	jesam
i	CCONJ	i
mama	NOUN	mam
me	PRON	ja
kritikovala	VERB	kritikovati
moja	DET	moj
dok	SCONJ	dok
je	AUX	jesam
bila	AUX	biti
ovaj	DET	ovaj
među	ADP	među
nama	PRON	mi
.	PUNCT	.
Više	PROPN	Vis
volim	VERB	voliti
klasike	NOUN	klasika
da	SCONJ	da
čitam	VERB	čitati
i	CCONJ	i
za	ADP	za
mene	PRON	ja
za	ADP	za
mene	PRON	ja
_	PUNCT	_
Rusi	PROPN	Rus
,	PUNCT	,
ruski	ADJ	ruski
pisci	NOUN	pisac
to	DET	taj
je	AUX	jesam
pod	ADP	pod
broj	NOUN	broj
jedan	NUM	jedan
i	CCONJ	i
onda	ADV	onda
se	PART	se
vraćam	VERB	vraćati
.	PUNCT	.
Ovako	ADV	ovako
dođe	VERB	doći
prvo	ADV	prvo
Rusija	PROPN	Rusija
,	PUNCT	,
pa	CCONJ	pa
onda	ADV	onda
dođe	VERB	doći
Francuska	PROPN	Francuska
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
i	CCONJ	i
onda	ADV	onda
dođe	VERB	doći
Italija	PROPN	Italija
.	PUNCT	.
Od	ADP	od
Italije	PROPN	Italija
,	PUNCT	,
od	ADP	od
Italijan	PROPN	Italijan
,	PUNCT	,
to	DET	taj
su	AUX	jesam
tri	NUM	tri
pisca	NOUN	pisac
koja	DET	koji
su	AUX	jesam
ja	PRON	ja
mislim	VERB	misliti
označila	VERB	označiti
Italiju	PROPN	Italija
.	PUNCT	.
To	DET	taj
je	AUX	jesam
Dante	PROPN	Dante
,	PUNCT	,
njegova	DET	njegov
"	PUNCT	"
Divina	PROPN	Divina
commedia	PROPN	commedia
"	PUNCT	"
,	PUNCT	,
ne	PART	ne
znam	VERB	znati
sad	ADV	sad
na	ADP	na
srpskom	ADJ	srpski
prevedena	VERB	prevesti
to	DET	taj
je	AUX	jesam
"	PUNCT	"
Božansko	ADJ	Božansko
"	PUNCT	"
ovo	DET	ovaj
ono	PRON	ono
.	PUNCT	.
Ovaj	DET	ovaj
volim	VERB	voliti
Petrarku	PROPN	Petrarka
.	PUNCT	.
Petrarka	PROPN	Petrarka
je	AUX	jesam
mislim	VERB	misliti
ono	PRON	ono
.	PUNCT	.
I	CCONJ	i
na	ADP	na
kraju	NOUN	kraj
Bokačo	ADJ	Bokačo
je	AUX	jesam
nešto	ADV	nešto
što	SCONJ	što
je	AUX	jesam
,	PUNCT	,
ako	SCONJ	ako
hoćeš	AUX	hteti
i	CCONJ	i
dan	NOUN	dan
danas	ADV	danas
da	SCONJ	da
se	PART	se
razveseliš	VERB	razveseliti
,	PUNCT	,
da	SCONJ	da
se	PART	se
nasmeješ	VERB	nasmejati
kad	SCONJ	kad
čitaš	VERB	čitati
nešto	ADV	nešto
,	PUNCT	,
e	CCONJ	e
onda	ADV	onda
uzmi	VERB	uzeti
Bokača	PROPN	Bokača
i	CCONJ	i
čitaj	VERB	čitati
njegove	DET	njegov
pripovetke	NOUN	pripovetka
.	PUNCT	.
To	DET	taj
je	AUX	jesam
nešto	ADV	nešto
,	PUNCT	,
mislim	VERB	misliti
po	ADP	po
meni	PRON	ja
uvek	ADV	uvek
kad	SCONJ	kad
hoću	AUX	hteti
da	SCONJ	da
se	PART	se
da	SCONJ	da
me	PRON	ja
ono	PRON	ono
.	PUNCT	.
E	INTJ	e
volim	VERB	voliti
da	SCONJ	da
čitam	VERB	čitati
i	CCONJ	i
volim	VERB	voliti
da	SCONJ	da
čitam	VERB	čitati
klasike	NOUN	klasika
.	PUNCT	.
Od	ADP	od
savremenih	ADJ	savremen
ne	PART	ne
čitam	VERB	čitati
beletristiku	NOUN	beletristika
,	PUNCT	,
volim	VERB	voliti
pesme	NOUN	pesma
da	SCONJ	da
čitam	VERB	čitati
,	PUNCT	,
e	INTJ	e
volim	VERB	voliti
pesme	NOUN	pesma
i	CCONJ	i
ne	PART	ne
znam	VERB	znati
tako	ADV	tako
volim	VERB	voliti
pesme	NOUN	pesma
i	CCONJ	i
volim	VERB	voliti
pesme	NOUN	pesma
za	ADP	za
decu	NOUN	deca
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
Ršum	PROPN	Ršum
je	AUX	jesam
na	ADP	na
prvom	ADJ	prvi
mestu	NOUN	mesto
i	CCONJ	i
dan	NOUN	dan
danas	ADV	danas
volim	VERB	voliti
njegove	DET	njegov
pesme	NOUN	pesma
da	SCONJ	da
čitam	VERB	čitati
i	CCONJ	i
tako	ADV	tako
eto	PART	eto
to	DET	taj
je	AUX	jesam
to	DET	taj
.	PUNCT	.
Volim	VERB	voliti
da	SCONJ	da
čitam	VERB	čitati
.	PUNCT	.
[	PUNCT	[
Ko	PROPN	Ko
su	AUX	jesam
članovi	NOUN	član
Vaše	ADJ	Vaše
porodice	NOUN	porodica
?	PUNCT	?
]	PUNCT	]
Pa	X	Pa
nažalost	ADV	nažalost
smo	AUX	jesam
samo	PART	samo
ja	PRON	ja
i	CCONJ	i
moj	DET	moj
suprug	NOUN	suprug
.	PUNCT	.
Decu	NOUN	deca
toliko	ADV	toliko
smo	AUX	jesam
želeli	VERB	želeti
,	PUNCT	,
ja	PRON	ja
pogotovo	ADV	pogotovo
da	SCONJ	da
se	PART	se
ostvrim	VERB	ostvrim
ko	PRON	ko
majka	NOUN	majka
,	PUNCT	,
ali	CCONJ	ali
nisam	AUX	jesam
imala	VERB	imati
tu	DET	taj
priliku	NOUN	prilika
.	PUNCT	.
I	CCONJ	i
treći	ADJ	treći
član	NOUN	član
naše	DET	naš
porodice	NOUN	porodica
je	AUX	jesam
naše	DET	naš
kućno	ADJ	kućni
ljubimče	NOUN	ljubimac
koje	DET	koji
ima	VERB	imati
dvanaest	NUM	dvanaest
godina	NOUN	godina
,	PUNCT	,
ženka	NOUN	ženka
i	CCONJ	i
zove	VERB	zvati
se	PART	se
Ela	PROPN	Ela
.	PUNCT	.
Eto	PART	eto
ona	PRON	ona
je	AUX	jesam
,	PUNCT	,
ona	PRON	ona
nema	VERB	nemati
moć	NOUN	moć
govora	NOUN	govor
i	CCONJ	i
nema	ADJ	nem
pravo	NOUN	prava
glasanja	NOUN	glasanje
,	PUNCT	,
al	CCONJ	al
'	PUNCT	'
je	AUX	jesam
treći	ADJ	treći
deo	NOUN	deo
porodice	NOUN	porodica
,	PUNCT	,
mezimica	NOUN	mezimica
u	ADP	u
kući	NOUN	kuća
.	PUNCT	.
[	PUNCT	[
Možete	PROPN	Možete
li	PART	li
da	SCONJ	da
nam	PRON	mi
kažete	VERB	kazati
nešto	ADV	nešto
o	ADP	o
Vašem	ADJ	Vašem
suprugu	NOUN	supruga
?	PUNCT	?
]	PUNCT	]
Pa	X	Pa
šta	PRON	šta
bih	AUX	biti
rekla	VERB	reći
o	ADP	o
mom	DET	moj
suprugu	NOUN	supruga
,	PUNCT	,
ja	PRON	ja
i	CCONJ	i
moj	DET	moj
suprug	NOUN	suprug
smo	AUX	jesam
kako	ADV	kako
da	SCONJ	da
kažem	VERB	kazati
više	ADV	više
,	PUNCT	,
više	ADV	više
smo	AUX	jesam
veliki	ADJ	velik
,	PUNCT	,
veliki	ADJ	velik
drugovi	NOUN	drug
i	CCONJ	i
ta	DET	taj
naša	DET	naš
bračna	ADJ	bračni
zajednica	NOUN	zajednica
je	AUX	jesam
zasnovana	VERB	zasnovati
stvarno	ADV	stvarno
na	ADP	na
poštovanju	NOUN	poštovanje
jedno	NUM	jedan
prema	ADP	prema
drugome	ADJ	drugi
.	PUNCT	.
I	CCONJ	i
to	DET	taj
je	AUX	jesam
drugar	NOUN	drugar
kome	DET	koji
mogu	VERB	moći
uvek	ADV	uvek
u	ADP	u
svako	DET	svaki
vreme	NOUN	vreme
da	SCONJ	da
mu	PRON	on
se	PART	se
obratim	VERB	obratiti
,	PUNCT	,
nemamo	VERB	nemati
tajne	NOUN	tajna
,	PUNCT	,
ne	PART	ne
mislimo	VERB	misliti
uvek	ADV	uvek
isto	ADV	isto
.	PUNCT	.
K	X	K
'	PUNCT	'
o	ADP	o
što	PRON	što
ovih	DET	ovaj
deset	NUM	deset
prstiju	NOUN	prst
koje	DET	koji
nam	PRON	mi
je	AUX	jesam
Bog	ADV	Bog
dao	VERB	dati
,	PUNCT	,
koje	DET	koji
smo	AUX	jesam
nasledili	VERB	naslediti
od	ADP	od
rođenja	NOUN	rođenje
nisu	AUX	jesam
sve	DET	sav
jednaki	ADJ	jednak
tako	ADV	tako
ni	PART	ni
ljudi	NOUN	ljudi
nisu	AUX	jesam
.	PUNCT	.
U	ADP	u
nekim	DET	neki
stvarima	NOUN	stvar
nemamo	VERB	nemati
isto	ADJ	isti
mišljenje	NOUN	mišljenje
,	PUNCT	,
ali	CCONJ	ali
je	AUX	jesam
to	DET	taj
rečeno	VERB	reći
iskreno	ADV	iskreno
tako	ADV	tako
da	SCONJ	da
nema	VERB	nemati
tu	DET	taj
nikakvih	DET	nikakav
tajni	NOUN	tajna
i	CCONJ	i
to	DET	taj
.	PUNCT	.
Eto	PART	eto
za	ADP	za
sada	ADV	sada
,	PUNCT	,
posle	ADV	posle
_	PUNCT	_
četrdeset	NUM	četrdeset
godina	NOUN	godina
,	PUNCT	,
sad	ADV	sad
je	AUX	jesam
bilo	AUX	biti
zimus	ADV	zimus
četrdeset	NUM	četrdeset
godina	NOUN	godina
,	PUNCT	,
za	ADP	za
tih	DET	taj
četrdeset	NUM	četrdeset
godina	NOUN	godina
mislim	VERB	misliti
ono	PRON	ono
,	PUNCT	,
to	DET	taj
je	AUX	jesam
jedini	ADJ	jedini
prijatelj	NOUN	prijatelj
koji	DET	koji
me	PRON	ja
stvarno	ADV	stvarno
u	ADP	u
najtežim	ADJ	težak
trenucima	NOUN	trenutak
nije	AUX	jesam
napustio	VERB	napustiti
,	PUNCT	,
davao	VERB	davati
mi	PRON	ja
je	AUX	jesam
uvek	ADV	uvek
podstreka	NOUN	podstrek
_	PUNCT	_
da	SCONJ	da
idem	VERB	ići
dalje	ADV	dalje
i	CCONJ	i
da	SCONJ	da
se	PART	se
borim	VERB	boriti
_	PUNCT	_
u	ADP	u
ovom	DET	ovaj
životu	NOUN	život
koji	DET	koji
nije	AUX	jesam
nimalo	ADV	nimalo
jednostavan	ADJ	jednostavan
i	CCONJ	i
uvek	ADV	uvek
sam	AUX	jesam
imala	VERB	imati
pomoć	NOUN	pomoć
od	ADP	od
njega	PRON	on
.	PUNCT	.
Eto	PART	eto
_	PUNCT	_
_	PUNCT	_
eto	PART	eto
to	DET	taj
je	AUX	jesam
to	DET	taj
.	PUNCT	.
[	PUNCT	[
Da	ADV	Da
li	PART	li
imate	VERB	imati
braću	NOUN	braća
ili	CCONJ	ili
sestre	NOUN	sestra
?	PUNCT	?
]	PUNCT	]
Imam	VERB	imati
,	PUNCT	,
imam	VERB	imati
jednu	NUM	jedan
rođenu	ADJ	rođenu
sestru	NOUN	sestra
,	PUNCT	,
jedanaest	NUM	jedanaest
i	CCONJ	i
po	ADV	po
,	PUNCT	,
skoro	ADV	skoro
dvanaest	NUM	dvanaest
godina	NOUN	godina
je	AUX	jesam
razlika	NOUN	razlika
između	ADP	između
nas	PRON	mi
.	PUNCT	.
_	PUNCT	_
Ahm	ADJ	Ahm
nažalost	ADV	nažalost
različito	ADV	različito
gledamo	VERB	gledati
stvari	NOUN	stvar
u	ADP	u
životu	NOUN	život
.	PUNCT	.
Ona	PRON	ona
je	AUX	jesam
,	PUNCT	,
ona	PRON	ona
se	PART	se
rodila	VERB	roditi
u	ADP	u
inostranstvu	NOUN	inostranstvo
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
se	PART	se
rodila	VERB	roditi
ovde	ADV	ovde
,	PUNCT	,
ona	PRON	ona
je	AUX	jesam
je	AUX	jesam
želela	VERB	želeti
da	SCONJ	da
ostane	VERB	ostati
tamo	ADV	tamo
gde	SCONJ	gde
se	PART	se
rodila	VERB	roditi
u	ADP	u
Italiji	PROPN	Italija
tako	ADV	tako
da	SCONJ	da
ovaj	DET	ovaj
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
Mm	PROPN	Mm
ona	PRON	ona
ima	VERB	imati
neki	DET	neki
,	PUNCT	,
eto	PART	eto
pošto	SCONJ	pošto
je	AUX	jesam
mlađa	ADJ	mlad
od	ADP	od
mene	PRON	ja
i	CCONJ	i
ovaj	DET	ovaj
lekar	NOUN	lekar
je	AUX	jesam
po	ADP	po
struci	NOUN	struka
i	CCONJ	i
tako	ADV	tako
to	DET	taj
,	PUNCT	,
ona	PRON	ona
ima	VERB	imati
tamo	ADV	tamo
nekih	ADV	nekih
većih	ADJ	velik
obaveza	NOUN	obaveza
od	ADP	od
mene	PRON	ja
koja	DET	koji
sada	ADV	sada
nisam	AUX	jesam
u	ADP	u
nekim	DET	neki
obavezama	NOUN	obaveza
tako	ADV	tako
da	SCONJ	da
ona	PRON	ona
mene	PRON	ja
stalno	ADV	stalno
zove	VERB	zvati
da	SCONJ	da
pođem	VERB	poći
tamo	ADV	tamo
,	PUNCT	,
a	ADV	a
ja	PRON	ja
sad	ADV	sad
ovde	ADV	ovde
ne	PART	ne
mogu	VERB	moći
da	SCONJ	da
ostavim	VERB	ostaviti
svog	DET	svoj
kućnog	ADJ	kućni
ljubimca	NOUN	ljubimac
.	PUNCT	.
Eto	PART	eto
tako	ADV	tako
,	PUNCT	,
uvek	ADV	uvek
se	PART	se
nešto	ADV	nešto
nađe	VERB	naći
,	PUNCT	,
ali	CCONJ	ali
čujemo	VERB	čuti
se	PART	se
,	PUNCT	,
mislim	VERB	misliti
ono	PRON	ono
imamo	VERB	imati
u	ADP	u
stvari	NOUN	stvar
jedan	NUM	jedan
korektan	ADJ	korektan
odnos	NOUN	odnos
.	PUNCT	.
Ona	PRON	ona
je	AUX	jesam
,	PUNCT	,
eto	PART	eto
i	CCONJ	i
to	DET	taj
.	PUNCT	.
Eto	PART	eto
,	PUNCT	,
ona	PRON	ona
poštuje	VERB	poštovati
moju	DET	moj
odluku	NOUN	odluka
u	ADP	u
životu	NOUN	život
,	PUNCT	,
ja	PRON	ja
poštujem	VERB	poštovati
njenu	DET	njen
odluku	NOUN	odluka
u	ADP	u
životu	NOUN	život
,	PUNCT	,
a	ADV	a
da	SCONJ	da
smo	AUX	jesam
sestre	NOUN	sestra
to	DET	taj
mislim	VERB	misliti
ja	PRON	ja
znam	VERB	znati
da	SCONJ	da
kad	SCONJ	kad
bi	AUX	biti
meni	PRON	ja
nešto	PRON	nešto
baš	PART	baš
ono	PRON	ono
zatrebalo	VERB	zatrebati
i	CCONJ	i
sve	DET	sav
znam	VERB	znati
da	SCONJ	da
uvek	ADV	uvek
bih	AUX	biti
mogla	VERB	moći
na	ADP	na
njena	DET	njen
vrata	NOUN	vrata
da	SCONJ	da
ovaj	DET	ovaj
zakucam	VERB	zakucati
,	PUNCT	,
a	ADV	a
i	CCONJ	i
ona	PRON	ona
isto	ADV	isto
kod	ADP	kod
mene	PRON	ja
,	PUNCT	,
i	CCONJ	i
ona	PRON	ona
isto	ADV	isto
na	ADP	na
moja	DET	moj
vrata	NOUN	vrata
tako	ADV	tako
da	SCONJ	da
ono	PRON	ono
.	PUNCT	.
A	X	A
imam	VERB	imati
,	PUNCT	,
volim	VERB	voliti
da	SCONJ	da
se	PART	se
družim	VERB	družiti
sa	ADP	sa
,	PUNCT	,
moja	DET	moj
mama	NOUN	mam
je	AUX	jesam
isto	ADV	isto
bila	AUX	biti
jedinica	NOUN	jedinica
,	PUNCT	,
al	CCONJ	al
'	PUNCT	'
moj	DET	moj
otac	NOUN	otac
nije	AUX	jesam
bio	AUX	biti
jedinac	NOUN	jedinac
,	PUNCT	,
on	PRON	on
je	AUX	jesam
bio	AUX	biti
najstariji	ADJ	star
od	ADP	od
troje	NUM	troje
braće	NOUN	braća
i	CCONJ	i
jednu	NUM	jedan
sestru	NOUN	sestra
,	PUNCT	,
njih	PRON	ona
je	AUX	jesam
bilo	AUX	biti
četvoro	NUM	četvoro
.	PUNCT	.
I	CCONJ	i
ovaj	DET	ovaj
tako	ADV	tako
da	SCONJ	da
družim	VERB	družiti
se	PART	se
sa	ADP	sa
braćom	NOUN	braća
,	PUNCT	,
sa	ADP	sa
ovaj	DET	ovaj
decom	NOUN	deca
od	ADP	od
mojih	DET	moj
stričeva	NOUN	stric
i	CCONJ	i
od	ADP	od
moje	DET	moj
ovo	DET	ovaj
,	PUNCT	,
pa	CCONJ	pa
ono	PRON	ono
eto	PART	eto
sa	ADP	sa
njima	PRON	ona
se	PART	se
.	PUNCT	.
Eto	PART	eto
oni	PRON	oni
mi	PRON	ja
dođu	VERB	doći
,	PUNCT	,
njih	PRON	ona
računam	VERB	računati
isto	ADV	isto
k	ADP	k
'	PUNCT	'
o	INTJ	o
rođene	VERB	roditi
i	CCONJ	i
sa	ADP	sa
njima	PRON	ona
sam	AUX	jesam
u	ADP	u
jako	ADV	jako
lepim	ADJ	lep
odnosima	NOUN	odnos
i	CCONJ	i
kad	SCONJ	kad
imamo	VERB	imati
prilike	NOUN	prilika
ovaj	DET	ovaj
mi	PRON	ja
se	PART	se
čujemo	VERB	čuti
i	CCONJ	i
vidimo	VERB	viditi
iako	SCONJ	iako
smo	AUX	jesam
svi	DET	sav
tako	ADV	tako
malo	ADV	malo
rastureni	VERB	rasturiti
po	ADP	po
svetu	NOUN	svet
,	PUNCT	,
mislim	VERB	misliti
nismo	AUX	jesam
svi	DET	sav
na	ADP	na
jednom	NUM	jedan
mestu	NOUN	mesto
,	PUNCT	,
tako	ADV	tako
da	SCONJ	da
ono	PRON	ono
.	PUNCT	.
Ali	CCONJ	ali
uglavnom	ADV	uglavnom
,	PUNCT	,
eto	PART	eto
,	PUNCT	,
eto	PART	eto
tako	ADV	tako
,	PUNCT	,
volim	VERB	voliti
ja	PRON	ja
njih	PRON	ona
i	CCONJ	i
ja	PRON	ja
znam	VERB	znati
da	SCONJ	da
vole	VERB	voliti
oni	PRON	oni
mene	PRON	ja
i	CCONJ	i
tako	ADV	tako
,	PUNCT	,
to	DET	taj
je	AUX	jesam
to	DET	taj
.	PUNCT	.
[	PUNCT	[
Kako	ADV	kako
volite	VERB	voliti
da	SCONJ	da
provodite	VERB	provoditi
slobodno	ADJ	slobodan
vreme	NOUN	vreme
?	PUNCT	?
Je	AUX	jesam
l	X	l
'	PUNCT	'
imate	VERB	imati
neki	DET	neki
hobi	NOUN	hobi
?	PUNCT	?
]	PUNCT	]
Pa	X	Pa
ne	PART	ne
,	PUNCT	,
volim	VERB	voliti
slobodno	ADJ	slobodan
vreme	NOUN	vreme
,	PUNCT	,
volim	VERB	voliti
dosta	ADV	dosta
da	SCONJ	da
,	PUNCT	,
eto	PART	eto
volim	VERB	voliti
da	SCONJ	da
sam	AUX	jesam
u	ADP	u
prirodi	NOUN	priroda
,	PUNCT	,
volim	VERB	voliti
dosta	ADV	dosta
da	SCONJ	da
šetam	VERB	šetati
.	PUNCT	.
Ne	PART	ne
znam	VERB	znati
,	PUNCT	,
eto	PART	eto
tako	ADV	tako
,	PUNCT	,
eto	PART	eto
volim	VERB	voliti
da	SCONJ	da
mogu	VERB	moći
da	SCONJ	da
posetim	VERB	posetiti
neka	DET	neki
mesta	NOUN	mesto
_	PUNCT	_
_	PUNCT	_
šta	PRON	šta
ja	PRON	ja
znam	VERB	znati
,	PUNCT	,
volim	VERB	voliti
da	SCONJ	da
čitam	VERB	čitati
,	PUNCT	,
volim	VERB	voliti
i	CCONJ	i
da	SCONJ	da
slušam	VERB	slušati
muziku	NOUN	muzika
.	PUNCT	.
Ne	PART	ne
volim	VERB	voliti
,	PUNCT	,
ne	PART	ne
volim	VERB	voliti
preterano	ADJ	preteran
neku	DET	neki
gužvu	NOUN	gužva
,	PUNCT	,
ali	CCONJ	ali
to	DET	taj
ne	PART	ne
znači	VERB	značiti
da	SCONJ	da
ne	PART	ne
volim	VERB	voliti
,	PUNCT	,
kako	SCONJ	kako
se	PART	se
zove	VERB	zvati
,	PUNCT	,
da	SCONJ	da
ne	PART	ne
volim	VERB	voliti
da	SCONJ	da
odem	VERB	otići
na	ADP	na
neku	DET	neki
utakmicu	NOUN	utakmica
,	PUNCT	,
da	SCONJ	da
navijam	VERB	navijati
eto	PART	eto
.	PUNCT	.
Ne	PART	ne
,	PUNCT	,
da	SCONJ	da
navijam	VERB	navijati
za	ADP	za
ljude	NOUN	ljudi
koji	DET	koji
su	AUX	jesam
svoje	DET	svoj
vreme	NOUN	vreme
utrošili	VERB	utrošiti
,	PUNCT	,
volim	VERB	voliti
da	SCONJ	da
idem	VERB	ići
da	SCONJ	da
gledam	VERB	gledati
eto	PART	eto
na	ADP	na
primer	NOUN	primer
,	PUNCT	,
ne	PART	ne
samo	PART	samo
mmm	PROPN	mmm
,	PUNCT	,
volim	VERB	voliti
i	CCONJ	i
na	ADP	na
individualne	ADJ	individualan
sportove	NOUN	sport
da	SCONJ	da
idem	VERB	ići
,	PUNCT	,
da	SCONJ	da
gledam	VERB	gledati
kad	SCONJ	kad
ima	VERB	imati
neki	DET	neki
miting	NOUN	miting
u	ADP	u
atletici	NOUN	atletika
i	CCONJ	i
tako	ADV	tako
to	DET	taj
i	CCONJ	i
da	SCONJ	da
bodrim	VERB	bodriti
ljude	NOUN	ljudi
koji	DET	koji
su	AUX	jesam
koji	DET	koji
su	AUX	jesam
eto	PART	eto
svoje	DET	svoj
vreme	NOUN	vreme
proveli	VERB	provesti
trenirajući	VERB	trenirati
sve	ADV	sve
i	CCONJ	i
eto	PART	eto
da	SCONJ	da
postignu	VERB	postignuti
neki	DET	neki
rezultat	NOUN	rezultat
ili	CCONJ	ili
nešto	ADV	nešto
da	SCONJ	da
im	PRON	ona
se	PART	se
ostvari	VERB	ostvariti
.	PUNCT	.
Eto	PART	eto
volim	VERB	voliti
njih	PRON	ona
da	SCONJ	da
bodrim	VERB	bodriti
i	CCONJ	i
to	DET	taj
mi	PRON	ja
je	AUX	jesam
isto	ADV	isto
neka	DET	neki
tako	ADV	tako
neko	PRON	neko
ne	PART	ne
znam	VERB	znati
,	PUNCT	,
da	SCONJ	da
provodim	VERB	provoditi
svoje	DET	svoj
slobodno	ADJ	slobodan
vreme	NOUN	vreme
,	PUNCT	,
eto	PART	eto
tako	ADV	tako
,	PUNCT	,
eto	PART	eto
i	CCONJ	i
mmm	PROPN	mmm
_	PUNCT	_
_	PUNCT	_
da	SCONJ	da
odem	VERB	otići
tako	ADV	tako
na	ADP	na
neku	DET	neki
utakmicu	NOUN	utakmica
,	PUNCT	,
na	ADP	na
neki	DET	neki
tako	ADV	tako
,	PUNCT	,
eto	PART	eto
.	PUNCT	.
Na	ADP	na
maraton	NOUN	maraton
kad	SCONJ	kad
je	AUX	jesam
,	PUNCT	,
iako	SCONJ	iako
ne	PART	ne
mogu	VERB	moći
da	SCONJ	da
ga	PRON	on
istrčim	VERB	istrčati
,	PUNCT	,
ali	CCONJ	ali
ovaj	DET	ovaj
na	ADP	na
maratom	NOUN	maratom
da	SCONJ	da
odem	VERB	otići
,	PUNCT	,
eto	PART	eto
tako	ADV	tako
i	CCONJ	i
kad	SCONJ	kad
je	AUX	jesam
neka	DET	neki
humanitarna	ADJ	humanitaran
akcija	NOUN	akcija
i	CCONJ	i
to	DET	taj
,	PUNCT	,
sad	ADV	sad
će	AUX	hteti
da	SCONJ	da
se	PART	se
otvori	VERB	otvoriti
,	PUNCT	,
mislim	VERB	misliti
da	SCONJ	da
je	AUX	jesam
već	PART	već
i	CCONJ	i
otvorena	VERB	otvoriti
svake	DET	svaki
godine	NOUN	godina
posetim	VERB	posetiti
i	CCONJ	i
tako	ADV	tako
malo	ADV	malo
ovaj	DET	ovaj
ova	DET	ovaj
Ulica	PROPN	Ulica
otvorenog	ADJ	otvoren
srca	NOUN	srce
i	CCONJ	i
to	DET	taj
.	PUNCT	.
Eto	PART	eto
tako	ADV	tako
neke	DET	neki
,	PUNCT	,
tako	ADV	tako
neke	DET	neki
ovaj	DET	ovaj
,	PUNCT	,
eto	PART	eto
tako	ADV	tako
,	PUNCT	,
ako	SCONJ	ako
mogu	VERB	moći
,	PUNCT	,
eto	PART	eto
šta	PRON	šta
ja	PRON	ja
znam	VERB	znati
,	PUNCT	,
eto	PART	eto
tako	ADV	tako
,	PUNCT	,
ako	SCONJ	ako
mogu	VERB	moći
neki	DET	neki
svoj	DET	sav
minimum	NOUN	minimum
,	PUNCT	,
minimalni	ADJ	minimalan
doprinos	NOUN	doprinos
u	ADP	u
nečemu	PRON	nešta
da	SCONJ	da
ovaj	DET	ovaj
,	PUNCT	,
eto	PART	eto
da	SCONJ	da
dam	VERB	dati
,	PUNCT	,
eto	PART	eto
to	DET	taj
je	AUX	jesam
to	DET	taj
.	PUNCT	.
To	DET	taj
eto	PART	eto
tako	ADV	tako
isto	ADV	isto
volim	VERB	voliti
svoje	DET	svoj
vreme	NOUN	vreme
da	SCONJ	da
provedem	VERB	provesti
kako	SCONJ	kako
se	PART	se
zove	VERB	zvati
.	PUNCT	.
I	CCONJ	i
u	ADP	u
tome	DET	taj
isto	ADV	isto
i	CCONJ	i
suprug	NOUN	suprug
podržava	VERB	podržavati
jer	SCONJ	jer
smo	AUX	jesam
i	CCONJ	i
u	ADP	u
tome	DET	taj
isto	ADV	isto
slični	ADJ	sličan
.	PUNCT	.
On	PRON	on
bi	AUX	biti
svakome	PRON	svako
da	SCONJ	da
pomogne	VERB	pomoći
,	PUNCT	,
al	CCONJ	al
'	PUNCT	'
dobro	ADV	dobro
.	PUNCT	.
I	CCONJ	i
tako	ADV	tako
.	PUNCT	.
[	PUNCT	[
Je	NOUN	Je
l	X	l
'	PUNCT	'
volite	VERB	voliti
da	SCONJ	da
gledate	VERB	gledati
filmove	NOUN	film
?	PUNCT	?
]	PUNCT	]
Uff	PROPN	Uff
kako	ADV	kako
da	SCONJ	da
ne	PART	ne
.	PUNCT	.
To	DET	taj
je	AUX	jesam
,	PUNCT	,
a	ADV	a
samo	PART	samo
ne	PART	ne
volim	VERB	voliti
ove	DET	ovaj
filmove	NOUN	film
današnje	ADJ	današnji
što	SCONJ	što
se	PART	se
daju	VERB	dati
.	PUNCT	.
Mislim	VERB	misliti
ne	PART	ne
volim	VERB	voliti
,	PUNCT	,
više	ADV	više
volim	VERB	voliti
da	SCONJ	da
gledam	VERB	gledati
,	PUNCT	,
volim	VERB	voliti
da	SCONJ	da
gledam	VERB	gledati
komedije	NOUN	komedija
,	PUNCT	,
volim	VERB	voliti
i	CCONJ	i
dobru	ADJ	dobar
dramu	NOUN	drama
da	SCONJ	da
vidim	VERB	viditi
,	PUNCT	,
i	CCONJ	i
dobre	ADJ	dobar
trilere	NOUN	triler
e	CCONJ	e
to	DET	taj
,	PUNCT	,
ali	CCONJ	ali
mm	X	mm
ne	PART	ne
volim	VERB	voliti
,	PUNCT	,
ne	PART	ne
volim	VERB	voliti
ovaj	DET	ovaj
,	PUNCT	,
volim	VERB	voliti
i	CCONJ	i
neki	DET	neki
ovaj	DET	ovaj
da	SCONJ	da
vidim	VERB	viditi
i	CCONJ	i
neki	DET	neki
al	CCONJ	al
'	PUNCT	'
da	SCONJ	da
je	AUX	jesam
to	DET	taj
poučan	ADJ	poučan
ne	PART	ne
ovaj	DET	ovaj
neki	DET	neki
bezvezni	ADJ	bezvezan
"	PUNCT	"
Ratovi	ADJ	Ratovi
zvezda	NOUN	zvezda
"	PUNCT	"
,	PUNCT	,
mislim	VERB	misliti
"	PUNCT	"
Ratovi	ADJ	Ratovi
zvezda	NOUN	zvezda
"	PUNCT	"
,	PUNCT	,
mislim	VERB	misliti
ono	PRON	ono
možda	PART	možda
i	CCONJ	i
postoji	VERB	postojati
sve	DET	sav
to	DET	taj
,	PUNCT	,
ali	CCONJ	ali
ne	PART	ne
znam	VERB	znati
.	PUNCT	.
Volim	VERB	voliti
,	PUNCT	,
volim	VERB	voliti
na	ADP	na
primer	NOUN	primer
film	NOUN	film
neki	DET	neki
što	PRON	što
je	AUX	jesam
,	PUNCT	,
nije	AUX	jesam
skorije	ADJ	skori
,	PUNCT	,
nisam	AUX	jesam
baš	PART	baš
skorije	ADJ	skori
gledala	VERB	gledati
,	PUNCT	,
a	ADV	a
na	ADP	na
primer	NOUN	primer
film	NOUN	film
koji	DET	koji
se	PART	se
napravi	VERB	napraviti
o	ADP	o
nekom	DET	neki
velikanu	NOUN	velikan
,	PUNCT	,
na	ADP	na
primer	NOUN	primer
kao	CCONJ	kao
o	ADP	o
Makedonskom	ADJ	makedonski
Velikom	PROPN	Velika
Aleksandru	PROPN	Aleksandar
i	CCONJ	i
tako	ADV	tako
film	NOUN	film
o	ADP	o
nekoj	DET	neki
ličnosti	NOUN	ličnost
i	CCONJ	i
tu	ADV	tu
ima	VERB	imati
svačega	PRON	svašta
:	PUNCT	:
ima	VERB	imati
i	CCONJ	i
njegovih	DET	njegov
osvajanja	NOUN	osvajanje
,	PUNCT	,
i	CCONJ	i
rata	NOUN	rat
,	PUNCT	,
i	CCONJ	i
kako	SCONJ	kako
se	PART	se
on	PRON	on
odgojio	VERB	odgojiti
i	CCONJ	i
sve	DET	sav
to	DET	taj
.	PUNCT	.
E	CCONJ	e
tako	ADV	tako
neki	DET	neki
,	PUNCT	,
tako	ADV	tako
ono	PRON	ono
,	PUNCT	,
a	ADJ	a
filmovi	NOUN	film
ne	PART	ne
znam	VERB	znati
.	PUNCT	.
Iskreno	ADV	iskreno
ovo	DET	ovaj
"	PUNCT	"
Ratovi	ADJ	Ratovi
zvezda	NOUN	zvezda
"	PUNCT	"
i	CCONJ	i
tako	ADV	tako
neki	DET	neki
filmovi	NOUN	film
,	PUNCT	,
mogu	VERB	moći
da	SCONJ	da
pogledam	VERB	pogledati
,	PUNCT	,
nisam	AUX	jesam
ja	PRON	ja
nisam	AUX	jesam
neki	DET	neki
probirač	NOUN	probirač
bezveze	VERB	bezveze
,	PUNCT	,
a	ADV	a
mogu	VERB	moći
da	SCONJ	da
pogledam	VERB	pogledati
,	PUNCT	,
ali	CCONJ	ali
ti	DET	taj
filmovi	NOUN	film
me	PRON	ja
čisto	ADV	čisto
mislim	VERB	misliti
ono	PRON	ono
,	PUNCT	,
ostavljaju	VERB	ostavljati
me	PRON	ja
praznom	ADJ	prazan
.	PUNCT	.
Ne	PART	ne
znam	VERB	znati
šta	PRON	šta
je	AUX	jesam
hteo	AUX	hteti
,	PUNCT	,
što	SCONJ	što
ja	PRON	ja
kažem	VERB	kazati
suprugu	NOUN	supruga
,	PUNCT	,
šta	PRON	šta
je	AUX	jesam
pisac	NOUN	pisac
hteo	AUX	hteti
da	SCONJ	da
kaže	VERB	kazati
na	ADP	na
kraju	NOUN	kraj
.	PUNCT	.
Ili	CCONJ	ili
sam	AUX	jesam
ja	PRON	ja
možda	PART	možda
malo	ADV	malo
otupela	VERB	otupeti
,	PUNCT	,
mislim	VERB	misliti
ono	PRON	ono
,	PUNCT	,
ili	CCONJ	ili
.	PUNCT	.
.	PUNCT	.
Ne	PART	ne
znam	VERB	znati
,	PUNCT	,
ne	PART	ne
mora	VERB	morati
svaka	DET	svaki
knjiga	NOUN	knjiga
ili	CCONJ	ili
film	NOUN	film
ili	CCONJ	ili
ne	PART	ne
znam	VERB	znati
neki	DET	neki
događaj	NOUN	događaj
da	SCONJ	da
bude	AUX	biti
zašto	ADV	zašto
i	CCONJ	i
da	SCONJ	da
ostavi	VERB	ostaviti
nešto	ADV	nešto
,	PUNCT	,
ali	CCONJ	ali
makar	PART	makar
da	SCONJ	da
se	PART	se
ja	PRON	ja
u	ADP	u
tih	DET	taj
sat	NOUN	sat
i	CCONJ	i
po	ADP	po
,	PUNCT	,
dva	NUM	dva
što	SCONJ	što
gledam	VERB	gledati
taj	DET	taj
film	NOUN	film
mislim	VERB	misliti
ono	PRON	ono
ja	PRON	ja
posle	ADP	posle
toga	DET	taj
,	PUNCT	,
ne	PART	ne
znam	VERB	znati
,	PUNCT	,
da	SCONJ	da
se	PART	se
lepo	ADV	lepo
osećam	VERB	osećati
.	PUNCT	.
Ali	CCONJ	ali
ja	PRON	ja
ako	SCONJ	ako
se	PART	se
posle	ADP	posle
toga	DET	taj
mislim	VERB	misliti
ono	PRON	ono
ne	PART	ne
osećam	VERB	osećati
,	PUNCT	,
indiferentno	ADJ	indiferentan
,	PUNCT	,
gledala	VERB	gledati
ga	PRON	on
,	PUNCT	,
ne	PART	ne
gledala	VERB	gledati
,	PUNCT	,
osećam	VERB	osećati
se	PART	se
ono	PRON	ono
prazno	ADJ	prazan
onda	SCONJ	onda
mi	PRON	ja
stvarno	ADV	stvarno
mm	X	mm
.	PUNCT	.
Ne	PART	ne
kažem	VERB	kazati
da	SCONJ	da
uvek	ADV	uvek
mora	VERB	morati
da	SCONJ	da
bude	AUX	biti
ono	PRON	ono
vau	INTJ	vau
i	CCONJ	i
da	SCONJ	da
ja	PRON	ja
mislim	VERB	misliti
to	DET	taj
pamtim	VERB	pamtiti
za	ADP	za
,	PUNCT	,
mislim	VERB	misliti
ono	PRON	ono
,	PUNCT	,
ali	CCONJ	ali
makar	SCONJ	makar
nešto	PRON	nešto
.	PUNCT	.
Ali	CCONJ	ali
ja	PRON	ja
ako	SCONJ	ako
posle	ADP	posle
deset	NUM	deset
dana	NOUN	dan
k	ADP	k
'	PUNCT	'
o	ADP	o
da	SCONJ	da
nisam	AUX	jesam
gledala	VERB	gledati
taj	DET	taj
film	NOUN	film
,	PUNCT	,
mislim	VERB	misliti
neku	DET	neki
predstavu	NOUN	predstava
ili	CCONJ	ili
film	NOUN	film
ili	CCONJ	ili
nešto	ADV	nešto
,	PUNCT	,
mislim	VERB	misliti
onda	SCONJ	onda
je	AUX	jesam
možda	PART	možda
nešto	ADV	nešto
u	ADP	u
meni	PRON	ja
što	SCONJ	što
nije	AUX	jesam
u	ADP	u
redu	NOUN	red
.	PUNCT	.
[	PUNCT	[
Volite	PROPN	Volite
li	PART	li
da	SCONJ	da
posećujete	VERB	posećivati
pozorište	NOUN	pozorište
?	PUNCT	?
]	PUNCT	]
Da	ADV	Da
,	PUNCT	,
isto	ADV	isto
to	DET	taj
.	PUNCT	.
Am	NOUN	am
ranije	ADV	ranije
sam	AUX	jesam
sa	ADP	sa
mojom	DET	moj
sestrom	NOUN	sestra
ono	DET	onaj
.	PUNCT	.
Ona	PRON	ona
kupi	VERB	kupiti
ceo	ADJ	ceo
red	NOUN	red
onih	DET	onaj
karata	NOUN	karta
,	PUNCT	,
imam	VERB	imati
sestru	NOUN	sestra
od	ADP	od
ujaka	NOUN	ujak
i	CCONJ	i
ona	PRON	ona
kupi	VERB	kupiti
ono	PRON	ono
,	PUNCT	,
ona	PRON	ona
je	AUX	jesam
dosta	ADV	dosta
mlađa	ADJ	mlad
od	ADP	od
mene	PRON	ja
,	PUNCT	,
ona	PRON	ona
je	AUX	jesam
pedagog	NOUN	pedagog
,	PUNCT	,
radi	VERB	raditi
u	ADP	u
vrtiću	NOUN	vrtić
,	PUNCT	,
šezdeset	NUM	šezdeset
i	CCONJ	i
osmo	ADJ	osmi
godište	NOUN	godište
i	CCONJ	i
ona	PRON	ona
je	AUX	jesam
ta	DET	taj
najmlađa	ADJ	mlad
u	ADP	u
familiji	NOUN	familija
,	PUNCT	,
ono	DET	onaj
inače	PART	inače
ta	DET	taj
mi	PRON	ja
je	AUX	jesam
najbliža	ADJ	bliz
od	ADP	od
cele	ADJ	ceo
familije	NOUN	familija
tu	ADV	tu
ovaj	DET	ovaj
u	ADP	u
Beogradu	PROPN	Beograd
,	PUNCT	,
tu	DET	taj
smo	AUX	jesam
maltene	ADV	maltene
u	ADP	u
istom	ADJ	isti
kraju	NOUN	kraj
.	PUNCT	.
I	CCONJ	i
ona	PRON	ona
kupi	VERB	kupiti
ono	DET	onaj
ceo	ADJ	ceo
ovako	ADV	ovako
bonove	NOUN	bon
i	CCONJ	i
mi	PRON	ja
tako	ADV	tako
idemo	VERB	ići
.	PUNCT	.
Pošto	ADV	Pošto
njen	DET	njen
suprug	NOUN	suprug
baš	PART	baš
onako	ADV	onako
i	CCONJ	i
nije	AUX	jesam
neki	DET	neki
ljubitelj	NOUN	ljubitelj
pozorišta	NOUN	pozorište
,	PUNCT	,
Vlada	PROPN	Vlada
moj	DET	moj
bi	AUX	biti
iš	INTJ	iš
'	PUNCT	'
o	INTJ	o
,	PUNCT	,
ali	CCONJ	ali
on	PRON	on
kaže	VERB	kazati
što	SCONJ	što
,	PUNCT	,
što	SCONJ	što
dva	NUM	dva
puta	NOUN	put
,	PUNCT	,
gledali	VERB	gledati
smo	AUX	jesam
to	DET	taj
prošli	VERB	proći
put	NOUN	put
,	PUNCT	,
nema	VERB	nemati
veze	NOUN	veza
što	SCONJ	što
smo	AUX	jesam
gledali	VERB	gledati
mislim	VERB	misliti
ono	PRON	ono
.	PUNCT	.
Meni	PRON	ja
,	PUNCT	,
kad	SCONJ	kad
mi	PRON	ja
se	PART	se
nešto	ADV	nešto
sviđa	VERB	sviđati
ja	PRON	ja
mogu	VERB	moći
i	CCONJ	i
petsto	NUM	petsto
puta	ADV	puta
da	SCONJ	da
gledam	VERB	gledati
,	PUNCT	,
iste	ADJ	isti
glumce	NOUN	glumac
,	PUNCT	,
isto	ADV	isto
,	PUNCT	,
znam	VERB	znati
,	PUNCT	,
istu	ADJ	isti
predstavu	NOUN	predstava
i	CCONJ	i
sve	DET	sav
to	DET	taj
.	PUNCT	.
Volim	VERB	voliti
,	PUNCT	,
volim	VERB	voliti
da	SCONJ	da
idem	VERB	ići
u	ADP	u
pozorište	NOUN	pozorište
mislim	VERB	misliti
ono	PRON	ono
.	PUNCT	.
U	ADP	u
bioskop	NOUN	bioskop
sada	ADV	sada
malo	ADV	malo
ređe	ADV	ređe
,	PUNCT	,
malo	ADV	malo
,	PUNCT	,
kako	ADV	kako
da	SCONJ	da
kažem	VERB	kazati
,	PUNCT	,
ne	PART	ne
idem	VERB	ići
tako	ADV	tako
k	ADP	k
'	PUNCT	'
o	ADP	o
ranije	ADV	ranije
,	PUNCT	,
sad	ADV	sad
i	CCONJ	i
mnogo	ADV	mnogo
malo	ADV	malo
tih	DET	taj
bioskopa	NOUN	bioskop
ima	VERB	imati
da	SCONJ	da
ja	PRON	ja
znam	VERB	znati
.	PUNCT	.
Mislim	VERB	misliti
ono	PRON	ono
,	PUNCT	,
ima	VERB	imati
u	ADP	u
nekim	DET	neki
tržnim	ADJ	tržni
centrima	NOUN	centar
i	CCONJ	i
sve	DET	sav
,	PUNCT	,
a	VERB	a
ovi	DET	ovaj
bioskopi	NOUN	bioskop
što	SCONJ	što
su	AUX	jesam
ranije	ADV	ranije
bili	AUX	biti
kad	SCONJ	kad
sam	AUX	jesam
ja	PRON	ja
bila	AUX	biti
u	ADP	u
vašim	DET	vaš
godinama	NOUN	godina
.	PUNCT	.
Onda	ADV	onda
je	AUX	jesam
bilo	AUX	biti
počev	VERB	početi
od	ADP	od
Slavije	PROPN	Slavija
do	ADP	do
Terazija	PROPN	Terazije
i	CCONJ	i
do	ADP	do
ono	PRON	ono
,	PUNCT	,
to	DET	taj
je	AUX	jesam
bilo	AUX	biti
,	PUNCT	,
na	ADP	na
svaki	DET	svaki
ćošak	NOUN	ćošak
je	AUX	jesam
bio	AUX	biti
po	ADP	po
bioskop	NOUN	bioskop
.	PUNCT	.
Sad	ADV	sad
su	AUX	jesam
ti	DET	taj
bioskopi	NOUN	bioskop
zatvoreni	VERB	zatvoriti
,	PUNCT	,
umrtvljeni	VERB	umrtviti
tako	ADV	tako
da	SCONJ	da
.	PUNCT	.
Sad	ADV	sad
su	AUX	jesam
neki	DET	neki
3	NUM	3
D	NOUN	D
,	PUNCT	,
ne	PART	ne
znam	VERB	znati
ovo	DET	ovaj
,	PUNCT	,
treba	VERB	trebati
da	SCONJ	da
staviš	VERB	staviti
ono	DET	onaj
.	PUNCT	.
Ja	PRON	ja
ne	PART	ne
trpim	VERB	trpiti
ništa	PRON	ništa
na	ADP	na
glavi	NOUN	glava
da	SCONJ	da
imam	VERB	imati
,	PUNCT	,
kako	SCONJ	kako
se	PART	se
zove	VERB	zvati
,	PUNCT	,
i	CCONJ	i
tako	ADV	tako
da	SCONJ	da
sad	ADV	sad
slabije	ADJ	slab
,	PUNCT	,
al	CCONJ	al
'	PUNCT	'
dosta	ADV	dosta
ima	VERB	imati
ovih	DET	ovaj
kanala	NOUN	kanal
i	CCONJ	i
ovo	DET	ovaj
na	ADP	na
televiziji	NOUN	televizija
pa	CCONJ	pa
onda	SCONJ	onda
eto	PART	eto
tako	ADV	tako
.	PUNCT	.
Sad	ADV	sad
su	AUX	jesam
u	ADP	u
modi	NOUN	moda
kućni	ADJ	kućni
bioskopi	NOUN	bioskop
za	ADP	za
matorce	NOUN	matorac
preko	ADP	preko
šezdeset	NUM	šezdeset
godina	NOUN	godina
.	PUNCT	.
[	PUNCT	[
Da	ADV	Da
li	PART	li
biste	AUX	biti
još	ADV	još
nešto	ADV	nešto
dodatno	ADV	dodatno
ispričali	VERB	ispričati
o	ADP	o
sebi	PRON	sebe
?	PUNCT	?
]	PUNCT	]
Pa	X	Pa
ne	PART	ne
znam	VERB	znati
eto	PART	eto
,	PUNCT	,
šta	PRON	šta
znam	VERB	znati
.	PUNCT	.
Neko	PRON	neko
me	PRON	ja
smatra	VERB	smatrati
,	PUNCT	,
neko	PRON	neko
me	PRON	ja
vidi	VERB	viditi
kao	CCONJ	kao
am	NOUN	am
,	PUNCT	,
neko	DET	neki
me	PRON	ja
vidi	VERB	viditi
kao	CCONJ	kao
malo	ADV	malo
ne	PART	ne
znam	VERB	znati
,	PUNCT	,
malo	ADV	malo
čudnu	ADJ	čudan
osobu	NOUN	osoba
,	PUNCT	,
malo	ADV	malo
možda	PART	možda
neki	DET	neki
put	NOUN	put
neljubaznu	ADJ	neljubazan
,	PUNCT	,
arogantnu	ADJ	arogantan
,	PUNCT	,
punu	ADJ	pun
sebe	PRON	sebe
,	PUNCT	,
a	ADV	a
u	ADP	u
suštini	NOUN	suština
ja	PRON	ja
ne	PART	ne
znam	VERB	znati
da	SCONJ	da
li	PART	li
neki	DET	neki
put	NOUN	put
odajem	VERB	odavati
takav	DET	takav
neki	DET	neki
pristup	NOUN	pristup
,	PUNCT	,
ahm	ADJ	ahm
ali	CCONJ	ali
u	ADP	u
principu	NOUN	princip
mislim	VERB	misliti
da	SCONJ	da
sam	AUX	jesam
jako	ADV	jako
komunikativna	ADJ	komunikativan
,	PUNCT	,
da	SCONJ	da
sam	AUX	jesam
druželjubiva	ADJ	druželjubiv
,	PUNCT	,
da	SCONJ	da
mogu	VERB	moći
sa	ADP	sa
klincima	NOUN	klinac
od	ADP	od
mesec	NOUN	mesec
i	CCONJ	i
po	ADP	po
dana	NOUN	dan
do	ADP	do
onih	DET	onaj
što	SCONJ	što
imaju	VERB	imati
devedeset	NUM	devedeset
i	CCONJ	i
kusur	NOUN	kusur
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
Lako	PROPN	Laka
se	PART	se
prilagodim	VERB	prilagoditi
svuda	ADV	svuda
,	PUNCT	,
ne	PART	ne
znam	VERB	znati
šta	PRON	šta
bih	AUX	biti
još	ADV	još
rekla	VERB	reći
.	PUNCT	.
Eto	PART	eto
tako	ADV	tako
,	PUNCT	,
volim	VERB	voliti
,	PUNCT	,
ne	PART	ne
volim	VERB	voliti
da	SCONJ	da
budem	AUX	biti
u	ADP	u
centru	NOUN	centar
pažnje	NOUN	pažnja
,	PUNCT	,
ali	CCONJ	ali
volim	VERB	voliti
da	SCONJ	da
budem	AUX	biti
,	PUNCT	,
pošto	SCONJ	pošto
sam	AUX	jesam
eto	PART	eto
još	ADV	još
živa	ADJ	živ
,	PUNCT	,
volim	VERB	voliti
da	SCONJ	da
budem	AUX	biti
deo	NOUN	deo
ovog	DET	ovaj
,	PUNCT	,
deo	NOUN	deo
ovog	DET	ovaj
života	NOUN	život
,	PUNCT	,
mislim	VERB	misliti
deo	NOUN	deo
ovog	DET	ovaj
grada	NOUN	grad
,	PUNCT	,
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
Eto	PART	eto
volim	VERB	voliti
,	PUNCT	,
eto	PART	eto
volim	VERB	voliti
sa	ADP	sa
sa	ADP	sa
ljudima	NOUN	ljudi
da	SCONJ	da
razmenim	VERB	razmeniti
mišljenja	NOUN	mišljenje
,	PUNCT	,
samo	PART	samo
ne	PART	ne
volim	VERB	voliti
,	PUNCT	,
kod	ADP	kod
ljudi	NOUN	ljudi
me	PRON	ja
najviše	ADV	najviše
nervira	VERB	nervirati
bezobzirnost	NOUN	bezobzirnost
,	PUNCT	,
kad	SCONJ	kad
neko	PRON	neko
nema	VERB	nemati
nimalo	ADV	nimalo
obzira	NOUN	obzir
_	PUNCT	_
za	ADP	za
tvoj	DET	tvoj
neki	DET	neki
osećaj	NOUN	osećaj
,	PUNCT	,
a	ADV	a
ne	PART	ne
možemo	VERB	moći
svi	DET	sav
nešto	PRON	nešto
isto	ADV	isto
da	SCONJ	da
volimo	VERB	voliti
.	PUNCT	.
Ali	CCONJ	ali
na	ADP	na
primer	NOUN	primer
,	PUNCT	,
zimus	ADV	zimus
ja	PRON	ja
sam	AUX	jesam
pomagala	VERB	pomagati
životinjama	NOUN	životinja
,	PUNCT	,
ovim	DET	ovaj
psima	NOUN	pas
lutalicama	NOUN	lutalica
i	CCONJ	i
naišla	VERB	naići
sam	AUX	jesam
na	ADP	na
ljude	NOUN	ljudi
koji	DET	koji
su	AUX	jesam
uh	INTJ	uh
bili	AUX	biti
jako	ADV	jako
jako	ADV	jako
grubi	VERB	grubeti
prema	ADP	prema
meni	PRON	ja
i	CCONJ	i
koji	DET	koji
to	DET	taj
nisu	AUX	jesam
shvatali	VERB	shvatati
kao	CCONJ	kao
eto	PART	eto
nego	CCONJ	nego
kao	ADV	kao
pff	NOUN	pff
mislim	VERB	misliti
ono	PRON	ono
.	PUNCT	.
Ja	PRON	ja
ugrožavam	VERB	ugrožavati
,	PUNCT	,
kao	CCONJ	kao
amm	NOUN	amm
mm	X	mm
ugrožavam	VERB	ugrožavati
decu	NOUN	deca
,	PUNCT	,
starije	ADJ	star
osobe	NOUN	osoba
zato	ADV	zato
što	SCONJ	što
ti	DET	taj
psi	NOUN	pas
lutalice	NOUN	lutalica
su	AUX	jesam
kao	ADV	kao
agresivne	ADJ	agresivan
životinje	NOUN	životinja
i	CCONJ	i
nisu	AUX	jesam
,	PUNCT	,
ne	PART	ne
znam	VERB	znati
,	PUNCT	,
i	CCONJ	i
nisu	AUX	jesam
kao	ADV	kao
za	ADP	za
grad	NOUN	grad
,	PUNCT	,
nisu	AUX	jesam
za	ADP	za
ovo	DET	ovaj
društvo	NOUN	društvo
,	PUNCT	,
mislim	VERB	misliti
,	PUNCT	,
ne	PART	ne
znam	VERB	znati
kako	ADV	kako
.	PUNCT	.
Ja	PRON	ja
kažem	VERB	kazati
ne	PART	ne
moramo	VERB	morati
svi	DET	sav
isto	ADV	isto
da	SCONJ	da
ono	PRON	ono
,	PUNCT	,
ali	CCONJ	ali
ja	PRON	ja
nikad	ADV	nikad
ne	PART	ne
bih	AUX	biti
,	PUNCT	,
ne	PART	ne
bih	AUX	biti
tako	ADV	tako
na	ADP	na
primer	NOUN	primer
ono	DET	onaj
,	PUNCT	,
ne	PART	ne
bih	AUX	biti
tako	ADV	tako
reagovala	VERB	reagovati
.	PUNCT	.
Ako	SCONJ	ako
nešto	PRON	nešto
ne	PART	ne
volim	VERB	voliti
i	CCONJ	i
ako	SCONJ	ako
nešto	PRON	nešto
ono	PRON	ono
ne	PART	ne
bih	AUX	biti
drugoga	ADJ	drugi
osuđivala	VERB	osuđivati
i	CCONJ	i
ono	PRON	ono
,	PUNCT	,
mislim	VERB	misliti
ne	PART	ne
bih	AUX	biti
tako	ADV	tako
bila	AUX	biti
drska	ADJ	drzak
i	CCONJ	i
to	DET	taj
.	PUNCT	.
Eto	PART	eto
to	DET	taj
me	PRON	ja
kod	ADP	kod
ljudi	NOUN	ljudi
,	PUNCT	,
eto	PART	eto
ne	PART	ne
volim	VERB	voliti
to	DET	taj
tako	ADV	tako
i	CCONJ	i
to	DET	taj
je	AUX	jesam
to	DET	taj
.	PUNCT	.
Moj	DET	moj
tata	NOUN	tat
nama	PRON	mi
nije	AUX	jesam
ništa	ADV	ništa
branio	VERB	braniti
,	PUNCT	,
mi	PRON	ja
smo	AUX	jesam
uvek	ADV	uvek
imali	VERB	imati
neku	DET	neki
mačku	NOUN	mačak
kući	NOUN	kuća
,	PUNCT	,
imali	VERB	imati
smo	AUX	jesam
ribice	NOUN	ribica
,	PUNCT	,
Kaća	PROPN	Kać
je	AUX	jesam
volela	VERB	voleti
kornjače	NOUN	kornjača
i	CCONJ	i
tako	ADV	tako
to	DET	taj
ovaj	DET	ovaj
,	PUNCT	,
ali	CCONJ	ali
ja	PRON	ja
sam	AUX	jesam
isto	ADV	isto
kad	SCONJ	kad
se	PART	se
udala	VERB	udati
,	PUNCT	,
i	CCONJ	i
ovaj	DET	ovaj
ono	PRON	ono
,	PUNCT	,
onda	ADV	onda
sam	AUX	jesam
imala	VERB	imati
sam	DET	sam
papagaja	NOUN	papagaj
i	CCONJ	i
tog	DET	taj
papagaja	NOUN	papagaj
kako	SCONJ	kako
ti	PRON	ti
imaš	VERB	imati
Beloga	ADJ	beo
vodila	VERB	voditi
svuda	ADV	svuda
i	CCONJ	i
nosila	VERB	nositi
svuda	ADV	svuda
.	PUNCT	.
Imao	VERB	imati
je	AUX	jesam
svoj	DET	sav
ovako	ADV	ovako
jedan	NUM	jedan
mali	ADJ	mali
,	PUNCT	,
imao	VERB	imati
je	AUX	jesam
veliki	ADJ	velik
kavez	NOUN	kavez
,	PUNCT	,
to	DET	taj
je	AUX	jesam
bio	AUX	biti
,	PUNCT	,
tu	ADV	tu
mu	PRON	on
je	AUX	jesam
bila	AUX	biti
kuća	NOUN	kuća
.	PUNCT	.
A	X	A
mali	ADJ	mali
putni	ADJ	putni
kavez	NOUN	kavez
ono	DET	onaj
.	PUNCT	.
On	PRON	on
je	AUX	jesam
čak	PART	čak
putovao	VERB	putovati
,	PUNCT	,
Ćipi	PROPN	Ćipi
se	PART	se
zvao	VERB	zvati
,	PUNCT	,
on	PRON	on
je	AUX	jesam
putovao	VERB	putovati
i	CCONJ	i
dugo	ADV	dugo
je	AUX	jesam
dugo	ADV	dugo
živeo	VERB	živeti
,	PUNCT	,
pa	CCONJ	pa
možda	PART	možda
je	AUX	jesam
s	ADP	s
nama	PRON	mi
bio	AUX	biti
nekih	ADV	nekih
desetak	ADV	desetak
,	PUNCT	,
možda	PART	možda
sad	ADV	sad
ne	PART	ne
znam	VERB	znati
,	PUNCT	,
sad	ADV	sad
možda	PART	možda
bih	AUX	biti
preterala	VERB	preterati
,	PUNCT	,
ali	CCONJ	ali
sigurno	ADV	sigurno
je	AUX	jesam
jedno	ADV	jedno
više	ADV	više
od	ADP	od
pet	NUM	pet
-	PUNCT	-
šest	NUM	šest
godina	NOUN	godina
bio	AUX	biti
ovaj	DET	ovaj
sa	ADP	sa
nama	PRON	mi
.	PUNCT	.
To	DET	taj
je	AUX	jesam
odavno	ADV	odavno
bilo	AUX	biti
.	PUNCT	.
Zato	ADV	zato
sam	AUX	jesam
možda	PART	možda
malo	ADV	malo
,	PUNCT	,
neću	AUX	hteti
da	SCONJ	da
podatke	NOUN	podatak
dajem	VERB	davati
.	PUNCT	.
Ali	CCONJ	ali
on	PRON	on
,	PUNCT	,
on	PRON	on
je	AUX	jesam
čak	PART	čak
leteo	VERB	leteti
sa	ADP	sa
nama	PRON	mi
,	PUNCT	,
i	CCONJ	i
leteo	VERB	leteti
mmm	ADJ	mmm
Split	PROPN	Split
-	PUNCT	-
Beograd	PROPN	Beograd
.	PUNCT	.
Kad	SCONJ	kad
smo	AUX	jesam
iz	ADP	iz
Splita	PROPN	Split
ili	CCONJ	ili
iz	ADP	iz
Pule	PROPN	Pul
išli	VERB	ići
dole	ADV	dole
u	ADP	u
Herceg	PROPN	Herceg
Novog	ADJ	nov
kod	ADP	kod
mojih	DET	moj
kad	SCONJ	kad
su	AUX	jesam
oni	PRON	oni
bili	AUX	biti
preko	ADP	preko
leta	NOUN	let
ovaj	DET	ovaj
u	ADP	u
Crnoj	ADJ	crn
Gori	PROPN	Gori
i	CCONJ	i
to	DET	taj
,	PUNCT	,
ja	PRON	ja
pff	NOUN	pff
obavezno	ADV	obavezno
smo	AUX	jesam
ga	PRON	on
vodili	VERB	voditi
i	CCONJ	i
to	DET	taj
mislim	VERB	misliti
ono	PRON	ono
.	PUNCT	.
I	CCONJ	i
tata	NOUN	tat
kaže	VERB	kazati
"	PUNCT	"
Bože	PROPN	Boža
,	PUNCT	,
opet	ADV	opet
ste	AUX	jesam
,	PUNCT	,
opet	ADV	opet
jadnu	ADJ	jadan
pticu	NOUN	ptica
mrcvarite	VERB	mrcvariti
"	PUNCT	"
,	PUNCT	,
i	CCONJ	i
to	DET	taj
,	PUNCT	,
tako	ADV	tako
da	SCONJ	da
ono	PRON	ono
.	PUNCT	.
A	X	A
samoj	DET	sam
sebi	PRON	sebe
sam	AUX	jesam
isto	ADV	isto
to	DET	taj
ovaj	DET	ovaj
,	PUNCT	,
nisam	AUX	jesam
tako	ADV	tako
htela	AUX	hteti
jer	SCONJ	jer
nisam	AUX	jesam
htela	AUX	hteti
da	SCONJ	da
pati	VERB	patiti
i	CCONJ	i
da	SCONJ	da
ono	PRON	ono
.	PUNCT	.
Dosta	ADV	dosta
smo	AUX	jesam
bili	AUX	biti
,	PUNCT	,
dosta	ADV	dosta
smo	AUX	jesam
putovali	VERB	putovati
,	PUNCT	,
i	CCONJ	i
dosta	ADV	dosta
smo	AUX	jesam
isto	ADV	isto
,	PUNCT	,
Vlada	PROPN	Vlada
je	AUX	jesam
dosta	ADV	dosta
,	PUNCT	,
takav	DET	takav
mu	PRON	on
je	AUX	jesam
bio	AUX	biti
posao	VERB	posati
,	PUNCT	,
ovaj	DET	ovaj
dosta	ADV	dosta
je	AUX	jesam
bio	AUX	biti
,	PUNCT	,
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
bio	AUX	biti
je	AUX	jesam
dosta	ADV	dosta
odsutan	ADJ	odsutan
od	ADP	od
kuće	NOUN	kuća
,	PUNCT	,
po	ADP	po
službenoj	ADJ	služben
dužnosti	NOUN	dužnost
.	PUNCT	.
Kad	SCONJ	kad
je	AUX	jesam
on	PRON	on
bio	AUX	biti
odsutan	ADJ	odsutan
od	ADP	od
kuće	NOUN	kuća
onda	SCONJ	onda
sam	AUX	jesam
se	PART	se
ja	PRON	ja
isto	ADV	isto
malo	ADV	malo
zadržavala	VERB	zadržavati
,	PUNCT	,
ako	SCONJ	ako
bih	AUX	biti
išla	VERB	ići
kod	ADP	kod
ove	DET	ovaj
rodbine	NOUN	rodbina
,	PUNCT	,
kod	ADP	kod
one	DET	onaj
rodbine	NOUN	rodbina
,	PUNCT	,
kod	ADP	kod
roditelja	NOUN	roditelj
,	PUNCT	,
kod	ADP	kod
mmm	NOUN	mmm
,	PUNCT	,
kod	ADP	kod
svekra	NOUN	svekar
i	CCONJ	i
kod	ADP	kod
svekrve	NOUN	svekrva
i	CCONJ	i
tako	ADV	tako
dalje	ADV	dalje
i	CCONJ	i
onda	SCONJ	onda
mi	PRON	ja
je	AUX	jesam
bilo	AUX	biti
,	PUNCT	,
znaš	VERB	znati
,	PUNCT	,
to	DET	taj
hocu	NOUN	hodac
da	SCONJ	da
ti	PRON	ti
kažem	VERB	kazati
,	PUNCT	,
ne	PART	ne
može	VERB	moći
se	PART	se
,	PUNCT	,
nisam	AUX	jesam
htela	AUX	hteti
nekome	PRON	neko
neprilike	NOUN	neprilika
da	SCONJ	da
stvaram	VERB	stvarati
.	PUNCT	.
A	X	A
sada	ADV	sada
pošto	SCONJ	pošto
mnogo	ADV	mnogo
manje	ADV	manje
i	CCONJ	i
tako	ADV	tako
putujemo	VERB	putovati
i	CCONJ	i
kući	ADV	kući
smo	AUX	jesam
obadvoje	NUM	obadvoje
i	CCONJ	i
tako	ADV	tako
,	PUNCT	,
e	CCONJ	e
onda	ADV	onda
je	AUX	jesam
zato	ADV	zato
Ela	PROPN	Ela
sa	ADP	sa
nama	PRON	mi
i	CCONJ	i
zato	ADV	zato
je	AUX	jesam
ono	PRON	ono
.	PUNCT	.
Dobro	ADV	dobro
ti	PRON	ti
ne	PART	ne
moraš	VERB	morati
da	SCONJ	da
čekaš	VERB	čekati
da	SCONJ	da
odeš	VERB	otići
u	ADP	u
penziju	NOUN	penzija
,	PUNCT	,
ali	CCONJ	ali
mislim	VERB	misliti
možeš	VERB	moći
,	PUNCT	,
kako	SCONJ	kako
se	PART	se
zove	VERB	zvati
,	PUNCT	,
da	SCONJ	da
izabereš	VERB	izabrati
danas	ADV	danas
-	PUNCT	-
sutra	ADV	sutra
,	PUNCT	,
kad	SCONJ	kad
budeš	AUX	biti
bila	AUX	biti
svoj	DET	sav
na	ADP	na
svome	DET	svoj
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
Možeš	ADV	Možeš
sad	ADV	sad
,	PUNCT	,
mmm	NOUN	mmm
.	PUNCT	.
Vremena	NOUN	vreme
se	PART	se
menjaju	VERB	menjati
i	CCONJ	i
imaju	VERB	imati
eto	PART	eto
,	PUNCT	,
imaju	VERB	imati
te	PRON	ti
privatne	ADJ	privatan
i	CCONJ	i
ono	DET	onaj
ustanove	NOUN	ustanova
i	CCONJ	i
hosteli	NOUN	hostel
za	ADP	za
životinje	NOUN	životinja
i	CCONJ	i
baš	PART	baš
ako	SCONJ	ako
ne	PART	ne
možes	VERB	možes
da	SCONJ	da
poneseš	VERB	poneti
,	PUNCT	,
da	SCONJ	da
povedeš	VERB	povesti
tu	DET	taj
kucu	NOUN	kuca
sa	ADP	sa
sobom	PRON	sebe
jer	SCONJ	jer
ga	PRON	on
ne	PART	ne
primaju	VERB	primati
u	ADP	u
nekoj	DET	neki
ustanovi	VERB	ustanoviti
ovo	DET	ovaj
-	PUNCT	-
ono	PRON	ono
,	PUNCT	,
mada	SCONJ	mada
sada	ADV	sada
vidim	VERB	viditi
da	SCONJ	da
eto	PART	eto
po	ADP	po
Evropi	PROPN	Evropa
dosta	ADV	dosta
dosta	ADV	dosta
imaju	VERB	imati
hoteli	NOUN	hotel
i	CCONJ	i
-	PUNCT	-
i	CCONJ	i
restorani	NOUN	restoran
,	PUNCT	,
ti	PRON	ti
možeš	VERB	moći
,	PUNCT	,
k	ADP	k
'	PUNCT	'
o	INTJ	o
što	SCONJ	što
imaju	VERB	imati
restorani	NOUN	restoran
za	ADP	za
pušače	NOUN	pušač
i	CCONJ	i
nepušače	NOUN	nepušač
,	PUNCT	,
tako	ADV	tako
ima	VERB	imati
i	CCONJ	i
restorani	NOUN	restoran
koji	DET	koji
primaju	VERB	primati
kućne	ADJ	kućni
ljubimce	NOUN	ljubimac
i	CCONJ	i
restorani	NOUN	restoran
koji	DET	koji
ne	PART	ne
primaju	VERB	primati
kućne	ADJ	kućni
ljubimce	NOUN	ljubimac
.	PUNCT	.
Tako	ADV	tako
da	SCONJ	da
sada	ADV	sada
ja	PRON	ja
mislim	VERB	misliti
da	SCONJ	da
se	PART	se
malo	ADV	malo
horizonti	NOUN	horizont
se	PART	se
više	ADV	više
otvaraju	VERB	otvarati
,	PUNCT	,
i	CCONJ	i
ovaj	DET	ovaj
,	PUNCT	,
tako	ADV	tako
da	SCONJ	da
sada	ADV	sada
nije	AUX	jesam
neki	DET	neki
problem	NOUN	problem
imati	VERB	imati
kućnog	ADJ	kućni
ljbimca	NOUN	ljbimca
.	PUNCT	.
Pogotovu	ADV	pogotovu
ako	SCONJ	ako
izabereš	VERB	izabrati
ne	PART	ne
znam	VERB	znati
nekog	DET	neki
maltezera	NOUN	maltezera
ili	CCONJ	ili
tako	ADV	tako
nešto	ADV	nešto
da	SCONJ	da
nije	AUX	jesam
k	ADP	k
'	PUNCT	'
o	ADP	o
moja	DET	moj
naša	DET	naš
Elica	PROPN	Elica
.	PUNCT	.
Naša	PROPN	Naša
Elica	PROPN	Elica
je	AUX	jesam
baš	PART	baš
ono	PRON	ono
mislim	VERB	misliti
.	PUNCT	.
Znaš	ADV	Znaš
kako	ADV	kako
,	PUNCT	,
pa	CCONJ	pa
ona	PRON	ona
je	AUX	jesam
eto	PART	eto
dužine	NOUN	dužina
ovih	DET	ovaj
vrata	NOUN	vrata
,	PUNCT	,
a	ADV	a
tako	ADV	tako
je	AUX	jesam
duga	ADJ	dug
,	PUNCT	,
a	ADV	a
ima	VERB	imati
,	PUNCT	,
tako	ADV	tako
tu	ADV	tu
je	AUX	jesam
te	DET	taj
visine	NOUN	visina
,	PUNCT	,
mislim	VERB	misliti
ono	PRON	ono
.	PUNCT	.
I	CCONJ	i
baš	PART	baš
nije	AUX	jesam
ono	DET	onaj
da	SCONJ	da
se	PART	se
uzme	VERB	uzeti
u	ADP	u
naručje	NOUN	naručje
,	PUNCT	,
da	SCONJ	da
se	PART	se
nosi	VERB	nositi
.	PUNCT	.
Ja	PRON	ja
ne	PART	ne
znam	VERB	znati
kad	SCONJ	kad
bi	AUX	biti
putovali	VERB	putovati
avionom	NOUN	avion
.	PUNCT	.
Moj	DET	moj
stric	NOUN	stric
,	PUNCT	,
jedini	ADJ	jedini
tatin	ADJ	tatin
preživeli	ADJ	preživeo
burazer	NOUN	burazer
,	PUNCT	,
ovaj	DET	ovaj
,	PUNCT	,
ima	VERB	imati
devedeset	NUM	devedeset
godina	NOUN	godina
,	PUNCT	,
on	PRON	on
je	AUX	jesam
obožavao	VERB	obožavati
,	PUNCT	,
on	PRON	on
isto	ADV	isto
obožava	VERB	obožavati
.	PUNCT	.
On	PRON	on
ima	VERB	imati
sad	ADV	sad
onoga	DET	onaj
maloga	ADJ	mali
ovako	ADV	ovako
,	PUNCT	,
a	ADV	a
dok	SCONJ	dok
je	AUX	jesam
bila	AUX	biti
baba	NOUN	baba
nam	PRON	mi
pokojna	ADJ	pokojni
živa	ADJ	živ
,	PUNCT	,
njihova	DET	njihov
majka	NOUN	majka
,	PUNCT	,
moja	DET	moj
baba	NOUN	baba
,	PUNCT	,
ovaj	DET	ovaj
,	PUNCT	,
on	PRON	on
je	AUX	jesam
njojzi	PRON	ona
poklonio	VERB	pokloniti
pudlicu	NOUN	pudlica
.	PUNCT	.
I	CCONJ	i
ta	DET	taj
pudlica	NOUN	pudlica
,	PUNCT	,
a	ADV	a
i	CCONJ	i
on	PRON	on
je	AUX	jesam
svojevremeno	ADV	svojevremeno
pošto	SCONJ	pošto
je	AUX	jesam
živeo	VERB	živeti
ovaj	DET	ovaj
dosta	ADV	dosta
u	ADP	u
Nemačkoj	PROPN	Nemačka
,	PUNCT	,
tamo	ADV	tamo
je	AUX	jesam
imao	VERB	imati
ovaj	DET	ovaj
svoju	DET	svoj
praksu	NOUN	praksa
jer	SCONJ	jer
je	AUX	jesam
stomatolog	NOUN	stomatolog
,	PUNCT	,
bio	AUX	biti
,	PUNCT	,
sad	ADV	sad
je	AUX	jesam
penzionisan	VERB	penzionisati
,	PUNCT	,
i	CCONJ	i
Malena	PROPN	Malen
se	PART	se
zvala	VERB	zvati
pudlica	NOUN	pudlica
.	PUNCT	.
Ona	PRON	ona
je	AUX	jesam
imala	VERB	imati
onaj	DET	onaj
boks	NOUN	boks
i	CCONJ	i
ona	PRON	ona
je	AUX	jesam
putovala	VERB	putovati
avionom	NOUN	avion
,	PUNCT	,
a	ADV	a
ja	PRON	ja
ne	PART	ne
znam	VERB	znati
za	ADP	za
našu	DET	naš
Elu	PROPN	Ela
da	SCONJ	da
l	X	l
'	PUNCT	'
bi	AUX	biti
postojao	VERB	postojati
toliki	DET	toliki
.	PUNCT	.
Ja	PRON	ja
sad	ADV	sad
gledam	VERB	gledati
,	PUNCT	,
hteli	AUX	hteti
smo	AUX	jesam
da	SCONJ	da
joj	PRON	ona
kupimo	VERB	kupiti
za	ADP	za
rođendan	NOUN	rođendan
i	CCONJ	i
to	DET	taj
,	PUNCT	,
sad	ADV	sad
mislim	VERB	misliti
ono	PRON	ono
,	PUNCT	,
ili	CCONJ	ili
sad	ADV	sad
kad	SCONJ	kad
je	AUX	jesam
hladno	ADV	hladno
ono	PRON	ono
,	PUNCT	,
neki	DET	neki
kao	ADV	kao
kaputić	NOUN	kaputić
i	CCONJ	i
sve	DET	sav
.	PUNCT	.
Nema	VERB	nemati
za	ADP	za
nju	PRON	ona
,	PUNCT	,
nema	VERB	nemati
.	PUNCT	.
Njojzi	PRON	ona
teba	ADJ	teba
nešto	ADV	nešto
ovoliko	ADV	ovoliko
,	PUNCT	,
a	ADV	a
to	DET	taj
je	AUX	jesam
sve	ADV	sve
nešto	ADV	nešto
ovako	ADV	ovako
,	PUNCT	,
neki	DET	neki
kaputići	NOUN	kaputić
to	DET	taj
samo	PART	samo
ona	PRON	ona
do	ADP	do
ovde	ADV	ovde
da	SCONJ	da
navuče	VERB	navući
,	PUNCT	,
mislim	VERB	misliti
ono	PRON	ono
.	PUNCT	.
Tako	ADV	tako
da	SCONJ	da
,	PUNCT	,
eto	PART	eto
mislim	VERB	misliti
ono	PRON	ono
da	SCONJ	da
samo	PART	samo
nekog	DET	neki
kućnog	ADJ	kućni
ljubimca	NOUN	ljubimac
koji	DET	koji
može	VERB	moći
eto	PART	eto
tako	ADV	tako
da	SCONJ	da
putuje	VERB	putovati
,	PUNCT	,
da	SCONJ	da
možeš	VERB	moći
ono	PRON	ono
.	PUNCT	.
A	X	A
mislim	VERB	misliti
koga	PRON	ko
god	PART	god
voliš	VERB	voliti
ti	PRON	ti
ćeš	AUX	hteti
da	SCONJ	da
izabereš	VERB	izabrati
,	PUNCT	,
mislim	VERB	misliti
neću	AUX	hteti
da	SCONJ	da
,	PUNCT	,
eto	PART	eto
tako	ADV	tako
,	PUNCT	,
neće	AUX	hteti
da	SCONJ	da
ti	PRON	ti
predstavlja	VERB	predstavljati
problem	NOUN	problem
bezveze	NOUN	bezveze
,	PUNCT	,
eto	PART	eto
tako	ADV	tako
.	PUNCT	.
