[	PUNCT	[
Kako	ADV	kako
se	PART	se
zovete	VERB	zvati
?	PUNCT	?
]	PUNCT	]
Gizela	PROPN	Gizela
Štefanac	PROPN	Štefanac
.	PUNCT	.
Emm	PROPN	Emm
još	PART	još
meseca	NOUN	mesec
dana	NOUN	dan
,	PUNCT	,
onda	ADV	onda
devedeset	NUM	devedeset
godina	NOUN	godina
.	PUNCT	.
U	ADP	u
Manhajnu	PROPN	Manhajnu
.	PUNCT	.
U	ADP	u
Nemačkoj	PROPN	Nemačka
.	PUNCT	.
Molim	VERB	moliti
?	PUNCT	?
Aha	INTJ	aha
!	PUNCT	!
Tamo	ADV	tamo
sam	AUX	jesam
,	PUNCT	,
posle	ADV	posle
sam	AUX	jesam
živela	VERB	živeti
u	ADP	u
Vijena	PROPN	Vijena
,	PUNCT	,
i	CCONJ	i
onda	ADV	onda
Lajpcig	PROPN	Lajpcig
.	PUNCT	.
Tako	ADV	tako
smo	AUX	jesam
,	PUNCT	,
bili	AUX	biti
u	ADP	u
različito	ADJ	različit
mesto	NOUN	mesto
.	PUNCT	.
Bilo	AUX	biti
je	AUX	jesam
vreme	NOUN	vreme
rat	NOUN	rat
,	PUNCT	,
i	CCONJ	i
tako	ADV	tako
moj	DET	moj
otac	NOUN	otac
je	AUX	jesam
bio	AUX	biti
direktor	NOUN	direktor
u	ADP	u
nekih	DET	neki
fabrika	NOUN	fabrika
koja	DET	koji
proizvodi	VERB	proizvoditi
benzin	NOUN	benzin
,	PUNCT	,
i	CCONJ	i
onda	ADV	onda
,	PUNCT	,
ponekad	ADV	ponekad
,	PUNCT	,
er	ADV	er
,	PUNCT	,
srušio	VERB	srušiti
cela	ADJ	ceo
fabrika	NOUN	fabrika
od	ADP	od
bomba	NOUN	bomba
i	CCONJ	i
onda	SCONJ	onda
smo	AUX	jesam
morali	VERB	morati
na	ADP	na
drugi	ADJ	drugi
mesto	NOUN	mesto
i	CCONJ	i
tako	ADV	tako
bilo	AUX	biti
,	PUNCT	,
prilično	ADV	prilično
,	PUNCT	,
burno	ADV	burno
.	PUNCT	.
Tako	ADV	tako
da	SCONJ	da
sam	AUX	jesam
u	ADP	u
Nemačkoj	PROPN	Nemačka
nekoliko	ADV	nekoliko
mesto	NOUN	mesto
sam	AUX	jesam
bila	AUX	biti
.	PUNCT	.
Molim	VERB	moliti
?	PUNCT	?
Em	CCONJ	em
šezdeset	NUM	šezdeset
-	PUNCT	-
i	CCONJ	i
devete	ADJ	deveti
.	PUNCT	.
Tako	ADV	tako
,	PUNCT	,
uopšte	ADV	uopšte
više	ADV	više
ne	PART	ne
znam	VERB	znati
.	PUNCT	.
Otprilike	ADV	otprilike
.	PUNCT	.
Nije	AUX	jesam
to	DET	taj
hronično	ADJ	hroničan
bolest	NOUN	bolest
nego	CCONJ	nego
to	DET	taj
je	AUX	jesam
,	PUNCT	,
uh	INTJ	uh
,	PUNCT	,
jednostavno	ADV	jednostavno
,	PUNCT	,
starost	NOUN	starost
,	PUNCT	,
i	CCONJ	i
istrošenost	NOUN	istrošenost
organizam	NOUN	organizam
.	PUNCT	.
Ja	PRON	ja
ne	PART	ne
više	ADV	više
,	PUNCT	,
mogu	VERB	moći
da	SCONJ	da
hodam	VERB	hodati
da	SCONJ	da
ustanem	VERB	ustati
,	PUNCT	,
da	SCONJ	da
stanem	VERB	stati
na	ADP	na
noge	NOUN	noga
,	PUNCT	,
ležim	VERB	ležati
samo	PART	samo
u	ADP	u
krevetu	NOUN	krevet
.	PUNCT	.
Isključivo	ADJ	Isključivo
.	PUNCT	.
Nemam	VERB	nemati
.	PUNCT	.
Imala	VERB	imati
sam	AUX	jesam
puno	ADJ	pun
bolesti	NOUN	bolest
,	PUNCT	,
bila	AUX	biti
sam	AUX	jesam
često	ADV	često
u	ADP	u
neki	DET	neki
bolnica	NOUN	bolnica
,	PUNCT	,
ali	CCONJ	ali
različite	ADJ	različit
.	PUNCT	.
Sad	ADV	sad
lekove	NOUN	lek
koje	DET	koji
,	PUNCT	,
sad	ADV	sad
nema	ADJ	nem
veze	NOUN	veza
sad	ADV	sad
to	DET	taj
zbog	ADP	zbog
čega	PRON	šta
.	PUNCT	.
Em	CCONJ	em
,	PUNCT	,
sa	ADP	sa
bubrezi	NOUN	bubreg
,	PUNCT	,
onda	ADV	onda
operacija	NOUN	operacija
i	CCONJ	i
ginekološki	ADJ	ginekološki
operacija	NOUN	operacija
,	PUNCT	,
onda	ADV	onda
operacija	NOUN	operacija
na	ADP	na
noge	NOUN	noga
,	PUNCT	,
i	CCONJ	i
operacija	NOUN	operacija
posle	ADP	posle
porođaja	NOUN	porođaj
,	PUNCT	,
zbog	ADP	zbog
greške	NOUN	greška
koje	DET	koji
ovaj	DET	ovaj
ginekolog	NOUN	ginekolog
nije	AUX	jesam
predvideo	VERB	predvideti
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
Bila	AUX	biti
sam	AUX	jesam
često	ADV	često
u	ADP	u
bolnica	NOUN	bolnica
.	PUNCT	.
I	CCONJ	i
često	ADV	često
bolesna	ADJ	bolestan
.	PUNCT	.
Ali	CCONJ	ali
opet	ADV	opet
sam	AUX	jesam
se	PART	se
dobro	ADV	dobro
oporavljala	VERB	oporavljati
,	PUNCT	,
očigledno	ADV	očigledno
ne	PART	ne
bih	AUX	biti
bila	AUX	biti
devedeset	NUM	devedeset
godina	NOUN	godina
.	PUNCT	.
Kako	ADV	kako
?	PUNCT	?
Ne	PART	ne
,	PUNCT	,
ja	PRON	ja
imam	VERB	imati
srpski	ADJ	srpski
državljanstvo	NOUN	državljanstvo
.	PUNCT	.
Ipak	PART	ipak
bih	AUX	biti
ja	PRON	ja
rekla	VERB	reći
Nemica	PROPN	Nemica
.	PUNCT	.
Engleski	ADJ	engleski
znam	VERB	znati
vrlo	ADV	vrlo
dobro	ADV	dobro
,	PUNCT	,
malo	ADV	malo
francuski	ADJ	francuski
,	PUNCT	,
malo	ADV	malo
srpski	ADJ	srpski
,	PUNCT	,
i	CCONJ	i
gotovo	ADV	gotovo
.	PUNCT	.
Latinski	ADJ	latinski
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
bila	AUX	biti
na	ADP	na
klinički	ADJ	klinički
i	CCONJ	i
faklutet	NOUN	faklutet
,	PUNCT	,
i	CCONJ	i
na	ADP	na
fizički	ADJ	fizički
,	PUNCT	,
ali	CCONJ	ali
nisam	AUX	jesam
diplomrala	VERB	diplomrala
,	PUNCT	,
zbog	ADP	zbog
sam	DET	sam
se	PART	se
udala	VERB	udati
.	PUNCT	.
I	CCONJ	i
onda	ADV	onda
sam	AUX	jesam
mislila	VERB	misliti
,	PUNCT	,
e	INTJ	e
,	PUNCT	,
ne	PART	ne
treba	VERB	trebati
.	PUNCT	.
Onda	SCONJ	onda
sam	AUX	jesam
samo	PART	samo
radila	VERB	raditi
kao	ADV	kao
asistent	NOUN	asistent
.	PUNCT	.
Violinu	NOUN	violina
.	PUNCT	.
[	PUNCT	[
Ja	NOUN	Ja
to	DET	taj
nisam	AUX	jesam
znala	VERB	znati
]	PUNCT	]
.	PUNCT	.
Ne	PART	ne
?	PUNCT	?
Eto	PART	eto
,	PUNCT	,
deset	NUM	deset
godina	NOUN	godina
sam	AUX	jesam
imala	VERB	imati
časovi	NOUN	čas
.	PUNCT	.
Bila	AUX	biti
sam	AUX	jesam
iz	ADP	iz
takva	DET	takav
porodica	NOUN	porodica
.	PUNCT	.
Otac	NOUN	otac
,	PUNCT	,
već	PART	već
deda	NOUN	ded
,	PUNCT	,
i	CCONJ	i
onda	ADV	onda
mama	NOUN	mam
i	CCONJ	i
svi	DET	sav
rođaci	NOUN	rođaka
,	PUNCT	,
i	CCONJ	i
tako	ADV	tako
smo	AUX	jesam
ceo	ADJ	ceo
orkestar	NOUN	orkestar
,	PUNCT	,
svaki	DET	svaki
je	AUX	jesam
birao	VERB	birati
neki	DET	neki
drugi	ADJ	drugi
instrument	NOUN	instrument
.	PUNCT	.
Desna	ADJ	desni
.	PUNCT	.
Mnogo	ADV	mnogo
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
čitala	VERB	čitati
,	PUNCT	,
puno	ADV	puno
,	PUNCT	,
puno	ADV	puno
nekad	ADV	nekad
,	PUNCT	,
sad	ADV	sad
ne	PART	ne
mogu	VERB	moći
zbog	ADP	zbog
oči	NOUN	oči
,	PUNCT	,
ali	CCONJ	ali
u	ADP	u
život	NOUN	život
sam	AUX	jesam
puno	ADJ	pun
,	PUNCT	,
puno	ADJ	pun
knjiga	NOUN	knjiga
kupila	VERB	kupiti
i	CCONJ	i
čitala	VERB	čitati
.	PUNCT	.
I	CCONJ	i
,	PUNCT	,
i	CCONJ	i
imali	VERB	imati
smo	AUX	jesam
kod	ADP	kod
kuće	NOUN	kuća
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Molim	VERB	moliti
?	PUNCT	?
Vrlo	ADV	vrlo
je	AUX	jesam
teško	ADV	teško
sad	ADV	sad
,	PUNCT	,
da	SCONJ	da
odlučim	VERB	odlučiti
,	PUNCT	,
kad	SCONJ	kad
se	PART	se
setim	VERB	setiti
klasika	NOUN	klasika
ne	PART	ne
,	PUNCT	,
više	ADV	više
moderna	ADJ	moderan
i	CCONJ	i
nova	ADJ	nov
pisaca	NOUN	pisac
i	CCONJ	i
ali	CCONJ	ali
,	PUNCT	,
za	ADP	za
vas	PRON	vi
to	DET	taj
već	PART	već
starija	ADJ	star
generacija	NOUN	generacija
.	PUNCT	.
Za	ADP	za
mene	PRON	ja
bili	AUX	biti
su	AUX	jesam
to	DET	taj
vršnjaci	NOUN	vršnjak
.	PUNCT	.
I	CCONJ	i
tako	ADV	tako
da	SCONJ	da
,	PUNCT	,
i	CCONJ	i
kupila	VERB	kupiti
sam	AUX	jesam
puno	ADJ	pun
knjige	NOUN	knjiga
i	CCONJ	i
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Recimo	VERB	reći
,	PUNCT	,
Tomas	PROPN	Tomas
Man	PROPN	Man
,	PUNCT	,
Hajnrih	PROPN	Hajnrih
Man	PROPN	Man
,	PUNCT	,
njegov	DET	njegov
brat	NOUN	brat
.	PUNCT	.
Pa	CCONJ	pa
ima	VERB	imati
još	ADV	još
puno	ADV	puno
.	PUNCT	.
Od	ADP	od
srpskih	ADJ	srpski
pisaca	NOUN	pisac
malo	ADV	malo
znam	VERB	znati
,	PUNCT	,
vrlo	ADV	vrlo
malo	ADV	malo
sam	AUX	jesam
čitala	VERB	čitati
,	PUNCT	,
zbog	ADP	zbog
mene	PRON	ja
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Jezik	NOUN	jezik
.	PUNCT	.
U	ADP	u
međuvreme	NOUN	međuvreme
čitam	VERB	čitati
sve	ADV	sve
,	PUNCT	,
i	CCONJ	i
novine	NOUN	novina
i	CCONJ	i
tako	ADV	tako
,	PUNCT	,
ali	CCONJ	ali
sad	ADV	sad
teško	ADV	teško
zbog	ADP	zbog
oči	NOUN	oči
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
imala	VERB	imati
iz	ADP	iz
prvi	ADJ	prvi
,	PUNCT	,
ja	PRON	ja
imala	VERB	imati
sam	AUX	jesam
dva	NUM	dva
braka	NOUN	brak
,	PUNCT	,
iz	ADP	iz
prvi	ADJ	prvi
brak	NOUN	brak
ćerkica	NOUN	ćerkica
koja	DET	koji
je	AUX	jesam
nažalost	ADV	nažalost
sa	ADP	sa
jedan	NUM	jedan
-	PUNCT	-
i	CCONJ	i
po	ADP	po
godina	NOUN	godina
umrla	VERB	umreti
,	PUNCT	,
i	CCONJ	i
posle	ADV	posle
nisam	AUX	jesam
imala	VERB	imati
više	ADV	više
,	PUNCT	,
zbog	ADP	zbog
,	PUNCT	,
evo	PART	evo
,	PUNCT	,
ovaj	DET	ovaj
što	PRON	što
sam	AUX	jesam
rekla	VERB	reći
,	PUNCT	,
operacija	NOUN	operacija
i	CCONJ	i
to	DET	taj
što	SCONJ	što
sam	AUX	jesam
imala	VERB	imati
.	PUNCT	.
Tako	ADV	tako
da	SCONJ	da
nemam	VERB	nemati
.	PUNCT	.
Nemam	VERB	nemati
deca	NOUN	deca
.	PUNCT	.
Mnogo	ADV	mnogo
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
imala	VERB	imati
veliki	ADJ	velik
,	PUNCT	,
veliki	ADJ	velik
krug	NOUN	krug
prijatelji	NOUN	prijatelj
i	CCONJ	i
porodica	NOUN	porodica
,	PUNCT	,
i	CCONJ	i
u	ADP	u
Nemačkoj	PROPN	Nemačka
ali	CCONJ	ali
i	CCONJ	i
ovde	ADV	ovde
.	PUNCT	.
Apsolutno	ADV	apsolutno
,	PUNCT	,
osim	ADP	osim
sa	ADP	sa
Nadom	PROPN	Nada
.	PUNCT	.
Preko	ADP	preko
puta	NOUN	put
.	PUNCT	.
I	CCONJ	i
nema	VERB	nemati
,	PUNCT	,
sa	ADP	sa
Nada	PROPN	Nada
,	PUNCT	,
sa	ADP	sa
Vama	NOUN	Vama
od	ADP	od
nešto	PRON	nešto
,	PUNCT	,
ali	CCONJ	ali
,	PUNCT	,
nemamo	VERB	nemati
zajednički	ADJ	zajednički
tema	NOUN	tema
.	PUNCT	.
Mi	PRON	ja
smo	AUX	jesam
iz	ADP	iz
tog	DET	taj
kraja	NOUN	kraj
,	PUNCT	,
iz	ADP	iz
krugovi	NOUN	krug
,	PUNCT	,
vi	PRON	vi
iz	ADP	iz
svog	DET	svoj
i	CCONJ	i
sada	ADV	sada
je	AUX	jesam
isuviše	ADV	isuviše
teško	ADV	teško
druženje	NOUN	druženje
sa	ADP	sa
druge	ADJ	drugi
pacijente	NOUN	pacijent
.	PUNCT	.
Osim	ADP	osim
,	PUNCT	,
osim	ADP	osim
sa	ADP	sa
personal	NOUN	personal
,	PUNCT	,
uopšte	ADV	uopšte
nemam	VERB	nemati
kontakt	NOUN	kontakt
.	PUNCT	.
Nisam	AUX	jesam
razumela	VERB	razumeti
pitanje	NOUN	pitanje
?	PUNCT	?
Ovde	ADV	ovde
?	PUNCT	?
Imam	VERB	imati
neke	DET	neki
kritika	NOUN	kritika
.	PUNCT	.
Ali	CCONJ	ali
,	PUNCT	,
verovatno	PART	verovatno
i	CCONJ	i
zbog	ADP	zbog
toga	DET	taj
da	SCONJ	da
uporedim	VERB	uporediti
kad	SCONJ	kad
sam	AUX	jesam
bila	AUX	biti
,	PUNCT	,
kako	SCONJ	kako
sam	AUX	jesam
rekla	VERB	reći
,	PUNCT	,
nekoliko	ADV	nekoliko
puta	ADV	puta
bolesna	ADJ	bolestan
i	CCONJ	i
u	ADP	u
klinika	NOUN	klinika
.	PUNCT	.
Uporedim	VERB	uporediti
sad	ADV	sad
Nemački	PROPN	Nemački
klinike	NOUN	klinika
i	CCONJ	i
uslove	NOUN	uslov
i	CCONJ	i
personal	NOUN	personal
sa	ADP	sa
ovde	ADV	ovde
,	PUNCT	,
gde	ADV	gde
živim	ADJ	živ
,	PUNCT	,
i	CCONJ	i
sad	ADV	sad
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Nisam	AUX	jesam
baš	PART	baš
mnogo	ADV	mnogo
srećna	ADJ	srećan
,	PUNCT	,
ovde	ADV	ovde
.	PUNCT	.
Zbog	ADP	zbog
,	PUNCT	,
fali	VERB	faliti
nešto	PRON	nešto
na	ADP	na
šta	PRON	šta
sam	AUX	jesam
navikla	VERB	naviknuti
bila	AUX	biti
i	CCONJ	i
to	DET	taj
nema	VERB	nemati
i	CCONJ	i
čudno	ADV	čudno
je	AUX	jesam
.	PUNCT	.
Sa	ADP	sa
nekima	DET	neki
?	PUNCT	?
Imam	VERB	imati
.	PUNCT	.
Imam	VERB	imati
.	PUNCT	.
Nažalost	NOUN	Nažalost
,	PUNCT	,
najviše	ADV	najviše
su	AUX	jesam
otišli	VERB	otići
.	PUNCT	.
I	CCONJ	i
sad	ADV	sad
recimo	VERB	reći
,	PUNCT	,
ovaj	DET	ovaj
,	PUNCT	,
Goca	PROPN	Goca
je	AUX	jesam
previše	ADV	previše
fina	ADJ	fin
tu	ADV	tu
,	PUNCT	,
prijatna	ADJ	prijatan
vrlo	ADV	vrlo
,	PUNCT	,
i	CCONJ	i
ima	VERB	imati
još	ADV	još
.	PUNCT	.
Onda	SCONJ	onda
ti	PRON	ti
na	ADP	na
prvo	ADJ	prvi
mesto	NOUN	mesto
.	PUNCT	.
Onda	ADV	onda
,	PUNCT	,
ne	PART	ne
znam	VERB	znati
još	ADV	još
,	PUNCT	,
nisam	AUX	jesam
imala	VERB	imati
prilika	NOUN	prilika
puno	ADV	puno
,	PUNCT	,
od	ADP	od
Goca	PROPN	Goca
da	SCONJ	da
vidim	VERB	viditi
i	CCONJ	i
da	SCONJ	da
čujem	VERB	čuti
.	PUNCT	.
Ali	CCONJ	ali
,	PUNCT	,
ja	PRON	ja
uporedim	VERB	uporediti
sa	ADP	sa
moje	DET	moj
vreme	NOUN	vreme
kad	SCONJ	kad
sam	AUX	jesam
bila	AUX	biti
u	ADP	u
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
bila	AUX	biti
u	ADP	u
Rusija	PROPN	Rusija
i	CCONJ	i
u	ADP	u
bolnica	NOUN	bolnica
,	PUNCT	,
i	CCONJ	i
tako	ADV	tako
svuda	ADV	svuda
je	AUX	jesam
drugačije	ADV	drugačije
.	PUNCT	.
Šta	PUNCT	Šta
nema	VERB	nemati
ovde	ADV	ovde
,	PUNCT	,
ako	SCONJ	ako
mogu	VERB	moći
to	DET	taj
da	SCONJ	da
kažem	VERB	kazati
?	PUNCT	?
Fali	VERB	faliti
,	PUNCT	,
fali	VERB	faliti
,	PUNCT	,
taj	DET	taj
,	PUNCT	,
to	DET	taj
,	PUNCT	,
taj	DET	taj
personal	NOUN	personal
možda	PART	možda
zbog	ADP	zbog
toga	DET	taj
da	SCONJ	da
sam	AUX	jesam
ono	PRON	ono
najviše	ADV	najviše
nema	VERB	nemati
to	DET	taj
osećaj	NOUN	osećaj
za	ADP	za
pacijente	NOUN	pacijent
koji	DET	koji
pacijen	NOUN	pacijen
očekuje	VERB	očekivati
.	PUNCT	.
recimo	VERB	reći
Goca	PROPN	Goca
koja	DET	koji
već	PART	već
ima	VERB	imati
preko	ADP	preko
pedeset	NUM	pedeset
godina	NOUN	godina
,	PUNCT	,
je	AUX	jesam
drugačija	ADJ	drugačiji
,	PUNCT	,
ona	PRON	ona
ima	VERB	imati
više	ADV	više
razumevanje	NOUN	razumevanje
za	ADP	za
neke	DET	neki
žalbe	NOUN	žalba
i	CCONJ	i
za	ADP	za
neke	DET	neki
stvari	NOUN	stvar
koji	DET	koji
nas	PRON	mi
su	AUX	jesam
teško	ADV	teško
i	CCONJ	i
onda	ADV	onda
sad	ADV	sad
dobro	ADV	dobro
i	CCONJ	i
mladi	ADJ	mlad
ljudi	NOUN	ljudi
da	SCONJ	da
,	PUNCT	,
tako	ADV	tako
.	PUNCT	.
Hobi	NOUN	hobi
?	PUNCT	?
Uglavnom	ADV	uglavnom
to	DET	taj
je	AUX	jesam
bio	AUX	biti
kod	ADP	kod
nekog	PRON	neko
,	PUNCT	,
prijateljstvo	NOUN	prijateljstvo
,	PUNCT	,
i	CCONJ	i
to	DET	taj
je	AUX	jesam
imam	VERB	imati
,	PUNCT	,
imam	VERB	imati
puno	ADV	puno
uvek	ADV	uvek
imali	VERB	imati
smo	AUX	jesam
oko	ADP	oko
nas	PRON	mi
ljudi	NOUN	ljudi
i	CCONJ	i
gosti	VERB	gostiti
sa	ADP	sa
,	PUNCT	,
mi	PRON	ja
smo	AUX	jesam
putovali	VERB	putovati
,	PUNCT	,
puno	ADV	puno
smo	AUX	jesam
putovali	VERB	putovati
.	PUNCT	.
Imala	VERB	imati
sam	AUX	jesam
drugi	ADJ	drugi
muž	NOUN	muž
,	PUNCT	,
radio	NOUN	radio
na	ADP	na
televizija	NOUN	televizija
i	CCONJ	i
zbog	ADP	zbog
toga	DET	taj
imali	VERB	imati
smo	AUX	jesam
puno	ADV	puno
mogućnosti	NOUN	mogućnost
da	SCONJ	da
putujemo	VERB	putovati
,	PUNCT	,
i	CCONJ	i
u	ADP	u
inostravnstvo	NOUN	inostravnstvo
delimično	ADV	delimično
,	PUNCT	,
u	ADP	u
Rusija	PROPN	Rusija
bila	AUX	biti
sam	AUX	jesam
nekoliko	ADV	nekoliko
i	CCONJ	i
duže	ADV	duže
,	PUNCT	,
duže	ADV	duže
vreme	NOUN	vreme
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
Tužno	ADV	Tužno
,	PUNCT	,
usamljeno	ADV	usamljeno
,	PUNCT	,
ponekad	ADV	ponekad
gledam	VERB	gledati
televizija	NOUN	televizija
koja	DET	koji
ali	CCONJ	ali
već	PART	već
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Ja	PRON	ja
,	PUNCT	,
nažalost	ADV	nažalost
,	PUNCT	,
nije	AUX	jesam
to	DET	taj
na	ADP	na
nivo	NOUN	nivo
.	PUNCT	.
Volim	VERB	voliti
,	PUNCT	,
ovaj	DET	ovaj
,	PUNCT	,
jedno	NUM	jedan
,	PUNCT	,
jedan	NUM	jedan
Bugarski	PROPN	Bugarski
.	PUNCT	.
Koji	DET	koji
ima	VERB	imati
nešto	ADV	nešto
.	PUNCT	.
I	CCONJ	i
,	PUNCT	,
eh	INTJ	eh
,	PUNCT	,
jedna	NUM	jedan
Američka	ADJ	Američka
,	PUNCT	,
jedna	NUM	jedan
Američka	PROPN	Američka
,	PUNCT	,
Serija	PROPN	Serija
.	PUNCT	.
Sa	ADP	sa
kriminal	NOUN	kriminal
i	CCONJ	i
tako	ADV	tako
,	PUNCT	,
ali	CCONJ	ali
nije	AUX	jesam
to	DET	taj
moje	DET	moj
stvar	NOUN	stvar
,	PUNCT	,
ali	CCONJ	ali
to	DET	taj
je	AUX	jesam
još	ADV	još
najbolje	ADV	najbolje
.	PUNCT	.
Politika	NOUN	politika
me	PRON	ja
manje	ADV	manje
interesuje	VERB	interesovati
.	PUNCT	.
Muzika	NOUN	muzika
,	PUNCT	,
umetnost	NOUN	umetnost
,	PUNCT	,
volela	VERB	voleti
sam	AUX	jesam
da	SCONJ	da
idem	VERB	ići
u	ADP	u
muzej	NOUN	muzej
,	PUNCT	,
žao	ADV	žao
mi	PRON	ja
je	AUX	jesam
da	SCONJ	da
nikad	ADV	nikad
nisam	AUX	jesam
,	PUNCT	,
i	CCONJ	i
nisam	AUX	jesam
umela	VERB	umesti
sam	AUX	jesam
da	SCONJ	da
da	SCONJ	da
sam	AUX	jesam
da	SCONJ	da
crtam	VERB	crtati
,	PUNCT	,
nešto	PRON	nešto
stvorim	VERB	stvoriti
,	PUNCT	,
šta	PRON	šta
bih	AUX	biti
volela	VERB	voleti
.	PUNCT	.
Da	SCONJ	da
imam	VERB	imati
dar	NOUN	dar
za	ADP	za
to	DET	taj
,	PUNCT	,
i	CCONJ	i
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Druženje	NOUN	Druženje
,	PUNCT	,
putovanje	NOUN	putovanje
,	PUNCT	,
puno	ADJ	pun
,	PUNCT	,
i	CCONJ	i
delimično	ADV	delimično
išli	VERB	ići
donekle	ADV	donekle
vreme	NOUN	vreme
,	PUNCT	,
zavisi	VERB	zavisiti
od	ADP	od
godine	NOUN	godina
.	PUNCT	.
Kad	SCONJ	kad
sam	AUX	jesam
bila	AUX	biti
mlad	ADJ	mlad
,	PUNCT	,
sam	AUX	jesam
bavila	VERB	baviti
sa	ADP	sa
atletika	NOUN	atletika
,	PUNCT	,
i	CCONJ	i
neki	DET	neki
vreme	NOUN	vreme
sam	AUX	jesam
igrala	VERB	igrati
tenis	NOUN	tenis
,	PUNCT	,
ali	CCONJ	ali
to	DET	taj
sam	AUX	jesam
kratko	ADV	kratko
.	PUNCT	.
I	CCONJ	i
puno	ADV	puno
,	PUNCT	,
mi	PRON	ja
smo	AUX	jesam
puno	ADV	puno
šetali	VERB	šetati
,	PUNCT	,
hodali	VERB	hodati
,	PUNCT	,
pravili	VERB	praviti
izlet	NOUN	izlet
,	PUNCT	,
recimo	VERB	reći
onda	ADV	onda
preko	ADP	preko
noć	NOUN	noć
negde	ADV	negde
,	PUNCT	,
na	ADP	na
Kopaonik	PROPN	Kopaonik
ostajemo	VERB	ostajati
,	PUNCT	,
i	CCONJ	i
sutradan	ADV	sutradan
dalje	ADV	dalje
peške	ADV	peške
,	PUNCT	,
i	CCONJ	i
tako	ADV	tako
dalje	ADV	dalje
.	PUNCT	.
Tako	ADV	tako
stalno	ADV	stalno
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
I	CCONJ	i
to	DET	taj
,	PUNCT	,
i	CCONJ	i
zbog	ADP	zbog
toga	DET	taj
da	SCONJ	da
ovde	ADV	ovde
nisam	AUX	jesam
radila	VERB	raditi
,	PUNCT	,
imala	VERB	imati
sam	AUX	jesam
vreme	NOUN	vreme
,	PUNCT	,
moj	DET	moj
muž	NOUN	muž
radio	VERB	raditi
uvek	ADV	uvek
,	PUNCT	,
osam	NUM	osam
dana	NOUN	dan
,	PUNCT	,
onda	ADV	onda
ima	VERB	imati
osam	NUM	osam
dana	NOUN	dan
slobodno	ADV	slobodno
,	PUNCT	,
tako	ADV	tako
da	SCONJ	da
smo	AUX	jesam
imali	VERB	imati
dovoljno	ADV	dovoljno
vreme	NOUN	vreme
da	SCONJ	da
radimo	VERB	raditi
još	ADV	još
.	PUNCT	.
I	CCONJ	i
da	SCONJ	da
idemo	VERB	ići
na	ADP	na
plivanje	NOUN	plivanje
i	CCONJ	i
tako	ADV	tako
nešto	ADV	nešto
,	PUNCT	,
stvari	NOUN	stvar
.	PUNCT	.
I	CCONJ	i
kriminal	NOUN	kriminal
.	PUNCT	.
To	DET	taj
su	AUX	jesam
dve	NUM	dva
stanice	NOUN	stanica
.	PUNCT	.
Jedna	NUM	jedan
je	AUX	jesam
doći	VERB	doći
iz	ADP	iz
Rumunije	PROPN	Rumunija
,	PUNCT	,
druga	ADJ	drugi
iz	ADP	iz
Bugarska	PROPN	Bugarska
,	PUNCT	,
a	VERB	a
oni	PRON	oni
to	DET	taj
uzmi	VERB	uzeti
iz	ADP	iz
Amerika	PROPN	Amerika
.	PUNCT	.
I	CCONJ	i
to	DET	taj
je	AUX	jesam
kič	NOUN	kič
,	PUNCT	,
ali	CCONJ	ali
tako	ADV	tako
da	SCONJ	da
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Nema	VERB	nemati
,	PUNCT	,
nema	VERB	nemati
.	PUNCT	.
Onda	ADV	onda
čitam	VERB	čitati
,	PUNCT	,
čitam	VERB	čitati
Blic	PROPN	Blic
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
čitam	VERB	čitati
Blic	PROPN	Blic
.	PUNCT	.
Da	SCONJ	da
,	PUNCT	,
da	SCONJ	da
.	PUNCT	.
[	PUNCT	[
Dobro	PROPN	Dobra
]	PUNCT	]
.	PUNCT	.
I	CCONJ	i
koliko	ADV	koliko
dan	NOUN	dan
,	PUNCT	,
svaki	DET	svaki
dan	NOUN	dan
se	PART	se
ubije	VERB	ubiti
ili	CCONJ	ili
biće	AUX	biti
ubijen	VERB	ubiti
,	PUNCT	,
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
Strašno	NOUN	Strašno
.	PUNCT	.
Klasika	NOUN	klasika
.	PUNCT	.
Klasika	NOUN	klasika
,	PUNCT	,
Bah	PROPN	Bah
,	PUNCT	,
Betoven	PROPN	Betoven
,	PUNCT	,
Mocart	PROPN	Mocart
.	PUNCT	.
Najviše	PROPN	Najviše
Bah	PROPN	Bah
.	PUNCT	.
Moderna	ADJ	moderan
.	PUNCT	.
Eh	INTJ	eh
,	PUNCT	,
ja	PRON	ja
posle	ADP	posle
završetak	NOUN	završetak
rat	NOUN	rat
došli	VERB	doći
su	AUX	jesam
kod	ADP	kod
nas	PRON	mi
Amerikanci	PROPN	Amerikanac
,	PUNCT	,
tamo	ADV	tamo
u	ADP	u
Nemačkoj	PROPN	Nemačka
oni	PRON	oni
nama	PRON	mi
doneli	VERB	doneti
džez	NOUN	džez
.	PUNCT	.
Tako	ADV	tako
smo	AUX	jesam
prvi	ADJ	prvi
put	NOUN	put
u	ADP	u
život	NOUN	život
čuli	VERB	čuti
,	PUNCT	,
kod	ADP	kod
Hitlera	PROPN	Hitler
džez	NOUN	džez
bio	AUX	biti
najgore	ADV	najgore
,	PUNCT	,
i	CCONJ	i
zabranjeno	VERB	zabraniti
i	CCONJ	i
odjedanput	ADV	odjedanput
naučili	VERB	naučiti
bili	AUX	biti
,	PUNCT	,
čuli	VERB	čuti
smo	AUX	jesam
džez	NOUN	džez
,	PUNCT	,
i	CCONJ	i
tamo	ADV	tamo
su	AUX	jesam
bili	AUX	biti
neki	DET	neki
koje	DET	koji
sam	AUX	jesam
volela	VERB	voleti
,	PUNCT	,
i	CCONJ	i
sam	AUX	jesam
,	PUNCT	,
prlično	ADV	prlično
kod	ADP	kod
kuće	NOUN	kuća
puno	ADJ	pun
ploče	NOUN	ploča
džez	NOUN	džez
,	PUNCT	,
i	CCONJ	i
klasična	ADJ	klasičan
muzika	NOUN	muzika
folklorna	ADJ	folklorni
muzika	NOUN	muzika
.	PUNCT	.
Ja	PRON	ja
,	PUNCT	,
uvek	ADV	uvek
kad	SCONJ	kad
ovde	ADV	ovde
peva	VERB	pevati
,	PUNCT	,
ponekad	ADV	ponekad
se	PART	se
jedan	NUM	jedan
od	ADP	od
personal	NOUN	personal
peva	VERB	pevati
malo	ADV	malo
nešto	ADV	nešto
,	PUNCT	,
i	CCONJ	i
ja	PRON	ja
kažem	VERB	kazati
kad	SCONJ	kad
doći	VERB	doći
kod	ADP	kod
mene	PRON	ja
,	PUNCT	,
ja	PRON	ja
samo	PART	samo
podnosim	VERB	podnositi
"	PUNCT	"
Tamo	VERB	Tamo
daleko	ADV	daleko
.	PUNCT	.
"	PUNCT	"
Ova	DET	ovaj
pesma	NOUN	pesma
,	PUNCT	,
zbog	ADP	zbog
,	PUNCT	,
mene	PRON	ja
,	PUNCT	,
to	DET	taj
lepo	ADV	lepo
,	PUNCT	,
i	CCONJ	i
ima	VERB	imati
smisao	NOUN	smisao
,	PUNCT	,
ima	VERB	imati
tradicija	NOUN	tradicija
,	PUNCT	,
iz	ADP	iz
Prvi	ADJ	prvi
svetski	ADJ	svetski
rat	NOUN	rat
.	PUNCT	.
I	CCONJ	i
tako	ADV	tako
.	PUNCT	.
Da	SCONJ	da
.	PUNCT	.
Ja	PRON	ja
bih	AUX	biti
samo	PART	samo
na	ADP	na
kom	DET	koji
,	PUNCT	,
na	ADP	na
koje	DET	koji
,	PUNCT	,
na	ADP	na
kom	DET	koji
polje	NOUN	polje
?	PUNCT	?
Molim	VERB	moliti
?	PUNCT	?
Na	ADP	na
početak	NOUN	početak
ja	PRON	ja
sam	AUX	jesam
došla	VERB	doći
u	ADP	u
vreme	NOUN	vreme
Tito	PROPN	Tito
,	PUNCT	,
i	CCONJ	i
onda	ADV	onda
sam	AUX	jesam
došla	VERB	doći
iz	ADP	iz
istočne	ADJ	istočni
Nemačke	PROPN	Nemačka
i	CCONJ	i
onda	ADV	onda
to	DET	taj
je	AUX	jesam
jedan	NUM	jedan
drugačije	ADJ	drugačiji
režim	NOUN	režim
,	PUNCT	,
politički	ADV	politički
koji	DET	koji
je	AUX	jesam
bio	AUX	biti
naročito	ADV	naročito
eh	INTJ	eh
,	PUNCT	,
dobro	ADV	dobro
i	CCONJ	i
nama	PRON	mi
slična	ADJ	sličan
,	PUNCT	,
i	CCONJ	i
svi	DET	sav
mene	PRON	ja
su	AUX	jesam
voleli	VERB	voleti
da	SCONJ	da
dođem	VERB	doći
ove	DET	ovaj
u	ADP	u
Jugoslavija	PROPN	Jugoslavija
.	PUNCT	.
I	CCONJ	i
onda	ADV	onda
kažem	VERB	kazati
i	CCONJ	i
ja	PRON	ja
sam	AUX	jesam
bila	AUX	biti
zadovoljna	ADJ	zadovoljan
puno	ADJ	pun
stvarima	NOUN	stvar
,	PUNCT	,
su	AUX	jesam
meni	PRON	ja
slični	ADJ	sličan
u	ADP	u
vreme	NOUN	vreme
Tito	PROPN	Tito
.	PUNCT	.
Posle	ADV	posle
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Da	SCONJ	da
,	PUNCT	,
otišlo	VERB	otići
puno	ADV	puno
,	PUNCT	,
puno	ADV	puno
što	SCONJ	što
je	AUX	jesam
bilo	AUX	biti
lepo	ADV	lepo
,	PUNCT	,
i	CCONJ	i
što	SCONJ	što
je	AUX	jesam
bilo	AUX	biti
prihvatljivo	ADJ	prihvatljiv
,	PUNCT	,
i	CCONJ	i
na	ADP	na
koje	DET	koji
neko	PRON	neko
bi	AUX	biti
mogla	VERB	moći
da	SCONJ	da
stavim	VERB	staviti
neka	DET	neki
kritika	NOUN	kritika
,	PUNCT	,
ali	CCONJ	ali
,	PUNCT	,
posle	ADV	posle
je	AUX	jesam
došla	VERB	doći
i	CCONJ	i
danas	ADV	danas
se	PART	se
dogodi	VERB	dogoditi
.	PUNCT	.
Tužno	ADV	Tužno
.	PUNCT	.
Do	ADP	do
toga	DET	taj
da	SCONJ	da
propale	VERB	propasti
osobine	NOUN	osobina
i	CCONJ	i
propao	VERB	propasti
navike	NOUN	navika
,	PUNCT	,
se	PART	se
izgubi	VERB	izgubiti
.	PUNCT	.
I	CCONJ	i
zaboravi	VERB	zaboraviti
.	PUNCT	.
I	CCONJ	i
maldi	ADJ	maldi
ljudi	NOUN	ljudi
vi	PRON	vi
ste	AUX	jesam
mlad	ADJ	mlad
i	CCONJ	i
uopšte	ADV	uopšte
niste	AUX	jesam
upoznat	VERB	upoznati
,	PUNCT	,
koje	DET	koji
,	PUNCT	,
kad	SCONJ	kad
ste	AUX	jesam
vi	PRON	vi
rođena	VERB	roditi
?	PUNCT	?
Dvadeset	NUM	dvadeset
-	PUNCT	-
tri	NUM	tri
godine	NOUN	godina
,	PUNCT	,
znači	VERB	značiti
vreme	NOUN	vreme
Tito	PROPN	Tito
Vama	PROPN	Vama
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Samo	PART	samo
iz	ADP	iz
priče	NOUN	priča
.	PUNCT	.
Mogu	VERB	moći
da	SCONJ	da
kažem	VERB	kazati
da	SCONJ	da
srela	VERB	sresti
sam	AUX	jesam
ovde	ADV	ovde
neka	DET	neki
Nemice	PROPN	Nemica
,	PUNCT	,
koje	DET	koji
su	AUX	jesam
se	PART	se
isto	ADV	isto
udale	VERB	udati
i	CCONJ	i
bila	AUX	biti
sam	AUX	jesam
dobro	ADV	dobro
prijatelj	NOUN	prijatelj
sa	ADP	sa
nemački	ADJ	nemački
Ambasador	PROPN	Ambasador
,	PUNCT	,
nemačko	ADJ	nemački
,	PUNCT	,
koji	DET	koji
prvo	ADV	prvo
bio	AUX	biti
u	ADP	u
Bern	PROPN	Bern
posle	ADP	posle
Berlin	PROPN	Berlin
,	PUNCT	,
posle	ADV	posle
smo	AUX	jesam
komšije	NOUN	komšija
kad	SCONJ	kad
on	PRON	on
više	ADV	više
nije	AUX	jesam
ambasador	NOUN	ambasador
.	PUNCT	.
I	CCONJ	i
to	DET	taj
su	AUX	jesam
bili	AUX	biti
vreme	NOUN	vreme
i	CCONJ	i
preko	ADP	preko
njega	PRON	on
sam	AUX	jesam
upoznala	VERB	upoznati
ljudi	NOUN	ljudi
i	CCONJ	i
koji	DET	koji
su	AUX	jesam
bili	AUX	biti
drugačije	ADV	drugačije
nego	CCONJ	nego
danas	ADV	danas
.	PUNCT	.
Vi	PRON	vi
ste	AUX	jesam
izgubili	VERB	izgubiti
mnogo	ADV	mnogo
dobro	ADV	dobro
stvari	NOUN	stvar
,	PUNCT	,
navike	NOUN	navika
i	CCONJ	i
tradicija	NOUN	tradicija
koje	DET	koji
ste	AUX	jesam
imali	VERB	imati
,	PUNCT	,
ste	AUX	jesam
izgubili	VERB	izgubiti
.	PUNCT	.
I	CCONJ	i
sad	ADV	sad
kad	SCONJ	kad
samo	PART	samo
gledam	VERB	gledati
novine	NOUN	novina
,	PUNCT	,
svaka	DET	svaki
treća	ADJ	treći
strana	NOUN	strana
ubistvo	NOUN	ubistvo
,	PUNCT	,
prevara	NOUN	prevara
,	PUNCT	,
kriminal	NOUN	kriminal
,	PUNCT	,
i	CCONJ	i
nešto	ADV	nešto
,	PUNCT	,
ne	PART	ne
znam	VERB	znati
.	PUNCT	.
Sad	ADV	sad
bih	AUX	biti
rekla	VERB	reći
,	PUNCT	,
ja	PRON	ja
ne	PART	ne
bih	AUX	biti
opet	ADV	opet
došla	VERB	doći
.	PUNCT	.
Ne	PART	ne
.	PUNCT	.
Ne	PART	ne
.	PUNCT	.
Sad	ADV	sad
ovo	DET	ovaj
je	AUX	jesam
vreme	NOUN	vreme
kada	SCONJ	kada
sam	AUX	jesam
došla	VERB	doći
,	PUNCT	,
i	CCONJ	i
bila	AUX	biti
sam	AUX	jesam
samouverena	ADJ	samouveren
,	PUNCT	,
i	CCONJ	i
svake	DET	svaki
godine	NOUN	godina
kad	SCONJ	kad
sam	AUX	jesam
putovala	VERB	putovati
u	ADP	u
Nemačku	PROPN	Nemačka
,	PUNCT	,
naravno	PART	naravno
sam	AUX	jesam
morala	VERB	morati
da	SCONJ	da
pričam	VERB	pričati
tamo	ADV	tamo
i	CCONJ	i
uvek	ADV	uvek
sam	AUX	jesam
pričala	VERB	pričati
lepe	ADJ	lep
stvari	NOUN	stvar
,	PUNCT	,
i	CCONJ	i
dolazili	VERB	dolaziti
su	AUX	jesam
prijatelji	NOUN	prijatelj
,	PUNCT	,
rođaci	NOUN	rođaka
iz	ADP	iz
Nemačke	PROPN	Nemačka
ovde	ADV	ovde
kod	ADP	kod
mene	PRON	ja
u	ADP	u
posete	NOUN	poseta
i	CCONJ	i
bili	AUX	biti
su	AUX	jesam
zadovoljni	ADJ	zadovoljan
,	PUNCT	,
baš	PART	baš
se	PART	se
sviđa	VERB	sviđati
i	CCONJ	i
tako	ADV	tako
dalje	ADV	dalje
.	PUNCT	.
To	DET	taj
se	PART	se
izgubilo	VERB	izgubiti
.	PUNCT	.
Neki	DET	neki
atmosfera	NOUN	atmosfera
koje	DET	koji
sad	ADV	sad
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Ne	PART	ne
,	PUNCT	,
nema	VERB	nemati
.	PUNCT	.
Sad	ADV	sad
naravno	PART	naravno
ja	PRON	ja
viste	VERB	viti
mlad	ADJ	mlad
i	CCONJ	i
vi	PRON	vi
idete	VERB	ići
isto	ADV	isto
,	PUNCT	,
imate	VERB	imati
vaši	DET	vaš
krugovi	NOUN	krug
tamo	ADV	tamo
verovatno	ADV	verovatno
.	PUNCT	.
I	CCONJ	i
puno	ADJ	pun
stvari	NOUN	stvar
koje	DET	koji
su	AUX	jesam
lep	ADJ	lep
,	PUNCT	,
ali	CCONJ	ali
to	DET	taj
je	AUX	jesam
,	PUNCT	,
to	DET	taj
je	AUX	jesam
već	PART	već
generacija	NOUN	generacija
.	PUNCT	.
Savim	ADJ	Savim
drugačija	ADJ	drugačiji
.	PUNCT	.
Da	SCONJ	da
vi	PRON	vi
to	DET	taj
primetite	VERB	primetiti
sam	AUX	jesam
.	PUNCT	.
Da	SCONJ	da
je	AUX	jesam
nekad	ADV	nekad
bio	AUX	biti
Jugoslavija	PROPN	Jugoslavija
bila	AUX	biti
neki	DET	neki
pojam	NOUN	pojam
,	PUNCT	,
i	CCONJ	i
ja	PRON	ja
znam	VERB	znati
da	SCONJ	da
su	AUX	jesam
baš	PART	baš
u	ADP	u
zapadne	ADJ	zapadni
,	PUNCT	,
često	ADV	često
sam	AUX	jesam
odavde	ADV	odavde
putovala	VERB	putovati
u	ADP	u
zapadne	ADJ	zapadni
Nemačkoj	PROPN	Nemačka
,	PUNCT	,
svi	DET	sav
su	AUX	jesam
hvalili	VERB	hvaliti
Jugoslavija	PROPN	Jugoslavija
,	PUNCT	,
i	CCONJ	i
njegova	DET	njegov
politika	NOUN	politika
i	CCONJ	i
smatrali	VERB	smatrati
da	SCONJ	da
je	AUX	jesam
Tito	PROPN	Tito
bio	AUX	biti
pametan	ADJ	pametan
neki	DET	neki
političar	NOUN	političar
koji	DET	koji
zna	VERB	znati
svoj	DET	sav
posao	NOUN	posao
.	PUNCT	.
Sad	ADV	sad
,	PUNCT	,
ja	PRON	ja
ne	PART	ne
bih	AUX	biti
znala	VERB	znati
,	PUNCT	,
mene	PRON	ja
ovaj	DET	ovaj
naš	DET	naš
novi	ADJ	nov
predsednik	NOUN	predsednik
,	PUNCT	,
kako	SCONJ	kako
se	PART	se
zove	VERB	zvati
?	PUNCT	?
Vučić	PROPN	Vučić
,	PUNCT	,
nije	AUX	jesam
najsimpatična	ADJ	najsimpatična
,	PUNCT	,
i	CCONJ	i
mene	PRON	ja
baš	PART	baš
simpatično	ADJ	simpatičan
i	CCONJ	i
ovaj	DET	ovaj
,	PUNCT	,
žena	NOUN	žena
,	PUNCT	,
Ana	PROPN	Ana
,	PUNCT	,
Ana	PROPN	Ana
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Da	SCONJ	da
.	PUNCT	.
Meni	PRON	ja
isto	ADV	isto
simpatična	ADJ	simpatičan
,	PUNCT	,
i	CCONJ	i
smatram	VERB	smatrati
da	SCONJ	da
je	AUX	jesam
pametna	ADJ	pametan
i	CCONJ	i
da	SCONJ	da
ona	PRON	ona
pokuša	VERB	pokušati
sve	DET	sav
šta	PRON	šta
može	VERB	moći
,	PUNCT	,
ali	CCONJ	ali
to	DET	taj
inače	PART	inače
malo	ADV	malo
radim	VERB	raditi
politika	NOUN	politika
.	PUNCT	.
Novine	NOUN	novina
malo	ADV	malo
više	ADV	više
piše	VERB	pisati
o	ADP	o
kriminal	NOUN	kriminal
,	PUNCT	,
nego	CCONJ	nego
politika	NOUN	politika
.	PUNCT	.
nekad	ADV	nekad
smo	AUX	jesam
mi	PRON	ja
čitali	VERB	čitati
,	PUNCT	,
kako	SCONJ	kako
je	AUX	jesam
ono	PRON	ono
bilo	AUX	biti
,	PUNCT	,
čak	PART	čak
tradicionalna	ADJ	tradicionalan
politika	NOUN	politika
,	PUNCT	,
i	CCONJ	i
to	DET	taj
decenijama	NOUN	decenija
,	PUNCT	,
čita	VERB	čitati
njegov	DET	njegov
otac	NOUN	otac
,	PUNCT	,
zaposleni	ADJ	zaposlen
u	ADP	u
politika	NOUN	politika
,	PUNCT	,
takav	DET	takav
politika	NOUN	politika
.	PUNCT	.
Sad	ADV	sad
,	PUNCT	,
politika	NOUN	politika
dosadno	ADJ	dosadan
.	PUNCT	.
Ja	PRON	ja
nemam	VERB	nemati
,	PUNCT	,
nemam	VERB	nemati
strpljenje	NOUN	strpljenje
da	SCONJ	da
to	DET	taj
čitam	VERB	čitati
.	PUNCT	.
A	X	A
ovde	ADV	ovde
,	PUNCT	,
šta	PRON	šta
čitam	VERB	čitati
,	PUNCT	,
nije	AUX	jesam
lepo	ADV	lepo
.	PUNCT	.
Svaki	DET	svaki
dan	NOUN	dan
tri	NUM	tri
ubistvo	NOUN	ubistvo
,	PUNCT	,
i	CCONJ	i
tako	ADV	tako
nekad	ADV	nekad
stoji	VERB	stajati
.	PUNCT	.
I	CCONJ	i
vi	PRON	vi
radite	VERB	raditi
,	PUNCT	,
ovaj	DET	ovaj
,	PUNCT	,
što	SCONJ	što
vi	PRON	vi
sad	ADV	sad
radite	VERB	raditi
,	PUNCT	,
radite	VERB	raditi
sa	ADP	sa
školom	NOUN	škola
neki	DET	neki
zadatak	NOUN	zadatak
?	PUNCT	?
Za	ADP	za
školu	NOUN	škola
?	PUNCT	?
Vi	PRON	vi
znate	VERB	znati
kako	ADV	kako
,	PUNCT	,
tu	ADV	tu
,	PUNCT	,
a	VERB	a
ne	PART	ne
,	PUNCT	,
Vi	ADV	Vi
pitate	VERB	pitati
mene	PRON	ja
samo	PART	samo
strana	NOUN	strana
,	PUNCT	,
uglavnom	ADV	uglavnom
,	PUNCT	,
ja	PRON	ja
,	PUNCT	,
ali	CCONJ	ali
ovde	ADV	ovde
imam	VERB	imati
puno	ADJ	pun
patriote	NOUN	patriota
,	PUNCT	,
i	CCONJ	i
verovatno	PART	verovatno
kad	SCONJ	kad
pitate	VERB	pitati
Srbi	PROPN	Srba
,	PUNCT	,
oni	PRON	oni
uglavnom	ADV	uglavnom
još	ADV	još
uvek	ADV	uvek
su	AUX	jesam
tako	ADV	tako
,	PUNCT	,
je	AUX	jesam
l	X	l
?	PUNCT	?
Da	SCONJ	da
?	PUNCT	?
To	DET	taj
,	PUNCT	,
nisam	AUX	jesam
to	DET	taj
.	PUNCT	.
Nisam	AUX	jesam
više	ADV	više
,	PUNCT	,
mogu	VERB	moći
da	SCONJ	da
kažem	VERB	kazati
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
srećna	ADJ	srećan
kad	SCONJ	kad
upoznam	VERB	upoznati
tako	ADV	tako
ljudi	NOUN	ljudi
kao	CCONJ	kao
Božana	PROPN	Božana
i	CCONJ	i
ima	VERB	imati
još	PART	još
neki	DET	neki
ovde	ADV	ovde
.	PUNCT	.
Dve	NUM	dva
tri	NUM	tri
koje	DET	koji
su	AUX	jesam
prijatni	ADJ	prijatan
i	CCONJ	i
koji	DET	koji
misli	NOUN	misao
o	ADP	o
nama	PRON	mi
al	CCONJ	al
ima	VERB	imati
i	CCONJ	i
mnogo	ADV	mnogo
komplikovano	ADV	komplikovano
odnos	NOUN	odnos
.	PUNCT	.
Šta	ADV	Šta
najviše	ADV	najviše
smeta	VERB	smetati
međusobno	ADV	međusobno
nisu	AUX	jesam
solidarični	ADJ	solidarični
.	PUNCT	.
Nego	CCONJ	nego
nije	AUX	jesam
to	DET	taj
neka	DET	neki
družina	NOUN	družina
koja	DET	koji
radi	VERB	raditi
zajedno	ADV	zajedno
na	ADP	na
jedna	NUM	jedan
stvar	NOUN	stvar
.	PUNCT	.
Nego	CCONJ	nego
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Da	SCONJ	da
.	PUNCT	.
Da	SCONJ	da
.	PUNCT	.
A	X	A
koliko	ADV	koliko
ljudi	NOUN	ljudi
,	PUNCT	,
koliko	ADV	koliko
ljudi	NOUN	ljudi
mlad	ADJ	mlad
pitaju	NOUN	pitaja
?	PUNCT	?
Dva	NUM	dva
.	PUNCT	.
ali	CCONJ	ali
nadam	VERB	nadati
se	PART	se
da	SCONJ	da
ja	PRON	ja
ne	PART	ne
,	PUNCT	,
ne	PART	ne
igram	VERB	igrati
nikakva	DET	nikakav
uloga	NOUN	uloga
zbog	ADP	zbog
toga	DET	taj
da	SCONJ	da
ipak	PART	ipak
,	PUNCT	,
ja	PRON	ja
možda	PART	možda
nisam	AUX	jesam
pravi	VERB	praviti
primer	NOUN	primer
da	SCONJ	da
pričam	VERB	pričati
.	PUNCT	.
zbog	ADP	zbog
i	CCONJ	i
kad	SCONJ	kad
sam	AUX	jesam
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Strankinja	NOUN	strankinja
.	PUNCT	.
Zbog	ADP	zbog
toga	DET	taj
da	SCONJ	da
ipak	PART	ipak
ima	VERB	imati
neki	DET	neki
koji	DET	koji
,	PUNCT	,
nije	AUX	jesam
baš	PART	baš
povoljno	ADV	povoljno
da	SCONJ	da
se	PART	se
čuje	VERB	čuti
.	PUNCT	.
Uglavnom	ADV	uglavnom
to	DET	taj
ne	PART	ne
ide	VERB	ići
u	ADP	u
javnost	NOUN	javnost
?	PUNCT	?
Kao	CCONJ	kao
zemlje	NOUN	zemlja
,	PUNCT	,
što	SCONJ	što
se	PART	se
tiče	VERB	ticati
,	PUNCT	,
prirode	NOUN	priroda
i	CCONJ	i
tako	ADV	tako
,	PUNCT	,
fantastično	ADJ	fantastičan
.	PUNCT	.
Vi	PRON	vi
imate	VERB	imati
delovi	NOUN	deo
u	ADP	u
Jugoslavija	PROPN	Jugoslavija
,	PUNCT	,
ovde	ADV	ovde
u	ADP	u
Srbija	PROPN	Srbija
koji	DET	koji
su	AUX	jesam
stvarno	ADV	stvarno
vredi	VERB	vrediti
i	CCONJ	i
dragoceni	ADJ	dragocen
.	PUNCT	.
I	CCONJ	i
želim	VERB	želiti
da	SCONJ	da
dođe	VERB	doći
turisti	NOUN	turista
,	PUNCT	,
da	SCONJ	da
turisti	NOUN	turista
.	PUNCT	.
Iz	ADP	iz
koji	DET	koji
kraj	NOUN	kraj
Jugoslavija	PROPN	Jugoslavija
ste	AUX	jesam
Vi	VERB	viti
?	PUNCT	?
A	X	A
iz	ADP	iz
Beograd	PROPN	Beograd
.	PUNCT	.
Ja	PRON	ja
često	ADV	često
,	PUNCT	,
moj	DET	moj
muž	NOUN	muž
zbog	ADP	zbog
svoje	DET	svoj
zaposlenje	NOUN	zaposlenje
na	ADP	na
televizija	NOUN	televizija
radio	NOUN	radio
na	ADP	na
Kopaonik	PROPN	Kopaonik
i	CCONJ	i
na	ADP	na
Jastrebac	PROPN	Jastrebac
i	CCONJ	i
tako	ADV	tako
da	SCONJ	da
smo	AUX	jesam
bili	AUX	biti
često	ADV	često
u	ADP	u
tom	DET	taj
kraj	NOUN	kraj
ali	CCONJ	ali
,	PUNCT	,
delimično	ADV	delimično
isto	ADV	isto
on	PRON	on
je	AUX	jesam
bio	AUX	biti
u	ADP	u
Rusija	PROPN	Rusija
,	PUNCT	,
tako	ADV	tako
da	SCONJ	da
smo	AUX	jesam
tamo	ADV	tamo
smo	AUX	jesam
bili	AUX	biti
ali	CCONJ	ali
putovali	VERB	putovati
smo	AUX	jesam
kolima	NOUN	kola
po	ADP	po
Jugoslavija	PROPN	Jugoslavija
uglavnom	ADV	uglavnom
.	PUNCT	.
Puno	ADV	puno
na	ADP	na
more	NOUN	mora
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
Vrlo	ADV	vrlo
lepo	ADV	lepo
.	PUNCT	.
Dva	NUM	dva
braka	NOUN	brak
.	PUNCT	.
Jedan	NUM	jedan
je	AUX	jesam
bio	AUX	biti
Nemac	PROPN	Nemac
.	PUNCT	.
On	PRON	on
je	AUX	jesam
bio	AUX	biti
,	PUNCT	,
fizika	NOUN	fizika
i	CCONJ	i
hemika	NOUN	hemika
.	PUNCT	.
Sam	AUX	jesam
ga	PRON	on
na	ADP	na
univerzitetu	NOUN	univerzitet
upoznala	VERB	upoznati
,	PUNCT	,
on	PRON	on
je	AUX	jesam
,	PUNCT	,
a	ADV	a
drugi	ADJ	drugi
bio	AUX	biti
komunist	NOUN	komunist
,	PUNCT	,
i	CCONJ	i
kao	CCONJ	kao
komunist	NOUN	komunist
iz	ADP	iz
stara	ADJ	star
komunistički	ADJ	komunistički
porodica	NOUN	porodica
otac	NOUN	otac
već	CCONJ	već
on	PRON	on
je	AUX	jesam
baš	PART	baš
bio	AUX	biti
neki	DET	neki
kod	ADP	kod
zabranjeni	ADJ	zabranjen
,	PUNCT	,
komunistički	ADJ	komunistički
partija	NOUN	partija
u	ADP	u
ono	DET	onaj
vreme	NOUN	vreme
.	PUNCT	.
Kraj	NOUN	kraj
.	PUNCT	.
Ima	VERB	imati
neki	DET	neki
veliki	ADJ	velik
pozicija	NOUN	pozicija
,	PUNCT	,
i	CCONJ	i
naravno	PART	naravno
dva	NUM	dva
sina	NOUN	sin
,	PUNCT	,
otac	NOUN	otac
je	AUX	jesam
dao	VERB	dati
,	PUNCT	,
od	ADP	od
moj	DET	moj
muž	NOUN	muž
,	PUNCT	,
i	CCONJ	i
muž	NOUN	muž
komunisti	NOUN	komunista
odma	ADV	odma
u	ADP	u
partizani	NOUN	partizan
i	CCONJ	i
posle	ADP	posle
partizani	NOUN	partizan
odma	ADV	odma
u	ADP	u
Moskva	PROPN	Moskva
,	PUNCT	,
u	ADP	u
militerski	ADJ	militerski
akademija	NOUN	akademija
,	PUNCT	,
tamo	ADV	tamo
su	AUX	jesam
bili	AUX	biti
četiri	NUM	četiri
godina	NOUN	godina
,	PUNCT	,
i	CCONJ	i
tamo	ADV	tamo
su	AUX	jesam
završili	VERB	završiti
kao	ADV	kao
inžinjeri	NOUN	inžinjer
i	CCONJ	i
tako	ADV	tako
dalje	ADV	dalje
i	CCONJ	i
onda	SCONJ	onda
su	AUX	jesam
se	PART	se
vratili	VERB	vratiti
,	PUNCT	,
i	CCONJ	i
tako	ADV	tako
moj	DET	moj
muž	NOUN	muž
došao	VERB	doći
na	ADP	na
televizija	NOUN	televizija
ovde	ADV	ovde
.	PUNCT	.
I	CCONJ	i
tako	ADV	tako
.	PUNCT	.
A	X	A
onda	ADV	onda
kažem	VERB	kazati
,	PUNCT	,
zajedno	ADV	zajedno
posetioci	NOUN	posetilac
,	PUNCT	,
koje	DET	koji
sam	AUX	jesam
dobila	VERB	dobiti
iz	ADP	iz
Nemačke	PROPN	Nemačka
i	CCONJ	i
koje	DET	koji
sam	AUX	jesam
,	PUNCT	,
koje	DET	koji
smo	AUX	jesam
onda	ADV	onda
vozili	VERB	voziti
kolima	NOUN	kola
svuda	ADV	svuda
on	PRON	on
i	CCONJ	i
ja	PRON	ja
,	PUNCT	,
otišli	VERB	otići
smo	AUX	jesam
nekad	ADV	nekad
,	PUNCT	,
svi	DET	sav
su	AUX	jesam
bili	AUX	biti
oduševljeni	ADJ	oduševljen
,	PUNCT	,
upoznali	VERB	upoznati
su	AUX	jesam
naši	DET	naš
srpski	ADJ	srpski
prijatelji	NOUN	prijatelj
i	CCONJ	i
isto	ADV	isto
sviđa	VERB	sviđati
,	PUNCT	,
i	CCONJ	i
tako	ADV	tako
imali	VERB	imati
smo	AUX	jesam
prilično	ADV	prilično
veliki	ADJ	velik
krug	NOUN	krug
srpski	ADJ	srpski
prijatelji	NOUN	prijatelj
ali	CCONJ	ali
sad	ADV	sad
sam	AUX	jesam
prekinula	VERB	prekinuti
od	ADP	od
kad	SCONJ	kad
sam	AUX	jesam
u	ADP	u
nepokretno	ADV	nepokretno
stanje	NOUN	stanje
,	PUNCT	,
ležim	VERB	ležati
samo	PART	samo
i	CCONJ	i
sa	ADP	sa
pelena	NOUN	pelena
i	CCONJ	i
tako	ADV	tako
dalje	ADV	dalje
,	PUNCT	,
prekinula	VERB	prekinuti
sam	AUX	jesam
apsolutno	ADV	apsolutno
svaki	DET	svaki
kontakt	NOUN	kontakt
.	PUNCT	.
Sa	ADP	sa
svi	DET	sav
ljudi	NOUN	ljudi
,	PUNCT	,
i	CCONJ	i
sa	ADP	sa
moje	DET	moj
Nemce	PROPN	Nemac
i	CCONJ	i
sa	ADP	sa
ovde	ADV	ovde
i	CCONJ	i
sa	ADP	sa
rođaci	NOUN	rođaka
oni	PRON	oni
moj	DET	moj
lekar	NOUN	lekar
zove	VERB	zvati
delimično	ADV	delimično
,	PUNCT	,
ko	PRON	ko
ima	VERB	imati
njegov	DET	njegov
telefon	NOUN	telefon
pita	VERB	pitati
njega	PRON	on
i	CCONJ	i
oće	VERB	hteti
sa	ADP	sa
mnom	PRON	ja
kontakt	NOUN	kontakt
,	PUNCT	,
ali	CCONJ	ali
ja	PRON	ja
ne	PART	ne
može	VERB	moći
,	PUNCT	,
ja	PRON	ja
se	PART	se
osetim	VERB	osetiti
sad	ADV	sad
suviše	ADV	suviše
bedno	ADJ	bedan
.	PUNCT	.
Suviše	ADJ	Suviše
sam	AUX	jesam
nesrećna	ADJ	nesrećan
i	CCONJ	i
imam	VERB	imati
samo	PART	samo
negativne	ADJ	negativan
i	CCONJ	i
ružne	ADJ	ružan
stvari	NOUN	stvar
da	SCONJ	da
pričam	VERB	pričati
i	CCONJ	i
o	ADP	o
moje	DET	moj
stanje	NOUN	stanje
i	CCONJ	i
tako	ADV	tako
dalje	ADV	dalje
.	PUNCT	.
Tako	ADV	tako
da	SCONJ	da
sam	AUX	jesam
rekla	VERB	reći
gotovo	ADV	gotovo
.	PUNCT	.
Da	SCONJ	da
.	PUNCT	.
Neću	ADV	Neću
drugi	ADJ	drugi
još	ADV	još
opterećujem	VERB	opterećivati
.	PUNCT	.
Sa	ADP	sa
moje	DET	moj
priče	NOUN	priča
,	PUNCT	,
nemam	VERB	nemati
nešto	PRON	nešto
drugo	ADV	drugo
da	SCONJ	da
pričam	VERB	pričati
,	PUNCT	,
ništa	ADV	ništa
lepo	ADV	lepo
,	PUNCT	,
ništa	ADV	ništa
dobro	ADV	dobro
.	PUNCT	.
Ništa	ADV	Ništa
pozitivno	ADV	pozitivno
tako	ADV	tako
da	SCONJ	da
bolje	ADV	bolje
da	SCONJ	da
prekinem	VERB	prekinuti
,	PUNCT	,
bilo	AUX	biti
veliki	ADJ	velik
kog	DET	koji
sam	AUX	jesam
stvarno	ADV	stvarno
imala	VERB	imati
u	ADP	u
Nemačkoj	PROPN	Nemačka
,	PUNCT	,
ovde	ADV	ovde
,	PUNCT	,
puno	ADV	puno
dobri	ADJ	dobar
prijatelji	NOUN	prijatelj
,	PUNCT	,
ali	CCONJ	ali
gotovo	ADV	gotovo
.	PUNCT	.
I	CCONJ	i
ja	PRON	ja
sam	AUX	jesam
sad	ADV	sad
u	ADP	u
godina	NOUN	godina
gde	SCONJ	gde
nije	AUX	jesam
obavezno	ADV	obavezno
da	SCONJ	da
se	PART	se
treba	VERB	trebati
da	SCONJ	da
ima	VERB	imati
još	ADV	još
puno	ADJ	pun
krug	NOUN	krug
prijatelji	NOUN	prijatelj
,	PUNCT	,
da	SCONJ	da
se	PART	se
priča	VERB	pričati
.	PUNCT	.
O	ADP	o
čemu	PRON	šta
da	SCONJ	da
priča	VERB	pričati
,	PUNCT	,
oni	DET	onaj
kuka	NOUN	kuk
,	PUNCT	,
ja	PRON	ja
kukam	VERB	kukati
,	PUNCT	,
tako	ADV	tako
da	SCONJ	da
I	VERB	I
šta	PRON	šta
ja	PRON	ja
imam	VERB	imati
da	SCONJ	da
kukam	VERB	kukati
,	PUNCT	,
koja	DET	koji
ležim	VERB	ležati
ovde	ADV	ovde
,	PUNCT	,
nepokretno	ADV	nepokretno
,	PUNCT	,
i	CCONJ	i
sa	ADP	sa
pelena	NOUN	pelena
i	CCONJ	i
tako	ADV	tako
dalje	ADV	dalje
.	PUNCT	.
Ne	PART	ne
.	PUNCT	.
Tako	ADV	tako
je	AUX	jesam
to	DET	taj
.	PUNCT	.
Nadam	VERB	nadati
se	PART	se
da	SCONJ	da
moje	DET	moj
srpski	ADV	srpski
bio	AUX	biti
dovoljno	ADV	dovoljno
dobro	ADV	dobro
da	SCONJ	da
,	PUNCT	,
na	ADP	na
vaš	DET	vaš
aparat	NOUN	aparat
još	PART	još
nešto	ADV	nešto
može	VERB	moći
da	SCONJ	da
se	PART	se
razume	VERB	razumeti
.	PUNCT	.
Ja	PRON	ja
nema	VERB	nemati
pojma	NOUN	pojam
od	ADP	od
gramatika	NOUN	gramatika
i	CCONJ	i
nikad	ADV	nikad
nisam	AUX	jesam
naučila	VERB	naučiti
jezik	NOUN	jezik
nego	CCONJ	nego
samo	PART	samo
tako	ADV	tako
u	ADP	u
razgovor	NOUN	razgovor
i	CCONJ	i
preko	ADP	preko
televizija	NOUN	televizija
.	PUNCT	.
I	CCONJ	i
moj	DET	moj
muž	NOUN	muž
uglavnom	ADV	uglavnom
,	PUNCT	,
mi	PRON	ja
smo	AUX	jesam
razgovarali	VERB	razgovarati
nemački	ADJ	nemački
,	PUNCT	,
zbog	ADP	zbog
toga	DET	taj
,	PUNCT	,
on	PRON	on
je	AUX	jesam
znao	VERB	znati
dobro	ADV	dobro
nemački	ADJ	nemački
i	CCONJ	i
uvek	ADV	uvek
hteo	AUX	hteti
da	SCONJ	da
sačuva	VERB	sačuvati
svoje	DET	svoj
znanje	NOUN	znanje
i	CCONJ	i
tako	ADV	tako
da	SCONJ	da
smo	AUX	jesam
ali	CCONJ	ali
sa	ADP	sa
dugi	ADJ	dug
ljudi	NOUN	ljudi
sa	ADP	sa
,	PUNCT	,
mic	INTJ	mic
po	ADV	po
mic	INTJ	mic
i	CCONJ	i
preko	ADP	preko
televizija	NOUN	televizija
,	PUNCT	,
naučila	VERB	naučiti
sam	AUX	jesam
Vaš	ADJ	Vaš
jezik	NOUN	jezik
,	PUNCT	,
čitala	VERB	čitati
sam	AUX	jesam
nešto	PRON	nešto
,	PUNCT	,
Ivo	PROPN	Iva
Andrić	PROPN	Andrić
.	PUNCT	.
Njega	PRON	on
sam	AUX	jesam
još	ADV	još
čitala	VERB	čitati
na	ADP	na
nemačko	ADJ	nemački
još	ADV	još
,	PUNCT	,
onaj	DET	onaj
prvo	ADV	prvo
,	PUNCT	,
on	PRON	on
je	AUX	jesam
bio	AUX	biti
u	ADP	u
svoje	DET	svoj
vreme	NOUN	vreme
vrlo	ADV	vrlo
popularan	ADJ	popularan
.	PUNCT	.
Ivo	PROPN	Iva
Andrić	PROPN	Andrić
,	PUNCT	,
i	CCONJ	i
odličan	ADJ	odličan
pisac	NOUN	pisac
.	PUNCT	.
tako	ADV	tako
je	AUX	jesam
to	DET	taj
.	PUNCT	.
Nadam	VERB	nadati
se	PART	se
da	SCONJ	da
sam	AUX	jesam
,	PUNCT	,
Vas	PROPN	Vas
nisam	AUX	jesam
dosadila	VERB	dosaditi
.	PUNCT	.
[	PUNCT	[
Nikako	PROPN	Nikako
,	PUNCT	,
niste	AUX	jesam
.	PUNCT	.
]	PUNCT	]
