Knezević	ADJ	Knezević
penziji	NOUN	penzija
vec	NOUN	vec
sedamnaest	NUM	sedamnaest
godina	NOUN	godina
,	PUNCT	,
a	ADV	a
planirao	VERB	planirati
sam	AUX	jesam
da	SCONJ	da
jos	NOUN	jos
dvadeset	NUM	dvadeset
godina	NOUN	godina
budem	AUX	biti
u	ADP	u
penziji	NOUN	penzija
.	PUNCT	.
Ceo	ADJ	ceo
radni	ADJ	radni
vek	NOUN	vek
praktično	ADV	praktično
proveo	VERB	provesti
sam	AUX	jesam
u	ADP	u
Šabačkoj	ADJ	Šabačkoj
gimnaziji	NOUN	gimnazija
.	PUNCT	.
Dve	NUM	dva
godine	NOUN	godina
na	ADP	na
Novom	PROPN	Novom
Beogradu	PROPN	Beograd
kao	CCONJ	kao
profesor	NOUN	profesor
,	PUNCT	,
tri	NUM	tri
godine	NOUN	godina
u	ADP	u
školi	NOUN	škola
“	PUNCT	“
Sele	VERB	sesti
Jovanović	PROPN	Jovanović
”	PUNCT	”
i	CCONJ	i
sve	DET	sav
ostalo	VERB	ostati
od	ADP	od
šezdeset	NUM	šezdeset
i	CCONJ	i
pete	NOUN	peta
do	ADP	do
dve	NUM	dva
hiljadite	VERB	hiljaditi
u	ADP	u
gimnaziji	NOUN	gimnazija
.	PUNCT	.
Inače	VERB	Inače
moja	DET	moj
ljubav	NOUN	ljubav
sportska	ADJ	sportski
je	AUX	jesam
atletika	NOUN	atletika
I	ADV	I
stvarao	VERB	stvarati
sam	DET	sam
puno	ADJ	pun
atleticara	NOUN	atleticara
,	PUNCT	,
uslove	NOUN	uslov
za	ADP	za
rad	NOUN	rad
,	PUNCT	,
atletsku	ADJ	atletski
stazu	NOUN	staza
u	ADP	u
Selovoj	PROPN	Selovoj
skoli	VERB	skoliti
,	PUNCT	,
pa	CCONJ	pa
u	ADP	u
gimnaziji	NOUN	gimnazija
i	CCONJ	i
gradsku	ADJ	gradski
stazu	NOUN	staza
.	PUNCT	.
Tu	ADV	tu
ima	VERB	imati
divne	ADJ	divan
dece	NOUN	deca
,	PUNCT	,
divnih	ADJ	divan
rezultata	NOUN	rezultat
,	PUNCT	,
jugoslovenskih	ADJ	jugoslovenski
rekorda	NOUN	rekord
I	VERB	I
svega	ADV	svega
ostalog	ADJ	ostalog
.	PUNCT	.
Medju	PROPN	Medju
njima	PRON	ona
,	PUNCT	,
svakako	ADV	svakako
najupecatljiviji	ADJ	najupecatljiviji
rekord	NOUN	rekord
je	AUX	jesam
u	ADP	u
bacanju	NOUN	bacanje
diska	NOUN	disko
Kose	PROPN	Kos
Stojkovic	PROPN	Stojkovic
,	PUNCT	,
to	DET	taj
je	AUX	jesam
majka	NOUN	majka
Vlade	PROPN	Vlada
Stojkovica	PROPN	Stojkovica
,	PUNCT	,
golmana	NOUN	golman
.	PUNCT	.
Ona	PRON	ona
je	AUX	jesam
oborila	VERB	oboriti
drzavni	ADJ	drzavni
rekord	NOUN	rekord
u	ADP	u
Beogradu	PROPN	Beograd
.	PUNCT	.
Sedamdeset	NUM	sedamdeset
druge	ADJ	drugi
i	CCONJ	i
sedamdeset	NUM	sedamdeset
treće	ADJ	treći
je	AUX	jesam
bila	AUX	biti
prvak	NOUN	prvak
Jugoslavije	PROPN	Jugoslavija
u	ADP	u
bacanju	NOUN	bacanje
diska	NOUN	disko
,	PUNCT	,
tako	ADV	tako
da	SCONJ	da
je	AUX	jesam
ona	PRON	ona
i	PART	i
sedamdeset	NUM	sedamdeset
druge	ADJ	drugi
i	CCONJ	i
sedamdeset	NUM	sedamdeset
treće	ADJ	treći
bila	AUX	biti
sportista	NOUN	sportista
Podrinja	PROPN	Podrinje
,	PUNCT	,
jedina	ADJ	jedina
zena	NOUN	zena
koja	DET	koji
je	AUX	jesam
duplo	ADJ	dupli
ostvarila	VERB	ostvariti
tu	DET	taj
titulu	NOUN	titula
.	PUNCT	.
Pored	ADP	pored
atletike	NOUN	atletika
,	PUNCT	,
na	ADP	na
nagovor	NOUN	nagovor
mojih	DET	moj
ucenika	NOUN	ucenika
,	PUNCT	,
formirali	VERB	formirati
smo	AUX	jesam
bagminton	NOUN	bagminton
savez	NOUN	savez
Jugoslavije	PROPN	Jugoslavija
i	CCONJ	i
Srbije	PROPN	Srbija
i	CCONJ	i
to	DET	taj
smo	AUX	jesam
onda	ADV	onda
pruzili	VERB	pruzili
mogućnost	NOUN	mogućnost
gimnaziji	NOUN	gimnazija
da	SCONJ	da
se	PART	se
razvija	VERB	razvijati
.	PUNCT	.
Dvanaest	NUM	dvanaest
godina	NOUN	godina
Šabac	PROPN	Šabac
je	AUX	jesam
bio	AUX	biti
ekipni	ADJ	ekipni
prvak	NOUN	prvak
Jugosavije	ADJ	Jugosavije
u	ADP	u
bagmintonu	NOUN	bagmintonu
.	PUNCT	.
Imali	VERB	imati
smo	AUX	jesam
par	NOUN	par
medalja	NOUN	medalja
među	ADP	među
njima	PRON	ona
i	CCONJ	i
svakako	ADV	svakako
jedna	NUM	jedan
od	ADP	od
prvih	ADJ	prvi
zlatnih	ADJ	zlatan
medalja	NOUN	medalja
je	AUX	jesam
Jelena	PROPN	Jelena
Obrić	PROPN	Obrić
.	PUNCT	.
Ona	PRON	ona
sa	ADP	sa
jednom	NUM	jedan
grkinjom	NOUN	grkinja
,	PUNCT	,
osvojile	VERB	osvojiti
su	AUX	jesam
prvenstvo	NOUN	prvenstvo
Balkana	PROPN	Balkan
.	PUNCT	.
Znači	PROPN	Znači
ostali	VERB	ostati
sportovi	NOUN	sport
,	PUNCT	,
kao	CCONJ	kao
skijanje	NOUN	skijanje
i	CCONJ	i
plivanje	NOUN	plivanje
,	PUNCT	,
to	DET	taj
su	AUX	jesam
moji	DET	moj
hobiji	NOUN	hobi
bili	AUX	biti
i	CCONJ	i
tu	ADV	tu
sam	AUX	jesam
se	PART	se
puno	ADV	puno
angazovao	VERB	angazovao
.	PUNCT	.
Jedan	NUM	jedan
od	ADP	od
moje	DET	moj
dece	NOUN	deca
je	AUX	jesam
najbolji	ADJ	dobar
smučar	NOUN	smučar
i	CCONJ	i
osvajac	NOUN	osvajac
desetak	ADV	desetak
medalja	NOUN	medalja
,	PUNCT	,
Aleksandar	PROPN	Aleksandar
Saša	PROPN	Saša
Knezević	PROPN	Knezević
.	PUNCT	.
Tenutno	NOUN	Tenutno
je	AUX	jesam
monah	NOUN	monah
na	ADP	na
Hilandaru	PROPN	Hilandar
i	CCONJ	i
to	DET	taj
je	AUX	jesam
prvi	ADJ	prvi
čovek	NOUN	čovek
koji	DET	koji
je	AUX	jesam
osvajao	VERB	osvajati
medalje	NOUN	medalja
u	ADP	u
skijanju	NOUN	skijanje
.	PUNCT	.
Supruga	NOUN	supruga
pokojna	ADJ	pokojni
Nedelja	ADJ	Nedelja
Knezević	ADJ	Knezević
i	CCONJ	i
dva	NUM	dva
sina	NOUN	sin
Dejan	PROPN	Dejan
mladji	VERB	mladji
I	ADJ	I
Aleksandar	PROPN	Aleksandar
stariji	ADJ	star
.	PUNCT	.
Sada	ADV	sada
mu	PRON	on
je	AUX	jesam
Romilo	PROPN	Romilo
monaško	ADJ	monaški
ime	NOUN	ime
i	CCONJ	i
prvo	ADV	prvo
je	AUX	jesam
supruga	NOUN	supruga
upokojena	VERB	upokojiti
pre	ADP	pre
8	NUM	@card@
godina	NOUN	godina
a	ADV	a
ova	DET	ovaj
dvojica	NOUN	dvojica
rade	VERB	raditi
svoje	DET	svoj
poslove	NOUN	posao
.	PUNCT	.
Romilo	PROPN	Romilo
je	AUX	jesam
zavrsio	VERB	zavrsio
gimnaziju	NOUN	gimnazija
i	CCONJ	i
magistrirao	VERB	magistrirati
na	ADP	na
Filozofskom	ADJ	filozofski
fakultetu	NOUN	fakultet
,	PUNCT	,
jer	SCONJ	jer
to	DET	taj
je	AUX	jesam
bio	AUX	biti
uslov	NOUN	uslov
da	SCONJ	da
upise	NOUN	upis
Oksford	PROPN	Oksford
.	PUNCT	.
Otisao	VERB	Otisao
je	AUX	jesam
i	PART	i
šest	NUM	šest
godina	NOUN	godina
bio	AUX	biti
na	ADP	na
Oksfordu	PROPN	Oksford
i	CCONJ	i
tamo	ADV	tamo
je	AUX	jesam
doktorirao	VERB	doktorirati
prošlog	ADJ	prošli
novembra	NOUN	novembar
,	PUNCT	,
a	ADV	a
sad	ADV	sad
je	AUX	jesam
trenutno	ADV	trenutno
u	ADP	u
Parizu	PROPN	Pariz
sprema	VERB	spremati
postdoktorat	NOUN	postdoktorat
,	PUNCT	,
opasan	ADJ	opasan
tip	NOUN	tip
.	PUNCT	.
Dejan	PROPN	Dejan
je	AUX	jesam
mladji	VERB	mladji
,	PUNCT	,
ti	PRON	ti
znaš	VERB	znati
da	SCONJ	da
je	AUX	jesam
on	PRON	on
uz	ADP	uz
mene	PRON	ja
uvek	ADV	uvek
u	ADP	u
atletici	NOUN	atletika
i	CCONJ	i
kao	CCONJ	kao
sudija	NOUN	sudija
i	CCONJ	i
takmičar	NOUN	takmičar
.	PUNCT	.
On	PRON	on
je	AUX	jesam
viseštruki	ADJ	viseštruki
prvak	NOUN	prvak
Srbije	PROPN	Srbija
u	ADP	u
pionirskom	ADJ	pionirski
mladje	VERB	mladje
juniorskom	ADJ	juniorski
petoboju	NOUN	petoboj
,	PUNCT	,
znači	VERB	značiti
višebojima	NOUN	višeboj
.	PUNCT	.
Inače	ADJ	Inače
odlican	ADJ	odlican
smučar	NOUN	smučar
.	PUNCT	.
Nazalost	PROPN	Nazalost
nije	AUX	jesam
zavrsio	VERB	zavrsio
DIF	NOUN	DIF
,	PUNCT	,
došao	VERB	doći
je	AUX	jesam
do	ADP	do
druge	ADJ	drugi
godine	NOUN	godina
,	PUNCT	,
nije	AUX	jesam
ispunio	VERB	ispuniti
moja	DET	moj
ocekivanja	NOUN	ocekivanja
.	PUNCT	.
E	CCONJ	e
to	DET	taj
očekujem	VERB	očekivati
sad	ADV	sad
od	ADP	od
unuke	NOUN	unuka
,	PUNCT	,
od	ADP	od
mladje	ADJ	mladje
unuke	NOUN	unuka
.	PUNCT	.
Dejanova	ADJ	Dejanov
mladja	ADJ	mladja
ćerka	NOUN	ćerka
,	PUNCT	,
jer	SCONJ	jer
ona	PRON	ona
hoce	NOUN	hodac
samo	CCONJ	samo
DIF	NOUN	DIF
.	PUNCT	.
Čekamo	VERB	Čekamo
ovo	DET	ovaj
renoviranje	NOUN	renoviranje
Sokolskog	ADJ	sokolski
doma	NOUN	dom
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
i	CCONJ	i
predsednik	NOUN	predsednik
tog	DET	taj
Sokolskog	ADJ	sokolski
drustva	NOUN	drustvo
.	PUNCT	.
Čekamo	VERB	Čekamo
to	DET	taj
renoviranje	NOUN	renoviranje
i	CCONJ	i
da	SCONJ	da
počnemo	VERB	početi
sa	ADP	sa
okupljanjem	NOUN	okupljanje
omladine	NOUN	omladina
,	PUNCT	,
jer	SCONJ	jer
objekat	NOUN	objekt
je	AUX	jesam
fantastičan	ADJ	fantastičan
,	PUNCT	,
on	PRON	on
je	AUX	jesam
otvoren	VERB	otvoriti
1934	NUM	@card@
.	PUNCT	.
Tako	ADV	tako
da	SCONJ	da
očekujemo	VERB	očekivati
brz	ADJ	brz
povratak	NOUN	povratak
i	CCONJ	i
obnavljanje	NOUN	obnavljanje
doma	NOUN	dom
,	PUNCT	,
jer	SCONJ	jer
rekao	VERB	reći
sam	AUX	jesam
ti	PRON	ti
i	CCONJ	i
malo	ADV	malo
pre	ADV	pre
,	PUNCT	,
mi	PRON	ja
gubimo	VERB	gubiti
godisnje	VERB	godisnje
najmanje	ADV	najmanje
hiljadu	ADV	hiljadu
članova	NOUN	član
,	PUNCT	,
posto	ADV	posto
nemaju	VERB	nemati
deca	NOUN	deca
gde	SCONJ	gde
ni	PART	ni
da	SCONJ	da
se	PART	se
prijave	VERB	prijaviti
.	PUNCT	.
Ni	CCONJ	ni
da	SCONJ	da
dođu	VERB	doći
,	PUNCT	,
ni	CCONJ	ni
ko	PRON	ko
da	SCONJ	da
radi	VERB	raditi
sa	ADP	sa
njima	PRON	ona
,	PUNCT	,
a	ADV	a
čim	SCONJ	čim
bi	AUX	biti
to	DET	taj
krenulo	VERB	krenuti
cirkulacija	NOUN	cirkulacija
ta	DET	taj
,	PUNCT	,
onda	SCONJ	onda
bi	AUX	biti
to	DET	taj
bilo	AUX	biti
mnogo	ADV	mnogo
lepo	ADV	lepo
,	PUNCT	,
imali	VERB	imati
bi	AUX	biti
puno	ADJ	pun
omladine	NOUN	omladina
,	PUNCT	,
imali	VERB	imati
bi	AUX	biti
sve	DET	sav
sekcije	NOUN	sekcija
koje	DET	koji
smo	AUX	jesam
imali	VERB	imati
ranije	ADV	ranije
.	PUNCT	.
To	DET	taj
je	AUX	jesam
atletika	NOUN	atletika
,	PUNCT	,
gimnastika	NOUN	gimnastika
,	PUNCT	,
odbojka	NOUN	odbojka
,	PUNCT	,
bandmiton	NOUN	bandmiton
,	PUNCT	,
sve	DET	sav
je	AUX	jesam
tu	ADV	tu
bilo	AUX	biti
,	PUNCT	,
praktično	ADV	praktično
svi	DET	sav
sportovi	NOUN	sport
.	PUNCT	.
Ono	PRON	ono
što	SCONJ	što
je	AUX	jesam
najvaznije	ADJ	najvaznije
i	CCONJ	i
što	SCONJ	što
je	AUX	jesam
zalosno	ADJ	zalosno
da	SCONJ	da
Šabac	PROPN	Šabac
nikakako	DET	nikakako
ne	PART	ne
moze	VERB	moze
da	SCONJ	da
prihvati	VERB	prihvatiti
da	SCONJ	da
je	AUX	jesam
Sokolski	ADJ	sokolski
dom	NOUN	dom
ustvari	ADV	ustvari
prvo	ADJ	prvi
mesto	NOUN	mesto
gde	SCONJ	gde
su	AUX	jesam
se	PART	se
radjali	VERB	radjali
svi	DET	sav
najbolji	ADJ	dobar
sportisti	NOUN	sportista
,	PUNCT	,
medju	PROPN	medju
njima	PRON	ona
svakako	PART	svakako
jedan	NUM	jedan
od	ADP	od
velikana	NOUN	velikan
je	AUX	jesam
Dragutin	PROPN	Dragutin
Lazarević	PROPN	Lazarević
Cakan	PROPN	Cakan
,	PUNCT	,
skakač	NOUN	skakač
u	ADP	u
dalj	NOUN	dalj
,	PUNCT	,
covek	ADJ	covek
koji	DET	koji
je	AUX	jesam
zavrsio	VERB	zavrsio
gimnaziju	NOUN	gimnazija
i	CCONJ	i
poceo	VERB	poceo
da	SCONJ	da
studira	VERB	studirati
medjutim	ADJ	medjutim
tragicno	NOUN	tragicno
zavrsio	VERB	zavrsio
.	PUNCT	.
Nemci	PROPN	Nemac
su	AUX	jesam
ga	PRON	on
streljali	VERB	streljati
u	ADP	u
Prnjavoru	PROPN	Prnjavor
četrdeset	NUM	četrdeset
prve	ADJ	prvi
u	ADP	u
dvadest	NOUN	dvadest
prvoj	ADJ	prvi
godini	NOUN	godina
zivota	NOUN	zivota
,	PUNCT	,
a	ADV	a
pre	ADP	pre
toga	DET	taj
znaci	NOUN	znak
oborio	VERB	oboriti
je	AUX	jesam
Jugoslovenski	ADJ	jugoslovenski
rekord	NOUN	rekord
i	CCONJ	i
bio	AUX	biti
prvi	ADJ	prvi
Srbin	PROPN	Srbin
preko	ADP	preko
sedam	NUM	sedam
metara	NOUN	metar
i	CCONJ	i
bio	AUX	biti
prvak	NOUN	prvak
Balkana	PROPN	Balkan
u	ADP	u
skoku	NOUN	skok
u	ADP	u
dalj	NOUN	dalj
.	PUNCT	.
Znači	ADJ	Znači
ličnost	NOUN	ličnost
jedna	NUM	jedan
fenomenalna	ADJ	fenomenalan
,	PUNCT	,
to	DET	taj
cu	ADV	cu
tebi	PRON	ti
posebno	ADV	posebno
da	SCONJ	da
poklonim	VERB	pokloniti
monografiju	NOUN	monografija
njegovu	DET	njegov
,	PUNCT	,
to	DET	taj
smo	AUX	jesam
završili	VERB	završiti
i	CCONJ	i
da	SCONJ	da
dodješ	VERB	dodješ
na	ADP	na
proglašenje	NOUN	proglašenje
u	ADP	u
Gimnazji	ADJ	Gimnazji
,	PUNCT	,
biće	AUX	biti
negde	ADV	negde
oko	ADP	oko
petnaestog	ADJ	petnaesti
marta	NOUN	mart
.	PUNCT	.
Znaci	NOUN	znak
to	DET	taj
je	AUX	jesam
jedna	NUM	jedan
fantastična	ADJ	fantastičan
licnost	NOUN	licnost
koju	DET	koji
Šabac	PROPN	Šabac
nikad	ADV	nikad
nije	AUX	jesam
imao	VERB	imati
i	CCONJ	i
ne	PART	ne
verujem	VERB	verovati
da	SCONJ	da
ce	ADV	ce
imati	VERB	imati
.	PUNCT	.
To	DET	taj
je	AUX	jesam
sada	ADV	sada
samo	PART	samo
njegove	DET	njegov
neke	DET	neki
perfomanse	NOUN	perfomansa
,	PUNCT	,
sto	NUM	sto
devedest	NOUN	devedest
visok	ADJ	visok
,	PUNCT	,
trcao	VERB	trcao
je	AUX	jesam
deset	NUM	deset
osam	NUM	osam
na	ADP	na
sto	NUM	sto
metara	NOUN	metar
,	PUNCT	,
mozes	ADJ	mozes
da	SCONJ	da
misliš	VERB	misliti
tad	ADV	tad
se	PART	se
nije	AUX	jesam
ni	PART	ni
treniralo	VERB	trenirati
,	PUNCT	,
čisto	ADV	čisto
rekreacija	NOUN	rekreacija
bila	AUX	biti
,	PUNCT	,
išao	VERB	ići
četristo	NUM	četristo
u	ADP	u
dalj	NOUN	dalj
,	PUNCT	,
trčao	VERB	trčati
štafete	NOUN	štafeta
,	PUNCT	,
a	ADV	a
po	ADP	po
izjavi	NOUN	izjava
našeg	DET	naš
čuvenog	ADJ	čuven
profesora	NOUN	profesor
Sergeja	PROPN	Sergej
Lukača	PROPN	Lukač
,	PUNCT	,
čuvenog	ADJ	čuven
našeg	DET	naš
profesora	NOUN	profesor
iz	ADP	iz
Beograda	PROPN	Beograd
,	PUNCT	,
koji	DET	koji
više	ADV	više
nije	AUX	jesam
ziv	VERB	ziv
,	PUNCT	,
on	PRON	on
je	AUX	jesam
sa	ADP	sa
Cakanom	PROPN	Cakanom
bio	AUX	biti
u	ADP	u
generaciji	NOUN	generacija
.	PUNCT	.
Na	ADP	na
jednom	NUM	jedan
sastanku	NOUN	sastanak
me	PRON	ja
pozove	VERB	pozvati
I	ADJ	I
kaze	NOUN	kaza
:	PUNCT	:
"	PUNCT	"
Imam	VERB	imati
da	SCONJ	da
ti	PRON	ti
pričam	VERB	pričati
neke	DET	neki
stvari	NOUN	stvar
"	PUNCT	"
.	PUNCT	.
Cakan	PROPN	Cakan
je	AUX	jesam
toliko	ADV	toliko
svestan	ADJ	svestan
čovek	NOUN	čovek
bio	AUX	biti
,	PUNCT	,
pre	ADP	pre
svega	DET	sav
pravi	ADJ	prav
čovek	NOUN	čovek
i	CCONJ	i
drugar	NOUN	drugar
,	PUNCT	,
a	ADV	a
takve	DET	takav
je	AUX	jesam
kvalitete	NOUN	kvalitet
imao	VERB	imati
da	SCONJ	da
je	AUX	jesam
mogao	VERB	moći
celu	ADJ	ceo
reprezentaciju	NOUN	reprezentacija
da	SCONJ	da
pobedi	NOUN	pobeda
-	PUNCT	-
sto	NUM	sto
,	PUNCT	,
dvesta	NUM	dvesta
,	PUNCT	,
četristo	NUM	četristo
,	PUNCT	,
u	ADP	u
dalj	NOUN	dalj
i	CCONJ	i
tako	ADV	tako
dalje	ADV	dalje
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Tako	ADV	tako
da	SCONJ	da
je	AUX	jesam
Cakan	ADJ	Cakan
velika	ADJ	velik
ličnost	NOUN	ličnost
.	PUNCT	.
Druzimo	VERB	Druzimo
se	PART	se
u	ADP	u
klubu	NOUN	klub
,	PUNCT	,
svi	DET	sav
su	AUX	jesam
članovi	NOUN	član
sokolskog	ADJ	sokolski
društva	NOUN	društvo
pokušavamo	VERB	pokušavati
da	SCONJ	da
rešimo	VERB	rešiti
to	DET	taj
i	CCONJ	i
neke	DET	neki
akcije	NOUN	akcija
smo	AUX	jesam
vrlo	ADV	vrlo
uspešno	ADV	uspešno
rešili	VERB	rešiti
,	PUNCT	,
a	ADV	a
to	DET	taj
je	AUX	jesam
ovaj	DET	ovaj
Sokolski	ADJ	sokolski
kros	NOUN	kros
što	SCONJ	što
u	ADP	u
jesen	NOUN	jesen
ide	VERB	ići
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
uvek	ADV	uvek
u	ADP	u
nekom	DET	neki
čitanju	NOUN	čitanje
,	PUNCT	,
letos	ADV	letos
sam	AUX	jesam
zavrsio	VERB	zavrsio
Pupina	PROPN	Pupin
,	PUNCT	,
pa	CCONJ	pa
onda	ADV	onda
me	PRON	ja
stariji	ADJ	star
sin	NOUN	sin
kljuka	VERB	kljukati
sa	ADP	sa
nekim	DET	neki
filozofskim	ADJ	filozofski
knjigama	NOUN	knjiga
.	PUNCT	.
Ne	PART	ne
mozes	NOUN	mozes
da	SCONJ	da
ne	PART	ne
čitas	VERB	čitas
,	PUNCT	,
zahvaljući	VERB	zahvaljući
njemu	PRON	on
.	PUNCT	.
On	PRON	on
je	AUX	jesam
otišao	VERB	otići
da	SCONJ	da
se	PART	se
zamonaši	VERB	zamonašiti
,	PUNCT	,
ali	CCONJ	ali
je	AUX	jesam
trazio	VERB	trazio
blagoslov	NOUN	blagoslov
od	ADP	od
Nedeljke	PROPN	Nedeljka
i	CCONJ	i
mene	PRON	ja
,	PUNCT	,
jer	SCONJ	jer
nije	AUX	jesam
mogao	VERB	moći
dok	SCONJ	dok
ne	PART	ne
dobije	VERB	dobiti
roditeljski	ADJ	roditeljski
blagoslov	NOUN	blagoslov
.	PUNCT	.
Otišao	VERB	Otišao
je	AUX	jesam
na	ADP	na
tri	NUM	tri
godine	NOUN	godina
u	ADP	u
Studenicu	PROPN	Studenica
,	PUNCT	,
pa	CCONJ	pa
u	ADP	u
Hilandar	PROPN	Hilandar
i	CCONJ	i
mogu	VERB	moći
njemu	PRON	on
da	SCONJ	da
se	PART	se
zahvalim	VERB	zahvaliti
što	SCONJ	što
sam	AUX	jesam
upoznao	VERB	upoznati
celu	ADJ	ceo
Svetu	PROPN	Sveta
goru	NOUN	gora
,	PUNCT	,
jer	SCONJ	jer
deset	NUM	deset
puta	NOUN	put
sam	AUX	jesam
bio	AUX	biti
,	PUNCT	,
zatim	ADV	zatim
što	SCONJ	što
sam	AUX	jesam
prosle	VERB	prosle
godine	NOUN	godina
bio	AUX	biti
na	ADP	na
proslavi	NOUN	proslava
njegovog	DET	njegov
doktorata	NOUN	doktorat
.	PUNCT	.
To	DET	taj
su	AUX	jesam
takvi	DET	takav
ambijenti	NOUN	ambijent
i	CCONJ	i
sve	DET	sav
to	DET	taj
,	PUNCT	,
a	ADV	a
ja	PRON	ja
nemam	VERB	nemati
pare	NOUN	par
,	PUNCT	,
sve	DET	sav
on	PRON	on
plati	VERB	platiti
i	CCONJ	i
to	DET	taj
je	AUX	jesam
to	DET	taj
.	PUNCT	.
Što	ADJ	Što
kaze	NOUN	kaza
,	PUNCT	,
nema	VERB	nemati
ni	PART	ni
stipendiju	NOUN	stipendija
,	PUNCT	,
nema	VERB	nemati
ništa	PRON	ništa
ali	CCONJ	ali
snalazi	VERB	snalaziti
se	PART	se
i	CCONJ	i
nadam	VERB	nadati
se	PART	se
da	SCONJ	da
će	AUX	hteti
ga	PRON	on
neko	PRON	neko
shvatiti	VERB	shvatiti
,	PUNCT	,
jer	SCONJ	jer
prva	ADJ	prvi
njegova	DET	njegov
knjiga	NOUN	knjiga
je	AUX	jesam
izasla	VERB	izaslati
„	PUNCT	„
Razmisljanje	PROPN	Razmisljanje
o	ADP	o
Prustu	PROPN	Prust
“	PUNCT	“
.	PUNCT	.
Sada	ADV	sada
pise	ADV	pise
jednu	NUM	jedan
veliku	ADJ	velik
knjigu	NOUN	knjiga
posvecenu	VERB	posvecenu
filozofskim	ADJ	filozofski
i	CCONJ	i
socijalnim	ADJ	socijalan
idejama	NOUN	ideja
u	ADP	u
pravoslavlju	NOUN	pravoslavlje
i	CCONJ	i
veri	NOUN	vera
i	CCONJ	i
ima	VERB	imati
napredno	ADJ	napredan
mišljenje	NOUN	mišljenje
.	PUNCT	.
Nije	AUX	jesam
kao	ADV	kao
naše	DET	naš
matore	ADJ	mator
vladike	NOUN	vladika
da	SCONJ	da
se	PART	se
zavale	VERB	zavaliti
u	ADP	u
fotelju	NOUN	fotelja
i	CCONJ	i
da	SCONJ	da
ceka	NOUN	ceka
da	SCONJ	da
ode	VERB	otići
u	ADP	u
penziju	NOUN	penzija
.	PUNCT	.
Hoće	ADV	Hoće
da	SCONJ	da
otvori	VERB	otvoriti
kulturni	ADJ	kulturan
centar	NOUN	centar
na	ADP	na
Zlatiboru	PROPN	Zlatibor
i	CCONJ	i
u	ADP	u
Parizu	PROPN	Pariz
,	PUNCT	,
koji	DET	koji
će	AUX	hteti
se	PART	se
poklapati	VERB	poklapati
izmedju	VERB	izmedju
sebe	PRON	sebe
i	CCONJ	i
da	SCONJ	da
studenti	NOUN	student
odlaze	VERB	odlaziti
.	PUNCT	.
