Snimaš	VERB	snimati
ti	DET	taj
ovo	DET	ovaj
.	PUNCT	.
Dobro	ADV	dobro
što	SCONJ	što
.	PUNCT	.
Kako	ADV	kako
bomba	NOUN	bomba
?	PUNCT	?
NATO	SYM	NATO
.	PUNCT	.
Pa	PART	pa
da	PART	da
.	PUNCT	.
Kako	SCONJ	kako
ja	PRON	ja
to	DET	taj
ne	PART	ne
znam	VERB	znati
?	PUNCT	?
Pa	CCONJ	pa
da	PART	da
,	PUNCT	,
može	VERB	moći
biti	AUX	biti
.	PUNCT	.
Ne	PART	ne
ne	PART	ne
.	PUNCT	.
Vidiš	VERB	viditi
kako	SCONJ	kako
sam	AUX	jesam
omatorila	VERB	omatoriti
.	PUNCT	.
Ako	SCONJ	ako
on	PRON	on
uspe	VERB	uspeti
s	ADP	s
tom	DET	taj
pravdom	NOUN	pravda
.	PUNCT	.
Ako	SCONJ	ako
njega	PRON	on
istuku	VERB	istući
...	PUNCT	...
Dvoje	NUM	dvoje
unuka	NOUN	unuka
i	CCONJ	i
jedno	NUM	jedan
dete	NOUN	dete
,	PUNCT	,
jedan	NUM	jedan
odrastao	ADJ	odrastao
.	PUNCT	.
Ne	PART	ne
znam	VERB	znati
.	PUNCT	.
Bože	PROPN	Boža
me	PRON	ja
sačuvaj	VERB	sačuvati
...	PUNCT	...
Ne	PART	ne
znam	VERB	znati
neka	DET	neki
tako	ADV	tako
imena	NOUN	ime
dece	NOUN	deca
strašno	ADV	strašno
...	PUNCT	...
Noa	PROPN	Noa
.	PUNCT	.
Nije	AUX	jesam
L.	X	L.
Noa	PROPN	Noa
.	PUNCT	.
Ja	PRON	ja
to	DET	taj
sutra	ADV	sutra
već	ADV	već
opet	ADV	opet
ne	PART	ne
znam	VERB	znati
.	PUNCT	.
Da	SCONJ	da
.	PUNCT	.
Tibor	PROPN	Tibor
.	PUNCT	.
Robert	PROPN	Robert
.	PUNCT	.
Noina	PROPN	Noina
mama	NOUN	mam
,	PUNCT	,
e	INTJ	e
pa	CCONJ	pa
eto	PART	eto
sad	ADV	sad
,	PUNCT	,
Noina	PROPN	Noina
mama	NOUN	mam
,	PUNCT	,
pa	CCONJ	pa
skrojte	VERB	skrojiti
ga	PRON	on
.	PUNCT	.
A	CCONJ	A
kako	SCONJ	kako
plače	VERB	plakati
,	PUNCT	,
ništa	PRON	ništa
ona	PRON	ona
još	ADV	još
ne	PART	ne
razume	VERB	razumeti
.	PUNCT	.
Valjda	PART	valjda
,	PUNCT	,
mislim	VERB	misliti
da	SCONJ	da
.	PUNCT	.
Ne	PART	ne
znam	VERB	znati
.	PUNCT	.
Zaboravim	VERB	zaboraviti
.	PUNCT	.
Sve	ADV	sve
skoro	ADV	skoro
zaboravim	VERB	zaboraviti
.	PUNCT	.
I	CCONJ	i
sad	ADV	sad
tu	ADV	tu
se	PART	se
podsećam	VERB	podsećati
.	PUNCT	.
Pre	ADV	pre
mogu	VERB	moći
mađarski	VERB	mađarski
da	SCONJ	da
Vam	PRON	vi
sve	DET	sav
to	DET	taj
kažem	VERB	kazati
.	PUNCT	.
Pa	CCONJ	pa
nisam	AUX	jesam
ni	PART	ni
rekla	VERB	reći
.	PUNCT	.
Sad	ADV	sad
možda	PART	možda
ni	PART	ni
ne	PART	ne
umem	VERB	umeti
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
odrasla	VERB	odrasti
,	PUNCT	,
kod	ADP	kod
časnih	ADJ	častan
sestara	NOUN	sestra
,	PUNCT	,
u	ADP	u
Temerinu	PROPN	Temerin
.	PUNCT	.
To	DET	taj
je	AUX	jesam
mađarski	ADJ	mađarski
.	PUNCT	.
I	CCONJ	i
ja	PRON	ja
sam	AUX	jesam
to	DET	taj
sve	DET	sav
znala	VERB	znati
,	PUNCT	,
i	CCONJ	i
polako	ADV	polako
se	PART	se
to	DET	taj
gubi	VERB	gubiti
.	PUNCT	.
Sad	ADV	sad
imam	VERB	imati
i	CCONJ	i
drugih	ADJ	drugi
dodataka	NOUN	dodatak
.	PUNCT	.
Sad	ADV	sad
ta	DET	taj
Noa	PROPN	Noa
i	CCONJ	i
Roz	PROPN	Roz
ima	VERB	imati
jedno	NUM	jedan
ime	NOUN	ime
Bože	PROPN	Boža
me	PRON	ja
oprosti	VERB	oprostiti
.	PUNCT	.
Nju	PRON	ona
?	PUNCT	?
A	CCONJ	A
ona	PRON	ona
što	PRON	što
...	PUNCT	...
To	DET	taj
je	AUX	jesam
strašno	ADV	strašno
.	PUNCT	.
Jedno	NUM	jedan
dvadesetdve	ADJ	dvadesetdve
,	PUNCT	,
jedno	NUM	jedan
dvadeset-dve	ADJ	dvadeset-dve
,	PUNCT	,
tako	ADV	tako
otprilike	ADV	otprilike
.	PUNCT	.
Unuk	NOUN	unuk
.	PUNCT	.
{	PUNCT	{
Ksenija	PROPN	Ksenija
}	PUNCT	}
Da	SCONJ	da
ona	PRON	ona
je	AUX	jesam
starija	ADJ	star
.	PUNCT	.
A	CCONJ	A
nema	VERB	nemati
još	ADV	još
ni	PART	ni
godinu	NOUN	godina
.	PUNCT	.
Nema	ADJ	nem
ime	NOUN	ime
.	PUNCT	.
Nema	VERB	nemati
ni	PART	ni
nadimak	NOUN	nadimak
.	PUNCT	.
A	CCONJ	A
ne	PART	ne
,	PUNCT	,
volim	VERB	voliti
,	PUNCT	,
sve	DET	sav
volim	VERB	voliti
.	PUNCT	.
Jeste	AUX	jesam
.	PUNCT	.
Ganja	NOUN	ganj
je	AUX	jesam
druga	ADJ	drugi
.	PUNCT	.
Da	SCONJ	da
.	PUNCT	.
Ovu	DET	ovaj
koju	DET	koji
ne	PART	ne
vole	VERB	voliti
a	CCONJ	a
ja	PRON	ja
...	PUNCT	...
Vam	PRON	vi
kažem	VERB	kazati
...	PUNCT	...
Vi	PRON	vi
možete	VERB	moći
radite	VERB	raditi
šta	PRON	šta
hoćete	AUX	hteti
a	CCONJ	a
ja	PRON	ja
hoću	AUX	hteti
šta	PRON	šta
ja	PRON	ja
hoću	AUX	hteti
.	PUNCT	.
Nije	AUX	jesam
kod	ADP	kod
mene	PRON	ja
.	PUNCT	.
I	CCONJ	i
ja	PRON	ja
ću	AUX	hteti
nadoknaditi	VERB	nadoknaditi
to	DET	taj
.	PUNCT	.
Finansijski	ADJ	finansijski
.	PUNCT	.
Meni	PRON	ja
to	DET	taj
ni	PART	ni
ne	PART	ne
treba	VERB	trebati
.	PUNCT	.
A	CCONJ	A
različiti	ADJ	različit
smo	AUX	jesam
,	PUNCT	,
i	CCONJ	i
nema	ADJ	nem
pomoći	NOUN	pomoć
.	PUNCT	.
Ne	PART	ne
mogu	VERB	moći
ja	PRON	ja
sad	ADV	sad
to	DET	taj
da	SCONJ	da
ispravim	VERB	ispraviti
kad	SCONJ	kad
biće	AUX	biti
bolje	ADV	bolje
.	PUNCT	.
A	CCONJ	A
ruski	ADJ	ruski
,	PUNCT	,
nismo	AUX	jesam
ni	PART	ni
dotakli	VERB	dotaknuti
.	PUNCT	.
Moj	DET	moj
papaša	VERB	papaša
?	PUNCT	?
Rekla	VERB	reći
si	AUX	jesam
,	PUNCT	,
da	SCONJ	da
...	PUNCT	...
Ivan	PROPN	Ivan
.	PUNCT	.
A	CCONJ	A
nisam	AUX	jesam
sigurna	ADJ	siguran
.	PUNCT	.
Ivan	PROPN	Ivan
nam	PRON	mi
je	AUX	jesam
on	PRON	on
.	PUNCT	.
Ako	SCONJ	ako
nije	AUX	jesam
deda	NOUN	ded
,	PUNCT	,
onda	SCONJ	onda
je	AUX	jesam
pradeda	NOUN	pradeda
.	PUNCT	.
Eta	PROPN	Eta
naša	DET	naš
.	PUNCT	.
Familija	NOUN	familija
,	PUNCT	,
pa	CCONJ	pa
da	SCONJ	da
.	PUNCT	.
Jeste	AUX	jesam
,	PUNCT	,
ali	CCONJ	ali
imam	VERB	imati
ja	PRON	ja
i	CCONJ	i
Mađare	PROPN	Mađar
moje	DET	moj
.	PUNCT	.
Nećemo	AUX	hteti
sad	ADV	sad
preskočiti	VERB	preskočiti
.	PUNCT	.
Pa	CCONJ	pa
ko	PRON	ko
imamo	VERB	imati
tu	ADV	tu
,	PUNCT	,
dede	NOUN	ded
babe	NOUN	baba
,	PUNCT	,
puno	ADV	puno
.	PUNCT	.
Rus	PROPN	Rus
.	PUNCT	.
Ne	PART	ne
.	PUNCT	.
Baka	PROPN	Bak
jedna	NUM	jedan
.	PUNCT	.
Baka	PROPN	Bak
i	CCONJ	i
deda	NOUN	ded
.	PUNCT	.
Od	ADP	od
...	PUNCT	...
Ne	PART	ne
.	PUNCT	.
Od	ADP	od
Mađara	PROPN	Mađar
.	PUNCT	.
Pa	PART	pa
da	PART	da
.	PUNCT	.
Tibor	PROPN	Tibor
.	PUNCT	.
Robert	PROPN	Robert
.	PUNCT	.
A	CCONJ	A
njegov	DET	njegov
sin	NOUN	sin
je	AUX	jesam
...	PUNCT	...
O	ADP	o
majko	NOUN	majka
moja	DET	moj
.	PUNCT	.
Srpsko	ADJ	srpski
ime	NOUN	ime
ima	VERB	imati
...	PUNCT	...
Aleksandar	PROPN	Aleksandar
.	PUNCT	.
A	CCONJ	A
...	PUNCT	...
O	ADP	o
Bože	PROPN	Boža
Bože	PROPN	Boža
Znam	VERB	znati
ali	CCONJ	ali
eto	PART	eto
,	PUNCT	,
ne	PART	ne
ide	VERB	ići
.	PUNCT	.
Stari	ADJ	star
inženjer	NOUN	inženjer
je	AUX	jesam
iz	ADP	iz
Sivca	PROPN	Sivac
.	PUNCT	.
Nešto	PRON	nešto
nam	PRON	mi
je	AUX	jesam
...	PUNCT	...
Često	ADV	često
je	AUX	jesam
on	PRON	on
...	PUNCT	...
I	PART	i
to	DET	taj
nije	AUX	jesam
ni	PART	ni
mnogo	ADV	mnogo
,	PUNCT	,
treba	VERB	trebati
još	ADV	još
više	ADV	više
.	PUNCT	.
A	CCONJ	A
niko	PRON	niki
ne	PART	ne
kaže	VERB	kazati
Aleksandar	PROPN	Aleksandar
.	PUNCT	.
Pa	PART	pa
dobro	ADV	dobro
to	DET	taj
je	AUX	jesam
njegov	DET	njegov
problem	NOUN	problem
.	PUNCT	.
Moja	DET	moj
baka	NOUN	baka
,	PUNCT	,
je	AUX	jesam
imala	VERB	imati
dvanaestoro	NUM	dvanaestoro
dece	NOUN	deca
.	PUNCT	.
Dvanaestoro	NUM	dvanaestoro
,	PUNCT	,
svih	DET	sav
dvanaestoro	NOUN	dvanaestoro
,	PUNCT	,
i	CCONJ	i
to	DET	taj
lepi	ADJ	lep
kao	ADV	kao
lučići	NOUN	lučići
.	PUNCT	.
I	CCONJ	i
,	PUNCT	,
dobili	VERB	dobiti
su	AUX	jesam
,	PUNCT	,
razboleli	VERB	razboleti
se	PART	se
i	CCONJ	i
treba	VERB	trebati
ovaj	DET	ovaj
,	PUNCT	,
lekarska	ADJ	lekarski
intervencija	NOUN	intervencija
,	PUNCT	,
i	CCONJ	i
doktor	NOUN	doktor
Šubenaš	PROPN	Šubenaš
je	AUX	jesam
rekao	VERB	reći
,	PUNCT	,
jedno	NUM	jedan
jutro	NOUN	jutro
zemlje	NOUN	zemlja
pa	CCONJ	pa
ću	AUX	hteti
da	SCONJ	da
ih	PRON	ona
izlečim	VERB	izlečiti
.	PUNCT	.
I	CCONJ	i
deda	NOUN	ded
nije	AUX	jesam
dao	VERB	dati
i.	X	i.
..	PUNCT	..
I	CCONJ	i
,	PUNCT	,
ne	PART	ne
znam	VERB	znati
kolko	ADV	kolko
je	AUX	jesam
umrlo	VERB	umreti
.	PUNCT	.
Deda	NOUN	ded
nije	AUX	jesam
hteo	AUX	hteti
.	PUNCT	.
A	CCONJ	A
hoćete	AUX	hteti
i	CCONJ	i
da	SCONJ	da
Vam	PRON	vi
,	PUNCT	,
iz	ADP	iz
Rostova	PROPN	Rostov
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
iz	ADP	iz
Rostova	PROPN	Rostov
došla	VERB	doći
ovamo	ADV	ovamo
.	PUNCT	.
I	CCONJ	i
da	SCONJ	da
čujete	VERB	čuti
samo	PART	samo
kako	SCONJ	kako
oni	PRON	oni
različito	ADV	različito
misle	VERB	misliti
,	PUNCT	,
i	CCONJ	i
opšte	ADJ	opšti
.	PUNCT	.
Moji	ADV	moji
Rusi	PROPN	Rus
.	PUNCT	.
Neka	DET	neki
znaju	VERB	znati
oni	PRON	oni
šta	PRON	šta
je	AUX	jesam
.	PUNCT	.
E	CCONJ	e
pa	CCONJ	pa
sad	ADV	sad
baš	PART	baš
preterate	VERB	preterati
.	PUNCT	.
Čuj	VERB	čuti
njega	PRON	on
.	PUNCT	.
Druga	ADJ	drugi
po	ADP	po
redu	NOUN	red
žena	NOUN	žena
?	PUNCT	?
Nešto	PRON	nešto
ne	PART	ne
štima	VERB	štimati
.	PUNCT	.
Pa	CCONJ	pa
i	PART	i
mi	PRON	ja
.	PUNCT	.
Koji	DET	koji
je	AUX	jesam
to	DET	taj
?	PUNCT	?
Jeste	AUX	jesam
.	PUNCT	.
Beba	PROPN	Beba
.	PUNCT	.
Visoka	ADJ	visok
.	PUNCT	.
A	CCONJ	A
obožavam	VERB	obožavati
je	AUX	jesam
.	PUNCT	.
