Šta	PRON	šta
sam	AUX	jesam
radila	VERB	raditi
?	PUNCT	?
Zima	NOUN	zima
,	PUNCT	,
kakva	DET	kakav
zima	NOUN	zima
.	PUNCT	.
Kad	SCONJ	kad
smo	AUX	jesam
mi	PRON	ja
ma	PART	ma
ovaj	DET	ovaj
...	PUNCT	...
Ja	PRON	ja
ja	PRON	ja
ja	PRON	ja
...	PUNCT	...
A	CCONJ	A
ja	PRON	ja
sam	AUX	jesam
ništa	PRON	ništa
,	PUNCT	,
ništa	ADV	ništa
,	PUNCT	,
a	CCONJ	a
vidi	VERB	viditi
koju	DET	koji
on	PRON	on
...	PUNCT	...
Pogledaj	VERB	pogledati
koju	DET	koji
on	PRON	on
...	PUNCT	...
A	CCONJ	A
video	VERB	videti
te	DET	taj
je	AUX	jesam
jel	X	jel
?	PUNCT	?
Mile	PROPN	Mil
pile	NOUN	pila
.	PUNCT	.
Maalo	NOUN	maala
,	PUNCT	,
malo	ADV	malo
,	PUNCT	,
malo	ADV	malo
.	PUNCT	.
Nećemo	AUX	hteti
.	PUNCT	.
Tragedija	NOUN	tragedija
velika	ADJ	velik
.	PUNCT	.
Ništa	PRON	ništa
,	PUNCT	,
jao	INTJ	jao
gospode	NOUN	gospoda
.	PUNCT	.
Ijao	ADJ	Ijao
bože	NOUN	bog
.	PUNCT	.
Ijao	PROPN	Ijao
...	PUNCT	...
I	CCONJ	i
tako	ADV	tako
je	AUX	jesam
i	CCONJ	i
bilo	AUX	biti
.	PUNCT	.
Ijaoo	PROPN	Ijaoo
.	PUNCT	.
Ijaao	PROPN	Ijaao
.	PUNCT	.
Ijaao	ADJ	Ijaao
Bože	PROPN	Boža
.	PUNCT	.
Ijao	ADJ	Ijao
bože	NOUN	bog
.	PUNCT	.
Šta	PRON	šta
smo	AUX	jesam
sve	DET	sav
prebrodili	VERB	prebroditi
Ijao	ADJ	Ijao
Bože	PROPN	Boža
Strašno	ADV	strašno
.	PUNCT	.
Šta	PRON	šta
?	PUNCT	?
Ja	PRON	ja
imam	VERB	imati
...	PUNCT	...
Kolko	PROPN	Kolka
imam	VERB	imati
dece	NOUN	deca
?	PUNCT	?
Dece	NOUN	deca
?	PUNCT	?
Jedno	NUM	jedan
dete	NOUN	dete
.	PUNCT	.
Natašu	PROPN	Nataša
moju	DET	moj
.	PUNCT	.
Nataša	PROPN	Nataša
ima	VERB	imati
dvoje	NUM	dvoje
dece	NOUN	deca
.	PUNCT	.
Da	SCONJ	da
.	PUNCT	.
Milicu	PROPN	Milica
i	CCONJ	i
Lazara	PROPN	Lazar
.	PUNCT	.
Bave	VERB	baviti
se	PART	se
sa	ADP	sa
...	PUNCT	...
I	CCONJ	i
jezike	NOUN	jezik
i	CCONJ	i
sport	NOUN	sport
i.	X	i.
..	PUNCT	..
Ma	PART	ma
sve	ADV	sve
.	PUNCT	.
Pa	CCONJ	pa
,	PUNCT	,
Milica	PROPN	Milica
ima	VERB	imati
ovaj	DET	ovaj
sad	ADV	sad
šesnaest	NUM	šesnaest
...	PUNCT	...
A	CCONJ	A
lepa	ADJ	lep
je	AUX	jesam
ko	PRON	ko
lutka	NOUN	lutak
.	PUNCT	.
Visoka	ADJ	visok
,	PUNCT	,
a	CCONJ	a
...	PUNCT	...
A	CCONJ	A
Lazar	PROPN	Lazar
je	AUX	jesam
malo	ADV	malo
manji	ADJ	manji
a	CCONJ	a
ja	PRON	ja
više	ADV	više
i	CCONJ	i
volim	VERB	voliti
Lazara	PROPN	Lazar
on	PRON	on
je	AUX	jesam
tako	ADV	tako
mali	ADJ	mali
.	PUNCT	.
Niži	ADJ	nizak
je	AUX	jesam
došta	VERB	došta
od	ADP	od
Milice	PROPN	Milica
.	PUNCT	.
Milica	PROPN	Milica
je	AUX	jesam
visoka	ADJ	visok
...	PUNCT	...
I	CCONJ	i
ovaj	DET	ovaj
eto	PART	eto
to	DET	taj
.	PUNCT	.
Jesmo	AUX	jesam
.	PUNCT	.
Jaoj	ADJ	jaoj
Bože	PROPN	Boža
.	PUNCT	.
Biće	AUX	biti
biće	AUX	biti
.	PUNCT	.
Lepo	ADJ	lep
ime	NOUN	ime
.	PUNCT	.
Ilija	PROPN	Ili
.	PUNCT	.
Ovaj	DET	ovaj
...	PUNCT	...
Pa	CCONJ	pa
,	PUNCT	,
tu	ADV	tu
negde	ADV	negde
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
iz	ADP	iz
Sivca	PROPN	Sivac
.	PUNCT	.
Sivac	PROPN	Sivac
Nov.	X	Nov.
Ima	VERB	imati
Sivac	PROPN	Sivac
Novi	ADJ	nov
i	CCONJ	i
Sivac	PROPN	Sivac
Stari	ADJ	star
.	PUNCT	.
Aa	PROPN	Aa
tako	ADV	tako
.	PUNCT	.
Ju	PRON	ona
ju	PRON	ona
.	PUNCT	.
Jao	INTJ	jao
.	PUNCT	.
Ju	PRON	ona
ne	PART	ne
daj	VERB	dati
Bože	NOUN	Bože
.	PUNCT	.
Ajao	PROPN	Ajao
.	PUNCT	.
Dva	NUM	dva
muškarca	NOUN	muškarac
.	PUNCT	.
Milan	PROPN	Milan
i	CCONJ	i
Bratislav	PROPN	Bratislav
.	PUNCT	.
Mara	PROPN	Mara
.	PUNCT	.
Beba	PROPN	Beba
.	PUNCT	.
Maja	PROPN	Maja
,	PUNCT	,
da	SCONJ	da
.	PUNCT	.
I	CCONJ	i
žive	VERB	živiti
s	ADP	s
Vama	PRON	vi
,	PUNCT	,
žive	VERB	živiti
kod	ADP	kod
Vas	PRON	vi
?	PUNCT	?
Pa	CCONJ	pa
fino	ADV	fino
.	PUNCT	.
Jao	INTJ	jao
slatki	ADJ	sladak
.	PUNCT	.
Jel	PROPN	Jel
devojčicu	NOUN	devojčica
?	PUNCT	?
Ako	SCONJ	ako
je	AUX	jesam
unuka	NOUN	unuka
onda	SCONJ	onda
je	AUX	jesam
devojčica	NOUN	devojčica
.	PUNCT	.
Da	SCONJ	da
.	PUNCT	.
