Da	SCONJ	da
.	PUNCT	.
Savica	PROPN	Savica
Vasiljev	PROPN	Vasiljev
.	PUNCT	.
Da	SCONJ	da
.	PUNCT	.
I	CCONJ	i
imam	VERB	imati
.	PUNCT	.
Ćerku	NOUN	ćerka
moju	DET	moj
dragu	ADJ	drag
.	PUNCT	.
Da	SCONJ	da
.	PUNCT	.
Luče	PROPN	Luk
malo	ADV	malo
,	PUNCT	,
malo	ADV	malo
da	SCONJ	da
.	PUNCT	.
Gordana	PROPN	Gordana
...	PUNCT	...
Ćerka	NOUN	ćerka
da	SCONJ	da
...	PUNCT	...
Ana	PROPN	Ana
.	PUNCT	.
Ana	PROPN	Ana
.	PUNCT	.
Ana	PROPN	Ana
je	AUX	jesam
strašna	ADJ	strašan
.	PUNCT	.
Isto	ADV	isto
tako	ADV	tako
.	PUNCT	.
Je	AUX	jesam
l	PART	l
’	PUNCT	’
hoceš	X	hoceš
da	SCONJ	da
me	PRON	ja
ženiš	VERB	ženiti
?	PUNCT	?
Ne	PART	ne
možeš	VERB	moći
ni	CCONJ	ni
ustati	VERB	ustati
.	PUNCT	.
Ajde	PROPN	Ajda
hajde	INTJ	hajde
onda	ADV	onda
...	PUNCT	...
Ajde	PROPN	Ajda
ajde	INTJ	ajde
ajde	INTJ	ajde
...	PUNCT	...
Da	SCONJ	da
vidimo	VERB	viditi
.	PUNCT	.
Ajde	PROPN	Ajda
ovamo	ADV	ovamo
idemo	VERB	ići
ustati	VERB	ustati
.	PUNCT	.
Opa	VERB	opasti
..	PUNCT	..
opa	VERB	opasti
...	PUNCT	...
op	PROPN	op
op	INTJ	op
op.	X	op.
.	PUNCT	.
opa	PROPN	opa
...	PUNCT	...
Pa	PART	pa
šta	PRON	šta
vi	PRON	vi
mislite	VERB	misliti
?	PUNCT	?
E	CCONJ	e
to	DET	taj
ne	PART	ne
ide	VERB	ići
tako	ADV	tako
,	PUNCT	,
ne	PART	ne
,	PUNCT	,
ne	PART	ne
.	PUNCT	.
Hajde	INTJ	hajde
,	PUNCT	,
hajde	INTJ	hajde
,	PUNCT	,
opa	INTJ	opa
ajde	INTJ	ajde
ajde	INTJ	ajde
ajde	INTJ	ajde
..	PUNCT	..
Nek	ADV	nek
padneš	VERB	pasti
..	PUNCT	..
Ajde	NOUN	Ajde
ne	PART	ne
tako	ADV	tako
..	PUNCT	..
ajde	INTJ	ajde
Ma	PART	ma
neka	DET	neki
ga	PRON	on
.	PUNCT	.
Opa	VERB	opasti
...	PUNCT	...
op	PART	op
opa	VERB	opasti
.	PUNCT	.
To	DET	taj
Miki	PROPN	Mika
..	PUNCT	..
Ajde	NOUN	Ajde
Hajde	INTJ	hajde
sada	ADV	sada
kažem	VERB	kazati
hajde	SCONJ	hajde
.	PUNCT	.
Nema	VERB	nemati
,	PUNCT	,
nema	VERB	nemati
ništa	PRON	ništa
.	PUNCT	.
Pu	X	pu
..	PUNCT	..
Da	SCONJ	da
tražim	VERB	tražiti
drugoga	ADJ	drugi
.	PUNCT	.
Hocemo	PROPN	Hocemo
tražiti	VERB	tražiti
drugoga	ADJ	drugi
?	PUNCT	?
Ne	PART	ne
.	PUNCT	.
Opa	VERB	opasti
,	PUNCT	,
nema	ADJ	nem
veze	NOUN	veza
.	PUNCT	.
Opa	VERB	opasti
,	PUNCT	,
op.	X	op.
Hajde	PROPN	Hajd
....	PUNCT	....
op	PROPN	op
