Šta	VERB	Šta
da	SCONJ	da
šta	PRON	šta
šta	PRON	šta
kažem	VERB	kazati
?	PUNCT	?
Kako	SCONJ	kako
se	PART	se
zove	VERB	zvati
.	PUNCT	.
Pa	CCONJ	pa
Dragica	PROPN	Dragica
se	PART	se
zovem	VERB	zvati
.	PUNCT	.
I	CCONJ	i
?	PUNCT	?
Ime	NOUN	ime
i	CCONJ	i
prezime	NOUN	prezime
,	PUNCT	,
Bajic	PROPN	Bajic
Dragica	PROPN	Dragica
Bajic	PROPN	Bajic
Mile	PROPN	Mil
i	CCONJ	i
eto	PART	eto
tako	ADV	tako
.	PUNCT	.
Ćerka	PROPN	Ćerka
Nije	PROPN	Nije
.	PUNCT	.
Šta	PROPN	Šta
?	PUNCT	?
Zašto	PROPN	Zašto
dolazimo	VERB	dolaziti
ovde	ADV	ovde
?	PUNCT	?
Pa	CCONJ	pa
dobro	ADV	dobro
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Gde	SCONJ	gde
ste	AUX	jesam
bili	AUX	biti
?	PUNCT	?
Šta	ADV	Šta
kažete	VERB	kazati
?	PUNCT	?
Volim	VERB	voliti
da	SCONJ	da
igram	VERB	igrati
,	PUNCT	,
više	ADV	više
nego	CCONJ	nego
išta	PRON	išta
drugo	ADJ	drugi
.	PUNCT	.
Važi	ADJ	Važi
,	PUNCT	,
pevacemo	VERB	pevacemo
.	PUNCT	.
stajete	VERB	stajati
?	PUNCT	?
Eto	PART	eto
lepo	ADV	lepo
.	PUNCT	.
Ovaj	DET	ovaj
te	PRON	ti
.	PUNCT	.
.	PUNCT	.
Ne	PART	ne
piše	VERB	pisati
ime	NOUN	ime
ni	CCONJ	ni
prezime	NOUN	prezime
ovde	ADV	ovde
,	PUNCT	,
Maja	PROPN	Maja
i	CCONJ	i
Dragica	PROPN	Dragica
drugo	ADV	drugo
nema	VERB	nemati
ništa	ADV	ništa
.	PUNCT	.
