[	PUNCT	[
Da	ADV	Da
li	PART	li
možete	VERB	moći
da	SCONJ	da
mi	PRON	ja
se	PART	se
predstavite	VERB	predstaviti
?	PUNCT	?
]	PUNCT	]
Može	PROPN	Mog
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
.	PUNCT	.
Dimitrijević	PROPN	Dimitrijević
Ljubinka	PROPN	Ljubinka
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
penzioner	NOUN	penzioner
_	PUNCT	_
_	PUNCT	_
vec	PROPN	vec
petnaest	NUM	petnaest
godina	NOUN	godina
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
[	PUNCT	[
Kada	PROPN	Kada
ste	AUX	jesam
rođeni	VERB	roditi
?	PUNCT	?
]	PUNCT	]
U	VERB	U
Septembru	PROPN	Septembru
_	PUNCT	_
_	PUNCT	_
Četrdeset	NUM	Četrdeset
devete	ADJ	deveti
godine	NOUN	godina
.	PUNCT	.
[	PUNCT	[
Datum	PROPN	Datum
?	PUNCT	?
]	PUNCT	]
Šesti	ADJ	Šesti
deveti	ADJ	deveti
hiljadu	NOUN	hiljada
devetsto	NUM	devetsto
četrdeset	NUM	četrdeset
devete	ADJ	deveti
godine	NOUN	godina
.	PUNCT	.
[	PUNCT	[
Prebivalište	PROPN	Prebivalište
,	PUNCT	,
gde	SCONJ	gde
sada	ADV	sada
živite	VERB	živiti
?	PUNCT	?
]	PUNCT	]
U	VERB	U
Beogradu	PROPN	Beograd
,	PUNCT	,
_	PUNCT	_
_	PUNCT	_
Kaluđerica	PROPN	Kaluđerica
Svetozara	PROPN	Svetozar
Markovića	PROPN	Marković
_	PUNCT	_
_	PUNCT	_
broj	NOUN	broj
devet	NUM	devet
.	PUNCT	.
[	PUNCT	[
Da	ADV	Da
li	PART	li
ste	AUX	jesam
se	PART	se
selili	VERB	seliti
ranije	ADV	ranije
to	DET	taj
jest	AUX	jesam
gde	SCONJ	gde
ste	AUX	jesam
sve	ADV	sve
živeli	VERB	živeti
do	ADP	do
sada	ADV	sada
?	PUNCT	?
]	PUNCT	]
Živela	VERB	Živela
sam	AUX	jesam
_	PUNCT	_
_	PUNCT	_
na	ADP	na
Bežaniji	ADJ	Bežaniji
_	PUNCT	_
,	PUNCT	,
pa	CCONJ	pa
Bulevar	PROPN	Bulevar
Revolucije	NOUN	revolucija
,	PUNCT	,
pa	CCONJ	pa
posle	ADV	posle
ovde	ADV	ovde
_	PUNCT	_
_	PUNCT	_
u	ADP	u
_	PUNCT	_
_	PUNCT	_
ovaj	DET	ovaj
_	PUNCT	_
_	PUNCT	_
Kaluđerici	PROPN	Kaluđerica
.	PUNCT	.
[	PUNCT	[
Gde	PROPN	Gde
vam	PRON	vi
je	AUX	jesam
bilo	AUX	biti
najlepše	ADJ	lep
?	PUNCT	?
]	PUNCT	]
Ovde	PROPN	Ovde
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
[	PUNCT	[
Da	ADV	Da
li	PART	li
biste	AUX	biti
voleli	VERB	voleti
negde	ADV	negde
drugde	ADV	drugde
da	SCONJ	da
živite	VERB	živiti
?	PUNCT	?
]	PUNCT	]
Pa	X	Pa
ne	PART	ne
_	PUNCT	_
_	PUNCT	_
.	PUNCT	.
[	PUNCT	[
Gde	PROPN	Gde
biste	AUX	biti
voleli	VERB	voleti
da	SCONJ	da
odputujete	VERB	odputovati
?	PUNCT	?
]	PUNCT	]
Pa	X	Pa
dobro	ADV	dobro
možda	PART	možda
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
Ovaj	PROPN	Ovaj
,	PUNCT	,
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
u	ADP	u
neku	DET	neki
Evropsku	ADJ	evropski
zemlju	NOUN	zemlja
,	PUNCT	,
inace	NOUN	inace
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
ovaj	DET	ovaj
recimo	VERB	reći
Austriju	PROPN	Austrija
_	PUNCT	_
_	PUNCT	_
.	PUNCT	.
Eto	PART	eto
cisto	NOUN	cista
.	PUNCT	.
[	PUNCT	[
Pored	PROPN	Pored
Austrije	PROPN	Austrija
još	PART	još
neka	DET	neki
zemlja	NOUN	zemlja
?	PUNCT	?
]	PUNCT	]
Pa	X	Pa
dobro	ADV	dobro
_	PUNCT	_
_	PUNCT	_
mozda	NOUN	mozda
ovaj	DET	ovaj
_	PUNCT	_
Amerika	PROPN	Amerika
,	PUNCT	,
posto	ADV	posto
tamo	ADV	tamo
imam	VERB	imati
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
Da	SCONJ	da
.	PUNCT	.
[	PUNCT	[
Šta	ADV	Šta
ste	AUX	jesam
po	ADP	po
struci	NOUN	struka
?	PUNCT	?
]	PUNCT	]
Mmm	PROPN	Mmm
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
Službenica	NOUN	Službenica
_	PUNCT	_
_	PUNCT	_
sam	AUX	jesam
,	PUNCT	,
_	PUNCT	_
dok	SCONJ	dok
sam	AUX	jesam
radila	VERB	raditi
_	PUNCT	_
_	PUNCT	_
.	PUNCT	.
Sada	ADV	sada
_	PUNCT	_
_	PUNCT	_
sam	DET	sam
domaćica	NOUN	domaćica
,	PUNCT	,
salim	ADJ	salim
se	PART	se
.	PUNCT	.
[	PUNCT	[
Kojim	ADJ	Kojim
poslovima	NOUN	posao
ste	AUX	jesam
se	PART	se
bavili	VERB	baviti
pre	ADV	pre
,	PUNCT	,
to	DET	taj
jest	AUX	jesam
gde	SCONJ	gde
ste	AUX	jesam
sve	ADV	sve
radili	VERB	raditi
?	PUNCT	?
]	PUNCT	]
Kao	PROPN	Kao
prodavac	NOUN	prodavac
_	PUNCT	_
_	PUNCT	_
u	ADP	u
robnoj	ADJ	robni
kući	NOUN	kuća
_	PUNCT	_
,	PUNCT	,
pa	CCONJ	pa
posle	ADP	posle
kao	ADV	kao
službenica	NOUN	službenica
_	PUNCT	_
_	PUNCT	_
u	ADP	u
poslovnoj	ADJ	poslovan
zgradi	NOUN	zgrada
.	PUNCT	.
[	PUNCT	[
Šta	ADV	Šta
volite	VERB	voliti
da	SCONJ	da
radite	VERB	raditi
u	ADP	u
slobodno	ADJ	slobodan
vreme	NOUN	vreme
?	PUNCT	?
Imate	VERB	imati
li	PART	li
neki	DET	neki
hobi	NOUN	hobi
?	PUNCT	?
]	PUNCT	]
Pa	X	Pa
imam	VERB	imati
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
hobi	NOUN	hobi
.	PUNCT	.
Pa	CCONJ	pa
dobro	ADV	dobro
što	SCONJ	što
da	SCONJ	da
ne	PART	ne
?	PUNCT	?
_	PUNCT	_
_	PUNCT	_
Ovaj	PROPN	Ovaj
,	PUNCT	,
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
imamo	VERB	imati
bašticu	NOUN	baštica
,	PUNCT	,
cveće	NOUN	cveće
,	PUNCT	,
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
mmm	PROPN	mmm
_	PUNCT	_
_	PUNCT	_
ovaj	DET	ovaj
_	PUNCT	_
_	PUNCT	_
tako	ADV	tako
_	PUNCT	_
_	PUNCT	_
,	PUNCT	,
plac	NOUN	plac
neki	DET	neki
_	PUNCT	_
,	PUNCT	,
pa	CCONJ	pa
voćnjak	NOUN	voćnjak
,	PUNCT	,
pa	CCONJ	pa
tamo	ADV	tamo
se	PART	se
bavimo	VERB	baviti
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
ovaj	DET	ovaj
malo	ADV	malo
zelenilom	NOUN	zelenilo
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
,	PUNCT	,
povrćem	VERB	povrtati
_	PUNCT	_
_	PUNCT	_
i	CCONJ	i
tako	ADV	tako
to	DET	taj
_	PUNCT	_
_	PUNCT	_
je	AUX	jesam
neko	DET	neki
uživanje	NOUN	uživanje
_	PUNCT	_
_	PUNCT	_
.	PUNCT	.
I	CCONJ	i
ovaj	DET	ovaj
jednostavno	ADV	jednostavno
dobro	ADV	dobro
je	AUX	jesam
za	ADP	za
penzionere	NOUN	penzioner
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
u	ADP	u
ogranicenim	ADJ	ogranicenim
vrednostima	NOUN	vrednost
.	PUNCT	.
[	PUNCT	[
Da	ADV	Da
li	PART	li
pišete	VERB	pisati
levom	ADJ	levi
ili	CCONJ	ili
desnom	ADJ	desni
rukom	NOUN	ruka
?	PUNCT	?
]	PUNCT	]
Desnom	ADJ	desni
.	PUNCT	.
[	PUNCT	[
Da	ADV	Da
li	PART	li
volite	VERB	voliti
da	SCONJ	da
čitate	VERB	čitati
knjige	NOUN	knjiga
?	PUNCT	?
]	PUNCT	]
Pa	X	Pa
_	PUNCT	_
volim	VERB	voliti
,	PUNCT	,
ali	CCONJ	ali
_	PUNCT	_
_	PUNCT	_
nemam	VERB	nemati
mnogo	ADV	mnogo
vremena	NOUN	vreme
.	PUNCT	.
[	PUNCT	[
Da	ADV	Da
li	PART	li
možete	VERB	moći
da	SCONJ	da
mi	PRON	ja
kažete	VERB	kazati
vašu	DET	vaš
omiljenu	ADJ	omiljen
?	PUNCT	?
]	PUNCT	]
Aaa	NOUN	Aaa
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
Pa	X	Pa
dobro	ADV	dobro
,	PUNCT	,
ovaj	DET	ovaj
,	PUNCT	,
_	PUNCT	_
_	PUNCT	_
ne	PART	ne
znam	VERB	znati
sad	ADV	sad
u	ADP	u
momentu	NOUN	moment
_	PUNCT	_
_	PUNCT	_
,	PUNCT	,
ovaj	DET	ovaj
šta	PRON	šta
bi	AUX	biti
ovaj	DET	ovaj
,	PUNCT	,
vi	PRON	vi
Nidzoni	PROPN	Nidzoni
sta	VERB	stati
imate	VERB	imati
?	PUNCT	?
[	PUNCT	[
Da	ADV	Da
li	PART	li
možete	VERB	moći
da	SCONJ	da
mi	PRON	ja
kažete	VERB	kazati
žanr	NOUN	žanr
?	PUNCT	?
]	PUNCT	]
Ne	ADV	Ne
znam	VERB	znati
baš	PART	baš
_	PUNCT	_
_	PUNCT	_
tačno	ADV	tačno
sad	ADV	sad
ne	PART	ne
mogu	VERB	moći
da	SCONJ	da
se	PART	se
setim	VERB	setiti
.	PUNCT	.
[	PUNCT	[
Nema	VERB	nemati
veze	NOUN	veza
.	PUNCT	.
Da	SCONJ	da
li	PART	li
volite	VERB	voliti
da	SCONJ	da
gledate	VERB	gledati
filmove	NOUN	film
?	PUNCT	?
]	PUNCT	]
Pa	X	Pa
_	PUNCT	_
_	PUNCT	_
nemam	VERB	nemati
mnogo	ADV	mnogo
vremena	NOUN	vreme
da	SCONJ	da
se	PART	se
ono	DET	onaj
posvetim	VERB	posvetiti
_	PUNCT	_
_	PUNCT	_
,	PUNCT	,
ovaj	DET	ovaj
,	PUNCT	,
_	PUNCT	_
_	PUNCT	_
detaljno	ADV	detaljno
od	ADP	od
kraja	NOUN	kraj
do	ADP	do
kraja	NOUN	kraj
da	SCONJ	da
gledam	VERB	gledati
,	PUNCT	,
tako	ADV	tako
da	SCONJ	da
_	PUNCT	_
_	PUNCT	_
možda	PART	možda
delimično	ADV	delimično
inače	PART	inače
.	PUNCT	.
[	PUNCT	[
Znači	ADJ	Znači
da	SCONJ	da
nemate	VERB	nemati
poseban	ADJ	poseban
zanr	NOUN	zanr
?	PUNCT	?
]	PUNCT	]
Pa	X	Pa
ne	PART	ne
_	PUNCT	_
_	PUNCT	_
.	PUNCT	.
Više	PROPN	Vis
sam	AUX	jesam
ja	PRON	ja
u	ADP	u
prirodi	NOUN	priroda
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
,	PUNCT	,
u	ADP	u
šetnji	NOUN	šetnja
tako	ADV	tako
da	SCONJ	da
se	PART	se
prošetam	VERB	prošetati
,	PUNCT	,
nešto	PRON	nešto
završim	VERB	završiti
neke	DET	neki
obaveze	NOUN	obaveza
_	PUNCT	_
_	PUNCT	_
i	CCONJ	i
to	DET	taj
,	PUNCT	,
ovaj	DET	ovaj
,	PUNCT	,
ne	PART	ne
mogu	VERB	moći
mnogo	ADV	mnogo
da	SCONJ	da
se	PART	se
posvetim	VERB	posvetiti
filmovima	NOUN	film
.	PUNCT	.
[	PUNCT	[
Da	ADV	Da
li	PART	li
svirate	VERB	svirati
neki	DET	neki
instrument	NOUN	instrument
?	PUNCT	?
]	PUNCT	]
Pa	X	Pa
_	PUNCT	_
_	PUNCT	_
ne	PART	ne
.	PUNCT	.
[	PUNCT	[
Da	ADV	Da
li	PART	li
biste	AUX	biti
voleli	VERB	voleti
da	SCONJ	da
svirate	VERB	svirati
neki	DET	neki
?	PUNCT	?
]	PUNCT	]
Ovaj	PROPN	Ovaj
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
ne	PART	ne
znam	VERB	znati
,	PUNCT	,
možda	PART	možda
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
.	PUNCT	.
Recimo	VERB	reći
harmonika	NOUN	harmonika
.	PUNCT	.
Inače	ADJ	Inače
_	PUNCT	_
_	PUNCT	_
pošto	SCONJ	pošto
su	AUX	jesam
mi	PRON	ja
to	DET	taj
_	PUNCT	_
_	PUNCT	_
braća	NOUN	braća
,	PUNCT	,
svi	DET	sav
sviraju	VERB	svirati
,	PUNCT	,
bratanci	NOUN	bratanac
u	ADP	u
familiji	NOUN	familija
i	CCONJ	i
tako	ADV	tako
znači	VERB	značiti
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
.	PUNCT	.
Volim	VERB	voliti
da	SCONJ	da
pevam	VERB	pevati
i	CCONJ	i
da	SCONJ	da
igram	VERB	igrati
.	PUNCT	.
[	PUNCT	[
Kada	PROPN	Kada
bi	AUX	biti
postojao	VERB	postojati
vremeplov	NOUN	vremeplov
u	ADP	u
koje	DET	koji
vreme	NOUN	vreme
bi	AUX	biti
se	PART	se
vratili	VERB	vratiti
i	CCONJ	i
zašto	ADV	zašto
?	PUNCT	?
]	PUNCT	]
Aha	ADV	Aha
,	PUNCT	,
pa	CCONJ	pa
_	PUNCT	_
_	PUNCT	_
dobro	ADV	dobro
,	PUNCT	,
šta	PRON	šta
znam	VERB	znati
,	PUNCT	,
_	PUNCT	_
_	PUNCT	_
možda	PART	možda
negde	ADV	negde
tu	ADV	tu
pedesetih	ADJ	pedeseti
godina	NOUN	godina
.	PUNCT	.
Inače	ADJ	Inače
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
nista	NOUN	nista
ovaj	DET	ovaj
ovako	ADV	ovako
.	PUNCT	.
To	DET	taj
je	AUX	jesam
vec	PROPN	vec
_	PUNCT	_
_	PUNCT	_
,	PUNCT	,
ovo	DET	ovaj
je	AUX	jesam
vec	NOUN	vec
bilo	AUX	biti
pre	ADP	pre
odlaska	NOUN	odlazak
u	ADP	u
penziju	NOUN	penzija
_	PUNCT	_
_	PUNCT	_
.	PUNCT	.
Pedeset	NUM	pedeset
prve	ADJ	prvi
radila	VERB	raditi
sam	AUX	jesam
,	PUNCT	,
trideset	NUM	trideset
pet	NUM	pet
godina	NOUN	godina
sam	AUX	jesam
napunila	VERB	napuniti
staža	NOUN	staž
i	CCONJ	i
_	PUNCT	_
onda	SCONJ	onda
sam	AUX	jesam
ovaj	DET	ovaj
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
otišla	VERB	otići
,	PUNCT	,
a	ADV	a
imala	VERB	imati
sam	AUX	jesam
pedeset	NUM	pedeset
dve	NUM	dva
.	PUNCT	.
Rrano	VERB	Rrano
samo	PART	samo
počela	VERB	početi
da	SCONJ	da
radim	VERB	raditi
i	CCONJ	i
to	DET	taj
me	PRON	ja
spasilo	VERB	spasiti
inače	PART	inače
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
[	PUNCT	[
Šta	ADV	Šta
može	VERB	moći
da	SCONJ	da
vas	PRON	vi
rastuži	VERB	rastužiti
a	ADV	a
šta	PRON	šta
razveseli	VERB	razveseliti
?	PUNCT	?
]	PUNCT	]
E	ADV	E
pa	CCONJ	pa
_	PUNCT	_
_	PUNCT	_
,	PUNCT	,
samo	PART	samo
kad	SCONJ	kad
su	AUX	jesam
_	PUNCT	_
zdravi	VERB	zdraviti
onda	SCONJ	onda
mi	PRON	ja
je	AUX	jesam
to	DET	taj
,	PUNCT	,
ovaj	DET	ovaj
_	PUNCT	_
_	PUNCT	_
razveselim	VERB	razveseliti
se	PART	se
,	PUNCT	,
svi	DET	sav
u	ADP	u
porodici	NOUN	porodica
i	CCONJ	i
to	DET	taj
_	PUNCT	_
_	PUNCT	_
.	PUNCT	.
A	X	A
pa	CCONJ	pa
samo	PART	samo
ako	SCONJ	ako
je	AUX	jesam
neko	PRON	neko
ne	PART	ne
daj	VERB	dati
Bože	PROPN	Boža
bolestan	ADJ	bolestan
i	CCONJ	i
to	DET	taj
nešto	ADV	nešto
ovako	ADV	ovako
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
[	PUNCT	[
Šta	ADV	Šta
može	VERB	moći
da	SCONJ	da
vas	PRON	vi
iznervira	VERB	iznervirati
?	PUNCT	?
]	PUNCT	]
Pa	X	Pa
šta	PRON	šta
_	PUNCT	_
znam	VERB	znati
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
Da	ADV	Da
.	PUNCT	.
[	PUNCT	[
Ako	ADV	Ako
ne	PART	ne
možete	VERB	moći
da	SCONJ	da
se	PART	se
setite	VERB	setiti
možemo	VERB	moći
dalje	ADV	dalje
]	PUNCT	]
Pa	X	Pa
dobro	ADV	dobro
,	PUNCT	,
nema	ADJ	nem
veze	NOUN	veza
_	PUNCT	_
_	PUNCT	_
.	PUNCT	.
Može	PROPN	Mog
.	PUNCT	.
[	PUNCT	[
Koju	PROPN	Koja
muziku	NOUN	muzika
ste	AUX	jesam
slušali	VERB	slušati
kada	SCONJ	kada
ste	AUX	jesam
bili	AUX	biti
mladi	ADJ	mlad
a	NOUN	a
koju	DET	koji
sada	ADV	sada
slušate	VERB	slušati
?	PUNCT	?
Da	SCONJ	da
li	PART	li
se	PART	se
nešto	ADV	nešto
promenilo	VERB	promeniti
?	PUNCT	?
]	PUNCT	]
Pa	X	Pa
nije	AUX	jesam
,	PUNCT	,
narodna	ADJ	narodni
,	PUNCT	,
ja	PRON	ja
većinom	ADV	većinom
narodnu	ADJ	narodni
_	PUNCT	_
_	PUNCT	_
volim	VERB	voliti
i	CCONJ	i
ranije	ADV	ranije
i	CCONJ	i
sada	ADV	sada
.	PUNCT	.
[	PUNCT	[
Da	ADV	Da
li	PART	li
možete	VERB	moći
da	SCONJ	da
mi	PRON	ja
kažete	VERB	kazati
nešto	ADV	nešto
više	ADV	više
o	ADP	o
vašim	DET	vaš
članovima	NOUN	član
porodice	NOUN	porodica
?	PUNCT	?
]	PUNCT	]
Pa	X	Pa
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
,	PUNCT	,
kako	SCONJ	kako
mislite	VERB	misliti
?	PUNCT	?
Koga	PRON	ko
imam	VERB	imati
,	PUNCT	,
kako	SCONJ	kako
?	PUNCT	?
[	PUNCT	[
Imate	PROPN	Imate
li	PART	li
unuke	NOUN	unuka
?	PUNCT	?
]	PUNCT	]
Da	ADV	Da
,	PUNCT	,
da	SCONJ	da
kako	ADV	kako
da	SCONJ	da
ne	PART	ne
,	PUNCT	,
ovaj	DET	ovaj
_	PUNCT	_
_	PUNCT	_
babini	ADJ	babin
momci	NOUN	momak
,	PUNCT	,
zlato	NOUN	zlato
_	PUNCT	_
,	PUNCT	,
dve	NUM	dva
ćerke	NOUN	ćerka
imam	VERB	imati
i	CCONJ	i
dva	NUM	dva
unuka	NOUN	unuka
_	PUNCT	_
_	PUNCT	_
i	CCONJ	i
najsrećnija	ADJ	srećan
sam	AUX	jesam
na	ADP	na
svetu	NOUN	svet
što	SCONJ	što
je	AUX	jesam
to	DET	taj
tako	ADV	tako
kako	ADV	kako
_	PUNCT	_
_	PUNCT	_
jeste	INTJ	jeste
,	PUNCT	,
a	ADV	a
trebalo	VERB	trebati
bi	AUX	biti
da	SCONJ	da
bude	AUX	biti
i	CCONJ	i
bolje	ADV	bolje
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
zbog	ADP	zbog
druge	ADJ	drugi
ćerke	NOUN	ćerka
i	CCONJ	i
tako	ADV	tako
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
.	PUNCT	.
I	CCONJ	i
nek	PART	nek
su	AUX	jesam
živi	VERB	živiti
i	CCONJ	i
zdravi	VERB	zdraviti
pa	CCONJ	pa
to	DET	taj
nigde	ADV	nigde
veće	ADJ	velik
sreće	NOUN	sreća
nema	VERB	nemati
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
nego	CCONJ	nego
to	DET	taj
.	PUNCT	.
[	PUNCT	[
Da	ADV	Da
li	PART	li
možete	VERB	moći
nešto	ADV	nešto
više	ADV	više
o	ADP	o
njima	PRON	ona
da	SCONJ	da
mi	PRON	ja
kažete	VERB	kazati
?	PUNCT	?
Neke	DET	neki
njihove	DET	njihov
karakteristike	NOUN	karakteristika
?	PUNCT	?
]	PUNCT	]
Dobri	PROPN	Dobra
,	PUNCT	,
dobri	ADJ	dobar
su	AUX	jesam
momci	NOUN	momak
_	PUNCT	_
_	PUNCT	_
.	PUNCT	.
Ovaj	DET	ovaj
,	PUNCT	,
vaspitani	VERB	vaspitati
,	PUNCT	,
ovaj	DET	ovaj
,	PUNCT	,
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
vredni	ADJ	vredan
i	CCONJ	i
ovaj	DET	ovaj
_	PUNCT	_
,	PUNCT	,
tako	ADV	tako
da	SCONJ	da
sam	AUX	jesam
zadovoljna	ADJ	zadovoljan
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
i	CCONJ	i
ovaj	DET	ovaj
,	PUNCT	,
malo	ADV	malo
možda	PART	možda
bolje	ADV	bolje
da	SCONJ	da
_	PUNCT	_
_	PUNCT	_
uče	VERB	učiti
,	PUNCT	,
ali	CCONJ	ali
to	DET	taj
je	AUX	jesam
samo	PART	samo
malo	ADV	malo
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
.	PUNCT	.
Samo	PART	samo
sa	ADP	sa
malo	ADV	malo
truda	NOUN	trud
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
,	PUNCT	,
sve	DET	sav
mogu	VERB	moći
.	PUNCT	.
[	PUNCT	[
Šta	ADV	Šta
biste	AUX	biti
poneli	VERB	poneti
od	ADP	od
stvari	NOUN	stvar
kada	SCONJ	kada
biste	AUX	biti
išli	VERB	ići
ma	PART	ma
pusto	ADV	pusto
ostrvo	NOUN	ostrvo
?	PUNCT	?
Koga	PRON	ko
biste	AUX	biti
poveli	VERB	povesti
?	PUNCT	?
]	PUNCT	]
Jao	PROPN	Jao
,	PUNCT	,
pa	CCONJ	pa
šta	PRON	šta
ću	AUX	hteti
,	PUNCT	,
valjda	ADV	valjda
bih	AUX	biti
dedu	NOUN	ded
povela	VERB	povesti
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
Supruga	PROPN	Supruga
.	PUNCT	.
Od	ADP	od
unučadi	NOUN	unučad
dedu	NOUN	ded
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
,	PUNCT	,
supruga	NOUN	supruga
.	PUNCT	.
Pa	CCONJ	pa
sad	ADV	sad
,	PUNCT	,
šta	PRON	šta
znam	VERB	znati
_	PUNCT	_
_	PUNCT	_
.	PUNCT	.
Mladi	ADJ	mlad
,	PUNCT	,
ne	PART	ne
znam	VERB	znati
,	PUNCT	,
ne	PART	ne
bi	AUX	biti
želeli	VERB	želeti
da	SCONJ	da
idu	VERB	ići
sa	ADP	sa
mnom	PRON	ja
,	PUNCT	,
ovaj	DET	ovaj
_	PUNCT	_
.	PUNCT	.
[	PUNCT	[
Možda	PROPN	Možda
bi	AUX	biti
?	PUNCT	?
]	PUNCT	]
Mozda	PROPN	Mozda
.	PUNCT	.
.	PUNCT	.
[	PUNCT	[
Kada	PROPN	Kada
biste	AUX	biti
imali	VERB	imati
tri	NUM	tri
želje	NOUN	želja
,	PUNCT	,
a	ADV	a
da	SCONJ	da
znate	VERB	znati
da	SCONJ	da
će	AUX	hteti
se	PART	se
ispuniti	VERB	ispuniti
koje	DET	koji
bi	AUX	biti
to	DET	taj
bile	AUX	biti
?	PUNCT	?
]	PUNCT	]
Pa	X	Pa
_	PUNCT	_
_	PUNCT	_
,	PUNCT	,
ovaj	DET	ovaj
,	PUNCT	,
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
da	SCONJ	da
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
.	PUNCT	.
Pa	CCONJ	pa
ako	SCONJ	ako
mogu	VERB	moći
to	DET	taj
sad	ADV	sad
da	SCONJ	da
kažem	VERB	kazati
za	ADP	za
Ivanu	PROPN	Ivana
pošto	SCONJ	pošto
ovo	DET	ovaj
što	SCONJ	što
treba	VERB	trebati
da	SCONJ	da
rodi	VERB	roditi
.	PUNCT	.
Da	SCONJ	da
mlađa	ADJ	mlad
ćerka	NOUN	ćerka
dobije	VERB	dobiti
_	PUNCT	_
_	PUNCT	_
dete	NOUN	dete
,	PUNCT	,
to	DET	taj
mi	PRON	ja
je	AUX	jesam
prva	ADJ	prvi
želja	NOUN	želja
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
,	PUNCT	,
da	SCONJ	da
su	AUX	jesam
živi	VERB	živiti
i	CCONJ	i
zdravi	VERB	zdraviti
svi	DET	sav
.	PUNCT	.
Da	SCONJ	da
momci	NOUN	momak
završe	VERB	završiti
fakultete	NOUN	fakultet
,	PUNCT	,
eto	PART	eto
šta	PRON	šta
.	PUNCT	.
[	PUNCT	[
ZA	ADJ	ZA
kraj	ADP	kraj
šta	PRON	šta
biste	AUX	biti
nam	PRON	mi
rekli	VERB	reći
dodatno	ADV	dodatno
o	ADP	o
sebi	PRON	sebe
?	PUNCT	?
]	PUNCT	]
Pa	X	Pa
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
ja	PRON	ja
sam	AUX	jesam
_	PUNCT	_
_	PUNCT	_
zadovoljna	ADJ	zadovoljan
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
,	PUNCT	,
koliko	ADV	koliko
ima	VERB	imati
u	ADP	u
mojoj	DET	moj
generaciji	NOUN	generacija
,	PUNCT	,
daleko	ADV	daleko
bilo	AUX	biti
,	PUNCT	,
koji	DET	koji
_	PUNCT	_
_	PUNCT	_
nisu	AUX	jesam
živi	VERB	živiti
i	CCONJ	i
ovaj	DET	ovaj
,	PUNCT	,
čovek	NOUN	čovek
treba	VERB	trebati
da	SCONJ	da
uživa	VERB	uživati
u	ADP	u
zivotu	NOUN	zivotu
i	CCONJ	i
da	SCONJ	da
_	PUNCT	_
_	PUNCT	_
ipak	PART	ipak
bude	AUX	biti
srećan	ADJ	srećan
_	PUNCT	_
_	PUNCT	_
,	PUNCT	,
pa	CCONJ	pa
ćemo	AUX	hteti
videti	VERB	videti
dalje	ADV	dalje
_	PUNCT	_
_	PUNCT	_
,	PUNCT	,
ovaj	DET	ovaj
_	PUNCT	_
_	PUNCT	_
šta	PRON	šta
će	AUX	hteti
biti	AUX	biti
.	PUNCT	.
[	PUNCT	[
Hvala	VERB	Hvala
,	PUNCT	,
ako	SCONJ	ako
nemate	VERB	nemati
više	ADV	više
ništa	ADV	ništa
da	SCONJ	da
dodate	VERB	dodati
to	DET	taj
bi	AUX	biti
bio	AUX	biti
kraj	ADP	kraj
intervjua	NOUN	intervju
.	PUNCT	.
Hvala	NOUN	hvala
vam	PRON	vi
na	ADP	na
odvojenom	ADJ	odvojen
vremenu	NOUN	vreme
.	PUNCT	.
]	PUNCT	]
Hvala	VERB	Hvala
i	PART	i
tebi	PRON	ti
maco	NOUN	maca
.	PUNCT	.
_	PUNCT	_
Svako	PROPN	Svako
dobro	ADV	dobro
.	PUNCT	.
