[	PUNCT	[
Kako	ADV	kako
se	PART	se
zovete	VERB	zvati
?	PUNCT	?
]	PUNCT	]
Jevremović	PROPN	Jevremović
Milena	PROPN	Milena
.	PUNCT	.
[	PUNCT	[
Koliko	ADJ	Koliko
imate	VERB	imati
godina	NOUN	godina
?	PUNCT	?
]	PUNCT	]
Šezdeset	NUM	Šezdeset
-	PUNCT	-
osam	NUM	osam
.	PUNCT	.
[	PUNCT	[
Koje	PROPN	Koja
je	AUX	jesam
mesto	NOUN	mesto
vašeg	DET	vaš
rođenja	NOUN	rođenje
?	PUNCT	?
]	PUNCT	]
Grabovica	PROPN	Grabovica
,	PUNCT	,
Gornji	PROPN	Gornji
Milanovac	PROPN	Milanovac
.	PUNCT	.
[	PUNCT	[
Gornji	PROPN	Gornji
Milanovac	PROPN	Milanovac
,	PUNCT	,
em	CCONJ	em
,	PUNCT	,
dobro	ADV	dobro
,	PUNCT	,
mesto	NOUN	mesto
prebivališta	NOUN	prebivalište
?	PUNCT	?
]	PUNCT	]
Grabovica	PROPN	Grabovica
,	PUNCT	,
Gornji	PROPN	Gornji
Milanovac	PROPN	Milanovac
.	PUNCT	.
[	PUNCT	[
A	X	A
gde	SCONJ	gde
ste	AUX	jesam
sve	ADV	sve
živeli	VERB	živeti
?	PUNCT	?
]	PUNCT	]
Živela	VERB	Živela
sam	AUX	jesam
ovde	ADV	ovde
u	ADP	u
Grabovici	PROPN	Grabovica
,	PUNCT	,
u	ADP	u
Milanovcu	PROPN	Milanovac
,	PUNCT	,
živela	VERB	živeti
sam	AUX	jesam
u	ADP	u
Nemačkoj	PROPN	Nemačka
u	ADP	u
gradu	NOUN	grad
Štutgart	PROPN	Štutgart
.	PUNCT	.
[	PUNCT	[
I	ADV	I
gde	SCONJ	gde
vam	PRON	vi
je	AUX	jesam
bilo	AUX	biti
najlepše	ADJ	lep
?	PUNCT	?
]	PUNCT	]
_	PUNCT	_
Pa	X	Pa
,	PUNCT	,
meni	PRON	ja
je	AUX	jesam
bilo	AUX	biti
lepo	ADV	lepo
i	CCONJ	i
ovde	ADV	ovde
i	CCONJ	i
bilo	AUX	biti
mi	PRON	ja
je	AUX	jesam
lepo	ADV	lepo
i	CCONJ	i
u	ADP	u
Nemačkoj	PROPN	Nemačka
,	PUNCT	,
baš	PART	baš
sam	AUX	jesam
se	PART	se
osećala	VERB	osećati
lepo	ADV	lepo
,	PUNCT	,
koristila	VERB	koristiti
sam	AUX	jesam
to	DET	taj
vreme	NOUN	vreme
gde	SCONJ	gde
sam	AUX	jesam
ovaj	DET	ovaj
,	PUNCT	,
_	PUNCT	_
gde	SCONJ	gde
sam	AUX	jesam
boravila	VERB	boraviti
da	SCONJ	da
baš	PART	baš
iskoristim	VERB	iskoristiti
onako	ADV	onako
,	PUNCT	,
da	SCONJ	da
bude	AUX	biti
mi	PRON	ja
i	CCONJ	i
korisno	ADJ	korisno
i	CCONJ	i
lepo	ADV	lepo
.	PUNCT	.
[	PUNCT	[
A	X	A
jeste	AUX	jesam
li	PART	li
tamo	ADV	tamo
menjjali	VERB	menjjali
mesta	NOUN	mesto
gde	SCONJ	gde
ste	AUX	jesam
živeli	VERB	živeti
ili	CCONJ	ili
?	PUNCT	?
]	PUNCT	]
Jesam	PROPN	Jesam
,	PUNCT	,
bila	AUX	biti
sam	AUX	jesam
u	ADP	u
,	PUNCT	,
ovaj	DET	ovaj
,	PUNCT	,
raznim	VERB	raznim
krajevima	NOUN	kraj
,	PUNCT	,
Bad	PROPN	Bad
Kanštatu	PROPN	Kanštatu
,	PUNCT	,
Štamhajmu	PROPN	Štamhajmu
,	PUNCT	,
Štutgartu	PROPN	Štutgart
i	CCONJ	i
tako	ADV	tako
_	PUNCT	_
Š	NOUN	Š
,	PUNCT	,
Šviberdingenu	PROPN	Šviberdingenu
.	PUNCT	.
[	PUNCT	[
Em	ADV	Em
,	PUNCT	,
da	SCONJ	da
,	PUNCT	,
da	SCONJ	da
li	PART	li
govorite	VERB	govoriti
neki	DET	neki
strani	ADJ	stran
jezik	NOUN	jezik
?	PUNCT	?
]	PUNCT	]
Da	ADV	Da
.	PUNCT	.
[	PUNCT	[
Nemački	PROPN	Nemački
,	PUNCT	,
tako	ADV	tako
?	PUNCT	?
]	PUNCT	]
Da	ADV	Da
,	PUNCT	,
nemački	ADJ	nemački
.	PUNCT	.
[	PUNCT	[
Ovaj	PROPN	Ovaj
,	PUNCT	,
šta	PRON	šta
ste	AUX	jesam
po	ADP	po
struci	NOUN	struka
?	PUNCT	?
]	PUNCT	]
Radnica	PROPN	Radnica
.	PUNCT	.
[	PUNCT	[
Radnica	PROPN	Radnica
,	PUNCT	,
a	ADV	a
gde	SCONJ	gde
ste	AUX	jesam
sve	ADV	sve
radili	VERB	raditi
,	PUNCT	,
na	ADP	na
kojim	DET	koji
pozicijama	NOUN	pozicija
sve	ADV	sve
?	PUNCT	?
]	PUNCT	]
Radila	VERB	raditi
sam	AUX	jesam
u	ADP	u
jednoj	NUM	jedan
_	PUNCT	_
em	CCONJ	em
,	PUNCT	,
fabrici	NOUN	fabrika
pleksiglasa	NOUN	pleksiglas
kao	CCONJ	kao
radnica	NOUN	radnica
.	PUNCT	.
[	PUNCT	[
Samo	PROPN	Samo
tu	ADV	tu
ili	CCONJ	ili
ste	AUX	jesam
još	ADV	još
nešto	ADV	nešto
?	PUNCT	?
]	PUNCT	]
Pa	X	Pa
radila	VERB	raditi
sam	AUX	jesam
u	ADP	u
fabrici	NOUN	fabrika
obuće	NOUN	obuća
,	PUNCT	,
radila	VERB	raditi
sam	AUX	jesam
_	PUNCT	_
i	CCONJ	i
u	ADP	u
bolnicama	NOUN	bolnica
,	PUNCT	,
tako	ADV	tako
na	ADP	na
raznim	ADJ	raznim
mestima	NOUN	mesto
sam	AUX	jesam
radila	VERB	raditi
,	PUNCT	,
radila	VERB	raditi
sam	AUX	jesam
i	CCONJ	i
u	ADP	u
cvećarama	NOUN	cvećara
_	PUNCT	_
tako	ADV	tako
,	PUNCT	,
_	PUNCT	_
u	ADP	u
dve	NUM	dva
cvećare	NOUN	cvećara
.	PUNCT	.
[	PUNCT	[
Pa	X	Pa
dobro	ADJ	dobar
,	PUNCT	,
levoruki	ADJ	levoruk
ili	CCONJ	ili
desnoruki	ADJ	desnoruk
?	PUNCT	?
]	PUNCT	]
Desnoruka	ADJ	desnoruk
.	PUNCT	.
[	PUNCT	[
Desnoruka	ADJ	desnoruk
.	PUNCT	.
Kakvo	DET	kakav
je	AUX	jesam
vaše	DET	vaš
muzičko	ADJ	muzički
obrazovanje	NOUN	obrazovanje
,	PUNCT	,
da	SCONJ	da
li	PART	li
ste	AUX	jesam
pevali	VERB	pevati
ili	CCONJ	ili
svirali	VERB	svirati
neki	DET	neki
instrument	NOUN	instrument
?	PUNCT	?
]	PUNCT	]
Ne	ADV	Ne
,	PUNCT	,
ne	PART	ne
_	PUNCT	_
pevala	VERB	pevati
sam	AUX	jesam
samo	PART	samo
za	ADP	za
sebe	PRON	sebe
,	PUNCT	,
ali	CCONJ	ali
ovako	ADV	ovako
ne	PART	ne
_	PUNCT	_
profesionalno	ADV	profesionalno
.	PUNCT	.
[	PUNCT	[
Ovaj	PROPN	Ovaj
,	PUNCT	,
da	SCONJ	da
li	PART	li
volite	VERB	voliti
da	SCONJ	da
čitate	VERB	čitati
knjige	NOUN	knjiga
?	PUNCT	?
]	PUNCT	]
Da	ADV	Da
,	PUNCT	,
_	PUNCT	_
čitam	VERB	čitati
knjige	NOUN	knjiga
Najviše	PROPN	Najviše
volim	VERB	voliti
da	SCONJ	da
čitam	VERB	čitati
knjige	NOUN	knjiga
od	ADP	od
_	PUNCT	_
Dejana	PROPN	Dejana
Lučića	PROPN	Lučić
.	PUNCT	.
_	PUNCT	_
Onda	PROPN	Onda
volim	VERB	voliti
ove	DET	ovaj
američke	ADJ	američki
od	ADP	od
onoga	DET	onaj
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
E	INTJ	e
sad	ADV	sad
ne	PART	ne
mogu	VERB	moći
da	SCONJ	da
se	PART	se
setim	VERB	setiti
kako	SCONJ	kako
se	PART	se
zove	VERB	zvati
onaj	DET	onaj
Sidnej	PROPN	Sidnej
Šelon	PROPN	Šelon
.	PUNCT	.
[	PUNCT	[
A	X	A
Sidni	PROPN	Sidni
Šeldon	PROPN	Šeldon
]	PUNCT	]
Sidni	PROPN	Sidni
Šeldon	PROPN	Šeldon
,	PUNCT	,
da	SCONJ	da
.	PUNCT	.
[	PUNCT	[
A	X	A
,	PUNCT	,
ovaj	DET	ovaj
,	PUNCT	,
pa	CCONJ	pa
je	AUX	jesam
l	X	l
radite	VERB	raditi
još	ADV	još
nešto	ADV	nešto
?	PUNCT	?
Koji	DET	koji
su	AUX	jesam
vam	PRON	vi
ovako	ADV	ovako
hobiji	NOUN	hobi
,	PUNCT	,
je	AUX	jesam
l	X	l
radite	VERB	raditi
još	ADV	još
nešto	ADV	nešto
u	ADP	u
slobodno	ADJ	slobodan
vreme	NOUN	vreme
pored	ADP	pored
čitanja	NOUN	čitanje
knjiga	NOUN	knjiga
?	PUNCT	?
]	PUNCT	]
Pa	X	Pa
da	SCONJ	da
,	PUNCT	,
imam	VERB	imati
ruže	NOUN	ruž
,	PUNCT	,
obrađujem	VERB	obrađivati
.	PUNCT	.
Imam	VERB	imati
baštu	NOUN	bašta
,	PUNCT	,
imam	VERB	imati
piliće	NOUN	pilić
,	PUNCT	,
kokoške	NOUN	kokoška
.	PUNCT	.
Tako	ADV	tako
eto	PART	eto
,	PUNCT	,
bavim	VERB	baviti
se	PART	se
onim	DET	onaj
.	PUNCT	.
[	PUNCT	[
To	PROPN	To
vam	PRON	vi
je	AUX	jesam
kao	ADV	kao
hobi	NOUN	hobi
?	PUNCT	?
]	PUNCT	]
Jeste	PROPN	Jeste
,	PUNCT	,
to	DET	taj
mi	PRON	ja
je	AUX	jesam
hobi	NOUN	hobi
_	PUNCT	_
nemam	VERB	nemati
nikakvih	DET	nikakav
drugih	ADJ	drugi
.	PUNCT	.
Ne	PART	ne
igram	VERB	igrati
tenis	NOUN	tenis
,	PUNCT	,
ne	PART	ne
idem	VERB	ići
na	ADP	na
plivanje	NOUN	plivanje
_	PUNCT	_
tako	ADV	tako
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
[	PUNCT	[
Ovaj	PROPN	Ovaj
,	PUNCT	,
ko	PRON	ko
su	AUX	jesam
članovi	NOUN	član
vaše	DET	vaš
porodice	NOUN	porodica
?	PUNCT	?
]	PUNCT	]
Članovi	ADJ	Članovi
moje	DET	moj
porodice	NOUN	porodica
su	AUX	jesam
mi	PRON	ja
moj	DET	moj
muž	NOUN	muž
,	PUNCT	,
moje	DET	moj
dvoje	NUM	dvoje
dece	NOUN	deca
,	PUNCT	,
moje	DET	moj
četvoro	NUM	četvoro
unučadi	NOUN	unučad
.	PUNCT	.
[	PUNCT	[
Dobro	PROPN	Dobra
,	PUNCT	,
znači	VERB	značiti
imate	VERB	imati
i	CCONJ	i
decu	NOUN	deca
i	CCONJ	i
unučiće	NOUN	unučić
.	PUNCT	.
]	PUNCT	]
Jeste	PROPN	Jeste
,	PUNCT	,
snaja	NOUN	snaja
.	PUNCT	.
[	PUNCT	[
Kako	ADV	kako
se	PART	se
zovu	VERB	zvati
svi	DET	sav
?	PUNCT	?
]	PUNCT	]
Moj	ADJ	Moj
muž	NOUN	muž
se	PART	se
zove	VERB	zvati
Dobrica	PROPN	Dobrica
,	PUNCT	,
ćerka	NOUN	ćerka
mi	PRON	ja
se	PART	se
zove	VERB	zvati
Milijana	PROPN	Milijana
,	PUNCT	,
sin	NOUN	sin
mi	PRON	ja
se	PART	se
zove	VERB	zvati
Radovan	PROPN	Radovan
,	PUNCT	,
snaja	NOUN	snaja
mi	PRON	ja
se	PART	se
zove	VERB	zvati
Marina	PROPN	Marina
,	PUNCT	,
najstariji	ADJ	star
unuk	NOUN	unuk
je	AUX	jesam
Marko	PROPN	Marka
,	PUNCT	,
pa	CCONJ	pa
onda	ADV	onda
to	DET	taj
mi	PRON	ja
je	AUX	jesam
od	ADP	od
ćerke	NOUN	ćerka
unuk	NOUN	unuk
.	PUNCT	.
Od	ADP	od
sina	NOUN	sin
imam	VERB	imati
Isaka	PROPN	Isak
,	PUNCT	,
Davida	PROPN	David
i	CCONJ	i
Miu	PROPN	Mia
.	PUNCT	.
[	PUNCT	[
Je	NOUN	Je
l	X	l
možete	VERB	moći
još	ADV	još
nešto	ADV	nešto
da	SCONJ	da
mi	PRON	ja
kažete	VERB	kazati
o	ADP	o
njima	PRON	ona
?	PUNCT	?
]	PUNCT	]
Pa	X	Pa
ovako	ADV	ovako
,	PUNCT	,
stariji	ADJ	star
unuk	NOUN	unuk
Marko	PROPN	Marka
on	PRON	on
studira	VERB	studirati
.	PUNCT	.
On	PRON	on
je	AUX	jesam
student	NOUN	student
biologije	NOUN	biologija
.	PUNCT	.
To	DET	taj
mi	PRON	ja
je	AUX	jesam
od	ADP	od
ćerke	NOUN	ćerka
.	PUNCT	.
Dobar	ADJ	dobar
,	PUNCT	,
vredan	ADJ	vredan
je	AUX	jesam
,	PUNCT	,
_	PUNCT	_
marljiv	ADJ	marljiv
je	AUX	jesam
,	PUNCT	,
poslušan	VERB	poslušati
je	AUX	jesam
_	PUNCT	_
tako	ADV	tako
.	PUNCT	.
Dečko	PROPN	Dečko
,	PUNCT	,
od	ADP	od
sina	NOUN	sin
,	PUNCT	,
Isak	PROPN	Isak
,	PUNCT	,
on	PRON	on
je	AUX	jesam
najstariji	ADJ	star
,	PUNCT	,
on	PRON	on
isto	PART	isto
ide	VERB	ići
u	ADP	u
školu	NOUN	škola
,	PUNCT	,
četvrta	ADJ	četvrti
godina	NOUN	godina
škole	NOUN	škola
,	PUNCT	,
dobar	ADJ	dobar
je	AUX	jesam
i	CCONJ	i
on	PRON	on
isto	ADV	isto
,	PUNCT	,
vredan	ADJ	vredan
je	AUX	jesam
.	PUNCT	.
_	PUNCT	_
David	PROPN	David
,	PUNCT	,
srednji	ADJ	srednji
,	PUNCT	,
on	PRON	on
ide	VERB	ići
u	ADP	u
treći	ADJ	treći
razred	NOUN	razred
,	PUNCT	,
i	CCONJ	i
on	PRON	on
isto	PART	isto
uči	VERB	učiti
dobro	ADV	dobro
,	PUNCT	,
dobar	ADJ	dobar
je	AUX	jesam
dečak	NOUN	dečak
.	PUNCT	.
A	X	A
Mia	PROPN	Mia
,	PUNCT	,
ona	PRON	ona
je	AUX	jesam
pošla	VERB	poći
ove	DET	ovaj
godine	NOUN	godina
u	ADP	u
prvi	ADJ	prvi
razred	NOUN	razred
škole	NOUN	škola
i	CCONJ	i
ona	PRON	ona
je	AUX	jesam
dobra	ADJ	dobar
,	PUNCT	,
marljiva	ADJ	marljiv
.	PUNCT	.
_	PUNCT	_
Možda	PROPN	Možda
je	AUX	jesam
najvrednija	ADJ	vredan
_	PUNCT	_
_	PUNCT	_
u	ADP	u
školi	NOUN	škola
.	PUNCT	.
[	PUNCT	[
A	X	A
sin	NOUN	sin
i	CCONJ	i
ćerka	NOUN	ćerka
čime	PRON	šta
vam	PRON	vi
se	PART	se
bave	VERB	baviti
?	PUNCT	?
]	PUNCT	]
Sin	PROPN	Sin
i	CCONJ	i
ćerka	NOUN	ćerka
.	PUNCT	.
Sin	NOUN	sin
mi	PRON	ja
živi	VERB	živiti
u	ADP	u
Nemačkoj	PROPN	Nemačka
,	PUNCT	,
on	PRON	on
radi	VERB	raditi
tamo	ADV	tamo
privatno	ADV	privatno
,	PUNCT	,
a	ADJ	a
ćerka	NOUN	ćerka
je	AUX	jesam
ovde	ADV	ovde
_	PUNCT	_
u	ADP	u
_	PUNCT	_
Gornjem	PROPN	Gornjem
Milanovcu	PROPN	Milanovac
.	PUNCT	.
Ona	PRON	ona
ima	VERB	imati
isto	ADV	isto
privatnu	ADJ	privatan
neku	DET	neki
delatnost	NOUN	delatnost
,	PUNCT	,
_	PUNCT	_
_	PUNCT	_
tako	ADV	tako
da	SCONJ	da
je	AUX	jesam
i	CCONJ	i
ona	PRON	ona
eto	PART	eto
uspešna	ADJ	uspešan
.	PUNCT	.
[	PUNCT	[
Pa	X	Pa
dobro	ADV	dobro
,	PUNCT	,
pošto	SCONJ	pošto
niste	AUX	jesam
u	ADP	u
Domu	PROPN	Dom
za	ADP	za
stare	ADJ	star
,	PUNCT	,
nego	CCONJ	nego
ste	AUX	jesam
ovde	ADV	ovde
na	ADP	na
brdu	NOUN	brdo
,	PUNCT	,
je	AUX	jesam
l	X	l
imate	VERB	imati
ovde	ADV	ovde
neke	DET	neki
prijatelje	NOUN	prijatelj
sa	ADP	sa
kojima	DET	koji
se	PART	se
družite	VERB	družiti
?	PUNCT	?
]	PUNCT	]
Da	ADV	Da
,	PUNCT	,
imam	VERB	imati
,	PUNCT	,
imam	VERB	imati
komšinku	NOUN	komšinka
,	PUNCT	,
_	PUNCT	_
imam	VERB	imati
prijatelje	NOUN	prijatelj
,	PUNCT	,
imam	VERB	imati
komšinku	NOUN	komšinka
,	PUNCT	,
imam	VERB	imati
brata	NOUN	brata
i	CCONJ	i
snaju	NOUN	snaja
_	PUNCT	_
i	CCONJ	i
brataničinu	NOUN	brataničinu
.	PUNCT	.
Eto	PART	eto
s	ADP	s
njima	PRON	ona
najviše	ADV	najviše
se	PART	se
družim	VERB	družiti
.	PUNCT	.
Tako	ADV	tako
popijemo	VERB	popiti
kafu	NOUN	kafa
,	PUNCT	,
popričamo	VERB	popričati
o	ADP	o
svemu	DET	sav
i	CCONJ	i
svačemu	PRON	svašta
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
[	PUNCT	[
Pa	X	Pa
dobro	ADV	dobro
,	PUNCT	,
ovaj	DET	ovaj
,	PUNCT	,
je	AUX	jesam
l	X	l
vam	PRON	vi
oni	PRON	oni
zbog	ADP	zbog
nečeg	PRON	nešta
posebno	ADV	posebno
odgovaraju	VERB	odgovarati
,	PUNCT	,
na	ADP	na
primer	NOUN	primer
komšinka	NOUN	komšinka
?	PUNCT	?
]	PUNCT	]
Da	ADV	Da
,	PUNCT	,
da	SCONJ	da
,	PUNCT	,
da	SCONJ	da
ova	DET	ovaj
komšinka	NOUN	komšinka
ovako	ADV	ovako
,	PUNCT	,
pričamo	VERB	pričati
dosta	ADV	dosta
o	ADP	o
pročitanim	ADJ	pročitan
knjigama	NOUN	knjiga
,	PUNCT	,
o	ADP	o
novostima	NOUN	novost
dana	NOUN	dan
,	PUNCT	,
o	ADP	o
deci	NOUN	deca
,	PUNCT	,
unučadima	NOUN	unučadima
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
[	PUNCT	[
Pratite	VERB	pratiti
vesti	NOUN	vesta
?	PUNCT	?
]	PUNCT	]
Da	ADV	Da
,	PUNCT	,
da	SCONJ	da
,	PUNCT	,
da	SCONJ	da
.	PUNCT	.
[	PUNCT	[
Koju	PROPN	Koja
vrstu	NOUN	vrsta
muzike	NOUN	muzika
ste	AUX	jesam
voleli	VERB	voleti
u	ADP	u
mladosti	NOUN	mladost
,	PUNCT	,
a	ADV	a
koju	DET	koji
volite	VERB	voliti
sada	ADV	sada
?	PUNCT	?
]	PUNCT	]
Volela	ADJ	Volela
sam	AUX	jesam
narodnu	ADJ	narodni
muziku	NOUN	muzika
što	SCONJ	što
je	AUX	jesam
i	PART	i
_	PUNCT	_
ostalo	VERB	ostati
.	PUNCT	.
I	CCONJ	i
sada	ADV	sada
volim	VERB	voliti
tu	ADV	tu
narodnu	ADJ	narodni
muziku	NOUN	muzika
.	PUNCT	.
[	PUNCT	[
Staru	PROPN	Star
onu	DET	onaj
narodnu	ADJ	narodni
ili	CCONJ	ili
?	PUNCT	?
]	PUNCT	]
Pa	X	Pa
,	PUNCT	,
staru	ADJ	star
narodnu	ADJ	narodni
,	PUNCT	,
volim	VERB	voliti
i	CCONJ	i
ove	DET	ovaj
sad	ADV	sad
modernije	ADJ	moderan
,	PUNCT	,
_	PUNCT	_
zavisi	VERB	zavisiti
ko	PRON	ko
peva	VERB	pevati
i	CCONJ	i
kako	SCONJ	kako
peva	VERB	pevati
.	PUNCT	.
Zoricu	PROPN	Zorica
Brunclik	PROPN	Brunclik
volim	VERB	voliti
najviše	ADV	najviše
_	PUNCT	_
kad	SCONJ	kad
peva	VERB	pevati
,	PUNCT	,
da	SCONJ	da
Zoricu	PROPN	Zorica
i	CCONJ	i
Šabana	PROPN	Šaban
Šaulića	PROPN	Šaulić
,	PUNCT	,
Miroslava	PROPN	Miroslava
Ilića	PROPN	Ilić
_	PUNCT	_
i	CCONJ	i
_	PUNCT	_
_	PUNCT	_
eto	PART	eto
,	PUNCT	,
tako	ADV	tako
_	PUNCT	_
Lepu	PROPN	Lepa
Lukić	PROPN	Lukić
.	PUNCT	.
[	PUNCT	[
A	X	A
koliko	ADV	koliko
ste	AUX	jesam
dugo	ADV	dugo
živeli	VERB	živeti
u	ADP	u
Nemačkoj	PROPN	Nemačka
?	PUNCT	?
]	PUNCT	]
Četrdeset	ADJ	Četrdeset
godina	NOUN	godina
.	PUNCT	.
[	PUNCT	[
I	ADV	I
kada	SCONJ	kada
ste	AUX	jesam
došli	VERB	doći
ovamo	ADV	ovamo
nazad	ADV	nazad
,	PUNCT	,
u	ADP	u
Srbiju	PROPN	Srbija
?	PUNCT	?
]	PUNCT	]
Došla	PROPN	Došla
sam	AUX	jesam
dve	NUM	dva
hiljade	NOUN	hiljada
desete	ADJ	deseti
godine	NOUN	godina
.	PUNCT	.
[	PUNCT	[
Da	ADV	Da
,	PUNCT	,
da	SCONJ	da
,	PUNCT	,
a	ADV	a
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
]	PUNCT	]
A	X	A
od	ADP	od
tada	ADV	tada
sam	AUX	jesam
u	ADP	u
penziji	NOUN	penzija
i	CCONJ	i
onda	SCONJ	onda
sam	AUX	jesam
se	PART	se
vratila	VERB	vratiti
_	PUNCT	_
u	ADP	u
svoje	DET	svoj
rodno	ADJ	rodno
mesto	NOUN	mesto
.	PUNCT	.
[	PUNCT	[
I	ADV	I
sad	ADV	sad
kad	SCONJ	kad
gledate	VERB	gledati
,	PUNCT	,
gde	SCONJ	gde
vam	PRON	vi
je	AUX	jesam
lepši	ADJ	lep
život	NOUN	život
ovako	ADV	ovako
?	PUNCT	?
]	PUNCT	]
Lep	VERB	Lep
mi	PRON	ja
je	AUX	jesam
život	NOUN	život
bio	AUX	biti
u	ADP	u
Nemačkoj	PROPN	Nemačka
,	PUNCT	,
a	ADV	a
lep	ADJ	lep
mi	PRON	ja
je	AUX	jesam
život	NOUN	život
i	CCONJ	i
ovde	ADV	ovde
,	PUNCT	,
baš	PART	baš
onako	ADV	onako
koristim	VERB	koristiti
maksimalno	ADV	maksimalno
.	PUNCT	.
I	CCONJ	i
eto	PART	eto
spajam	VERB	spajati
lepo	ADV	lepo
i	CCONJ	i
korisno	ADJ	korisno
.	PUNCT	.
[	PUNCT	[
Koja	PROPN	Koja
su	AUX	jesam
vaša	DET	vaš
interesovanja	NOUN	interesovanje
,	PUNCT	,
ako	SCONJ	ako
ih	PRON	ona
ima	VERB	imati
?	PUNCT	?
]	PUNCT	]
Moje	PROPN	Moje
interesovanje	NOUN	interesovanje
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
Volim	ADJ	Volim
da	SCONJ	da
čitam	VERB	čitati
knjige	NOUN	knjiga
,	PUNCT	,
_	PUNCT	_
volim	VERB	voliti
da	SCONJ	da
lutam	VERB	lutati
po	ADP	po
prodavnicama	NOUN	prodavnica
i	CCONJ	i
da	SCONJ	da
gledam	VERB	gledati
ovako	ADV	ovako
,	PUNCT	,
da	SCONJ	da
idem	VERB	ići
u	ADP	u
šoping	NOUN	šoping
,	PUNCT	,
_	PUNCT	_
volim	VERB	voliti
da	SCONJ	da
putujem	VERB	putovati
.	PUNCT	.
[	PUNCT	[
Volite	PROPN	Volite
li	PART	li
da	SCONJ	da
kuvate	VERB	kuvati
?	PUNCT	?
]	PUNCT	]
To	PROPN	To
_	PUNCT	_
volim	VERB	voliti
da	SCONJ	da
kuvam	VERB	kuvati
,	PUNCT	,
ali	CCONJ	ali
ne	PART	ne
baš	PART	baš
mnogo	ADV	mnogo
.	PUNCT	.
Ali	CCONJ	ali
volim	VERB	voliti
da	SCONJ	da
putujem	VERB	putovati
i	CCONJ	i
volim	VERB	voliti
da	SCONJ	da
dolazim	VERB	dolaziti
do	ADP	do
nekih	DET	neki
novih	ADJ	nov
saznanja	NOUN	saznanje
,	PUNCT	,
da	SCONJ	da
nova	ADJ	nov
mesta	NOUN	mesto
posećujem	VERB	posećivati
,	PUNCT	,
tako	ADV	tako
da	SCONJ	da
.	PUNCT	.
.	PUNCT	.
.	PUNCT	.
[	PUNCT	[
Pa	X	Pa
je	AUX	jesam
l	X	l
putujete	VERB	putovati
ovako	ADV	ovako
trenutno	ADV	trenutno
negde	ADV	negde
?	PUNCT	?
]	PUNCT	]
Da	ADV	Da
,	PUNCT	,
putujem	VERB	putovati
.	PUNCT	.
Bila	AUX	biti
sam	AUX	jesam
u	ADP	u
Nemačkoj	PROPN	Nemačka
.	PUNCT	.
Putujem	VERB	putovati
ovde	ADV	ovde
po	ADP	po
Srbiji	PROPN	Srbija
.	PUNCT	.
Ima	VERB	imati
mnogo	ADV	mnogo
lepih	ADJ	lep
mesta	NOUN	mesto
,	PUNCT	,
baš	PART	baš
,	PUNCT	,
i	CCONJ	i
banja	VERB	banjati
,	PUNCT	,
i	CCONJ	i
planina	NOUN	planina
i	CCONJ	i
volim	VERB	voliti
Zlatibor	PROPN	Zlatibor
,	PUNCT	,
volim	VERB	voliti
Taru	PROPN	Tar
.	PUNCT	.
[	PUNCT	[
Pa	X	Pa
koje	DET	koji
ste	AUX	jesam
tako	ADV	tako
države	NOUN	država
sve	DET	sav
posetili	VERB	posetiti
dok	SCONJ	dok
ste	AUX	jesam
putovali	VERB	putovati
?	PUNCT	?
]	PUNCT	]
Posetila	PROPN	Posetila
sam	AUX	jesam
Nemačku	PROPN	Nemačka
,	PUNCT	,
Švajcarsku	PROPN	Švajcarska
,	PUNCT	,
Italiju	PROPN	Italija
,	PUNCT	,
Austriju	PROPN	Austrija
_	PUNCT	_
_	PUNCT	_
Holandiju	PROPN	Holandija
_	PUNCT	_
_	PUNCT	_
eto	PART	eto
to	DET	taj
.	PUNCT	.
[	PUNCT	[
I	ADV	I
koja	DET	koji
vam	PRON	vi
se	PART	se
čini	VERB	činiti
najlepšom	ADJ	lep
tamo	ADV	tamo
što	SCONJ	što
ste	AUX	jesam
videli	VERB	videti
?	PUNCT	?
]	PUNCT	]
Holandija	PROPN	Holandija
mi	PRON	ja
se	PART	se
čini	VERB	činiti
mnogo	ADV	mnogo
lepa	ADJ	lep
,	PUNCT	,
uređena	ADJ	uređen
zemlja	NOUN	zemlja
.	PUNCT	.
Nemačka	PROPN	Nemačka
mi	PRON	ja
se	PART	se
sviđa	VERB	sviđati
isto	ADV	isto
mnogo	ADV	mnogo
,	PUNCT	,
Švajcarska	PROPN	Švajcarska
takođe	PART	takođe
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
Nemačka	PROPN	Nemačka
i	CCONJ	i
Švajcarska	PROPN	Švajcarska
,	PUNCT	,
nemačko	ADJ	nemački
govorno	ADJ	govorni
područje	NOUN	područje
,	PUNCT	,
to	DET	taj
mi	PRON	ja
je	AUX	jesam
nekako	ADV	nekako
najlepše	ADJ	lep
,	PUNCT	,
najčistije	ADJ	čist
_	PUNCT	_
tako	ADV	tako
.	PUNCT	.
[	PUNCT	[
A	X	A
Austrija	PROPN	Austrija
?	PUNCT	?
]	PUNCT	]
Austrija	PROPN	Austrija
,	PUNCT	,
i	CCONJ	i
ona	PRON	ona
je	AUX	jesam
takođe	PART	takođe
isto	ADV	isto
,	PUNCT	,
oni	PRON	oni
su	AUX	jesam
isto	ADV	isto
,	PUNCT	,
lepo	ADV	lepo
,	PUNCT	,
uređeno	VERB	urediti
,	PUNCT	,
da	SCONJ	da
_	PUNCT	_
moderno	ADV	moderno
.	PUNCT	.
[	PUNCT	[
A	X	A
sada	ADV	sada
otkrivate	VERB	otkrivati
Srbiju	PROPN	Srbija
?	PUNCT	?
]	PUNCT	]
Da	ADV	Da
_	PUNCT	_
sad	ADV	sad
Srbiju	PROPN	Srbija
,	PUNCT	,
sad	ADV	sad
putujem	VERB	putovati
po	ADP	po
Srbiji	PROPN	Srbija
,	PUNCT	,
bila	AUX	biti
sam	AUX	jesam
na	ADP	na
Goču	PROPN	Goč
,	PUNCT	,
Zlatiboru	PROPN	Zlatibor
_	PUNCT	_
Tari	PROPN	Tara
,	PUNCT	,
Kopaoniku	PROPN	Kopaonik
.	PUNCT	.
[	PUNCT	[
Ovaj	PROPN	Ovaj
,	PUNCT	,
pa	CCONJ	pa
dobro	ADV	dobro
,	PUNCT	,
lepo	ADV	lepo
,	PUNCT	,
a	ADV	a
je	AUX	jesam
l	X	l
imate	VERB	imati
još	ADV	još
nešto	ADV	nešto
da	SCONJ	da
nam	PRON	mi
dodatno	ADV	dodatno
ispričate	VERB	ispričati
o	ADP	o
sebi	PRON	sebe
ovako	ADV	ovako
?	PUNCT	?
]	PUNCT	]
Sebi	PROPN	Sebi
?	PUNCT	?
[	PUNCT	[
Pa	X	Pa
da	SCONJ	da
]	PUNCT	]
_	PUNCT	_
Kod	NOUN	kod
mene	PRON	ja
je	AUX	jesam
rad	NOUN	rad
,	PUNCT	,
red	NOUN	red
i	CCONJ	i
disciplina	NOUN	disciplina
.	PUNCT	.
[	PUNCT	[
Hah	VERB	Hah
,	PUNCT	,
dobro	ADV	dobro
]	PUNCT	]
Radna	ADJ	Radna
sam	AUX	jesam
,	PUNCT	,
volim	VERB	voliti
da	SCONJ	da
radim	VERB	raditi
.	PUNCT	.
Volim	VERB	voliti
uvek	ADV	uvek
nečim	PRON	nešta
da	SCONJ	da
se	PART	se
zabavljam	VERB	zabavljati
,	PUNCT	,
nikad	ADV	nikad
mi	PRON	ja
nije	AUX	jesam
ni	PART	ni
dosadno	ADV	dosadno
,	PUNCT	,
ni	CCONJ	ni
teško	ADV	teško
,	PUNCT	,
sve	ADV	sve
što	SCONJ	što
radim	VERB	raditi
to	DET	taj
volim	VERB	voliti
.	PUNCT	.
[	PUNCT	[
A	X	A
je	AUX	jesam
l	X	l
vi	PRON	vi
živite	VERB	živiti
sad	ADV	sad
ovde	ADV	ovde
sami	ADJ	sam
ili	CCONJ	ili
?	PUNCT	?
]	PUNCT	]
Sa	VERB	Sa
ćerkom	NOUN	ćerka
,	PUNCT	,
da	SCONJ	da
_	PUNCT	_
_	PUNCT	_
unuci	NOUN	unuka
me	PRON	ja
posećuju	VERB	posećivati
.	PUNCT	.
Sin	NOUN	sin
me	PRON	ja
posećuje	VERB	posećivati
sa	ADP	sa
njegovom	DET	njegov
decom	NOUN	deca
i	CCONJ	i
njegovom	DET	njegov
suprugom	NOUN	supruga
.	PUNCT	.
[	PUNCT	[
Nije	PROPN	Nije
vam	PRON	vi
naporno	ADV	naporno
da	SCONJ	da
održavate	VERB	održavati
ovo	DET	ovaj
sve	ADV	sve
?	PUNCT	?
]	PUNCT	]
Ne	ADV	Ne
,	PUNCT	,
ne	PART	ne
[	PUNCT	[
Pa	X	Pa
dobro	ADV	dobro
,	PUNCT	,
to	DET	taj
bi	AUX	biti
bilo	AUX	biti
to	DET	taj
,	PUNCT	,
hvala	NOUN	hvala
]	PUNCT	]
