[	PUNCT	[
Kako	ADV	kako
se	PART	se
zovete	VERB	zvati
?	PUNCT	?
]	PUNCT	]
Ratka	PROPN	Ratka
Rosić	PROPN	Rosić
.	PUNCT	.
[	PUNCT	[
Kada	PROPN	Kada
ste	AUX	jesam
rođeni	VERB	roditi
?	PUNCT	?
]	PUNCT	]
Dvadeset	NUM	dvadeset
devetog	ADJ	deveti
jula	NOUN	jul
dvadeset	NUM	dvadeset
-	PUNCT	-
šeste	ADJ	šesti
.	PUNCT	.
[	PUNCT	[
Dobro	PROPN	Dobra
,	PUNCT	,
šta	PRON	šta
ste	AUX	jesam
završili	VERB	završiti
od	ADP	od
škole	NOUN	škola
?	PUNCT	?
]	PUNCT	]
Molim	ADJ	Molim
?	PUNCT	?
[	PUNCT	[
Šta	ADV	Šta
ste	AUX	jesam
po	ADP	po
zanimanju	NOUN	zanimanje
?	PUNCT	?
Šta	ADV	Šta
ste	AUX	jesam
završili	VERB	završiti
od	ADP	od
škole	NOUN	škola
?	PUNCT	?
]	PUNCT	]
A	X	A
ja	PRON	ja
sam	AUX	jesam
diplomirani	ADJ	diplomiran
inženjer	NOUN	inženjer
poljoprivredede	NOUN	poljoprivredede
.	PUNCT	.
[	PUNCT	[
Gde	PROPN	Gde
te	PRON	ti
radili	VERB	raditi
?	PUNCT	?
]	PUNCT	]
Radila	VERB	raditi
sam	AUX	jesam
u	ADP	u
Saveznom	ADJ	savezni
izvršnom	ADJ	izvršan
veću	NOUN	veće
.	PUNCT	.
[	PUNCT	[
Gde	PROPN	Gde
je	AUX	jesam
to	DET	taj
?	PUNCT	?
Je	AUX	jesam
l	X	l
'	PUNCT	'
Vam	PROPN	Vam
bilo	AUX	biti
lepo	ADV	lepo
na	ADP	na
poslu	NOUN	posao
?	PUNCT	?
Šta	ADV	Šta
ste	AUX	jesam
radili	VERB	raditi
tačno	ADV	tačno
?	PUNCT	?
]	PUNCT	]
Pa	X	Pa
to	DET	taj
je	AUX	jesam
organizacija	NOUN	organizacija
poljoprivrednih	ADJ	poljoprivredni
imanja	NOUN	imanje
i	CCONJ	i
_	PUNCT	_
_	PUNCT	_
kako	SCONJ	kako
da	PART	da
Vam	VERB	Vam
kažem	VERB	kazati
_	PUNCT	_
u	ADP	u
administraciji	NOUN	administracija
poljoprivrednoj	ADJ	poljoprivredni
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
Ne	ADV	Ne
znam	VERB	znati
kako	SCONJ	kako
da	PART	da
Vam	VERB	Vam
objasnim	VERB	objasniti
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
Išla	PROPN	Išla
sam	AUX	jesam
po	ADP	po
imanjima	NOUN	imanje
_	PUNCT	_
gledala	VERB	gledati
tamo	ADV	tamo
šta	PRON	šta
se	PART	se
radi	VERB	raditi
i	CCONJ	i
pomagala	VERB	pomagati
im	PRON	ona
da	SCONJ	da
uvedu	VERB	uvesti
neke	DET	neki
nove	ADJ	nov
stvari	NOUN	stvar
i	CCONJ	i
_	PUNCT	_
tako	ADV	tako
.	PUNCT	.
[	PUNCT	[
Gde	PROPN	Gde
ste	AUX	jesam
rođeni	VERB	roditi
?	PUNCT	?
]	PUNCT	]
Šta	ADV	Šta
gde	SCONJ	gde
sam	AUX	jesam
?	PUNCT	?
[	PUNCT	[
Gde	PROPN	Gde
ste	AUX	jesam
rođeni	VERB	roditi
?	PUNCT	?
]	PUNCT	]
Ja	ADV	Ja
sam	AUX	jesam
rođena	VERB	roditi
u	ADP	u
Štipu	PROPN	Štip
,	PUNCT	,
u	ADP	u
Makedoniji	PROPN	Makedonija
.	PUNCT	.
Tu	DET	taj
su	AUX	jesam
mi	PRON	ja
bili	AUX	biti
roditelji	NOUN	roditelj
sa	ADP	sa
službom	NOUN	služba
.	PUNCT	.
Učitelji	PROPN	Učitelji
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
I	ADV	I
kad	SCONJ	kad
je	AUX	jesam
počeo	VERB	početi
rat	NOUN	rat
,	PUNCT	,
onda	ADV	onda
smo	AUX	jesam
_	PUNCT	_
pobegli	VERB	pobeći
iz	ADP	iz
Makedonije	PROPN	Makedonija
i	CCONJ	i
došli	VERB	doći
smo	AUX	jesam
na	ADP	na
ostrvo	NOUN	ostrvo
Krk	PROPN	Krk
odakle	ADV	odakle
je	AUX	jesam
moja	DET	moj
majka	NOUN	majka
rodom	ADV	rodom
.	PUNCT	.
Eto	PART	eto
.	PUNCT	.
[	PUNCT	[
I	ADV	I
kako	SCONJ	kako
ste	AUX	jesam
došli	VERB	doći
u	ADP	u
Beograd	PROPN	Beograd
?	PUNCT	?
]	PUNCT	]
_	PUNCT	_
_	PUNCT	_
Pa	X	Pa
,	PUNCT	,
radila	VERB	raditi
sam	AUX	jesam
kad	SCONJ	kad
sam	AUX	jesam
se	PART	se
udala	VERB	udati
,	PUNCT	,
onda	ADV	onda
sam	AUX	jesam
radila	VERB	raditi
u	ADP	u
Peći	PROPN	Peć
na	ADP	na
Kosovu	PROPN	Kosovo
_	PUNCT	_
i	CCONJ	i
onda	SCONJ	onda
je	AUX	jesam
moj	DET	moj
muž	NOUN	muž
premešten	VERB	premestiti
ovde	ADV	ovde
u	ADP	u
Institut	NOUN	institut
_	PUNCT	_
za	ADP	za
kukuruz	NOUN	kukuruz
i	CCONJ	i
onda	SCONJ	onda
sam	AUX	jesam
i	CCONJ	i
ja	PRON	ja
dobila	VERB	dobiti
mesto	NOUN	mesto
.	PUNCT	.
[	PUNCT	[
Imate	PROPN	Imate
li	PART	li
dece	NOUN	deca
?	PUNCT	?
]	PUNCT	]
Imam	VERB	imati
jednog	NUM	jedan
sina	NOUN	sin
,	PUNCT	,
on	PRON	on
je	AUX	jesam
lekar	NOUN	lekar
.	PUNCT	.
[	PUNCT	[
A	X	A
unučiće	NOUN	unučić
?	PUNCT	?
]	PUNCT	]
Molim	ADJ	Molim
?	PUNCT	?
[	PUNCT	[
Unučiće	PROPN	Unučiće
,	PUNCT	,
unuke	NOUN	unuka
?	PUNCT	?
]	PUNCT	]
Imam	PROPN	Imam
,	PUNCT	,
dvoje	NUM	dvoje
,	PUNCT	,
imam	VERB	imati
unuku	NOUN	unuka
i	CCONJ	i
unuka	NOUN	unuka
.	PUNCT	.
Unuk	NOUN	unuk
je	AUX	jesam
diplomirao	VERB	diplomirati
_	PUNCT	_
_	PUNCT	_
neku	DET	neki
betonsku	ADJ	betonski
struku	NOUN	struka
,	PUNCT	,
a	ADV	a
unuka	NOUN	unuka
sad	ADV	sad
studira	VERB	studirati
pravo	NOUN	prava
.	PUNCT	.
[	PUNCT	[
E	VERB	E
baš	PART	baš
lepo	ADV	lepo
]	PUNCT	]
Eto	ADV	Eto
.	PUNCT	.
[	PUNCT	[
A	X	A
čekajte	VERB	čekati
da	SCONJ	da
Vas	PROPN	Vas
pitam	VERB	pitati
još	ADV	još
nešto	ADV	nešto
.	PUNCT	.
Je	AUX	jesam
l	X	l
'	PUNCT	'
možda	PART	možda
znate	VERB	znati
da	SCONJ	da
svirate	VERB	svirati
neki	DET	neki
instrument	NOUN	instrument
,	PUNCT	,
je	AUX	jesam
l	X	l
'	PUNCT	'
volite	VERB	voliti
muziku	NOUN	muzika
?	PUNCT	?
]	PUNCT	]
Molim	ADJ	Molim
?	PUNCT	?
[	PUNCT	[
Muziku	NOUN	muzika
da	SCONJ	da
li	PART	li
volite	VERB	voliti
?	PUNCT	?
]	PUNCT	]
Šta	ADV	Šta
,	PUNCT	,
muziku	NOUN	muzika
?	PUNCT	?
[	PUNCT	[
Muziku	NOUN	muzika
da	SCONJ	da
li	PART	li
volite	VERB	voliti
da	SCONJ	da
slušate	VERB	slušati
?	PUNCT	?
]	PUNCT	]
Volim	ADJ	Volim
.	PUNCT	.
[	PUNCT	[
A	X	A
šta	PRON	šta
volite	VERB	voliti
?	PUNCT	?
]	PUNCT	]
Klasičnu	ADJ	Klasičnu
,	PUNCT	,
klasičnu	ADJ	klasičan
.	PUNCT	.
Klasičnu	ADJ	Klasičnu
muziku	NOUN	muzika
volim	VERB	voliti
,	PUNCT	,
al	CCONJ	al
pošto	SCONJ	pošto
sad	ADV	sad
ne	PART	ne
čujem	VERB	čuti
,	PUNCT	,
sad	ADV	sad
ni	PART	ni
ne	PART	ne
slušam	VERB	slušati
.	PUNCT	.
[	PUNCT	[
A	X	A
kad	SCONJ	kad
ste	AUX	jesam
bili	AUX	biti
mlađi	ADJ	mlad
šta	PRON	šta
ste	AUX	jesam
slušali	VERB	slušati
?	PUNCT	?
]	PUNCT	]
Pa	X	Pa
imala	VERB	imati
sam	DET	sam
gramofon	NOUN	gramofon
,	PUNCT	,
pa	CCONJ	pa
sam	AUX	jesam
slušala	VERB	slušati
ploče	NOUN	ploča
.	PUNCT	.
.	PUNCT	.
_	PUNCT	_
Išla	PROPN	Išla
sam	AUX	jesam
u	ADP	u
Beograd	PROPN	Beograd
na	ADP	na
koncerte	NOUN	koncert
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
[	PUNCT	[
A	X	A
koje	DET	koji
kompozitore	NOUN	kompozitor
najviše	ADV	najviše
volite	VERB	voliti
?	PUNCT	?
]	PUNCT	]
Molim	ADJ	Molim
?	PUNCT	?
[	PUNCT	[
Koje	PROPN	Koja
kompozitore	NOUN	kompozitor
ste	AUX	jesam
najviše	ADV	najviše
voleli	VERB	voleti
da	SCONJ	da
slušate	VERB	slušati
?	PUNCT	?
]	PUNCT	]
Šta	VERB	Šta
koje	DET	koji
?	PUNCT	?
[	PUNCT	[
Kompozitore	PROPN	Kompozitore
.	PUNCT	.
Mozarta	PROPN	Mozarta
,	PUNCT	,
na	ADP	na
primer	NOUN	primer
,	PUNCT	,
jeste	AUX	jesam
njega	PRON	on
voleli	VERB	voleti
?	PUNCT	?
]	PUNCT	]
Aha	ADV	Aha
,	PUNCT	,
kompozitora	NOUN	kompozitor
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
Pa	X	Pa
sve	DET	sav
sam	AUX	jesam
volela	VERB	voleti
_	PUNCT	_
Ne	ADV	Ne
mogu	VERB	moći
baš	PART	baš
reći	VERB	reći
da	SCONJ	da
sam	AUX	jesam
nekog	DET	neki
posebno	ADV	posebno
_	PUNCT	_
Volela	ADJ	Volela
sam	AUX	jesam
sve	DET	sav
da	SCONJ	da
slušam	VERB	slušati
_	PUNCT	_
_	PUNCT	_
ali	CCONJ	ali
najviše	ADV	najviše
opere	VERB	oprati
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
Opere	PROPN	Opere
,	PUNCT	,
da	SCONJ	da
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
Išli	PROPN	Išli
smo	AUX	jesam
često	ADV	često
u	ADP	u
pozorište	NOUN	pozorište
u	ADP	u
operu	NOUN	opera
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
Skoro	ADV	skoro
sve	ADV	sve
smo	AUX	jesam
gledali	VERB	gledati
.	PUNCT	.
[	PUNCT	[
A	X	A
je	AUX	jesam
l	X	l
'	PUNCT	'
volite	VERB	voliti
da	SCONJ	da
čitate	VERB	čitati
?	PUNCT	?
]	PUNCT	]
Da	ADV	Da
.	PUNCT	.
Volim	VERB	voliti
da	SCONJ	da
čitam	VERB	čitati
,	PUNCT	,
al	CCONJ	al
sad	ADV	sad
ne	PART	ne
mogu	VERB	moći
_	PUNCT	_
Evo	PROPN	Eva
vidite	VERB	viditi
ova	DET	ovaj
knjiga	NOUN	knjiga
stoji	VERB	stajati
ovde	ADV	ovde
,	PUNCT	,
ali	CCONJ	ali
ne	PART	ne
mogu	VERB	moći
da	SCONJ	da
je	AUX	jesam
pomaknem	VERB	pomaknuti
.	PUNCT	.
_	PUNCT	_
Ja	ADV	Ja
sam	AUX	jesam
mnogo	ADV	mnogo
čitala	VERB	čitati
i	CCONJ	i
proglašena	VERB	proglasiti
sam	AUX	jesam
bila	AUX	biti
za	ADP	za
najboljeg	ADJ	dobar
čitaoca	NOUN	čitalac
tamo	ADV	tamo
_	PUNCT	_
naše	DET	naš
biblioteke	NOUN	biblioteka
u	ADP	u
Beogradu	PROPN	Beograd
.	PUNCT	.
Ne	PART	ne
u	ADP	u
Beogradu	PROPN	Beograd
,	PUNCT	,
u	ADP	u
Štipu	PROPN	Štip
.	PUNCT	.
_	PUNCT	_
I	VERB	I
ovaj	DET	ovaj
_	PUNCT	_
imali	VERB	imati
smo	AUX	jesam
i	CCONJ	i
sami	DET	sam
biblioteku	NOUN	biblioteka
veliku	ADJ	velik
_	PUNCT	_
u	ADP	u
kući	NOUN	kuća
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
.	PUNCT	.
Ali	CCONJ	ali
sve	DET	sav
je	AUX	jesam
to	DET	taj
_	PUNCT	_
prošlost	NOUN	prošlost
.	PUNCT	.
[	PUNCT	[
A	X	A
koji	DET	koji
žanr	NOUN	žanr
ste	AUX	jesam
najviše	ADV	najviše
voleli	VERB	voleti
da	SCONJ	da
čitate	VERB	čitati
?	PUNCT	?
]	PUNCT	]
Molim	ADJ	Molim
?	PUNCT	?
[	PUNCT	[
Koji	PROPN	Koja
žanr	NOUN	žanr
ste	AUX	jesam
najviše	ADV	najviše
voleli	VERB	voleti
da	SCONJ	da
čitate	VERB	čitati
?	PUNCT	?
]	PUNCT	]
Koje	PROPN	Koja
?	PUNCT	?
[	PUNCT	[
Pa	X	Pa
koje	DET	koji
knjige	NOUN	knjiga
?	PUNCT	?
]	PUNCT	]
_	PUNCT	_
Pa	X	Pa
najviše	ADV	najviše
rusku	ADJ	ruski
literaturu	NOUN	literatura
.	PUNCT	.
Tolstoja	PROPN	Tolstoj
.	PUNCT	.
Tolstoja	PROPN	Tolstoj
sam	AUX	jesam
čitala	VERB	čitati
,	PUNCT	,
Rat	ADV	Rat
i	CCONJ	i
mir	NOUN	mir
više	ADV	više
puta	ADV	puta
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
najviše	ADV	najviše
.	PUNCT	.
Čitala	PROPN	Čitala
sam	AUX	jesam
ovu	DET	ovaj
i	CCONJ	i
englesku	ADJ	engleski
literaturu	NOUN	literatura
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
Ove	ADV	Ove
druge	ADJ	drugi
sam	AUX	jesam
slabije	ADJ	slab
već	CCONJ	već
.	PUNCT	.
[	PUNCT	[
A	X	A
je	AUX	jesam
l	X	l
'	PUNCT	'
možda	PART	možda
govorite	VERB	govoriti
engleski	ADJ	engleski
?	PUNCT	?
]	PUNCT	]
Molim	ADJ	Molim
?	PUNCT	?
[	PUNCT	[
Govorite	VERB	govoriti
li	PART	li
engleski	ADJ	engleski
?	PUNCT	?
]	PUNCT	]
A	X	A
slabo	ADV	slabo
,	PUNCT	,
slabo	ADV	slabo
_	PUNCT	_
Govorim	VERB	govoriti
ja	PRON	ja
italijanski	ADJ	italijanski
jezik	NOUN	jezik
sam	AUX	jesam
dobro	ADV	dobro
naučila	VERB	naučiti
.	PUNCT	.
_	PUNCT	_
Ne	ADV	Ne
znam	VERB	znati
kako	ADV	kako
,	PUNCT	,
sticajem	NOUN	sticaj
okolnosti	NOUN	okolnost
_	PUNCT	_
_	PUNCT	_
ali	CCONJ	ali
_	PUNCT	_
engleski	ADJ	engleski
ne	PART	ne
.	PUNCT	.
Učila	VERB	Učila
sam	AUX	jesam
u	ADP	u
školi	NOUN	škola
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
al	CCONJ	al
ne	PART	ne
mogu	VERB	moći
reći	VERB	reći
da	SCONJ	da
govorim	VERB	govoriti
.	PUNCT	.
Mogu	VERB	moći
da	SCONJ	da
se	PART	se
služim	VERB	služiti
_	PUNCT	_
mislim	VERB	misliti
neke	DET	neki
rečenice	NOUN	rečenica
,	PUNCT	,
reči	NOUN	reč
i	CCONJ	i
tako	ADV	tako
,	PUNCT	,
ali	CCONJ	ali
_	PUNCT	_
to	DET	taj
nije	AUX	jesam
znanje	NOUN	znanje
jezika	NOUN	jezik
.	PUNCT	.
[	PUNCT	[
A	X	A
je	AUX	jesam
l	X	l
'	PUNCT	'
možete	VERB	moći
možda	PART	možda
da	SCONJ	da
mi	PRON	ja
kažete	VERB	kazati
neko	DET	neki
vaše	DET	vaš
iskustvo	NOUN	iskustvo
za	ADP	za
vreme	NOUN	vreme
rata	NOUN	rat
?	PUNCT	?
Je	AUX	jesam
l	X	l
'	PUNCT	'
bilo	AUX	biti
strašno	ADV	strašno
?	PUNCT	?
Je	AUX	jesam
l	X	l
'	PUNCT	'
pamtite	VERB	pamtiti
nešto	PRON	nešto
?	PUNCT	?
]	PUNCT	]
Molim	ADJ	Molim
?	PUNCT	?
[	PUNCT	[
Za	VERB	Za
vreme	NOUN	vreme
rata	NOUN	rat
]	PUNCT	]
Za	ADV	Za
vreme	NOUN	vreme
rata	NOUN	rat
[	PUNCT	[
Je	NOUN	Je
l	X	l
'	PUNCT	'
bilo	AUX	biti
strašno	ADV	strašno
?	PUNCT	?
]	PUNCT	]
Pa	X	Pa
znate	VERB	znati
šta	PRON	šta
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
učesnik	NOUN	učesnik
_	PUNCT	_
ovaj	DET	ovaj
narodno	ADJ	narodni
oslobodilačke	ADJ	oslobodilački
borbe	NOUN	borba
.	PUNCT	.
Radila	VERB	raditi
sam	AUX	jesam
za	ADP	za
Partizane	ADJ	Partizane
i	CCONJ	i
bila	AUX	biti
sam	DET	sam
član	NOUN	član
tamo	ADV	tamo
Omladinskog	ADJ	omladinski
partijskog	ADJ	partijski
rukovodstva	NOUN	rukovodstvo
.	PUNCT	.
Eto	PART	eto
,	PUNCT	,
to	DET	taj
je	AUX	jesam
moj	DET	moj
rad	NOUN	rad
na	ADP	na
Krku	PROPN	Krk
.	PUNCT	.
Išli	ADV	Išli
smo	AUX	jesam
po	ADP	po
selima	NOUN	selo
,	PUNCT	,
držali	VERB	držati
predavanja	NOUN	predavanje
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
I	VERB	I
ovaj	DET	ovaj
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
protiv	ADP	protiv
okupatora	NOUN	okupator
.	PUNCT	.
[	PUNCT	[
Je	NOUN	Je
l	X	l
'	PUNCT	'
bio	AUX	biti
opasan	ADJ	opasan
taj	DET	taj
posao	VERB	posati
?	PUNCT	?
]	PUNCT	]
Molim	ADJ	Molim
?	PUNCT	?
[	PUNCT	[
Da	ADV	Da
li	PART	li
je	AUX	jesam
taj	DET	taj
posao	NOUN	posao
koji	DET	koji
ste	AUX	jesam
vi	PRON	vi
radili	VERB	raditi
bio	AUX	biti
opasan	ADJ	opasan
?	PUNCT	?
]	PUNCT	]
_	PUNCT	_
_	PUNCT	_
Jeste	PROPN	Jeste
.	PUNCT	.
Ako	SCONJ	ako
vas	PRON	vi
uvate	VERB	uvatiti
u	ADP	u
logor	NOUN	logor
ili	CCONJ	ili
ubij	VERB	ubiti
ili	CCONJ	ili
vas	PRON	vi
osude	NOUN	osuda
na	ADP	na
smrt	NOUN	smrt
,	PUNCT	,
ali	CCONJ	ali
nisu	AUX	jesam
srećom	ADV	srećom
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
Srećom	PROPN	Srećom
nisu	AUX	jesam
.	PUNCT	.
[	PUNCT	[
Je	NOUN	Je
l	X	l
'	PUNCT	'
možete	VERB	moći
možda	PART	možda
još	ADV	još
nešto	ADV	nešto
da	SCONJ	da
mi	PRON	ja
kažete	VERB	kazati
o	ADP	o
Vama	NOUN	Vama
?	PUNCT	?
Šta	ADV	Šta
ste	AUX	jesam
još	ADV	još
voleli	VERB	voleti
kad	SCONJ	kad
ste	AUX	jesam
bili	AUX	biti
mladi	ADJ	mlad
?	PUNCT	?
Ili	CCONJ	ili
možda	PART	možda
volite	VERB	voliti
film	NOUN	film
?	PUNCT	?
]	PUNCT	]
Čitanje	PROPN	Čitanje
.	PUNCT	.
Najviše	ADJ	Najviše
knjige	NOUN	knjiga
sam	AUX	jesam
uvek	ADV	uvek
čitala	VERB	čitati
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
.	PUNCT	.
A	X	A
i	CCONJ	i
_	PUNCT	_
volela	VERB	voleti
sam	AUX	jesam
društvo	NOUN	društvo
dobro	ADV	dobro
.	PUNCT	.
_	PUNCT	_
_	PUNCT	_
Ne	ADV	Ne
znam	VERB	znati
šta	PRON	šta
bi	AUX	biti
još	ADV	još
mogla	VERB	moći
posebno	ADV	posebno
da	SCONJ	da
Vam	VERB	Vam
kažem	VERB	kazati
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
obična	ADJ	običan
žena	NOUN	žena
.	PUNCT	.
Ne	PART	ne
mogu	VERB	moći
o	ADP	o
sebi	PRON	sebe
ništa	ADV	ništa
naročito	ADV	naročito
da	SCONJ	da
kažem	VERB	kazati
_	PUNCT	_
.	PUNCT	.
Jedna	NUM	jedan
najobičnija	ADJ	običan
žena	NOUN	žena
_	PUNCT	_
.	PUNCT	.
Samo	PART	samo
školovana	VERB	školovati
.	PUNCT	.
[	PUNCT	[
A	X	A
gde	SCONJ	gde
ste	AUX	jesam
završili	VERB	završiti
fakultet	NOUN	fakultet
?	PUNCT	?
]	PUNCT	]
U	VERB	U
Zagrebu	PROPN	Zagreb
sam	AUX	jesam
završila	VERB	završiti
.	PUNCT	.
Fakultete	NOUN	fakultet
mislite	VERB	misliti
?	PUNCT	?
[	PUNCT	[
Da	ADV	Da
,	PUNCT	,
da	SCONJ	da
.	PUNCT	.
]	PUNCT	]
U	VERB	U
Zagrebu	PROPN	Zagreb
.	PUNCT	.
Zato	ADV	zato
što	SCONJ	što
smo	AUX	jesam
bili	AUX	biti
_	PUNCT	_
_	PUNCT	_
na	ADP	na
Krku	PROPN	Krk
smo	AUX	jesam
onda	ADV	onda
živeli	VERB	živeti
i	CCONJ	i
pripadali	VERB	pripadati
smo	AUX	jesam
Republici	PROPN	Republici
Hrvatskoj	PROPN	Hrvatska
ja	PRON	ja
i	CCONJ	i
majka	NOUN	majka
_	PUNCT	_
i	CCONJ	i
upisala	VERB	upisati
sam	AUX	jesam
u	ADP	u
Zagrebu	PROPN	Zagreb
i	CCONJ	i
tu	ADV	tu
sam	AUX	jesam
diplomirala	VERB	diplomirati
_	PUNCT	_
_	PUNCT	_
.	PUNCT	.
E	INTJ	e
a	VERB	a
onda	SCONJ	onda
su	AUX	jesam
me	PRON	ja
_	PUNCT	_
poslali	VERB	poslati
odmah	ADV	odmah
da	SCONJ	da
,	PUNCT	,
hm	INTJ	hm
,	PUNCT	,
u	ADP	u
Peć	PROPN	Peć
_	PUNCT	_
Kako	ADV	kako
to	DET	taj
da	SCONJ	da
mene	PRON	ja
baš	PART	baš
nađu	VERB	naći
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
.	PUNCT	.
Ali	CCONJ	ali
šta	PRON	šta
se	PART	se
moglo	VERB	moći
?	PUNCT	?
Tad	ADV	tad
se	PART	se
to	DET	taj
raspoređivalo	VERB	raspoređivati
.	PUNCT	.
Išla	ADV	Išla
sam	AUX	jesam
tamo	ADV	tamo
,	PUNCT	,
a	ADV	a
tamo	ADV	tamo
je	AUX	jesam
moj	DET	moj
muž	NOUN	muž
radio	NOUN	radio
u	ADP	u
Institutu	NOUN	institut
za	ADP	za
kukuruz	NOUN	kukuruz
_	PUNCT	_
.	PUNCT	.
I	CCONJ	i
upoznala	VERB	upoznati
se	PART	se
s	ADP	s
njim	PRON	on
i	CCONJ	i
tako	ADV	tako
se	PART	se
venčamo	VERB	venčati
.	PUNCT	.
_	PUNCT	_
Imam	VERB	imati
samo	PART	samo
tog	DET	taj
jednog	NUM	jedan
sina	NOUN	sin
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
.	PUNCT	.
On	PRON	on
je	AUX	jesam
sad	ADV	sad
u	ADP	u
Americi	PROPN	Amerika
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
.	PUNCT	.
Baš	ADV	Baš
sutra	ADV	sutra
putuje	VERB	putovati
i	CCONJ	i
_	PUNCT	_
toliko	ADV	toliko
sam	AUX	jesam
očajna	ADJ	očajan
,	PUNCT	,
došao	VERB	doći
je	AUX	jesam
da	SCONJ	da
me	PRON	ja
obiđe	VERB	obići
_	PUNCT	_
.	PUNCT	.
Bio	AUX	biti
je	AUX	jesam
par	NOUN	par
dana	NOUN	dan
.	PUNCT	.
Mora	VERB	morati
da	SCONJ	da
se	PART	se
vrati	VERB	vratiti
_	PUNCT	_
.	PUNCT	.
Ja	PRON	ja
ostajem	VERB	ostajati
sama	DET	sam
.	PUNCT	.
Strašno	VERB	Strašno
mi	PRON	ja
je	AUX	jesam
_	PUNCT	_
strašno	ADV	strašno
mi	PRON	ja
je	AUX	jesam
_	PUNCT	_
.	PUNCT	.
Očajna	ADJ	Očajna
sam	AUX	jesam
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
.	PUNCT	.
Ali	CCONJ	ali
mora	VERB	morati
da	SCONJ	da
se	PART	se
živi	VERB	živiti
_	PUNCT	_
.	PUNCT	.
Dok	SCONJ	dok
ste	AUX	jesam
živi	VERB	živiti
morate	VERB	morati
sve	ADV	sve
da	SCONJ	da
radite	VERB	raditi
što	SCONJ	što
treba	VERB	trebati
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
Ovde	ADV	ovde
mi	PRON	ja
je	AUX	jesam
jako	ADV	jako
fino	ADV	fino
u	ADP	u
domu	NOUN	dom
_	PUNCT	_
lepo	ADV	lepo
sam	AUX	jesam
smeštena	VERB	smestiti
,	PUNCT	,
imam	VERB	imati
lepu	ADJ	lep
sobu	NOUN	sob
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
i	CCONJ	i
ovaj	DET	ovaj
sestre	NOUN	sestra
su	AUX	jesam
jako	ADV	jako
dobre	ADJ	dobar
,	PUNCT	,
naročito	ADV	naročito
sestra	NOUN	sestra
Nataša	PROPN	Nataša
_	PUNCT	_
.	PUNCT	.
Ona	PRON	ona
ovako	ADV	ovako
mene	PRON	ja
uvek	ADV	uvek
podržava	VERB	podržavati
i	CCONJ	i
_	PUNCT	_
ako	SCONJ	ako
nešto	PRON	nešto
treba	VERB	trebati
i	CCONJ	i
tako	ADV	tako
_	PUNCT	_
I	ADV	I
druge	ADJ	drugi
sestre	NOUN	sestra
su	AUX	jesam
dobre	ADJ	dobar
sve	DET	sav
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
.	PUNCT	.
Čine	PROPN	Čina
nam	PRON	mi
koliko	ADV	koliko
mogu	VERB	moći
.	PUNCT	.
[	PUNCT	[
A	X	A
jeste	AUX	jesam
možda	PART	možda
upoznali	VERB	upoznati
nekog	PRON	neko
ovde	ADV	ovde
u	ADP	u
domu	NOUN	dom
?	PUNCT	?
]	PUNCT	]
Molim	ADJ	Molim
?	PUNCT	?
[	PUNCT	[
Da	ADV	Da
li	PART	li
ste	AUX	jesam
upoznali	VERB	upoznati
nekog	PRON	neko
u	ADP	u
domu	NOUN	dom
?	PUNCT	?
Da	SCONJ	da
li	PART	li
imate	VERB	imati
neku	DET	neki
drugaricu	NOUN	drugarica
?	PUNCT	?
]	PUNCT	]
Nemam	VERB	nemati
_	PUNCT	_
nemam	VERB	nemati
.	PUNCT	.
Uglavnom	ADV	uglavnom
sam	AUX	jesam
sama	DET	sam
ceo	ADJ	ceo
dan	NOUN	dan
_	PUNCT	_
_	PUNCT	_
ali	CCONJ	ali
ja	PRON	ja
sam	AUX	jesam
navikla	VERB	naviknuti
kao	CCONJ	kao
pošto	SCONJ	pošto
sam	AUX	jesam
jedinica	NOUN	jedinica
ja	PRON	ja
sam	AUX	jesam
navikla	VERB	naviknuti
na	ADP	na
samoću	NOUN	samoća
od	ADP	od
detinjstva	NOUN	detinjstvo
_	PUNCT	_
_	PUNCT	_
jer	SCONJ	jer
sam	AUX	jesam
jedno	NUM	jedan
dete	NOUN	dete
samo	PART	samo
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
.	PUNCT	.
Pa	CCONJ	pa
eto	PART	eto
_	PUNCT	_
_	PUNCT	_
.	PUNCT	.
Najviše	PROPN	Najviše
spavam	VERB	spavati
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
al	CCONJ	al
ne	PART	ne
znam	VERB	znati
šta	PRON	šta
je	AUX	jesam
sa	ADP	sa
televizorom	NOUN	televizor
.	PUNCT	.
[	PUNCT	[
Pa	X	Pa
isključila	VERB	isključiti
je	AUX	jesam
sestra	NOUN	sestra
Nataša	PROPN	Nataša
da	SCONJ	da
se	PART	se
mi	PRON	ja
bolje	ADV	bolje
čujemo	VERB	čuti
.	PUNCT	.
]	PUNCT	]
A	X	A
zašto	SCONJ	zašto
sad	ADV	sad
neće	AUX	hteti
da	SCONJ	da
se	PART	se
upali	VERB	upaliti
?	PUNCT	?
[	PUNCT	[
Pa	X	Pa
ona	PRON	ona
ga	PRON	on
je	AUX	jesam
isključila	VERB	isključiti
.	PUNCT	.
Ja	PRON	ja
kad	SCONJ	kad
završim	VERB	završiti
ja	PRON	ja
ću	AUX	hteti
da	SCONJ	da
je	AUX	jesam
zovem	VERB	zvati
,	PUNCT	,
ona	PRON	ona
će	AUX	hteti
da	SCONJ	da
da	SCONJ	da
dođe	VERB	doći
da	SCONJ	da
ga	PRON	on
uključi	VERB	uključiti
]	PUNCT	]
A	X	A
dobro	ADV	dobro
,	PUNCT	,
dobro	ADV	dobro
_	PUNCT	_
.	PUNCT	.
Ja	PRON	ja
vidim	VERB	viditi
da	SCONJ	da
da	SCONJ	da
se	PART	se
ugasilo	VERB	ugasiti
odjednom	ADV	odjednom
.	PUNCT	.
Mislila	VERB	misliti
sam	AUX	jesam
da	SCONJ	da
je	AUX	jesam
nestala	VERB	nestati
struja	NOUN	struja
_	PUNCT	_
A	X	A
Vi	VERB	viti
gde	SCONJ	gde
radite	VERB	raditi
?	PUNCT	?
[	PUNCT	[
Ja	VERB	Ja
sam	AUX	jesam
student	NOUN	student
.	PUNCT	.
]	PUNCT	]
Student	PROPN	Student
.	PUNCT	.
A	X	A
šta	PRON	šta
studirate	VERB	studirati
?	PUNCT	?
[	PUNCT	[
Biologiju	PROPN	Biologiju
.	PUNCT	.
]	PUNCT	]
Biologiju	PROPN	Biologiju
.	PUNCT	.
[	PUNCT	[
Da	ADV	Da
.	PUNCT	.
]	PUNCT	]
_	PUNCT	_
A	X	A
dobro	ADV	dobro
,	PUNCT	,
biologija	NOUN	biologija
je	AUX	jesam
dosta	ADV	dosta
srodna	ADJ	srodan
agronimiji	NOUN	agronimiji
.	PUNCT	.
[	PUNCT	[
Jeste	PROPN	Jeste
.	PUNCT	.
]	PUNCT	]
Mislim	PROPN	Mislim
jedino	ADV	jedino
nije	AUX	jesam
nije	AUX	jesam
praktični	ADJ	praktičan
deo	NOUN	deo
_	PUNCT	_
.	PUNCT	.
Mislim	VERB	misliti
obrada	NOUN	obrada
zemljišta	NOUN	zemljište
i	CCONJ	i
to	DET	taj
,	PUNCT	,
ali	CCONJ	ali
inače	PART	inače
ima	VERB	imati
mnogo	ADV	mnogo
biologije	NOUN	biologija
u	ADP	u
studijama	NOUN	studija
agronomije	NOUN	agronomija
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
.	PUNCT	.
Jesam	AUX	jesam
rekla	VERB	reći
biologija	NOUN	biologija
?	PUNCT	?
[	PUNCT	[
Jeste	VERB	Jeste
]	PUNCT	]
Vi	ADV	Vi
ste	AUX	jesam
mi	PRON	ja
rekli	VERB	reći
da	SCONJ	da
studirate	VERB	studirati
biologiju	NOUN	biologija
.	PUNCT	.
[	PUNCT	[
Da	ADV	Da
,	PUNCT	,
da	SCONJ	da
.	PUNCT	.
]	PUNCT	]
Rekoh	VERB	reći
da	SCONJ	da
nisam	AUX	jesam
nešto	PRON	nešto
pobrkala	VERB	pobrkati
.	PUNCT	.
[	PUNCT	[
Niste	PROPN	Niste
.	PUNCT	.
A	X	A
kako	SCONJ	kako
ste	AUX	jesam
Vi	ADV	Vi
izabrali	VERB	izabrati
baš	PART	baš
agronomiju	NOUN	agronomija
?	PUNCT	?
Jeste	AUX	jesam
to	DET	taj
uvek	ADV	uvek
voleli	VERB	voleti
?	PUNCT	?
]	PUNCT	]
Slučajno	ADV	Slučajno
.	PUNCT	.
[	PUNCT	[
Slučajno	ADJ	Slučajno
]	PUNCT	]
Slučajno	ADJ	Slučajno
.	PUNCT	.
Imala	VERB	imati
sam	AUX	jesam
jednu	NUM	jedan
drugaricu	NOUN	drugarica
koja	DET	koji
je	AUX	jesam
studirala	VERB	studirati
i	CCONJ	i
ja	PRON	ja
sam	AUX	jesam
onda	ADV	onda
volela	VERB	voleti
prioru	NOUN	prior
volela	VERB	voleti
sam	AUX	jesam
_	PUNCT	_
ovaj	DET	ovaj
_	PUNCT	_
selo	NOUN	selo
i	CCONJ	i
uzela	VERB	uzeti
baš	PART	baš
agronomiju	NOUN	agronomija
,	PUNCT	,
a	ADV	a
nije	AUX	jesam
mi	PRON	ja
ležalo	VERB	ležati
.	PUNCT	.
[	PUNCT	[
Ne	ADV	Ne
?	PUNCT	?
]	PUNCT	]
Ali	PROPN	Ali
sam	AUX	jesam
provela	VERB	provesti
život	NOUN	život
u	ADP	u
toj	DET	taj
struci	NOUN	struka
.	PUNCT	.
Posle	ADV	posle
sam	AUX	jesam
i	CCONJ	i
ja	PRON	ja
ovaj	DET	ovaj
_	PUNCT	_
u	ADP	u
Beogradu	PROPN	Beograd
radila	VERB	raditi
u	ADP	u
administraciji	NOUN	administracija
poljoprivrednoj	ADJ	poljoprivredni
,	PUNCT	,
a	ADV	a
_	PUNCT	_
u	ADP	u
Peći	PROPN	Peć
sam	AUX	jesam
radila	VERB	raditi
na	ADP	na
Institutu	NOUN	institut
za	ADP	za
prirodna	ADJ	prirodan
istraživanja	NOUN	istraživanje
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
.	PUNCT	.
Je	AUX	jesam
l	X	l
'	PUNCT	'
dovoljno	ADV	dovoljno
?	PUNCT	?
[	PUNCT	[
Jeste	PROPN	Jeste
,	PUNCT	,
hvala	NOUN	hvala
Vam	VERB	Vam
puno	ADV	puno
.	PUNCT	.
]	PUNCT	]
Molim	ADJ	Molim
,	PUNCT	,
nema	ADJ	nem
na	ADP	na
čemu	PRON	šta
.	PUNCT	.
[	PUNCT	[
Bilo	VERB	biti
mi	PRON	ja
je	AUX	jesam
baš	PART	baš
lepo	ADV	lepo
.	PUNCT	.
]	PUNCT	]
Ako	ADV	Ako
još	PART	još
nešto	ADV	nešto
imate	VERB	imati
?	PUNCT	?
Važno	PROPN	Važno
?	PUNCT	?
.	PUNCT	.
[	PUNCT	[
Dobro	PROPN	Dobra
,	PUNCT	,
neću	AUX	hteti
ja	PRON	ja
više	ADV	više
da	SCONJ	da
Vam	VERB	Vam
smetam	VERB	smetati
.	PUNCT	.
]	PUNCT	]
[	PUNCT	[
Ja	ADV	Ja
sam	AUX	jesam
treća	ADJ	treći
godina	NOUN	godina
.	PUNCT	.
]	PUNCT	]
A	X	A
treća	ADJ	treći
godina	NOUN	godina
?	PUNCT	?
[	PUNCT	[
Da	ADV	Da
,	PUNCT	,
a	ADV	a
imamo	VERB	imati
četiri	NUM	četiri
i	CCONJ	i
plus	NOUN	plus
još	ADV	još
jedna	NUM	jedan
kao	CCONJ	kao
master	NOUN	master
.	PUNCT	.
]	PUNCT	]
_	PUNCT	_
Mnogo	ADV	mnogo
to	DET	taj
traje	VERB	trajati
.	PUNCT	.
[	PUNCT	[
Pa	X	Pa
nije	AUX	jesam
strašno	ADV	strašno
.	PUNCT	.
]	PUNCT	]
Ali	PROPN	Ali
jos	NOUN	jos
četiri	NUM	četiri
godine	NOUN	godina
.	PUNCT	.
[	PUNCT	[
Ne	ADV	Ne
,	PUNCT	,
ne	PART	ne
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
sad	ADV	sad
treća	ADJ	treći
i	CCONJ	i
imam	VERB	imati
još	ADV	još
jednu	NUM	jedan
.	PUNCT	.
]	PUNCT	]
A	X	A
još	ADV	još
jednu	NUM	jedan
,	PUNCT	,
još	ADV	još
jednu	NUM	jedan
.	PUNCT	.
[	PUNCT	[
Da	ADV	Da
.	PUNCT	.
I	CCONJ	i
onda	ADV	onda
posle	ADP	posle
te	DET	taj
četiri	NUM	četiri
,	PUNCT	,
kada	SCONJ	kada
završim	VERB	završiti
četvrtu	ADJ	četvrti
,	PUNCT	,
imam	VERB	imati
petu	NOUN	peta
godinu	NOUN	godina
,	PUNCT	,
master	NOUN	master
.	PUNCT	.
]	PUNCT	]
A	X	A
imate	VERB	imati
i	CCONJ	i
petu	NOUN	peta
godinu	NOUN	godina
.	PUNCT	.
[	PUNCT	[
Da	ADV	Da
.	PUNCT	.
]	PUNCT	]
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
Onda	ADJ	Onda
je	AUX	jesam
fakultet	NOUN	fakultet
u	ADP	u
moje	DET	moj
vreme	NOUN	vreme
trajao	VERB	trajati
četri	NUM	četri
godine	NOUN	godina
_	PUNCT	_
_	PUNCT	_
.	PUNCT	.
Kad	SCONJ	kad
sam	AUX	jesam
ja	PRON	ja
studirala	VERB	studirati
_	PUNCT	_
Četiri	PROPN	Četiri
godine	NOUN	godina
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
.	PUNCT	.
Ali	CCONJ	ali
dobar	ADJ	dobar
je	AUX	jesam
,	PUNCT	,
zagrebački	ADJ	zagrebački
je	AUX	jesam
dobar	ADJ	dobar
.	PUNCT	.
To	DET	taj
je	AUX	jesam
stari	ADJ	star
_	PUNCT	_
poznati	ADJ	poznat
fakultetet	NOUN	fakultetet
_	PUNCT	_
_	PUNCT	_
.	PUNCT	.
I	CCONJ	i
puno	ADJ	pun
studenata	NOUN	student
je	AUX	jesam
bilo	AUX	biti
_	PUNCT	_
.	PUNCT	.
Ja	PRON	ja
ne	PART	ne
mogu	VERB	moći
da	SCONJ	da
se	PART	se
setim	VERB	setiti
koliko	ADV	koliko
,	PUNCT	,
ali	CCONJ	ali
znam	VERB	znati
da	SCONJ	da
je	AUX	jesam
bio	AUX	biti
_	PUNCT	_
veliki	ADJ	velik
fakultet	NOUN	fakultet
,	PUNCT	,
zgrada	NOUN	zgrada
velika	ADJ	velik
i	CCONJ	i
_	PUNCT	_
mnogo	ADV	mnogo
studenata	NOUN	student
je	AUX	jesam
bilo	AUX	biti
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
.	PUNCT	.
Izvinite	VERB	izviniti
,	PUNCT	,
ne	PART	ne
mogu	VERB	moći
više	ADV	više
da	SCONJ	da
govorim	VERB	govoriti
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
_	PUNCT	_
.	PUNCT	.
Neko	DET	neki
pitanje	NOUN	pitanje
_	PUNCT	_
_	PUNCT	_
koje	DET	koji
je	AUX	jesam
za	ADP	za
Vas	PROPN	Vas
važno	ADV	važno
,	PUNCT	,
vi	PRON	vi
recite	VERB	reći
,	PUNCT	,
ali	CCONJ	ali
umorila	VERB	umoriti
sam	AUX	jesam
se	PART	se
.	PUNCT	.
[	PUNCT	[
Nemam	VERB	nemati
,	PUNCT	,
nemam	VERB	nemati
,	PUNCT	,
hvala	NOUN	hvala
Vam	VERB	Vam
još	ADV	još
jednom	ADV	jednom
.	PUNCT	.
]	PUNCT	]
