Jevremović	PROPN	Jevremović
Dobrica	PROPN	Dobrica
,	PUNCT	,
rođen	ADJ	rođen
četiri	NUM	četiri
hiljadu	NOUN	hiljada
devetsto	NOUN	devetsto
četrdeset	NUM	četrdeset
pete	ADJ	pete
godine	NOUN	godina
,	PUNCT	,
to	DET	taj
znači	VERB	značiti
sedamdeset	NUM	sedamdeset
treća	ADJ	treći
četvrta	ADJ	četvrti
godina	NOUN	godina
Gornjem	ADJ	gornji
Milanovcu	PROPN	Milanovac
,	PUNCT	,
selo	NOUN	selo
Grabovica	PROPN	Grabovica
Gornji	ADJ	gornji
MIlanovac	PROPN	Milanovac
E	CCONJ	e
sad	ADV	sad
ovako	ADV	ovako
znači	VERB	značiti
gde	SCONJ	gde
sam	AUX	jesam
živeo	VERB	živeti
,	PUNCT	,
živeo	VERB	živeti
sam	ADJ	sam
.	PUNCT	.
Služio	VERB	služiti
sam	AUX	jesam
Titovu	PROPN	Titovu
vojsku	NOUN	vojska
,	PUNCT	,
da	SCONJ	da
se	PART	se
razumemo	VERB	razumeti
,	PUNCT	,
Titovu	PROPN	Titovu
,	PUNCT	,
ne	PART	ne
narodnu	ADJ	narodni
,	PUNCT	,
Titovu	PROPN	Titovu
u	ADP	u
Skoplju	PROPN	Skoplje
,	PUNCT	,
u	ADP	u
nekoj	DET	neki
drugoj	ADJ	drugi
državi	NOUN	država
koje	DET	koji
više	ADV	više
nema	VERB	nemati
.	PUNCT	.
Znači	VERB	značiti
tamo	ADV	tamo
sam	AUX	jesam
služio	VERB	služiti
,	PUNCT	,
i	CCONJ	i
tamo	ADV	tamo
su	AUX	jesam
nas	PRON	mi
učili	VERB	učiti
kako	SCONJ	kako
treba	VERB	trebati
da	SCONJ	da
budemo	AUX	biti
toga	DET	taj
sve	DET	sav
su	AUX	jesam
izlagali	VERB	izlagati
.	PUNCT	.
Sve	DET	sav
je	AUX	jesam
laž	NOUN	laž
.	PUNCT	.
Je	AUX	jesam
l	CCONJ	l
ja	PRON	ja
sam	AUX	jesam
služio	VERB	služiti
stranu	ADJ	stran
vojsku	NOUN	vojska
,	PUNCT	,
našu	DET	naš
stranu	ADJ	stran
vojsku	NOUN	vojska
.	PUNCT	.
E	INTJ	e
tako	ADV	tako
,	PUNCT	,
pa	CCONJ	pa
sam	AUX	jesam
posle	ADV	posle
,	PUNCT	,
kad	SCONJ	kad
sam	AUX	jesam
se	PART	se
vratio	VERB	vratiti
iz	ADP	iz
vojske	NOUN	vojska
,	PUNCT	,
vrlo	ADV	vrlo
brzo	ADV	brzo
sam	AUX	jesam
se	PART	se
oženio	VERB	oženiti
.	PUNCT	.
Dobio	VERB	dobiti
sam	AUX	jesam
jedno	NUM	jedan
.	PUNCT	.
Sa	ADP	sa
jednim	NUM	jedan
detetom	NOUN	dete
otišao	VERB	otići
sam	AUX	jesam
vani	ADV	vani
iz	ADP	iz
zemlje	NOUN	zemlja
.	PUNCT	.
Otišao	VERB	otići
sam	AUX	jesam
u	ADP	u
Nemačku	PROPN	Nemačka
,	PUNCT	,
posle	ADV	posle
znači	VERB	značiti
šezdeset	NUM	šezdeset
osme	ADJ	osmi
godine	NOUN	godina
,	PUNCT	,
šeset	NUM	šeset
treće	ADJ	treći
vojska	NOUN	vojska
četvra	NOUN	četvra
,	PUNCT	,
peta	ADJ	peta
ženidba	NOUN	ženidba
,	PUNCT	,
šeset	ADV	šeset
osma	ADJ	osmi
svet	NOUN	svet
pod	ADP	pod
noge	NOUN	noga
ranac	VERB	ranac
na	ADP	na
leđa	NOUN	leđa
i	CCONJ	i
na	ADP	na
voz	NUM	voz
Beograd	PROPN	Beograd
zapadna	ADJ	zapadni
Nemačka	PROPN	Nemačka
i	CCONJ	i
tu	ADV	tu
sam	DET	sam
se	PART	se
usidrio	VERB	usidriti
.	PUNCT	.
Tu	ADV	tu
sam	AUX	jesam
proveo	VERB	provesti
četrdeset	NUM	četrdeset
i	CCONJ	i
dve	NUM	dva
godine	NOUN	godina
u	ADP	u
zapadnoj	ADJ	zapadni
,	PUNCT	,
onda	ADV	onda
odem	VERB	otići
iz	ADP	iz
Nemačke	PROPN	Nemačka
.	PUNCT	.
Tu	ADV	tu
sam	DET	sam
radio	VERB	raditi
šta	PRON	šta
sam	DET	sam
radio	VERB	raditi
,	PUNCT	,
građevinar	NOUN	građevinar
sam	AUX	jesam
inače	PART	inače
po	ADP	po
struci	NOUN	struka
,	PUNCT	,
ovaj	DET	ovaj
lepo	ADV	lepo
sam	AUX	jesam
živeo	VERB	živeti
u	ADP	u
toj	DET	taj
jeste	AUX	jesam
.	PUNCT	.
Ja	PRON	ja
sam	AUX	jesam
mlad	ADJ	mlad
otišao	VERB	otići
sa	ADP	sa
dvadeset	NUM	dvadeset
tri	NUM	tri
godine	NOUN	godina
.	PUNCT	.
Živeo	VERB	živeti
sam	AUX	jesam
lepo	ADV	lepo
tamo	ADV	tamo
poštovao	VERB	poštovati
sam	ADJ	sam
ljude	NOUN	ljudi
,	PUNCT	,
poštovali	VERB	poštovati
su	AUX	jesam
mene	PRON	ja
,	PUNCT	,
nisam	AUX	jesam
se	PART	se
kačio	VERB	kačiti
politike	NOUN	politika
,	PUNCT	,
ni	PART	ni
mafije	NOUN	mafija
ni	PART	ni
boga	NOUN	bog
,	PUNCT	,
samo	ADV	samo
sam	AUX	jesam
gledo	VERB	gledo
da	SCONJ	da
stvaram	VERB	stvarati
.	PUNCT	.
Ostala	VERB	ostati
mi	PRON	ja
je	AUX	jesam
majka	NOUN	majka
.	PUNCT	.
Otac	NOUN	otac
mi	PRON	ja
je	AUX	jesam
posle	ADV	posle
umro	VERB	umreti
u	ADP	u
dvadeset	NUM	dvadeset
osmoj	ADJ	osmi
godini	NOUN	godina
.	PUNCT	.
Ovaj	DET	ovaj
ja	PRON	ja
sam	AUX	jesam
to	DET	taj
gledao	VERB	gledati
da	SCONJ	da
pomognem	VERB	pomoći
brata	NOUN	brata
,	PUNCT	,
majku	NOUN	majka
,	PUNCT	,
sestru	NOUN	sestra
da	SCONJ	da
se	PART	se
iškoluje	VERB	iškolovati
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
E	CCONJ	e
ta	DET	taj
posle	ADP	posle
ovaj	DET	ovaj
u	ADP	u
Nemačkoj	PROPN	Nemačka
sam	AUX	jesam
opet	ADV	opet
radio	VERB	raditi
,	PUNCT	,
to	DET	taj
radio	VERB	raditi
sam	AUX	jesam
građevisku	VERB	građevisku
u	ADP	u
stvari	NOUN	stvar
kamenorezački	ADJ	kamenorezački
jedan	NUM	jedan
posao	NOUN	posao
ra	X	ra
nema	ADJ	nem
mesta	NOUN	mesto
u	ADP	u
u	ADP	u
od	ADP	od
Švajcarske	ADJ	Švajcarske
,	PUNCT	,
dobro	ADV	dobro
Švajcarsku	PROPN	Švajcarska
sam	DET	sam
radio	VERB	raditi
em	PART	em
po	ADP	po
terenu	NOUN	teren
onda	ADV	onda
Austrija	PROPN	Austrija
nešto	ADV	nešto
malo	ADV	malo
a	CCONJ	a
inače	PART	inače
Nemačku	PROPN	Nemačka
od	ADP	od
ćoška	NOUN	ćošak
do	ADP	do
ćoška	NOUN	ćošak
,	PUNCT	,
e	INTJ	e
tako	ADV	tako
Živeo	VERB	živeti
sam	AUX	jesam
u	ADP	u
gradu	NOUN	grad
Štutgartu	PROPN	Štutgart
,	PUNCT	,
to	DET	taj
je	AUX	jesam
Baden	PROPN	Baden
Viterberg	PROPN	Viterberg
,	PUNCT	,
pokrajina	NOUN	pokrajina
,	PUNCT	,
jedna	NUM	jedan
od	ADP	od
bogatijih	ADJ	bogat
pokrajna	ADJ	pokrajni
i	CCONJ	i
mnogo	ADV	mnogo
lepa	ADJ	lep
za	ADP	za
život	NOUN	život
.	PUNCT	.
Najlepše	ADJ	lep
mi	PRON	ja
je	AUX	jesam
em	PART	em
deo	NOUN	deo
života	NOUN	život
bilo	AUX	biti
pa	PART	pa
sad	ADV	sad
ja	PRON	ja
ne	PART	ne
znam	VERB	znati
između	ADP	između
trideset	NUM	trideset
pet	NUM	pet
,	PUNCT	,
tridesete	ADJ	trideseti
godine	NOUN	godina
negde	ADV	negde
do	ADP	do
pedeset	NUM	pedeset
i	CCONJ	i
pet	NUM	pet
,	PUNCT	,
šeste	ADJ	šesti
godine	NOUN	godina
što	SCONJ	što
sam	AUX	jesam
proveo	VERB	provesti
u	ADP	u
Nemačkoj	PROPN	Nemačka
radio	VERB	raditi
sam	AUX	jesam
sa	ADP	sa
ljudima	NOUN	ljudi
koji	DET	koji
su	AUX	jesam
svi	DET	sav
bili	AUX	biti
akademski	ADJ	akademski
obrazovani	ADJ	obrazovan
,	PUNCT	,
poštovao	VERB	poštovati
sam	AUX	jesam
ja	PRON	ja
njih	PRON	ona
,	PUNCT	,
poštovali	VERB	poštovati
su	AUX	jesam
oni	PRON	oni
mene	PRON	ja
,	PUNCT	,
nije	AUX	jesam
bilo	AUX	biti
jedne	NUM	jedan
em	PART	em
ovaj	DET	ovaj
kako	SCONJ	kako
da	SCONJ	da
kažem	VERB	kazati
em	PART	em
mućke	NOUN	mućak
,	PUNCT	,
prevare	NOUN	prevara
,	PUNCT	,
nameštanja	NOUN	nameštanje
i	CCONJ	i
tako	ADV	tako
Govorim	VERB	govoriti
nemački	ADJ	nemački
i	CCONJ	i
onako	ADV	onako
malo	ADV	malo
,	PUNCT	,
nije	AUX	jesam
malo	ADV	malo
prilično	ADV	prilično
dobro	ADV	dobro
italijanski	ADJ	italijanski
je	AUX	jesam
l	CCONJ	l
radio	VERB	raditi
sam	AUX	jesam
sa	ADP	sa
italijanima	NOUN	italijanima
pa	CCONJ	pa
hteo	AUX	hteti
ne	PART	ne
hteo	AUX	hteti
morao	VERB	morati
sam	AUX	jesam
da	SCONJ	da
naučim	VERB	naučiti
i	CCONJ	i
tako	ADV	tako
Nisam	AUX	jesam
se	PART	se
politikom	NOUN	politika
bavio	VERB	baviti
uopšte	ADV	uopšte
,	PUNCT	,
moj	DET	moj
je	AUX	jesam
ceo	ADJ	ceo
život	NOUN	život
vezan	VERB	vezati
ovaj	DET	ovaj
za	ADP	za
taj	DET	taj
kamen	NOUN	kamen
koji	DET	koji
sam	AUX	jesam
ja	PRON	ja
radio	VERB	raditi
,	PUNCT	,
radio	VERB	raditi
sam	AUX	jesam
kod	ADP	kod
bo	ADJ	bo
,	PUNCT	,
radio	VERB	raditi
sam	AUX	jesam
na	ADP	na
primer	NOUN	primer
u	ADP	u
Moskvi	PROPN	Moskva
,	PUNCT	,
u	ADP	u
Kremlju	PROPN	Kremlj
,	PUNCT	,
em	PART	em
devedeset	NUM	devedeset
šeste	ADJ	šesti
godine	NOUN	godina
,	PUNCT	,
tad	ADV	tad
sam	AUX	jesam
tamo	ADV	tamo
,	PUNCT	,
to	DET	taj
sam	AUX	jesam
bio	AUX	biti
ispred	ADP	ispred
Nemačke	PROPN	Nemačka
ambasade	NOUN	ambasada
,	PUNCT	,
radio	VERB	raditi
sam	ADJ	sam
za	ADP	za
nemačku	ADJ	nemački
jednu	NUM	jedan
firmu	NOUN	firma
ali	CCONJ	ali
u	ADP	u
Rusiji	PROPN	Rusija
i	CCONJ	i
to	DET	taj
je	AUX	jesam
bilo	AUX	biti
mnogo	ADV	mnogo
lep	ADJ	lep
em	CCONJ	em
deo	NOUN	deo
života	NOUN	život
,	PUNCT	,
a	CCONJ	a
ovo	DET	ovaj
sam	ADJ	sam
proveo	VERB	provesti
svih	DET	sav
tih	DET	taj
četrdeset	NUM	četrdeset
godina	NOUN	godina
u	ADP	u
gradu	NOUN	grad
Štutgartu	PROPN	Štutgart
sa	ADP	sa
stalnim	ADJ	stalan
mestom	NOUN	mesto
boravka	NOUN	boravak
ali	CCONJ	ali
sam	DET	sam
radio	VERB	raditi
po	ADP	po
celom	ADJ	ceo
,	PUNCT	,
radio	VERB	raditi
sam	AUX	jesam
u	ADP	u
Nikaragvi	PROPN	Nikaragva
ali	CCONJ	ali
malo	ADV	malo
sam	AUX	jesam
to	DET	taj
otišao	VERB	otići
,	PUNCT	,
tu	ADV	tu
sam	AUX	jesam
bio	AUX	biti
radili	VERB	raditi
za	ADP	za
Filipa	PROPN	Filipa
Morisa	PROPN	Moris
neka	DET	neki
letovališta	NOUN	letovalište
i	CCONJ	i
to	DET	taj
ali	CCONJ	ali
to	DET	taj
nije	AUX	jesam
bilo	AUX	biti
dugo	ADV	dugo
,	PUNCT	,
onda	ADV	onda
tako	ADV	tako
radilo	VERB	raditi
se	PART	se
Moskva	PROPN	Moskva
je	AUX	jesam
bila	AUX	biti
mnogo	ADV	mnogo
interesantna	ADJ	interesantan
,	PUNCT	,
nisam	AUX	jesam
mogao	VERB	moći
da	SCONJ	da
zamislim	VERB	zamisliti
da	SCONJ	da
čovek	NOUN	čovek
može	VERB	moći
da	SCONJ	da
izdrži	VERB	izdržati
na	ADP	na
trideset	NUM	trideset
pet	NUM	pet
četrdeset	NUM	četrdeset
stepeni	NOUN	stepen
i	CCONJ	i
to	DET	taj
noću	ADV	noću
ali	CCONJ	ali
se	PART	se
izdrži	VERB	izdržati
Minus	ADJ	minus
trideset	NUM	trideset
pet	NUM	pet
četrdeset	NUM	četrdeset
,	PUNCT	,
tako	ADV	tako
Ništa	PRON	ništa
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
to	DET	taj
počeo	VERB	početi
da	SCONJ	da
radim	VERB	raditi
,	PUNCT	,
nisam	AUX	jesam
bio	AUX	biti
školovan	VERB	školovati
za	ADP	za
to	DET	taj
,	PUNCT	,
nisam	AUX	jesam
bio	AUX	biti
ali	CCONJ	ali
sam	AUX	jesam
imao	VERB	imati
sreće	NOUN	sreća
u	ADP	u
ljudima	NOUN	ljudi
koj	SCONJ	koj
sa	ADP	sa
kim	PRON	ko
sam	AUX	jesam
god	PART	god
radio	NOUN	radio
prihvatio	VERB	prihvatiti
mi	PRON	ja
je	AUX	jesam
i	CCONJ	i
pomogao	VERB	pomoći
mi	PRON	ja
je	AUX	jesam
te	DET	taj
sam	AUX	jesam
nisam	AUX	jesam
ostao	VERB	ostati
na	ADP	na
jednom	NUM	jedan
mestu	NOUN	mesto
,	PUNCT	,
posle	ADP	posle
sam	AUX	jesam
to	DET	taj
,	PUNCT	,
što	SCONJ	što
sam	DET	sam
radio	VERB	raditi
,	PUNCT	,
radio	VERB	raditi
sam	AUX	jesam
dvadeset	NUM	dvadeset
godina	NOUN	godina
privatno	ADV	privatno
,	PUNCT	,
ja	PRON	ja
sa	ADP	sa
mojim	DET	moj
sinom	NOUN	sin
i	CCONJ	i
tu	ADV	tu
sam	AUX	jesam
imao	VERB	imati
jednu	NUM	jedan
čudnu	ADJ	čudan
neku	DET	neki
priču	NOUN	priča
kad	SCONJ	kad
sam	AUX	jesam
radio	VERB	raditi
za	ADP	za
jednog	NUM	jedan
čoveka	NOUN	čovek
koji	DET	koji
je	AUX	jesam
iz	ADP	iz
privredne	ADJ	privredni
komore	NOUN	komora
grada	NOUN	grad
Štutgarta	PROPN	Štutgart
i	CCONJ	i
kad	SCONJ	kad
sam	AUX	jesam
ja	PRON	ja
ovaj	DET	ovaj
pogodio	VERB	pogoditi
taj	DET	taj
poslić	NOUN	poslić
kod	ADP	kod
njega	PRON	on
da	SCONJ	da
radim	VERB	raditi
onda	ADV	onda
me	PRON	ja
on	PRON	on
zapitao	VERB	zapitati
zašto	ADV	zašto
ja	PRON	ja
ne	PART	ne
bih	AUX	biti
radio	VERB	raditi
to	DET	taj
privatno	ADV	privatno
ja	PRON	ja
sam	AUX	jesam
reko	VERB	reko
znate	VERB	znati
šta	PRON	šta
ja	PRON	ja
imam	VERB	imati
samo	PART	samo
četiri	NUM	četiri
razreda	NOUN	razred
škole	NOUN	škola
iz	ADP	iz
od	ADP	od
iz	ADP	iz
te	DET	taj
nekadašnje	ADJ	nekadašnji
Jugoslavije	PROPN	Jugoslavija
i	CCONJ	i
tako	ADV	tako
sam	AUX	jesam
otišao	VERB	otići
trbuhom	NOUN	trbuh
za	ADP	za
kruhom	NOUN	kruh
,	PUNCT	,
a	CCONJ	a
on	PRON	on
me	PRON	ja
pitao	VERB	pitati
koliko	ADV	koliko
sam	AUX	jesam
ja	PRON	ja
radio	VERB	raditi
,	PUNCT	,
koliko	ADV	koliko
ja	PRON	ja
radim	VERB	raditi
to	DET	taj
reko	VERB	reko
radim	VERB	raditi
devetnaest	NUM	devetnaest
godina	NOUN	godina
onda	ADV	onda
on	PRON	on
kaže	VERB	kazati
ovako	ADV	ovako
najgori	ADJ	najgori
student	NOUN	student
završi	VERB	završiti
dva	NUM	dva
fakulteta	NOUN	fakultet
za	ADP	za
devetnaest	NUM	devetnaest
godina	NOUN	godina
,	PUNCT	,
a	CCONJ	a
ti	DET	taj
valjda	PART	valjda
si	AUX	jesam
nešto	PRON	nešto
naučio	VERB	naučiti
za	ADP	za
devetnaest	NUM	devetnaest
godina	NOUN	godina
,	PUNCT	,
e	INTJ	e
a	CCONJ	a
kaže	VERB	kazati
vidim	VERB	viditi
to	DET	taj
pošto	SCONJ	pošto
si	AUX	jesam
kod	ADP	kod
mene	PRON	ja
to	DET	taj
uradio	VERB	uraditi
ja	PRON	ja
sam	AUX	jesam
stvarno	ADV	stvarno
njemu	PRON	on
uradio	VERB	uraditi
to	DET	taj
je	AUX	jesam
bila	AUX	biti
pogodila	VERB	pogoditi
jedna	NUM	jedan
nemačka	ADJ	nemački
firma	NOUN	firma
kod	ADP	kod
njega	PRON	on
on	PRON	on
je	AUX	jesam
bio	AUX	biti
direktor	NOUN	direktor
ili	CCONJ	ili
kako	SCONJ	kako
se	PART	se
to	DET	taj
kaže	VERB	kazati
u	ADP	u
Srbiji	PROPN	Srbija
em	CCONJ	em
ovaj	DET	ovaj
em	CCONJ	em
u	ADP	u
privrednoj	ADJ	privredni
šef	NOUN	šef
,	PUNCT	,
glavni	ADJ	glavni
bio	AUX	biti
u	ADP	u
privrednoj	ADJ	privredni
komori	NOUN	komora
i	CCONJ	i
onda	ADV	onda
on	PRON	on
mene	PRON	ja
kaže	VERB	kazati
ovako	ADV	ovako
dođi	VERB	doći
ti	DET	taj
reko	VERB	reko
ja	PRON	ja
nemam	VERB	nemati
papira	NOUN	papir
,	PUNCT	,
nemam	VERB	nemati
ništa	PRON	ništa
,	PUNCT	,
ni	PART	ni
za	ADP	za
šta	PRON	šta
,	PUNCT	,
ništa	PRON	ništa
na	ADP	na
osnovu	NOUN	osnova
čega	PRON	šta
bih	AUX	biti
dobio	VERB	dobiti
dozvolu	NOUN	dozvola
rada	ADJ	rad
tu	ADV	tu
da	SCONJ	da
se	PART	se
osamostalim	VERB	osamostaliti
onda	ADV	onda
on	PRON	on
kaže	VERB	kazati
ovako	ADV	ovako
dođi	VERB	doći
ti	DET	taj
kod	ADP	kod
mene	PRON	ja
zakazao	VERB	zakazati
mi	PRON	ja
tamo	ADV	tamo
jedan	NUM	jedan
dan	NOUN	dan
na	ADP	na
razgovor	NOUN	razgovor
,	PUNCT	,
ja	PRON	ja
odem	VERB	otići
u	ADP	u
ministarstvo	NOUN	ministarstvo
to	DET	taj
njihovo	DET	njihov
dole	ADV	dole
sednemo	VERB	sesti
,	PUNCT	,
popričamo	VERB	popričati
drugarski	ADJ	drugarski
,	PUNCT	,
poznavali	VERB	poznavati
smo	AUX	jesam
se	PART	se
u	ADP	u
jednom	NUM	jedan
,	PUNCT	,
iz	ADP	iz
jednog	NUM	jedan
restorana	NOUN	restoran
gde	SCONJ	gde
je	AUX	jesam
on	PRON	on
dolazio	VERB	dolaziti
sa	ADP	sa
devojkom	NOUN	devojka
to	DET	taj
je	AUX	jesam
čovek	NOUN	čovek
bio	AUX	biti
tada	ADV	tada
možda	PART	možda
četrdeset	NUM	četrdeset
pet	NUM	pet
,	PUNCT	,
šest	NUM	šest
godina	NOUN	godina
ja	PRON	ja
sam	AUX	jesam
devedesete	ADV	devedesete
kolko	ADV	kolko
sam	AUX	jesam
imao	VERB	imati
em	PART	em
pedesetak	ADV	pedesetak
godina	NOUN	godina
malo	ADV	malo
,	PUNCT	,
malo	ADV	malo
manje	ADV	manje
i	CCONJ	i
ovaj	DET	ovaj
i	CCONJ	i
tako	ADV	tako
sam	AUX	jesam
i	CCONJ	i
on	PRON	on
kaže	VERB	kazati
ovako	ADV	ovako
mene	PRON	ja
slušaj	VERB	slušati
ja	PRON	ja
ću	AUX	hteti
tebi	PRON	ti
da	SCONJ	da
dam	VERB	dati
,	PUNCT	,
imam	VERB	imati
zakonsko	ADJ	zakonski
pravo	NOUN	prava
da	SCONJ	da
ti	PRON	ti
dam	VERB	dati
jednu	NUM	jedan
dozvolu	NOUN	dozvola
,	PUNCT	,
papir	NOUN	papir
ali	CCONJ	ali
kaže	VERB	kazati
pod	ADP	pod
jednim	NUM	jedan
uslovom	NOUN	uslov
ti	PRON	ti
za	ADP	za
rad	NOUN	rad
,	PUNCT	,
za	ADP	za
rad	NOUN	rad
ćeš	AUX	hteti
da	SCONJ	da
odgovaraš	VERB	odgovarati
ako	SCONJ	ako
ne	PART	ne
budeš	AUX	biti
radio	VERB	raditi
dobro	ADV	dobro
nećeš	AUX	hteti
naplatiti	VERB	naplatiti
ako	SCONJ	ako
budeš	AUX	biti
dobro	ADV	dobro
onda	ADV	onda
naplatićeš	VERB	naplatiti
ali	CCONJ	ali
pod	ADP	pod
jednim	NUM	jedan
ra	ADJ	ra
,	PUNCT	,
uslovom	NOUN	uslov
,	PUNCT	,
koji	DET	koji
rekoh	VERB	reći
uslov	NOUN	uslov
sad	ADV	sad
,	PUNCT	,
kaže	VERB	kazati
da	SCONJ	da
plaćaš	VERB	plaćati
državi	NOUN	država
porez	NOUN	porez
,	PUNCT	,
kako	SCONJ	kako
,	PUNCT	,
pa	CCONJ	pa
reko	VERB	reko
dobro	ADV	dobro
i	CCONJ	i
onda	ADV	onda
me	PRON	ja
obavezao	VERB	obavezati
sa	ADP	sa
jednim	NUM	jedan
papirom	NOUN	papir
da	SCONJ	da
ja	PRON	ja
svake	DET	svaki
godine	NOUN	godina
moram	VERB	morati
da	SCONJ	da
ovaj	DET	ovaj
te	DET	taj
poreze	NOUN	porez
koje	DET	koji
budem	AUX	biti
kao	ADV	kao
privatnik	NOUN	privatnik
izmirivao	VERB	izmirivati
zemlji	NOUN	zemlja
,	PUNCT	,
i	CCONJ	i
ja	PRON	ja
sam	AUX	jesam
to	DET	taj
čitavih	ADJ	čitav
dvadeset	NUM	dvadeset
godina	NOUN	godina
radio	NOUN	radio
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
to	DET	taj
vodio	VERB	voditi
računa	NOUN	račun
i	CCONJ	i
pred	ADP	pred
kraj	NOUN	kraj
kad	SCONJ	kad
sam	AUX	jesam
ja	PRON	ja
napuštio	VERB	napuštiti
ja	PRON	ja
sam	AUX	jesam
to	DET	taj
odjavio	VERB	odjaviti
predao	VERB	predati
sinu	NOUN	sin
,	PUNCT	,
on	PRON	on
je	AUX	jesam
u	ADP	u
međuvremenu	NOUN	međuvreme
,	PUNCT	,
ali	CCONJ	ali
bilo	AUX	biti
je	AUX	jesam
tu	ADV	tu
svega	DET	sav
i	CCONJ	i
svačega	ADV	svačega
,	PUNCT	,
rat	NOUN	rat
kad	SCONJ	kad
je	AUX	jesam
bio	AUX	biti
,	PUNCT	,
sin	NOUN	sin
,	PUNCT	,
on	PRON	on
je	AUX	jesam
bio	AUX	biti
pošao	VERB	poći
Radovan	PROPN	Radovan
u	ADP	u
Jat	NOUN	jat
,	PUNCT	,
tu	ADV	tu
je	AUX	jesam
završio	VERB	završiti
jedan	NUM	jedan
kurs	NOUN	kurs
u	ADP	u
Vršcu	PROPN	Vršac
a	CCONJ	a
onda	SCONJ	onda
ga	PRON	on
uhvati	VERB	uhvatiti
rat	NOUN	rat
pa	CCONJ	pa
ga	PRON	on
uhvate	VERB	uhvatiti
te	DET	taj
Srpsko	ADJ	srpski
Jugoslovenske	ADJ	jugoslovenski
nevolje	NOUN	nevolja
,	PUNCT	,
Titove	ADJ	Titov
nevolje	NOUN	nevolja
,	PUNCT	,
Titove	ADJ	Titov
republike	NOUN	republika
,	PUNCT	,
države	NOUN	država
,	PUNCT	,
nisam	AUX	jesam
ja	PRON	ja
šo	DET	šo
em	PART	em
ja	PRON	ja
sam	AUX	jesam
veliki	ADJ	velik
nacionalista	NOUN	nacionalist
ja	PRON	ja
volim	VERB	voliti
svoju	DET	svoj
Srbiju	PROPN	Srbija
,	PUNCT	,
to	DET	taj
retko	ADV	retko
ko	PRON	ko
i	PART	i
ovaj	DET	ovaj
koji	DET	koji
živi	VERB	živiti
ovde	ADV	ovde
ne	PART	ne
voli	VERB	voliti
je	AUX	jesam
toliko	ADV	toliko
a	CCONJ	a
ja	PRON	ja
je	AUX	jesam
volim	VERB	voliti
,	PUNCT	,
khm	PROPN	khm
i	CCONJ	i
ovaj	DET	ovaj
posle	ADV	posle
je	AUX	jesam
on	PRON	on
tu	ADV	tu
došao	VERB	doći
da	SCONJ	da
radi	VERB	raditi
zaposlio	VERB	zaposliti
em	PART	em
taj	DET	taj
mi	PRON	ja
je	AUX	jesam
gazda	VERB	gazda
sa	ADP	sa
kojim	DET	koji
kod	ADP	kod
koga	PRON	ko
sam	AUX	jesam
ja	PRON	ja
radio	VERB	raditi
kao	CCONJ	kao
podizvođač	NOUN	podizvođač
za	ADP	za
jednu	NUM	jedan
firmu	NOUN	firma
a	CCONJ	a
on	PRON	on
kaže	VERB	kazati
Dobrica	PROPN	Dobrica
da	SCONJ	da
ti	PRON	ti
pomognem	VERB	pomoći
da	SCONJ	da
ti	DET	taj
sin	NOUN	sin
ovaj	DET	ovaj
završi	VERB	završiti
ne	PART	ne
može	VERB	moći
bez	ADP	bez
zanata	NOUN	zanat
ništa	PRON	ništa
da	SCONJ	da
uradi	VERB	uraditi
ako	SCONJ	ako
ostane	VERB	ostati
ovde	ADV	ovde
mora	VERB	morati
da	SCONJ	da
ima	VERB	imati
neki	DET	neki
zanat	NOUN	zanat
onda	ADV	onda
sam	AUX	jesam
ga	PRON	on
ja	PRON	ja
zaposlio	VERB	zaposliti
,	PUNCT	,
ovaj	DET	ovaj
zaposlio	VERB	zaposliti
kod	ADP	kod
mene	PRON	ja
,	PUNCT	,
on	PRON	on
mi	PRON	ja
je	AUX	jesam
omogućio	VERB	omogućiti
pošto	SCONJ	pošto
ja	PRON	ja
nisam	AUX	jesam
imao	VERB	imati
zanat	NOUN	zanat
nisam	AUX	jesam
mogo	VERB	mogo
da	SCONJ	da
ovaj	DET	ovaj
držim	VERB	držati
decu	NOUN	deca
na	ADP	na
praksi	NOUN	praksa
on	PRON	on
je	AUX	jesam
radio	VERB	raditi
kod	ADP	kod
mene	PRON	ja
a	CCONJ	a
bio	AUX	biti
na	ADP	na
praksi	NOUN	praksa
praktično	ADV	praktično
kod	ADP	kod
šefa	NOUN	šef
toga	DET	taj
za	ADP	za
koga	PRON	ko
sam	AUX	jesam
ja	PRON	ja
radio	VERB	raditi
i	CCONJ	i
on	PRON	on
je	AUX	jesam
završio	VERB	završiti
umesto	ADP	umesto
tri	NUM	tri
em	PART	em
tri	NUM	tri
godine	NOUN	godina
tu	ADV	tu
se	PART	se
ta	DET	taj
škola	NOUN	škola
učenika	NOUN	učenik
u	ADP	u
privredi	NOUN	privreda
ovde	ADV	ovde
u	ADP	u
ruralnoj	ADJ	ruralan
ili	CCONJ	ili
kako	SCONJ	kako
se	PART	se
to	DET	taj
sve	DET	sav
naziva	VERB	nazivati
,	PUNCT	,
ovaj	DET	ovaj
on	PRON	on
je	AUX	jesam
završio	VERB	završiti
pošto	SCONJ	pošto
je	AUX	jesam
radio	VERB	raditi
,	PUNCT	,
non	ADV	non
stop	ADJ	stop
radio	NOUN	radio
,	PUNCT	,
nije	AUX	jesam
bio	AUX	biti
učenik	NOUN	učenik
i	CCONJ	i
neko	PRON	neko
ko	SCONJ	ko
ne	PART	ne
zna	VERB	znati
,	PUNCT	,
on	PRON	on
je	AUX	jesam
bio	AUX	biti
dobar	ADJ	dobar
radnik	NOUN	radnik
,	PUNCT	,
dobar	ADJ	dobar
stručnjak	NOUN	stručnjak
i	CCONJ	i
nije	AUX	jesam
išao	VERB	ići
tri	NUM	tri
godine	NOUN	godina
nego	CCONJ	nego
dve	NUM	dva
godine	NOUN	godina
taj	DET	taj
blok	NOUN	blok
ausbildung	NOUN	ausbildung
ili	CCONJ	ili
kako	SCONJ	kako
se	PART	se
to	DET	taj
kaže	VERB	kazati
ovde	ADV	ovde
Blok	NOUN	blok
,	PUNCT	,
isto	ADJ	isti
blok	NOUN	blok
nastava	NOUN	nastava
,	PUNCT	,
znači	VERB	značiti
radilo	VERB	raditi
se	PART	se
knjigovođstvo	VERB	knjigovođstvo
i	CCONJ	i
em	PART	em
i	CCONJ	i
praksa	NOUN	praksa
a	CCONJ	a
praksa	NOUN	praksa
je	AUX	jesam
i	CCONJ	i
mogao	VERB	moći
je	AUX	jesam
on	PRON	on
njima	PRON	ona
da	SCONJ	da
predaje	VERB	predavati
i	CCONJ	i
tako	ADV	tako
ali	CCONJ	ali
dobro	ADV	dobro
i	CCONJ	i
tako	ADV	tako
je	AUX	jesam
to	DET	taj
završio	VERB	završiti
i	CCONJ	i
kad	SCONJ	kad
sam	AUX	jesam
ja	PRON	ja
ovaj	DET	ovaj
vremenom	NOUN	vreme
to	DET	taj
sve	DET	sav
poza	NOUN	poza
radili	VERB	raditi
smo	AUX	jesam
zajedno	ADV	zajedno
bogami	ADJ	bogami
od	ADP	od
devedesete	ADJ	devedeseti
godine	NOUN	godina
do	ADP	do
,	PUNCT	,
dve	NUM	dva
hiljade	NUM	hiljade
sedme	ADJ	sedmi
kad	SCONJ	kad
sam	AUX	jesam
ja	PRON	ja
ovaj	DET	ovaj
to	DET	taj
rešio	VERB	rešiti
da	SCONJ	da
završim	VERB	završiti
da	SCONJ	da
prestanem	VERB	prestati
,	PUNCT	,
da	SCONJ	da
napustim	VERB	napustiti
,	PUNCT	,
jer	SCONJ	jer
meni	PRON	ja
je	AUX	jesam
bio	AUX	biti
cilj	NOUN	cilj
pošto	SCONJ	pošto
ti	PRON	ti
znaš	VERB	znati
ili	CCONJ	ili
ne	PART	ne
znaš	VERB	znati
ja	PRON	ja
sam	AUX	jesam
otišao	VERB	otići
praktično	ADV	praktično
kao	ADV	kao
jedno	NUM	jedan
siroče	NOUN	siroče
sa	ADP	sa
jednim	NUM	jedan
ruksakom	NOUN	ruksak
koji	DET	koji
sam	AUX	jesam
odneo	VERB	odneti
u	ADP	u
vojsku	NOUN	vojska
,	PUNCT	,
vratio	VERB	vratiti
,	PUNCT	,
nisam	AUX	jesam
imo	VERB	imo
ništa	PRON	ništa
,	PUNCT	,
od	ADP	od
toga	DET	taj
rada	NOUN	rad
koji	DET	koji
sam	AUX	jesam
ja	PRON	ja
radio	VERB	raditi
i	CCONJ	i
zarađivao	VERB	zarađivati
,	PUNCT	,
lepo	ADV	lepo
sam	AUX	jesam
skućio	VERB	skućiti
,	PUNCT	,
pa	CCONJ	pa
kupio	VERB	kupiti
jednu	NUM	jedan
kuću	NOUN	kuća
u	ADP	u
gradu	NOUN	grad
,	PUNCT	,
ima	VERB	imati
to	DET	taj
sve	DET	sav
lepo	ADV	lepo
dole	ADV	dole
napravio	VERB	napraviti
sam	AUX	jesam
jednu	NUM	jedan
kuću	NOUN	kuća
ovde	ADV	ovde
gde	ADV	gde
sad	ADV	sad
živim	VERB	živiti
kupio	VERB	kupiti
sam	AUX	jesam
tri	NUM	tri
hektara	NOUN	hektar
zemlje	NOUN	zemlja
živeo	VERB	živeti
sam	AUX	jesam
ko	PRON	ko
gospodin	NOUN	gospodin
ako	SCONJ	ako
sam	AUX	jesam
ali	CCONJ	ali
sigurno	ADV	sigurno
moje	DET	moj
je	AUX	jesam
društvo	NOUN	društvo
bilo	AUX	biti
ak	ADV	ak
em	PART	em
doktori	NOUN	doktor
jer	SCONJ	jer
sam	AUX	jesam
,	PUNCT	,
taj	DET	taj
posao	VERB	posati
što	SCONJ	što
sam	AUX	jesam
ja	PRON	ja
radio	NOUN	radio
nije	AUX	jesam
radio	NOUN	radio
radnik	NOUN	radnik
nije	AUX	jesam
mogao	VERB	moći
da	SCONJ	da
finansira	VERB	finansirati
i	CCONJ	i
tako	ADV	tako
sam	AUX	jesam
ja	PRON	ja
imao	VERB	imati
posla	VERB	poslati
sa	ADP	sa
tim	DET	taj
ljudima	NOUN	ljudi
koji	DET	koji
su	AUX	jesam
ovaj	DET	ovaj
malo	ADV	malo
imućniji	ADJ	imućan
i	CCONJ	i
bogatiji	ADJ	bogat
gde	SCONJ	gde
ne	PART	ne
znam	VERB	znati
kako	SCONJ	kako
to	DET	taj
sad	ADV	sad
sve	ADV	sve
da	SCONJ	da
se	PART	se
nazove	VERB	nazvati
ali	CCONJ	ali
bilo	AUX	biti
kako	ADV	kako
bilo	AUX	biti
bilo	AUX	biti
je	AUX	jesam
mnogo	ADV	mnogo
lep	ADJ	lep
život	NOUN	život
bez	ADP	bez
obzira	NOUN	obzir
koliko	ADV	koliko
se	PART	se
radilo	VERB	raditi
,	PUNCT	,
radilo	VERB	raditi
se	PART	se
,	PUNCT	,
radio	VERB	raditi
sam	AUX	jesam
ja	PRON	ja
po	ADP	po
osamdeset	NUM	osamdeset
sati	NOUN	sat
sedmično	ADV	sedmično
znači	VERB	značiti
trista	NOUN	trista
,	PUNCT	,
trista	ADV	trista
pedeset	NUM	pedeset
sati	NOUN	sat
mesečno	ADV	mesečno
ali	CCONJ	ali
nema	ADJ	nem
veze	NOUN	veza
jer	SCONJ	jer
čovek	NOUN	čovek
kad	SCONJ	kad
je	AUX	jesam
mlad	ADJ	mlad
gazda	NOUN	gazda
sa	ADP	sa
kim	PRON	ko
sam	AUX	jesam
ja	PRON	ja
sarađivo	VERB	sarađivo
dok	SCONJ	dok
nisam	AUX	jesam
radio	NOUN	radio
samostalno	ADV	samostalno
je	AUX	jesam
plaćao	VERB	plaćati
,	PUNCT	,
pomagao	VERB	pomagati
,	PUNCT	,
cenio	VERB	ceniti
radnike	NOUN	radnik
em	PART	em
nikome	PRON	niki
nije	AUX	jesam
ostao	VERB	ostati
jednu	NUM	jedan
žutu	ADJ	žut
banku	NOUN	banak
dužan	ADJ	dužan
,	PUNCT	,
sve	DET	sav
je	AUX	jesam
to	DET	taj
funkcionisalo	VERB	funkcionisati
kao	ADV	kao
u	ADP	u
jednoj	NUM	jedan
kako	SCONJ	kako
da	SCONJ	da
nazoveš	VERB	nazvati
pravna	ADJ	pravni
jedna	NUM	jedan
zemlja	NOUN	zemlja
,	PUNCT	,
jedna	NUM	jedan
zemlja	NOUN	zemlja
gde	SCONJ	gde
se	PART	se
zna	VERB	znati
ko	PRON	ko
kosi	NOUN	kos
a	CCONJ	a
ko	PRON	ko
vodu	NOUN	vod
nosi	VERB	nositi
,	PUNCT	,
niko	PRON	niki
nije	AUX	jesam
gledao	VERB	gledati
da	SCONJ	da
te	DET	taj
prevari	NOUN	prevara
,	PUNCT	,
niko	PRON	niki
nije	AUX	jesam
gledao	VERB	gledati
da	SCONJ	da
ovaj	DET	ovaj
budeš	AUX	biti
obeštećen	VERB	obeštetiti
i	CCONJ	i
šta	PRON	šta
ja	PRON	ja
znam	VERB	znati
,	PUNCT	,
i	PART	i
tako	ADV	tako
i	CCONJ	i
to	DET	taj
je	AUX	jesam
trajalo	VERB	trajati
dok	SCONJ	dok
je	AUX	jesam
trajalo	VERB	trajati
kad	SCONJ	kad
je	AUX	jesam
deda	NOUN	ded
ovaj	DET	ovaj
rešio	VERB	rešiti
da	SCONJ	da
jednako	ADV	jednako
me	PRON	ja
mučilo	VERB	mučiti
ovaj	DET	ovaj
pošto	SCONJ	pošto
sam	AUX	jesam
ja	PRON	ja
radio	VERB	raditi
taj	DET	taj
gra	X	gra
kamenorezački	ADJ	kamenorezački
posao	VERB	posati
pa	CCONJ	pa
sam	AUX	jesam
donirao	VERB	donirati
crkvi	NOUN	crkva
i	CCONJ	i
u	ADP	u
Štutgartu	PROPN	Štutgart
jedno	NUM	jedan
pedeset	NUM	pedeset
šeset	NUM	šeset
sati	NOUN	sat
onako	ADV	onako
ja	PRON	ja
i	CCONJ	i
moj	DET	moj
sin	NOUN	sin
jedno	NUM	jedan
dvaedeset	NOUN	dvaedeset
i	CCONJ	i
dosta	ADV	dosta
stvari	NOUN	stvar
i	CCONJ	i
materijala	NOUN	materijal
za	ADP	za
te	DET	taj
priprata	NOUN	priprata
i	CCONJ	i
stepenište	NOUN	stepenište
ulaz	NOUN	ulaz
i	CCONJ	i
fasada	NOUN	fasada
okolo	ADV	okolo
ovaj	DET	ovaj
i	CCONJ	i
u	ADP	u
međuvremenu	NOUN	međuvreme
malo	ADV	malo
malo	ADV	malo
pa	CCONJ	pa
neko	PRON	neko
umre	VERB	umreti
pa	CCONJ	pa
se	PART	se
to	DET	taj
ispraća	VERB	ispraćati
pa	CCONJ	pa
sam	AUX	jesam
i	CCONJ	i
onda	ADV	onda
sam	AUX	jesam
ja	PRON	ja
jednako	ADV	jednako
me	PRON	ja
nešto	PRON	nešto
u	ADP	u
sebi	PRON	sebe
ovako	ADV	ovako
čeprkalo	VERB	čeprkati
kopkalo	VERB	kopkati
ma	PART	ma
što	SCONJ	što
ja	PRON	ja
moram	VERB	morati
da	SCONJ	da
mene	PRON	ja
isprate	VERB	ispratiti
odavde	ADV	odavde
u	ADP	u
ovom	DET	ovaj
drvenjaku	NOUN	drvenjak
i	CCONJ	i
ovaj	DET	ovaj
da	SCONJ	da
,	PUNCT	,
bolje	ADV	bolje
ja	PRON	ja
ću	AUX	hteti
da	SCONJ	da
da	SCONJ	da
napustim	VERB	napustiti
kad	SCONJ	kad
mi	PRON	ja
ono	PRON	ono
dok	SCONJ	dok
sam	AUX	jesam
ja	PRON	ja
još	ADV	još
zdrav	ADJ	zdrav
,	PUNCT	,
relativno	ADV	relativno
zdrav	ADJ	zdrav
u	ADP	u
međuvremenu	NOUN	međuvreme
sam	AUX	jesam
operisao	VERB	operisati
i	CCONJ	i
srce	NOUN	srce
i	CCONJ	i
tako	ADV	tako
neke	DET	neki
stvari	NOUN	stvar
ali	PART	ali
dobro	ADV	dobro
to	DET	taj
je	AUX	jesam
sve	DET	sav
za	ADP	za
normalne	ADJ	normalan
ljude	NOUN	ljudi
ovaj	DET	ovaj
i	CCONJ	i
rešio	VERB	rešiti
sam	AUX	jesam
da	SCONJ	da
napustim	VERB	napustiti
pošto	SCONJ	pošto
sam	AUX	jesam
započeo	VERB	započeti
jednu	NUM	jedan
veliku	ADJ	velik
bio	AUX	biti
kuću	NOUN	kuća
ov	X	ov
nije	AUX	jesam
bilo	AUX	biti
završeno	ADJ	završen
je	AUX	jesam
dosta	ADV	dosta
ali	CCONJ	ali
nije	AUX	jesam
bilo	AUX	biti
spoljne	ADJ	spoljni
te	DET	taj
kamene	VERB	kameniti
te	DET	taj
unutrašnje	ADJ	unutrašnji
stvari	NOUN	stvar
stepeništa	NOUN	stepenište
,	PUNCT	,
kupatila	NOUN	kupatilo
,	PUNCT	,
bogova	VERB	bogovati
ja	PRON	ja
sam	AUX	jesam
to	DET	taj
radio	NOUN	radio
i	CCONJ	i
završavao	VERB	završavati
i	CCONJ	i
zategao	ADJ	zategao
,	PUNCT	,
sredio	VERB	srediti
i	CCONJ	i
sad	ADV	sad
rekoh	VERB	reći
malo	ADV	malo
ovo	DET	ovaj
što	SCONJ	što
je	AUX	jesam
kusur	NOUN	kusur
ostalo	VERB	ostati
da	SCONJ	da
se	PART	se
ako	SCONJ	ako
se	PART	se
proživi	VERB	proživeti
bar	PART	bar
da	SCONJ	da
ne	PART	ne
bude	AUX	biti
se	PART	se
bolesno	ADV	bolesno
i	CCONJ	i
tako	ADV	tako
Kako	SCONJ	kako
Pa	PART	pa
dobro	ADV	dobro
to	DET	taj
to	DET	taj
je	AUX	jesam
ta	DET	taj
operacija	NOUN	operacija
srca	NOUN	srce
i	CCONJ	i
šta	PRON	šta
ja	PRON	ja
znam	VERB	znati
ono	PRON	ono
imate	VERB	imati
ovaj	DET	ovaj
kažu	VERB	kazati
ono	PRON	ono
da	SCONJ	da
kad	SCONJ	kad
dobijete	VERB	dobiti
kri	ADJ	kri
onaj	DET	onaj
račun	NOUN	račun
znači	VERB	značiti
radilo	VERB	raditi
je	AUX	jesam
se	PART	se
to	DET	taj
građevinski	ADJ	građevinski
su	AUX	jesam
to	DET	taj
poslovi	NOUN	posao
to	DET	taj
je	AUX	jesam
promaja	NOUN	promaja
to	DET	taj
je	AUX	jesam
leto	NOUN	leto
to	DET	taj
je	AUX	jesam
kiša	NOUN	kiša
sneg	NOUN	sneg
,	PUNCT	,
ali	CCONJ	ali
bilo	AUX	biti
kako	ADV	kako
bilo	AUX	biti
ja	PRON	ja
sam	AUX	jesam
to	DET	taj
voleo	VERB	voleti
,	PUNCT	,
mogao	VERB	moći
sam	AUX	jesam
ja	PRON	ja
da	SCONJ	da
radim	VERB	raditi
u	ADP	u
fabrici	NOUN	fabrika
radio	VERB	raditi
sam	PRON	sam
sedam	NUM	sedam
dana	NOUN	dan
u	ADP	u
mercedesu	NOUN	mercedes
i	CCONJ	i
pobegao	VERB	pobeći
,	PUNCT	,
nisam	AUX	jesam
ja	PRON	ja
za	ADP	za
halu	NOUN	hala
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
voleo	VERB	voleti
da	SCONJ	da
kod	ADP	kod
mene	PRON	ja
je	AUX	jesam
bio	AUX	biti
posao	VERB	posati
mesec	NOUN	mesec
dana	NOUN	dan
ovde	ADV	ovde
,	PUNCT	,
deset	NUM	deset
dana	NOUN	dan
onde	ADV	onde
i	PART	i
tako	ADV	tako
se	PART	se
to	DET	taj
menjalo	VERB	menjati
ceo	ADJ	ceo
život	NOUN	život
i	CCONJ	i
čim	ADV	čim
završiš	VERB	završiti
odmah	ADV	odmah
počinješ	VERB	počinjati
novo	ADJ	nov
i	CCONJ	i
to	DET	taj
uvek	ADV	uvek
nešto	PRON	nešto
ostajalo	VERB	ostajati
iza	ADP	iza
tebe	PRON	ti
nije	AUX	jesam
malo	ADV	malo
dosta	ADV	dosta
je	AUX	jesam
stvari	NOUN	stvar
ostajalo	VERB	ostajati
,	PUNCT	,
na	ADP	na
primer	NOUN	primer
kad	SCONJ	kad
se	PART	se
setim	VERB	setiti
u	ADP	u
Kremlju	PROPN	Kremlj
,	PUNCT	,
tamo	ADV	tamo
gde	SCONJ	gde
je	AUX	jesam
ne	PART	ne
znam	VERB	znati
koliko	ADV	koliko
ko	PRON	ko
poznaje	VERB	poznavati
tu	ADV	tu
unutra	ADV	unutra
gde	SCONJ	gde
je	AUX	jesam
ta	DET	taj
Katarina	PROPN	Katarina
sal	ADV	sal
kako	SCONJ	kako
se	PART	se
to	DET	taj
kaže	VERB	kazati
sala	NOUN	sala
ta	DET	taj
em	PART	em
h	SYM	h
centralni	ADJ	centralni
onaj	DET	onaj
deo	NOUN	deo
Kremlja	PROPN	Kremlj
pa	CCONJ	pa
onda	ADV	onda
tu	ADV	tu
imali	VERB	imati
radove	NOUN	rad
mi	PRON	ja
smo	AUX	jesam
radili	VERB	raditi
neke	DET	neki
em	CCONJ	em
kako	SCONJ	kako
se	PART	se
to	DET	taj
zove	VERB	zvati
ovaj	DET	ovaj
kad	SCONJ	kad
primaju	VERB	primati
nekoga	DET	neki
državnika	NOUN	državnik
i	CCONJ	i
onda	ADV	onda
iziđu	VERB	izići
tu	ADV	tu
stanu	VERB	stati
malo	ADV	malo
da	SCONJ	da
sednu	VERB	sesti
rukuju	VERB	rukovati
se	PART	se
i	CCONJ	i
ovaj	DET	ovaj
em	PART	em
popričaju	VERB	popričati
dve	NUM	dva
reči	NOUN	reč
i	CCONJ	i
tako	ADV	tako
i	CCONJ	i
to	DET	taj
je	AUX	jesam
ovaj	DET	ovaj
em	CCONJ	em
čudna	ADJ	čudan
čudna	ADJ	čudan
je	AUX	jesam
ta	DET	taj
Moskva	PROPN	Moskva
i	CCONJ	i
ta	DET	taj
Rusija	PROPN	Rusija
i	PART	i
to	DET	taj
sve	DET	sav
ali	PART	ali
dobro	ADV	dobro
ja	PRON	ja
sam	AUX	jesam
imao	VERB	imati
svašta	PRON	svašta
se	PART	se
doživi	VERB	doživiti
tamo	ADV	tamo
majku	NOUN	majka
mu	PRON	on
božiju	VERB	božiju
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
ovaj	DET	ovaj
baš	PART	baš
kad	SCONJ	kad
si	AUX	jesam
ti	PRON	ti
ovaj	DET	ovaj
trebo	VERB	trebo
da	SCONJ	da
se	PART	se
rodiš	VERB	roditi
zove	VERB	zvati
ćerka	NOUN	ćerka
kaže	VERB	kazati
tata	NOUN	tat
ostala	VERB	ostati
sam	AUX	jesam
u	ADP	u
drugom	ADJ	drugi
stanju	NOUN	stanje
a	CCONJ	a
ja	PRON	ja
u	ADP	u
hotelu	NOUN	hotel
ovaj	DET	ovaj
mi	PRON	ja
smo	AUX	jesam
lepo	ADV	lepo
živeli	VERB	živeti
tamo	ADV	tamo
spavali	VERB	spavati
su	AUX	jesam
ovaj	DET	ovaj
u	ADP	u
Metropolu	NOUN	metropola
a	CCONJ	a
to	DET	taj
je	AUX	jesam
bilo	AUX	biti
napravljeno	VERB	napraviti
tada	ADV	tada
dvedeset	ADJ	dvedeset
šeste	ADJ	šesti
godine	NOUN	godina
za	ADP	za
ovaj	DET	ovaj
za	ADP	za
te	DET	taj
zapadne	ADJ	zapadni
turiste	NOUN	turista
i	CCONJ	i
zapadne	ADJ	zapadni
d	SYM	d
osamsto	NUM	osamsto
godina	NOUN	godina
Moskve	PROPN	Moskva
obnavljala	VERB	obnavljati
se	PART	se
ceo	ADJ	ceo
grad	NOUN	grad
za	ADP	za
osamstogodišnjicu	NOUN	osamstogodišnjicu
i	CCONJ	i
tako	ADV	tako
je	AUX	jesam
to	DET	taj
ovaj	DET	ovaj
bilo	AUX	biti
svega	ADV	svega
i	CCONJ	i
svačega	NOUN	svačega
nema	VERB	nemati
gde	SCONJ	gde
te	PRON	ti
nije	AUX	jesam
bi	AUX	biti
gde	SCONJ	gde
me	PRON	ja
nije	AUX	jesam
bilo	AUX	biti
kad	SCONJ	kad
neka	DET	neki
s	ADP	s
,	PUNCT	,
na	ADP	na
primer	NOUN	primer
voleo	VERB	voleti
sam	AUX	jesam
Švajcarsku	PROPN	Švajcarska
,	PUNCT	,
Austriju	PROPN	Austrija
to	DET	taj
sam	AUX	jesam
krstario	VERB	krstariti
Evropu	PROPN	Evropa
,	PUNCT	,
Holandiju	PROPN	Holandija
ovaj	DET	ovaj
voleo	VERB	voleti
sam	AUX	jesam
da	SCONJ	da
putujem	VERB	putovati
,	PUNCT	,
voleo	VERB	voleti
sam	AUX	jesam
Azurnu	ADJ	azuran
obalu	NOUN	obala
,	PUNCT	,
Monte	PROPN	Monte
Karlo	PROPN	Karlo
ovaj	DET	ovaj
San	PROPN	San
Remo	PROPN	Remo
voleo	VERB	voleti
sam	ADJ	sam
fudbal	NOUN	fudbal
bio	AUX	biti
sam	AUX	jesam
na	ADP	na
svetskom	ADJ	svetski
prvenstvu	NOUN	prvenstvo
devedesete	ADJ	devedeseti
godine	NOUN	godina
finale	NOUN	finale
Ita	PROPN	Ita
ovaj	DET	ovaj
Argentina	PROPN	Argentina
Nemačka	PROPN	Nemačka
onda	ADV	onda
Zvezda	NOUN	zvezda
ovaj	DET	ovaj
Francuzi	PROPN	Francuz
kako	SCONJ	kako
se	PART	se
zvao	VERB	zvati
ovaj	DET	ovaj
klub	NOUN	klub
nema	ADJ	nem
veze	NOUN	veza
to	DET	taj
u	ADP	u
Bariju	PROPN	Bari
bilo	AUX	biti
pa	CCONJ	pa
sam	DET	sam
i	CCONJ	i
voleo	VERB	voleti
sam	AUX	jesam
taj	DET	taj
fudbal	NOUN	fudbal
mislim	VERB	misliti
da	SCONJ	da
ja	PRON	ja
nisam	AUX	jesam
igrao	VERB	igrati
ali	CCONJ	ali
voleo	VERB	voleti
sam	AUX	jesam
da	SCONJ	da
gledam	VERB	gledati
onda	ADV	onda
skoro	ADV	skoro
nije	AUX	jesam
bilo	AUX	biti
nijedne	ADJ	nijedan
utakmice	NOUN	utakmica
pošto	SCONJ	pošto
je	AUX	jesam
Štutgart	PROPN	Štutgart
u	ADP	u
Mel	PROPN	Mel
kolko	ADV	kolko
je	AUX	jesam
puta	ADV	puta
ispadao	VERB	ispadati
iz	ADP	iz
lige	NOUN	liga
ali	CCONJ	ali
je	AUX	jesam
tu	ADV	tu
dokle	SCONJ	dokle
je	AUX	jesam
bila	AUX	biti
ona	PRON	ona
stara	ADJ	star
garda	NOUN	garda
Mecer	PROPN	Mecer
,	PUNCT	,
Overad	PROPN	Overad
,	PUNCT	,
Bekenbauer	PROPN	Bekenbauer
em	PART	em
Mire	PROPN	Mira
Miler	PROPN	Miler
jedan	NUM	jedan
Miler	PROPN	Miler
drugi	ADJ	drugi
Enes	PROPN	Enes
i	CCONJ	i
šta	PRON	šta
ja	PRON	ja
znam	VERB	znati
ovi	DET	ovaj
svetski	ADJ	svetski
to	DET	taj
se	PART	se
ja	PRON	ja
sam	AUX	jesam
voleo	VERB	voleti
to	DET	taj
da	SCONJ	da
gledam	VERB	gledati
i	CCONJ	i
tako	ADV	tako
Pa	CCONJ	pa
visok	ADJ	visok
em	CCONJ	em
to	DET	taj
je	AUX	jesam
više	ADV	više
bilo	AUX	biti
na	ADP	na
nervnoj	ADJ	nervni
bazi	NOUN	baza
je	AUX	jesam
l	CCONJ	l
obično	ADV	obično
dobro	ADV	dobro
ja	PRON	ja
sam	AUX	jesam
to	DET	taj
kontrolisao	VERB	kontrolisati
ali	CCONJ	ali
više	ADV	više
je	AUX	jesam
to	DET	taj
je	AUX	jesam
li	PART	li
ima	VERB	imati
tu	DET	taj
vazda	ADV	vazda
varijanti	NOUN	varijanta
od	ADP	od
čega	PRON	šta
čovek	NOUN	čovek
to	DET	taj
dobija	VERB	dobijati
,	PUNCT	,
neko	DET	neki
dobija	VERB	dobijati
od	ADP	od
pušenja	NOUN	pušenje
neko	DET	neki
od	ADP	od
hrane	NOUN	hrana
neko	PRON	neko
od	ADP	od
gojaznosti	NOUN	gojaznost
neko	PRON	neko
ali	CCONJ	ali
verujem	VERB	verovati
da	SCONJ	da
sto	NOUN	sto
posto	ADV	posto
taj	DET	taj
stres	NOUN	stres
utiče	VERB	uticati
na	ADP	na
taj	DET	taj
na	ADP	na
taj	DET	taj
nervni	ADJ	nervni
ovaj	DET	ovaj
sistem	NOUN	sistem
i	CCONJ	i
tako	ADV	tako
Pa	PART	pa
jesam	AUX	jesam
,	PUNCT	,
to	DET	taj
sam	AUX	jesam
pod	ADP	pod
lekovima	NOUN	lek
tim	ADV	tim
za	ADP	za
razređivanje	NOUN	razređivanje
krvi	NOUN	krv
to	DET	taj
to	DET	taj
je	AUX	jesam
ovaj	DET	ovaj
jedan	NUM	jedan
aspirin	NOUN	aspirin
ali	CCONJ	ali
to	DET	taj
ništa	PRON	ništa
nije	AUX	jesam
ovaj	DET	ovaj
nije	AUX	jesam
kako	ADV	kako
da	SCONJ	da
kažem	VERB	kazati
ima	VERB	imati
tu	DET	taj
sad	ADV	sad
kad	SCONJ	kad
čovek	NOUN	čovek
operiše	VERB	operisati
pa	CCONJ	pa
dobiva	VERB	dobivati
neke	DET	neki
lekove	NOUN	lek
,	PUNCT	,
neke	DET	neki
narkumani	VERB	narkumani
i	CCONJ	i
šta	PRON	šta
ja	PRON	ja
znam	VERB	znati
ja	PRON	ja
to	DET	taj
ne	PART	ne
,	PUNCT	,
to	DET	taj
je	AUX	jesam
ovako	ADV	ovako
više	ADV	više
i	PART	i
to	DET	taj
koristim	VERB	koristiti
gledam	VERB	gledati
na	ADP	na
biljnoj	ADJ	biljni
bazi	NOUN	baza
da	SCONJ	da
Krvni	ADJ	krvni
pritisak	NOUN	pritisak
,	PUNCT	,
masnoću	NOUN	masnoća
i	CCONJ	i
ovo	DET	ovaj
re	ADJ	re
em	PRON	em
izbacivanje	NOUN	izbacivanje
tečnosti	NOUN	tečnost
,	PUNCT	,
sve	DET	sav
je	AUX	jesam
to	DET	taj
,	PUNCT	,
taj	DET	taj
tu	ADV	tu
povezano	ADJ	povezan
sa	ADP	sa
tim	DET	taj
krvnim	ADJ	krvni
pritiskom	NOUN	pritisak
i	CCONJ	i
šta	PRON	šta
ja	PRON	ja
znam	VERB	znati
Pa	CCONJ	pa
ima	VERB	imati
ih	PRON	ona
k	ADP	k
,	PUNCT	,
ima	VERB	imati
ih	PRON	ona
dosta	ADV	dosta
imam	VERB	imati
sina	NOUN	sin
u	ADP	u
Nemačkoj	PROPN	Nemačka
,	PUNCT	,
snaju	NOUN	snaja
i	CCONJ	i
tri	NUM	tri
unuka	NOUN	unuka
i	CCONJ	i
imam	VERB	imati
ćerku	NOUN	ćerka
ovde	ADV	ovde
u	ADP	u
Gornjem	ADJ	gornji
Milanovcu	PROPN	Milanovac
ima	VERB	imati
i	CCONJ	i
ona	PRON	ona
sina	NOUN	sin
to	DET	taj
znači	VERB	značiti
imam	VERB	imati
tri	NUM	tri
unuka	NOUN	unuka
i	CCONJ	i
jednu	NUM	jedan
unuku	NOUN	unuka
I	CCONJ	i
babu	NOUN	baba
imam	VERB	imati
ovaj	DET	ovaj
,	PUNCT	,
pošto	SCONJ	pošto
pa	CCONJ	pa
jeste	AUX	jesam
ona	PRON	ona
je	AUX	jesam
baba	NOUN	baba
,	PUNCT	,
čim	SCONJ	čim
ima	VERB	imati
unuke	NOUN	unuka
baba	NOUN	baba
je	AUX	jesam
ne	PART	ne
mogu	VERB	moći
ja	PRON	ja
Ko	PRON	ko
,	PUNCT	,
unuci	NOUN	unuka
?	PUNCT	?
A	CCONJ	A
generalno	ADJ	generalan
,	PUNCT	,
jedan	NUM	jedan
je	AUX	jesam
pošto	SCONJ	pošto
je	AUX	jesam
sin	NOUN	sin
to	DET	taj
voleo	VERB	voleti
tako	ADV	tako
ta	DET	taj
stara	ADJ	star
ispada	VERB	ispadati
kao	CCONJ	kao
da	SCONJ	da
su	AUX	jesam
jevrejska	ADJ	jevrejski
nije	AUX	jesam
David	PROPN	David
,	PUNCT	,
Isak	PROPN	Isak
i	CCONJ	i
Mija	PROPN	Mija
a	CCONJ	a
ovaj	DET	ovaj
Radovan	PROPN	Radovan
je	AUX	jesam
l	PART	l
obično	ADV	obično
treba	VERB	trebati
davati	VERB	davati
deci	NOUN	deca
imena	NOUN	ime
kratka	ADJ	kratak
da	SCONJ	da
sutra	ADV	sutra
nikad	ADV	nikad
se	PART	se
ne	PART	ne
zna	VERB	znati
kad	SCONJ	kad
ko	PRON	ko
ode	VERB	otići
u	ADP	u
svet	NOUN	svet
pa	CCONJ	pa
kaže	VERB	kazati
kako	SCONJ	kako
se	PART	se
zove	VERB	zvati
,	PUNCT	,
zove	VERB	zvati
se	PART	se
ovako	ADV	ovako
pa	CCONJ	pa
ne	PART	ne
možeš	VERB	moći
da	SCONJ	da
izgovoriš	VERB	izgovoriti
pola	ADV	pola
sata	NOUN	sat
,	PUNCT	,
to	DET	taj
treba	VERB	trebati
davati	VERB	davati
kratka	ADJ	kratak
imena	NOUN	ime
ovaj	DET	ovaj
Marko	PROPN	Marka
,	PUNCT	,
Petar	PROPN	Petar
,	PUNCT	,
Nikola	PROPN	Nikola
i	CCONJ	i
tako	ADV	tako
Ovo	DET	ovaj
su	AUX	jesam
stari	ADJ	star
,	PUNCT	,
ovo	DET	ovaj
je	AUX	jesam
bila	AUX	biti
neka	DET	neki
postava	NOUN	postava
koja	DET	koji
se	PART	se
rodila	VERB	roditi
deset	NUM	deset
,	PUNCT	,
devet	NUM	devet
i	CCONJ	i
osam	NUM	osam
godina	NOUN	godina
od	ADP	od
sina	NOUN	sin
,	PUNCT	,
a	CCONJ	a
od	ADP	od
ćerke	NOUN	ćerka
jedan	NUM	jedan
je	AUX	jesam
dvadeset	NUM	dvadeset
jednu	NUM	jedan
,	PUNCT	,
dvadeset	NUM	dvadeset
prva	ADJ	prvi
godina	NOUN	godina
ja	PRON	ja
mislim	VERB	misliti
tako	ADV	tako
pošto	SCONJ	pošto
ne	PART	ne
vodim	VERB	voditi
to	DET	taj
ja	PRON	ja
te	DET	taj
evidencije	NOUN	evidencija
kad	SCONJ	kad
je	AUX	jesam
sto	NUM	sto
posto	ADV	posto
i	CCONJ	i
kad	ADV	kad
kad	SCONJ	kad
je	AUX	jesam
ko	PRON	ko
rođen	VERB	roditi
i	CCONJ	i
te	DET	taj
,	PUNCT	,
kod	ADP	kod
mene	PRON	ja
je	AUX	jesam
slava	NOUN	slava
te	DET	taj
rođendani	NOUN	rođendan
nisam	AUX	jesam
ja	PRON	ja
ljubitelj	NOUN	ljubitelj
toga	DET	taj
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
prvi	ADJ	prvi
rođendan	NOUN	rođendan
slavio	VERB	slaviti
pedeseti	ADJ	pedeseti
i	CCONJ	i
to	DET	taj
ne	PART	ne
bih	AUX	biti
ga	PRON	on
ni	PART	ni
slavio	VERB	slaviti
nego	CCONJ	nego
sam	AUX	jesam
onda	ADV	onda
dizao	VERB	dizati
rogove	NOUN	rog
za	ADP	za
kuću	NOUN	kuća
pa	CCONJ	pa
sam	AUX	jesam
pozvao	VERB	pozvati
ljude	NOUN	ljudi
da	SCONJ	da
dižem	VERB	dizati
rogove	NOUN	rog
,	PUNCT	,
a	CCONJ	a
bila	AUX	biti
mi	PRON	ja
bio	AUX	biti
mi	PRON	ja
rođendan	NOUN	rođendan
Nisam	AUX	jesam
hteo	AUX	hteti
nikome	PRON	niki
da	SCONJ	da
kažem	VERB	kazati
,	PUNCT	,
samo	ADV	samo
je	AUX	jesam
baba	NOUN	baba
znala	VERB	znati
e	CCONJ	e
tako	ADV	tako
ma	PART	ma
nisam	AUX	jesam
levoruk	PROPN	levoruk
,	PUNCT	,
desnoruk	ADJ	desnoruk
sam	AUX	jesam
ona	PRON	ona
,	PUNCT	,
a	CCONJ	a
inače	PART	inače
volim	VERB	voliti
taj	DET	taj
te	DET	taj
zanatske	ADJ	zanatski
poslove	NOUN	posao
i	CCONJ	i
da	SCONJ	da
radim	VERB	raditi
,	PUNCT	,
nisam	AUX	jesam
ovaj	DET	ovaj
volim	VERB	voliti
ljude	NOUN	ljudi
koji	DET	koji
stvaraju	VERB	stvarati
,	PUNCT	,
ovaj	DET	ovaj
volim	VERB	voliti
em	PART	em
kako	SCONJ	kako
da	SCONJ	da
kažem	VERB	kazati
svakog	DET	svaki
čoveka	NOUN	čovek
koji	DET	koji
je	AUX	jesam
u	ADP	u
neku	DET	neki
ruku	NOUN	ruka
zanatlija	VERB	zanatlija
,	PUNCT	,
cenim	VERB	ceniti
i	CCONJ	i
stomatologa	NOUN	stomatolog
i	CCONJ	i
hirurga	NOUN	hirurg
i	CCONJ	i
od	ADP	od
,	PUNCT	,
to	DET	taj
su	AUX	jesam
zanatski	ADJ	zanatski
poslovi	NOUN	posao
,	PUNCT	,
ne	PART	ne
volim	VERB	voliti
demagoge	NOUN	demagog
i	CCONJ	i
te	DET	taj
filozofe	VERB	filozofe
em	PART	em
tak	ADV	tak
em	PART	em
filozofe	NOUN	filozof
volim	VERB	voliti
koji	DET	koji
ovaj	DET	ovaj
kad	SCONJ	kad
filozof	NOUN	filozof
em	PART	em
filozofski	ADJ	filozofski
se	PART	se
em	PART	em
na	ADP	na
primer	NOUN	primer
ophode	NOUN	ophod
o	ADP	o
,	PUNCT	,
o	ADP	o
okonečega	ADJ	okonečega
,	PUNCT	,
ne	PART	ne
volim	VERB	voliti
kad	SCONJ	kad
neko	PRON	neko
filozofira	VERB	filozofirati
preko	ADP	preko
nečega	PRON	nešta
a	CCONJ	a
nema	ADJ	nem
veze	NOUN	veza
o	ADP	o
mozgu	NOUN	mozak
E	CCONJ	e
tu	ADV	tu
sam	AUX	jesam
slab	ADJ	slab
,	PUNCT	,
a	CCONJ	a
sve	DET	sav
što	SCONJ	što
NIkada	ADV	nikada
,	PUNCT	,
nikad	ADV	nikad
nisam	AUX	jesam
,	PUNCT	,
a	CCONJ	a
sve	DET	sav
ovaj	DET	ovaj
sve	DET	sav
što	SCONJ	što
sam	ADJ	sam
jezika	NOUN	jezik
što	SCONJ	što
se	PART	se
tiče	VERB	ticati
i	CCONJ	i
uopšte	ADV	uopšte
svetske	ADJ	svetski
situacije	NOUN	situacija
i	CCONJ	i
ovaj	DET	ovaj
gle	PROPN	gle
nisam	AUX	jesam
se	PART	se
odvajo	VERB	odvajo
od	ADP	od
televizije	NOUN	televizija
,	PUNCT	,
od	ADP	od
reportaža	NOUN	reportaža
,	PUNCT	,
od	ADP	od
em	PART	em
poznavanja	NOUN	poznavanje
sveta	NOUN	svet
,	PUNCT	,
istorije	NOUN	istorija
i	CCONJ	i
svega	DET	sav
toga	DET	taj
što	SCONJ	što
se	PART	se
dešavalo	VERB	dešavati
u	ADP	u
svetu	NOUN	svet
to	DET	taj
sam	AUX	jesam
nekako	ADV	nekako
upio	VERB	upiti
ko	PRON	ko
sunđer	VERB	sunđer
iz	ADP	iz
em	PART	em
sa	ADP	sa
televizije	NOUN	televizija
i	CCONJ	i
ovaj	DET	ovaj
šta	PRON	šta
znači	VERB	značiti
jedinu	ADJ	jedinu
knjigu	NOUN	knjiga
koju	DET	koji
sam	AUX	jesam
pročito	VERB	pročito
mala	ADJ	mali
je	AUX	jesam
to	DET	taj
brošurica	NOUN	brošurica
,	PUNCT	,
to	DET	taj
je	AUX	jesam
bila	AUX	biti
knjiga	NOUN	knjiga
ne	PART	ne
znam	VERB	znati
ja	PRON	ja
mislim	VERB	misliti
da	SCONJ	da
se	PART	se
zvala	VERB	zvati
Kolevka	NOUN	kolevka
,	PUNCT	,
to	DET	taj
je	AUX	jesam
bilo	AUX	biti
pred	ADP	pred
kraj	ADP	kraj
rata	NOUN	rat
,	PUNCT	,
proterivanje	NOUN	proterivanje
takozvanih	ADJ	takozvani
neistomišljenika	NOUN	neistomišljenik
pobednika	NOUN	pobednik
,	PUNCT	,
tako	ADV	tako
Kako	ADV	kako
?	PUNCT	?
Volim	VERB	voliti
da	SCONJ	da
se	PART	se
družim	VERB	družiti
sa	ADP	sa
ljudima	NOUN	ljudi
i	CCONJ	i
volim	VERB	voliti
da	SCONJ	da
ovaj	DET	ovaj
nij	X	nij
uvek	ADV	uvek
sam	AUX	jesam
se	PART	se
družio	VERB	družiti
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
,	PUNCT	,
na	ADP	na
primer	NOUN	primer
ja	PRON	ja
sam	AUX	jesam
kad	SCONJ	kad
sam	AUX	jesam
živeo	VERB	živeti
tamo	ADV	tamo
u	ADP	u
mislim	VERB	misliti
u	ADP	u
inostranstvu	NOUN	inostranstvo
,	PUNCT	,
mi	PRON	ja
smo	AUX	jesam
imali	VERB	imati
sredu	NOUN	sreda
kad	SCONJ	kad
imaju	VERB	imati
doktori	NOUN	doktor
ovaj	DET	ovaj
obično	ADV	obično
sredom	VERB	sredom
popodne	ADV	popodne
ne	PART	ne
rade	VERB	raditi
mi	PRON	ja
smo	AUX	jesam
se	PART	se
sastajali	VERB	sastajati
u	ADP	u
jednoj	NUM	jedan
kafiću	NOUN	kafić
mada	SCONJ	mada
sam	AUX	jesam
i	PART	i
ja	PRON	ja
to	DET	taj
kad	SCONJ	kad
sam	AUX	jesam
ovaj	DET	ovaj
bio	AUX	biti
privatnik	VERB	privatnik
mogao	VERB	moći
kad	SCONJ	kad
sam	AUX	jesam
radio	VERB	raditi
ovaj	DET	ovaj
i	CCONJ	i
onda	ADV	onda
smo	AUX	jesam
se	PART	se
sastajali	VERB	sastajati
tu	ADV	tu
to	DET	taj
su	AUX	jesam
bili	AUX	biti
hirurzi	NOUN	hirurg
.	PUNCT	.
ginekolozi	ADJ	ginekolozi
em	CCONJ	em
ortopedi	NOUN	ortoped
,	PUNCT	,
opšte	ADJ	opšti
prakse	NOUN	praksa
šta	PRON	šta
ja	PRON	ja
znam	VERB	znati
svega	ADV	svega
i	CCONJ	i
svačega	ADV	svačega
,	PUNCT	,
bilo	AUX	biti
je	AUX	jesam
i	CCONJ	i
zanatlija	VERB	zanatlija
,	PUNCT	,
bilo	AUX	biti
je	AUX	jesam
svega	ADV	svega
tako	ADV	tako
smo	AUX	jesam
ubijemo	VERB	ubiti
je	AUX	jesam
l	CCONJ	l
taj	DET	taj
tempo	NOUN	tempo
i	CCONJ	i
taj	DET	taj
to	DET	taj
je	AUX	jesam
ubitačno	ADJ	ubitačan
kad	SCONJ	kad
radiš	VERB	raditi
non	ADV	non
stop	VERB	stop
i	CCONJ	i
kad	SCONJ	kad
nemaš	VERB	nemati
ja	PRON	ja
,	PUNCT	,
najmanje	ADV	najmanje
sam	AUX	jesam
vremena	NOUN	vreme
provodio	VERB	provoditi
u	ADP	u
stanu	NOUN	stan
,	PUNCT	,
je	AUX	jesam
li	PART	li
završim	VERB	završiti
posao	VERB	posati
,	PUNCT	,
dođem	VERB	doći
u	ADP	u
sedam	NUM	sedam
,	PUNCT	,
osam	NUM	osam
uveče	ADV	uveče
i	CCONJ	i
onda	ADV	onda
odem	VERB	otići
u	ADP	u
imali	VERB	imati
smo	AUX	jesam
jedan	NUM	jedan
restoran	NOUN	restoran
gde	SCONJ	gde
su	AUX	jesam
se	PART	se
okupljali	VERB	okupljati
,	PUNCT	,
bilo	AUX	biti
je	AUX	jesam
tu	DET	taj
konzularnog	ADJ	konzularan
,	PUNCT	,
koznularnih	ADJ	koznularnih
tih	DET	taj
ljudi	NOUN	ljudi
,	PUNCT	,
od	ADP	od
konzula	NOUN	konzul
do	ADP	do
sve	DET	sav
tih	DET	taj
struktura	NOUN	struktura
koji	DET	koji
su	AUX	jesam
radili	VERB	raditi
i	CCONJ	i
šta	PRON	šta
ja	PRON	ja
znam	VERB	znati
ali	CCONJ	ali
ja	PRON	ja
sad	ADV	sad
politika	NOUN	politika
i	CCONJ	i
ovo	DET	ovaj
to	DET	taj
mene	PRON	ja
nije	AUX	jesam
,	PUNCT	,
nisam	AUX	jesam
,	PUNCT	,
bežao	VERB	bežati
sam	AUX	jesam
od	ADP	od
njih	PRON	ona
ko	PRON	ko
đavo	NOUN	đavo
od	ADP	od
krsta	NOUN	krsta
ja	PRON	ja
nisam	AUX	jesam
voleo	VERB	voleti
da	SCONJ	da
i	CCONJ	i
voleo	VERB	voleti
sam	AUX	jesam
da	SCONJ	da
imam	VERB	imati
miran	ADJ	miran
život	NOUN	život
em	CCONJ	em
kućio	VERB	kućiti
sam	AUX	jesam
p	X	p
,	PUNCT	,
em	PART	em
a	CCONJ	a
hoću	AUX	hteti
da	SCONJ	da
kažem	VERB	kazati
ovaj	DET	ovaj
em	CCONJ	em
imao	VERB	imati
sam	AUX	jesam
sreće	NOUN	sreća
u	ADP	u
životu	NOUN	život
više	ADV	više
nego	CCONJ	nego
pameti	NOUN	pamet
šta	PRON	šta
god	PART	god
sam	AUX	jesam
počeo	VERB	početi
da	SCONJ	da
radim	VERB	raditi
,	PUNCT	,
šta	PRON	šta
je	AUX	jesam
god	PART	god
je	AUX	jesam
krenulo	VERB	krenuti
meni	PRON	ja
je	AUX	jesam
išlo	VERB	ići
to	DET	taj
od	ADP	od
ruke	NOUN	ruka
i	CCONJ	i
ja	PRON	ja
sam	AUX	jesam
u	ADP	u
jednu	NUM	jedan
ruku	NOUN	ruka
veliki	ADJ	velik
vernik	NOUN	vernik
,	PUNCT	,
nisam	AUX	jesam
ja	PRON	ja
sujeveran	VERB	sujeveran
ono	PRON	ono
ali	CCONJ	ali
ja	PRON	ja
verujem	VERB	verovati
da	SCONJ	da
nešto	PRON	nešto
postoji	VERB	postojati
i	CCONJ	i
da	SCONJ	da
kad	SCONJ	kad
i	CCONJ	i
nešto	PRON	nešto
radiš	VERB	raditi
čestito	ADV	čestito
,	PUNCT	,
voleo	VERB	voleti
sam	AUX	jesam
da	SCONJ	da
dam	VERB	dati
svakome	PRON	svako
,	PUNCT	,
kome	PRON	ko
nisam	AUX	jesam
mogao	VERB	moći
da	SCONJ	da
pomognem	VERB	pomoći
nisam	AUX	jesam
ga	PRON	on
pomogao	VERB	pomoći
ali	CCONJ	ali
ovaj	DET	ovaj
verujem	VERB	verovati
u	ADP	u
nešto	PRON	nešto
,	PUNCT	,
neko	PRON	neko
te	DET	taj
čuva	VERB	čuvati
ako	SCONJ	ako
te	PRON	ti
čuva	VERB	čuvati
,	PUNCT	,
ako	SCONJ	ako
te	PRON	ti
ne	PART	ne
čuva	VERB	čuvati
,	PUNCT	,
ne	PART	ne
može	VERB	moći
te	DET	taj
niko	PRON	niki
sačuvati	VERB	sačuvati
,	PUNCT	,
e	INTJ	e
tako	ADV	tako
Pa	CCONJ	pa
dobro	ADV	dobro
sad	ADV	sad
je	AUX	jesam
,	PUNCT	,
sad	ADV	sad
nisam	AUX	jesam
ja	PRON	ja
nešto	PRON	nešto
ovaj	DET	ovaj
em	PART	em
ovde	ADV	ovde
mi	PRON	ja
je	AUX	jesam
sad	ADV	sad
trenutno	ADV	trenutno
,	PUNCT	,
nisam	AUX	jesam
nikad	ADV	nikad
razmišljao	VERB	razmišljati
o	ADP	o
ovoj	DET	ovaj
politici	NOUN	politika
,	PUNCT	,
ovom	DET	ovaj
bezobrazluku	NOUN	bezobrazluk
,	PUNCT	,
ovo	DET	ovaj
nisam	AUX	jesam
em	PART	em
nekad	ADV	nekad
me	PRON	ja
stid	NOUN	stid
svog	DET	svoj
naroda	NOUN	narod
kad	SCONJ	kad
gledam	VERB	gledati
kako	SCONJ	kako
se	PART	se
pljuju	VERB	pljuvati
,	PUNCT	,
svađaju	VERB	svađati
,	PUNCT	,
politički	ADV	politički
i	PART	i
ja	PRON	ja
sam	AUX	jesam
ovaj	DET	ovaj
,	PUNCT	,
nikome	PRON	niki
tamo	ADV	tamo
nisam	AUX	jesam
,	PUNCT	,
nije	AUX	jesam
pitao	VERB	pitati
jesam	AUX	jesam
ja	PRON	ja
ovaj	DET	ovaj
em	PRON	em
če	ADJ	če
,	PUNCT	,
četnik	NOUN	četnik
ili	CCONJ	ili
partizan	PROPN	partizan
nego	CCONJ	nego
mi	PRON	ja
svako	PRON	svako
rekao	VERB	reći
ti	PRON	ti
si	AUX	jesam
četnik	NOUN	četnik
a	CCONJ	a
,	PUNCT	,
a	CCONJ	a
dođeš	VERB	doći
ovde	ADV	ovde
onaj	DET	onaj
,	PUNCT	,
ne	PART	ne
volim	VERB	voliti
o	ADP	o
tome	DET	taj
da	SCONJ	da
piš	VERB	piš
,	PUNCT	,
ne	PART	ne
,	PUNCT	,
ne	PART	ne
volim	VERB	voliti
neku	DET	neki
nepravdu	NOUN	nepravda
koja	DET	koji
postoji	VERB	postojati
,	PUNCT	,
koja	DET	koji
je	AUX	jesam
neraščišćena	ADJ	neraščišćen
i	CCONJ	i
ljudi	NOUN	ljudi
se	PART	se
glj	ADV	glj
,	PUNCT	,
glockaju	VERB	glockati
,	PUNCT	,
petalju	NOUN	petalju
i	CCONJ	i
ovaj	DET	ovaj
sad	ADV	sad
ovde	ADV	ovde
trenutno	ADV	trenutno
čim	SCONJ	čim
sedne	VERB	sesti
trojica	NUM	trojica
jedan	NUM	jedan
je	AUX	jesam
na	ADP	na
jednoj	NUM	jedan
drugi	ADJ	drugi
na	ADP	na
drugoj	ADJ	drugi
,	PUNCT	,
treći	ADJ	treći
,	PUNCT	,
ja	PRON	ja
to	DET	taj
ne	PART	ne
volim	VERB	voliti
i	CCONJ	i
to	DET	taj
me	PRON	ja
nikad	ADV	nikad
,	PUNCT	,
ali	CCONJ	ali
ovako	ADV	ovako
volim	VERB	voliti
da	SCONJ	da
se	PART	se
družim	VERB	družiti
,	PUNCT	,
volim	VERB	voliti
volim	VERB	voliti
sve	DET	sav
ovaj	DET	ovaj
volim	VERB	voliti
,	PUNCT	,
volim	VERB	voliti
ja	PRON	ja
tamo	ADV	tamo
nisam	AUX	jesam
mogao	VERB	moći
da	SCONJ	da
živim	VERB	živiti
bez	ADP	bez
muzike	NOUN	muzika
,	PUNCT	,
bez	ADP	bez
života	NOUN	život
,	PUNCT	,
bez	ADP	bez
da	SCONJ	da
ja	PRON	ja
živeo	VERB	živeti
normalan	ADJ	normalan
život	NOUN	život
,	PUNCT	,
sve	DET	sav
što	SCONJ	što
dolikuje	VERB	dolikovati
nekom	DET	neki
čoveku	NOUN	čovek
ja	PRON	ja
to	DET	taj
ovaj	DET	ovaj
nisam	AUX	jesam
ni	PART	ni
,	PUNCT	,
nisam	AUX	jesam
ništa	PRON	ništa
u	ADP	u
životu	NOUN	život
propustio	VERB	propustiti
,	PUNCT	,
ništa	PRON	ništa
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
toliko	ADV	toliko
ispunjen	VERB	ispuniti
da	SCONJ	da
mene	PRON	ja
baš	PART	baš
briga	NOUN	briga
,	PUNCT	,
mogu	VERB	moći
sutra	ADV	sutra
da	SCONJ	da
kvrcnem	VERB	kvrcnuti
i	CCONJ	i
da	SCONJ	da
se	PART	se
ugasi	VERB	ugasiti
svetlo	ADV	svetlo
ja	PRON	ja
sam	AUX	jesam
brate	NOUN	brata
moj	DET	moj
naživeo	NOUN	naživeo
se	PART	se
,	PUNCT	,
preživeo	VERB	preživeti
imao	VERB	imati
sam	AUX	jesam
uvek	ADV	uvek
,	PUNCT	,
bilo	AUX	biti
mi	PRON	ja
je	AUX	jesam
uvek	ADV	uvek
lepo	ADV	lepo
Pa	CCONJ	pa
kako	ADV	kako
nemam	VERB	nemati
,	PUNCT	,
ne	PART	ne
,	PUNCT	,
n	NUM	n
,	PUNCT	,
nije	AUX	jesam
mi	PRON	ja
niko	PRON	niki
neprijatelj	NOUN	neprijatelj
,	PUNCT	,
ja	PRON	ja
volim	VERB	voliti
svakog	DET	svaki
čoveka	NOUN	čovek
imam	VERB	imati
tu	DET	taj
par	NOUN	par
tih	DET	taj
drugara	NOUN	drugar
koji	DET	koji
vi	PRON	vi
,	PUNCT	,
i	CCONJ	i
sad	ADV	sad
ovde	ADV	ovde
volimo	VERB	voliti
da	SCONJ	da
se	PART	se
vidimo	VERB	viditi
,	PUNCT	,
nešto	PRON	nešto
porazgovaramo	VERB	porazgovarati
,	PUNCT	,
malo	ADV	malo
se	PART	se
našališ	VERB	našaliti
,	PUNCT	,
nisam	AUX	jesam
ja	PRON	ja
da	SCONJ	da
sam	AUX	jesam
se	PART	se
učaurio	VERB	učauriti
sad	ADV	sad
potpuno	ADV	potpuno
Voleo	VERB	voleti
sam	AUX	jesam
muziku	VERB	muziku
na	ADP	na
primer	NOUN	primer
,	PUNCT	,
vo	ADP	vo
volim	VERB	voliti
svakaku	ADV	svakaku
muziku	NOUN	muzika
na	ADP	na
primer	NOUN	primer
mene	PRON	ja
je	AUX	jesam
fascinirala	VERB	fascinirati
opera	NOUN	opera
,	PUNCT	,
a	CCONJ	a
nikad	ADV	nikad
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
seosko	ADJ	seoski
dete	NOUN	dete
,	PUNCT	,
nemam	VERB	nemati
dodira	NOUN	dodir
sa	ADP	sa
operom	NOUN	opera
,	PUNCT	,
nemam	VERB	nemati
ništa	PRON	ništa
,	PUNCT	,
ali	CCONJ	ali
sam	AUX	jesam
odlaskom	NOUN	odlazak
tamo	ADV	tamo
na	ADP	na
primer	NOUN	primer
slušao	VERB	slušati
ovo	DET	ovaj
Plaćita	PROPN	Plaćita
Dominga	PROPN	Domingo
,	PUNCT	,
ovoga	DET	ovaj
Kareru	PROPN	Kareru
i	CCONJ	i
ovoga	DET	ovaj
em	CCONJ	em
kako	SCONJ	kako
se	PART	se
zvao	VERB	zvati
ovaj	DET	ovaj
italijan	ADJ	italijan
Pavarotija	PROPN	Pavaroti
i	CCONJ	i
to	DET	taj
je	AUX	jesam
meni	PRON	ja
bilo	AUX	biti
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
mogao	VERB	moći
njih	PRON	ona
da	SCONJ	da
slušam	VERB	slušati
pet	NUM	pet
dana	NOUN	dan
da	SCONJ	da
slušam	VERB	slušati
ni	PART	ni
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
više	ADV	više
slušaoc	VERB	slušaoc
ja	PRON	ja
nisam	AUX	jesam
,	PUNCT	,
a	CCONJ	a
ovaj	DET	ovaj
volim	VERB	voliti
,	PUNCT	,
umem	VERB	umeti
ja	PRON	ja
lepo	ADV	lepo
i	CCONJ	i
da	SCONJ	da
zapevam	VERB	zapevati
i	CCONJ	i
svega	DET	sav
toga	DET	taj
ali	CCONJ	ali
nisam	AUX	jesam
,	PUNCT	,
a	CCONJ	a
na	ADP	na
primer	NOUN	primer
družio	VERB	družiti
sam	AUX	jesam
se	PART	se
sa	ADP	sa
ovim	DET	ovaj
nekadašnjim	ADJ	nekadašnji
muzičarima	NOUN	muzičar
,	PUNCT	,
maltene	ADV	maltene
tu	ADV	tu
je	AUX	jesam
jedan	NUM	jedan
bio	AUX	biti
koji	DET	koji
je	AUX	jesam
menadžerisao	VERB	menadžerisao
ovaj	DET	ovaj
Ostojić	PROPN	Ostojić
,	PUNCT	,
Verin	ADJ	Verin
brat	NOUN	brat
onda	ADV	onda
sam	AUX	jesam
ja	PRON	ja
sa	ADP	sa
njima	PRON	ona
nema	VERB	nemati
,	PUNCT	,
nije	AUX	jesam
bila	AUX	biti
svirka	NOUN	svirka
gde	SCONJ	gde
ja	PRON	ja
nisam	AUX	jesam
bio	AUX	biti
pa	CCONJ	pa
se	PART	se
nekad	ADV	nekad
moj	DET	moj
gazda	NOUN	gazda
pita	VERB	pitati
kad	SCONJ	kad
stigneš	VERB	stignuti
tamo	ADV	tamo
kad	SCONJ	kad
radiš	VERB	raditi
non	NOUN	non
stop	VERB	stop
,	PUNCT	,
nego	CCONJ	nego
dobro	ADV	dobro
hajde	INTJ	hajde
,	PUNCT	,
bilo	AUX	biti
kako	ADV	kako
bilo	AUX	biti
to	DET	taj
je	AUX	jesam
bilo	AUX	biti
Ne	PART	ne
,	PUNCT	,
voleo	VERB	voleti
sam	AUX	jesam
tu	ADV	tu
u	ADP	u
komšiluku	ADJ	komšiluku
brat	NOUN	brat
od	ADP	od
strica	ADJ	strica
je	AUX	jesam
svirao	VERB	svirati
harmoniku	NOUN	harmonika
,	PUNCT	,
počinjao	VERB	počinjati
to	DET	taj
je	AUX	jesam
bila	AUX	biti
neka	DET	neki
učenje	NOUN	učenje
kad	SCONJ	kad
je	AUX	jesam
Jovica	PROPN	Jovica
Petković	PROPN	Petković
dolazio	VERB	dolaziti
kad	SCONJ	kad
je	AUX	jesam
počinjao	VERB	počinjati
pa	CCONJ	pa
se	PART	se
to	DET	taj
,	PUNCT	,
to	DET	taj
ja	PRON	ja
kao	ADV	kao
dete	NOUN	dete
,	PUNCT	,
to	DET	taj
je	AUX	jesam
bilo	AUX	biti
šezdeset	NUM	šezdeset
druge	ADJ	drugi
,	PUNCT	,
treće	ADJ	treći
godine	NOUN	godina
,	PUNCT	,
ne	PART	ne
znam	VERB	znati
ni	PART	ni
ja	PRON	ja
tačno	ADV	tačno
,	PUNCT	,
šezdesetih	ADJ	šezdeseti
godina	NOUN	godina
i	CCONJ	i
onda	ADV	onda
je	AUX	jesam
to	DET	taj
sve	DET	sav
puklo	VERB	puknuti
ja	PRON	ja
sam	AUX	jesam
voleo	VERB	voleti
to	DET	taj
ja	PRON	ja
sam	AUX	jesam
se	PART	se
tu	ADV	tu
vrteo	VERB	vrteti
ali	CCONJ	ali
voleo	VERB	voleti
sam	AUX	jesam
em	PART	em
muziku	NOUN	muzika
da	SCONJ	da
slušam	VERB	slušati
,	PUNCT	,
i	CCONJ	i
danas	ADV	danas
dan	NOUN	dan
kad	SCONJ	kad
je	AUX	jesam
lepa	ADJ	lep
muzika	NOUN	muzika
meni	PRON	ja
to	DET	taj
razgali	VERB	razgaliti
dušu	VERB	duhati
Nemam	VERB	nemati
ništa	PRON	ništa
hobija	NOUN	hobi
izuzev	ADP	izuzev
ovaj	DET	ovaj
zanata	VERB	zanata
Em	PART	em
,	PUNCT	,
nemam	VERB	nemati
ništa	PRON	ništa
,	PUNCT	,
ovaj	DET	ovaj
nije	AUX	jesam
da	SCONJ	da
ništa	PRON	ništa
,	PUNCT	,
ne	PART	ne
mogu	VERB	moći
da	SCONJ	da
dođem	VERB	doći
od	ADP	od
babe	NOUN	baba
na	ADP	na
red	NOUN	red
,	PUNCT	,
baba	NOUN	baba
voli	VERB	voliti
to	DET	taj
da	SCONJ	da
kuva	VERB	kuvati
,	PUNCT	,
da	SCONJ	da
petlja	VERB	petljati
jer	SCONJ	jer
ja	PRON	ja
sam	AUX	jesam
taj	DET	taj
hobi	NOUN	hobi
imao	VERB	imati
kad	SCONJ	kad
bio	AUX	biti
sam	AUX	jesam
,	PUNCT	,
živeo	VERB	živeti
vani	ADV	vani
pa	CCONJ	pa
mi	PRON	ja
je	AUX	jesam
bilo	AUX	biti
se	PART	se
smučilo	VERB	smučiti
da	SCONJ	da
kuvam	VERB	kuvati
,	PUNCT	,
da	SCONJ	da
petljam	VERB	petljati
i	CCONJ	i
to	DET	taj
znači	VERB	značiti
to	DET	taj
ništa	PRON	ništa
ne	PART	ne
radim	VERB	raditi
,	PUNCT	,
ovaj	DET	ovaj
posao	VERB	posati
koji	DET	koji
sam	AUX	jesam
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
em	PART	em
radio	VERB	raditi
zanatski	ADJ	zanatski
posao	VERB	posati
,	PUNCT	,
nikad	ADV	nikad
ništa	PRON	ništa
nisam	AUX	jesam
menjao	VERB	menjati
,	PUNCT	,
sve	DET	sav
ceo	ADJ	ceo
život	NOUN	život
sam	ADJ	sam
radio	VERB	raditi
jedan	NUM	jedan
posao	NOUN	posao
znači	VERB	značiti
od	ADP	od
,	PUNCT	,
od	ADP	od
šezdeset	NUM	šezdeset
,	PUNCT	,
dobro	ADV	dobro
to	DET	taj
ranije	ADV	ranije
u	ADP	u
početku	NOUN	početak
ono	PRON	ono
kad	SCONJ	kad
je	AUX	jesam
bilo	AUX	biti
to	DET	taj
poljoprivreda	NOUN	poljoprivreda
dobra	ADJ	dobar
kao	CCONJ	kao
s	ADP	s
,	PUNCT	,
s	ADP	s
dete	NOUN	dete
ja	PRON	ja
sam	AUX	jesam
radio	VERB	raditi
ovaj	DET	ovaj
nadničio	VERB	nadničiti
ali	CCONJ	ali
ovaj	DET	ovaj
posle	ADV	posle
kad	SCONJ	kad
sam	AUX	jesam
počeo	VERB	početi
ovo	DET	ovaj
da	SCONJ	da
radim	VERB	raditi
radio	VERB	raditi
sam	AUX	jesam
ceo	ADJ	ceo
život	NOUN	život
i	CCONJ	i
bilo	AUX	biti
mi	PRON	ja
je	AUX	jesam
najdraže	ADV	najdraže
kad	SCONJ	kad
uradim	VERB	uraditi
ovaj	DET	ovaj
jedan	NUM	jedan
posao	VERB	posati
ja	PRON	ja
sam	AUX	jesam
radio	VERB	raditi
na	ADP	na
primer	NOUN	primer
kupatila	NOUN	kupatilo
,	PUNCT	,
kuhinje	NOUN	kuhinja
podove	NOUN	pod
,	PUNCT	,
stepeništa	NOUN	stepenište
,	PUNCT	,
fasade	NOUN	fasada
,	PUNCT	,
nema	VERB	nemati
ono	PRON	ono
sve	DET	sav
što	PRON	što
lepše	ADV	lepše
,	PUNCT	,
dešavalo	VERB	dešavati
mi	PRON	ja
se	PART	se
jednom	ADV	jednom
da	SCONJ	da
se	PART	se
malo	ADV	malo
ovako	ADV	ovako
sa	ADP	sa
Nemcima	PROPN	Nemac
je	AUX	jesam
l	CCONJ	l
o	ADP	o
em	PART	em
ne	PART	ne
usporečkam	VERB	usporečkam
nego	CCONJ	nego
ja	PRON	ja
kažem	VERB	kazati
,	PUNCT	,
znaš	VERB	znati
,	PUNCT	,
ne	PART	ne
voli	VERB	voliti
te	DET	taj
niko	PRON	niki
što	SCONJ	što
si	AUX	jesam
Srbin	PROPN	Srbin
mene	PRON	ja
na	ADP	na
primer	NOUN	primer
jedan	NUM	jedan
čovek	NOUN	čovek
pita	VERB	pitati
šta	PRON	šta
sam	AUX	jesam
ja	PRON	ja
,	PUNCT	,
ja	PRON	ja
i	CCONJ	i
moj	DET	moj
sin	NOUN	sin
Radovan	PROPN	Radovan
pa	CCONJ	pa
reko	VERB	reko
šta	PRON	šta
bi	AUX	biti
ti	PRON	ti
bilo	AUX	biti
draže	VERB	dražiti
da	SCONJ	da
,	PUNCT	,
on	PRON	on
me	PRON	ja
pita	VERB	pitati
šta	PRON	šta
sam	AUX	jesam
Hrvat	PROPN	Hrvat
ili	CCONJ	ili
Srbin	PROPN	Srbin
,	PUNCT	,
to	DET	taj
z	X	z
,	PUNCT	,
to	DET	taj
me	PRON	ja
pita	VERB	pitati
,	PUNCT	,
pa	CCONJ	pa
reko	VERB	reko
šta	PRON	šta
bi	AUX	biti
ti	PRON	ti
bilo	AUX	biti
do	PART	do
,	PUNCT	,
bolje	ADV	bolje
da	SCONJ	da
ti	PRON	ti
kažem	VERB	kazati
Srbin	PROPN	Srbin
ili	CCONJ	ili
Hrvat	PROPN	Hrvat
,	PUNCT	,
kaže	VERB	kazati
bolje	ADV	bolje
bi	AUX	biti
bilo	AUX	biti
da	SCONJ	da
si	AUX	jesam
Hrvat	PROPN	Hrvat
,	PUNCT	,
e	INTJ	e
pa	CCONJ	pa
rekoh	VERB	reći
na	ADP	na
žalost	NOUN	žalost
nisam	AUX	jesam
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
Srbin	PROPN	Srbin
,	PUNCT	,
i	CCONJ	i
ja	PRON	ja
i	CCONJ	i
ovo	DET	ovaj
moje	DET	moj
dete	NOUN	dete
ali	CCONJ	ali
dobro	ADV	dobro
nisu	AUX	jesam
oni	PRON	oni
to	DET	taj
,	PUNCT	,
niko	PRON	niki
ti	PRON	ti
nije	AUX	jesam
to	DET	taj
zlonamerno	ADV	zlonamerno
ali	CCONJ	ali
em	PART	em
imala	VERB	imati
je	AUX	jesam
jedna	NUM	jedan
određena	ADJ	određena
simpatija	NOUN	simpatija
prema	ADP	prema
tom	DET	taj
em	CCONJ	em
da	SCONJ	da
kažem	VERB	kazati
slobodno	ADJ	slobodan
ustaštvu	NOUN	ustaštvo
je	AUX	jesam
l	CCONJ	l
em	PART	em
,	PUNCT	,
devedeset	NUM	devedeset
osme	ADJ	osmi
godine	NOUN	godina
onaj	DET	onaj
kaže	VERB	kazati
nova	ADJ	nov
Srbija	PROPN	Srbija
a	CCONJ	a
,	PUNCT	,
e	CCONJ	e
Srpska	ADJ	srpski
borba	NOUN	borba
kad	SCONJ	kad
je	AUX	jesam
Dušan	PROPN	Dušan
,	PUNCT	,
moj	DET	moj
brat	NOUN	brat
,	PUNCT	,
bio	AUX	biti
student	NOUN	student
u	ADP	u
Sarajevu	PROPN	Sarajevo
i	CCONJ	i
dolazio	VERB	dolaziti
,	PUNCT	,
ja	PRON	ja
sam	AUX	jesam
radio	VERB	raditi
u	ADP	u
Kelnu	PROPN	Keln
tamo	ADV	tamo
gde	SCONJ	gde
je	AUX	jesam
od	ADP	od
Martina	PROPN	Martina
Lutera	PROPN	Luter
katedrala	NOUN	katedrala
koju	DET	koji
je	AUX	jesam
on	PRON	on
kad	SCONJ	kad
su	AUX	jesam
se	PART	se
otcepili	VERB	otcepiti
katolici	NOUN	katolik
i	CCONJ	i
protestanti	NOUN	protestant
,	PUNCT	,
i	CCONJ	i
ja	PRON	ja
kažem	VERB	kazati
njemu	PRON	on
ja	PRON	ja
vidim	VERB	viditi
tu	ADV	tu
,	PUNCT	,
ja	PRON	ja
došao	VERB	doći
iz	ADP	iz
unutrašnjosti	NOUN	unutrašnjost
,	PUNCT	,
Gornji	ADJ	gornji
Milanovac	PROPN	Milanovac
,	PUNCT	,
nema	ADJ	nem
šovinizma	NOUN	šovinizam
,	PUNCT	,
nema	ADJ	nem
Šiptara	PROPN	Šiptar
,	PUNCT	,
nema	ADJ	nem
Muslimana	NOUN	musliman
,	PUNCT	,
nema	ADJ	nem
Rumuna	PROPN	Rumun
,	PUNCT	,
nema	ADJ	nem
Bugara	PROPN	Bugarin
,	PUNCT	,
nema	VERB	nemati
nikoga	PRON	niki
,	PUNCT	,
koga	PRON	ko
mrze	VERB	mrzeti
Srbi	PROPN	Srba
,	PUNCT	,
mrze	VERB	mrzeti
braću	NOUN	braća
,	PUNCT	,
sestre	NOUN	sestra
,	PUNCT	,
komšije	NOUN	komšija
,	PUNCT	,
tako	ADV	tako
ti	PRON	ti
je	AUX	jesam
to	DET	taj
kod	ADP	kod
Srba	PROPN	Srba
i	CCONJ	i
tamo	ADV	tamo
onaj	DET	onaj
jed	NOUN	jed
,	PUNCT	,
vidim	VERB	viditi
,	PUNCT	,
reko	NOUN	reka
daj	VERB	dati
kupi	VERB	kupiti
ti	DET	taj
ovu	DET	ovaj
Srpsku	ADJ	srpski
borbu	NOUN	borba
,	PUNCT	,
ja	PRON	ja
ću	AUX	hteti
Hrvatska	PROPN	Hrvatska
,	PUNCT	,
Nova	ADJ	nov
Hrvatska	PROPN	Hrvatska
,	PUNCT	,
i	CCONJ	i
šta	PRON	šta
je	AUX	jesam
tad	ADV	tad
pisalo	VERB	pisati
u	ADP	u
Novoj	ADJ	nov
Hrvatskoj	PROPN	Hrvatska
,	PUNCT	,
to	DET	taj
je	AUX	jesam
pazi	VERB	paziti
šezdeset	NUM	šezdeset
deveta	ADJ	deveti
godina	NOUN	godina
i	CCONJ	i
to	DET	taj
je	AUX	jesam
Tuđman	PROPN	Tuđman
ostvario	VERB	ostvariti
na	ADP	na
primer	NOUN	primer
deved	NOUN	deved
,	PUNCT	,
kad	SCONJ	kad
je	AUX	jesam
se	PART	se
odvojila	VERB	odvojiti
,	PUNCT	,
otcepila	VERB	otcepiti
Hrvatska	PROPN	Hrvatska
a	CCONJ	a
sve	DET	sav
vreme	NOUN	vreme
dok	SCONJ	dok
sam	AUX	jesam
ja	PRON	ja
tamo	ADV	tamo
bio	AUX	biti
ja	PRON	ja
sam	PRON	sam
se	PART	se
družio	VERB	družiti
sa	ADP	sa
Hercegovcima	PROPN	Hercegovac
,	PUNCT	,
koji	DET	koji
su	AUX	jesam
bili	AUX	biti
ogoreli	VERB	ogoreti
protivnici	ADJ	protivnici
Jugoslavije	PROPN	Jugoslavija
,	PUNCT	,
i	CCONJ	i
oni	PRON	oni
su	AUX	jesam
bili	AUX	biti
i	CCONJ	i
naša	DET	naš
je	AUX	jesam
vlast	NOUN	vlast
nazivala	VERB	nazivati
ustaše	NOUN	ustaša
i	CCONJ	i
šta	PRON	šta
ja	PRON	ja
znam	VERB	znati
,	PUNCT	,
ali	CCONJ	ali
oni	PRON	oni
su	AUX	jesam
nisu	AUX	jesam
oni	PRON	oni
bili	AUX	biti
ni	PART	ni
ustaše	X	ustaše
i	CCONJ	i
jesu	AUX	jesam
ustaše	X	ustaše
,	PUNCT	,
nisu	AUX	jesam
ustaše	VERB	ustati
,	PUNCT	,
ali	CCONJ	ali
oni	PRON	oni
su	AUX	jesam
čekali	VERB	čekati
da	SCONJ	da
bude	AUX	biti
ova	DET	ovaj
kako	SCONJ	kako
se	PART	se
kaže	VERB	kazati
,	PUNCT	,
njihova	DET	njihov
ta	DET	taj
,	PUNCT	,
lipa	NOUN	lipa
Hrvatska	PROPN	Hrvatska
i	CCONJ	i
tako	ADV	tako
su	AUX	jesam
dočekali	VERB	dočekati
,	PUNCT	,
a	CCONJ	a
šta	PRON	šta
smo	AUX	jesam
mi	PRON	ja
dočekali	VERB	dočekati
,	PUNCT	,
ništa	PRON	ništa
i	CCONJ	i
danas	ADV	danas
dan	NOUN	dan
se	PART	se
bijemo	VERB	biti
kao	ADV	kao
stoka	NOUN	stoka
zahvaljujući	ADP	zahvaljujući
Srpskim	ADJ	srpski
izdajicama	NOUN	izdajica
,	PUNCT	,
ne	PART	ne
ovim	DET	ovaj
vladarima	NOUN	vladar
Pa	CCONJ	pa
nemam	VERB	nemati
ništa	PRON	ništa
,	PUNCT	,
sad	ADV	sad
ovaj	DET	ovaj
planiram	VERB	planirati
da	SCONJ	da
napravim	VERB	napraviti
em	PART	em
ogradu	NOUN	ograda
na	ADP	na
groblju	NOUN	groblje
da	SCONJ	da
vidim	VERB	viditi
,	PUNCT	,
pošto	SCONJ	pošto
sam	AUX	jesam
sve	DET	sav
popravio	VERB	popraviti
i	CCONJ	i
kuću	NOUN	kuća
jednu	NUM	jedan
,	PUNCT	,
kuću	NOUN	kuća
drugu	ADJ	drugi
,	PUNCT	,
stan	NOUN	stan
,	PUNCT	,
sve	DET	sav
ovo	DET	ovaj
ostalo	VERB	ostati
i	CCONJ	i
ovoga	DET	ovaj
,	PUNCT	,
i	CCONJ	i
ostalo	VERB	ostati
mi	PRON	ja
još	ADV	još
to	DET	taj
da	SCONJ	da
ne	PART	ne
prave	VERB	praviti
deca	NOUN	deca
,	PUNCT	,
ne	PART	ne
znam	VERB	znati
finansijski	ADJ	finansijski
kako	SCONJ	kako
će	AUX	hteti
ovaj	DET	ovaj
da	SCONJ	da
ih	PRON	ona
ne	PART	ne
zadužujem	VERB	zaduživati
,	PUNCT	,
ne	PART	ne
mora	VERB	morati
to	DET	taj
,	PUNCT	,
e	INTJ	e
to	DET	taj
mi	PRON	ja
je	AUX	jesam
još	PART	još
ostalo	VERB	ostati
,	PUNCT	,
a	CCONJ	a
inače	PART	inače
ništa	PRON	ništa
mi	PRON	ja
nije	AUX	jesam
promaklo	VERB	promaknuti
u	ADP	u
životu	NOUN	život
,	PUNCT	,
ništa	PRON	ništa
ništa	ADV	ništa
,	PUNCT	,
baš	PART	baš
ništa	ADV	ništa
,	PUNCT	,
i	CCONJ	i
lep	ADJ	lep
život	NOUN	život
i	CCONJ	i
ništa	PRON	ništa
,	PUNCT	,
ništa	ADV	ništa
,	PUNCT	,
ništa	PRON	ništa
Šta	PRON	šta
da	SCONJ	da
?	PUNCT	?
Ma	PART	ma
ne	PART	ne
volim	VERB	voliti
te	DET	taj
to	DET	taj
dodatno	ADJ	dodatan
to	DET	taj
,	PUNCT	,
to	DET	taj
je	AUX	jesam
ovaj	DET	ovaj
škakljivo	ADJ	škakljiv
,	PUNCT	,
nije	AUX	jesam
politički	ADJ	politički
,	PUNCT	,
ovako	ADV	ovako
ali	CCONJ	ali
dobro	ADV	dobro
,	PUNCT	,
to	DET	taj
je	AUX	jesam
život	NOUN	život
to	DET	taj
je	AUX	jesam
život	NOUN	život
i	CCONJ	i
to	DET	taj
je	AUX	jesam
to	DET	taj
Molim	VERB	moliti
lepo	ADV	lepo
