Ivić	PROPN	Ivić
Cveta	PROPN	Cveta
Imam	VERB	imati
sedamdeset-četiri	ADJ	sedamdeset-četiri
godine	NOUN	godina
.	PUNCT	.
Višnjica	PROPN	Višnjica
,	PUNCT	,
kraj	ADP	kraj
Beograda	PROPN	Beograd
.	PUNCT	.
Pa	CCONJ	pa
uglavnom	ADV	uglavnom
tu	ADV	tu
i	CCONJ	i
na	ADP	na
Karaburmi	PROPN	Karaburma
.	PUNCT	.
Pa	PART	pa
ja	PRON	ja
sam	AUX	jesam
ta	DET	taj
dva	NUM	dva
promenila	VERB	promeniti
,	PUNCT	,
a	CCONJ	a
da	SCONJ	da
sam	AUX	jesam
mala	ADJ	mali
,	PUNCT	,
sigurno	ADV	sigurno
bih	AUX	biti
izabrala	VERB	izabrati
Višnjicu	PROPN	Višnjica
,	PUNCT	,
a	CCONJ	a
ovako	ADV	ovako
,	PUNCT	,
ovaj	DET	ovaj
,	PUNCT	,
Karaburmu	PROPN	Karaburma
.	PUNCT	.
Srpska	ADJ	srpski
.	PUNCT	.
Učila	VERB	učiti
sam	AUX	jesam
nemački	ADJ	nemački
u	ADP	u
školi	NOUN	škola
i	CCONJ	i
ništa	ADV	ništa
više	ADV	više
ne	PART	ne
znam	VERB	znati
.	PUNCT	.
Bila	AUX	biti
sam	AUX	jesam
šef	NOUN	šef
agencije	NOUN	agencija
za	ADP	za
turizam	NOUN	turizam
,	PUNCT	,
“	PUNCT	"
Rekreaturs	PROPN	Rekreaturs
”	PUNCT	"
,	PUNCT	,
ako	SCONJ	ako
to	DET	taj
nešto	PRON	nešto
znači	VERB	značiti
.	PUNCT	.
Turizmolog	NOUN	turizmolog
.	PUNCT	.
Samo	PART	samo
u	ADP	u
horu	NOUN	hor
,	PUNCT	,
dok	SCONJ	dok
sam	AUX	jesam
išla	VERB	ići
u	ADP	u
školu	NOUN	škola
.	PUNCT	.
Ne	PART	ne
.	PUNCT	.
Ma	PART	ma
ne	PART	ne
.	PUNCT	.
Iskreno	ADV	iskreno
.	PUNCT	.
Imam	VERB	imati
ćerku	NOUN	ćerka
i	CCONJ	i
zeta	NOUN	zet
i	CCONJ	i
malu	ADJ	mali
Milicu	PROPN	Milica
i	CCONJ	i
malog	ADJ	mali
Iliju	PROPN	Ili
.	PUNCT	.
Oni	PRON	oni
su	AUX	jesam
toliko	ADV	toliko
nemirni	ADJ	nemiran
.	PUNCT	.
Jedna	NUM	jedan
je	AUX	jesam
devojčica	NOUN	devojčica
,	PUNCT	,
Milica	PROPN	Milica
ima	VERB	imati
,	PUNCT	,
3	NUM	@card@
godine	NOUN	godina
,	PUNCT	,
a	CCONJ	a
mali	ADJ	mali
Ilija	PROPN	Ili
sad	ADV	sad
će	AUX	hteti
osmog	ADJ	osmi
januara	VERB	januara
godinu	NOUN	godina
dana	NOUN	dan
.	PUNCT	.
I	CCONJ	i
to	DET	taj
je	AUX	jesam
užas	NOUN	užas
!	PUNCT	!
Ne	PART	ne
zna	VERB	znati
se	PART	se
ko	PRON	ko
koga	PRON	ko
bije	VERB	biti
,	PUNCT	,
ko	PRON	ko
koga	PRON	ko
čupa	VERB	čupati
,	PUNCT	,
ko	PRON	ko
koga	PRON	ko
grize	VERB	gristi
.	PUNCT	.
Milica	PROPN	Milica
ide	VERB	ići
u	ADP	u
vrtić	NOUN	vrtić
,	PUNCT	,
a	CCONJ	a
bata	NOUN	bat
još	PART	još
uvek	ADV	uvek
ne	PART	ne
ide	VERB	ići
,	PUNCT	,
mali	ADJ	mali
je	PRON	ona
.	PUNCT	.
Ovde	ADV	ovde
?	PUNCT	?
Ja	PRON	ja
sam	AUX	jesam
juče	ADV	juče
došla	VERB	doći
.	PUNCT	.
Volim	VERB	voliti
da	SCONJ	da
sedim	VERB	sediti
i	CCONJ	i
da	SCONJ	da
gledam	VERB	gledati
televiziju	NOUN	televizija
.	PUNCT	.
Štrikanje	NOUN	štrikanje
i	CCONJ	i
heklanje	NOUN	heklanje
.	PUNCT	.
Eto	PART	eto
,	PUNCT	,
to	DET	taj
sam	AUX	jesam
umela	VERB	umesti
.	PUNCT	.
Sada	ADV	sada
mi	PRON	ja
je	AUX	jesam
interesovanje	NOUN	interesovanje
zdravlje	NOUN	zdravlje
.	PUNCT	.
Sve	DET	sav
što	SCONJ	što
mogu	VERB	moći
da	SCONJ	da
pročitam	VERB	pročitati
o	ADP	o
zdravlju	NOUN	zdravlje
,	PUNCT	,
ja	PRON	ja
to	DET	taj
radim	VERB	raditi
.	PUNCT	.
U	ADP	u
mladosti	NOUN	mladost
sam	AUX	jesam
volela	VERB	voleti
narodnu	ADJ	narodni
i	CCONJ	i
dečiju	ADJ	dečiji
,	PUNCT	,
a	CCONJ	a
sada	ADV	sada
volim	VERB	voliti
i	CCONJ	i
narodnu	ADJ	narodni
i	CCONJ	i
onu	DET	onaj
drugu	ADJ	drugi
,	PUNCT	,
zabavnu	ADJ	zabavan
,	PUNCT	,
a	CCONJ	a
i	CCONJ	i
da	SCONJ	da
nije	AUX	jesam
zabavna	ADJ	zabavan
,	PUNCT	,
dobro	ADV	dobro
.	PUNCT	.
Karcinom	ADJ	karcinom
debelog	ADJ	debeo
creva	NOUN	crevo
,	PUNCT	,
tromb	NOUN	tromb
,	PUNCT	,
srce	NOUN	srce
slabo	ADV	slabo
i	CCONJ	i
sto	NUM	sto
bolesti	NOUN	bolest
još	PART	još
imam	VERB	imati
.	PUNCT	.
Jesam	AUX	jesam
.	PUNCT	.
Ja	PRON	ja
deset	NUM	deset
lekova	NOUN	lek
pijem	VERB	piti
.	PUNCT	.
O	ADP	o
meni	PRON	ja
?	PUNCT	?
U	ADP	u
zadnje	ADJ	zadnji
vreme	NOUN	vreme
borim	VERB	boriti
se	PART	se
za	ADP	za
zdravlje	NOUN	zdravlje
koje	DET	koji
mi	PRON	ja
je	AUX	jesam
,	PUNCT	,
naravno	PART	naravno
,	PUNCT	,
najpreče	VERB	najpreče
i	CCONJ	i
,	PUNCT	,
ovaj	DET	ovaj
,	PUNCT	,
eto	PART	eto
.	PUNCT	.
Ne	PART	ne
znam	VERB	znati
.	PUNCT	.
