Popović	PROPN	Popović
Dragoljub	PROPN	Dragoljub
.	PUNCT	.
Pa	CCONJ	pa
pedesete	VERB	pedesete
,	PUNCT	,
sedamnaestog	ADJ	sedamnaesti
dvanaestog	ADJ	dvanaesti
.	PUNCT	.
Hiljadu-devetsto-pedesete	PROPN	Hiljadu-devetsto-pedesete
.	PUNCT	.
Rođen	ADJ	rođen
u	ADP	u
Šapcu	PROPN	Šabac
,	PUNCT	,
živim	VERB	živiti
u	ADP	u
Mrđenovcu	PROPN	Mrđenovcu
.	PUNCT	.
Možda	PART	možda
me	PRON	ja
je	AUX	jesam
udario	VERB	udariti
infarkt	NOUN	infarkt
,	PUNCT	,
malo	ADV	malo
šlog	NOUN	šlog
,	PUNCT	,
to	DET	taj
.	PUNCT	.
Pa	PART	pa
da	PART	da
.	PUNCT	.
Pa	CCONJ	pa
,	PUNCT	,
dobro	ADV	dobro
imam	VERB	imati
i	CCONJ	i
visok	ADJ	visok
pritisak	NOUN	pritisak
i	CCONJ	i
to	DET	taj
.	PUNCT	.
Pijem	VERB	piti
lekove	NOUN	lek
.	PUNCT	.
Redovno	ADV	redovno
.	PUNCT	.
Pa	CCONJ	pa
ja	PRON	ja
lekove	NOUN	lek
pijem	VERB	piti
.	PUNCT	.
Pa	CCONJ	pa
Mrđenovac	PROPN	Mrđenovac
.	PUNCT	.
Celo	ADJ	ceo
vreme	NOUN	vreme
u	ADP	u
Mrđenovcu	PROPN	Mrđenovcu
.	PUNCT	.
Pa	CCONJ	pa
Srbin	PROPN	Srbin
.	PUNCT	.
Ne	PART	ne
govorim	VERB	govoriti
,	PUNCT	,
ne	PART	ne
govorim	VERB	govoriti
.	PUNCT	.
Desnom	ADJ	desni
rukom	NOUN	ruka
radim	VERB	raditi
.	PUNCT	.
Zemljoradnik	NOUN	zemljoradnik
.	PUNCT	.
Ništa	PRON	ništa
nisam	AUX	jesam
!	PUNCT	!
Ništa	PRON	ništa
nisam	AUX	jesam
!	PUNCT	!
Slabo	ADV	slabo
.	PUNCT	.
Nekad	ADV	nekad
sam	AUX	jesam
malo	ADV	malo
novine	NOUN	novina
uveče	ADV	uveče
.	PUNCT	.
Sednem	VERB	sesti
pa	CCONJ	pa
pročitam	VERB	pročitati
nešto	PRON	nešto
.	PUNCT	.
Sad	ADV	sad
i	CCONJ	i
ne	PART	ne
vidim	VERB	viditi
i	CCONJ	i
onda	ADV	onda
ne	PART	ne
čitam	VERB	čitati
.	PUNCT	.
Pa	PART	pa
šestoro	NUM	šestoro
nas	PRON	mi
u	ADP	u
kući	NOUN	kuća
je	AUX	jesam
.	PUNCT	.
Goran	PROPN	Goran
,	PUNCT	,
Jagoda	PROPN	Jagoda
,	PUNCT	,
Miroslav	PROPN	Miroslav
,	PUNCT	,
Suzana	PROPN	Suzana
,	PUNCT	,
Đurđa	PROPN	Đurđa
i	CCONJ	i
ja	PRON	ja
,	PUNCT	,
Draga	PROPN	Draga
.	PUNCT	.
Pa	CCONJ	pa
troje	NUM	troje
.	PUNCT	.
Petoro	NUM	petoro
unučadi	NOUN	unučad
.	PUNCT	.
Kad	SCONJ	kad
imam	VERB	imati
malo	ADV	malo
slobodnog	ADJ	slobodan
vremena	NOUN	vreme
,	PUNCT	,
sednem	VERB	sesti
pa	CCONJ	pa
se	PART	se
odmorim	VERB	odmoriti
!	PUNCT	!
Pa	PART	pa
uvek	ADV	uvek
sam	AUX	jesam
malo	ADV	malo
puštao	VERB	puštati
radio	NOUN	radio
i	CCONJ	i
to	DET	taj
slušao	VERB	slušati
!	PUNCT	!
