Aranđelović	PROPN	Aranđelović
Stanomir	PROPN	Stanomir
.	PUNCT	.
Sedamdeset	NUM	sedamdeset
i	CCONJ	i
četiri	NUM	četiri
godine	NOUN	godina
.	PUNCT	.
Mesto	NOUN	mesto
rođenja	NOUN	rođenje
Štubik	PROPN	Štubik
,	PUNCT	,
Negotinska	ADJ	negotinski
Krajina	NOUN	krajina
.	PUNCT	.
Gornji	ADJ	gornji
MIlanovac	PROPN	Milanovac
Nevade	PROPN	Nevada
bb	X	bb
.	PUNCT	.
Skoplje	PROPN	Skoplje
Kumanovo	PROPN	Kumanovo
Banja	PROPN	Banja
Luka	PROPN	Luk
,	PUNCT	,
Sarajevo	PROPN	Sarajevo
,	PUNCT	,
Svuda	ADV	svuda
sam	AUX	jesam
išao	VERB	ići
.	PUNCT	.
Pa	CCONJ	pa
najlepše	ADJ	lep
mi	PRON	ja
je	AUX	jesam
bilo	AUX	biti
u	ADP	u
Banja	PROPN	Banja
Luci	PROPN	Luka
recimo	VERB	reći
.	PUNCT	.
Pa	CCONJ	pa
zato	ADV	zato
što	SCONJ	što
sam	AUX	jesam
tamo	ADV	tamo
počeo	VERB	početi
te	DET	taj
prve	ADJ	prvi
,	PUNCT	,
ovaj	DET	ovaj
školske	ADJ	školski
dane	NOUN	dan
s	ADP	s
obzirom	NOUN	obzir
da	SCONJ	da
sam	AUX	jesam
završio	VERB	završiti
podoficirsku	ADJ	podoficirski
školu	NOUN	škola
.	PUNCT	.
I	CCONJ	i
dve	NUM	dva
,	PUNCT	,
tri	NUM	tri
godine	NOUN	godina
koliko	ADV	koliko
sam	AUX	jesam
tamo	ADV	tamo
bio	AUX	biti
prošao	VERB	proći
sam	PRON	sam
celu	ADJ	ceo
Bosnu	PROPN	Bosna
i	CCONJ	i
mislim	VERB	misliti
da	SCONJ	da
je	AUX	jesam
Banja	PROPN	Banja
Luka	PROPN	Luk
skoro	ADV	skoro
za	ADP	za
mene	PRON	ja
ostao	VERB	ostati
najlepši	ADJ	lep
grad	NOUN	grad
u	ADP	u
bivšoj	ADJ	bivši
SFRJ	PROPN	SFRJ
.	PUNCT	.
Lepši	PROPN	Lepša
i	CCONJ	i
od	ADP	od
Skoplja	PROPN	Skoplje
i	CCONJ	i
od	ADP	od
svačega	NOUN	svačega
.	PUNCT	.
U	ADP	u
Skoplju	PROPN	Skoplje
sam	AUX	jesam
bio	AUX	biti
za	ADP	za
vreme	NOUN	vreme
zemljotresa	NOUN	zemljotres
.	PUNCT	.
Tako	ADV	tako
da	SCONJ	da
radio	VERB	raditi
na	ADP	na
raščišćavanju	NOUN	raščišćavanje
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
Pa	CCONJ	pa
govorim	VERB	govoriti
makedonski	ADJ	makedonski
,	PUNCT	,
pošto	SCONJ	pošto
sam	AUX	jesam
tamo	ADV	tamo
bio	AUX	biti
,	PUNCT	,
na	ADP	na
službi	NOUN	služba
.	PUNCT	.
Govorim	VERB	govoriti
bugarski	ADJ	bugarski
,	PUNCT	,
pošto	SCONJ	pošto
znam	VERB	znati
,	PUNCT	,
blizu	ADV	blizu
je	AUX	jesam
granica	NOUN	granica
ali	CCONJ	ali
sam	AUX	jesam
naučio	VERB	naučiti
dobro	ADV	dobro
,	PUNCT	,
malo	ADV	malo
ruski	ADJ	ruski
iz	ADP	iz
što	SCONJ	što
se	PART	se
mene	PRON	ja
tiče	VERB	ticati
zbog	ADP	zbog
vojne	ADJ	vojni
terminologije	NOUN	terminologija
,	PUNCT	,
ovaj	DET	ovaj
,	PUNCT	,
em	PART	em
,	PUNCT	,
morao	VERB	morati
sam	AUX	jesam
da	SCONJ	da
učim	VERB	učiti
ruski	ADJ	ruski
jezik	NOUN	jezik
parlam	X	parlam
pomalo	ADV	pomalo
i	CCONJ	i
francuski	ADJ	francuski
,	PUNCT	,
ovaj	DET	ovaj
onoliko	ADV	onoliko
koliko	ADV	koliko
smatram	VERB	smatrati
da	SCONJ	da
je	AUX	jesam
meni	PRON	ja
dovoljno	ADV	dovoljno
.	PUNCT	.
Po	ADP	po
struci	NOUN	struka
trenutno	ADV	trenutno
sam	AUX	jesam
sada	ADV	sada
u	ADP	u
penziji	NOUN	penzija
,	PUNCT	,
inače	PART	inače
tenkovski	ADJ	tenkovski
mehaničar	NOUN	mehaničar
odnosno	PART	odnosno
tenkista	NOUN	tenkista
.	PUNCT	.
Vojnik	NOUN	vojnik
znači	VERB	značiti
nema	VERB	nemati
,	PUNCT	,
ne	PART	ne
postoji	VERB	postojati
to	DET	taj
zanimanje	NOUN	zanimanje
vojnik	NOUN	vojnik
,	PUNCT	,
ali	CCONJ	ali
sam	AUX	jesam
bio	AUX	biti
čitavog	ADJ	čitav
života	NOUN	život
vojnik	NOUN	vojnik
.	PUNCT	.
Pa	CCONJ	pa
radio	VERB	raditi
sam	AUX	jesam
,	PUNCT	,
dosta	ADV	dosta
sam	ADJ	sam
dužnosti	NOUN	dužnost
obavljao	VERB	obavljati
,	PUNCT	,
najmanje	ADV	najmanje
sedam	NUM	sedam
,	PUNCT	,
osam	NUM	osam
dužnosti	NOUN	dužnost
.	PUNCT	.
Bio	AUX	biti
sam	AUX	jesam
u	ADP	u
Skoplju	PROPN	Skoplje
na	ADP	na
službi	NOUN	služba
,	PUNCT	,
bio	AUX	biti
sam	AUX	jesam
u	ADP	u
Kumanovu	PROPN	Kumanovo
na	ADP	na
službi	NOUN	služba
,	PUNCT	,
ovaj	DET	ovaj
bio	AUX	biti
sam	AUX	jesam
na	ADP	na
specijalizaciji	NOUN	specijalizacija
u	ADP	u
Sarajevu	PROPN	Sarajevo
,	PUNCT	,
ali	CCONJ	ali
radi	ADP	radi
promene	NOUN	promena
vesa	NOUN	ves
,	PUNCT	,
to	DET	taj
će	AUX	hteti
neko	PRON	neko
valjda	ADV	valjda
da	SCONJ	da
razume	VERB	razumeti
valjda	ADV	valjda
,	PUNCT	,
ovaj	DET	ovaj
da	SCONJ	da
bih	AUX	biti
došao	VERB	doći
u	ADP	u
prekomandu	NOUN	prekomanda
u	ADP	u
rodnom	ADJ	rodnom
mestu	NOUN	mesto
,	PUNCT	,
nije	AUX	jesam
mi	PRON	ja
to	DET	taj
uspelo	VERB	uspeti
i	CCONJ	i
vratio	VERB	vratiti
sam	PRON	sam
se	PART	se
nazad	ADV	nazad
ponovo	ADV	ponovo
u	ADP	u
Makedoniju	PROPN	Makedonija
na	ADP	na
službu	NOUN	služba
,	PUNCT	,
tamo	ADV	tamo
sam	AUX	jesam
zavržio	VERB	zavržio
i	CCONJ	i
vojni	ADJ	vojni
rok	NOUN	rok
,	PUNCT	,
odnosno	PART	odnosno
službovanje	NOUN	službovanje
,	PUNCT	,
a	CCONJ	a
obavljao	VERB	obavljati
sam	AUX	jesam
kroz	ADP	kroz
proces	NOUN	proces
najmanje	ADV	najmanje
i	CCONJ	i
finansije	NOUN	finansije
,	PUNCT	,
i	CCONJ	i
šta	PRON	šta
ja	PRON	ja
znam	VERB	znati
i	CCONJ	i
rukovodioce	NOUN	rukovodilac
razne	ADJ	razne
i	CCONJ	i
armijske	ADJ	armijski
i	CCONJ	i
brigadne	ADJ	brigadni
i	CCONJ	i
tako	ADV	tako
dalje	ADV	dalje
.	PUNCT	.
U	ADP	u
Milanovac	PROPN	Milanovac
sam	AUX	jesam
došao	VERB	doći
dve	NUM	dva
hiljadite	ADJ	hiljaditi
godine	NOUN	godina
pred	ADP	pred
kraj	NOUN	kraj
,	PUNCT	,
odnosno	PART	odnosno
juni	NOUN	jun
mesec	NOUN	mesec
,	PUNCT	,
juli	ADJ	juli
,	PUNCT	,
tako	ADV	tako
otprilike	ADV	otprilike
.	PUNCT	.
Pa	CCONJ	pa
muzičko	ADJ	muzički
obrazovanje	NOUN	obrazovanje
,	PUNCT	,
volim	VERB	voliti
muziku	NOUN	muzika
,	PUNCT	,
pevao	VERB	pevati
sam	AUX	jesam
dobro	ADV	dobro
,	PUNCT	,
nekada	ADV	nekada
u	ADP	u
školi	NOUN	škola
,	PUNCT	,
volim	VERB	voliti
svu	DET	sav
vrstu	NOUN	vrsta
muzike	NOUN	muzika
,	PUNCT	,
i	CCONJ	i
narodnu	ADJ	narodni
i	CCONJ	i
zabavnu	ADJ	zabavan
,	PUNCT	,
rok	NOUN	rok
muziku	NOUN	muzika
,	PUNCT	,
pop	NOUN	pop
muziku	NOUN	muzika
što	SCONJ	što
kažu	VERB	kazati
,	PUNCT	,
sve	DET	sav
živo	ADJ	živ
,	PUNCT	,
operu	NOUN	opera
,	PUNCT	,
sve	DET	sav
.	PUNCT	.
Pa	CCONJ	pa
ništa	PRON	ništa
se	PART	se
,	PUNCT	,
i	CCONJ	i
sada	ADV	sada
volim	VERB	voliti
mnogo	ADV	mnogo
muziku	NOUN	muzika
,	PUNCT	,
više	ADV	više
narodnu	ADJ	narodni
,	PUNCT	,
volim	VERB	voliti
i	CCONJ	i
dobru	ADJ	dobar
zabavnu	ADJ	zabavan
muziku	NOUN	muzika
.	PUNCT	.
Pa	CCONJ	pa
imam	VERB	imati
dosta	ADV	dosta
njih	PRON	ona
,	PUNCT	,
i	CCONJ	i
omiljenih	ADJ	omiljen
i	CCONJ	i
,	PUNCT	,
skoro	ADV	skoro
sve	DET	sav
pevače	NOUN	pevač
sam	AUX	jesam
tokom	ADP	tokom
služenja	NOUN	služenje
vojnog	ADJ	vojni
roka	NOUN	rok
upoznao	VERB	upoznati
,	PUNCT	,
narodne	ADJ	narodni
pevače	NOUN	pevač
dosta	ADV	dosta
i	CCONJ	i
zabavnih	ADJ	zabavan
pevača	NOUN	pevač
,	PUNCT	,
dosta	ADV	dosta
sam	AUX	jesam
upoznao	VERB	upoznati
i	CCONJ	i
opere	VERB	oprati
,	PUNCT	,
operske	ADJ	operski
pevače	NOUN	pevač
,	PUNCT	,
čak	PART	čak
imao	VERB	imati
sam	ADJ	sam
i	CCONJ	i
obavezan	ADJ	obavezan
predmet	NOUN	predmet
ovaj	DET	ovaj
učenja	NOUN	učenje
plesa	VERB	plesati
u	ADP	u
školi	NOUN	škola
tako	ADV	tako
da	SCONJ	da
poznajem	VERB	poznavati
dosta	ADV	dosta
,	PUNCT	,
ne	PART	ne
poznajem	VERB	poznavati
narodna	ADJ	narodni
kola	NOUN	kola
toliko	ADV	toliko
,	PUNCT	,
ne	PART	ne
znam	VERB	znati
da	SCONJ	da
igram	VERB	igrati
narodna	ADJ	narodni
kola	NOUN	kola
,	PUNCT	,
ali	CCONJ	ali
znam	VERB	znati
ovaj	DET	ovaj
ples	NOUN	ples
.	PUNCT	.
Desnoruk	NOUN	desnoruk
.	PUNCT	.
Pa	CCONJ	pa
dva	NUM	dva
sina	NOUN	sin
,	PUNCT	,
jednog	NUM	jedan
unuka	NOUN	unuka
.	PUNCT	.
Pa	CCONJ	pa
sinovi	NOUN	sin
jedan	NUM	jedan
Vladimir	PROPN	Vladimir
,	PUNCT	,
jedan	NUM	jedan
Darko	PROPN	Darko
,	PUNCT	,
a	CCONJ	a
unuk	NOUN	unuk
Marko	PROPN	Marka
.	PUNCT	.
A	CCONJ	A
suprugu	NOUN	supruga
sam	AUX	jesam
zaboravio	VERB	zaboraviti
da	SCONJ	da
kažem	VERB	kazati
ali	CCONJ	ali
se	PART	se
i	CCONJ	i
ona	PRON	ona
računa	VERB	računati
u	ADP	u
to	DET	taj
,	PUNCT	,
u	ADP	u
članove	NOUN	član
domaćinstva	NOUN	domaćinstvo
,	PUNCT	,
podrazumeva	VERB	podrazumevati
se	PART	se
.	PUNCT	.
Pa	CCONJ	pa
supruga	NOUN	supruga
domaćica	NOUN	domaćica
,	PUNCT	,
a	CCONJ	a
ja	PRON	ja
penzioner	NOUN	penzioner
odmaram	VERB	odmarati
.	PUNCT	.
Sinovi	NOUN	sin
su	AUX	jesam
,	PUNCT	,
jedan	NUM	jedan
je	AUX	jesam
završio	VERB	završiti
srednju	ADJ	srednji
tehničku	ADJ	tehnički
školu	NOUN	škola
,	PUNCT	,
radi	VERB	raditi
na	ADP	na
benznskoj	ADJ	benznskoj
pumpi	VERB	pumpi
kao	CCONJ	kao
šef	NOUN	šef
benzinske	ADJ	benzinski
pumpe	NOUN	pumpa
u	ADP	u
Gornjem	ADJ	gornji
Milanovcu	PROPN	Milanovac
,	PUNCT	,
u	ADP	u
smeni	NOUN	smena
,	PUNCT	,
ovaj	DET	ovaj
drugi	ADJ	drugi
sin	NOUN	sin
nezaposlen	ADJ	nezaposlen
,	PUNCT	,
završio	VERB	završiti
je	AUX	jesam
srednju	ADJ	srednji
školu	NOUN	škola
,	PUNCT	,
gimnaziju	NOUN	gimnazija
ne	PART	ne
razumem	VERB	razumeti
se	PART	se
sad	ADV	sad
u	ADP	u
ovo	DET	ovaj
,	PUNCT	,
a	CCONJ	a
Marko	PROPN	Marka
unuk	NOUN	unuk
on	PRON	on
studira	VERB	studirati
na	ADP	na
ekološkom	ADJ	ekološki
fakultetu	NOUN	fakultet
u	ADP	u
Beogradu	PROPN	Beograd
i	CCONJ	i
to	DET	taj
treća	ADJ	treći
godina	NOUN	godina
,	PUNCT	,
super	ADV	super
mu	PRON	on
ide	VERB	ići
,	PUNCT	,
ovaj	DET	ovaj
ispiti	NOUN	ispit
,	PUNCT	,
tako	ADV	tako
da	SCONJ	da
sam	AUX	jesam
zadovoljan	ADJ	zadovoljan
i	CCONJ	i
sa	ADP	sa
te	DET	taj
strane	NOUN	strana
.	PUNCT	.
Pa	CCONJ	pa
bolujem	VERB	bolovati
od	ADP	od
,	PUNCT	,
totalno	ADV	totalno
sam	AUX	jesam
slep	ADJ	slep
,	PUNCT	,
slepo	ADJ	slep
lice	NOUN	lice
,	PUNCT	,
zbog	ADP	zbog
šećerne	ADJ	šećeran
bolesti	NOUN	bolest
,	PUNCT	,
dijabetes	NOUN	dijabetes
tipa	NOUN	tip
dva	NUM	dva
,	PUNCT	,
sedam	NUM	sedam
puta	ADV	puta
sam	AUX	jesam
operisan	ADJ	operisan
,	PUNCT	,
je	AUX	jesam
l	CCONJ	l
razumeš	VERB	razumeti
,	PUNCT	,
nije	AUX	jesam
mi	PRON	ja
se	PART	se
povratio	VERB	povratiti
vid	NOUN	vid
,	PUNCT	,
tako	ADV	tako
da	SCONJ	da
sam	AUX	jesam
totalno	ADV	totalno
oslepeo	VERB	oslepeti
,	PUNCT	,
onda	SCONJ	onda
sam	AUX	jesam
,	PUNCT	,
imam	VERB	imati
veliki	ADJ	velik
pritisak	NOUN	pritisak
,	PUNCT	,
a	CCONJ	a
bolujem	VERB	bolovati
ovaj	DET	ovaj
i	CCONJ	i
od	ADP	od
bubrega	ADV	bubrega
razumeš	VERB	razumeti
,	PUNCT	,
imam	VERB	imati
pesak	NOUN	pesak
u	ADP	u
bubregu	NOUN	bubreg
već	CCONJ	već
od	ADP	od
osamdesetih	ADJ	osamdeseti
godina	NOUN	godina
.	PUNCT	.
Pa	CCONJ	pa
oslepeo	VERB	oslepeti
sam	AUX	jesam
prije	VERB	prijesti
desetak	ADV	desetak
godina	NOUN	godina
,	PUNCT	,
tu	ADV	tu
negde	ADV	negde
osamdeset	NUM	osamdeset
i	CCONJ	i
,	PUNCT	,
ovaj	DET	ovaj
dve	NUM	dva
hiljade	NUM	hiljade
i	CCONJ	i
osme	ADJ	osmi
,	PUNCT	,
devete	VERB	devete
.	PUNCT	.
Imam	VERB	imati
terapiju	NOUN	terapija
,	PUNCT	,
pijem	VERB	piti
dosta	ADV	dosta
lekova	NOUN	lek
,	PUNCT	,
terapija	NOUN	terapija
insulina	NOUN	insulin
,	PUNCT	,
terapija	NOUN	terapija
,	PUNCT	,
za	ADP	za
glaukom	NOUN	glaukom
očni	ADJ	očni
,	PUNCT	,
i	CCONJ	i
to	DET	taj
veliki	ADJ	velik
,	PUNCT	,
preko	ADP	preko
sedamdeset	NUM	sedamdeset
,	PUNCT	,
to	DET	taj
je	AUX	jesam
neizlečiva	ADJ	neizlečiv
bolest	NOUN	bolest
,	PUNCT	,
prema	ADP	prema
tome	DET	taj
pijem	VERB	piti
,	PUNCT	,
upotrebljavam	VERB	upotrebljavati
kapi	NOUN	kapa
za	ADP	za
smanjenje	NOUN	smanjenje
pritiska	NOUN	pritisak
i	CCONJ	i
to	DET	taj
duple	ADJ	dupli
,	PUNCT	,
razumeš	VERB	razumeti
pošto	SCONJ	pošto
Kosopt	NOUN	Kosopt
upotrebljavam	VERB	upotrebljavati
i	CCONJ	i
Alfagam	PROPN	Alfagam
kao	ADV	kao
lek	NOUN	lek
i	CCONJ	i
plus	NOUN	plus
toga	DET	taj
to	DET	taj
svakodnevno	ADV	svakodnevno
dva	NUM	dva
puta	ADV	puta
uveče	ADV	uveče
i	CCONJ	i
ujutru	ADV	ujutru
,	PUNCT	,
i	CCONJ	i
Dektametazol	PROPN	Dektametazol
od	ADP	od
tih	DET	taj
lekova	NOUN	lek
što	SCONJ	što
se	PART	se
tiče	VERB	ticati
,	PUNCT	,
što	SCONJ	što
se	PART	se
tiče	VERB	ticati
pritiska	NOUN	pritisak
,	PUNCT	,
pijem	VERB	piti
lekove	NOUN	lek
za	ADP	za
pritiske	NOUN	pritisak
,	PUNCT	,
i	CCONJ	i
tako	ADV	tako
.	PUNCT	.
Uf	INTJ	uf
voleo	VERB	voleti
sam	ADJ	sam
knjige	NOUN	knjiga
dosta	ADV	dosta
mnogo	ADV	mnogo
sam	AUX	jesam
čitao	VERB	čitati
dosta	ADV	dosta
sam	AUX	jesam
voleo	VERB	voleti
i	CCONJ	i
šund	NOUN	šund
literaturu	NOUN	literatura
a	CCONJ	a
voleo	VERB	voleti
sam	AUX	jesam
i	CCONJ	i
klasične	ADJ	klasičan
romane	NOUN	roman
,	PUNCT	,
beletristiku	NOUN	beletristika
neku	DET	neki
.	PUNCT	.
Pa	PART	pa
imao	VERB	imati
sam	DET	sam
Perl	PROPN	Perl
Bak	PROPN	Bak
,	PUNCT	,
recimo	VERB	reći
,	PUNCT	,
dosta	ADV	dosta
sam	AUX	jesam
čitao	VERB	čitati
od	ADP	od
njega	PRON	on
,	PUNCT	,
i	CCONJ	i
tako	ADV	tako
dalje	ADV	dalje
.	PUNCT	.
Pa	CCONJ	pa
prijatelja	NOUN	prijatelj
imam	VERB	imati
,	PUNCT	,
tako	ADV	tako
da	SCONJ	da
su	AUX	jesam
to	DET	taj
,	PUNCT	,
s	ADP	s
obzirom	NOUN	obzir
da	SCONJ	da
sam	AUX	jesam
kasno	ADV	kasno
došao	VERB	doći
malo	ADV	malo
sam	AUX	jesam
stekao	VERB	steći
tih	DET	taj
prijatelja	NOUN	prijatelj
,	PUNCT	,
zbog	ADP	zbog
sina	NOUN	sin
sam	AUX	jesam
i	CCONJ	i
došao	VERB	doći
u	ADP	u
Gornji	ADJ	gornji
Milanovac	PROPN	Milanovac
,	PUNCT	,
odakle	ADV	odakle
sam	AUX	jesam
se	PART	se
i	CCONJ	i
oženio	VERB	oženiti
,	PUNCT	,
tako	ADV	tako
da	SCONJ	da
.	PUNCT	.
U	ADP	u
slobodno	ADJ	slobodan
vreme	NOUN	vreme
slušam	VERB	slušati
muziku	NOUN	muzika
.	PUNCT	.
Da	SCONJ	da
.	PUNCT	.
Kao	CCONJ	kao
hobi	NOUN	hobi
,	PUNCT	,
da	SCONJ	da
slušam	VERB	slušati
dosta	ADV	dosta
muziku	NOUN	muzika
,	PUNCT	,
snimam	VERB	snimati
,	PUNCT	,
presnimavam	NOUN	presnimavam
iako	SCONJ	iako
sam	AUX	jesam
slepo	ADJ	slep
lice	NOUN	lice
,	PUNCT	,
to	DET	taj
mi	PRON	ja
radi	ADP	radi
unuk	NOUN	unuk
,	PUNCT	,
odnosno	PART	odnosno
sin	NOUN	sin
jedan	NUM	jedan
,	PUNCT	,
a	CCONJ	a
ponekad	ADV	ponekad
i	CCONJ	i
unuk	NOUN	unuk
.	PUNCT	.
Pa	CCONJ	pa
,	PUNCT	,
šta	PRON	šta
bih	AUX	biti
mogao	VERB	moći
da	SCONJ	da
kažem	VERB	kazati
?	PUNCT	?
Snalazim	VERB	snalaziti
se	PART	se
i	CCONJ	i
u	ADP	u
kući	NOUN	kuća
i	CCONJ	i
oko	ADP	oko
kuće	NOUN	kuća
iako	SCONJ	iako
sam	AUX	jesam
slepo	ADJ	slep
lice	NOUN	lice
,	PUNCT	,
totalno	ADV	totalno
ništa	PRON	ništa
ne	PART	ne
vidim	VERB	viditi
,	PUNCT	,
ali	CCONJ	ali
oko	ADP	oko
kuće	NOUN	kuća
se	PART	se
krećem	VERB	kretati
sam	AUX	jesam
,	PUNCT	,
znači	VERB	značiti
samostalno	ADV	samostalno
.	PUNCT	.
Odem	VERB	otići
do	ADP	do
vecea	NOUN	vece
odem	VERB	otići
oko	ADP	oko
kuće	NOUN	kuća
,	PUNCT	,
imam	VERB	imati
kuću	NOUN	kuća
tipa	NOUN	tip
šumadijskog	ADJ	šumadijski
stila	NOUN	stilo
,	PUNCT	,
oko	ADP	oko
nje	PRON	ona
mogu	VERB	moći
da	SCONJ	da
prođem	VERB	proći
sam	AUX	jesam
,	PUNCT	,
bez	ADP	bez
vođe	NOUN	vođ
.	PUNCT	.
Koje	DET	koji
?	PUNCT	?
A	CCONJ	A
ljubimce	NOUN	ljubimac
imam	VERB	imati
,	PUNCT	,
imam	VERB	imati
dobru	ADJ	dobar
macu	NOUN	maca
i	CCONJ	i
to	DET	taj
sterilisana	ADJ	sterilisan
i	CCONJ	i
imam	VERB	imati
kučadi	NOUN	kučad
,	PUNCT	,
imao	VERB	imati
sam	AUX	jesam
dva	NUM	dva
,	PUNCT	,
crnku	NOUN	crnka
i	CCONJ	i
belu	ADJ	beo
,	PUNCT	,
one	PRON	one
su	AUX	jesam
uginule	VERB	uginuti
.	PUNCT	.
Tu	ADV	tu
sam	AUX	jesam
ih	PRON	ona
sahranio	VERB	sahraniti
u	ADP	u
svom	DET	sav
dvorištu	NOUN	dvorište
pošto	SCONJ	pošto
su	AUX	jesam
oni	PRON	oni
veći	ADJ	velik
prijatelji	NOUN	prijatelj
čoveku	NOUN	čovek
od	ADP	od
samog	DET	sam
čoveka	NOUN	čovek
,	PUNCT	,
znaju	VERB	znati
da	SCONJ	da
budu	AUX	biti
,	PUNCT	,
razumeš	VERB	razumeti
,	PUNCT	,
a	CCONJ	a
sada	ADV	sada
imam	VERB	imati
malog	ADJ	mali
jazavičara	NOUN	jazavičar
,	PUNCT	,
rasnog	ADJ	rasan
kera	NOUN	ker
.	PUNCT	.
Možda	PART	možda
ga	PRON	on
nazovemo	VERB	nazvati
i	CCONJ	i
što	SCONJ	što
kaže	VERB	kazati
običan	ADJ	običan
dodž	NOUN	dodž
ali	CCONJ	ali
dobar	ADJ	dobar
je	AUX	jesam
,	PUNCT	,
mnogo	ADV	mnogo
umiljato	ADJ	umiljat
,	PUNCT	,
mlado	ADJ	mlad
,	PUNCT	,
nadam	VERB	nadati
se	PART	se
da	SCONJ	da
ću	AUX	hteti
da	SCONJ	da
ga	PRON	on
prevaspitam	VERB	prevaspitati
.	PUNCT	.
Nemiran	ADJ	nemiran
je	AUX	jesam
,	PUNCT	,
voli	VERB	voliti
me	PRON	ja
.	PUNCT	.
Ljubimac	VERB	ljubimac
sam	ADJ	sam
životinja	NOUN	životinja
strahovito	ADV	strahovito
.	PUNCT	.
Imao	VERB	imati
sam	AUX	jesam
papagaja	NOUN	papagaj
,	PUNCT	,
koga	PRON	ko
sam	AUX	jesam
čuvao	VERB	čuvati
petnaest	NUM	petnaest
godina	NOUN	godina
,	PUNCT	,
znao	VERB	znati
je	AUX	jesam
da	SCONJ	da
govori	VERB	govoriti
sve	DET	sav
,	PUNCT	,
znači	VERB	značiti
ono	PRON	ono
što	SCONJ	što
ja	PRON	ja
progovorim	VERB	progovoriti
,	PUNCT	,
ali	CCONJ	ali
samo	PART	samo
je	AUX	jesam
mene	PRON	ja
imitirao	VERB	imitirati
,	PUNCT	,
on	PRON	on
je	AUX	jesam
to	DET	taj
,	PUNCT	,
i	CCONJ	i
uginuo	VERB	uginuti
kad	SCONJ	kad
sam	AUX	jesam
pravio	VERB	praviti
kuću	NOUN	kuća
,	PUNCT	,
od	ADP	od
tuge	NOUN	tuga
u	ADP	u
selu	NOUN	selo
gore	ADV	gore
,	PUNCT	,
mislim	VERB	misliti
doneo	VERB	doneti
sam	AUX	jesam
ga	PRON	on
ovde	ADV	ovde
i	CCONJ	i
sahranio	VERB	sahraniti
sam	DET	sam
i	CCONJ	i
njega	PRON	on
.	PUNCT	.
Pošto	SCONJ	pošto
sam	AUX	jesam
veliki	ADJ	velik
ljubimac	NOUN	ljubimac
životinja	NOUN	životinja
,	PUNCT	,
tu	ADV	tu
je	AUX	jesam
kod	ADP	kod
bandere	NOUN	bandera
,	PUNCT	,
stuba	NOUN	stub
ovog	DET	ovaj
kod	ADP	kod
fontane	NOUN	fontana
pozadi	ADV	pozadi
Pa	CCONJ	pa
nisam	AUX	jesam
ja	PRON	ja
,	PUNCT	,
toliko	ADV	toliko
ja	PRON	ja
sam	AUX	jesam
imao	VERB	imati
dok	SCONJ	dok
sam	DET	sam
radio	VERB	raditi
na	ADP	na
službi	NOUN	služba
ovaj	DET	ovaj
išao	VERB	ići
sam	AUX	jesam
na	ADP	na
dresuru	NOUN	dresura
pasa	NOUN	pas
u	ADP	u
Nišu	NOUN	Nišu
je	AUX	jesam
bila	AUX	biti
ta	DET	taj
dresura	NOUN	dresura
,	PUNCT	,
preuzimao	VERB	preuzimati
učene	ADJ	učen
kerove	NOUN	ker
,	PUNCT	,
dovodio	VERB	dovoditi
službeno	ADJ	služben
po	ADP	po
Makedoniji	PROPN	Makedonija
razvodio	VERB	razvoditi
i	CCONJ	i
tako	ADV	tako
,	PUNCT	,
pošto	SCONJ	pošto
sam	AUX	jesam
tamo	ADV	tamo
službu	NOUN	služba
Ništa	PRON	ništa
,	PUNCT	,
molim	VERB	moliti
.	PUNCT	.
